<%= form_for @page_partial, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Image</legend>


    <div class="control-group">
      <%= f.label :image, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :image, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :remote_image_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :remote_image_url, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "preview", :class => 'control-label' %>
      <div class="controls">
        <%= image_tag @page_partial.image_url.to_s , :width => "100%" %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :hero, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :hero, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', page_partials_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
