<%= form_for @page_partial, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Newsletter </legend>

    <div class="control-group">
      <%= f.label :article_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :article_id, current_user.brand.articles.all , :id , :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :image, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :image, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :remote_image_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :remote_image_url, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "preview", :class => 'control-label' %>
      <div class="controls">
        
        <%= image_tag Article.find(@page_partial.article_id).image_url.to_s , :width => "100%"  unless @page_partial.article_id.nil? %>
      </div>
    </div>

    
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', page_partials_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

