<%= form_for @page_partial, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Page Partial</legend>

    <div class="control-group">
      <%= f.label :product_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :product_id, current_user.brand.products.all , :id , :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Show Price", :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :first, :class => 'text_field' %>
      </div>
    </div>

     <div class="control-group">
        <%= f.label :image, :class => 'control-label' %>
        <div class="controls">
          <%= f.file_field :image, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :remote_image_url, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :remote_image_url, :class => 'text_field' %>
        </div>
      </div>
    
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', page_partials_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>



<% content_for :sidebar do  %>

  
  <h3>Product Image Search</h3><hr/>
  <%= image_tag @page_partial.product.image_url.to_s  unless @page_partial.product.nil? %>
  
  <h3>Image Search</h3>


  <div class="tabbable ">
    <ul class="nav nav-tabs">
      <li  class="active"><a href="#1" data-toggle="tab">Icons</a></li>
      <li><a href="#2" data-toggle="tab">Google </a></li>
      <li><a href="#3" data-toggle="tab">Flickr</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="1">
        <%= render :partial => 'icons_list' %>
      </div>
      <div class="tab-pane active" id="2">
      </div>
      <div class="tab-pane" id="3">
      </div>
    </div>
  </div>
<% end %>