<%= form_for @page_partial, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Form </legend>
      <div class="control-group">
        <%= f.label "Form Header", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => 'text_field' %>
        </div>
      </div>

    <div class="control-group">
      <%= f.label "Form Text", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :body, :class => 'text_area' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label "Hero?" ,:class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :hero, :class => 'checkbox' %>
      </div>
    </div>
    

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', page_partials_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
