<%= form_for @page_partial, :html => { :class => 'form-horizontal' } do |f| %>

  <fieldset>
    <legend><%= controller.action_name.capitalize %> Page Partial</legend>
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>

      </div>
    </div>



    <div class="control-group">
      <%= f.label :body, :class => 'control-label' %>
      <div class="controls">
         <%= f.text_area :body, :class => 'wysiwyg' %>
      </div>
    </div>

    <table width="100%"><tr>
        <td width="50px">
          <%= image_tag @page_partial.image_url.to_s  , :size => "48x48"%>
        </td>

        <td >
          <div class="control-group">
            <%= f.label :image, :class => 'control-label' %>
            <div class="controls">
              <%= f.file_field :image, :class => 'text_field' %>
            </div>
          </div>
        </td>

      </tr></table>

    <div class="control-group">
      <%= f.label :remote_image_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :remote_image_url, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Image Location", :class => 'control-label' %>
      <div class="controls">
        <select>
          <option>Left</option>
          <option>Right</option>
        </select>
      </div>
    </div>

    
      <% pages = @page_partial.page.website.pages %>
      <div class="control-group">
      <%= f.label :link_to_page_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :link_to_page_id, pages, :id, :name, :prompt => true  %>
      </div>
    </div>

    <div class="control-group">
        <%= f.label "Highlight" , :class => 'control-label' %>
        <div class="controls">
          <%= f.check_box :hero, :class => 'text_field' %>
        </div>
      </div>
    
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', page_partials_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>


