<%= form_for @page_partial, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Text Box</legend>

    <% if 2 == 3 %>
      <div class="control-group">
        <%= f.label :title, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => 'text_field'  %>
        </div>
      </div>
    <% else %>
      <br/>
      <%= f.hidden_field :title, :class => 'text_field' , :value => "" %>
    <% end %>
    <div class="control-group">
      <%= f.label :body, :class => 'control-label' %>
      <div class="controls">
        <% unless request.user_agent =~ /iPad/  then %>
          <%= f.text_area :body, :class => 'wysiwyg' , :style => "height:300px;" %>
        <% else %>
          <%= f.text_area :body%>
        <% end %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "image borders", :class => 'control-label' %>
      <div class="controls">
        <select>
          <option>None</option>
          <option>Shadow</option>
          <option>Top and Bottom</option>
          <option>Polaroid</option>
        </select>
      </div>
    </div>


    <div class="control-group">
      <%= f.label "Highlight", :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :hero, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', page_partials_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
