
    
<%= form_for @page_partial, :html => { :class => 'form-horizontal' } do |f| %>

  <fieldset>
    <legend>Create a slider</legend><hr/></hr>
    <br/>
    
<div class="tabbable ">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#11" data-toggle="tab">Slide 1</a></li>
    <li><a href="#12" data-toggle="tab">Slide 2</a></li>
    <li><a href="#13" data-toggle="tab">Slide 3</a></li>
    <li><a href="#14" data-toggle="tab">Slide 4</a></li>
    <li><a href="#15" data-toggle="tab">Slide 5</a></li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active" id="11">
      
          
    <h3>Slide 1</h3><hr/>
    <div class="control-group">
      <%= f.label :slide_1_header, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :slide_1_header, :class => 'text_field' %>

      </div>
    </div>


    <div class="control-group">
      <%= f.label :slide_1_body, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :slide_1_body, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :slide_1, :class => 'control-label' %>
      <div class="controls">
        <%= image_tag @page_partial.slide_1_url.to_s , :width => "100%"  unless @page_partial.slide_2_url.nil? %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :image, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :slide_1, :class => 'text_field' %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :remote_slide_1_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :remote_slide_1_url, :class => 'text_field' %>
      </div>
    </div>


    </div>


    <div class="tab-pane" id="12">
          <h3>Slide 2</h3><hr/>
    <div class="control-group">
      <%= f.label :slide_2_header, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :slide_2_header, :class => 'text_field' %>

      </div>
    </div>


    <div class="control-group">
      <%= f.label :slide_2_body, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :slide_2_body, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :slide_2, :class => 'control-label' %>
      <div class="controls">
        <%= image_tag @page_partial.slide_2_url.to_s , :width => "100%" unless @page_partial.slide_2_url.nil? %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :image, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :slide_2, :class => 'text_field' %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :remote_slide_2_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :remote_slide_2_url, :class => 'text_field' %>
      </div>
    </div>



    </div>

    <div class="tab-pane" id="13">
          <h3>Slide 3</h3><hr/>
    <div class="control-group">
      <%= f.label :slide_3_header, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :slide_3_header, :class => 'text_field' %>

      </div>
    </div>


    <div class="control-group">
      <%= f.label :slide_3_body, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :slide_3_body, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :slide_3, :class => 'control-label' %>
      <div class="controls">
        <%= image_tag @page_partial.slide_3_url.to_s , :width => "100%"  unless @page_partial.slide_3_url.nil?  %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :image, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :slide_3, :class => 'text_field' %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :remote_slide_3_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :remote_slide_3_url, :class => 'text_field' %>
      </div>
    </div>

    </div>

    <div class="tab-pane" id="14">
    </div>

    <div class="tab-pane" id="15">
    </div>

  </div>
</div>
    
    
    
    
    
    
    
    






    <div class="control-group">
      <%= f.label :hero, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :hero, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', page_partials_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>


