<%= form_for @page_partial, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> <%= @page_partial.kind %></legend>
    <% unless @page_partial.text? %>
      <div class="control-group">
        <%= f.label :title, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => 'text_field' %>
        </div>
      </div>

    <% end %>  
    <div class="control-group">
      <%= f.label :body, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :body, :class => 'text_area' %>
      </div>
    </div>
    <% unless @page_partial.text? %>
      <div class="control-group">
        <%= f.label :image, :class => 'control-label' %>
        <div class="controls">
          <%= f.file_field :image, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :remote_image_url, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :remote_image_url, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :img_width, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :img_width, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :img_height, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :img_height, :class => 'text_field' %>
        </div>
      </div>


    <% end %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', page_partials_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

  <script type="text/javascript">
    /*
    $(document).ready(
    function() {
      alert("herer");
      $('.text_area').redactor({ imageGetJson: '/page_partials/images.json' });
    }
  );
  */
  </script>	