<h3>Select Component to Use instead</h3>
<table class="table">
  <tr>
    <td width="32px"><%=image_tag("/assets/icons/text_page.png", :size => "32x32")%></td>
    <td >
        <b><%=  link_to "Text Box" , "/page_partials/replace_with?id=#{@page_partial.id}&kind=text'"  %></b>
        <br/><%= lorem(6)%> 
    </td>
  </tr>
  
  <tr>
    <td width="32px"><%=image_tag("/assets/icons/ruler_pencil.png", :size => "32x32")%></td>
    <td >
        <b><%= link_to "Text with header and icon" ,"/page_partials/replace_with?id=#{@page_partial.id}&kind=feature'"%></b>
        <br/><%= lorem(6)%> 
    </td>
  </tr>
  <tr>
    <td width="32px"><%=image_tag("/assets/icons/photo_camera.png", :size => "32x32")%></td>
    <td >
        <b><%= link_to "Picture" ,"/page_partials/replace_with?id=#{@page_partial.id}&kind=image'"%></b>
        <br/><%= lorem(6)%> 
    </td>
  </tr>
  
  <tr>
    <td width="32px"><%=image_tag("/assets/icons/photo_camera.png", :size => "32x32")%></td>
    <td >
        <b><%= link_to "Slider" ,"/page_partials/replace_with?id=#{@page_partial.id}&kind=slider'"%></b>
        <br/><%= lorem(6)%> 
    </td>
  </tr>
  
  <tr>
    <td width="32px"><%=image_tag("/assets/icons/news.png", :size => "32x32")%></td>
    <td >
        <b><%= link_to  "Article" ,"/page_partials/replace_with?id=#{@page_partial.id}&kind=article'"%></b>
        <br/><%= lorem(6)%> 
    </td>
  </tr>
  
  <tr>
    <td width="32px"><%=image_tag("/assets/icons/edit_page.png", :size => "32x32")%></td>
    <td >
        <b><%= link_to  "Forms" , "/page_partials/replace_with?id=#{@page_partial.id}&kind=form'"%></b>
        <br/><%= lorem(6)%> 
    </td>
  </tr>
  <tr>
    <td width="32px"><%=image_tag("/assets/icons/package.png", :size => "32x32")%></td>
    <td >
        <b><%= link_to  "Product" , "/page_partials/replace_with?id=#{@page_partial.id}&kind=product'"%></b>
        <br/><%= lorem(6)%> 
    </td>
  </tr>
  <tr>
    <td width="32px"><%=image_tag("/assets/icons/event.png", :size => "32x32")%></td>
    <td >
        <b><%= link_to  "Event" , "/page_partials/replace_with?id=#{@page_partial.id}&kind=product'"%></b>
        <br/><%= lorem(6)%> 
    </td>
  </tr>
  
  <tr>
    <td width="32px"><%=image_tag("/assets/icons/reddit_64.png", :size => "32x32")%></td>
    <td >
        <b><%= "Reddit Posts" %></b>
        <br/><%= lorem(6)%> 
    </td>
  </tr>
  <tr>
    <td width="32px"><%=image_tag("/assets/icons/search_globe.png", :size => "32x32")%></td>
    <td >
        <b><%= "Contact Us" %></b>
        <br/><%= lorem(6)%> 
    </td>
  </tr>
</table>