<h3>Properties</h3>
<table class="table">
  <tr>
    <td> Font Size</td>
    <td> </td>
  </tr>
  <tr>
    <td> Color</td>
    <td></td>
  </tr>
  <tr>
    <td> Header Size</td>
    <td></td>
  </tr>
  <tr>
    <td> Image Location</td>
    <td></td>
  </tr>
  <tr>
    <td> Image Size</td>
    <td></td>
  </tr>
</table>