

<%= render :partial => 'form_article' if @page_partial.article? %>
<%= render :partial => 'form_text' if @page_partial.text? %>
<%= render :partial => 'form_form' if @page_partial.form? %>
<%= render :partial => 'form_image' if @page_partial.image? %>
<%= render :partial => 'form_movie' if @page_partial.movie? %>
<%= render :partial => 'form_product' if @page_partial.product? %>
<%= render :partial => 'form_feature' if @page_partial.feature? %>
<%= render :partial => 'form_toolbar' if @page_partial.navigation? %>
<%= render :partial => 'form_slider' if @page_partial.slider? %>

<% content_for :sidebar do  %>


  <h3>Actions</h3>
  <div class="tabbable ">
    <ul class="nav nav-tabs">
      <li  ><a href="#1" data-toggle="tab">Icons</a></li>
      <li class="active"><a href="#3" data-toggle="tab">Replace With</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane " id="1">
        <%= render :partial => 'icons_list' %>
      </div>
      
      <div class="tab-pane active" id="2">

      <div id="imgSearchControl" class="search-control">Loading...</div>
      <!--Remove all floating-->

      <div class="clear"></div>

      <!--Image will be shown here-->
      <div id='imageContainer'></div>

    </div>
      
      <div class="tab-pane active" id="3">
        <%= render :partial => 'replace_with' %>
      </div>
      <div class="tab-pane " id="properties">
        <%= render :partial => 'style' %>
      </div>
    </div>
  </div>


<% end %>