<h1>Page Partials</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Page</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @page_partials.each do |page_partial| %>
      <tr>
        <td><%= page_partial.id %></td>
        <td>
            <%= link_to page_partial.page_id, page_partial_path(page_partial) %>
            <%= page_partial.body %>
          </td>
        <td><%= page_partial.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_page_partial_path(page_partial), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', page_partial_path(page_partial), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_page_partial_path, :class => 'btn btn-primary' %>
