<h1>Page Partial</h1>

<p>
  <b>Page</b><br>
  <%= @page_partial.page_id %>
</p>

<p>
  <b>Row</b><br>
  <%= @page_partial.row %>
</p>

<p>
  <b>Col</b><br>
  <%= @page_partial.col %>
</p>

<p>
  <b>Title</b><br>
  <%= @page_partial.title %>
</p>

<p>
  <b>Body</b><br>
  <%= @page_partial.body %>
</p>

<p>
  <b>Image</b><br>
  <%= @page_partial.image %>
</p>

<p>
  <b>Img width</b><br>
  <%= @page_partial.img_width %>
</p>

<p>
  <b>Img height</b><br>
  <%= @page_partial.img_height %>
</p>

<p>
  <b>Grid</b><br>
  <%= @page_partial.grid %>
</p>

<p>
  <b>First</b><br>
  <%= @page_partial.first %>
</p>

<p>
  <b>Visible</b><br>
  <%= @page_partial.visible %>
</p>

<p>
  <b>Product</b><br>
  <%= @page_partial.product_id %>
</p>

<p>
  <b>Event</b><br>
  <%= @page_partial.event_id %>
</p>

<p>
  <b>Article</b><br>
  <%= @page_partial.article_id %>
</p>

<p>
  <b>Kind</b><br>
  <%= @page_partial.kind %>
</p>

<div class="form-actions">
  <%= link_to 'Back', page_partials_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_page_partial_path(@page_partial), :class => 'btn' %>
  <%= link_to 'Delete', page_partial_path(@page_partial), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
