.page_wrapper{
    font-family: Verdana,Lobster,Cabin;
    background-color: #333;
    color:#fff;
}

.page_wrapper h1, .page_wrapper h2, .page_wrapper h3, .page_wrapper h4, .page_wrapper h5,.page_wrapper a{
    font-family: verdana;
    background-color: #333;
    color:#990000;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    color: #ffffff;
    background-color: #990000;
}

.logo{
   color:#990000;  
   font-size:18px;
}

.slogen{
    color:#990000; 
    font-size:15px;
}

.hero-unit{
    background-color: #990000;
    color:#fff;
}

.hero-unit h1,.hero-unit h2,.hero-unit h3,.hero-unit h4{
    background-color: #990000;
    color:#fff;
}