/*
 * IVORY Framework - http://weice.in/ivory
 * 
 * Developed by Lakshmikanth Vallampati - kanth.vallampati@gmail.com
 * Licensed under GPLv2 
 * 
 */

/* ---- HTML RESET ---- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, label, legend { display: block; }
body { line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-spacing: 0; }

/* ---- Clearfixes ---- */
.row:before,.row:after,.clearfix:before,.clearfix:after{content:'';display:table}
.row:after,.clearfix:after{clear:both}
.row,.clearfix{zoom:1}

/* ---- GRID Layout ---- */
*{box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
body{margin:0 auto; color:#666666;}
.grid{margin:0 auto; xmax-width:1200px; width:100%; border:2px solid silver} /* You can choose the grid 1200 or 1140 or 1024 or 960 as per your requirement */
.g1140{margin:0 auto; max-width:1140px; width:100%;}
.g1024{margin:0 auto; max-width:1024px; width:100%;}
.g960{margin:0 auto; max-width:960px; width:100%;}
.row{width:100%; margin:0 auto;}
.c1{width:8.33%;}
.c2{width:16.66%;}
.c3{width:25%;}
.c4{width:33.33%;}
.c5{width:41.66%;}
.c6{width:50%;}
.c7{width:58.33%;}
.c8{width:66.66%;}
.c9{width:75%;}
.c10{width:83.33%;}
.c11{width:91.66%;}
.c12{width:100%;}
.c1-5{width:20%;}/* This column can be used as a one fifth of the row */
.c1-8{width:12.5%;}/* This column can be used as a one eigth of the row */ 
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12,.c1-5,.c1-8 {min-height:1px; float:left; padding-left:10px; padding-right:10px; position:relative;}
.row .row{margin-left:-10px;}

sub, sup {font-size: 60%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* ---- Misc ---- */
.left {float: left;}
.right {float: right;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}
.space-top {margin-top: 20px;}
.space-bot {margin-bottom: 20px;}
.space-htop {margin-top: 10px;}
.space-hbot {margin-bottom: 10px;}

/* ---- Typography ---- */
h1, h2, h3, h4, h5, h6 { 
	font-family: Cambria, Georgia, serif;
	font-weight: none; 
	font-style: normal; 
	color: #333333; 
	text-rendering: optimizeLegibility; 
	line-height: 1.1; 
	margin-bottom: 10px; 
	margin-top: 10px; 
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 80%; color: #333333; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; text-decoration:none; }
h1 {font-size: 36px; line-height: 48px; margin-bottom: 12px;}
h2 {font-size: 32px; line-height: 42px; margin-bottom: 8px;}
h3 {font-size: 28px; line-height: 36px; margin-bottom: 6px;}
h4 {font-size: 24px; line-height: 32px; margin-bottom: 4px;}
h5 {font-size: 20px; line-height: 27px;}
h6 {font-size: 18px; line-height: 27px;}

a {color: #2ba6cb; text-decoration: none; line-height: inherit; }
a:hover {color: #333333; }
a:focus {color: #333333; outline: none; }

p {margin-bottom: 10px; padding:0 10px; font-size: 14px; line-height: 26px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;}
p span {color: #46aae3; }
p a, p a:visited {line-height: inherit; }
.note {background-color: #888; padding: 15px 10px 20px; color: #fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

em, i { font-style: italic; line-height: inherit; }
strong, b { font-weight: bold; line-height: inherit; }
small { font-size: 70%; line-height: inherit; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 20px 0 20px; height: 0; }

/* ---- Lists ---- */
ul, ol, dl { 
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
	font-size: 14px; 
	line-height: 1.6; 
	margin-bottom: 8px; 
	list-style-position: inside; 
	text-indent: 5px; 
	color: #666666; 
}
ul li ul, ul li ol { margin-left: 10px; margin-bottom: 0; }
ul.square, ul.circle, ul.disc { margin-left: 12px; }
ul.square { list-style-type: square; }
ul.square li ul { list-style: inherit; }
ul.circle { list-style-type: circle; }
ul.circle li ul { list-style: inherit; }
ul.disc { list-style-type: disc; }
ul.disc li ul { list-style: inherit; }
ul.no-bullet { list-style: none; }
ul.large li { line-height: 21px; }
ol { margin-left: 10px; }
ol li ul, ol li ol { margin-left: 10px; margin-bottom: 0; }
dl dt{font-size:16px;}
dl dd{margin-left: 15px;}

/* ---- Form Elements ---- */
label {font-size:14px; line-height:21px; margin-bottom: 2px;}
form { margin-bottom: 20px; font: 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333;}
fieldset { margin-bottom: 20px; }
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select {
	background: #ffffff;
	border: 1px solid #cccccc;
	padding: 4px 6px;
	vertical-align: middle;
	outline: none;
	        border-radius: 3px;
	   -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	        transition: border linear 0.4s, box-shadow linear 0.4s;
	     -o-transition: border linear 0.4s, box-shadow linear 0.4s;
	   -moz-transition: border linear 0.4s, box-shadow linear 0.4s;
	-webkit-transition: border linear 0.4s, box-shadow linear 0.4s;
	margin: 0;
	max-width: 280px;
	width: 100%;
	display: block;
	margin-bottom: 20px;
}
	
input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="url"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, textarea:focus, select:focus{
	border: 1px solid;
	border-color: rgba(82, 168, 236, 0.8);
	color: #777;
	        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(81, 168, 236, 0.5);
	   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(81, 168, 236, 0.5);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(81, 168, 236, 0.5);
}
textarea{min-height:120px; }
input[type="checkbox"] {display:inline;}
form span, legend span { font-size:12px; color:#444;}

/* ---- Inline Form ---- */
.hform {width: 100%; max-width: 360px;}
.hform label {display: block; float: left; text-align: left; width: 100%; max-width: 120px; vertical-align: middle;}
.hform textarea, .hform input[type="text"], .hform input[type="password"], .hform input[type="datetime"], .hform input[type="datetime-local"], .hform input[type="date"], .hform input[type="month"], .hform input[type="time"], .hform input[type="week"], .hform input[type="number"], .hform input[type="email"], .hform input[type="url"], .hform input[type="search"], input[type="tel"], input[type="color"], select {
  display: block;
  width: 100%;
  max-width: 220px;
  background: #ffffff;
  border: 1px solid #cccccc;
  padding: 4px 6px;
  vertical-align: middle;
  outline: none;	
          border-radius: 4px;
     -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
          transition: border linear 0.4s, box-shadow linear 0.4s;
       -o-transition: border linear 0.4s, box-shadow linear 0.4s;
     -moz-transition: border linear 0.4s, box-shadow linear 0.4s;
  -webkit-transition: border linear 0.4s, box-shadow linear 0.4s;
  margin: 0;
  margin-bottom: 10px;
} 
.hform textarea:focus, .hform input[type="text"]:focus, .hform input[type="password"]:focus, .hform input[type="datetime"]:focus, .hform input[type="datetime-local"]:focus, .hform input[type="date"]:focus, .hform input[type="month"]:focus, .hform input[type="time"]:focus, .hform input[type="week"]:focus, .hform input[type="number"]:focus, .hform input[type="email"]:focus, .hform input[type="url"]:focus, .hform input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, select:focus{
  border: 1px solid;
  border-color: rgba(82, 168, 236, 0.8);
  color: #444;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(81, 168, 236, 0.5);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(81, 168, 236, 0.5);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(81, 168, 236, 0.5);
}

/* ---- Buttons ---- */
button{
	display:inline-block;*display:inline;
	padding:7px 20px;
	margin-bottom:10px;*margin-left:.3em;
	font-size:14px;
	line-height:20px;*line-height:20px;
	color:#333 !important;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	background-color:#eee;*background-color:#eee;
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#e6e6e6));
	background:-moz-linear-gradient(top, #eee, #e6e6e6);
	border:1px solid #bbbbbb;*border:0;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-color:#eee,#eee,#d4d4d4;
	        border-radius:4px;
	     -o-border-radius:4px;
	    -ms-border-radius:4px;
	   -moz-border-radius:4px;
	-webkit-border-radius:4px;
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);*zoom:1;
	        box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	   -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
button:hover, button:active{
	background:#eee;
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#f8f8f8));
	background:-moz-linear-gradient(top, #eee, #f8f8f8);
}
button.large{padding:10px 35px; font-size:15px;}
button.small{padding:3px 13px; font-size:13px;}
button.skyblue{ /* --- skyblue color button --- */
	color:#fff !important;
	background-color:#26a2b6;
	background: -moz-linear-gradient(#34bac9, #26a2b6);
	background: -webkit-gradient(linear, left top, left bottom, from(#34bac9), to(#26a2b6));
	background: -webkit-linear-gradient(#34bac9, #26a2b6);
	background: -o-linear-gradient(#34bac9, #26a2b6);
	background: -ms-linear-gradient(#34bac9, #26a2b6);
	background: linear-gradient(#34bac9, #26a2b6);
}
button.skyblue:hover, button.black:active{
	background:#a9016b;
	background:-webkit-gradient(linear, left top, left bottom, from(#26a2b6), to(#34bac9));
	background:-moz-linear-gradient(top, #26a2b6, #34bac9);
}
button.blue{ /* --- blue color button --- */
	color:#fff !important;
	background-color:#008fd5;
	background:-webkit-gradient(linear, left top, left bottom, from(#008fd5), to(#0085c6));
	background:-moz-linear-gradient(top, #008fd5, #0085c6);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);*zoom:1;
}
button.blue:hover, button.blue:active{
	background:#008fd5;
	background:-webkit-gradient(linear, left top, left bottom, from(#008fd5), to(#009de9));
	background:-moz-linear-gradient(top, #008fd5, #009de9);
}
button.green{ /* --- green color button --- */
	color:#fff !important;
	background-color:#46a546;
	background:-webkit-gradient(linear, left top, left bottom, from(#46a546), to(#419a41));
	background:-moz-linear-gradient(top, #46a546, #419a41);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);*zoom:1;
}
button.green:hover, button.green:active{
	background:#46a546;
	background:-webkit-gradient(linear, left top, left bottom, from(#46a546), to(#4cb34c));
	background:-moz-linear-gradient(top, #46a546, #4cb34c);
}
button.yellow{ /* --- yellow color button --- */
	color:#fff !important;
	background-color:#f0bf4a;
	background: -moz-linear-gradient(#f0c930, #f0bf4a);
	background: -webkit-gradient(linear, left top, left bottom, from(#f0c930), to(#f0bf4a));
	background: -webkit-linear-gradient(#f0c930, #f0bf4a);
	background: -o-linear-gradient(#f0c930, #f0bf4a);
	background: -ms-linear-gradient(#f0c930, #f0bf4a);
	background: linear-gradient(#f0c930, #f0bf4a);
}
button.yellow:hover, button.black:active{
	background:#f0bf4a;
	background:-webkit-gradient(linear, left top, left bottom, from(#f0bf4a), to(#f0c930));
	background:-moz-linear-gradient(top, #f0bf4a, #f0c930);
}
button.orange{ /* --- orange color button --- */
	color:#fff !important;
	background-color:#ff5c00;
	background: -moz-linear-gradient(#ff6f40, #ff5c00);
	background: -webkit-gradient(linear, left top, left bottom, from(#ff6f40), to(#ff5c00));
	background: -webkit-linear-gradient(#ff6f40, #ff5c00);
	background: -o-linear-gradient(#ff6f40, #ff5c00);
	background: -ms-linear-gradient(#ff6f40, #ff5c00);
	background: linear-gradient(#ff6f40, #ff5c00);
}
button.orange:hover, button.black:active{
	background:#d798d1;
	background:-webkit-gradient(linear, left top, left bottom, from(#ff5c00), to(#ff6f40));
	background:-moz-linear-gradient(top, #ff5c00, #ff6f40);
}
button.red{ /* --- red color button --- */
  color:#fff !important;
  background-color:#bd362f;
  background:-webkit-gradient(linear, left top, left bottom, from(#bd362f), to(#b1322c));
  background:-moz-linear-gradient(top, #bd362f, #b1322c);
  filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter:progid:dximagetransform.microsoft.gradient(enabled=false);*zoom:1;
}
button.red:hover, button-red:active{
  background:#bd362f;
  background:-webkit-gradient(linear, left top, left bottom, from(#bd362f), to(#cc3b34));
  background:-moz-linear-gradient(top, #bd362f, #cc3b34);
}
button.magenta{	/* --- magenta color button --- */
	color:#fff !important;
	background-color:#b9298f;
	background: -moz-linear-gradient(#b93180, #b9298f);
	background: -webkit-gradient(linear, left top, left bottom, from(#b93180), to(#b9298f));
	background: -webkit-linear-gradient(#b93180, #b9298f);
	background: -o-linear-gradient(#b93180, #b9298f);
	background: -ms-linear-gradient(#b93180, #b9298f);
	background: linear-gradient(#b93180, #b9298f);
}
button.magenta:hover, button.black:active{
	background:#b9298f;
	background:-webkit-gradient(linear, left top, left bottom, from(#b9298f), to(#b9358f));
	background:-moz-linear-gradient(top, #b9298f, #b9358f);
}
button.black{ /* --- black color button --- */
	color:#fff !important;
	background-color:#111;
	background: -moz-linear-gradient(#222, #111);
	background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
	background: -webkit-linear-gradient(#222, #111);
	background: -o-linear-gradient(#222, #111);
	background: -ms-linear-gradient(#222, #111);
	background: linear-gradient(#222, #111);
}
button.black:hover, button.black:active{
	background:#222;
	background:-webkit-gradient(linear, left top, left bottom, from(#222), to(#333));
	background:-moz-linear-gradient(top, #222, #333);
}

/* ---- Alerts ---- */
.alert {
padding: 10px;
margin-bottom: 18px;
color: #c09853;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #fcf8e3;
border: 1px solid #fbeee0;
        border-radius: 4px;
   -moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.success {color: #468847; background-color: #dff0d8; border-color: #d6e9c6;}
.error {color: #b94a48; background-color: #f2dede; border-color: #eed3d7;}
.info {color: #3a87ad; background-color: #d9edf7; border-color: #bce8f1;}

/* ---- Table ---- */
table {
	width: 100%; 
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	border: solid #ccc 1px;
	border-left: none;
	        border-radius: 5px;
	   -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	        box-shadow: 0 1px 2px #d1d1d1;
	   -moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
}   
td, th {border-top: 1px solid #ccc; border-left: 1px solid #ccc; padding: 10px; text-align: left;}
th {
	background-color: #f0f0f0;
	        box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	   -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
	border-top: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font-size: 14px; 
	line-height: 24px;
	text-align: center;
}
td{font-size:14px;}
table tr:first-child th:first-child{
 	        border-top-left-radius: 5px;
	    -moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}
table tr:first-child th:last-child{
	        border-top-right-radius: 5px;
	    -moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}
table tr:last-child td:first-child{
	        border-bottom-left-radius: 5px;
	    -moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
table tr:last-child td:last-child{
	        border-bottom-right-radius: 5px;
	    -moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
table tr.even td{background-color: #fafafa;}

/* ---- Pagination ---- */
.pagin ul {list-style: none; margin: 0; padding: 0;}
.pagin li {display: inline;}
.pagin a {
	        border-radius: 3px;
		-ms-border-radius: 3px;
	   -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 1px 2px;
	padding: 5px 10px 5px 5px;
	display: inline-block;
	border-top: 1px solid #fff;
	text-decoration: none !important;
	color: #333 !important;
	font-size: 12px;
	font-family: "Helvetica Neueu", Helvetica, Arial, sans-serif;
	text-shadow: white 0 1px 0;
	background-color: #f5f5f5;
	background-image: linear-gradient(top, #f9f9f9, #eaeaea);
	background-image: -ms-linear-gradient(top, #f9f9f9, #eaeaea);
	background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea);  
	background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea');
}
.pagin a:hover, .pagin a:focus {
	border-color: #fff;
	background-color: #fdfdfd;
	background-image: linear-gradient(top, #fefefe, #fafafa);
	background-image: -ms-linear-gradient(top, #fefefe, #fafafa);
	background-image: -moz-linear-gradient(top, #fefefe, #fafafa);
	background-image: -webkit-linear-gradient(top, #fefefe, #fafafa);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa');  
}
.pagin a.more {
	        box-shadow: none;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: 0 none !important;
	background: transparent !important;
	margin-left: 0;
	margin-right: 0;
}
.pagin-dark a {
	border-top: 1px solid #575e63;
	text-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
	color: #fff !important;
	background-color: #4e5458;
	background-image: linear-gradient(top, #575e63, #3f4347);
	background-image: -ms-linear-gradient(top, #575e63, #3f4347);
	background-image: -moz-linear-gradient(top, #575e63, #3f4347);
	background-image: -webkit-linear-gradient(top, #575e63, #3f4347);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#575e63', EndColorStr='#3f4347');
}
.pagin-dark a:hover, .pagin-dark a:focus {
	border-color: #575e63;
	background-color: #4d6374;
	background-image: linear-gradient(top, #567062, #3e505e);
	background-image: -ms-linear-gradient(top, #567062, #3e505e);
	background-image: -moz-linear-gradient(top, #567062, #3e505e);
	background-image: -webkit-linear-gradient(top, #567062, #3e505e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#567062', EndColorStr='#3e505e');
}
.pagin a, .pagin-dark a {
		    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.pagin a.active, .pagin-dark a.active {
	        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75);
	   -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75);
	border-color: #2d3035 !important;
	color: #fff !important;
	text-shadow: black 0 1px 0;
	background-color: #303338;
	background-image: linear-gradient(top, #303338, #2d3034);
	background-image: -ms-linear-gradient(top, #303338, #2d3034);
	background-image: -moz-linear-gradient(top, #303338, #2d3034);
	background-image: -webkit-linear-gradient(top, #303338, #2d3034);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#303338', EndColorStr='#2d3034');
}

/* ---- Tooltip ---- */
.tooltip{display: inline; position: relative; color: #2ba6cb;}
.tooltip:hover:before
{
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 21px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 97;
}
.tooltip:hover:after
{
	background: #333;
	background: rgba(0,0,0,.8);
	        border-radius: 5px;
	   -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	bottom: 27px;
	font-size: 12px;
	color: #fff;
	content: attr(title);
	padding: 5px;
	position: absolute;
	z-index: 98;
	width: 180px;
	margin-left: -50px;
}

/* ---- Breadcrumb ---- */
.breadcrumb {
	padding: 10px;
	font: 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #f5f5f5;
	background-image: linear-gradient(top, #f9f9f9, #eaeaea);
	background-image: -ms-linear-gradient(top, #f9f9f9, #eaeaea);
	background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea);  
	background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea');
	border: 1px solid #ddd;
		    border-radius: 3px;
	   -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
		    box-shadow: inset 0 1px 0 #ffffff;
	   -moz-box-shadow: inset 0 1px 0 #ffffff;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
}
.breadcrumb li {display: inline-block; text-shadow: 0 1px 0 #ffffff;}
.breadcrumb .divider {padding: 0 5px; color: #777;}



/* ---- Toolbar ---- */
.toolbar {
	padding-top: 10px;
	font: 18px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #990000;
        /*
	background-image: linear-gradient(top, #990000, #eaeaea);
	background-image: -ms-linear-gradient(top, #f9f9f9, #eaeaea);
	background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea);  
	background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea');
	border: 1px solid #ddd;
		    border-radius: 3px;
	   -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
		    box-shadow: inset 0 1px 0 #ffffff;
	   -moz-box-shadow: inset 0 1px 0 #ffffff;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
        */
}
.toolbar li {display: inline-block; text-shadow: 0 0px 0 #ffffff;}
.toolbar .divider {padding: 0 5px; color: #777;}
.toolbar li.active a{font-size:18px; color:#fff;}
.toolbar li a{font-size:18px; color:#aaa;}
/* ---- Toggle Switches ---- */
.switch {
	position: relative;
	margin: 20px auto;
	height: 34px;
	width: 100%;
	max-width: 320px;
	background: rgba(0, 0, 0, 0.6);
		    border-radius: 3px;
	   -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0.3), 0 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(0, 0, 0, 0.1);
}
.switch-label {
	position: relative;
	z-index: 2;
	float: left;
	color: #fff;
	width: 49%;
	text-align: center;
	cursor: pointer;
	font: 12px/32px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.switch-input {display: none;}
.switch-input:checked + .switch-label {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.65);
	text-shadow: 0 1px rgba(255, 255, 255, 0.25);
	        transition: 0.15s ease-out;
	   -moz-transition: 0.15s ease-out;
	-webkit-transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {left: 50%;}
.switch-selection {
	display: block;
	position: absolute;
	z-index: 1;
	top: 2px;
	left: 2px;
	width: 49.5%;
	height: 30px;
	background: #65bd63;
	background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
	background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
	background-image: -o-linear-gradient(top, #9dd993, #65bd63);
	background-image: linear-gradient(to bottom, #9dd993, #65bd63);
			border-radius: 3px;
	   -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
		    transition: left 0.15s ease-out;
	   -moz-transition: left 0.15s ease-out;
	-webkit-transition: left 0.15s ease-out;
	        box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
}
.switch-blue .switch-selection {
	background: #3aa2d0;
	background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
	background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
	background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
	background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}
.switch-yellow .switch-selection {
	background: #c4bb61;
	background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
	background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
	background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);	
	background-image: linear-gradient(to bottom, #e0dd94, #c4bb61);
}                                 

/* ---- Tabs ---- */
.tab-container{ position: relative; height: 200px;} 
.tab-container .tab-radio{ display: none;}
.tab-container .tab{
	display: block;
	float: left;
	position: relative;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid #cfd2d7;
	color: #888;
	margin-top: -15px;
	margin-right: 1.0%;
	padding: 5px 20px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	background-color: #eee;
}
.tab-container .tab-radio:checked ~ .tab, .tab-container .tab-radio:active ~ .tab
{
	background-color: #fff;
	z-index: 100;
	border-bottom: 1px solid #fff;
}
.tab-container .tab-radio:checked ~ .tab {background-color:#fff; color:#333;}
.tab-container .tab-page
{
	visibility: hidden;
	background-color: #fff;
	color: #888;
	display:block;
	position: absolute;
	top: 22px;
	height: auto;
	width: 100%;
	float: left;
	padding: 5px;
	border: 1px solid #cfd2d7;
	   border-top-right-radius: 5px;
	 border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	        box-shadow: 0 1px 3px rgba(0,0,0,.3);
	   -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.tab-container .tab-radio:checked ~ .tab-page { visibility: visible; }

/* ---- Accordion ---- */
.accordion {
    width: 100%;
    background: #fff;
	font-size: 14px;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            border-radius: 5px;
	   -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0,0,0,.3);
	   -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
 }
.accordion p{height:0; margin-bottom:0px; padding:0; color: #888; overflow:hidden;}
.accordion a{
    display:block;
    height:auto;
	padding:5px;
    line-height:24px;
	background-color: #eee;
    color:#333;
    text-decoration:none;
    text-align:center;
    border-bottom:1px solid #aaa;
}
.accordion a:hover, .accordion a:focus {opacity:.9; color:#ooo;}
.accordion a:active {color:#000;}
.accordion :target + p{padding:10px 15px; border-bottom:1px solid #ccc; height:auto;}	

/* =Media query for 960 Screens - sets nested grids to 100%
-------------------------------------------------------------- */
@media only screen and (max-width:960px){
.row .row .c1,.row .row .c2,.row .row .c3,.row .row .c4,.row .row .c5,.row .row .c6,.row .row .c7,.row .row .c8,.row .row .c9,.row .row .c10,.row .row .c11,.row .row .c12,.row .row .c1-5,.row .row .c1-8{width:100%;margin-bottom:20px;margin-left:0px;margin-right:0px; }
.row .row > div:last-child{margin-bottom:0 !important}
}

/* =Media query for iPad and tablets
-------------------------------------------------------------- */
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) and (orientation:portrait){
body{font-size:90%}
.row{margin-bottom:0!important}
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12,.c1-5,.c1-8{width:100%;margin-right:0;margin-left:0;margin-bottom:20px}
}
