.p-feature{
    
}

.p-feature img{
    float:left;
    margin:0.4em;
}

.p-feature h5{
    
}

.p-image{
    
}

.p-image img{
    height:300px;
    width:100%;
}

.bottom-color{
    background-color:#222;
    color:#fff;
    
}
.secondary-color{
  background-color: #990000;   
  color:#fff;
}

/*
// Article
*/
.p-article{
    
}

.p-article img{
    height:150px;
    width:100%;
}
.grid{background-color:#333; color:#fff;}
h1, h2, h3, h4, h5, h6 { color:#0085c6;}


.rtl{
    direction:rtl
}