.border-polaroid{
    padding: 5px;
    border: solid 1px #EFEFEF;

}


.border-sunken{
    box-shadow: 10px 10px 5px #888888;
}

.border-raised{
    background-color:#03f2d0 ;
    padding:1em;
}




.newsletter{ vertical-align: top; list-style: none;}
.newsletter li{ clear: both; margin-bottom: 1em;vertical-align: top;}
.newsletter-img{ float:left; margin-right:1em; width:48px; height:48px;}
.newsletter li a{ float:left; }