<div id="custom-panel" class="span12 hide">

  <div class="span4">
      <table class="table">
        <tr>
          <td> <h4> Header Colors  </h4></td>
          <td >
            <%= raw color_picker( "Header", "#333" ) %>
          </td>
          <td width="50px"> <%= text_field_tag "post" , "color1" , :value => "32" , :class => "size-field"%> px </td>
        </tr>
        <tr>
          <td> <h4> Hero Unit Background</h4></td>
          <td >
          <%= raw color_picker( "h2", "#444444" ) %>
          </td>
          <td width="50px"> <%= text_field_tag "post" , "color1" , :value => "32" , :class => "size-field"%> px </td>
        </tr>
      </table>
</div>



  <div class="span4">
      <table class="table">
        <tr>
          <td> <h4> Header Colors  </h4></td>
          <td >
            <%= raw color_picker( "Header", "#333" ) %>
          </td>
          <td width="50px"> <%= text_field_tag "post" , "color1" , :value => "32" , :class => "size-field"%> px </td>
        </tr>
        <tr>
          <td> <h4> Hero Unit Background</h4></td>
          <td >
          <%= raw color_picker( "h2", "#444444" ) %>
          </td>
          <td width="50px"> <%= text_field_tag "post" , "color1" , :value => "32" , :class => "size-field"%> px </td>
        </tr>
      </table>
</div>
</div>


<style>
  .color-field{
    width:50px;
  }
  .size-field{
    width:20px;
  }
</style>

<script>
  $(function(){
    window.prettyPrint && prettyPrint()
    $('#h1').colorpicker();
    $('#h2').colorpicker();
    $('#h3').colorpicker();
    $('#h4').colorpicker();
    $('#text').colorpicker();
    $('#background').colorpicker();
  });
</script>