<table class="table table-striped">
  <thead>
    <tr>
      <th>Domain</th>
      <th width="50px">count</th>
    </tr>
  </thead>
  
  <tbody>
    <% 10.times do  %>
    <tr>
      <td><%= lorem(2) %></td>
      <td><%= rand(30) %></td>
    </tr>
    <% end %>
  </tbody>
</table>