<div class="thumbnail">
  <div class="modal-header">
    <h2> <%= image_tag "/assets/flat/globe-5-64.png" , :size => "48x48"%> Website meta and keywords</h2>
  </div>

  <div class="modal-header">
    <%= form_for @website, :html => { :class => 'form-horizontal' } do |f| %>
      <fieldset>

        <div class="control-group">
          <%= f.label :temaplte_id, :class => 'control-label' %>
          <div class="controls">
            <%= f.collection_select :template_id,  @templates, :id, :name%>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :keywords, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :keywords, :class => 'text_area' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :meta_description, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :meta_description, :class => 'text_area' %>
          </div>
        </div>
        <div class="control-group hide">
          <%= f.label :json_scan, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :json_scan, :class => 'text_area' %>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', @website, :class => 'btn' %>
    </div>

  <% end %>

</div>
<style>
  .modal-footer{margin-bottom: -4px;margin-left: -4px;;margin-right: -4px;}
</style>