<table class="table table-striped">
  <tr>
      <th>
        Keyword
      </th>
      <th>
        Location on Google
      </th>
      <th>
        Location on Bing
      </th>
    </tr>
  <% for k in @website.keywords.split(",") do  %>
    <tr>
      <td>
        <%= k %>
      </td>
      <td>
        <%= rand(30) + 20 %>
      </td>
      <td>
        <%= rand(30) + 20 %>
      </td>
    </tr>
  <% end %>
</table>