<table class="table table-striped">
  <thead>
    <tr>
      <th>Keyword</th>
      <th width="50px">Google </th>
      <th width="50px">Yahoo</th>
      <th width="50px">Bing</th>
    </tr>
  </thead>
  <tbody>
    <% unless current_user.website.keywords.nil? %>
      <% for word in current_user.website.keywords.split(",") %>
        <tr>
          <td><%=  word %></td>
          <td><%=  rand(100) %></td>
          <td><%=  rand(100) %></td>
          <td><%=  rand(100) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>