<h2>Brand Summary </h2>
<div class="hero-unit">

</div>
<h2>Mentions By channels</h2><br/>
<%= render :partial => 'mentions_chart_1' %>


<br/>
<h3>Mention Summary </h3><hr/>
<div class="tabbable ">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#11" data-toggle="tab">Top Users</a></li>
    <li><a href="#12" data-toggle="tab">Top Keywords</a></li>
    <li><a href="#13" data-toggle="tab">Sources</a></li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active" id="11">
      <%= render :partial => "shared/fans" , :locals => {:fans => Fan.all[0..12]} %>
    </div>

    <div class="tab-pane" id="12">
      <%= render :partial => "keywords_list" %>
    </div>
    <div class="tab-pane" id="13">
      <%= render :partial => "domains_list" %>
    </div>
  </div>
</div>
