<h3>Incomming Messages from my website</h3><hr/>

<table class="table table-striped">
  <% for item in current_user.brand.inquieries.reverse do %>
      <tr>
        <td>
          <div class="pull-right">
                <%= link_to "Verify","", :class =>"btn repost-button" %>
                <%= link_to "Spam","", :class =>"btn btn-danger " %>
          </div>
          <b><%= item.name %> </b><%= time_ago_in_words(item.created_at) %> ago<br/> <%= item.message %> <br/><%= item.email%> 
        </td>
      </tr>
    <% end %>
  </table>