<h3>My Website Pages</h3><hr/>

 
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Views</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for page in @website.pages.where(:kind => nil) do  %>
        <tr>
          <td><%= page.name  %> </td>
          <td width="50px"><%= page.view_count  %> </td>
          <td width="260px">
            <%= link_to "Rename", "/pages/#{page.id}/edit" ,:class => 'btn'  %>
            <%= link_to "Preview", "/pages/preview?id=#{page.id}&preview=true" ,:class => 'btn ' , :target => "_blank" %>
            <%= link_to 'Destroy', page_path(page), :method => :delete, :confirm => 'Are you sure?', :class => 'btn  btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<h3>Add Page</h3><hr/>
<% @page = Page.new( :website_id => @website.id)  %>
<%= form_for @page, :html => { :class => 'form-inline' } do |f| %>
  New Page Name:
  <%= f.text_field :name, :class => 'text_field' %>
  <%= f.hidden_field :website_id, :value => @website.id%>
  <button type="submit" class="btn">Create</button>
  </form>
  <hr/>
<% end %>


