<% @page = Page.new( :website_id => @website.id)  %>
<%= form_for @page, :html => { :class => 'form-inline' } do |f| %>
  New Page Name:
  <%= f.text_field :name, :class => 'text_field' %>
  <%= f.hidden_field :kind, :value => "promotion" %>
  <%= f.hidden_field :website_id, :value => @website.id%>
  <button type="submit" class="btn">Create</button>
  </form>
  <hr/>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Views</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for page in @website.pages.where(:kind => 'promotion') do  %>
        <tr>
          <td><%= page.name  %> </td>
          <td width="50px"><%= page.view_count  %> </td>
          <td width="220px">
            <%= link_to "Preview ", "/pages/preview?id=#{page.id}"  , :class => "btn"%>
            <%= link_to "Promote", "/pages/preview?id=#{page.id}", :class => "btn btn-info" %>
            <%= link_to "Delete","",:class => "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>