
<table class="table">
  <tr>
    <td> <h4> Row 1 </h4></td>
    <td >
      Text Color:<br/>
      <%= raw color_picker( "h1", "#333" ) %>
    </td>
    <td >
      Background Color:<br/>
      <%= raw color_picker( "h1", "#333" ) %>
    </td>
  </tr>
  <tr>
    <td> <h4> Row 2 </h4></td>
    <td >
      Text Color:<br/>
      <%= raw color_picker( "h2", "#444444" ) %>
    </td>
    <td >
     Background Color:<br/>
      <%= raw color_picker( "h2", "#444444" ) %>
    </td>
  </tr>
  <tr>
    <td> <h4> Row 3 </h4></td>
    <td >
      Text Color:<br/>
      <%= raw color_picker( "h3", "#f4f4f4" ) %>
    </td>
    <td >
      Background Color:<br/>
      <%= raw color_picker( "h3", "#f4f4f4" ) %>
    </td>
  </tr>

</table>




<style>
  .color-field{
    width:50px;
  }
  .size-field{
    width:20px;
  }
</style>

<script>
  $(function(){
    window.prettyPrint && prettyPrint()
    $('#h1').colorpicker();
    $('#h2').colorpicker();
    $('#h3').colorpicker();
    $('#h4').colorpicker();
    $('#text').colorpicker();
    $('#background').colorpicker();
  });
</script>