


<%
Google::UrlShortener::Base.api_key = "AIzaSyDQU97mjsTO_qfzAHNcfguvhcd2CNvv6Yw"
@url = Google::UrlShortener::Url.new(:short_url => "http://goo.gl/g8sAs")

    # Pie Chart
    require 'google_chart'
    GoogleChart::PieChart.new('600x400', "",false) do |pc|
      pc.data "Twitter", 40
      pc.data "Facebook", 20
      pc.data "Blogger", 30
      pc.data "WordPress", 60
      pc.data "Youtube", 60
      puts "\nPie Chart"
      puts pc.to_url

      # Pie Chart with no labels
      pc.show_labels = true
      @pc = pc
      puts "\nPie Chart (with no labels)"
      puts pc.to_url  
    end


%>

<h3> SEO Analisys for my website</h3><hr/>
<div class="row">
  <div class="span3">
    <h5>Website Info</h5><hr/>
    <%= @website.url %>
  </div>
  <div class="span3">
    <h5>Keywords in Google Search </h5><hr/>

    <table class="table table-striped">
      <% unless @keywords.nil? %>
        <% for item in @keywords.split(",") do  %>
            <tr>
              <td><%= item %> </td>
              <td width="40px"> <%= image_tag("/assets/icons/google_search_64.png", :size => "16x16")%> <%= rand(100) %> </td>
              <td width="40px"> <%= image_tag("/assets/icons/bing_64.png" , :size => "16x16")%> <%= rand(100) %> </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
    
    <div class="span6">
      <h5>Backlinks </h5><hr/>
      <% unless @backlinks.nil? %>
        <table class="table-striped table">
          <thead>
            <tr>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for item in @backlinks do   %>
                <tr>
                  <td>
                    <div class="pull-right">
                      <%= link_to "Open","", :class =>"btn repost-button" %>
                    </div>
                    <%=  item[:url] %><br/>
                    <b><%=  item[:title] %></b><br/>
                    <%= item[:description] %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

        <% end %>    
        <%= @url.analytics.inspect %>

 <h5>Visitors in my website</h5><hr/>
    <%= image_tag(@pc.to_url) %>

        <h5>Meta Data</h5><hr/>
        <%= @website.url %>
      </div>
    </div>