<% content_for :sidebar do  %>

  <%=  render :partial => 'summary' %>
  <%#=  render :partial => 'template_carosel' %>

  <%#
  # Pie Chart
  require "google_charts"
  GoogleChart::PieChart.new('320x200', "Pie Chart",false) do |pc|
    pc.data "Twitter", 40
    pc.data "Facebook", 20
    pc.data "Youtube", 30
    pc.data "Google", 60
    puts "\nPie Chart"
    puts pc.to_url

    # Pie Chart with no labels
    pc.show_labels = true
    @pc = pc
    puts "\nPie Chart (with no labels)"
    puts pc.to_url  
  end
%>

  <h3>Visitors by Channels</h3><hr/>
  <%#= image_tag(@pc.to_url) %>
<% end %>