

<div class="row span12">

<div class="pull-right">
</div>

  <div class="pull-right">
  <%= form_for @website, :html => { :class => 'form-inline' } do |f| %>
    <fieldset>
      <%= f.label :template_id, :class => 'control-label' %>
      <%=f.collection_select :template_id, @templates, :id, :name, :prompt => true   %>
      <%= f.submit "Replace", :class => 'btn btn-primary' %>
      &nbsp;
    </fieldset>
  <% end %>
</div>


  <h3>Website style Editor</h3><hr/>

  <%= render :partial => "custom_style_form" %>

  <div id="my-div">
    <iframe src="/public/brand/<%=current_user.brand.id%>"  width="100%"  height="500px"></iframe>
  </div>
</div>
<style>

  #my-div
  {
    width    : 100%;
    height   : 700px;
    overflow : hidden;
    position : relative;
  }

  #my-iframe
  {
    position : absolute;
    top      : -100px;
    left     : -100px;
    width    : 1280px;
    height   : 1200px;
  }


</style>