<h3>Site Summary</h3>
<table class="table summary">
  <tr>
    <td width="33%">
      <%= image_tag "/assets/icons/businessman_woman.png" %><br/>
      Visitors<br/>
      <span class="rate">82.3%</span>
    </td>

    <td width="33%">
      <%= image_tag "/assets/icons/link.png" %><br/>
      Backlinks<br/>
      <span class="rate">130%</span>

    </td>
    <td>
      <%= image_tag "/assets/icons/google_search_64.png" %><br/>
      Google<br/>
      <span class="rate">82.3%</span>
    </td>
  </tr>
</table>



<style>
  .summary td{
    text-align: center;
  }
  .rate{
    font-size:22px;
    font-weight: bold;
  }
</style>