<%

_templates = []

_templates << { :name => "Home Page 4" , :image => "site-template-2-text" , :template => "5" , :description => lorem(20)}
_templates << { :name => "Home Page 5" , :image => "site-template-2-slider" , :template => "6" , :description => lorem(20)}
_templates << { :name => "Home Page 6" , :image => "site-template-2-video" , :template => "7" , :description => lorem(20)}
_templates << { :name => "Home Page 10" , :image => "site-template-5" , :template => "11" , :description => lorem(20)}
_templates << { :name => "Home Page 11" , :image => "site-template-6" , :template => "12" , :description => lorem(20)}
_templates << { :name => "Home Page 12" , :image => "site-template-6-alternate" , :template => "13" , :description => lorem(20)}
_templates << { :name => "Home Page 14" , :image => "site-template-9" , :template => "15" , :description => lorem(20)}
_templates << { :name => "Home Page 15" , :image => "site-template-10-gallery-3" , :template => "16" , :description => lorem(20)}

%>



<table class="table datatable">
  <thead>
    <tr>
      <th></th>
      <th> Select template to use</th>
    </tr>
  </thead>
  <tbody>
    <% for item in _templates do  %>
    <tr>
      <td width="64px"><%=image_tag  "/assets/flat/#{item[:image]}.png"%></td>
      <td>
        <b><%= item[:name] %></b><br/>

        <p> <%= item[:description]%>  </p>
        

        <div class="item_command">
          <%= link_to "Create Page" , "/websites/create_page?template=#{item[:template]}"%>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
