
<table class="table">
  <tr>
    <td> <h4> Header 1 </h4></td>
    <td >
      <%= raw color_picker( "h1", "#333" ) %>
    </td>
    <td width="50px"> <%= text_field_tag "post" , "color1" , :value => "32" , :class => "size-field"%> px </td>
  </tr>
  <tr>
    <td> <h4> Header 2 </h4></td>
    <td >
    <%= raw color_picker( "h2", "#444444" ) %>
    </td>
    <td width="50px"> <%= text_field_tag "post" , "color1" , :value => "32" , :class => "size-field"%> px </td>
  </tr>
  <tr>
    <td> <h4> Header 3 </h4></td>
    <td >
       <%= raw color_picker( "h3", "#f4f4f4" ) %>
    </td>
    <td width="50px"> <%= text_field_tag "post" , "color1" , :value => "32" , :class => "size-field"%> px </td>
  </tr>
  <tr>
    <td> <h4> Header 4 </h4></td>
    <td >
      <%= raw color_picker( "h4", "#ffffff" ) %>
    </td>
    <td width="50px"> <%= text_field_tag "post" , "color1" , :value => "32" , :class => "size-field"%> px </td>
  </tr>
</table>



<table class="table">
  <tr>
    <td> Background </td>
    <td >
      <%= raw color_picker( "background", "#333" ) %>
    </td>
  </tr>
  <tr>
    <td> Text Color </td>
    <td >
      <%= raw color_picker( "text", "#333" ) %>
    </td>
  </tr>
</table>




<style>
  .color-field{
    width:50px;
  }
  .size-field{
    width:20px;
  }
</style>

<script>
  $(function(){
    window.prettyPrint && prettyPrint()
    $('#h1').colorpicker();
    $('#h2').colorpicker();
    $('#h3').colorpicker();
    $('#h4').colorpicker();
    $('#text').colorpicker();
    $('#background').colorpicker();
  });
</script>