


<div id="my-div">
<iframe src="/public/brand/<%=current_user.brand.id%>"  width="1024px" height="700px"></iframe>
</div>

<style>
  
  #my-div
{
    width    : 100%;
    height   : 700px;
    overflow : hidden;
    position : relative;
}
 
#my-iframe
{
    position : absolute;
    top      : -100px;
    left     : -100px;
    width    : 1280px;
    height   : 1200px;
}
  
  
</style>


<% content_for :sidebar do  %>

<%= form_for @website, :html => { :class => 'form-inline' } do |f| %>
  <fieldset>
    <legend>Website Style Editor</legend>
    <br/>
      <%= f.label :template_id, :class => 'control-label' %>
        <%=f.collection_select :template_id, @templates, :id, :name, :prompt => true   %>
         <%= f.submit "Replace", :class => 'btn btn-primary' %>
  </fieldset>
<% end %>

  <br/>
  <div class="tabbable ">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#css" data-toggle="tab">CSS</a></li>
      <li ><a href="#messages" data-toggle="tab">Text</a></li>
      <li><a href="#navbar" data-toggle="tab">Nav Bar</a></li>
      <li><a href="#rows" data-toggle="tab">Rows</a></li>
      <li><a href="#components" data-toggle="tab">Components</a></li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane active" id="css">
        <h3>CSS OVERRIDES</h3><hr/>
        
        
<%= form_for @website, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <div class="control-group">
        <%= f.text_area :css, :class => 'text_area' %>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', websites_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

        
        
      </div>
      <div class="tab-pane " id="messages">
        <h3>Headers Text</h3><hr/>
        <%= render :partial => 'text_table' %>
      </div>

      <div class="tab-pane" id="navbar">
        <h3>Navigation Bar</h3><hr/>
        <%= render :partial => 'navbar_table' %>
      </div>
      <div class="tab-pane" id="rows">
        <h3>Blocks </h3><hr/>
         <%= render :partial => 'rows_table' %>
      </div>
      <div class="tab-pane" id="components">
        <h3>Components </h3><hr/>
         <%= render :partial => 'components_table' %>
      </div>
    </div>
  </div>


<% end %>