<h1>Websites</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Brand</th>
      <th>URL</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= website.id %></td>
        <td><%= link_to website.brand_id, website_path(website) %></td>
        <td><%= website.url %></td>
        <td>
          <%= link_to 'Edit', edit_website_path(website), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', website_path(website), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_website_path, :class => 'btn btn-primary' %>
