<div class="row span12">
<div class="pull-right">
  <div class="btn-group">
    <a class="btn btn-primary" href="#">Actions </a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="/websites/create_page?id=<%=@website.id%>&kind=web"><i class="icon-comment"></i> Create Web Page</a></li>
      <li><a href="/websites/create_page?id=<%=@website.id%>&kind=facebook"><i class="icon-file"></i> Create Facebook Fan page</a></li>
      <li><a href="/websites/create_page?id=<%=@website.id%>&kind=promotion"><i class="icon-file"></i> Create Promotion page</a></li>
       <li class="divider"></li>
       <li><a href="/site/<%=@brand.id%>" target="_blank"><i class="icon-file"></i> Preview Site</a></li>
       <li><a href="/websites/<%=@website.id%>/edit" ><i class="icon-pencil"></i> Edit Site Info</a></li>
    </ul>
  </div>
</div>
<h2> My Website (<%=  @website.url %>)</h2>
<br/>
<div class="tabbable  span12">
  <ul class="nav nav-tabs">
    <li  class="active" ><a href="#1" data-toggle="tab">Pages</a></li>
    <li   ><a href="#facebook" data-toggle="tab">Facebook Pages</a></li>
    <li><a href="#seo" data-toggle="tab">Website SEO Statistics</a></li>
    <li><a href="#messages" data-toggle="tab">Incomming Messages</a></li>
  </ul>



  <div class="tab-content">

    <div class="tab-pane active" id="1">
      <%= render :partial => 'pages' %>
    </div>


    <div class="tab-pane" id="facebook">
       <%= render :partial => 'facebook_pages' %>
    </div>


    <div class="tab-pane" id="promotions">
       <%= render :partial => 'promotion_pages' %>
    </div>
    
    <div class="tab-pane " id="style">
       <%= render :partial => 'style' %>
    </div>
    <div class="tab-pane" id="seo">
       <%= render :partial => 'seo' %>
    </div>
    <div class="tab-pane" id="messages">
       <%= render :partial => 'messages' %>
    </div>
  </div>
</div>



</div>