<% @channel = current_user.brand.get_channel("facebook") %>



<style>
  h1 img{
    vertical-align: top;
  }
</style>

<subview ui-associations="withNavBar ">
  <scrollpanel>

    <stack id="stackpanel_01" ui-implements="segmented-toggle-stack">

    </stack>

    <tableview>       
      <tableheader>
        My Website
      </tableheader>

      <tablecell>
        <table width="100%">
          <tr style="vertical-align:top;font-size:13px;">
            <td width="50%" style="border-right:1px solid #333;">
              <b>Visitors</b><br/>
              <span class="big-number"><%= number_with_delimiter(@channel.fans.where(:kind => "fan").count) %></span>
            </td>
            <td width="50%"  >
              <b>Forms</b><br/>
              <span class="big-number"><%= number_with_delimiter(@channel.comments.count) %></span>
            </td>
          </tr>
        </table>
      </tablecell>

      <tablecell style="text-align: center">
        Visitors by channel<hr/>
        <%= image_tag Gchart.pie( 
          :labels => ["Facebook","Twitter","Youtube", "Email"],  
          :data => [ @brand.get_channel("facebook").chart_line_1(4)], 
          :size => "300x160", 
          :bar_colors => '67a1db') %> 
      </tablecell>

      <tableheader>
        Site SEO
      </tableheader>
      <tablecell>
        <table class="table table-striped">
          <tr>
            <th class="mobile-td-title">  </th> 
            <th class="mobile-td-value" >Google</th>
            <th class="mobile-td-value" >Bing</th>
          </tr>
          <% 4.times do  %>
            <tr>
              <td class="mobile-td-title"> <%= lorem(2) %> </td> 
              <td class="mobile-td-value" ><%= number_with_delimiter rand(@channel.fans.where(:kind => "fan").count) %></td>
              <td class="mobile-td-value" ><%= number_with_delimiter rand(@channel.fans.where(:kind => "fan").count) %></td>
            </tr>
          <% end %>
        </table>
      </tablecell>
      <% posts = [] %>
      <% posts = @channel.posts.where(:kind => 'fan_page').order('posted_at DESC')  if @channel.facebook?%>
      <% posts = @channel.posts.where(:kind => 'video').order('posted_at DESC')  if @channel.youtube? %>
      <% posts = @channel.posts.order('posted_at DESC')  if @channel.twitter? %>

    </tableview>

      <tableview>
      <tableheader>
        Incomming messages
      </tableheader>

      <% for post in current_user.brand.inquieries do  %>
          <tablecell ui-usage="image">
            <celltitle><%= link_to post.name , post%></celltitle>
            <celldetail><%= link_to strip_html(post.message) , post%> <br/> <%= post.email  %> </celldetail>
          </tablecell>
        <% end %>

      </tableview>

  </scrollpanel>

  
  </subview>



  <style>
    .summary{
      width:100%;
      padding:0.4em;
    }
    .summary h5{
      font-size: 22px;
      color:#990000;
    }

    .summary td{
      text-align: center;
      font-size: 12px;
      color:#004099;
    }
    .rate{
      font-size:14px;
      font-weight: bold;
    }
  </style>