
<% @fb = current_user.brand.get_channel("facebook") %>
<div class="row-fluid">

  <div class="thumbnail span12">
    <div class="modal-header">

      <div class="pull-right item_command">
        <a href="/site/<%=@brand.id%>" target ="_blank"><i class="icon-eye-open"></i> Preview website</a>
        <a href="/websites/<%= @brand.site.id %>/edit" ><i class="icon-cog"></i> Edit site info </a>
        <a id="xwebsite-wizard" href="/websites/stats?id=<%=@website.id%>" ><i class="icon-bar-chart"></i> Statistics </a>

      </div>


      <table width="50%">
        <tr style="vertical-align: top;">
          <td width="48px">
            <%= image_tag("/assets/flat/globe-5-64.png") %>
          </td>
          <td >
            <h2 style="margin-top:3px;">My Website</h2>
          </td>
        </tr>
      </table>
      <br/>
    </div>


    <div class="tabbable ">
      <div class="item_command pull-right">

      </div>
      <br/>
      <ul class="nav nav-tabs">

        <div class="pull-right">
          Short URL: <%= @website.url %>&nbsp;
        </div>

        <li class="active"><a href="#pages" data-toggle="tab"> Site Pages</a></li>
        <%#*<li><a href="#campaigns" data-toggle="tab">Campaigns landing pages</a></li>%>
        <%#*<li><a href="#newsletter" data-toggle="tab">Newsletter</a></li>%>
        <%#*<li><a href="#messages" data-toggle="tab"> Inquiries</a></li>%>
        <li><a href="#keywords" data-toggle="tab"> Keywords</a></li>
        <li><a href="#competitors" data-toggle="tab"> Competitor Sites</a></li>
      </ul>
      <div class="tab-content span11">

        <div class="tab-pane active" id="pages">

          <div class="pull-right">
            <% @page = Page.new( :website_id => @brand.site.id)  %>
            <%= form_for @page, :html => { :class => 'form-inline' } do |f| %>
              New Page Name:
              <%= f.text_field :name, :class => 'text_field' %>
              <%= f.hidden_field :website_id, :value => @brand.site.id%>
              <button type="submit" class="btn">Create</button>
              or <a id="website-wizard" href="" > Select from Gallery </a>
              </form>
            <% end %>

          </div>

          <div class="modal-header hide span11" id="div-template-selector"  >
            <%= render :partial => "template_for_new_page" %>
          </div>

          <h3> My Website Pages</h3>


          <hr/>

          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Views</th>
              </tr>
            </thead>
            <tbody>
              <% for page in @brand.site.pages.where(:kind => nil).order("order_in_toolbar ASC") do  %>
                  <tr>
                    <td width="32px"><%= image_tag "/assets/flat/document-file-2-64.png"   %></td>
                    <td>
                      <%= link_to page.name, "/pages/preview?id=#{page.id}&preview=true"  , :target => "_blank"%>
                      <div class="item_command">
                        <a href="/pages/<%=page.id%>/edit" id="btn_post_status"><i class="icon-font"></i> Rename </a>
                        <a href="/websites/move_page?id=<%=page.id%>&direction='up'" ><i class="icon-circle-arrow-up"></i> Move Up </a>
                        <a href="/websites/move_page?id=<%=page.id%>&direction='down'" ><i class="icon-circle-arrow-down"></i> Move Down </a>
                        <%= link_to 'Delete', page_path(page), :method => :delete, :confirm => 'Are you sure?' %>
                      </div>
                    </td>
                    <td width="50px"><%= page.view_count  %> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>


          <div class="tab-pane" id="competitors">

            <h3>Competitors searches</h3>
            <% if @searches.present? %>

              <table class="table datatable">
                <thead>
                  <tr>
                    <th width="32px"></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% for r in @searches do  %>
                      <tr>
                        <td><%= image_tag("/assets/flat/globe-5-64.png") %> </td>
                        <td>
                          <div class="pull-right">
                            <%= r["keyword"] %>
                            <%= r["location"] %>
                          </div>

                          <b> <%= r["title"] %></b><br/>
                          <%= link_to  r["url"],r["url"] %><br/>
                          <%= r["description"] %><br/>

                          <div class="zitem_command">
                            <b>Page Meta:</b><br/> <%= r["meta"]["description"] %> <br/>

                            <% if  r["meta"]["keywords"].present?  and  not r["meta"]["keywords"].empty? %>
                              <b>Keywords:</b><br/> <%= r["meta"]["keywords"] %><br/>
                            <% end %>

                            <% if r["meta"]["social_links"].present? %>
                              <b>Social Links:</b><br/>
                              <% for item in r["meta"]["social_links"] do %>
                                  <%=  link_to item %>
                                <% end %>
                              <% end %>
                            </div>


                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>

                <% end %>



                <br/>
              </div>



              <div class="tab-pane" id="keywords">

                <div class="row-fluid">
                  <div class="span6">
                    <h3>Website Keywords</h3>
                    <table class="table">
                      <tr>
                        <th>Keyword</th>
                        <th>Google</th>
                        <th>Bing</th>
                      </tr>
                      <% for item in @website.keywords.split(",") %>
                        <tr style="vertical-align:top">
                          <td>
                            <%= item %>
                          </td>
                          <td>
                            <%= "--" %>
                          </td>
                          <td>
                            <%= "--" %>
                          </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>


                  <div class="span5">
                    <h3>Competitors Keywords</h3>
                    <table class="table">
                      <tr>
                        <th>Keyword</th>
                        <th>Found</th>
                        <th width="30px"></th>
                      </tr>
                      <% unless @competitors_keywords.nil? %>
                        <% for item in @competitors_keywords.each do  %>
                            <tr style="vertical-align:top">
                              <td>
                                <%= item[:key] %>
                              </td>
                              <td>
                                <%= item[:value] %>
                              </td>
                              <td>
                                <%= link_to "Add" %>
                              </td>
                            </tr>
                          <% end %>
                        <% end %>
                      </table>
                    </div>
                  </div>


                </div>


                    </div>
                  </div>
                </div>
              </div>



              <script>
                $(document).ready(function() {
                  $('#myCarousel').carousel();
                  $(document).on("click", "#website-wizard", function () {
                    $("#div-template-selector").slideToggle(400);
                    return false;
                  }); 
                }); 
              </script>




