
<% content_for :head do  %>
  <link rel="stylesheet" href="//cdn.oesmith.co.uk/morris-0.4.1.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
<% end %>


<div class="row-fluid thumbnail">
  <div class="modal-header">
    <div class="pull-right item_command">
      <i class="icon-globe"></i> <%= link_to "Website " ,"/websites/#{@website.id}" %>
      <i class="icon-bar-chart"></i> <%= link_to "Social Networks" ,"/scores?social=1" %>
      <i class="icon-bar-chart"></i> <%= link_to "Email Marketing" ,"/scores?email=1" %>
    </div>
    <h3><%= image_tag "/assets/flat/bar-chart-4-64.png" , :size => "48x48"%> Website Visitors and Engaged users</h3>
  </div>

  <div class="span7">
    <h3>30 days website visitor</h3><hr/>
    <div id="chart-visitors" style="height: 250px;"></div>
  </div>

  <div class="span4">
    <h3>Where do visitors come from?</h3><hr/>
    <div id="chart-keywords" style="height: 250px;"></div>
  </div>
</div>
<br/>


<div class="row-fluid thumbnail">
  <div class="modal-header">
    <h3> <%= image_tag "/assets/flat/inbox-8-64.png" %> Engaged Visitors </h3>
  </div>
<div class="span7">
    <h3>Form submissions</h3><hr/>
    <div id="chart-engaged" style="height: 250px;"></div>
  </div>

  <div class="span4">
    <h3>Where do visitors come from?</h3><hr/>
    <div id="chart-engaged-location" style="height: 250px;"></div>
  </div>

</div>
<br/>





<div class="row-fluid thumbnail">
<div class="span11">
    <h3>Keywords location on Search Engine</h3><hr/>
    <table class="table">
      <tr>
        <th>Keyword</th>
        <th>Google</th>
        <th>Bing</th>
      </tr>
      <% for item in @website.keywords.split(",") do  %>
      <tr>
        <td><%= item  %> </td>
        <td> -- </td>
        <td> -- </td>
      </tr>
      <% end %>
    </table>
  </div>

</div>
<br/>



<div class="row-fluid thumbnail">
  <div class="modal-header">
    <h3> <%= image_tag "/assets/flat/link-64.png" %>  User clicks on website short links (<%= @website.url %>)</h3>
  </div>
  <div class="span4">
    <h3>Where do visitors come from?</h3><hr/>
    <div id="chart-browsers" style="height: 250px;"></div>
  </div>

  <div class="span3">
    <h3>Visitors by country</h3><hr/>
    <div id="chart-countries" style="height: 250px;"></div>
  </div>
  <div class="span4">
    <h3>Visitors by referrers</h3><hr/>
    <div id="chart-referrers" style="height: 250px;"></div>
  </div>




</div>



<script>
  
  
  new Morris.Line({
    // ID of the element in which to draw the chart.
    element: 'chart-visitors',
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    data: gon.web_chart_1_data ,
    // The name of the data record attribute that contains x-values.
    xkey: 'year',
    // A list of names of data record attributes that contain y-values.
    ykeys: ['value'],
    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Value']
  });
  
  
  
  new Morris.Line({
    // ID of the element in which to draw the chart.
    element: 'chart-engaged',
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    data: gon.web_chart_1_data ,
    // The name of the data record attribute that contains x-values.
    xkey: 'year',
    // A list of names of data record attributes that contain y-values.
    ykeys: ['value'],
    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Value'],
    colors: [
      '#e04006',
      '#e08936'
    ]
  });
  
  Morris.Donut({
    element: 'chart-engaged-location',
    data: [
      {value: 70, label: 'Petach Tikva'},
      {value: 15, label: 'Spain'},
      {value: 10, label: 'IPAD'},
      {value: 5, label: 'IPHONE'}
    ],
    backgroundColor: '#ccc',
    labelColor: '#e04006',
    colors: [
      '#e04006',
      '#e08936',
      '#56aaff',
      '#95D7BB'
    ],
    formatter: function (x) { return x + "  Visitors"}
  });

  
  Morris.Donut({
    element: 'chart-keywords',
    data: [
      {value: 70, label: 'Chrome'},
      {value: 15, label: 'IE'},
      {value: 10, label: 'IPAD'},
      {value: 5, label: 'IPHONE'}
    ],
    backgroundColor: '#ccc',
    labelColor: '#e04006',
    colors: [
      '#e04006',
      '#e08936',
      '#56aaff',
      '#95D7BB'
    ],
    formatter: function (x) { return x + "  Visitors"}
  });

  
  
  Morris.Donut({
    element: 'chart-referrers',
    data: [
      {value: 70, label: 'Facebook'},
      {value: 15, label: 'Twitter'},
      {value: 10, label: 'Email Campaign'},
      {value: 5, label: 'Google'}
    ],
    backgroundColor: '#ccc',
    labelColor: '#e04006',
    colors: [
      '#e04006',
      '#e08936',
      '#56aaff',
      '#95D7BB'
    ],
    formatter: function (x) { return x + " clicks"}
  });
  
  
  
  
  Morris.Donut({
    element: 'chart-browsers',
    data: [
      {value: 70, label: 'Chrome'},
      {value: 15, label: 'IE'},
      {value: 10, label: 'IPAD'},
      {value: 5, label: 'IPHONE'}
    ],
    backgroundColor: '#ccc',
    labelColor: '#e04006',
    colors: [
      '#e04006',
      '#e08936',
      '#56aaff',
      '#95D7BB'
    ],
    formatter: function (x) { return x + "  Visitors"}
  });


  Morris.Donut({
    element: 'chart-countries',
    data: [
      {value: 30, label: 'Israel'},
      {value: 15, label: 'Canada'},
      {value: 10, label: 'Germany'}
    ],
    backgroundColor: '#ccc',
    labelColor: '#e04006',
    colors: [
      '#e04006',
      '#e08936',
      '#56aaff'
    ],
    formatter: function (x) { return x + " Visitors"}
  });
  
  

  
  
  
</script>
