<% @bl = @brand.get_channel("blogger") %>
<div class="row-fluid">

  <div class="tabbable thumbnail span12">

    <div class="pull-right item_command" style="padding:1em;">
      <%= link_to raw("<i class='icon-envelope'></i> Email Marketing") , "/bulk_mails"%>
      <%= link_to raw("<i class='icon-globe'></i> website") , "/websites/#{@brand.site.id}"   %>
      <%= link_to raw("<i class='icon-cog'></i> Setup") , "/channels/#{@channel.id}/edit"   %>
    </div>


    <h2>&nbsp;<%= image_tag @bl.icon, :size => "48x48" %> Blogger</h2><hr/>
    <ul class="nav nav-tabs">
      <li class="active" ><a href="#profile" data-toggle="tab"> Profile</a></li>
      <li  ><a href="#articles" data-toggle="tab"> Articles</a></li>
      <li  ><a href="#comments" data-toggle="tab"> User Engagment</a></li>
    </ul>
    <div class="tab-content" style="padding:0.5em;">

        <div class="tab-pane " id="articles">
          <h3>Articles on wordpress blog</h3>
        </div>


        <div class="tab-pane " id="comments">
          <h3>User comments</h3>
        </div>


        <div class="tab-pane active " id="profile">
          <h3>Profile</h3>
          <%= lorem(30) %>
        </div>


      </div>

    </div>
  </div>

