<% @db = @brand.get_channel("dropbox") %>
<div class="row-fluid">

  <div class="tabbable thumbnail span12">

    <div class="pull-right item_command" style="padding:1em;">
      <%= link_to raw("<i class='icon-envelope'></i> Email Marketing") , "/bulk_mails"%>
      <%= link_to raw("<i class='icon-globe'></i> website") , "/websites/#{@brand.site.id}"   %>
      <%= link_to raw("<i class='icon-cog'></i> Setup") , "/channels/#{@channel.id}/edit"   %>
    </div>


    <h2>&nbsp;<%= image_tag @db.icon, :size => "48x48" %> DropBox</h2><hr/>
    <ul class="nav nav-tabs">
      <li class="active" ><a href="#profile" data-toggle="tab"> Profile</a></li>
      <li  ><a href="#pictures" data-toggle="tab">  Pictures</a></li>
    </ul>
    <div class="tab-content" style="padding:0.5em;">

      <div class="tab-pane " id="articles">
        <h3>Articles on wordpress blog</h3>
        <table class="table datatable">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for item in @my_posts do  %>
                <tr>
                  <td width="48px"><%= image_tag item.channel.icon %></td>
                  <td>
                    <div class="pull-right"><%= time_ago_in_words  item.posted_at %></div>
                    <b><%= item.title %></b><br/><%= item.short_body %>
                    <div class="item_command">
                      <%= render :partial => "shared/share_post_bar" , :locals => {:post => item} %>
                    </div>
                  </td>
                </tr>
              <% end  %>
            </tbody>
          </table>
        </div>


        <div class="tab-pane " id="pictures">
          <h3>Website Images</h3>

        </div>


        <div class="tab-pane active " id="profile">
          <h3>Profile</h3>
          <table class="table">
            <tr>
              <td>URL:</td>
              <td><%= @channel.posts_feed %></td>
            </tr>
            <tr>
              <td>Email :</td>
              <td><%= @channel.email %></td>
            </tr>
            <tr>
              <td>Articles :</td>
              <td><%= @my_posts.count %></td>
            </tr>
            <tr>
              <td>Comments :</td>
              <td><%= "--" %></td>
            </tr>
            <tr>
              <td>Commenters :</td>
              <td><%= "--" %></td>
            </tr>
          </table>
        </div>


      </div>

    </div>
  </div>

