

<div class="row-fluid"-fluid">

     <div class="thumbnail span12">

    <div class="pull-right item_command" style="padding:1em;">
      <%= link_to raw("<i class='icon-cog'></i> Setup") , "/channels/#{@channel.id}/edit"   %>
      <%= link_to raw("<i class='icon-facebook'></i> Post Status") , ""   , :id => "twit"%>
      <%= link_to raw("<i class='icon-bar-chart'></i> Statistics") , "/scores?social=1"   , :id => "xtwit"%>
    </div>


    <h2> <%= image_tag(@channel.icon, :size => "48x48" , :style => "vertical-align:top;margin-top:0.2em;padding-left:0.3em;") %> Facebook Marketing</h2><hr/>


    <div class="row-fluid"-fluid" id="post-dialog"  style="display:none">
         <div class="xthumbnail span12" >
             <% @facebook_post = Post.new %>
             <%= form_for @facebook_post, :html => { :class => 'form-horizontal' } do |f| %>
          <div class="modal-header">
            <h3>Post to Fan page </h3>
          </div>
          <div class="modal-header">

            <%= f.hidden_field :channel_id , :value => @channel.id %>
            <%= f.hidden_field :brand_id , :value => @brand.id %>
            <%= f.hidden_field :kind , :value => "facebook-post" %>

            <textarea style="height:40px;width:100%" width="100%" name="post[body]"></textarea>
            <br/>
            <br/>

            <div class="pull-right">
              <button class="btn btn-info">Post Status</button>
            </div>

            <select name="post[from_name]" class="span2">
              <option> Select Article to Load</option>
              <% for item in @brand.articles.where( "short_url IS NOT NULL") do  %>
                  <option value ="<%= item.id %>"><%= item.name %>  </option>
                <% end %>
              </select> 

              &nbsp;&nbsp;
              <%= text_field "post", "target_link" , :value => "paste image or movie url" , :class => "span2"%>

              &nbsp;&nbsp;Post to:
              <select name="post[to]" class="span2">
                <% for item in @channel.fan_pages do  %>
                    <option value="<%= item['id'] %>"><%= item["name"] %></option>
                  <% end %>
                </select>

                &nbsp;&nbsp; <input type="checkbox" name="track"> Track</input>
              </div>
            <% end %>
          </div>
        </div>



        <div class="tabbable  ">
          <ul class="nav nav-tabs">
            <li class="active" ><a href="#profile" data-toggle="tab">Profile</a></li>
            <li ><a href="#fan-pages" data-toggle="tab">Fan Pages</a></li>
            <li ><a href="#fans" data-toggle="tab">Fans</a></li>
            <li ><a href="#groups" data-toggle="tab">Group Posts</a></li>
            <li><a href="#messages" data-toggle="tab">Messages</a></li>
            <li><a href="#mentions" data-toggle="tab">User engagment</a></li>
          </ul>
          <div class="tab-content">

            <div class="tab-pane active" id="profile">
              <div class="row-fluid"">
                   <div class="span6" style="padding-left: 1em;">



                  <table class="table hidden ">

                    <tr class="hidden">
                      <td width="100px"><%= image_tag(@channel.profile_image_url)%> </td>
                      <td>
                        <h3><%= @channel.profile_name %></h3>
                        <%= @channel.profile_description %><br/>

                      </td>
                    </tr>
                  </table>


                  <table class="table">
                    <tr>
                      <td colspan="2"><h3>My Fan pages</h3></td>
                    </tr>
                    <% for page in @brand.fan_pages do  %>
                        <tr>
                          <td width="160px" ><%= image_tag(page.image_url) %></td>
                          <td >
                            <h5> <%= page.name %> </h5>
                            <i class="icon-thumbs-up"></i> Likes: <%= number_with_delimiter page.likes %><br/>
                            <i class="icon-file"></i> Posts: <%=  number_with_delimiter page.posts%><br/>
                            <i class="icon-comment"></i> Comments: <%=  number_with_delimiter page.comments%><br/>
                          </td>
                        </tr>
                      <% end %>
                    </table>

                    <table class="table">
                      <tr>
                        <td >
                          <h5> Exposure </h5><hr/>
                          <i class="icon-bullhorn"></i> Potential exposure: <%= number_with_delimiter @channel.exposure_mark %><br/>
                          <i class="icon-eye-open"></i> actual viewes: <%=  @channel.trackers.count%><br/>
                          <i class="icon-comment"></i> post per week: <%=rand(20)%><br/>
                        </td>
                        <td >
                          <h5> User engagment </h5><hr/>
                          <i class="icon-group"></i> Friends: <%= number_with_delimiter @channel.fans.where(:kind => "fan").count %><br/>
                          <i class="icon-group"></i> comments: <%=  number_with_delimiter @channel.comments.count%><br/>
                          <i class="icon-group"></i> commenters: <%=  number_with_delimiter @channel.engaged_users.count%><br/>
                          <i class="icon-thumbs-up"></i> likes: <%=  rand(200)%><br/>
                        </td>
                      </tr>
                    </table>

                  </div>
                  <div class="span5">
                    <table class="table ">
                      <thead>
                        <tr>
                          <th> New Notifications </th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for item in @notifications do  %>
                            <tr>
                              <td><%= link_to item.title , item.target_link , :target => "_blank"%> <br/> <%= item.body %></td>

                            </tr>
                          <% end %>
                        </tbody>
                      </table>


                      <table class="table">
                        <tr>
                          <td><h5> New Friends</h5></td>
                        </tr>
                        <tr>
                          <td>
                            <% for item in @new_fans do  %>
                                <div class="pull-left">
                                  <div  style="margin:0.4em;">
                                    <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%=item.id%>"  ><%=  image_tag(item.profile_image , :size => "48x48", :style => "max-height:none;height: 48px;")%></a>
                                  </div>
                                </div> 
                              <% end %>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>




                  </div>

                  <div class="tab-pane " id="recommendations">
                    <div class="row-fluid"-fluid">

                         <div class="span7">
                        <h3>Group posts</h3><hr/>
                        <table class="table datatable">
                          <thead>
                            <tr>
                              <th width="32px"> </th>
                              <th>Message</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for item in @channel.posts.where(:kind => "group").order("posted_at DESC") do  %>
                                <tr>
                                  <td> <%= image_tag( item.img, :size => "32x32") %> </td>
                                  <td>
                                    <b><%=item.title%> </b><br/><%= item.body[0..200] unless item.body.nil?  %> <br/> <%= item.from_name %> <%= time_ago_in_words item.posted_at  %>
                                    <div class="item_command">
                                      <a href="<%=item.target_link%>"  target="_blank"><i class="icon-edit"></i> Reply</a>
                                      <%= render :partial => "shared/share_post_bar" , :locals => {:post => item} %>
                                      <a href="/fans/ignore?id=<%=item.id%>&redirect=<%=request.original_url%>"><i class="icon-remove-sign"></i> ignore</a>
                                    </div>
                                  </td>
                                </tr>
                              <% end %>
                            </tbody>
                          </table>
                        </div>
                        <div class="span5">


                          <table class="table">
                            <tr>
                              <td><h5> Recommeded competitors </h5></td>
                            </tr>
                            <tr>
                              <td>
                                <% for item in @competitors do  %>
                                    <div class="pull-left">
                                      <div  style="margin:0.4em;">
                                        <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%=item.id%>"  ><%=  image_tag(item.profile_image , :size => "48x48", :style => "max-height:none;height: 48px;")%></a>
                                      </div>
                                    </div>
                                  <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><h5> Recommeded Groups </h5></td>
                              </tr>
                              <tr>
                                <td>

                                  <% for item in @groups do  %>
                                      <div class="pull-left">
                                        <div  style="margin:0.4em;">
                                          <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%=item.id%>"  ><%=  image_tag(item.profile_image , :size => "48x48", :style => "max-height:none;height: 48px;")%></a>
                                        </div>
                                      </div>
                                    <% end %>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane " id="groups">
                          <div class="row-fluid"-fluid">

                               <div class="span8">
                              <h3>Group posts</h3><hr/>
                              <table class="table datatable">
                                <thead>
                                  <tr>
                                    <th width="32px"> </th>
                                    <th>Message</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% for item in @channel.posts.where(:kind => "group").order("posted_at DESC") do  %>
                                      <tr>
                                        <td> <%= image_tag( item.img, :size => "32x32") %> </td>
                                        <td>
                                          <b><%=item.title%> </b><br/><%= item.body[0..200] unless item.body.nil?  %> <br/> <%= item.from_name %> <%= time_ago_in_words item.posted_at  %>
                                          <div class="item_command">
                                            <a href="<%=item.target_link%>" target="_blank"><i class="icon-edit"></i> Reply</a>
                                            <%= render :partial => "shared/share_post_bar" , :locals => {:post => item} %>
                                          </div>
                                        </td>
                                      </tr>
                                    <% end %>
                                  </tbody>
                                </table>
                              </div>
                              <div class="span3">


                                <table class="table">
                                  <tr>
                                    <td><h5> Recommeded Groups </h5></td>
                                  </tr>
                                  <tr>
                                    <td>

                                      <% for item in @groups do  %>
                                          <div class="pull-left">
                                            <div  style="margin:0.4em;">
                                              <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%=item.id%>"  ><%=  image_tag(item.profile_image , :size => "48x48", :style => "max-height:none;height: 48px;")%></a>
                                            </div>
                                          </div>
                                        <% end %>
                                      </td>
                                    </tr>
                                  </table>



                                </div>
                              </div>
                            </div>


                            <div class="tab-pane " id="mapx">


                              <div class="row-fluid"-fluid">
                                   <div class="span6">
                                  <table class="table">
                                    <tr>
                                      <td>
                                        <h5>Viewers Locations</h5>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <%= image_tag "/assets/map.png" , :width => "100%"%>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                                <div class="span5">
                                  <table class="table">
                                    <% unless @channel.trackers.empty? %>
                                      <tr>
                                        <td>
                                          <%= render :partial => 'shared/trackers' , :locals => {:trackers => @channel.trackers.limit(10)} %>
                                        </td>
                                      </tr>
                                    <% end %>
                                  </table>

                                </div>
                              </div>

                              <%
                              @people = @brand.fans.where("location is not null")
                            %>

                            </div>




                            <div class="tab-pane " id="fans">

                              <div class="row-fluid"">
                                   <div class="span8">
                                  <h3>Friends</h3><hr/>
                                  <table class="table datatable">
                                    <thead>
                                      <tr>
                                        <th width="48px"> </th>
                                        <th>Name</th>
                                        <th width="50px">Friends</th>
                                        <th width="50px">Posts</th>
                                      </tr>
                                    </thead>
                                    <tbody>

                                      <% for item in @fans do  %>
                                          <tr>
                                            <td> <%= image_tag(item.profile_image, :size => "48x48" , :style => "max-height:none;") %> </td>
                                            <td>
                                              <%= link_to item.name , item  %> 
                                              <br/>
                                              <div class="item_command">
                                                <a href="http://www.facebook.com/addfriend.php?id=<%=item.uid%>" target="_blank"><i class="icon-glass"></i> invite</a>
                                                <a href="/fans/search?name=<%=item.name%>"><i class="icon-search"></i> search</a>
                                                <a href="/fans/competitor?id=<%=item.id%>&redirect=<%=request.original_url%>"><i class="icon-star"></i> Competitor!</a>
                                              </div>
                                            </td>
                                            <td><%= number_with_delimiter item.friends_count  %> </td>
                                            <td><%= number_with_delimiter item.posts_count  %> </td>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                  </div>
                                  <div class="span3">
                                    <h3>Fans Gender </h3><hr/>
                                    <div style="text-align:center;">
                                      <%= image_tag Gchart.pie( :labels => ["Male","Female"],  :data => [ @brand.get_channel("facebook").chart_line_1(2)], :size => "300x160",  :bar_colors => '67a1db') %> 
                                    </div>
                                    <br/>
                                    <h3>Fans by country </h3><hr/>
                                    <div style="text-align:center;">
                                      <%= image_tag Gchart.pie( :labels => ["Israel","Germany","France", "Canada"],  :data => [ @brand.get_channel("facebook").chart_line_1(4)], :size => "300x160",  :bar_colors => '67a1db') %> 
                                    </div>
                                    <br/>
                                  </div>
                                </div>
                              </div>

                              <div class="tab-pane " id="competitors">

                                <div class="row-fluid"-fluid">
                                     <div class="span12">
                                    <div class="pull-right">
                                      <span class="item_command">
                                        <i class="icon-search"></i> <%= link_to @brand.competitor_search , "/brands/searches" %>
                                      </span>
                                    </div>
                                    <h3>Potential Competitors</h3><hr/>
                                    <table class="table datatable">
                                      <thead>
                                        <tr>
                                          <th width="48px"> </th>
                                          <th>Name</th>
                                          <th width="50px">Friends</th>
                                          <th width="50px">Likes</th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                        <% for item in @competitors do  %>
                                            <tr>
                                              <td> <%= image_tag(item.profile_image, :size => "48x48" , :style => "max-height:none;") %> </td>
                                              <td>
                                                <%=  link_to item.name  , item %> 
                                                <br/>
                                                <%= item.short_bio %> [<%= item.location %> ]
                                                <div class="item_command">
                                                  <a href="http://www.facebook.com/addfriend.php?id=<%=item.uid%>" target="_blank"><i class="icon-glass"></i> invite</a>
                                                  <a href="<%=item.website%>" target="_blank"><i class="icon-globe"></i> Show Page</a>
                                                  <a href="http://www.facebook.com/<%=item.facebook_uid%>" target="_blank"><i class="icon-globe"></i> Show Page</a>
                                                  <a href="/fans/search?name=<%=item.name%>"><i class="icon-search"></i> search</a>
                                                  <a href="/fans/ignore?id=<%=item.id%>&redirect=<%=request.original_url%>"><i class="icon-remove-sign"></i> ignore</a>
                                                  <a href="/fans/competitor?id=<%=item.id%>&redirect=<%=request.original_url%>"><i class="icon-star"></i> Competitor!</a>
                                                </div>
                                              </td>
                                              <td><%= number_with_delimiter item.friends_count  %> </td>
                                              <td><%= number_with_delimiter 0  %> </td>
                                            </tr>
                                          <% end %>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>

                                <div class="tab-pane " id="prospects">

                                  <div class="row-fluid"">
                                       <div class="span12">
                                      <div class="pull-right">
                                        <span class="item_command">
                                          <i class="icon-search"></i> <%= link_to @brand.prospect_search , "/brands/searches" %>
                                        </span>
                                      </div>
                                      <h3>Potential Prospects</h3><hr/>
                                      <table class="table datatable">
                                        <thead>
                                          <tr>
                                            <th width="48px"> </th>
                                            <th>Name</th>
                                            <th width="50px">Friends</th>
                                            <th width="50px">Wall Posts</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <% for item in @prospects do  %>
                                              <tr>
                                                <td> <%= image_tag(item.profile_image, :size => "48x48" , :style => "max-height:none;") %> </td>
                                                <td><%= link_to item.name , item %> 
                                                  <br/>

                                                  <%= item.short_bio  %>
                                                  <div class="item_command">
                                                    <a href="http://www.facebook.com/addfriend.php?id=<%=item.uid%>" target="_blank"><i class="icon-glass"></i> invite</a>
                                                    <a href="/fans/search?name=<%=item.name%>"><i class="icon-search"></i> search</a>
                                                    <a href="/fans/ignore?id=<%=item.id%>&redirect=<%=request.original_url%>"><i class="icon-remove-sign"></i> ignore</a>
                                                    <a href="/fans/competitor?id=<%=item.id%>&redirect=<%=request.original_url%>"><i class="icon-star"></i> Competitor!</a>
                                                  </div>
                                                </td>
                                                <td><%= number_with_delimiter item.friends_count  %> </td>
                                                <td><%= number_with_delimiter item.posts_count %> </td>
                                              </tr>
                                            <% end %>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>


                                  <div class="tab-pane " id="fan-pages">

                                    <h3>My Fan pages posts</h3><hr/>
                                    <table class="table datatable">
                                      <thead>
                                        <tr>
                                          <th width="32px"> </th>
                                          <th>Message</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% for item in @my_posts do  %>
                                            <tr>
                                              <td> <%= image_tag( item.img, :size => "32x32") %> </td>
                                              <td>
                                                <div class="pull-right">
                                                  <%= item.posted_ago  %>
                                                </div>
                                                <b><%= item.from_name %> </b><br/>
                                                <%= item.short_body  %>
                                                <div class="item_command">
                                                  <a href="<%=item.target_link%>"  target="_blank"><i class="icon-edit"></i> Reply</a>
                                                  <%= render :partial => "shared/share_post_bar" , :locals => {:post => item} %>
                                                </div>
                                              </td>
                                            </tr>
                                          <% end %>
                                        </tbody>
                                      </table>
                                    </div>



                                    <div class="tab-pane " id="messages">
                                      <div class="row-fluid"-fluid">
                                           <div class="span12">
                                          <h3>Incomming messages</h3><hr/>
                                          <table class="table datatable">
                                            <thead>
                                              <tr>
                                                <th> </th>
                                                <th width="130px">From</th>
                                                <th>Message</th>
                                                <th width="120px">Posted</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <% for item in @messages do  %>
                                                  <tr>
                                                    <td> <%= image_tag( item.image_url, :xsize => "32x32") %> </td>
                                                    <td><%= item.from_name %> </td>
                                                    <td>
                                                      <%= item.body  %> <br/>
                                                      <div class="item_command">
                                                        <a href="https://www.facebook.com/messages/<%=item.from_uid%>" target="_blank"><i class="icon-envelope"></i> reply</a>
                                                        <a href="/fans/search?name=<%=item.from_name%>"><i class="icon-search"></i> search</a>
                                                        <a href=""><i class="icon-remove-sign"></i> ignore</a>
                                                      </div>
                                                    </td>
                                                    <td><%= time_ago_in_words item.posted_at  %> </td>
                                                  </tr>
                                                <% end %>
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="tab-pane" id="notifications">

                                        <table class="table datatable">
                                          <thead>
                                            <tr>
                                              <th> </th>
                                              <th>Message</th>
                                              <th>Posted</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <% for item in [] do  %>
                                                <tr>
                                                  <td> <%= image_tag( "https://graph.facebook.com/#{item['sender_id']}/picture") %> </td>
                                                  <td><%= item["title_text"]  %> <br/> <%= item['body_text'] %></td>
                                                  <td><%= time_ago_in_words(Time.now - item["created_time"])  %> </td>
                                                </tr>
                                              <% end %>
                                            </tbody>
                                          </table>

                                        </div>

                                        <div class="tab-pane" id="mentions">
                                          <div class="row-fluid"">
                                               <div class="span8">
                                              <h3>Users comments</h3><hr/>
                                              <table class="table datatable">
                                                <thead>
                                                  <tr>
                                                    <th width="32px"> </th>
                                                    <th>Name </th>
                                                    <th>Message</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <% for item in @channel.comments.where(:kind => "facebook_comment")  do  %>
                                                      <tr>
                                                        <td><%= safe_image_tag("https://graph.facebook.com/#{item.from_uid}/picture") %></td>
                                                        <td><%= item.name  %></td>
                                                        <td>
                                                          <%= item.message  %>

                                                          <div class="item_command">
                                                            <a href="#postModal"  data-toggle="modal" class="cmd-repost-news"  data-post-body="<%=item.message%>" ><i class="icon-share"></i> share</a>
                                                            <a href="<%=item.target_link%>" target="_blank"><i class="icon-edit"></i> reply</a>
                                                            <a href="/fans/search?name=<%=item.name %>"><i class="icon-search"></i> search</a>
                                                            <a href=""><i class="icon-remove-sign"></i> ignore</a>
                                                          </div>
                                                        </td>
                                                      </tr>
                                                    <% end %>
                                                  </tbody>
                                                </table>
                                              </div>

                                              <div class="span4">

                                                <table class="table">
                                                  <tr>
                                                    <td>
                                                      <h5>Users mentioning me</h5>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td>
                                                      <% for item in @channel.fans.where(:kind => "engaged")  do  %>
                                                          <div class="pull-left">
                                                            <div  style="margin:0.4em;">
                                                              <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%item.id%>"  >
                                                                <%= safe_image_tag("https://graph.facebook.com/#{item.uid}/picture") %>
                                                              </a>
                                                            </div>
                                                          </div>
                                                        <% end %>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                  <br/>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>





                                    <script>
                                      $(document).ready(function() {
                                  
                                        $(document).on("click", ".fb-send-message", function() {
                                          FB.ui({
                                            method: 'send',
                                            name: 'People Argue Just to Win',
                                            link: 'http://localhost:3000',
                                          });
                                          return false;
                                        });
                                  
                                  
                                  
                                        $(document).on("click", ".fb-friend-request", function () {
                                          alert("Yo!");
                                          var url = "http://www.facebook.com/dialog/friends/?id=brent&app_id=123050457758183&redirect_uri=http://www.example.com/response/";
                                          $.get(url, function(data) {
                                            $('.result').html(data);
                                            alert('Load was performed.');
                                          });
                                          return false;
                                        });                 
                                      });                 
                 
    
                                    </script>


