<div class="row-fluid">


  <div class="span12">

    <div class="tabbable thumbnail">

      <div class="pull-right item_command" style="padding:1em;">
        <%= link_to raw("<i class='icon-cog'></i> Setup") , "/channels/#{@channel.id}/edit"   %>
        <%= link_to raw("<i class='icon-gift'></i> Post Special") , ""   , :id => "special"%>
      </div>
      <h2> <%= image_tag(@channel.icon, :size => "48x48" , :style => "vertical-align:top;margin-top:0.2em;padding-left:0.3em;") %> Foursquare Marketing</h2><hr/>


      <ul class="nav nav-tabs">
        <li class="active" ><a href="#mapx" data-toggle="tab">  Profile</a></li>
        <li ><a href="#friends" data-toggle="tab">  Recommendations</a></li>
        <li ><a href="#tips" data-toggle="tab">  User engagement</a></li>
        <li ><a href="#campaigns" data-toggle="tab"> Campaigns</a></li>
        <li ><a href="#promotions" data-toggle="tab"> Specials</a></li>

        <li ><a href="#visitors" data-toggle="tab"> Visitors</a></li>
      </ul>
      <div class="tab-content" style="padding:0.5em;">

        <div class="tab-pane  " id="1">

        </div>





        <div class="tab-pane active" id="mapx">
          <%= render :partial => 'foursquare_map' %>
        </div>


        <div class="tab-pane" id="6">
          <h3>Mentions in twitter </h3><hr/>
          <div class="modal-body">
            <table class="table">
              <% for item in @channel.posts.where(:kind => 'engadge').reverse %>
                <tr style="vertical-align:top">
                  <td width="32px"><a   class="cmd-fan" data-fan-id="<%=item.id%>"  >
                      <%=image_tag(item.img , :size => "32x32")%></a></td>
                  <td>
                    <a data-toggle="modal"  class="cmd-repost" href="#postModal"  data-post-id="<%=item.id%>">
                      <b><i class="icon-user"></i> <%=  item.from %></b><br/>
                      <%=  item.plain_text %>
                      <br/><i><%= time_ago_in_words item.created_at %> </i>
                    </a>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>


        <div class="tab-pane" id="campaigns">
          <h3>Campaigns</h3><hr/>

          <div class="modal-body">
            <table width="100%">
            </table>
          </div>

          <div class="modal-footer">
            <%= link_to "show all messages", "/posts?kind=inbox" %>
          </div>

        </div>



        <div class="tab-pane" id="tips">
          <h3>Tips</h3><hr/>

          <div class="modal-body">
            <table width="100%">
            </table>
          </div>

        </div>


        <div class="tab-pane  " id="friends">
          <h3>Competitors</h3><hr/>

          <div class="modal-body">
            <table class="table">
              <% for item in @competitors %>
                <tr>
                  <td width="32px">
  <%#= image_tag(item[:info]["icon"]) %>
                  </td>
                  <td>
                    <b><%= item.name %></b><br/>
                    <%=  item.location   %>
                    <br/>
                    <i class="icon-globe"></i> Checkins <%#= number_with_delimiter item[:stats]["checkinsCount"] %>
                    <i class="icon-user"></i> Users <%#= number_with_delimiter item[:stats]["usersCount"] %>
                    <i class="icon-comment"></i> Tips <%#= number_with_delimiter item[:stats]["tipCount"] %>
                  </td>
                  <td width="80px"> </td>
                </tr>
              <%end%>

            </table>
          </div>

        </div>


        <div class="tab-pane" id="visitors">
          <h3>Friends </h3><hr/>

          <table class="table">
            <% for f in  @fans do  %>
                <tr>
                  <td width="50px"><%=  image_tag(f.profile_image , :size => "50x50")%></td>
                  <td>
                    <b><%= f.name%></b><br/>
                    <%= f.location %>
                  </td>
                </tr>
              <% end %>
            </table>


            <div class="modal-body">
              <table width="100%">
              </table>
            </div>

            <div class="modal-footer">
              <%= link_to "show all messages", "/posts?kind=inbox" %>
            </div>

          </div>

          <div class="tab-pane" id="promotions">
            <h3>Specials</h3><hr/>

            <table class="table">
              <%# for f in @yaml[:specials][:list]do  %>
              <% for f in []%>
                  <tr>
                    <td>
                      <b><%="#{f["message"]}  "%></b><br/>
                      <%="#{f["description"]}  "%><br/>
                      <i><%="#{f["finePrint"]}  "%></i><br/>
                      <i class="icon-home"><%="#{f["venue"]["name"]}  "%></i><br/>

                    </td>
                  </tr>
                <% end %>
              </table>

            </div>



          </div>
        </div>

      </div>

    </div>
