
<% content_for :head do  %>


  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%= javascript_include_tag "gmaps" %>

  <script type="text/javascript">
    var map;
    $(document).ready(function(){
      map = new GMaps({
        div: '#map',
        lat: 43.652527,
        lng: -79.381961
      });
      
      map.addMarker({
        lat: 43.499,
        lng: -79.03,
        title: 'Lima',
        details: {
          database_id: 42,
          author: 'HPNeo'
        },
        click: function(e){
          if(console.log)
            console.log(e);
          alert('You clicked in this marker');
        }
      });


  <% for item in Fan.all[0..10] do  %>
      
          map.drawOverlay({
            lat: 43.9<%=rand(999)%> ,
            lng: -79.0<%=rand(999)%> ,
            content: '<div class="overlay"><%= image_tag(item.profile_image , :size => "16x16") %> <%= item.name[0..20] %> </div>'
          });

    <% end  %>
      
      
      
      
        $('#geocoding_form').submit(function(e){
          e.preventDefault();
          GMaps.geocode({
            address: $('#address').val().trim(),
            callback: function(results, status){
              if(status=='OK'){
                var latlng = results[0].geometry.location;
                map.setCenter(latlng.lat(), latlng.lng());
                map.addMarker({
                  lat: latlng.lat(),
                  lng: latlng.lng()
                });
              }
            }
          });
        });
      
      
      });
    </script>

  <% end %>

  <div class="row">
    
      <div class="thumbnail span8">
        <div xclass="modal-body">
          <div id="map" class="span8"></div>
        </div>
      </div>
    <br/>
  </div>

  <style>

    #map{
      text-align: center;
      display: block;
      width: 100%;
      height: 450px;
      margin: 0 auto;
  <%#*margin-left: 60px;%>
      -moz-box-shadow: 0px 5px 20px #ccc;
      -webkit-box-shadow: 0px 5px 20px #ccc;
      box-shadow: 0px 5px 20px #ccc;
    }
    #map.large{
      height:300px;
      width:100%;
    }

    .overlay{
      width:100px;
      display:block;
      text-align:center;
      color:#fff;
      font-size:12px;
      line-height:14px;
      opacity:0.8;
      background:#4477aa;
      border:solid 3px #336699;
      border-radius:4px;
      box-shadow:2px 2px 10px #333;
      text-shadow:1px 1px 1px #666;
      padding:0 4px;
    }

    .overlay_arrow{
      left:50%;
      margin-left:-16px;
      width:0;
      height:0;
      position:absolute;
    }
    .overlay_arrow.above{
      bottom:-15px;
      border-left:16px solid transparent;
      border-right:16px solid transparent;
      border-top:16px solid #336699;
    }
    .overlay_arrow.below{
      top:-15px;
      border-left:16px solid transparent;
      border-right:16px solid transparent;
      border-bottom:16px solid #336699;
    }
  </style>