<div class="row">
  <div class="span4">
    <div class="thumbnail" >
      <div class="modal-header  ">
        <div class="pull-right">
          <div class="btn-group">
            <a href="/channels/<%=@channel.id%>/edit" class="btn">Edit</a>
            <a class="btn  dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/channels/scan?id=<%= @channel.id %>"><i class="icon-retweet"></i> Refresh </a></li>
            </ul>
          </div>
        </div>
        <h3> <%= image_tag "/assets/social/gmail.png", :size => "32x32" %>  Gmail Channel</h3>
      </div>
      <div class="modal-header">
        <%= @channel.profile_name %>
      </div>
      <div class="modal-header">
        <table class="table table-striped">
          <tr>
            <td width="150px;"><i class="icon-envelope"></i> <%= "New Messages" %> </td>
            <td><%= @channel.posts.where(:kind => "inbox-unread").count%></td>
          </tr>
          <tr>
            <td width="150px;"><i class="icon-search"></i> <%= "Competitor Emails" %> </td>
            <td><%= @channel.posts.where(:kind => "competitor").count%></td>
          </tr>
          <tr>
            <td width="150px;"><i class="icon-star"></i> <%= "Opportunities" %> </td>
            <td><%= @channel.posts.where(:kind => "opportunities").count%></td>
          </tr>
        </table>
      </div>

      <div class="modal-header">
        <h5>Engadged Users</h5>
      </div>

      <div class="modal-body">
        <% for item in Fan.all.reverse[0..15] do %>
            <div class="pull-left">
              <div  style="margin:0.4em;"><%= image_tag item.profile_image , :size => "32x32" %></div>
            </div>
          <% end %>
        </div>
      </div>

    </div>


    <div class="span8">

      <div class="tabbable thumbnail">

        <div class="pull-right">
          <div class="btn-group btn-danger">
            <a href="" class="btn btn-danger">New Email</a>
            <a class="btn  dropdown-toggle btn-danger" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% for item in @channel.brand.bulk_mails.where(:kind => "autoresponder") do  %>
                  <li><a  data-toggle="modal"  class="cmd-new-email" href="#mailModal"  data-body="<%=item.body%>"  ><i class="icon-envelope"></i> <%= item.name %></a></li>
                <% end %>
              </ul>
            </div>
          </div>


          <h3>&nbsp; Emails</h3><hr/>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#1" data-toggle="tab"> <i class="icon-envelope" ></i> Inbox</a></li>
            <li ><a href="#5" data-toggle="tab"> <i class="icon-share-alt" ></i> Sent</a></li>
            <li ><a href="#6" data-toggle="tab"> <i class="icon-search" ></i> Competitors campaign</a></li>
            <li ><a href="#7" data-toggle="tab"> <i class="icon-star" ></i> Opportunities</a></li>
          </ul>
          <div class="tab-content" style="padding:0.5em;">

            <div class="tab-pane active " id="1">
              <%= render :partial => "shared/inbox" %>
            </div>
            <div class="tab-pane  " id="6">
              <%#= render :partial => "shared/inbox"  , :locals => {:the_type => "competitor"}%>
            </div>
            <div class="tab-pane  " id="7">
              <%#= render :partial => "shared/inbox"  , :locals => {:the_type => "opportunity"}%>
            </div>




            
              <div class="tab-pane" id="4">
                <h3>Messages and Notifications </h3><hr/>

                <div class="modal-body">
                  <table width="100%">
                  </table>
                </div>

                <div class="modal-footer">
                  <%= link_to "show all messages", "/posts?kind=inbox" %>
                </div>

              </div>
              <div class="tab-pane " id="5">
                <h3>Sent Messages </h3><hr/>
                <table class="table">
                  <% for email in @brand.emails.where(:status => "pending") do  %>
                      <tr>
                        <td><%= time_ago_in_words email.created_at %> </td>
                        <td><%= link_to email.to_email , email %> </td>
                        <td><%= link_to email.subject, email %> </td>
                        <td><%= email.status %> </td>
                      </tr>
                    <%  end %>
                  </table>
                </div>

              </div>
            </div>

          </div>



        </div>


