 

<div class="row-fluid">

  <div class="span12">
    <div class="tabbable thumbnail">
      <br/>
      <h3>&nbsp; <%= image_tag "/assets/social/gmail.png", :size => "32x32" %> Gmail </h3><hr/>
      <ul class="nav nav-tabs">
        <li class="active" ><a href="#1" data-toggle="tab"> <i class="icon-envelope" ></i> Incomming</a></li>
        <li ><a href="#6" data-toggle="tab"> <i class="icon-user" ></i> Competitors</a></li>
      </ul>
      <div class="tab-content" style="padding:0.5em;">

        <div class="tab-pane  " id="my-movies">
          <h3> My Youtube movies </h3><hr/>

        </div>


        <div class="tab-pane active " id="1">
          <h3>Incomming messages</h3><hr/>
          <%= render :partial  => 'shared/inbox'%>
          </div>


        </div>
      </div>

    </div>
  </div>


  <style>
    .longer{
      max-height: 800px;
    }
  </style>

  <script>
    $(document).ready(function() {
      $(document).on("click", ".open-body", function () {
        var div = $(this).data("mid");
        $(div).slideToggle(500);
        return false;
      });
    });  
  </script>


