<div class="row-fluid">


  <div class="span12">

    <div class="pull-right item_command" style="padding:1em;">
      <%= link_to raw("<i class='icon-cog'></i> Setup Linkedin Channel") , "/channels/#{@channel.id}/edit"   %>
      <%= link_to raw("<i class='icon-linkedin'></i> Post Status") , ""   , :id => "twit"%>
      <%= link_to raw("<i class='icon-bar-chart'></i> Statistics") , "/scores?social=1"   , :id => "xtwit"%>
    </div>

    <div class="tabbable thumbnail">
      <h2> <%= image_tag(@channel.icon, :size => "32x32" , :style => "vertical-align:top;margin-top:0.2em;padding-left:0.3em;") %> Linkedin Marketing</h2><hr/>




      <div id="post-dialog"  style="display:none">
        <% @linkedin__post = Post.new %>
        <%= form_for @linkedin__post, :html => { :class => 'form-horizontal' } do |f| %>
          <div class="modal-header ">
            <h3>Post Status </h3>
          </div>
          <div class="modal-header">

            <%= f.hidden_field :channel_id , :value => @channel.id %>
            <%= f.hidden_field :brand_id , :value => @brand.id %>
            <%= f.hidden_field :kind , :value => "linkedin" %>
            <textarea style="height:40px" width="100%" name="post[body]"></textarea><br/><br/>


            <table width="100%">
              <tr>
                <td>  
                  <select name="post[from_name]">
                    <option> Select Article to Load</option>
                    <% for item in @brand.articles do  %>
                        <option value ="<%= item.id %>"><%= item.name %>  </option>
                      <% end %>
                    </select>



                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-info">Send</button>

                    <div class="pull-right">

                    </div>

                  </td>

                </tr>
              </table>
            </div>
          <% end %>
          <br/> 
        </div>



        <ul class="nav nav-tabs">
          <li class="active"><a href="#profile" data-toggle="tab"> Profile</a></li>
  <%#*<li ><a href="#recommendations" data-toggle="tab"> <i class="icon-star" ></i> Recommendations</a></li>%>
          <li ><a href="#fans" data-toggle="tab">  Friends</a></li>
          <li ><a href="#posts" data-toggle="tab">  Group Posts</a></li>
          <li ><a href="#jobs" data-toggle="tab">  Job  Posting</a></li>
          <li ><a href="#messages" data-toggle="tab">  Messages</a></li>

        </ul>
        <div class="tab-content" style="padding:0.5em;">

          <div class="tab-pane  " id="posts">

            <div class="span8">
              <h3>Group Posts</h3>
              <table width="100%" class="table datatable">
                <thead>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  <% for item in @channel.posts.where(:kind => "group") %>
                    <tr style="vertical-align:top">
                      <td width="70px"><%= link_to image_tag(item.image_url, :width =>'64x64')  %></td>
                      <td>
                        <b><%=item.title%> </b><br/><%= item.body[0..200] unless item.body.nil?  %> <br/> <%= item.from_name %> <%#= time_ago_in_words item.posted_at  %>
                        <div class="item_command">
                          <a href="<%=item.target_link%>"  target="_blank"><i class="icon-edit"></i> Reply</a>
                          <%= render :partial => "shared/share_post_bar" , :locals => {:post => item} %>
                          <a href=""><i class="icon-remove-sign"></i> ignore</a>
                        </div>

                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <div class="span3">
              <h3> Recommended Groups </h3>
              <ul>
                <% for group in @channel.fans.where(:kind => "recommened-group") do  %>
                    <li><%= link_to group.name %><br/><br/></li>
                  <% end %>
                </ul>
              </div>
            </div>



            <div class="tab-pane  " id="jobs">

              <div class="pull-right">
                <span class="item_command">
                  <i class="icon-search"></i> <%= link_to @brand.jobs_search , "/brands/searches" %>
                </span>
              </div>
              <h3>Job Postings</h3><hr/>

              <table width="100%" class="table datatable">
                <thead>
                  <tr>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  <% for item in @channel.posts.where(:kind => "job") %>
                    <tr style="vertical-align:top">
                      <td>
                        <div class="pull-right">
                          <%= item.from_name %>
                        </div>
                        <b><%=item.title%> </b><br/><%= simple_format item.body  %> 
                        <div class="item_command">
                          <a href="<%=item.target_link%>"  target="_blank"><i class="icon-edit"></i> Reply</a>
                          <%= render :partial => "shared/share_post_bar" , :locals => {:post => item} %>
                          <a href=""><i class="icon-remove-sign"></i> ignore</a>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

            </div>


            <div class="tab-pane " id="messages">
              <h3> incomming messages </h3><hr/>
            </div>





            <div class="tab-pane " id="fans">
              <h3>My Network</h3><hr/>
              <table class="table datatable">
                <thead>
                  <tr>
                    <th width="32px"></th>
                    <th>Name</th>
                    <th width="100px">kind</th>
                    <th width="50px">Friends </th>
                    <th width="50px">posts</th>
                  </tr>
                </thead>
                <tbody>
                  <% @fans.each do |fan| %>
                    <tr>
                      <td><%= link_to image_tag(fan.profile_image,:size => "32x32"), fan %></td>
                      <td>
                        <%= image_tag fan.channel.icon, :size => "16x16" %> <%= link_to fan.name, fan_path(fan) %>
                        <% if fan.bio %>
                          <br/><%= fan.short_bio %> (<%= fan.screen_name%>)
                        <% end %>
                        <br/>
                        <div class="item_command">
                          <a href=""><i class="icon-envelope"></i> send message</a>
                          <a href=""><i class="icon-glass"></i> invite</a>
                          <a href="/fans/competitor?id=<%=fan.id%>&redirect=<%=request.original_url%>"><i class="icon-user"></i> competitor</a>
                          <a href="/fans/ignore?id=<%=fan.id%>&redirect=<%=request.original_url%>"><i class="icon-remove-sign"></i> ignore</a>
                          <a href="/fans/search?name=<%=fan.name%>"><i class="icon-search"></i> search</a>

                        </div>
                      </td>
                      <td><%= fan.kind%></td>
                      <td><%= number_with_delimiter fan.friends_count%></td>
                      <td><%#= number_with_delimiter fan.posts_count  %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

            </div>







            <div class="tab-pane active" id="profile">
              <div class="row-fluid">
                <div class="span6" style="padding-left: 1em;">



                  <table class="table ">
                    <tr>
                      <td colspan="2">

                        <div class="pull-left" style="padding-right:1em;">
                          <%= image_tag @channel.profile_image_url %>
                        </div>
                        <h3><%= @channel.profile_name %></h3>
                        <%= @channel.profile_description %><br/>
                        <%= link_to raw("<i class='icon-globe'></i> website") ,@channel.profile_url %> &nbsp;
                        <i class="icon-group"></i> Friends: <%= number_with_delimiter @channel.fans.where(:kind => "fan").count %>  
                      </td>
                    </tr>
                  </table>

                  <table class="table">
                    <tr>
                      <td >
                        <h5> Exposure </h5>
                        <i class="icon-bullhorn"></i> Potential exposure: <%= number_with_delimiter @channel.exposure_mark %><br/>
                        <i class="icon-comment"></i> post per week: 0<br/>
                      </td>
                      <td >
                        <h5> User engagment </h5>
                        <i class="icon-group"></i> commenters: <%=  number_with_delimiter @channel.comments.count%><br/>
                        <i class="icon-thumbs-up"></i> likes: 0<br/>
                      </td>
                    </tr>
                  </table>
                </div>
                
                <div class="span5">
                  <table class="table">
                    <tr>
                      <td><h5> New Friends</h5></td>
                    </tr>
                    <tr>
                      <td>
                        <% for item in @fans[0..9] do  %>
                            <div class="profile-button  pull-left" >
                              <div class="pull-left">
                                <div  style="margin:0.4em;">
                                  <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%=item.id%>"  ><%=  image_tag(item.profile_image , :size => "48x48", :style => "max-height:none;height: 48px;")%></a>
                                </div>
                              </div>
                            </div>  
                          <% end %>
                        </td>
                      </tr>

                    </table>


                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>



      </div>
