<% content_for :head do  %>


  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%#= javascript_include_tag "gmaps" %>

  <script type="text/javascript">
    var map;
    $(document).ready(function(){
      map2 = new GMaps({
        div: '#xxmap',
        lat: 43.652527,
        lng: -79.381961
      });



  <% for item in Tracker.all do  %>
      <% unless item.latitude.nil? or item.longitude.nil? %>
          map2.drawOverlay({
            lat: <%= item.latitude %> ,
            lng: <%= item.longitude%> ,
            content: '<div class="overlay"><%#= image_tag(item.profile_image , :size => "32x32") %> <%= time_ago_in_words item.logged_at unless item.logged_at.nil? %> </div>'
          });
      <% end %>
    <% end  %>
      
      
      
      
      $('#geocoding_form').submit(function(e){
        e.preventDefault();
        GMaps.geocode({
          address2: $('#address2').val().trim(),
          callback: function(results, status){
            if(status=='OK'){
              var latlng = results[0].geometry.location;
              map2.setCenter(latlng.lat(), latlng.lng());
              map2.addMarker({
                lat: latlng.lat(),
                lng: latlng.lng()
              });
            }
          }
        });
      });
      
      
    });
    </script>

  <% end %>

  <div class="row">
    <div class="span12">
      <div class="pull-right">
        <form method="post" id="geocoding_form" class="form-inline">
          <label for="address2">address2:</label>
          <div class="input">
            <input type="text" id="address2" name="address2" />
            <input type="submit" class="btn" value="Search" />
          </div>
        </form>
      </div>
      <h3><%= title %>  </h3><hr/>
    </div>
    <div class="span12">
      <div id="xxmap" ></div>
    </div>
  </div>

  <style>

    #xxmap{
      text-align: center;
      display: block;
      width: 100%;
      height: 600px;
      margin: 0 auto;
  <%#*margin-left: 60px;%>
      -moz-box-shadow: 0px 5px 20px #ccc;
      -webkit-box-shadow: 0px 5px 20px #ccc;
      box-shadow: 0px 5px 20px #ccc;
    }
    #xxmap2.large{
      height:500px;
    }

    .overlay{
      display:block;
      text-align:center;
      color:#fff;
      font-size:12px;
      line-height:14px;
      opacity:0.8;
      background:#4477aa;
      border:solid 3px #336699;
      border-radius:4px;
      box-shadow:2px 2px 10px #333;
      text-shadow:1px 1px 1px #666;
      padding:0 4px;
    }

    .overlay_arrow{
      left:50%;
      margin-left:-16px;
      width:0;
      height:0;
      position:absolute;
    }
    .overlay_arrow.above{
      bottom:-15px;
      border-left:16px solid transparent;
      border-right:16px solid transparent;
      border-top:16px solid #336699;
    }
    .overlay_arrow.below{
      top:-15px;
      border-left:16px solid transparent;
      border-right:16px solid transparent;
      border-bottom:16px solid #336699;
    }
  </style>