<div class="row-fluid">


  <div class="span12">

    <div class="tabbable thumbnail ">
      <h2> <%= image_tag("/assets/flat/reddit.png" , :size => "48x48")%> Reddit Marketing </h2>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#profile" data-toggle="tab">  Profile</a></li>
        <li ><a href="#5" data-toggle="tab">Recommendations</a></li>
        <li ><a href="#6" data-toggle="tab">  User Engagment</a></li>
        <li ><a href="#plusone" data-toggle="tab"> Promotions</a></li>
      </ul>
      <div class="tab-content" style="padding:0.5em;">

        <div class="tab-pane active " id="profile">
          <h3>Profile on Google+</h3><hr/>
          <%=  @yaml.inspect %>
        </div>
          




        <div class="tab-pane " id="2">
        </div>
        
        <div class="tab-pane " id="plusone">
        </div>


        <div class="tab-pane" id="6">
          <h3>Mentions in twitter </h3><hr/>
          <div class="modal-body">
            <table class="table">
              <% for item in @channel.posts.where(:kind => 'engadge').reverse %>
                <tr style="vertical-align:top">
                  <td width="32px"><a   class="cmd-fan" data-fan-id="<%=item.id%>"  >
                      <%=image_tag(item.img , :size => "32x32")%></a></td>
                  <td>
                    <a data-toggle="modal"  class="cmd-repost" href="#postModal"  data-post-id="<%=item.id%>">
                      <b><i class="icon-user"></i> <%=  item.from %></b><br/>
                      <%=  item.plain_text %>
                      <br/><i><%= time_ago_in_words item.created_at %> </i>
                    </a>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>

        <div class="tab-pane" id="4">
          <h3>Messages and Notifications </h3><hr/>

          <div class="modal-body">
            <table width="100%">
            </table>
          </div>


        </div>
        <div class="tab-pane " id="5">
          <h3>Comments and Commenters </h3><hr/>

          <div class="modal-body">
          </div>

        </div>

      </div>
    </div>

  </div>



</div>
