
<div class="row-fluid">



  <div class="tabbable thumbnail span12">

    <div class="pull-right item_command" style="padding:1em;">
      <%= link_to raw("<i class='icon-star'></i> Recommended Feeds") , ""%>
      <%= link_to raw("<i class='icon-cog'></i> Setup") , "/channels/#{@channel.id}/edit"   %>
    </div>


    <h2>&nbsp; <%= image_tag(@channel.icon , :size => "48x48") %> RSS News</h2><hr/>
    <ul class="nav nav-tabs">
      <li class="active" ><a href="#recommendations" data-toggle="tab"> Recommendations</a></li>
      <li  ><a href="#articles" data-toggle="tab"> Unread </a></li>
      <li  ><a href="#jobs" data-toggle="tab"> Jobs </a></li>
      <li ><a href="#feeds" data-toggle="tab"> Feeds</a></li>
    </ul>
    <div class="tab-content" style="padding:0.5em;">

      <div class="tab-pane " id="feeds">

        <div class="row-fluid">
          <div class="span11">
            <div class="pull-right">
              <%=  form_tag('/channels/add_feed', :method => :get) do %>
                Add URL:
                <%= text_field_tag :url %>
                <button type="submit" class="btn">Create</button>
              <%end %>
            </div>
            <h3>My RSS Feeds</h3><hr/>
          </div>
          
        </div>

        <div class="span11">
          <table class="table datatable">
            <thead>
              <tr>
                <th ></th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <% for feed in @channel.fans.order("posts_count DESC") do  %>
                  <tr>
                    <td width="32px"><%= image_tag("/assets/flat/rss-3-64.png", :size => "32x32") %></td>
                    <td>
                      <div class="pull-right">
                        Content:<%=  feed.posts_count  %>
                        Jobs: <%=  feed.likes  %>    
                      </div>
                      <%= link_to feed.name , "/channels/#{@channel.id}?feed=#{feed.id}"%> <br/>
                      <%= link_to feed.website[0..30],"/channels/#{@channel.id}?feed=#{feed.id}"  unless feed.website.nil? %>
                      <div class="item_command">
                        <%= link_to "remove","/channels/remove_feed?id=#{feed.id}"  %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>


        <div class="tab-pane " id="articles">
          <table  class="table datatable">
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for item in @channel.posts.where( :kind => 'unread') %>

                <tr style="vertical-align:top">

                  <td width="100px"><a   class="cmd-fanx" data-fan-id="<%=item.id%>"  >
                      <%#= item.img %>
                      <%=  image_tag(item.img , :size => "100x100") %></a>
                  </td>
                  <td>
                    <div class="pull-right">
                      <%= time_ago_in_words item.posted_at unless item.posted_at.nil? %>
                    </div>

                    <b><%= item.from_name %> </b><br/>
                    <a href="" class="rss-expander" data-post-id="<%=item.id%>">
                      <%= simple_format item.title %>
                    </a> 



                    <div class="rss-long"  id="rss-long-<%=item.id%>" style="display:none;">
                      <span class="btn-toggle-rss-body" data-post-id="<%=item.id%>" ><%= strip_html item.body unless item.body.nil? %></span>
                      <br/>
                    </div>
                    <span class="btn-toggle-rss-body" data-post-id="<%=item.id%>"  id="rss-short-<%=item.id%>" >
                      <%=  strip_html(item.body)[0..350] unless item.body.nil? %>
                    </span>

                    <br/>
                    <div class="item_command">
                      <a href="/articles/new?from_kind=post&from_id=<%=item.id%>"><i class="icon-bookmark"></i> Bookmark</a>
                      <a href="/articles/new?from_kind=post&from_id=<%=item.id%>"><i class="icon-copy"></i> Article</a>
                      <%= render :partial => "shared/share_post_bar" , :locals => {:post => item} %>
                      <a href="<%=item.target_link%>" target="_blank"><i class="icon-link"></i> open link </a>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>


        <div class="tab-pane " id="jobs">
          <span class="item_command"> <i class="icon-search"></i> Searching for: <%= link_to @brand.jobs_search, "/brands/searches" %> </span>
          <table  class="table datatable">
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for item in @jobs %>

                <tr style="vertical-align:top">

                  <td width="100px"><a   class="cmd-fanx" data-fan-id="<%=item.id%>"  >
                      <%=image_tag(item.img , :size => "100x100") %></a>
                  </td>
                  <td>
                    <div class="pull-right">
                      <%= time_ago_in_words item.posted_at unless item.posted_at.nil? %>
                    </div>


                    <a href="" class="rss-expander" data-post-id="<%=item.id%>">
                      <%= simple_format item.title %>
                    </a> 



                    <div class="rss-long"  id="rss-long-<%=item.id%>" style="display:none;">
                      <span class="btn-toggle-rss-body" data-post-id="<%=item.id%>" id="rss-long-<%=item.id%>" >
                        <%= strip_html item.body unless item.body.nil? %>
                        <br/>
                      </span>
                    </div>
                    <span class="btn-toggle-rss-body" data-post-id="<%=item.id%>"  id="rss-short-<%=item.id%>" >
                      <%=  strip_html(item.body)[0..350] unless item.body.nil? %>
                    </span>

                    <br/>
                    <div class="item_command">
                      <a href="/articles/new?from_kind=post&from_id=<%=item.id%>"><i class="icon-copy"></i> create article</a>
                      <%= render :partial => "shared/share_post_bar" , :locals => {:post => item} %>
                      <a href="<%=item.target_link%>" target="_blank"><i class="icon-link"></i> open link </a>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>


        <div class="tab-pane active " id="recommendations">
          <span class="item_command"> <i class="icon-search"></i> Searching for: <%= link_to @brand.content_search, "/brands/searches" %> </span>
          <table  class="table datatable">
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <%

              list = @channel.posts.where(:kind => "recommended")

            %>

              <% for item in list %>

                <tr style="vertical-align:top">

                  <td width="100px"><a   class="cmd-fanx" data-fan-id="<%=item.id%>"  >
                      <%=image_tag(item.img , :size => "100x100")%></a>
                  </td>
                  <td>
                    <div class="pull-right">
                      &nbsp;<%= item.from_name %>&nbsp;
                      <%= time_ago_in_words item.posted_at unless item.posted_at.nil? %>
                    </div>



                    <a href="" class="rss-expander" data-post-id="<%=item.id%>">
                      <%= simple_format item.title %>
                    </a> 



                    <div class="rss-long"  id="rss-long-<%=item.id%>" style="display:none;">
                      <span class="btn-toggle-rss-body" data-post-id="<%=item.id%>" ><%= simple_format item.body unless item.body.nil? %></span>
                      <br/>
                    </div>
                    <span class="btn-toggle-rss-body" data-post-id="<%=item.id%>"  id="rss-short-<%=item.id%>" >
                      <%=  strip_html(item.body)[0..350] unless item.body.nil? %>
                    </span>

                    <br/>
                    <div class="item_command">
                      <a href="/articles/new?from_kind=post&from_id=<%=item.id%>"><i class="icon-copy"></i> create article</a>
                      <%= render :partial => "shared/share_post_bar" , :locals => {:post => item} %>
                      <a href="<%=item.target_link%>" target="_blank"><i class="icon-link"></i> open link </a>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>


      </div>

    </div>
  </div>




  <style>
    .item img{ float:left; margin:1.2em;max-width: 350px; mxax-height:120px;}

    .rss-long img{ width:140px; float:left; margin: 1em; display:none;}
  </style>



  <script>
                          
                          
    $(document).ready(function() {
                          
                          
      $('#myCarousel').carousel({
        interval: 2000000000
      })
                          
      $(document).on("click", ".rss-expander", function () {
        var tag_long = "#rss-long-" + $(this).data('post-id');
        var tag_short = "#rss-short-" + $(this).data('post-id');
        $(tag_long).slideToggle(400);
        $(tag_short).slideToggle(400);
        return false;
      });  
    });  
  </script>

