


<div class="span7">
  <div id="imgSearchControl" class="search-control">Loading...</div><hr/>
  <!--Remove all floating-->
  <div class="clear"></div>
  <!--Image will be shown here-->
  <div id='imageContainer'></div>

</div>



<% content_for :head do  %>
  <%= render :partial => 'google_image_search_js' %>
<% end %>
<style>
  #results img{
    width:200px;
  }
</style>

