
<div class="row-fluid">
  <div class="span12">

    <div class="tabbable thumbnail">

      <div class="pull-right item_command" style="padding:1em;">
        <%= link_to raw("<i class='icon-cog'></i> Setup Twitter Channel") , "/channels/#{@channel.id}/edit"   %>
        <%= link_to raw("<i class='icon-twitter'></i> Post Status") , ""   , :id => "twit"%>
        <%= link_to raw("<i class='icon-bar-chart'></i> Statistics") , "/scores?social=1"   , :id => "xtwit"%>
      </div>
      <h2> <%= image_tag(@channel.icon, :size => "48x48" , :style => "vertical-align:top;margin-top:0.2em;padding-left:0.3em;") %> Twitter Marketing</h2><hr/>

      <div id="post-dialog"  style="display:none">
        <% @twitter_post = Post.new %>
        <%= form_for @twitter_post, :html => { :class => 'form-horizontal' } do |f| %>
          <div class="modal-header ">
            <h3>Post Status </h3>
          </div>
          <div class="modal-header">

            <%= f.hidden_field :channel_id , :value => @channel.id %>
            <%= f.hidden_field :brand_id , :value => @brand.id %>
            <%= f.hidden_field :kind , :value => "tweet" %>
            <textarea style="height:40px" width="100%" name="post[body]"></textarea><br/><br/>


            <table width="100%">
              <tr>
                <td>  
                  <select name="post[from_name]">
                    <option> Select Article to Load</option>
                    <% for item in @brand.articles do  %>
                        <option value ="<%= item.id %>"><%= item.name %>  </option>
                      <% end %>
                    </select>

                    &nbsp;&nbsp;
                    Send at: <%= text_field "post" , "when" %>

                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-info">Send</button>

                    <div class="pull-right">

                    </div>

                  </td>

                </tr>
              </table>
            </div>
          <% end %>
          <br/> 
        </div>


        <ul class="nav nav-tabs">
          <li class="active"><a href="#profile" data-toggle="tab">  Profile</a></li>
          <li ><a href="#mentions" data-toggle="tab"> User engagement</a></li>
          <li ><a href="#posts" data-toggle="tab">  Posts</a></li>
          <li ><a href="#followers" data-toggle="tab">  Followers</a></li>
        </ul>
        <div class="tab-content" style="padding:0.5em;">


          <div class="tab-pane  active" id="profile">
            <div class="row-fluid">
              <div class="span6">
                <h3>Profile</h3>
                <table class="table">
                  <tr>
                    <td><%= image_tag @channel.profile_image_url %></td>
                    <td>
                      <h3><%=  @channel.profile_name %></h3>
                      <%=  @channel.profile_description %><br/>
                      <%= link_to "Home Page", @channel.profile_url , :target => "_blank" %> &nbsp;

                      Followers: <%= number_with_delimiter @channel.total_fans %> &nbsp;
                      Following: <%= number_with_delimiter @channel.followings_count %>
                    </td>
                  </tr>

                </table>




                <table class="table">
                  <tr>
                    <td >
                      <h5> Exposure </h5><hr/>
                      <i class="icon-bullhorn"></i> Potential exposure: <%= number_with_delimiter @channel.exposure_mark%><br/>
                      <i class="icon-comment"></i> post per week: <%=rand(20)%><br/>
                    </td>
                    <td >
                      <h5> Engaged Users </h5><hr/>
                      <i class="icon-eye-open"></i> Articles Viewed: <%=  rand(200)%><br/>
                      <i class="icon-retweet"></i> Retweets: <%= @channel.likes_count %><br/>

                    </td>
                  </tr>
                </table>


                <br/>




              </div>

              <div class="span5">
                <table class="table">
                  <tr>
                    <td><h5>New Followers</h5></td>
                  </tr>
                  <tr>
                    <td>
                      <% list = @fans %>

                      <% for item in list[0..14] do  %>
                          <div class="pull-left">
                            <div  style="margin:0.4em;">
                              <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%=item.id%>"  ><%=  image_tag(item.profile_image , :size => "48x48", :style => "max-height:none;height: 48px;")%></a>
                            </div>
                          </div>


                        <% end %>

                      </td>
                    </tr>
                  </table>

                </div>
              </div>

            </div>


            <div class="tab-pane " id="mapx">


              <div class="row-fluid">
                <div class="span7">

                  <%= image_tag "/assets/map.png" , :width => "100%"%>
                </div>
                <div class="span4">
                  <table class="table">
                    <% unless Tracker.all.empty? %>
                      <tr>
                        <td>
                          <%= render :partial => 'shared/trackers' , :locals => {:trackers => Tracker.where('channel_id IS NOT NULL').limit(10)} %>
                        </td>
                      </tr>
                    <% end %>
                  </table>

                </div>
              </div>

              <%
              @people = @brand.fans.where("location is not null")
            %>

            </div>


            <div class="tab-pane " id="delayed">
              <h3>Delayed Twits</h3><hr/>
            </div>

            <div class="tab-pane " id="ssearch">
    <%#= render :partial => 'tw_search' %>      
            </div>

            <div class="tab-pane " id="mentions">
              <div class="row-fluid">
                <div class="span8">

                  <h3>Twits mentioning me or my business </h3><hr/>
                  <table class="table datatable">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Message</th>
                        <th>When</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for item in @mentions do  #@yaml[:mentions]  do %>
                          <tr>
                            <td width="32px"><%= image_tag(item.img) %> </td>
                            <td><%= item.short_body %></td>
                            <td width="130px"><%= time_ago_in_words item.created_at %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

                  <div class="span3">
                    <table class="table">
                      <tr>
                        <td colspan="2"><h5>People mentioning me</h5></td>
                      </tr>
                      <Tr>
                        <td>
                          <% for item in @channel.fans.where(:kind => "engaged")  do  %>
                              <div class="pull-left">
                                <div  style="margin:0.4em;">
                                  <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%item.uid%>"  >
                                    <%= safe_image_tag(item.profile_image) %>
                                  </a>
                                </div>
                              </div>
                            <% end %>
                          </td>
                        </tr>
                      </table>

                    </div>

                  </div>
                </div>

                <div class="tab-pane " id="content">

                  <div class="row-fluid">
                    <div class="span11">

                      <div class="pull-right">
                        <span class="item_command">
                          <i class="icon-search"></i> <%= link_to @brand.content_search , "/brands/searches" %>
                        </span>
                      </div>
                      <h3>Recommended twitter posts </h3><hr/>
                      <table class="table datatable">
                        <thead>
                          <tr>
                            <th width="32px"> </th>
                            <th>Message</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for item in @content do  %>
                              <tr>
                                <td> <%= image_tag( item.img, :size => "32x32") %> </td>
                                <td>
                                  <div class="pull-right">
                                    <p class="item_command">
                                      <%= item.posted_ago  %> <br/> via <%=  strip_html item.target_link %>
                                    </p>
                                  </div>
                                  <%= item.short_body  %>
                                  <div class="item_command">
                                    <a href="<%=item.target_link%>"  target="_blank"><i class="icon-edit"></i> Reply</a>
                                    <a href="#postModal"  data-toggle="modal" class="cmd-repost-news" data-post-url="<%= extract_url_from_html item.target_link %>" data-post-body="<%= strip_html( simple_format( item.title))%>" ><i class="icon-share"></i> share</a>
                                    <a href=""><i class="icon-remove-sign"></i> ignore</a>
                                  </div>
                                </td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>



                      </div>
                    </div>

                  </div>


                  <div class="tab-pane " id="posts">

                    <div class="row-fluid">
                      <div class="span11">
                        <h3>My Twitter Posts</h3><hr/>
                        <table class="table datatable">
                          <thead>
                            <tr>
                              <th width="32px"> </th>
                              <th>Message</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for item in @my_posts do  %>
                                <tr>
                                  <td> <%= image_tag( item.img, :size => "32x32") %> </td>
                                  <td>
                                    <div class="pull-right">
                                      <p class="item_command">
                                        <%= item.posted_ago  %> 
                                      </p>
                                    </div>
                                    <%= item.short_body  %> 
                                    <span class="item_command"><br/> via <%=  strip_html item.target_link %></span>
                                    <div class="item_command">
                                      <a href="<%=item.target_link%>"  target="_blank"><i class="icon-edit"></i> Reply</a>
                                      <a href="#postModal"  data-toggle="modal" class="cmd-repost-news" data-post-url="<%= extract_url_from_html item.target_link %>" data-post-body="<%= strip_html( simple_format( item.title))%>" ><i class="icon-share"></i> share</a>
                                      <a href=""><i class="icon-remove-sign"></i> ignore</a>
                                    </div>
                                  </td>
                                </tr>
                              <% end %>
                            </tbody>
                          </table>



                        </div>
                      </div>

                    </div>

                    <div class="tab-pane " id="followers">
                      <div class="row-fluid">
                        <div class="span11">
                          <h3>Followers</h3><hr/>
                          <table class="table datatable">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Name</th>
                                <th width="80px">Friends</th>
                                <th width="80px">Followers</th>
                                <th width="80px">Posts</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% for fan in @fans  do %>
                                  <tr>
                                    <td width="48px" ><%= image_tag(fan.profile_image, :size => "48x48") %></td>
                                    <td>
                                      <%= fan.screen_name %>
                                      <% if fan.bio %>
                                        <br/><%= fan.bio[0..200] %>
                                      <% end %>
                                      <br/>
                                      <div class="item_command">
                                        <a href="http://www.twitter.com/<%=fan.screen_name%> " target="_blank"><i class="icon-home"></i></i> invite</a>
                                        <a href="/fans/search?name=<%=fan.name%>"><i class="icon-search"></i> search</a>

                                        <% unless fan.website.nil? %>
                                          <a href="<%=fan.website%> " target="_blank"><i class="icon-globe"></i> webpage</a>
                                        <% end %>

                                        <a href="http://www.twitter.com/<%=fan.screen_name%> " target="_blank"><i class="icon-twitter"></i> follow</a>
                                        <a href="/fans/competitor?id=<%=fan.id%>&redirect=<%=request.original_url%>"><i class="icon-user"></i> competitor!</a>
                                        <a href="/fans/ignore?id=<%=fan.id%>&redirect=<%=request.original_url%>"><i class="icon-remove-sign"></i> ignore</a>
                                      </div>
                                    </td>

                                    <td><%= number_with_delimiter fan.friends_count %></td>
                                    <td><%= number_with_delimiter fan.following %></td>
                                    <td><%= number_with_delimiter fan.posts_count %></td>
                                  </tr>
                                <% end %>
                              </tbody>
                            </table>
                          </div>
                        </div>


                      </div>



                      <div class="tab-pane " id="competitors">
                        <div class="row-fluid">
                          <div class="span11">
                            <div class="pull-right">
                              <span class="item_command">
                                <i class="icon-search"></i> <%= link_to @brand.competitor_search , "/brands/searches" %>
                              </span>
                            </div>
                            <h3>Potential Competitors</h3><hr/>
                            <table class="table datatable">
                              <thead>
                                <tr>
                                  <th></th>
                                  <th>Name</th>
                                  <th width="80px">Friends</th>
                                  <th width="80px">Followers</th>
                                  <th width="80px">Posts</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% for fan in @competitors  do %>
                                    <tr>
                                      <td width="48px" ><%= image_tag(fan.profile_image, :size => "48x48") %></td>
                                      <td>
                                        <%= fan.screen_name %>
                                        <% if fan.bio %>
                                          <br/><%= fan.bio[0..200] %>
                                        <% end %>
                                        <br/>
                                        <div class="item_command">
                                          <a href="http://www.twitter.com/<%=fan.screen_name%> " target="_blank"><i class="icon-home"></i></i> invite</a>
                                          <a href="/fans/search?name=<%=fan.name%>"><i class="icon-search"></i> search</a>

                                          <% unless fan.website.nil? %>
                                            <a href="<%=fan.website%> " target="_blank"><i class="icon-globe"></i> webpage</a>
                                          <% end %>

                                          <a href="http://www.twitter.com/<%=fan.screen_name%> " target="_blank"><i class="icon-twitter"></i> follow</a>
                                          <a href="/fans/competitor?id=<%=fan.id%>&redirect=<%=request.original_url%>"><i class="icon-user"></i> competitor</a>
                                          <a href="/fans/ignore?id=<%=fan.id%>&redirect=<%=request.original_url%>"><i class="icon-remove-sign"></i> ignore</a>
                                        </div>
                                      </td>

                                      <td><%= number_with_delimiter fan.friends_count %></td>
                                      <td><%= number_with_delimiter fan.following %></td>
                                      <td><%= number_with_delimiter fan.posts_count %></td>
                                    </tr>
                                  <% end %>
                                </tbody>
                              </table>
                            </div>
                          </div>


                        </div>


                        <div class="tab-pane " id="prospects">
                          <div class="row span11">
                            <div class="pull-right">
                              <span class="item_command">
                                <i class="icon-search"></i> <%= link_to @brand.prospect_search , "/brands/searches" %>
                              </span>
                            </div>
                            <h3>Potential Customers</h3><hr/>
                            <table class="table datatable">
                              <thead>
                                <tr>
                                  <th></th>
                                  <th>Name</th>
                                  <th width="80px">Friends</th>
                                  <th width="80px">Followers</th>
                                  <th width="80px">Posts</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% for fan in @prospects  do %>
                                    <tr>
                                      <td width="48px" ><%= image_tag(fan.profile_image, :size => "48x48") %></td>
                                      <td>
                                        <%= fan.screen_name %>
                                        <% if fan.bio %>
                                          <br/><%= fan.bio[0..200] %>
                                        <% end %>
                                        <br/>
                                        <div class="item_command">
                                          <a href="http://www.twitter.com/<%=fan.screen_name%> " target="_blank"><i class="icon-home"></i></i> invite</a>
                                          <a href="/fans/search?name=<%=fan.name%>"><i class="icon-search"></i> search</a>

                                          <% unless fan.website.nil? %>
                                            <a href="<%=fan.website%> " target="_blank"><i class="icon-globe"></i> webpage</a>
                                          <% end %>

                                          <a href="http://www.twitter.com/<%=fan.screen_name%> " target="_blank"><i class="icon-twitter"></i> follow</a>
                                          <a href="/fans/competitor?id=<%=fan.id%>&redirect=<%=request.original_url%>"><i class="icon-user"></i> competitor</a>
                                          <a href="/fans/ignore?id=<%=fan.id%>&redirect=<%=request.original_url%>"><i class="icon-remove-sign"></i> ignore</a>
                                        </div>
                                      </td>

                                      <td><%= number_with_delimiter fan.friends_count %></td>
                                      <td><%= number_with_delimiter fan.following %></td>
                                      <td><%= number_with_delimiter fan.posts_count %></td>
                                    </tr>
                                  <% end %>
                                </tbody>
                              </table>
                            </div>


                          </div>



                          <div class="tab-pane " id="retweets">
                            <h3>Retweets</h3><hr/>

                          </div>


                          <div class="tab-pane " id="recommended">
                            <div class="span5">
                              <table class="table">
                                <tr>
                                  <td><h5>Recommended Prospects</h5></td>
                                </tr>
                                <tr>
                                  <td>
                                    <% list = @prospects %>

                                    <% for item in list do  %>
                                        <div class="pull-left">
                                          <div  style="margin:0.4em;">
                                            <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%=item.id%>"  ><%=  image_tag(item.profile_image , :size => "48x48", :style => "max-height:none;height: 48px;")%></a>
                                          </div>
                                        </div>
                                      <% end %>

                                    </td>
                                  </tr>
                                  <tr>
                                    <td><h5>Recommended Competitors</h5></td>
                                  </tr>
                                  <tr>
                                    <td>

                                      <% for item in @competitors do  %>
                                          <div class="pull-left">
                                            <div  style="margin:0.4em;">
                                              <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%=item.id%>"  ><%=  image_tag(item.profile_image , :size => "48x48", :style => "max-height:none;height: 48px;")%></a>
                                            </div>
                                          </div>
                                        <% end %>

                                      </td>
                                    </tr>
                                  </table>

                                </div>
                                <div class="span6">
                                  <h3>Recommended Tweets</h3>
                                  <table class="table ">
                                    <tbody>
                                      <% for item in  @channel.posts.where(:kind => "prospect").order("posted_at DESC").limit(10)  do %>
                                          <tr>
                                            <td>
                                              <%= time_ago_in_words item.posted_at unless item.posted_at.nil? %><%= simple_format item.body %>
                                              <div class="item_command">
                                                <a href="#postModal"  data-toggle="modal" class="cmd-repost-news" data-post-url="<%= extract_url_from_html item.target_link %>" data-post-body="<%= strip_html( simple_format( item.body))%>" ><i class="icon-share"></i> share</a>
                                                <a href=""><i class="icon-time"></i> delayed </a>
                                                <a href=""><i class="icon-remove-sign"></i> ignore</a>
                                              </div>
                                            </td>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>





                                <div class="tab-pane " id="competitors">
                                  <div class="pull-right">
                                    <span class="item_command">
                                      <i class="icon-search"></i> <%= link_to @channel.search_2 , @channel %>
                                    </span>
                                  </div>
                                  <h3>Recommended competitors</h3><hr/>
                                  <table class="table datatable">
                                    <thead>
                                      <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Friends</th>
                                        <th>Followers</th>
                                      </tr>
                                    </thead>
                                    <tbody>

                                      <% for item in  @competitors  do %>
                                          <tr>
                                            <td width="32px"><%= image_tag(item.profile_image) %> </td>
                                            <td><%= item.screen_name %><br/><%= item.bio %></td>
                                            <td><%= number_with_delimiter item.friends_count %></td>
                                            <td><%= number_with_delimiter item.friends_count %></td>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>



                          <style>
                            .item img{ float:left; margin:1.2em;max-width: 350px; mxax-height:120px;}
                          </style>




