<table class="table table-striped">

  <tr>
    <td>
      <form class=" form-inline">
        <input type="text" class="input-large" placeholder="Search Terms">
        <button type="submit" class="btn">Search</button>
      </form>
    </td>
  </tr>
  <tr>
    <td>
      <div id="juitterContainer"></div>
    </td>
  </tr>
</table>



<style>
  /*JUITTER PLUGIN CSS*/

  #juitterContainer{} /*Juitter container*/

  #juitterContainer .twittList{margin:0;padding:0;} /* UL that will contain the list of tweets */

  /* Bellow the list of tweets "<li>" */

  #juitterContainer .twittLI{list-style:none;background:#ffffff;margin:0;padding:5px 0 0 0;border-bottom:dashed 1px #CAF8C9;padding:3px;clear:both;height:55px;} 
  #juitterContainer .twittList SPAN.time{color:#777;font-size:0.9em}
  #juitterContainer .twittList A{color:#006600;} /*Links inside the tweets list */

  /* Bellow the CSS for the avatar image  */

  #juitterContainer .juitterAvatar{float:left;border:solid 1px #D3EECA;background:#FFF;margin-right:5px;padding:2px;width:48px;;height:48px;}

  #juitterContainer .jRM{float:right;clear:both} /*read it on twitter link*/

  #juitterContainer .extLink{} /*CSS for the external links*/

  #juitterContainer .hashLink{} /*CSS for the hash links*/

  /*end of Juitter CSS*/


</style>



<% content_for :head do  %>
  <%  @brand = Brand.first %>
  <script type="text/javascript">
    showTweetLinks='all';

    $(document).ready(function() {
      $.Juitter.start({
        searchType:"searchWord", // needed, you can use "searchWord", "fromUser", "toUser"
        searchObject:"<%= @brand.twitter_search %>", // needed, you can insert a username here or a word to be searched for, if you wish multiple search, separate the words by comma.

        // The values below will overwrite the ones on the Juitter default configuration. 
        // They are optional here.
        // I'm changing here as a example only
        lang:"en", // restricts the search by the given language
        live:"live-15", // the number after "live-" indicates the time in seconds to wait before request the Twitter API for updates.
        placeHolder:"juitterContainer", // Set a place holder DIV which will receive the list of tweets example <div id="juitterContainer"></div>
        loadMSG: "Loading messages...", // Loading message, if you want to show an image, fill it with "image/gif" and go to the next variable to set which image you want to use on 
        imgName: "loader.gif", // Loading image, to enable it, go to the loadMSG var above and change it to "image/gif"
        total: 20, // number of tweets to be show - max 100
        readMore: "Read it on Twitter", // read more message to be show after the tweet content
        nameUser:"image", // insert "image" to show avatar of "text" to show the name of the user that sent the tweet 
        openExternalLinks:"newWindow", // here you can choose how to open link to external websites, "newWindow" or "sameWindow"
        filter:"sex->*BAD word*,porn->*BAD word*,fuck->*BAD word*,shit->*BAD word*"  // insert the words you want to hide from the tweets followed by what you want to show instead example: "sex->censured" or "porn->BLOCKED WORD" you can define as many as you want, if you don't want to replace the word, simply remove it, just add the words you want separated like this "porn,sex,fuck"... Be aware that the tweets will still be showed, only the bad words will be removed
      });
     
      $("#aJuitter").click(function(){
        $(".jLinks").removeClass("on");
        $(this).addClass("on");								  
        $.Juitter.start({
          searchType:"searchWord",
          searchObject:"Juitter",
          live:"live-180" // it will be updated every 180 seconds/3 minutes
        });
      });
      $("#juitterSearch").submit(function(){



        $.Juitter.start({

          searchType:"searchWord",

          searchObject:$(".juitterSearch").val(),
          live:"live-20", // it will be updated every 180 seconds/3 minutes
          filter:"sex->*BAD word*,porn->*BAD word*,fuck->*BAD word*,shit->*BAD word*"
        });
        return false;

      });
      $(".juitterSearch").blur(function(){
        if($(this).val()=="") $(this).val("Type a word and press enter");
      });
      $(".juitterSearch").click(function(){
        if($(this).val()=="Type a word and press enter") $(this).val("");
      });


    });


    $(document).ready(function() {
      $.Juitter.start({
        searchType:"searchWord", // needed, you can use "searchWord", "fromUser", "toUser"
        searchObject:"<%= Brand.first.twitter_search %>", // needed, you can insert a username here or a word to be searched for, if you wish multiple search, separate the words by comma.
        // The values below will overwrite the ones on the Juitter default configuration. 
        // They are optional here.
        // I'm changing here as a example only
        live:"live-15", // the number after "live-" indicates the time in seconds to wait before request the Twitter API for updates.
        placeHolder:"juitterContainer", // Set a place holder DIV which will receive the list of tweets example <div id="juitterContainer"></div>
        loadMSG: "Loading messages...", // Loading message, if you want to show an image, fill it with "image/gif" and go to the next variable to set which image you want to use on 
        imgName: "loader.gif", // Loading image, to enable it, go to the loadMSG var above and change it to "image/gif"
        total: 20, // number of tweets to be show - max 100
        readMore: "Read it on Twitter", // read more message to be show after the tweet content
        nameUser:"image", // insert "image" to show avatar of "text" to show the name of the user that sent the tweet 
        openExternalLinks:"newWindow", // here you can choose how to open link to external websites, "newWindow" or "sameWindow"
        filter:"sex->*BAD word*,porn->*BAD word*,fuck->*BAD word*,shit->*BAD word*"  // insert the words you want to hide from the tweets followed by what you want to show instead example: "sex->censured" or "porn->BLOCKED WORD" you can define as many as you want, if you don't want to replace the word, simply remove it, just add the words you want separated like this "porn,sex,fuck"... Be aware that the tweets will still be showed, only the bad words will be removed
      });
      
      $("#aJuitter").click(function(){
        $(".jLinks").removeClass("on");
        $(this).addClass("on");								  
        $.Juitter.start({
          searchType:"searchWord",
          searchObject:"Juitter",
          live:"live-180" // it will be updated every 180 seconds/3 minutes
        });
      });
      $("#juitterSearch").submit(function(){



        $.Juitter.start({

          searchType:"searchWord",

          searchObject:$(".juitterSearch").val(),
          live:"live-20", // it will be updated every 180 seconds/3 minutes
          filter:"sex->*BAD word*,porn->*BAD word*,fuck->*BAD word*,shit->*BAD word*"
        });
        return false;

      });
      $(".juitterSearch").blur(function(){
        if($(this).val()=="") $(this).val("Type a word and press enter");
      });
      $(".juitterSearch").click(function(){
        if($(this).val()=="Type a word and press enter") $(this).val("");
      });


    });
  </script>
<% end  %>