 

<div class="row-fluid">

  <div class="span12">
    <div class="tabbable thumbnail">
      <div class="pull-right item_command" style="padding:1em;">
        <%= link_to raw("<i class='icon-cog'></i> Setup") , "/channels/#{@channel.id}/edit"   %>
        <%= link_to raw("<i class='icon-bar-chart'></i> Statistics") , "/scores?social=1"   , :id => "xtwit"%>
      </div>
      <h2> <%= image_tag(@channel.icon, :size => "48x48" , :style => "vertical-align:top;margin-top:0.2em;padding-left:0.3em;") %> Youtube Marketing</h2><hr/>

      <ul class="nav nav-tabs">
        <li class="active" ><a href="#stats" data-toggle="tab">  Profile</a></li>
        <li ><a href="#5" data-toggle="tab"> User engagement</a></li>
        <li ><a href="#my-movies" data-toggle="tab"> My Movies</a></li>
      </ul>
      <div class="tab-content" style="padding:0.5em;">

        <div class="tab-pane  " id="my-movies">
          <h3> My Youtube movies </h3><hr/>
          <table width="100%" class="table">
            <% for item in @my_posts  do %>
                <tr>
                  <td >

                    <%=  image_tag(item.img, :size =>'300x100')  %>                
                  </td>
                  <td>
                    <b>  <%= item.title%> </b><br/>
                    <%= item.short_body %> 

                    <br/>
                    <div class="item_command">
                      <a href="#postModal"  data-toggle="modal" class="cmd-repost-news"  
                         data-post-body="<%= strip_html(item.title) %> <%#= item. %>" 
                         data-post-img=" <%=  item.img%>"
                         data-post-url=" <%=  item.target_link%>"
                         >
                        <i class="icon-share"></i> share
                      </a>
                      <a href=""><i class="icon-copy"></i> create article</a>
                      <a href=""><i class="icon-user"></i> open channel</a>
                    </div>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>

        <div class="tab-pane  " id="my-subscriptions">
          <h3> New movies from subscribed channels </h3><hr/>
          <table width="100%" class="table">
            <% for item in @channel.posts.where(:kind => "subscribed")   do %>
                <tr>
                  <td >

                    <%=  image_tag(item.image_url, :size =>'300x100')  %>                
                  </td>
                  <td>
                    <b>  <%= item.title%> </b><br/>
                    <%= item.short_body  %> 

                    <br/>
                    <div class="item_command">
                      <a href="#postModal"  data-toggle="modal" class="cmd-repost-news"  
                         data-post-body="<%= strip_html(item.title) %> <%#= item. %>" 
                         data-post-img=" <%=  item.image_url%>"
                         data-post-url=" <%=  item.target_link%>"
                         >
                        <i class="icon-share"></i> share
                      </a>
                      <a href=""><i class="icon-copy"></i> create article</a>
                      <a href=""><i class="icon-user"></i> open channel</a>
                    </div>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>

          <div class="tab-pane  active" id="stats">

            <div class="span4">
              <table class="table">
                <tr>
                  <td colspan="2">
                    <h3>My Youtube channel info</h3>
                  </td>
                </tr>
                <Tr>
                  <td>
                    <%= image_tag  @channel.profile_image_url %> 

                  </td>
                  <td>
                    <i class="icon-user"></i> <%= "Channel Name " %>
                    <%= @channel.profile_name %> <br/>
                    <i class="icon-user"></i> <%= "Subscribers " %>
                    <%=  number_with_delimiter @channel.fans_count %><br/>
                    <i class="icon-film"></i> <%= "Movies " %>
                    <%=  number_with_delimiter 19 %><br/>
                    <i class="icon-comment"></i> <%= "Comments " %>
                    <%=  number_with_delimiter rand(100) %><br/>
                    <i class="icon-thumbs-up"></i> <%= "likes " %>
                    <%=  number_with_delimiter rand(100) %><br/>
                  </td>
                </tr>
              </table>
            </div>


            <div class="span7">
              <Table class="table">
                <tr>
                  <td>
                    <h3>New subscribers movies</h3><hr/>
                    <% for item in @channel.posts.where(:kind => "prospect").limit(10) do  %>
                        <div class="pull-left">
                          <div  style="margin:0.4em;">
                            <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%=item.id%>"  ><%=  image_tag(item.image_url , :size => "148x80", :style => "max-height:none;height: 80px;")%></a>
                          </div>
                        </div>
                      <% end %>
                    </td>
                  </tr>
                  
                </table>
              </div>
            </div>



            <div class="tab-pane  " id="1">


              <div class="span8">
                <h3>Recomended movies</h3><hr/>
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for item in @channel.posts.where(:kind => "prospect") do %>
                        <tr>
                          <td width="250px">
                            <%=  image_tag(item.image_url, :size =>'240x130')  %>                
                          </td>
                          <td >
                            <b>  <%= item.title%> </b><br/>
                            <i class="icon-user"></i> <%= item.from_name %> &nbsp;
                            <i class="icon-eye-open"></i> views: <%#= number_with_delimiter item.view_count %> &nbsp;
                            <i class="icon-comment"></i> comments: <%#= number_with_delimiter  item.view_count %> &nbsp;
                            <br/>
                            <div class="item-footer">
                              <%= item.short_body %>
                            </div>
                            <div class="item_command">
                              <a href="#postModal"  data-toggle="modal" class="cmd-repost-news"  
                                 data-post-body="<%= strip_html(item.short_body) %> <%#= item. %>" 
                                 data-post-img=" <%=  item.img%>"
                                 >
                                <i class="icon-share"></i> share
                              </a>
                              <a href=""><i class="icon-copy"></i> create article</a>
                              <a href=""><i class="icon-globe"></i> open channel</a>
                              <a href=""><i class="icon-user"></i> competitor!</a>
                              <a href=""><i class="icon-remove"></i> ignore</a>
                            </div>
                            <br/>

                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>     
                </div>
                <div class="span3">
                  <table class="table">
                    <tr>
                      <td><h5>Recommended Competitors</h5></td>
                    </tr>
                    <tr>
                      <td>
                        <% for item in @competitors do  %>
                            <div class="pull-left">
                              <div  style="margin:0.4em;">
                                <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%=item.id%>"  ><%=  image_tag(item.profile_image , :size => "48x48", :style => "max-height:none;height: 48px;")%></a>
                              </div>
                            </div>
                          <% end %>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>



                <div class="tab-pane " id="2">
                </div>


                <div class="tab-pane" id="6">
                  <table class="table datatable">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Name</th>
                        <th width="80px">Subscriptions</th>
                        <th width="80px">Posts</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for fan in @competitors  do %>
                          <tr>
                            <td width="48px" ><%= image_tag(fan.profile_image, :size => "48x48") %></td>
                            <td>
                              <%= fan.name %>
                              <% if fan.bio %>
                                <br/><%= fan.bio[0..200] %>
                              <% end %>
                              <br/>
                              <div class="item_command">
                                <a href=""><i class="icon-glass"></i> invite</a>
                                <a href="/fans/search?id=<%=fan.id%>"><i class="icon-search"></i> search</a>
                                <a href=""><i class="icon-globe"></i> webpage</a>
                                <a href=""><i class="icon-user"></i> competitor</a>
                                <a href="/fans/ignore?id=<%=fan.id%>&redirect=<%=request.original_url%>"><i class="icon-remove-sign"></i> ignore</a>
                              </div>
                            </td>

                            <td><%= number_with_delimiter fan.friends_count %></td>
                            <td><%= number_with_delimiter fan.posts_count %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

                  <div class="tab-pane" id="4">
                    <h3>Messages and Notifications </h3><hr/>

                    <div class="modal-body">
                      <table width="100%">
                      </table>
                    </div>

                    <div class="modal-footer">
                      <%= link_to "show all messages", "/posts?kind=inbox" %>
                    </div>

                  </div>
                  <div class="tab-pane " id="5">
                    <h3>Users comments</h3><hr/>
                    <table class="table datatable">
                      <thead>
                        <tr>
                          <th width="200px">Name </th>
                          <th>Message</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for item in @channel.comments do  %>
                            <tr>
                              <td><%= item.name  %></td>
                              <td>
                                <div class="pull-right"><%= time_ago_in_words item.posted_at   %></div>
                                <%= item.message  %>

                                <div class="item_command">
                                  <a href="#postModal"  data-toggle="modal" class="cmd-repost-news"  data-post-body="<%=item.message%>" ><i class="icon-share"></i> share</a>
                                  <a href="<%=item.target_link%>" target="_blank"><i class="icon-edit"></i> reply</a>
                                  <a href=""><i class="icon-remove-sign"></i> ignore</a>
                                </div>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>

                    </div>

                  </div>
                </div>

              </div>
            </div>


            <style>
              .longer{
                max-height: 800px;
              }
            </style>