<div class="row-fluid">
  <div class="thumbnail span12">

    <%= form_for @channel, :html => { :class => 'form-horizontal' } do |f| %>
      <fieldset>

        <div class="modal-header">
          <h3><%= image_tag(@channel.icon, :size => "32x32") %> Setup <%= @channel.name  %> channel</h3>
          <%= f.hidden_field :id, :class => 'text_field' %>
        </div>

        <div class="modal-header">

          <% if @channel.facebook? or @channel.twitter? or @channel.youtube? or @channel.linkedin? %>
            <div class="control-group">
              <%= f.label "Signiture", :class => 'control-label' %>
              <div class="controls">
                <%= f.text_area :auto_respond_message, :class => 'text_area' %>
              </div>
            </div>

            </div>
          <% end %>


          <div class="control-group hide">
            <%= f.label :home_page_short_url, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :home_page_short_url, :class => 'text_field' %>
              <%= link_to "create short url",  "/channels/create_short_link?id=#{@channel.id}" %>
            </div>
          </div>

          <% if  @channel.blogger? or @channel.wordpress? or @channel.gmail? %>
            <div class="control-group">
              <%= f.label :email, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :email, :class => 'text_field' %>
              </div>
            </div>
          <% end %>


          <% if @channel.gmail? %>
            <div class="control-group">
              <%= f.label :secret, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :secret, :class => 'text_field' %>
              </div>
            </div>
          <% end  %>



          <% if @channel.facebook? or @channel.twitter? or @channel.linkedin? %>
            <h3>Channel Token</h3><hr/>
            <div class="control-group">
              <%= f.label :token, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :token, :class => 'text_field span10' %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :secret, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :secret, :class => 'text_field span10' %>
              </div>
            </div>
            <% if @channel.linkedin?  %>
              <div class="control-group">
                <%= f.label :pin, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :pin, :class => 'text_field span10' %>
                </div>
              </div>
            <% end %>
          <% end %>


        </div>


        <div class="modal-footer">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to 'Cancel', @channel, :class => 'btn' %>
        </div>
      </fieldset>
    <% end %>


  </div>
</div>

<style>
  .modal-footer{margin-bottom: -25px;margin-left: -4px;;margin-right: -4px;}
</style>