<%= render :partial => 'shared/upper_row' %>

<div class="row">
  <div class="thumbnail span12">
    <div class="modal-header">
      <h3>Channels</h3>
    </div>
    <div class="modal-body">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Fans</th>
            <th>Posts</th>
            <th>Scanned at</th>
            <th>Commands</th>
          </tr>
        </thead>
        <% for channel in @channels do  %>
            <tr>
              <td width="48px"><%= image_tag(channel.icon, :size => "48x48")   %></td>
              <td><%= link_to channel.name , channel   %> (<%= channel.id   %>) <br/> <span style="font-size:10px;line-height:12px;">Token: <%= channel.token %> <br/> secret: <%= channel.secret %> </span> </td>
              <td width="80px"><%= number_with_delimiter channel.fans.count   %></td>
              <td width="80px"><%= number_with_delimiter  channel.posts.count   %></td>
              <td width="80px"><%= time_ago_in_words channel.scanned_at  unless channel.scanned_at.nil?  %></td>
              <td width="80px">
                <% if channel.in_use? %>
                  <%=  login_link(channel) %>
      <%#= link_to "disconnect" , "" , :class =>"btn btn-danger" %>
                <% else %>
                  <%=  login_link(channel) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>