
<%

def link_to_dialog_login(img,channel)
  html = "<a data-toggle='xmodal' href='#connectDialog'  class='btn btn-info openLoginDialog btnSocialLogin' data-img=#{img} data-channel='#{channel}'  >"
  html << "Connect to #{channel}"
  html << "</a>"
end


def network_thumnail(name,img)

  title = name
  desc = lorem(12)
  login_link = ""
  logout_link = ""
  create_account_url = ""
  connected_style = ""

  if name.include? "Facebook"
    desc = "Connect to Facebook, manage your fan page and groups."
    login_link = link_to("login to Facebook" ,"/auth/facebook" , :class => "btn  btn-info ")
    create_account_url = "http://www.facebook.com"
  end
  if name.include? "Twitter"
    desc = "Connect to Twitter, manage your followers."
    login_link = link_to("login to Twitter" ,"/auth/twitter" , :class => "btn  btn-info")
    create_account_url = "http://www.twitter.com"
  end
  if name.include? "Foursquare"
    desc = "Connect to Foursquare, manage your Venue, offer deals and more."
    login_link = link_to("login to Foursquare" ,"/auth/foursquare" , :class => "btn  btn-info")
    create_account_url = "http://www.foursquare.com"
  end


  if name.include? "Wordpress"
    desc = "Manage your blog at wordpress.com"
    login_link = link_to_dialog_login(img,"wordpress")
    create_account_url = ""
  end

  if name.include? "Blogger"
    desc = "Manage your blog at Blogger.com"
    login_link = link_to_dialog_login(img,"blogger")
    create_account_url = ""
  end

  if name.include? "Tumblr"
    desc = "Manage your blog at Tumblr.com"
    login_link = link_to_dialog_login(img,"tumblr")
    create_account_url = ""
  end

  if name.include? "Google Search"
    desc = "Runs Daily SEO Searches for you brand"
    login_link = link_to_dialog_login(img,"Google")
  end

  if name.include? "rss"
    desc = "Manage your RSS Feeds"
    login_link = link_to_dialog_login(img,"reader")
  end

  if name.include? "reddit"
    desc = "Manage Reddit Link Submission"
    login_link = link_to_dialog_login(img,"reddit")
  end

  if name.include? "youtube"
    desc = "Manage your videos and user comments on youtube.com"
    login_link = link_to_dialog_login(img,"youtube")
    create_account_url = ""
  end



  if name.include? "wordpress"
    desc = "Manage your wordpress blog and Comments "
    login_link = link_to_dialog_login(img,"wordpress")
    create_account_url = ""
  end

  if name.include? "blogger"
    desc = "Manage your BLogger blog and Comments "
    login_link = link_to_dialog_login(img,"blogger")
    create_account_url = ""
  end

  
  if name.include? "gmail"
    desc = "Send and recieve emails from goolgle mail"
    login_link = link_to_dialog_login(img,"gmail")
  end

  
  if name.include? "google"
    desc = "Send and recieve posts from goolgle Plus"
    login_link = link_to_dialog_login(img,"gmail")
  end

  if name.include? "Mad Mimi"
    desc = "Send and recieve emails from Mad Mimi mail services"
    login_link = link_to_dialog_login(img,"madmimi")
    create_account_url = ""
  end

  if name.include? "Mail Chimp"
    desc = "Send and recieve emails from Mail Chimp mail services"
    login_link = link_to_dialog_login(img,"mailchimp")
    create_account_url = ""
  end
  if name.include? "Send Grid"
    desc = "Send and recieve emails from SendGrid mail services"
    login_link = link_to_dialog_login(img,"sendgrid")
    create_account_url = ""
  end


  if name.include? "Linkedin"
    desc = "Manage your Linkedin Connection, view group post and share your ideas"
    login_link = link_to("login to Linkedin" ,"/auth/linkedin" , :class => "btn btn-info")
    create_account_url = "http://www.foursquare.com"
    login_link =  link_to "Logout", "/brands/disconnect?channel=#{@li.id}" , :class => "" if @li.in_use?
    connected_style = "alert alert-success" if @li.in_use?
  end







  html = "


  <div class='modal-body'>
  #{desc}
  </div>
  <div class='modal-footer' style'text-align:left;'>
  #{login_link}
  </div>"


  html


end

%>


<div class="row-fluid">
  <div class="thumbnail">
    <div class="modal-header">
      <div class="pull-left">
        <%= image_tag @channel.icon %>
      </div>
      <h2>Register to <%= @channel.name.humanize %></h2>
    </div>

    <%= raw network_thumnail(@channel.name,@channel.icon) %>

  </div>
</div>


<div class="modal hide" id="connectDialog">
  <%= form_tag "/channels/register" do  %>
  <%= hidden_field_tag  "channel" , @channel.id %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="fan-title"> <img src="" id="loginDialogIcon" width="32px" height="32px" /> Connect to <span id="channelName"></span> </h3>
  </div>

  <div class="modal-body">
    <table class="table">
      <tr class="hide" id="tr-url">
        <td> URL:</td>
        <td> <%= text_field_tag  "url" , @channel.posts_feed %></td>
      </tr>
      <tr class="hide" id="tr-user">
        <td> User:</td>
        <td> <%= text_field_tag "user" %></td>
      </tr>
      <tr class="hide" id="tr-email">
        <td> Email:</td>
        <td> <%= text_field_tag "email" , @channel.email %></td>
      </tr>
      <tr class="hide" id="tr-password">
        <td> Password:</td>
        <td> <%= text_field_tag  "pwd" , @channel.secret  %></td>
      </tr>
      <tr class="hide" id="tr-token">
        <td> Token:</td>
        <td> <%= text_field_tag  "token" , @channel.token %></td>
      </tr>

      <tr>
        <td> </td>
        <td> <%= submit_tag "Connect" %> <%= link_to "Cancel", "", :class => "btn"%> </td>
      </tr>
    </table>
  </div>
<% end %>
</div>



<script>
  $(document).ready(function() {
    $(document).on("click", ".openLoginDialog", function () {
      $("#connectDialog").slideToggle(400);
      channel = $(this).data("channel");
      $("#channelName").text(channel);
      
      if (channel== "blogger"){
        $("#loginDialogIcon").attr("src","/assets/icons/blogger_64.png");
        $("#tr-url").show();
        $("#tr-email").show();
      }
        
      if (channel== "wordpress"){
        $("#loginDialogIcon").attr("src","/assets/icons/wordpress_64.png");
        $("#tr-url").show();
        $("#tr-email").show();
      }
      if (channel== "tumblr"){
        $("#loginDialogIcon").attr("src","/assets/icons/tumblr_64.png")
        $("#tr-url").show();
        $("#tr-email").show();
      }
      if (channel== "youtube"){
        $("#loginDialogIcon").attr("src","/assets/icons/youtube_64.png")
        $("#tr-user").show();
        $("#tr-password").show();
        
      }
      if (channel== "gmail"){
        $("#loginDialogIcon").attr("src","/assets/icons/gmail_64.png")
        $("#tr-email").show();
        $("#tr-password").show();
      }
      if (channel== "reddit"){
        $("#loginDialogIcon").attr("src","/assets/icons/reddit_64.png")
        $("#tr-user").show();
        $("#tr-password").show();
      }
      if (channel== "google_search"){
        $("#loginDialogIcon").attr("src","/assets/icons/google_64.png")
        $("#tr-email").show();
        $("#tr-token").show();
      }
      if (channel== "reader"){
        $("#loginDialogIcon").attr("src","/assets/icons/rss.png")
        $("#tr-email").show();
        $("#tr-password").show();
      }
      if (channel== "sendgrid"){
        $("#loginDialogIcon").attr("src","/assets/icons/sendgrid_logo.png")
        $("#tr-user").show();
        $("#tr-password").show();
        $("#tr-token").show();
      }
      return false;
    }); 
      
  });
</script>



<style>
  .modal-footer{margin-bottom: -4px;margin-left: -4px;;margin-right: -4px;}
</style>