<%= render "shared/upper_row" %>


<%= render "facebook_channel" if @channel.facebook? %>
<%= render "youtube_channel" if @channel.youtube? %>
<%= render "twitter_channel" if @channel.twitter? %>
<%= render "linkedin_channel" if @channel.linkedin? %>
<%= render "blogger_channel" if @channel.blogger? %>
<%= render "wordpress_channel" if @channel.wordpress? %>
<%= render "reddit_channel" if @channel.reddit? %>
<%= render "rss_channel" if @channel.rss? %>
<%= render "google_plus_channel" if @channel.google_plus? %>
<%= render "foursquare_channel" if @channel.foursquare? %>
<%= render "gmail_channel" if @channel.gmail? %>
<%= render "dropbox_channel" if @channel.dropbox? %>



<script>
                 
  $(document).ready(function() {
    $("a[rel=popover]")
    .popover({
      offset: 80,
      placement:"top"
    })
    .click(function(e) {
      e.preventDefault()
    })
  });                 
                 
     
     
                          
                          
  $(document).ready(function() {
                          
    $('#myCarousel').carousel({
      interval: 2000000000
    })
                                
                            
    $(document).on("click", "#twit", function () {
      $("#post-dialog").slideToggle(500);
      return false;
    });

  });  
</script>






<style>

  .popover{width:600px;}

  .profile-button{
    padding-right:1em;
    padding-bottom: 0.5em;  
  }
  .profile-button img{
    max-height: none;
    height: 48px;

  }

  .recommended-users-with-popup{

  }
  .recommended-users-with-popup li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    height: 48px;
  }
  .recommended-users-with-popup a{
    display: inline;
  }
  recommended-users-with-popup li img{
    height:48px;
    width:48px;
  }
</style>

