<subview ui-associations="withNavBar ">
  <scrollpanel>

    <tableview>       
      <% unless @channel.rss? or @channel.gmail? %>
        <tablecell >
          <div class="profile-box">
            <table width="100%">
              <tr style="vertical-align:top;">
                <td width="70px"><%= image_tag @channel.icon , :size => "50x50" %></td>
                <td>
                  <h3><%=  @channel.name%></h3>
                  <p> <%= @channel.profile_description %></p>
                </td>
              </tr>
            </table>
          </div>
        </tablecell>


        <tablecell>
          <% if @channel.facebook? %>
            <table width="100%">
              <tr style="vertical-align:top;font-size:13px;">
                <td width="25%" style="border-right:1px solid #333;">
                  <b>Friends</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.fans.where(:kind => "fan").count) %></span>
                </td>
                <td width="25%"  style="border-right:1px solid #333;">
                  <b>Comments</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.comments.count) %></span>
                </td>
                <td width="25%"  style="border-right:1px solid #333;">
                  <b>Posts</b><br/>
                  <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
                </td>
                <td width="25%">
                  <b>Converted</b><br/>
                  <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
                </td>
              </tr>
            </table>
          <% end %>

          
          
          <% if @channel.twitter? %>
            <table width="100%">
              <tr style="vertical-align:top;font-size:13px;">
                <td width="25%" style="border-right:1px solid #333;">
                  <b>Followers</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.fans_count) %></span>
                </td>
                <td width="25%"  style="border-right:1px solid #333;">
                  <b>Following</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.followings_count) %></span>
                </td>
                <td width="25%"  style="border-right:1px solid #333;">
                  <b>Tweets</b><br/>
                  <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
                </td>
                <td width="25%">
                  <b>Retweets</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.likes_count) %></span>
                </td>
              </tr>
            </table>
          <% end %>
          
          <% if @channel.youtube? %>
            <table width="100%">
              <tr style="vertical-align:top;font-size:13px;">
                <td width="25%" style="border-right:1px solid #333;">
                  <b>Subscribers</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.fans.where(:kind => "fan").count) %></span>
                </td>
                <td width="25%" style="border-right:1px solid #333;">
                  <b>Videos</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.posts.where(:kind => "video").count) %></span>
                </td>
                <td width="25%"  style="border-right:1px solid #333;">
                  <b>Comments</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.comments.count) %></span>
                </td>
                <td width="25%"  style="border-right:1px solid #333;">
                  <b>Competitors</b><br/>
                  <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
                </td>
              </tr>
            </table>
          <% end %>

          <% if @channel.foursquare? %>
            <table width="100%">
              <tr style="vertical-align:top;font-size:13px;">
                <td width="25%" style="border-right:1px solid #333;">
                  <b>Subscribers</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.fans.where(:kind => "fan").count) %></span>
                </td>
                <td width="25%" style="border-right:1px solid #333;">
                  <b>Videos</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.posts.where(:kind => "video").count) %></span>
                </td>
                <td width="25%"  style="border-right:1px solid #333;">
                  <b>Comments</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.comments.count) %></span>
                </td>
                <td width="25%"  style="border-right:1px solid #333;">
                  <b>Competitors</b><br/>
                  <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
                </td>
              </tr>
            </table>
          <% end %>
          
          <% if @channel.google_plus? %>
            <table width="100%">
              <tr style="vertical-align:top;font-size:13px;">
                <td width="33%" style="border-right:1px solid #333;">
                  <b>Contacts</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.fans.where(:kind => "fan").count) %></span>
                </td>
                <td width="33%"  style="border-right:1px solid #333;">
                  <b>Comments</b><br/>
                  <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
                </td>
                <td width="33%">
                  <b>Activities</b><br/>
                  <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
                </td>
              </tr>
            </table>
          <% end %>

          <% if @channel.rss? %>
            <table width="100%">
              <tr style="vertical-align:top;font-size:13px;">
                <td width="33%" style="border-right:1px solid #333;">
                  <b>Feeds</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.fans.where(:kind => "fan").count) %></span>
                </td>
                <td width="33%"  style="border-right:1px solid #333;">
                  <b>Recommended</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.comments.count) %></span>
                </td>
                <td width="33%"  style="border-right:1px solid #333;">
                  <b>News</b><br/>
                  <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
                </td>
              </tr>
            </table>
          <% end %>
          
          
          <% if @channel.linkedin? %>
            <table width="100%">
              <tr style="vertical-align:top;font-size:13px;">
                <td width="25%" style="border-right:1px solid #333;">
                  <b>Connections</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.fans.where(:kind => "fan").count) %></span>
                </td>
                <td width="25%"  style="border-right:1px solid #333;">
                  <b>Jobs</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.posts.where(:kind => "job").count) %></span>
                </td>
                <td width="25%"  style="border-right:1px solid #333;">
                  <b>Posts</b><br/>
                  <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
                </td>
                <td width="25%">
                  <b>Group Posts</b><br/>
                  <span class="big-number"><%= number_with_delimiter(@channel.posts.where(:kind => "group").count) %></span>
                </td>
              </tr>
            </table>
          <% end %>
          
        </tablecell>




        <tableheader>
          Manage Channel
        </tableheader>

        <tablecell ui-usage="icon" ui-implements="disclosure">
          <img src="/assets/mobile/png/comment32.png">
          <celltitle><%= link_to "User Comments   (#{@channel.comments.count}) " , "/comments"%></celltitle>
        </tablecell>

        <tablecell ui-usage="icon" ui-implements="disclosure">
          <img src="/assets/mobile/png/users32.png">
          <celltitle><%= link_to "Friends   (#{@channel.fans.where(:kind => 'fan').count}) " , "/fans?kind=#{"fan"}&channel=#{@channel.id}"%></celltitle>
        </tablecell>

        <tablecell ui-usage="icon" ui-implements="disclosure">
          <img src="/assets/mobile/png/mailopened32.png">
          <celltitle><%= link_to "Messages  (#{@channel.posts.where(:kind => 'inbox').count}) " , "/posts?kind=#{"inbox"}&channel=#{@channel.id}"%></celltitle>
        </tablecell>

        <% if @channel.facebook? or @channel.linkedin? %>
          <tablecell ui-usage="icon" ui-implements="disclosure">
            <img src="/assets/mobile/png/notepencil32.png">
            <celltitle><%= link_to "Group Posts   (#{@channel.posts.where(:kind => 'group').count}) " , "/posts?kind=#{"group"}&channel=#{@channel.id}"%></celltitle>
          </tablecell>
        <% end %>

      
        <% if @channel.youtube? %>
          <tablecell ui-usage="icon" ui-implements="disclosure">
            <img src="/assets/mobile/png/notepencil32.png">
            <celltitle><%= link_to "New subscription movies   (#{@channel.posts.where(:kind => 'prospect').count}) " , "/posts?kind=#{"prospect"}&channel=#{@channel.id}"%></celltitle>
          </tablecell>
        <% end %>

      
        <% if @channel.facebook? or @channel.youtube? %>
          <tablecell ui-usage="icon" ui-implements="disclosure">
            <img src="/assets/mobile/png/camera32.png">
            <celltitle><%= link_to "My Videos   (#{@channel.posts.where(:kind => 'my-post').count}) " , "/fans?kind=group&channel=#{@channel.id}"%></celltitle>
          </tablecell>
        <% end %>

        <tableheader>
          Reccomendations
        </tableheader>

        <tablecell ui-usage="icon" ui-implements="disclosure">
          <img src="/assets/mobile/png/users32.png">
          <celltitle><%= link_to "Recommended Prospects   (#{@channel.fans.where(:kind => 'prospect').count}) " , "/fans?kind=prospect&channel=#{@channel.id}"%></celltitle>
        </tablecell>

        <% if  @channel.linkedin? %>
          <tablecell ui-usage="icon" ui-implements="disclosure">
            <img src="/assets/mobile/png/moneyreceipt32.png">
            <celltitle><%= link_to "Recommended Jobs   (#{@channel.posts.where(:kind => 'job').count}) " , "/posts?kind=job&channel=#{@channel.id}"%></celltitle>
          </tablecell>
        <% end %>



        <% if @channel.facebook? or @channel.linkedin? %>
          <tablecell ui-usage="icon" ui-implements="disclosure">
            <img src="/assets/mobile/png/usersplus32.png">
            <celltitle><%= link_to "Recommended Groups   (#{@channel.fans.where(:kind => 'group').count}) " , "/fans?kind=group&channel=#{@channel.id}"%></celltitle>
          </tablecell>
        <% end %>
        <tablecell ui-usage="icon" ui-implements="disclosure">
          <img src="/assets/mobile/png/usersplus32.png">
          <celltitle><%= link_to "Potential Competitors   (#{@channel.fans.where(:kind => 'competitor').count}) " , "/fans?kind=competitor&channel=#{@channel.id}"%></celltitle>
        </tablecell>

      <% end %>
      <tableheader>
        <b>My Posts</b>
      </tableheader>
      <% posts = [] %>
      <% posts = @channel.posts.where(:kind => 'my-post').order('posted_at DESC')  if @channel.facebook?%>
      <% posts = @channel.posts.where(:kind => 'my-post').order('posted_at DESC')  if @channel.youtube?%>
      <%# posts = @channel.posts.where(:kind => 'video').order('posted_at DESC')  if @channel.youtube? %>
      <% posts = @channel.posts.where(:kind => 'recommended').order('posted_at DESC')  if @channel.rss? %>
      <% posts = @channel.posts.where(:kind => "my-post").order('posted_at DESC')  if @channel.twitter? %>
      <% posts = @channel.posts.order('posted_at DESC')  if @channel.gmail? %>


      <% for item in posts do  %>

          <% if @channel.gmail? %>
            <tablecell >
              <celltitle> 
                <%= link_to item.from_name , item %> <%= link_to hebrew_decode( item.title) , item %> 
              </celltitle>
              <%unless item.plain_text.nil? %>
                <celldetail>
                  <div class="tiny" style="float:right;xcolor:#ddd;"><%=   time_ago_in_words(item.posted_at)  %></div>
                  <%= link_to hebrew_decode(item.plain_text)[0..200], item %> 
                </celldetail>
              <% end %>
            </tablecell>
          <% else %>

            <tablecell ui-usage="image">

              <%=  image_tag(item.img, :size => "50x50")%>
              <celltitle>
                <div class="tiny" style="float:right;xcolor:#ddd;"><%=   time_ago_in_words(item.posted_at) unless item.posted_at.nil? %></div>
                <% unless item.title.nil? %>
                  <%= link_to  strip_html(item.title) , item %>
                  <br/>
                <% end %>

              </celltitle>
              <celldetail><%= link_to item.plain_text[0..200], item %>  </celldetail>
            </tablecell>
          <% end %>
        <% end %>
      </tableview>

    </scrollpanel>
  </subview>

  <style>
    .summary{
      width:100%;
      padding:0.4em;
    }
    .summary h5{
      font-size: 22px;
      color:#990000;
    }

    .summary td{
      text-align: center;
      font-size: 12px;
      color:#004099;
    }
    .rate{
      font-size:14px;
      font-weight: bold;
    }
  </style>