<%= render :partial => 'shared/upper_row' %>
<div class="row">

  <div class="span12 ">
    <div class="tabbable  span12 ">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#reader" data-toggle="tab">Reader</a></li>
        <li ><a href="#articles" data-toggle="tab">Articles</a></li>
        <li><a href="#feeds" data-toggle="tab">Feeds</a></li>
      </ul>
      <div class="tab-content">


        <div class="tab-pane active" id="reader">
          <div >
            <% unless @item.nil? %>
              <table class="table">
                <tr>
                  <td width="70px">
                    <%= image_tag @item.feed.icon , :size => "64x64" %>
                  </td>
                  <td>
                    <h3> <%= @item.title %></h3>
                    <%= @item.feed.name %> | <%= time_ago_in_words @item.posted_at %>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <hr/><span id="the-body">
                    <%= image_tag( @item.icon, :style => "margin:1em;float:left;") %> <%= raw @item.plain_text %>
                    </span>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">
                    <div class="form-actions">
                      &nbsp;

                      <%= link_to 'Repost', "/articles/new?from_kind=rss_feed&from_id=#{@item.id}", :class => 'btn btn-success' %>
                      <%= link_to 'Add to Twits', "/feed_entries/deploy?id=#{@item.id}&delayed=true", :class => 'btn btn-success' %>




                      <div class="pull-left">
                        <div class="btn-group">
                          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"> Facebook<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <%
                            pages = @brand.get_channel("facebook").fan_pages
                          %>
                            <% for pg in pages do %>
                                <li><a href="/feed_entries/deploy?id=<%=@item.id%>&page=<%= pg["id"] %>" ><i class="icon-comment"></i> <%= pg["name"] %> </a></li>
                              <% end %>
                            </ul>
                          </div>
                        </div>


                        <div class="pull-right">

                          <% 
                          begin
                            @next =  FeedEntry.where(" id > ?", @item.id).first.id 
                          rescue Exception => e
                            #raise e.message.inspect
                            @next = nil
                          end

                          begin
                            @prev =  FeedEntry.where(" id < ?", @item.id).last.id 
                          rescue Exception => e
                            #raise e.message.inspect
                            @prev = nil
                          end
                        %>
                          <%= link_to 'Open original', @item.url , :class => 'btn btn-info'  , :target => "_blank"%>
                          <%= link_to "Previous", "/feed_entries/?id=#{@prev}" , :class => "btn"   unless @prev.nil? %>
                          <%= link_to "Next"  , "/feed_entries/?id=#{@next}", :class => "btn"      unless @prev.nil? %>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              <% end %>
            </div>
          </div>

          <div class="tab-pane" id="articles">
            <h3> More Feed Articles </h3><hr/>
            <table class="table datatable">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <% for item in @items.reverse[0..50] do  %>
                <% unless item.title.nil?  or item.title.empty?%>
                <tr>
                  <td width="32px">
                    <%= link_to image_tag(item.icon , :size => "32x32" , :style => "margin:0.2em;") , "/feed_entries?id=#{item.id}" %> 
                  </td>
                  <td>
                  <%= link_to "#{item.title}" , "/feed_entries?id=#{item.id}" %> 
                  </td>
                  <td>
                   <%= time_ago_in_words @item.posted_at %><br/>
                  </td>
                </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
            
            </div>

            <div class="tab-pane" id="feeds">
              <h3>Other Channels</h3><hr/>
              <table class="table datatable">
                <thead>
                  <tr>
                    <th width="32px"></th>
                    <th>Name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% for item in Feed.all do  %>
                  <tr>
                    <td>
                      <%= link_to image_tag(item.icon , :size => "32x32" , :style => "margin:0.2em;") , "/feed_entries?id=#{item.id}" %> 
                    </td>
                    <td>
                      <%= link_to "#{item.name}" , "/feed_entries?feed=#{item.id}" %> <br/> <%= time_ago_in_words @item.posted_at %>
                    </td>
                    <td>
                      <%= time_ago_in_words @item.posted_at %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
              
              </div>


            </div>
          </div>



        </div>
      </div>


      <style>
        #the-body img{
          float:left;
          margin:1em;
          width:140px;
        }
        #the-body{
          font-size: 13px;
          line-height: 16px;
        }

        .htable td{ vertical-align: top;line-height:16px;}

        .htable{
          width:100%;
          vertical-align: top;
          <% if is_hebrew_text?(@item.plain_text) then %>
            direction:rtl;
            text-align:right;
          <% end %>
        }

        .float-left{
          width:120px;
          float:left;
          margin-right: 1em;
        }

        .float-left img{height:32px;}
      </style>