
<% @brand  = current_user.brand %>



<subview ui-associations="withNavBar withTabBar">
  <scrollpanel>

    <tableview >
      <tablecell >
        <celltitle><%= @entry.title %></celltitle>
      </tablecell>

      <tablecell >
        <% unless @entry.image_url.nil?  %>
          <div style="padding:1em;"><%= image_tag(@entry.icon , :width => "100%" ,:zclass => 'feed_image') %><hr/></div>
        <% end %>
        <div style="padding:1em;"><%= strip_html(@entry.body) %></div>
      </tablecell>
    </tableview>
    <tableview>
      <tablecell>
        <stack ui-box="horizontal">
          <uibutton ui-kind="rounded-rectangle">
            <label>
              <%= link_to 'Repost', "/articles/new?from_kind=rss_feed&from_id=#{@entry.id}" %>
            </label>
          </uibutton>
          <uibutton ui-kind="rounded-rectangle">
            <label>
              <label><%= link_to 'Add to Twits', "/feed_entries/deploy?id=#{@entry.id}&delayed=true&redirect=#{request.original_url}" %></label>
            </label>
          </uibutton>
          <uibutton ui-kind="rounded-rectangle">
            <label><%= link_to 'Add to Twits', "/feed_entries/deploy?id=#{@entry.id}&now=true&delayed=true&redirect=#{request.original_url}" %></label>

          </uibutton>
        </stack> 
      </tablecell>
    </tableview>

    <tableview ui-kind=grouped id="activityChoices" ui-implements="selection-list"> 
      <tablecell ui-value="Go eat something">
        <celltitle>Post to Twitter</celltitle> 
      </tablecell>
      <tablecell ui-value="Take a nap">
        <celltitle>Create Article</celltitle> 
      </tablecell>
      <tablecell ui-value="Get some work done">
        <celltitle>Post to Social machine fan page</celltitle> 
      </tablecell>
      
    </tableview>


  </scrollpanel>
</subview>


<% content_for :footer do  %>


  <% 
  begin
    @next =  FeedEntry.where("id > ?", @entry.id).first.id
  rescue
    @next = nil
  end
  begin
    @prev =  FeedEntry.where("id < ?", @entry.id).last.id
  rescue
    @prev = nil
  end
%>

  <uibutton ui-icon-align="top">
    <a href="/brands">
      <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_home.png)"></icon>
      <label>Home</label>
    </a>
  </uibutton>


  <uibutton ui-icon-align="top">
    <% unless @prev.nil? %>
      <a href="/feed_entries/show?id=<%=@prev%>">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_arrow_left.png)"></icon>
        <label>Previous</label>
      <% end %>
  </uibutton></a>

  <uibutton ui-icon-align="top">
    <% unless @next.nil? %>
      <a href="/feed_entries/show?id=<%=@next%>">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_arrow_right.png)"></icon>
        <label>Next</label></a>
    <% end %>

  </uibutton>

  <uibutton ui-icon-align="top">
    <a href ="/feeds">
      <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_rss.png)"></icon>
      <label>RSS</label></a>
  </uibutton>


<% end %>
