
<div class="row">
  <div class="span12">
    <table width="100%">
      <% @emails[0..20].in_groups_of(4, false) do |row_posts| %>
        <tr>
          <% for item in row_posts %>
            <td style="vertical-align: top; width:240px; padding:0.4em;">
              <div class="thumbnail">
                <div class="modal-header">
                  <table>
                    <tr>
                      <td with="40px"></td>
                      <td>
                        <%= item[:from] %><br/>
                        <%= item[:subject] %>
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="modal-body">
                  <%#= item.inspect %>
                  <%= item[:body] %>
                  <%#= strip_html(item.text).gsub!(/(?:f|ht)tps?:\/[^\s]+/, '') %>
                </div>

                <div class="item-footer">
                  <div class="btn-group ">
                    <a class="btn btn" href="#"> actions</a>
                    <a class="btn btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li> <a href="/articles/new?from_kind=rss_feed&amp;from_id=11863"><i class="icon-file"></i>View Movie</a> </li>
                      <li> <a href="/articles/new?from_kind=rss_feed&amp;from_id=11863"><i class="icon-file"></i>Repost</a> </li>
                      <li> <a href="" target="_blank"><i class="icon-file"></i> Add Bookmark</a> </li>
                    </ul>
                  </div>
                </div>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>