
<div class="row">
  <div class="span12">
    <table width="100%">
      <% @fb_pages.in_groups_of(4, false) do |row_posts| %>
        <tr>
          <% for item in row_posts %>
            <td style="vertical-align: top; width:240px; padding:0.4em;">
              <div class="thumbnail">
                <div class="modal-header">
                  <table>
                    <tr>
                      <td with="40px"><%= image_tag("https://graph.facebook.com/#{item['id']}/picture", :size => "32x32")   %></td>
                      <td>
                        <%= item["name"]%><br/>
                        <b><%= item['category']  %></b>
                      </td>
                    </tr>
                  </table>
                </div>

                <!--
                <div class="modal-body">

                  <b><%#= item['category']  %></b><br/>
                  <%#=  item.inspect%>
                </div>
                -->
                <div class="modal-footer">
                  <div class="btn-group pull-right">
                    <a class="btn btn" href="#"> actions</a>
                    <a class="btn btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li> <a href="http://www.facebook.com/feeds/page.php?format=rss20&id=<%=item["id"]%>" target="_blank"><i class="icon-file"></i> Subscribe to Page Feed</a> </li>
                    </ul>
                  </div>
                </div>

              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>