<%= form_for @bookmark, :html => { :class => 'form-vertical' } do |f| %>
  <fieldset>
    <legend>Add Bookmark</legend>

    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field ' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :url, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :tags, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :tags, :class => 'text_field' %>
        <br/>
        <br/>
        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div>
    </div>
    
  </fieldset>
<% end %>
