<%
require 'nokogiri' # gem install nokogiri
def extract_image_url(html)
  doc = Nokogiri::HTML( html )
  img_srcs = doc.css('img').map{ |i| i['src'] } # Array of strings
  img_srcs.first or "/assets/icons/rss.png"
end

%>



<div class="row">
  <div class="span12">
    <table width="100%">
      <% @res_google.in_groups_of(4, false) do |row_posts| %>
        <tr>
          <% for item in row_posts %>
            <td style="vertical-align: top; width:240px; padding:0.4em;">
              <div class="thumbnail">
                <div class="modal-header">
                  <table>
                    <tr>
                      <td colspan="2">
                        <b><%= item.title %></b><br/>
                        <%=  time_ago_in_words(item.published) %> ago
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="modal-body">
                  <% img = extract_image_url(item.summary) %>
                  <%  unless img.include? "rss.png" %>
                    <div class="pull-left" style="margin:0.5em;">
                      <%= image_tag(img, :size =>'64x64')  %>
                    </div>
                  <% end %>
                  <%= strip_html(item.summary) %>
                </div>

                <div class="item-footer">
                  <a class="btn btn-danger" href="<%= item.url %>" target ="_blank"><i class="icon-user"></i>View Original</a> 
                  <a class="btn btn-info" href=""><i class="icon-retweet"></i>Repost</a>
                  
                </div>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>