<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Tags</th>
      <th width="130px">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= link_to bookmark.title, bookmark_path(bookmark) %><br/></td>
        <td><%= bookmark.url %></td>
        <td><%= bookmark.tags %></td>
        <td>
          <%= link_to 'Edit', edit_bookmark_path(bookmark), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', bookmark_path(bookmark), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          <%= link_to 'Post', "", :class => 'btn btn-info btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
