
<div class="row">


  <div class="span12">
    <table width="100%">
      <% @reddit_res.in_groups_of(4, false) do |row_posts| %>
        <tr>
          <% for item in row_posts %>
            <td style="vertical-align: top; width:240px; padding:0.4em;">
              <div class="thumbnail">
                <div class="modal-header">
                  <table>
                    <tr>
                      <td colspan="2">
                        <b><%= item[:title] %></b><br/>
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="modal-body">
                  <% unless item[:body].nil? %>
                    <%= strip_html(item[:body][0..300]) %>
                  <% end %>
                </div>

                <div class="item-footer">
                  <a class="btn btn-danger" href="<%= item[:linkl] %>" target ="_blank"><i class="icon-user"></i>View Original</a>   
                  <a class="btn btn-info"  href=""><i class="icon-retweet"></i>Repost</a> 
                </div>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>


</div>