
<div class="row">
  <div class="span12">
    <table width="100%">
      <% @feeds.in_groups_of(4, false) do |row_posts| %>
        <tr>
          <% for item in row_posts %>
            <td style="vertical-align: top; width:240px; padding:0.4em;">
              <div class="thumbnail">
                <div class="modal-header">
                  <table>
                    <tr>
                      
                      <td colspan="2">
                        <% img = item.extracted_image %>
                        <%= link_to image_tag( img, :width =>"100%") unless img.nil? %>
                        <b><%= item.title  unless item.title.nil? %></b><br/>
                        <%= time_ago_in_words(item.posted_at) %> ago
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="modal-body">

                  <b><%= item.title  %></b><br/>
                  <%= strip_html(item.body)[0..300] %>
                </div>

                <div class="modal-footer">
                  <div class="btn-group pull-right">
                    <a class="btn btn" href="#"> actions</a>
                    <a class="btn btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li> <a href="/articles/new?from_kind=rss_feed&amp;from_id=<%=item.id%>"><i class="icon-eye-open"></i> Read More</a> </li>
                      <li> <a href="/articles/new?from_kind=rss_feed&amp;from_id=<%=item.id%>"><i class="icon-tag"></i>Bookmark</a> </
                      <li> <a href="/articles/new?from_kind=rss_feed&amp;from_id=<%=item.id%>"><i class="icon-retweet"></i>Repost</a> </li>
                    </ul>
                  </div>
                </div>

              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>