<% content_for :sidebar do  %>
  <% @bookmark = Bookmark.new %>

  <%#= render :partial => 'form' %>

  <%#*<h3>Tags</h3><hr/>%>
  <%#= @tags.inspect %>
  <%#= render :partial => 'rss_subscriptions' %>
<% end %>