
<%
@tags = []
def clean_tweets
  return [] if @tweets.nil?
  res = []
  for item in @tweets do 
    res << item unless strip_html(item.text).gsub!(/(?:f|ht)tps?:\/[^\s]+/, '').nil?
    item.text.split.find_all{|word| @tags << word if /^#.+/.match word}
  end
  res
end

%>
<div class="row">
  <div class="span12">
    <table width="100%">
      <% clean_tweets.in_groups_of(4, false) do |row_posts| %>
        <tr>
          <% for item in row_posts %>
            <td style="vertical-align: top; width:240px; padding:0.4em;">
              <div class="thumbnail">
                <div class="modal-header">
                  <table>
                    <tr>
                      <td with="40px"><%= link_to image_tag(item.profile_image_url, :width =>'32x32')  %></td>
                      <td>
                        <%= item.from_user_name %><br/>
                        <%= link_to extract_url_from_html(item.text) , extract_url_from_html(item.text) , :target => "_blank"%>
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="modal-body">
                  <%= strip_html(item.text).gsub!(/(?:f|ht)tps?:\/[^\s]+/, '') %>
                </div>

                <div class="item-footer">
                  <div class="btn-group ">
                    <a class="btn btn" href="#"> actions</a>
                    <a class="btn btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li> <a href=""><i class="icon-file"></i>Retweet</a> </li>
                      <li> <a href=""><i class="icon-file"></i>Repost URL</a> </li>
                      <li> <a href="" target="_blank"><i class="icon-file"></i> Follow <%= item.from_user_name %></a> </li>
                       <li> <a href="/competitors/new?f[twtitter_name]=<%=item.from_user_name%>" target="_blank"><i class="icon-user"></i> Mark <%=item.from_user_name%> as a competitor</a> </li>
                      <li> <a href="" target="_blank"><i class="icon-file"></i> Add Botem.from_usokmark</a> </li>
                    </ul>
                  </div>
                </div>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>