<% @tw_channel = current_user.brand.get_channel("twitter") %>
<div class="row">

  <div class="span3">
    <%= form_for @tw_channel, :html => { :class => 'form-search' } do |f| %>
      <%= f.text_field :search_1 , :class => "span2 search search-1" , :value => @tw_channel.search_1%>
      <%= f.hidden_field :id ,  :value => @tw_channel.id%>
      <%= submit_tag "Save" , :class => "btn search "  %>
    <% end %>
    <div class='tweet1'></div>
  </div>

  <div class="span3">
    <%= form_for @tw_channel, :html => { :class => 'form-search' } do |f| %>
      <%= f.text_field :search_2 , :class => "span2 search search-2" , :value => @tw_channel.search_2%>
      <%= f.hidden_field :id ,  :value => @tw_channel.id%>
      <%= submit_tag "Save" , :class => "btn search "  %>
    <% end %>
    <div class="demo">
      <div class='tweet2'></div>
    </div>
  </div>

  <div class="span3">
    <%= form_for @tw_channel, :html => { :class => 'form-search' } do |f| %>
      <%= f.text_field :search_3 , :class => "span2 search search-3" , :value => @tw_channel.search_3%>
      <%= f.hidden_field :id ,  :value => @tw_channel.id%>
      <%= submit_tag "Save" , :class => "btn search"  %>
    <% end %>
    <div class="demo">
      <div class='tweet3'></div>
    </div>
  </div>
  <div class="span3">
    <%= form_for @tw_channel, :html => { :class => 'form-search' } do |f| %>
      <%= f.text_field :search_4 , :class => "span2 search search-4" , :value => @tw_channel.search_4%>
      <%= f.hidden_field :id ,  :value => @tw_channel.id%>
      <%= submit_tag "Save" , :class => "btn search "  %>
    <% end %>
    <div class="demo">
      <div class='tweet4'></div>
    </div>
  </div>

</div>





<script>
  function reloadTweets(){
    
       
    var search_1 = jQuery(".search-1").val();
    var search_2 = jQuery(".search-2").val();
    var search_3 = jQuery(".search-3").val();
    var search_4 = jQuery(".search-4").val();
    
    $(".tweet1").tweet({
      avatar_size: 32,
      count: 10,
      template: "{avatar}{text}",
      filter: function(t){ return ! /^@\w+/.test(t.tweet_raw_text); },
      query: search_1,
      loading_text: "searching twitter..."
    });
    
    $(".tweet2").tweet({
      avatar_size: 32,
      count: 10,
      template: "{avatar}{text}",
      filter: function(t){ return ! /^@\w+/.test(t.tweet_raw_text); },
      query: search_2,
      loading_text: "searching twitter..."
    });
    
    $(".tweet3").tweet({
      avatar_size: 32,
      count: 10,
      template: "{avatar}{text}",
      filter: function(t){ return ! /^@\w+/.test(t.tweet_raw_text); },
      query: search_3,
      loading_text: "searching twitter..."
    });
      
    $(".tweet4").tweet({
      avatar_size: 32,
      count: 50,
      template: "{avatar}{text}",
      filter: function(t){ return ! /^@\w+/.test(t.tweet_raw_text); },
      query: search_4,
      loading_text: "searching twitter..."
    });
      
      
  }
  
  $(function($){
    
    $(".search-1").bind("change",reloadTweets);
    $(".search-2").bind("change",reloadTweets);
    $(".search-3").bind("change",reloadTweets);
    $(".search-4").bind("change",reloadTweets);
    
    
    var search_1 = jQuery(".search-1").val();
    var search_2 = jQuery(".search-2").val();
    var search_3 = jQuery(".search-3").val();
    var search_4 = jQuery(".search-4").val();
    
    
    $(".tweet1").tweet({
      avatar_size: 32,
      count: 50,
      template: "{avatar}{text}",
      filter: function(t){ return ! /^@\w+/.test(t.tweet_raw_text); },
      query: search_1,
      loading_text: "searching twitter..."
    });
    
    $(".tweet2").tweet({
      avatar_size: 32,
      count: 50,
      template: "{avatar}{text}",
      filter: function(t){ return ! /^@\w+/.test(t.tweet_raw_text); },
      query: search_2,
      loading_text: "searching twitter..."
    });
    
    $(".tweet3").tweet({
      avatar_size: 32,
      count: 50,
      template: "{avatar}{text}",
      filter: function(t){ return ! /^@\w+/.test(t.tweet_raw_text); },
      query: search_3,
      loading_text: "searching twitter..."
    });
    $(".tweet4").tweet({
      avatar_size: 32,
      count: 50,
      template: "{avatar}{text}",
      filter: function(t){ return ! /^@\w+/.test(t.tweet_raw_text); },
      query: search_4,
      loading_text: "searching twitter..."
    });
  });
</script>


<style>
  .tweet,
  .query {
<%#*font: 120% Georgia, serif;%>
<%#*color: #085258;%>
 z-index:-100;
  }

  .tweet_list {
<%#*-webkit-border-radius: 0.5em;%>
<%#*-moz-border-radius: 0.5em;%>
<%#*border-radius: 0.5em;%>
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    z-index:-100;
<%#*background-color: #8ADEE2;%>
  }

  .tweet_list li {
     z-index:-1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 1em;
    list-style-type: none;
    width:100%;
<%#*height:150px;%>
  }
  .tweet_list .pull-right li {
<%#*overflow-y: auto;%>
<%#*overflow-x: hidden;%>
<%#*padding: 0.5em;%>
<%#*list-style-type: none;%>
    height:15px;
  }


  .tweet_list li a {
    color: #0C717A;
  }

  .tweet_list .tweet_even {
<%#*background-color: #91E5E7;%>
  }

  .tweet_list .tweet_avatar {
    padding-right: .5em; float: left;
  }

  .tweet_list .tweet_avatar img {
    vertical-align: middle;
  }

</style>