

<form class=" form-inline">
  <b>Search for words: </b>
  <input type="text" class="input-large" >
  Ignore words: 
  <input type="password" class="input-large" >
  <button type="submit" class="btn">Search</button>
</form>