<div class="row">
  <table width="100%">
    <% @videos.in_groups_of(4, false) do |row_posts| %>
      <tr>
        <% for item in row_posts %>
          <td style="vertical-align: top; width:240px; padding:0.4em;">
            <div class="thumbnail">
              <div class="caption">
                <b> <%#=  image_tag(fan.icon, :size => "16x16")%> <%= item.title%> </b><br/>
              </div>
              <%= link_to image_tag(item.thumbnails[0].url, :width =>'100%')  %><br/>
              
              
              <div class="item-footer">
                <div class="pull-right">
                  <i class="icon-user"></i> <%= item.author.name %> &nbsp;<br/>
                  <i class="icon-eye-open"></i> views: <%= item.view_count %> &nbsp;<br/>
                  <i class="icon-comment"></i> comments: <%= item.view_count %> &nbsp;<br/>
                </div>
                <div class="btn-group ">
                  <a class="btn btn" href="#"> actions</a>
                  <a class="btn btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li> <a href="<%=item.player_url%>" target ="_blank"><i class="icon-film"></i>View Movie</a> </li>
                    <li> <a href="/articles/new?youtube_url=<%=item.video_id%>&name=<%=item.title%>"><i class="icon-file"></i>Repost</a> </li>
                    <li> <a href="" target="_blank"><i class="icon-file"></i> Add Bookmark</a> </li>
                    <div class="divider"></div>
                    <li> <a href="/competitors/new?f[youtube_rss]=<%=item.author.name%>" target="_blank"><i class="icon-file"></i> New Competitor</a> </li>
                    <% for competitor in current_user.brand.competitors do  %>
                        <li> <a href="/competitors/edit?f[youtube_rss]=<%=item.author.name%>" target="_blank"><i class="icon-file"></i> <%= competitor.name %></a> </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <style>
    .fan-image{
      padding:0.4em;
    }
    .fan-box{
      padding:0.4em;
      width:210px;
      height:200px;
    }



    .badge {
      padding: 1px 9px 0px;
      font-size: 12.025px;
      font-weight: bold;
      white-space: nowrap;
      color: #ffffff;
      background-color: #999999;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      border-radius: 9px;
    }
    .badge a{
      color: #ffffff;
    }

    .thumbnails {
      margin-left: 0px;
    }
    .thumbnail {
      margin-left: 0px;
    }

    .item-footer {
      padding: 14px 15px 15px;
      margin-bottom: 0;
      background-color: #f5f5f5;
      border-top: 1px solid #ddd;
      -webkit-border-radius: 0 0 6px 6px;
      -moz-border-radius: 0 0 6px 6px;
      border-radius: 0 0 6px 6px;
      -webkit-border-radius: 0 0 6px 6px;
      -moz-border-radius: 0 0 6px 6px;
      border-radius: 0 0 6px 6px;
      -webkit-box-shadow: inset 0 1px 0 #ffffff;
      -moz-box-shadow: inset 0 1px 0 #ffffff;
      box-shadow: inset 0 1px 0 #ffffff;
      -webkit-box-shadow: inset 0 1px 0 #ffffff;
      -moz-box-shadow: inset 0 1px 0 #ffffff;
      box-shadow: inset 0 1px 0 #ffffff;
    }

  </style>