 


<div class="thumbnail">


  <div class="modal-header">
    <h2><%= image_tag "/assets/flat/bookmark-5-64.png"  , :size => "48x48"%> Bookmarks </h2>
  </div>
  <br/>
  <table class="table datatable">
    <thead>
      <tr>
        <th width="35px"></th>
        <th>Bookmarks</th>
      </tr>
    </thead>
    <tbody>
      <% @bookmarks.each do |post| %>
        <tr style="vertical-align: top">
          <td ><%= image_tag(post.img , :size => "32x32") %></td>
          <td>
            <%= time_ago_in_words(post.posted_at) unless post.posted_at.nil? %>
          </td>
          <td style="vertical-align: top;">
            <div class="pull-right">
              <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(post), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy'), post_path(post, :kind => params[:kind]) , :confirm => 'Are you sure?', :method => :delete , :class => 'btn btn-mini btn-danger'%>
            </div>

            <% if post.kind.include? "group" %>
              <h5>Group <%=  post.title %>  </h5>
            <% end %>

            <%= link_to(post.plain_text[0..100] , post ) unless post.plain_text.nil? %>
              <%= post.title %><br/><%= post.short_body %><br/><%= post.kind %>

            <% unless post.links.empty? %>
              <br/>
              <i class="icon-globe"></i><%= post.links[0..30] unless post.links.nil? %>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
