
<div class="row">
  <div class="span12 well">

    <div style="text-align: center;">
      <h1>Here are the search resuls</h1><br/>    <br/>
      <%= form_tag("/bookmarks", :method=>'get', :multipart => true , :class=> "form-inline") do %>
        <%= text_field_tag "search", "search", :class => 'text_field' ,:value => params[:search] %>
        <%= text_field_tag "ignore", "ignore", :class => 'text_field' ,:value => params[:ignore]%>
        <%= submit_tag "Find", :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</div>
<br/>
<br/>
<div class="tabbable span12 ">
  <ul class="nav nav-tabs">
    <li><a   href="#movies" data-toggle="tab">Movies(<%= @videos.count %>)</a></li>
    
    <li><a href="#google" data-toggle="tab">Google News(<%= @res_google.count %>) </a></li>
    <li><a href="#facebook_users" data-toggle="tab"> Facebook Users (<%= @fb_users.count %>) </a></li>
    <li><a href="#facebook_groups" data-toggle="tab">Facebook Pages (<%= @fb_pages.count %>)</a></li>
    <li><a href="#articles" data-toggle="tab"> Reddit articles (<%= @reddit_res.count %>)</a></li>
    <li><a class="active" href="#twitter_search" data-toggle="tab"> Twitter Search</a></li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane " id="1">
      <% for item in @feeds do  %>
          <%= item.inspect %><br/>
        <% end %>
      </div>


      <div class="tab-pane" id="movies">
        <%= render :partial => "videos" %>
      </div>
      <div class="tab-pane" id="emails">
         <%#= render :partial => "emails" %>
      </div>
      <div class="tab-pane" id="articles">
        <%= render :partial => "reddit_results" %>
      </div>
      <div class="tab-pane" id="fans">
        <%= render :partial => 'list' %>
      </div>
      <div class="tab-pane" id="news">
        <%= render :partial => 'rss_feeds' %>
      </div>
      <div class="tab-pane " id="twitter">
        <%#= render :partial => 'tweets' %>
      </div>
      <div class="tab-pane" id="google">
        <%= render :partial => 'google_search' %>
      </div>
      <div class="tab-pane" id="facebook_users">
        <%= render :partial => 'facebook_users' %>
      </div>
      <div class="tab-pane" id="facebook_groups">
        <%= render :partial => 'facebook_groups' %>
      </div>
    
      <div class="tab-pane active" id="twitter_search">
        <%= render :partial => 'twitter_search_1' %>
      </div>
    </div>
  </div>



  <%= render :partial => 'sidebar' %>