<h1>Bookmark</h1>

<p>
  <b>Brand</b><br>
  <%= @bookmark.brand_id %>
</p>

<p>
  <b>Title</b><br>
  <%= @bookmark.title %>
</p>

<p>
  <b>Url</b><br>
  <%= @bookmark.url %>
</p>

<p>
  <b>Message</b><br>
  <%= @bookmark.message %>
</p>

<p>
  <b>Tags</b><br>
  <%= @bookmark.tags %>
</p>

<div class="form-actions">
  <%= link_to 'Back', bookmarks_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_bookmark_path(@bookmark), :class => 'btn' %>
  <%= link_to 'Delete', bookmark_path(@bookmark), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
