<%= form_for @message, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Message</legend>

    <div class="control-group">
      <%= f.label :brand_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :brand_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :channel, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :channel, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :from, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :from, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :to, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :to, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :body, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :body, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :kind, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :kind, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :read, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :read, :class => 'check_box' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :uid, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :uid, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', messages_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
