


<div class="row-fluid">
  <div class="thumbnail">
    <div class="modal-header">
      <div class="pull-right item_command">
        <a href="/comments"><i class="icon-comment"></i> Comments </a>
        <a href="/channels/register?id=<%=@gm.id%>"><i class="icon-google-plus"></i> register to Gmail </a>
      </div>
      <h2><%= image_tag "/assets/flat/inbox-2-64.png" %> Incomming Messages</h2>
    </div>

    <div class="modal-header">
      <table class="table datatable">
        <thead>
          <tr>
            <th width="64px"></th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <% for post in @posts do  %>
              <tr>
                <td>
                  <% if post.channel.present? %>
                    <%= image_tag( post.channel.icon ,:size => "64x64") %>
                  <% else %>
                    <%= image_tag( "/assets/flat/globe-5-64.png" ,:size => "64x64") %>
                  <% end %>
                </td>
                <td>
                  <div class="pull-right">
                    <%= time_ago_in_words post.posted_at %>
                  </div>
                  <%= post.from_name %>
                  <br/>
                  <%= post.short_body %>
                  <div class="item_command">
                    <a href=""><i class="icon-user"></i> User </a>
                    <a href=""><i class="icon-retweet"></i> Reply </a>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>

  </div>
