<h1>Message</h1>

<p>
  <b>Brand</b><br>
  <%= @message.brand_id %>
</p>

<p>
  <b>Channel</b><br>
  <%= @message.channel %>
</p>

<p>
  <b>From</b><br>
  <%= @message.from %>
</p>

<p>
  <b>To</b><br>
  <%= @message.to %>
</p>

<p>
  <b>Body</b><br>
  <%= @message.body %>
</p>

<p>
  <b>Kind</b><br>
  <%= @message.kind %>
</p>

<p>
  <b>Read</b><br>
  <%= @message.read %>
</p>

<p>
  <b>Uid</b><br>
  <%= @message.uid %>
</p>

<div class="form-actions">
  <%= link_to 'Back', messages_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_message_path(@message), :class => 'btn' %>
  <%= link_to 'Delete', message_path(@message), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
