<div class="row">
  <div class="thumbnail span12">
    <div class="modal-header">
      
      <h3><%= image_tag "/assets/icons/social-machine-logo-big.png" , :size => "50x50"%> Login</h3>
    </div>
    <div class="modal-body">
      <div class="pull-left">
      </div>
      <%= form_tag sessions_path do %>
        <p>
          <%= label_tag :email %><br />
          <%= text_field_tag :email, params[:email] , :type => "email" , :value => @email %>
        </p>
        <p>
          <%= label_tag :password %><br />
          <%= password_field_tag :password %>
        </p>
        <p class="button"><%= submit_tag "Log in" %></p>
      <% end %>
    </div>
  </div>
</div>


<style>
  footer{display:none;}
</style>

