<div style="text-align: center">
  <h2>The Social Machine</h2>
  <%= image_tag "/assets/icons/social-machine-logo-big.png" , :size => "150x150"%>
  <h3>Log in</h3>
</div>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] , :value => @email %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password , :value => 'clipper'%>
  </p>
  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>
