<%= form_for @feed, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :url, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :clear_script, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :clear_script, :class => 'text_area' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :scrape_script, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :scrape_script, :class => 'text_area' %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :icon, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :icon, :class => 'text_field' %>
        <br/><br/><%= f.submit nil, :class => 'btn btn-primary' %>
      </div>
    </div>
      
  </fieldset>
<% end %>
