<% content_for :sidebar do  %>
  <h3>Feed Sources</h3><hr/>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Keywords</th>
        <th width="80px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @feeds.each do |feed| %>
        <tr>
          <td><%= link_to feed.name, edit_feed_path(feed) %></td>
          <td><%= feed.keywords %></td>
          <td>
            <%= link_to 'Destroy', feed_path(feed), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <h3>Add new Feed</h3><hr/>
  <% @feed = Feed.new(:brand_id => current_user.brand.id ) %>
  <%= render :partial => "form"  %>
  <%#= link_to 'New', new_feed_path, :class => 'btn btn-primary' %>

<% end %>