

<% @brand  = current_user.brand %>



<subview ui-associations="withNavBar withTabBar">

  <scrollpanel>
    <tableheader>
      News
    </tableheader>

    <tableview>
      <% for item in FeedEntry.all.reverse[0..10] do  %>
          <tablecell ui-usage="image">
            <%=  image_tag(item.icon, :size => "50x50")%>
            <celltitle><%= link_to item.feed.name , "/feed_entries/show?id=#{item.id}"%></celltitle>
            <celldetail><%= strip_html(item.body)[0..140] unless item.body.nil? %> </celldetail>
          </tablecell>
        <% end %>
      </tableview>
    </scrollpanel>

  </subview>

  <% content_for :footer do  %>


    <uibutton ui-icon-align="top">
      <a href ="/posts?kind=prospect">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_star.png)"></icon>
        <label>Recommended</label></a>
    </uibutton>


    <uibutton ui-icon-align="top">
      <a href ="/posts?kind=group">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_users.png)"></icon>
        <label>Competitors</label>
    </uibutton></a>

    <uibutton ui-icon-align="top">
      <a href ="/posts?kind=group">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_user.png)"></icon>
        <label>Mentions</label>
    </uibutton></a>

    <uibutton ui-icon-align="top">
      <a href ="/posts?kind=group">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_favorities.png)"></icon>
        <label>Engadged</label>
    </uibutton></a>



    <uibutton ui-icon-align="top">
      <a href ="/brands">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_home.png)"></icon>
        <label>Home</label></a>
    </uibutton>


  <% end %>
