<h2>Feeds</h2><hr/>


<h3>Create New Feed</h3><hr/>
<div class="pull-right">
  <%=  link_to "Load All"  , "/admin/refresh_rss" , :class => "btn"%>
</div>
<% @feed = Feed.new %>
<%= form_for @feed, :html => { :class => 'form-inline' } do |f| %>
  <fieldset>
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'text_field' %>
    <%= f.label :url, :class => 'control-label' %>
    <%= f.text_field :url, :class => 'text_field' %>
    <%= f.label :icon, :class => 'control-label' %>
    <%= f.text_field :icon, :class => 'text_field' %>
    &nbsp;<%= f.submit nil, :class => 'btn btn-primary' %>

  </fieldset>
<% end %>


<table class=" table datatable">
  <thead>
    <tr>
      <th>Icon</th>
      <th>Name</th>
      <th>URL</th>
      <th>keywords</th>
      <th>Articles</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% for item in @feeds do  %>
        <tr>
          <td> <%= image_tag( item.icon , :size => "32x32") if item.icon %>  </td>
          <td> <%= link_to item.name, "feeds/#{item.id}" %>  </td>
          <td> <%= item.url %>  </td>
          <td> <%= item.keywords %>  </td>
          <td><%= item.feed_entries.count %>  </td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <%= render :partial => 'sidebar' %>
