
<% @brand  = current_user.brand %>

<navbar class="ui-custom-tint">
  <h1 ui-bar-alignment="center">SocialMachine</h1>
</navbar>


<subview ui-associations="withNavBar withTabBar">
  <scrollpanel>

    <tableview >
      <scrollpanel>
        <tablecell >
          <celltitle><%= @entry.title %></celltitle>
          <p class="feed-title">
          <h5> <%= @entry.feed.name %> | <%= @entry.created_at.strftime("%m/%d") %></h5>
          </p>
        </tablecell>

        <tablecell >
          <%= image_tag @entry.icon , :width => "100%" ,:zclass => 'feed_image' %>
        </tablecell>
        <tablecell >
          <%= strip_html(@entry.body) %>
        </tablecell>
      </scrollpanel>
    </tableview>

  </scrollpanel>
</subview>


<% content_for :footer do  %>

  <uibutton ui-icon-align="top">
    <a href ="/brands">
      <icon style="-webkit-mask-image: url(/assets/mobile/icons/home.svg)"></icon>
      <label>Home</label></a>
  </uibutton>


  <uibutton ui-icon-align="top">
    <icon style="-webkit-mask-image: url(/assets/mobile/icons/reload.svg)"></icon>
    <label>Repost</label>
  </uibutton>

  <uibutton ui-icon-align="top"><a href="/feeds/<%= @entry.prev_item %>">
      <icon style="-webkit-mask-image: url(/assets/mobile/icons/arrow_left.svg)"></icon>
      <label>Prev</label>
  </uibutton></a>
  <uibutton ui-icon-align="top"><a href="/feeds/<%= @entry.next_item %>">
      <icon style="-webkit-mask-image: url(/assets/mobile/icons/arrow_right.svg)"></icon>
      <label>Next</label>
  </uibutton></a>




<% end %>
