<h1>Feed</h1>

<p>
  <b>Brand</b><br>
  <%= @feed.brand_id %>
</p>

<p>
  <b>Name</b><br>
  <%= @feed.name %>
</p>

<p>
  <b>Url</b><br>
  <%= @feed.url %>
</p>

<p>
  <b>Keywords</b><br>
  <%= @feed.keywords %>
</p>

<div class="form-actions">
  <%= link_to 'Back', feeds_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_feed_path(@feed), :class => 'btn' %>
  <%= link_to 'Delete', feed_path(@feed), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>

<table width="100%">
  <% for item in @feed.feed_entries do  %>
      <tr>
        <td width="32px"><%= image_tag item.icon, :size => "32x32" %></td>
        <td><b><%= item.title %></b><br/><%= strip_html(item.body.to_s) %><br/><%= item.url %></td>
        <td width="50px"><%= time_ago_in_words item.created_at%></td>
      </tr>
    <% end %>
  </table>