<%= form_for @comment, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Comment</legend>

    <div class="control-group">
      <%= f.label :article_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :article_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :message, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :message, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :fan_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :fan_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :channel, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :channel, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :kind, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :kind, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :read, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :read, :class => 'check_box' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :rank, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :rank, :class => 'number_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', comments_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
