
<div class="row-fluid">
  <div class="thumbnail">
    <div class="modal-header">
      <div class="pull-right item_command">
        <a href="/messages"><i class="icon-envelope"></i> Incomming Messages </a>
      </div>
      <h2><%= image_tag "/assets/flat/inbox-2-64.png" %> User Comments</h2>
    </div>

    <div class="modal-header">
      <table class="table datatable">
        <thead>
          <tr>
            <th width="64px"></th>
            <th>Message</th>
            <th>kind</th>
            <th>Name</th>
            <th>When</th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td>
                <% if comment.channel.present? %>
                  <%= image_tag( comment.channel.icon ,:size => "64x64") %>
                <% else %>
                  <%= image_tag( "/assets/flat/globe-5-64.png" ,:size => "64x64") %>
                <% end %>
              </td>
              <td><%= comment.message %></td>
              <td><%= comment.kind%></td>
              <td><%= comment.name %></td>
              <td><%= time_ago_in_words comment.posted_at unless comment.posted_at.nil? %></td>
            </tr>
          <% end %>
        </tbody>
      </table>


    </div>
  </div>

</div>

