

<% @brand  = current_user.brand %>



<subview ui-associations="withNavBar">

  <scrollpanel>
    <tableheader>
     Comments
    </tableheader>

    <tableview>
      <% for item in @comments do  %>
          <tablecell ui-usage="image">
            <%=  image_tag(item.image_url, :size => "50x50")%>
            <celltitle><%= link_to item.name , item%></celltitle>
            <celldetail><%= link_to strip_html(item.message) , item%> </celldetail>
          </tablecell>
        <% end %>
      </tableview>
    </scrollpanel>

  </subview>

 