<% @brand  = current_user.brand %>

<subview ui-associations="withNavBar ">
  <scrollpanel>


    <tableview ui-kind="grouped icon"  style="display:none;" id="actions_bar">
      <tableheader>
        Recommended Actions
      </tableheader>
      <tablecell >
        <celltitle><%= link_to "Reply to Comment"%></celltitle>
      </tablecell>
      <tablecell>
        <celltitle><%= link_to "Mark as Competitor"%> </celltitle>
      </tablecell>
      <tablecell>
        <celltitle><%= link_to "Post to Facebook"%> </celltitle>
      </tablecell>
      <tablecell>
        <celltitle><%= link_to "Post to Twitter"%> </celltitle>
      </tablecell>
      <tablecell>
        <celltitle><%= link_to "Post to Linkedin"%> </celltitle>
      </tablecell>

    </tableview>

    <tableview >
      <tableheader>
        From :<%= @comment.name %>
      </tableheader>
      <tablecell >
        <div style="padding:1em;">

          <%= time_ago_in_words @comment.posted_at %> 
          <div style="float:left;padding:1em;">
            <img src="<%= @comment.image_url %>" style="display:block;" />
          </div>

          <%= simple_format(@comment.message) %>
        </div>
      </tablecell>

    </tableview>


  </scrollpanel>
</subview>


<% content_for :action do  %>
  <a href ="" id="action_btn">
    <uibutton ui-implements="icon" ui-bar-align="left">
      <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_comment_add.png)"></icon>
    </uibutton>
  </a>
<% end %>

<style>

  tableview > tablecell img{
    display: none;
    width:100px;
    height:100px;
    float:left;
    padding:1em;

  }

  tableview > celltitle{
    font-family: sans-serif;
    font-size: 12px;
  }
  tableview > tablecell{
    font-family: sans-serif;
    font-size: 12px;
  }
</style>



