<h1>Comment</h1>

<p>
  <b>Article</b><br>
  <%= @comment.article_id %>
</p>

<p>
  <b>Message</b><br>
  <%= @comment.message %>
</p>

<p>
  <b>Fan</b><br>
  <%= @comment.fan_id %>
</p>

<p>
  <b>Channel</b><br>
  <%= @comment.channel %>
</p>

<p>
  <b>Kind</b><br>
  <%= @comment.kind %>
</p>

<p>
  <b>Read</b><br>
  <%= @comment.read %>
</p>

<p>
  <b>Rank</b><br>
  <%= @comment.rank %>
</p>

<div class="form-actions">
  <%= link_to 'Back', comments_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_comment_path(@comment), :class => 'btn' %>
  <%= link_to 'Delete', comment_path(@comment), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
