<%= form_for @inquiery, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Inquiery</legend>

    <div class="control-group">
      <%= f.label :brand_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :brand_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :captcha_token, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :captcha_token, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :message, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :message, :class => 'text_area' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', inquieries_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
