<% @brand = current_user.brand %>


<subview ui-associations="withNavBar ">
<scrollpanel>
  <tableview>
    <tableheader>
     Incomming messages
      </tableheader>
    
    <% for post in @inquieries do  %>
        <tablecell ui-usage="image">
          <celltitle><%= link_to post.name , post%></celltitle>
          <celldetail><%= link_to strip_html(post.message) , post%> <br/> <%= post.email  %> </celldetail>
        </tablecell>
      <% end %>

    </tableview>

  </scrollpanel>
</subview>


