
<div class="row-fluid thumbnail">
  <div class="modal-header">
    <h2><%= image_tag "/assets/flat/edit-5-64.png" , :size => "48x48" %> Inquiries</h2>
  </div>
  <div class="modal-header">
    <table class="table xdatatable">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>email</th>
          <th>message</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @inquieries.reverse.each do |inquiery| %>
          <tr>
            <td><%= inquiery.id %></td>
            <td><%= link_to inquiery.name, inquiery_path(inquiery) %></td>
            <td><%= link_to inquiery.message, inquiery_path(inquiery) || "" %></td>
            <td><%= link_to inquiery.email, inquiery_path(inquiery) || "" %></td>
            <td>
              <%= link_to 'Destroy', inquiery_path(inquiery), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>