<%= form_for @email, :html => { :class => 'form-horizontal' } do |f| %>

<%= f.hidden_field :brand_id, :class => 'number_field' %>

  <div class="control-group">
    <%= f.label :to_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :to_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :to_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :to_email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :text_body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :text_body, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :html_body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :html_body, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                emails_path, :class => 'btn' %>
  </div>
<% end %>
