<% @brand  = current_user.brand %>

<subview ui-associations="withNavBar ">
  <scrollpanel>


    <tableview ui-kind="grouped icon"  style="display:none;" id="actions_bar">
      <tableheader>
        Recommended Actions
      </tableheader>
      <tablecell >
        <celltitle><%= link_to "Reply to #{@inquiery.name}"%></celltitle>
      </tablecell>
      <tablecell >
        <celltitle><%= link_to "Google  #{@inquiery.name}"%></celltitle>
      </tablecell>
      <tablecell >
        <celltitle><%= link_to "Add  #{@inquiery.name} to my contacts"%></celltitle>
      </tablecell>
      <tablecell >
        <celltitle>
          <%= link_to 'Destroy', inquiery_path(@inquiery), :method => :delete, :confirm => 'Are you sure?' %>
        </celltitle>
      </tablecell>
    </tableview>

    <tableview >
      <tableheader>
        From :<%= @inquiery.name %>
      </tableheader>
      <tablecell >
        <div style="padding:1em;">

          <%= time_ago_in_words @inquiery.created_at %> 

          <%= simple_format(@inquiery.message) %>
        </div>
      </tablecell>

    </tableview>


  </scrollpanel>
</subview>


<% content_for :action do  %>
  <a href ="" id="action_btn">
    <uibutton ui-implements="icon" ui-bar-align="left">
      <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_comment_add.png)"></icon>
    </uibutton>
  </a>
<% end %>

<style>

  tableview > tablecell img{
    display: none;
    width:100px;
    height:100px;
    float:left;
    padding:1em;

  }

  tableview > celltitle{
    font-family: sans-serif;
    font-size: 12px;
  }
  tableview > tablecell{
    font-family: sans-serif;
    font-size: 12px;
  }
</style>



