<%= render :partial => 'shared/upper_row' %>
<div class="row-fluid">

  <div class="span12">
    <div class="thumbnail">
      <div class="modal-header">
         <h2> <%= image_tag "/assets/flat/edit-5-64.png"  %> User Inquiry</h2>
      </div>
      <div class="tabbable ">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#1" data-toggle="tab">Inquiery</a></li>
        </ul>
        <div class="tab-content">

          <div class="tab-pane active" id="1">

            <div class="modal-header">
              <div class="pull-right">
                <div class="btn-group">
                  <button type="submit" class="btn">Reply to email</button>
                  <a class="btn  dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href=""><i class="icon-pencil"></i> write a messags</a></li>
                    <li class="divider"></li>
                    <% for item in BulkMail.where(:kind => "autoresponder") do  %>
                        <li><a  data-toggle="modal"  class="cmd-new-email" href="#mailModal"  data-body="<%=item.body%>" data-email="<%= @inquiery.email %>"  ><i class="icon-envelope"></i> <%= item.name %></a></li>
                      <% end %>
                    </ul>
                  </div>
                  <%= link_to 'Delete', inquiery_path(@inquiery), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
                </div>

                <h3>Message from <%= @inquiery.name %></h3>
              </div>

              <div class="modal-header">
                <p>
                  <b>Name</b><br>
                  <%= @inquiery.name %>
                </p>

                <p>
                  <b>Recieved:</b><br>
                  <%= time_ago_in_words  @inquiery.created_at %>
                </p>
                <p>
                  <b>Email</b><br>
                  <%= @inquiery.email %>
                </p>

                <p>
                  <b>Message</b><br>
                  <%= @inquiery.message %>
                </p>

                <p>
                  <b>Source</b><br>
                  <%= @inquiery.request_url %>
                </p>

              </div>
            </div>





              <div class="tab-pane" id="3">
                <h5>picture of <%= @inquiery.name%></h5>
                <div id="imgSearchControl" class="search-control">Loading...</div>
                <!--Remove all floating-->

                <div class="clear"></div>

                <!--Image will be shown here-->
                <div id='imageContainer'></div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>



    <%#= render :partial => 'shared/reply_dialog' %>

    <%#= render :partial => 'google_image_search_js' %>