<br/>
<br/>
<br/>
<table class="chart-bar span7"  style="display:none"  width="100%">
  <caption>Visitors in last 5 months</caption>
  <thead>
    <tr>
      <td></td>
      <th scope="col">Jan</th>
      <th scope="col">Feb</th>
      <th scope="col">Mar</th>
      <th scope="col">April</th>
      <th scope="col">May</th>
      <th scope="col">June</th>
    </tr>
  </thead>
  <tbody> 

    <tr>
      <th scope="row">New Visitors</th>
      <td>190</td>
      <td>160</td>
      <td>40</td>
      <td>120</td>
      <td>30</td>
      <td>70</td>
    </tr>
    <tr>
      <th scope="row">Returning Visitors</th>
      <td>3</td>
      <td>40</td>
      <td>30</td>
      <td>45</td>
      <td>35</td>
      <td>49</td>
    </tr>
    <tr>
      <th scope="row">Commeted</th>
      <td>10</td>
      <td>180</td>
      <td>10</td>
      <td>85</td>
      <td>25</td>
      <td>79</td>
    </tr>
    <tr>
      <th scope="row">Purchaces</th>
      <td>40</td>
      <td>80</td>
      <td>90</td>
      <td>25</td>
      <td>15</td>
      <td>119</td>
    </tr>		
  </tbody>
</table>

