
<table class=" chart_bar"  style="display:none" width="50px">
  
  <thead>
    <tr>
      <td></td>
      <th scope="col">food</th>
      <th scope="col">auto</th>
      <th scope="col">household</th>
      <th scope="col">furniture</th>
      <th scope="col">kitchen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Website</th>
      <td>3</td>
      <td>40</td>
      <td>30</td>
      <td>45</td>
      <td>35</td>
    </tr>
    <tr>
      <th scope="row">Emails</th>
      <td>10</td>
      <td>180</td>
      <td>10</td>
      <td>85</td>
      <td>25</td>
    </tr>
  </tbody>
</table>
<br/>
<br/><hr/>