<table class="datatable table-striped">
  <thead>
    <tr>
      <th>Channel</th>
      <th>Who/Source</th>
      <th>Mention</th>
    </tr>
  </thead>
  
  <tbody>
    <% 20.times do  %>
    <tr>
      <td>Google</td>
      <td>Jhon Doe</td>
      <td><%= lorem(40) %></td>
    </tr>
    <% end %>
  </tbody>
</table>