<h1> Brand analysis</h1>

<p><%= lorem(40)%> </p><br/>


<h3>Mentions</h3><hr/>


<div class="tabbable ">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#1" data-toggle="tab">Google</a></li>
    <li><a href="#comments" data-toggle="tab">Blogs</a></li>
    <li><a href="#comments" data-toggle="tab">News</a></li>
    <li><a href="#rss" data-toggle="tab">RSS Feeds</a></li>
    <li><a href="#rss" data-toggle="tab">Submission sites</a></li>
    <li><a href="#twitter" data-toggle="tab">Twitter Searches</a></li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active" id="1">
      <%= render :partial => "mention_list" %>
    </div>


    <div class="tab-pane" id="comments">
    </div>
    <div class="tab-pane" id="fans">
    </div>
    <div class="tab-pane" id="rss">
    </div>
    <div class="tab-pane" id="twitter">
    </div>
  </div>
</div>


<br/>




<% content_for :sidebar do  %>
  <%= render :partial => "mention_sidebar" %>
<% end %>

