
<h1>Website Analytics for <%= params[:site] %></h1><hr/>




<%
require 'open-uri'
require 'nokogiri'

search_term = "Agile+Development+%C2%A0%C2%A0%D7%A1%D7%93%D7%A0%D7%90%D7%95%D7%AA"

items = []
page = open "http://www.google.com/search?num=1000&q=#{search_term}"
html = Nokogiri::HTML page

html.search("cite").each do |cite|
  items << cite.inner_text
end

%>


<% unless params[:site] %>
  <br/>
  <div class="tabbable ">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#chart1" data-toggle="tab">Visitors Summary</a></li>
      <li><a href="#chart2" data-toggle="tab">Visitors By Sources</a></li>
      <li><a href="#chart3" data-toggle="tab">Visitors by Location</a></li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane active" id="chart1">
        <h3>Post made by </h3><hr/>
        <%= render :partial => 'chart_website_visitors' %>
      </div>

      <div class="tab-pane" id="chart2">
        <h3>Post made by </h3><hr/>
        <%= render :partial => 'chart_visitor_channels' %>
      </div>
      <div class="tab-pane" id="chart3">
        <h3>Post made by </h3><hr/>
        <%= render :partial => 'chart_website_visitors' %>
      </div>
    </div>
  </div>

<% end %>




<div class="tabbable ">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#keywords" data-toggle="tab">Keywords</a></li>
    <li><a href="#backlinks" data-toggle="tab">Backlinks</a></li>
    <li><a href="#meta" data-toggle="tab">Content</a></li>
    <li><a href="#links" data-toggle="tab">Links</a></li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active" id="keywords">
      <h3>Keywords in Google Search </h3><hr/>

      <table class="table table-striped">
        <% unless @keywords.nil? %>
          <% for item in @keywords.split(",") do  %>
              <tr>
                <td><%= item %> </td>
                <td width="40px"> <%= image_tag("/assets/icons/google_search_64.png", :size => "16x16")%> <%= rand(100) %> </td>
                <td width="40px"> <%= image_tag("/assets/icons/bing_64.png" , :size => "16x16")%> <%= rand(100) %> </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>


      <div class="tab-pane" id="backlinks">
        <h3>Backlinks : <%= @backlinks.count unless @backlinks.nil? %></h3><hr/>

        <% unless @backlinks.nil? %>
          <table class=" datatable table-striped table">
            <thead>
              <tr>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for item in @backlinks do   %>
                  <tr>
                    <td>
                      <div class="pull-right">
                        <%= link_to "Open","", :class =>"btn repost-button" %>
                      </div>
                      <%=  item[:url] %><br/>
                      <b><%=  item[:title] %></b><br/>
                      <%= item[:description] %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          <% end %>
        </div>




        <div class="tab-pane" id="meta">


          <%
          blacklist = Highscore::Blacklist.load "twitter facebook linkedin reddit delocious more"
          text = Highscore::Content.new @words, blacklist
          text.configure do
            set :multiplier, 2
            set :upper_case, 3
            set :long_words, 2
            set :long_words_threshold, 15
            set :vowels, 1                     # => default: 0 = not considered
            set :consonants, 5                 # => default: 0 = not considered
            set :ignore_case, true             # => default: false
            set :word_pattern, /[\w]+[^\s0-9]/ # => default: /\w+/
            set :stemming, true                # => default: false


          end

        %>
          <!--
          <ul>
    <%# text.keywords.top(10).each do |keyword| %>
              <li><%#= keyword.text%> <%#= keyword.weight%>  </li>
    <%#  end %>
          </ul>
          -->

        </div>
        <div class="tab-pane" id="links">
          <% if @links %>
            <ul>
              <% unless @links.empty? %>
                <% for item in @links %>
                  <li><%= item["href"] %></li>
                <%end%>
              <%end%>
            </ul>
          <% end %>
        </div>
        <div class="tab-pane" id="twitter">


        </div>
      </div>
    </div>

    <%  content_for :sidebar do %>
      <h3> <%= params[:site]%> </h3><hr/>
      <div class="well">
        <h4>Site Meta Description</h4>
        <%= @meta_data %>
      </div>


      <div class="well">
        <h4>Site Keywords</h4>
        <%= @keywords %>
      </div>

      <h3>Social Network Links</h3>
    <% end %>