
<% if @article.short_url %>
  <div class="pull-left">
    <div class="btn-group">
      <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Blogs <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="/articles/deploy_to_blog_via_email?id=<%= @article.id%>&channel=blogger" >Blogger</a></li>
        <li><a href="/articles/deploy_to_blog_via_email?id=<%= @article.id%>&channel=wordpress" >Wordpress</a></li>
        <li><a href="" >Tumblr</a></li>
        <li><a href="" >Youtube</a></li>
      </ul>
    </div>
  </div>

  <div class="pull-left">&nbsp;</div>  
  <div class="pull-left">
    <div class="xbtn-group">
      <a class="xbtn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Facebook<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <%
        pages = @article.brand.get_channel("facebook").fan_pages
      %>
        <% for pg in pages do %>
            <li><a href="/articles/deploy_to_facebook_page?id=<%=@article.id%>&page=<%= pg["id"] %>&token=<%#=pg.access_token%>" ><i class="icon-facebook"></i> <%= pg["name"] %> </a></li>
          <% end %>
        </ul>
      </div>
    </div>



    <div class="pull-left">&nbsp;</div>
    <div class="pull-left"><a href="/articles/deploy_to_twitter?id=<%=@article.id%>" class="btn btn-danger" >Twitter</a></div>
    <div class="pull-left">&nbsp;</div>
    <div class="pull-left">
      <div class="btn-group">
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Link Submission <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="http://digg.com/submit?phase=2&url=<%=@article.short_url%>&title=<%= @article.name %>" target="_blank">Digg</a></li>
          <li><a href="http://reddit.com/submit?url=<%=@article.short_url%>&title=<%= @article.name %>"   target="_blank">Reddit</a></li>
          <li><a href="http://del.icio.us/post?url=<%=@article.short_url%>&title=<%=@article.name%>"  target="_blank">Delicious</a></li>
        </ul>
      </div>
    </div>
  <% end %>


  