
<table class="table">
  <tr>
    <td >
      <b><%= "Content Sites  "%>  </b>
    </td>
   <td width="42px">
      <%= image_tag("/assets/social/blogger.png") %>  
    </td>
    <td width="42px">
      <%= image_tag("/assets/social/tumblr.png") %>  
    </td>
    <td width="42px">
      <%= image_tag("/assets/social/youtube.png") %>  
    </td>
    <td width="42px">
      <%= image_tag("/assets/social/wordpress.jpg") %>  
    </td>
  </tr>
  
  <tr>
    <td ><%= " Views "%>  </td>
    <td><%= rand(30) %>  </td>
    <td><%= rand(30) %>  </td>
    <td><%= rand(30) %>  </td>
    <td><%= rand(30) %>  </td>
  </tr>
  <tr>
    <td ><%= " Comments "%>  </td>
    <td><%= rand(30) %>  </td>
    <td><%= rand(30) %>  </td>
    <td><%= rand(30) %>  </td>
    <td><%= rand(30) %>  </td>
  </tr>
</table>

