
<%
@search = "goo.gl/g8sAs"
@google_results = google_search(@search) 
%>
<table class="table datatable">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for item in @google_results do %>
        <% if item[:title].include? @search or item[:description].include? @search %>
          <tr>
            <td width="64px">
              <%   img = "/assets/icons/google_search_64.png"  %>
              <%   img = "/assets/icons/twitter_64.png" if item[:url].include? "twitter" %>
              <%   img = "/assets/icons/youtube_64.png" if item[:url].include? "youtube" %>
              <%   img = "/assets/icons/facebook_64.png" if item[:url].include? "facebook" %>
              <%   img = "/assets/icons/blogger_64.png" if item[:url].include? "blogger" %>

              <%= image_tag img %>
            </td>
            <td>
              <b><%= item[:title] %></b><br/>
              <i><%= item[:description] %><br/>
                <%=  link_to item[:url] , "http://#{item[:url]}" , :target => "_blank"%> 
            </td>
          <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>

