<%#*<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Launch demo modal</a>%>


<div id="deployDialog" class="hide" >
  <hr/>
  <% @deployment  = Deployment.new( :brand_id => current_user.brand.id, :article_id => @article.id) %>

  <%= form_for @deployment, :html => { :class => 'form-vertical' } do |f| %>

    <div style="padding:1em;">

      <%= f.hidden_field :brand_id, :class => @article.brand.id %>
      <%= f.hidden_field :article_id, :value => @article.id %>

      <fieldset>

        <table width="100%">
          <tr>
            <td wxidth="50%">
              <div class="control-group">
                <%= f.label :title, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :title, :class => 'text_field' , :value => @article.name %>
                </div>
              </div>
            </td>
            <td wixdth="50%">
              <div class="control-group">
                <%= f.label :category, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :category, :class => 'text_field' , :value => "#{@article.category} #{@article.tags}"%>
                </div>
              </div>
            </td>
            <td>
              <div class="control-group">
                <%= f.label "Deploy to:", :class => 'control-label' %>
                <div class="btn-group" data-toggle="buttons-checkbox">
                  <button class="btn ">   <%= image_tag "/assets/icons/wordpress_64.png", :size => "16x16" %></button>
                  <button class="btn ">   <%= image_tag "/assets/icons/blogger_64.png", :size => "16x16" %></button>
                  <% if @article.clip? %>
                    <button class="btn ">   <%= image_tag "/assets/icons/youtube_64.png", :size => "16x16" %></button>
                  <% end %>
                  <button class="btn ">   <%= image_tag "/assets/icons/facebook_64.png", :size => "16x16" %></button>
                  <button class="btn ">   <%= image_tag "/assets/icons/twitter_64.png", :size => "16x16" %></button>
                </div>
              </div>
            </td>
          </tr>
        </table>


        <div class="control-group">
          <%= f.label :body, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :body, :class => 'text_area' , :value => strip_html(@article.body)%>
          </div>
        </div>

        <div class="control-group">
          <div class="control-group">
            <%= f.label "Twitter Promotion", :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :comment, :rows => 2, :class => 'text_area'  , :value => "#{@article.name} - #{@article.short_url}. plz rt"%>
            </div>
          </div>
        </div>

      </fieldset>

    </div>


    <div class="modal-footer">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <a href="#" class="btn" data-dismiss="modal" >Close</a>
    </div>
  <% end %>
</div>





