
<div class="well">
  <%= form_tag  "/articles/deploy", :html => { :class => 'form-vertical' } do  %>
    <fieldset >

      <legend> 
       Deploy Article
      </legend>
      <div class="control-group">
        <div class="controls">
          <% if current_user.brand.can_post_to_blogger? %>
          <label class="checkbox inline">
            <%= image_tag "/assets/social/blogger.png" %>
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Blogger
          </label>
          <% end %>
          <% if current_user.brand.can_post_to_wordpress? %>
          <label class="checkbox inline">
            <%= image_tag "/assets/social/wordpress.jpg" %>
            <input type="checkbox" id="inlineCheckbox2" value="option2"> Wordpress  
          </label>
          <% end %>
          
          <% if current_user.brand.can_post_to_tumblr? %>
          <label class="checkbox inline">
            <%= image_tag "/assets/social/tumblr.png" %>
            <input type="checkbox" id="inlineCheckbox3" value="option3"> Tumblr
          </label>
          <% end %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= text_area_tag :name,  :size => "150x2", :class => 'text_area' , "style" => "" %>
        </div>
      </div>

      <%= submit_tag "Deploy", :class => 'btn btn-primary' %>


    </fieldset>
  <% end %>
</div>