<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "_form_presentation" %>


<% for slide in @article.slides do %>
    <%= render :partial => 'slide_form' , :locals => {:slide => slide} %>
<% end %>