<div class="row-fluid">
  <%= form_for @article, :html => { :class => 'form-vertical' } do |f| %>
    <fieldset>


      <div class="thumbnail">
        <div class="modal-header">
          <% if @article.article? %>
            <h2>New Article</h2><hr/>
          <% end %>
          <% if @article.clip? %>
            <h2>New Movie Clip</h2><hr/>
          <% end %>

        </div>
        <div class="modal-header">

          <table width="100%"><tr><td width="50%">
                <div class="control-group">
                  <%= f.label :name, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :name, :class => 'span11 ' %>
                  </div>
                </div>
              </td><td>
                <div class="control-group" style="display:none;">
                  <%= f.label :cite, :class => 'control-label' %>
                  <div class="controls">
                    <% if @article.clip? %>
                      <%= f.text_field :remote_movie_url, :class => 'file_field' %>
                    <% else %>
                      <%= f.text_field :cite, :class => 'input-xlarge ' %>    
                    <% end %>
                  </div>
                </div>
              </td></tr>
          </table>

          <% if @article.article? or @article.movie_repost?%>
            <div class="control-group">
              <%= f.label :body, :class => 'control-label' %>
              <div class="controls">
                <% unless request.user_agent =~ /iPad/ %>
                  <%= f.text_area :body, :class => 'wysiwyg', :rows => 20 , :style => "height:800px" %>
                <% else %>
                  <%= f.text_area :body %>
                <% end %>
              </div>
            </div>
          <% end %>


          <% if @article.clip? %>

            <% unless @article.remote_movie_url.nil? %>
              <iframe width="100%" height="500px" src="http://www.youtube.com/embed/<%= @article.short_video_url   %>" frameborder="0" allowfullscreen></iframe>
            <% end %>



            <table width="100%">
              <tr>
                <td>
                  <div class="control-group">
                    <%= f.label :image, :class => 'control-label' %>
                    <div class="controls">
                      <%= f.file_field :image, :class => 'file_field' %>
                    </div>
                  </div>
                </td><td>
                  <div class="control-group">
                    <%= f.label :image, :class => 'control-label' %>
                    <div class="controls">
                      <%= f.text_field :remote_image_url, :class => 'file_field' %>
                    </div>
                  </div>
                </td></tr></table>
          <% end %>

          <table width="100%"  style="display:none;" ><tr><td width="50%" >
                <div class="control-group">
                  <%= f.label :category, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :category, :class => 'text_field' %>
                  </div>
                </div>
              </td><td>
                <div class="control-group">
                  <%= f.label :tags, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :tags, :class => 'text_field' %>
                  </div>
                </div>
              </td></tr>
          </table>
        </div>
        <div class="modal-header">
          <h3>Cover Picture</h3><hr/>
          <div id="imgSearchControl" class="search-control">Loading...</div>
          <!--Remove all floating-->
          <div class="clear"></div>
          <!--Image will be shown here-->
          <div id='imageContainer'></div>
        </div>

        <div class="modal-footer">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to 'Cancel', articles_path, :class => 'btn' %>
        </div>
      </div>
  </div>



  </fieldset>


<% end %>