<script src="http://www.google.com/jsapi?key=ABQIAAAAr19Eul_kZsYCBnyMjSJbPhSS8zuUzs-phHbAd9SKTtjFtv728xQ8NcR0mWFbQ0Ita4R2Wzc7rTuWUQ" type="text/javascript"></script>
  

<script type="text/javascript">
    google.load("search", "1", {"nocss" : true});
    
    // function will bind event to all images
    function bind_event(){
      $("a.gs-image").bind("click", function(e){
        var url= $(".gs-image",this).attr("src");
        var text = $(".wysiwyg").getCode();
        var new_text = "<img src='"+ url + "'  style='float: left; margin: 0px 10px 10px 0px;'  />" + text;
        $(".wysiwyg").setCode(new_text);
        
        //$( "#article_remote_image_url" ).attr("value", $(".gs-image",this).attr("src")); // copy the picture on the page too.
        //$( "#article_image_preview" ).attr("src", $(".gs-image",this).attr("src")); // copy the picture on the page too.
        return false;
      });
        
      $("div.gsc-cursor").prepend("<div class='clear' style='margin-top:10px;clear:both;'></div>");
        
      $(".gsc-trailing-more-results").css("display","none");
        
    }

    // the se class encapsulates a left and right search control
    // both controls are driven by a shared search form
    function OnLoad() {
        
      // create a tabbed mode search control
      var tabbed = new google.search.SearchControl();        
        
      //restrict results: search only moderated
      //tabbed.setRestriction(google.search.RESTRICT_SAFESEARCH, google.search.SAFESEARCH_STRICT);
        
      // Set the Search Control to get the most number of results
      tabbed.setResultSetSize(google.search.Search.LARGE_RESULTSET);
        
      // create image searchers.
      tabbed.addSearcher(new google.search.ImageSearch());
        
      // proprofscc: On search completeion
      tabbed.setSearchCompleteCallback(this, bind_event);
        
      // draw in tabbed layout mode
      var drawOptions = new google.search.DrawOptions();
      drawOptions.setDrawMode(google.search.SearchControl.DRAW_MODE_TABBED);
        
      // Draw the tabbed view in the content div
      tabbed.draw(document.getElementById("imgSearchControl"), drawOptions);
        
      // Search!
      tabbed.execute("");
    }
    
    google.setOnLoadCallback(OnLoad);
    
  </script>

  <style type="text/css">

    body{color:#888;}

    .search-control {
      width : auto;
      font-size:0.9em;
      color:#777;
    }

    /*---- Override existing Google Image Search Layout----------- **/
    .gs-text-box, .gsc-tabhActive, .gs-watermark, .gsc-branding, .gsc-twiddle, .gsc-stats, .gsc-results-selector, .gsc-all-results-active{display:none;}

    /*-----Search Box---*/
    .gsc-input input{ padding:6px 5px 6px 5px; margin-top: 5px; color:#aaa; border:2px solid #ccc; -moz-border-radius:4px; -webkit-border-radius:4px;}
    input.gsc-search-button, .ui-widget button{ margin: 5px 0 0 5px;}

    /*-----Image ---*/
    img.gs-image{float:left; margin:10px 10px 20px 0px; width:32px; height:32px; border:5px solid #fff; padding:1px; -moz-border-radius:4px; -webkit-border-radius:4px;}
    img.gs-image:hover{border:5px solid #aaa;width:150px; height:150px;}
    img.selectImage{float:left; margin:10px 10px 20px 0px; width:190px; height:180px; border:5px solid #aaa; padding:1px; -moz-border-radius:4px; -webkit-border-radius:4px;}

    /*--Paging---**/
    .gsc-cursor-page{float:left; text-shadow: 1px 1px 1px #fff; cursor: pointer; margin: 0px 8px 10px 0px; padding: 3px 7px 3px 7px; background: #ddd; color:#000; border:1px solid #999; -moz-border-radius:2px; -webkit-border-radius:2px;}
    .gsc-cursor-page:hover{ background: #fff; color:#333;}
    .gsc-cursor-current-page{background: #fff; color:#333;}

    /****Demo Page Formatting****/
    .clear{clear: both;}

    /**** Result Image ****/
    #imageContainer img{padding:1px; border:1px solid #ddd; width: auto; height: auto;}

  </style>

