<h3>Article Deployment</h3>
<table class="table well">
  <tr>
    <td><%= render :partial => 'shared/social_gadget' , :locals => {:image => "wordpress_64", :link => ""}%></td>
    <td><%= render :partial => 'shared/social_gadget' , :locals => {:image => "youtube_64", :link => ""}%></td>
    <td><%= render :partial => 'shared/social_gadget' , :locals => {:image => "blogger_64", :link => ""}%></td>
    <td><%= render :partial => 'shared/social_gadget' , :locals => {:image => "facebook_64", :link => ""}%></td>
  </tr>
</table>
