<div class="span11">
  <table class="table  datatable ">
    <thead>
      <tr>
        <th width="50px"></th>
        <th>Name</th>
        <th width="50px">Views</th>
        <th width="50px">Comments</th>
        <th width="50px">Forms</th>
      </tr>
    </thead>
    <tbody>
      <% for article in collection do %>
          <tr>
            <td>  
              <%= image_tag article.icon %>
            </td>

            <td>
              <%= link_to article.name, article_path(article) %>
              <% if article.cite.present? %>
                <br/> Original Post: <%= article.cite %>
              <% end %>
              <% unless article.short_url.nil? %>
                <br/>URL:<b><%= article.short_url %></b>
              <% end %>

              <br/>

              <div class="item_command">
                <% if article.short_url %>
                  <a href="#postModal"  data-toggle="modal" class="cmd-repost-news"
                     data-post-body="<%= strip_html( simple_format(article.name)) %>  <%= article.short_url %>" 
                     data-post-img="<%= article.icon %>"  
                     data-post-url="<%=  article.short_url%>" 
                     >
                    <i class="icon-share"></i> share
                  </a>

                  <a href="http://digg.com/submit?phase=2&url=<%=article.short_url%>&title=<%= article.name %>" target="_blank"><i class="icon-bullhorn"></i> Digg</a>
                  <a href="http://reddit.com/submit?url=<%=article.short_url%>&title=<%= article.name %>"   target="_blank"><i class="icon-bullhorn"></i> Reddit</a>

                <% end %>
                <a href="/articles/<%=article.id%>/edit"><i class="icon-pencil"></i> edit</a>
                <%= link_to raw("<i class='icon-remove'></i> Delete"), article_path(article),:method => :delete,  :data => { :confirm => "Are you sure?" } %>
              </div>
            </td>
            <td><%= article.views %></td>
            <td><%= article.comments.count %></td>
            <td><%= article.comments.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>