<% @fb = @brand.get_channel("facebook") unless @fb.present?  %>
<% @tw = @brand.get_channel("twitter") unless @tw.present?  %>
<% @li = @brand.get_channel("linkedin") unless @li.present?  %>
<% @wp = @brand.get_channel("wordpress") unless @wp.present?  %>
<% @bl = @brand.get_channel("blogger") unless @bl.present?  %>

<% if @fb.in_use? %>
  <% for page in @brand.fan_pages do  %>
      <tr>
        <td width="48px"><%= image_tag "/assets/flat/facebook-3-64.png" , :size => "48x48" %></td>
        <td>
          <a href="/articles/post_to?id=<%=@article.id%>&channel=facebook&page=<%=page.uid%>&redirect=<%=request.original_url%>"><%= "Post on #{page.name}" %></a>&nbsp;
        </td>
      </tr>
    <%  end %>
  <% end %>

  <% if @tw.in_use? %>
      <tr>
        <td><%= image_tag "/assets/flat/twitter-3-64.png"  , :size => "48x48"%></td>
        <td>
          <a href="/articles/post_to?id=<%=@article.id%>&channel=twitter&redirect=<%=request.original_url%>"> <%= "post to twitter" %></a>&nbsp;
        </td>
      </tr>
    
  <%  end %>

  <% if @li.in_use? %>
      <tr>
        <td><%= image_tag "/assets/flat/linkedin-3-64.png" , :size => "48x48" %></td>
        <td>
          <a href="/articles/post_to?id=<%=@article.id%>&channel=linkedin&redirect=<%=request.original_url%>"> <%= " Post to Linkedin" %></a>&nbsp;
        </td>
      </tr>
    
  <%  end %>
