
<div class="well">
  <% @product = Product.new %>
  <%= form_for @product, :html => { :class => 'form-vertical' } do |f| %>
    <fieldset >

      <legend> 
        Promote Article 
      </legend>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> FaceBook
          </label>
          <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2"> Twitter
          </label>
          <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> Google+
          </label>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.text_area :name,  :size => "150x2", :class => 'text_area' , "style" => "" %>
        </div>
      </div>

      <%= f.submit "Post", :class => 'btn btn-primary' %>


    </fieldset>
  <% end %>
</div>