<% @fb = @brand.get_channel("facebook") unless @fb.present?  %>
<% @tw = @brand.get_channel("twitter") unless @tw.present?  %>
<% @li = @brand.get_channel("linkedin") unless @li.present?  %>
<% @wp = @brand.get_channel("wordpress") unless @wp.present?  %>
<% @bl = @brand.get_channel("blogger") unless @bl.present?  %>

<div class="item_command">
  Promote on :<br/>
  <% if @fb.in_use? %>
    <% for page in @brand.fan_pages do  %>
        <a href="/articles/post_to?id=<%=@article.id%>&channel=facebook&page=<%=page.uid%>&redirect=<%=request.original_url%>"><i class="icon-facebook"></i> <%= page.name[0..15] %></a>&nbsp;
      <%  end %>
    <% end %>

    <% if @tw.in_use? %>
      <a href="/articles/post_to?id=<%=@article.id%>&channel=twitter&redirect=<%=request.original_url%>"><i class="icon-twitter"></i> <%= "twitter" %></a>&nbsp;
    <%  end %>

    <% if @li.in_use? %>
      <a href="/articles/post_to?id=<%=@article.id%>&channel=linkedin&redirect=<%=request.original_url%>"><i class="icon-linkedin"></i> <%= "Linkedin" %></a>&nbsp;
    <%  end %>
  </div>
 