
<div class="row-fluid thumbnail">
  <div class="">
    <div class="span11">
      <%= render :partial => 'form'%>
      

      </div>
    </div>
  </div>
</div>


<% content_for :head do  %>
  <%= render :partial => 'google_image_search_js' %>
<% end %>


<style>
  textarea{
    height:400px;
  }

  #results img{
    width:100px;
  }
</style>

