



<% @brand  = current_user.brand %>

<subview ui-associations="withNavBar ">

<scrollpanel>
  <tableview>
    <tableheader>
      My Articles
    </tableheader>
    <% for item in @articles.reverse[0..10] do  %>
        <tablecell ui-usage="image">
          <%=  image_tag(item.image_url, :size => "50x50")%>
          <celltitle><%= link_to item.name , "/articles/#{item.id}"%></celltitle>
          <celldetail><%= link_to( strip_html(item.body)[0..140] , item) unless item.body.nil? %> </celldetail>
        </tablecell>
      <% end %>
    </tableview>
  </scrollpanel>

</subview>
  <% content_for :footer do  %>


    <uibutton ui-icon-align="top">
      <a href ="/feeds">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_rss.png)"></icon>
        <label>RSS</label></a>
    </uibutton>


    <uibutton ui-icon-align="top"><a href="/posts?kind=group">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_users.png)"></icon>
        <label>Groups</label>
    </uibutton></a>

  
    <uibutton ui-icon-align="top">
      <a href ="/posts?kind=prospect">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_star.png)"></icon>
        <label>Recommended</label></a>
    </uibutton>


    <uibutton ui-icon-align="top">
      <a href ="/brands">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_home.png)"></icon>
        <label>Home</label></a>
    </uibutton>


  <% end %>
