
<% content_for :head do  %>
  <link rel="stylesheet" href="//cdn.oesmith.co.uk/morris-0.4.1.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
   <!-- DataTables -->

<% end %>







<div class="thumbnail">

  <div class="modal-header">
    <div class="pull-right item_command">
      <%= link_to raw("<i class='icon-globe'></i> Preview Newsletter"), "/public/newsletter?id=#{@brand.id}" , :target => "_blank" %>
      <%= link_to raw("<i class='icon-file'></i> New article"), "/articles/new?kind=text" %>
    </div>

    <h2><%= image_tag "/assets/flat/document-file-2-64.png" , :size => "48x48" %> Articles</h2>
  </div>


  <div class="modal-header">

    <div class="tabbable ">
      <br/>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#2" data-toggle="tab">Original Articles </a></li>
        <li><a href="#4" data-toggle="tab">Published</a></li>
        <li class=""><a href="#5" data-toggle="tab">Reposted Articles</a></li>
        <li class=""><a href="#external" data-toggle="tab">External Blogs</a></li>
      </ul>
      <div class="tab-content span">

        <div class="tab-pane active" id="2">
          <%= render :partial => 'list' , :locals => { :collection => @brand.articles.where('cite is null') }%>
        </div>

        <div class="tab-pane" id="3">
          <%= render :partial => 'list' , :locals => { :collection => @brand.articles.where(:kind => "clip") }%>
        </div>
        <div class="tab-pane" id="4">
          <%= render :partial => 'list' , :locals => { :collection => @brand.articles.where(:draft => false).reverse }%>
        </div>
        <div class="tab-pane " id="5">
          <%= render :partial => 'list' , :locals => { :collection => @brand.articles.where(:kind => "article-repost").reverse }%>
        </div>
        
        <div class="tab-pane " id="external">
          <div class="span11">
          <% external_articles = @brand.get_channel("wordpress").posts %>
          <h3>Articles on external blogs</h3>
          <table class="table datatable">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for item in external_articles do  %>
                <tr>
                  <td width="48px"><%= image_tag item.channel.icon %></td>
                  <td>
                    <div class="pull-right"><%= time_ago_in_words  item.posted_at %></div>
                    <b><%= item.title %></b><br/><%= item.short_body %>
                    <div class="item_command">
                      <%= render :partial => "shared/share_post_bar" , :locals => {:post => item} %>
                    </div>
                  </td>
                </tr>
              <% end  %>
            </tbody>
          </table>
        </div>
        </div>


      </div>
    </div>

  </div>

</div>


