
<% @brand  = current_user.brand %>


<% content_for :action do  %>
  <a href ="" id="action_btn">
    <uibutton ui-implements="icon" ui-bar-align="left">
      <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_comment_add.png)"></icon>
    </uibutton>
  </a>
<% end %>



<subview ui-associations="withNavBar ">
  <scrollpanel>



    <tableview ui-kind="grouped icon"  style="display:none;" id="actions_bar">
      <tableheader>
        Recommended Actions
      </tableheader>


      <tablecell >
        <div class="actions_icon"> <%= image_tag("/assets/mobile/icons2/black/email.png" ) %></div>
        <celltitle><%= link_to " Send to Email"%></celltitle>
      </tablecell>
      <tablecell>
        <div class="actions_icon"> <%= image_tag("/assets/mobile/icons2/black/facebook.png" ) %></div>
        <celltitle><%= link_to "Post to Facebook"%> </celltitle>
      </tablecell>
      <tablecell>
        <div class="actions_icon"> <%= image_tag("/assets/mobile/icons2/black/twitter_bird.png" ) %></div>
        <celltitle><%= link_to "Post to Twitter"%> </celltitle>
      </tablecell>
      <tablecell>
        <div class="actions_icon"> <%= image_tag("/assets/mobile/icons2/black/linkedin.png" ) %></div>
        <celltitle><%= link_to "Post to Linkedin"%> </celltitle>
      </tablecell>
      <tableheader>
        Post to my blogs
      </tableheader>

      <tablecell>
        <div class="actions_icon"> <%= image_tag("/assets/mobile/icons2/black/wordpress.png" ) %></div>
        <celltitle><%= link_to "Post to wordpress blog"%> </celltitle>
      </tablecell>
      <tablecell>
        <div class="actions_icon"> <%= image_tag("/assets/mobile/icons2/black/blogger.png" ) %></div>
        <celltitle><%= link_to "Post to Blogger blog"%> </celltitle>
      </tablecell>

    </tableview>



    <tableview >
      <tablecell >
        <%= @article.name %>
      </tablecell>

         <tablecell>
          <table width="100%">
            <tr style="vertical-align:top;font-size:13px;">
              <td width="50%" style="border-right:1px solid #333;">
                <b>Views</b><br/>
                <span class="big-number"><%= number_with_delimiter(rand(100)) %></span>
              </td>
              <td width="50%"  style="border-right:1px solid #333;">
                <b>Comments</b><br/>
                <span class="big-number"><%= number_with_delimiter(rand(100)) %></span>
              </td>
            </tr>
          </table>
        </tablecell>
      
      <tablecell >
        <% unless @article.icon.nil?  %>
          <div style="padding:1em;"><%= image_tag(@article.icon , :width => "100%" ,:zclass => 'feed_image') %><hr/></div>
        <% end %>
        <div style="padding:1em;"><%= strip_html(@article.body) %></div>
      </tablecell>

    </tableview>



  </scrollpanel>
</subview>
