

<% content_for :head do  %>
  <link rel="stylesheet" href="//cdn.oesmith.co.uk/morris-0.4.1.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
<% end %>


<%= render :partial => 'shared/upper_row' %>
<div class="row-fluid">

  <div class="tabbable span12">

    <div class="thumbnail">
      <div class="modal-header">

        <div class="pull-right"> 
          <div class=" item_command">
            <%= link_to raw(' <i class="icon-edit"></i> Edit'), edit_article_path(@article), :class => 'xbtn' %> &nbsp;
            <%= link_to raw(' <i class="icon-remove"></i> Delete'), article_path(@article), :method => 'delete', :confirm => 'Are you sure?', :class => 'xbtn xbtn-danger' %>&nbsp;
            <%= link_to raw(' <i class="icon-bullhorn"></i> Publish'), "/articles/publish?id=#{@article.id}", :class => 'xbtn xbtn-success'   %>&nbsp;
            <%= link_to raw(' <i class="icon-eye-open"></i> Preview'), "/public/article?id=#{@article.id}", :class => 'xbtn xbtn-success'  , :target => "_blank" %>
          </div>
        </div>
        
        <div>
          <div class="pull-left">
            <%
            icon = "/assets/flat/document-file-2-64.png"
            icon = "/assets/flat/video-file-2-64.png" if @article.clip?
          %>
            <%= image_tag icon %>
          </div>
          <h3>  <%= @article.name %></h3>
          <%= @article.author %>   | <%= time_ago_in_words(@article.created_at) %> ago | Short Url: <%= @article.short_url %>
        </div>
      </div>

      <div class="row-fluid">

      <div class="modal-header">
        <% if @article.article? %>
          <div class="pull-left" style="padding:1em;">
            <%= image_tag @article.image_url.to_s , :width => "100px"  unless @article.image_url.nil?%>
          </div>
          <p>
            <%= raw @article.body %>
          </p>
        <% end %>


        <% if @article.movie_repost? %>
          <p>
            <%= raw @article.body %>
          </p>
        <% end %>


        <% if @article.clip? %>
          <% if @article.remote_movie_url %>
            <iframe style="z-index:-100 " width="100%" height="500px" src="http://www.youtube.com/embed/<%= @article.short_video_url   %>" frameborder="0" allowfullscreen></iframe>
          <% else %>
            <video id="example_video_1" class="video-js vjs-default-skin"  
                   controls preload="auto" width="100%" 
                   data-setup='{"example_option":true}'>  
              <source src="<%= @article.video_url %>" type='video/mp4' />
            </video>
          <% end %>
        <% end %>
      </div>
    </div>

      <div class="modal-header">
        <div class="span3">
          <h3>Views by source</h3><hr/>
          <div id="chart-2-1" style="height: 150px;"></div>
        </div>


        <div class="span4">
          <h3>Engaged Users</h3><hr/>
          <div id="chart-2-2" style="height: 150px;"></div>
        </div>

        <div class="span4">
          <h3>Engaged By Location</h3><hr/>
          <div id="chart-2-3" style="height: 150px;"></div>
        </div>

      </div>


      <div class="modal-header">
        <div class="row">
          <div class="span8">
            <h3>&nbsp;&nbsp;Comments for this article</h3><hr/>
            <%= render :partial => 'comments' , :locals => {:comments => @article.comments.reverse[0..30]} %>
          </div>
          <div class="span3">
            <h3>Promotion and deployments</h3><hr/>
            <Table>
              
              <%= render :partial => "post_articles_to_social_networks" unless @article.short_url.nil?  %>
               <tr>
                <td width="48x"><%= image_tag "/assets/flat/reddit.png" , :size => "48x48"%> </td>
                <td><%=  link_to "Promote on reddit", "http://reddit.com/submit?url=#{@article.short_url}&title= #{@article.name}",   :target=>"_blank"%></td>
              </tr>
              
              <tr>
                <td width="48x"><%= image_tag "/assets/flat/digg.png" , :size => "48x48"%> </td>
                <td><%=  link_to "Promote on digg", "http://digg.com/submit?url=#{@article.short_url}&title= #{@article.name}",   :target=>"_blank"%></td>
              </tr>
              
            </table>

          </div>
        </div>
      </div>


    </div>
  </div>





  <script>
    $(function() {
      $("#deployDialogBtn").click(function() {
        $("#deployDialog").slideToggle(500);
        return false;
      });
      
    });
  </script>





  <script>
    Morris.Donut({
      element: 'chart-2-1',
      data: [
        {value: 70, label: 'Email Campaigns'},
        {value: 15, label: 'Facebook'},
        {value: 10, label: 'Twitter'},
        {value: 5, label: 'Other'}
      ],
      backgroundColor: '#ccc',
      labelColor: '#e04006',
      colors: [
        '#e04006',
        '#e08936',
        '#56aaff',
        '#95D7BB'
      ],
      formatter: function (x) { return x + "%"}
    });
    Morris.Donut({
      element: 'chart-2-2',
      data: [
        {value: 70, label: 'Chrome'},
        {value: 15, label: 'IPAD'},
        {value: 10, label: 'Android'},
        {value: 5, label: 'IE'}
      ],
      backgroundColor: '#ccc',
      labelColor: '#e04006',
      colors: [
        '#e04006',
        '#e08936',
        '#56aaff',
        '#95D7BB'
      ],
      formatter: function (x) { return x + "%"}
    });


    Morris.Donut({
      element: 'chart-2-3',
      data: [
        {value: 170, label: 'Israel'},
        {value: 125, label: 'Germany'},
        {value: 130, label: 'USA'},
        {value: 54, label: 'Russia'}
      ],
      backgroundColor: '#ccc',
      labelColor: '#e04006',
      colors: [
        '#e04006',
        '#e08936',
        '#56aaff',
        '#95D7BB'
      ],
      formatter: function (x) { return x + "%"}
    });
  </script>