<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>title</th>
    </tr>
  </thead>
  <tbody>
    <% for item in @autoresponders do  %>
        <tr>
          <td width="32px"><%= image_tag "/assets/flat/edit-5-64.png"  %> </td>
          <td>        
            <%= link_to item.name , "/autoresponders/#{item.id}/edit" %>
            <div class="item_command">
              <a href=""><i class="icon-copy"></i> duplicate</a>
              <%= link_to raw("<i class='icon-remove'></i> Delete"), autoresponder_path(item),:method => :delete,  :data => { :confirm => "Are you sure?" } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>