<% gmail = @brand.get_channel("gmail") %>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th width="100px"></th>
    </tr>
  </thead>
  <tbody>
    <% for item in gmail.posts.where(:kind => "bounced") do   %>
        <tr>
          <td><%= item.bounced_email%></td>
          <td><%= link_to item.title%></td>
          <td><%= link_to "Remove!" , "" , :class => "btn btn-danger"%></td>
          
        </tr>
      <% end %>
    </tbody>

  </table>

