<table class="table cdatatable">
  <% 
    @cemails = @brand.get_channel("gmail").posts.where(:network => "competitor").order("posted_at DESC") 
%>



  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for post in @cemails  do  %>
        <tr>
          <td>
            <div class="pull-right">
              <%= time_ago_in_words post.posted_at %>
            </div>
            <% if post.kind.include? "unread" %> <b> <% end  %>
              <%= link_to  hebrew_decode(post.from_name) + " " + hebrew_decode(post.title)[0..50], "" , :class => "btn-show-body", "data-post-id" => post.id %>
              <% if post.kind.include? "unread" %> </b> <% end  %>
              <br/><%= post.short_body %>
            <div class="email-body" style="display:none;" id="div-c-<%=post.id%>">
              <%= simple_format post.body %>
              <!--
              <iframe  id="frame-<%#=post.id%>" src="" style="height:300px;width:100%"></iframe>
              -->
            </div>

            <div class="item_command">
              <a href=""><i class="icon-share"></i> Reply </a>
              <a href="/posts/email_action?id=<%=post.id%>&command=autoresponder&redirect_to=<%=request.original_url %>"><i class="icon-retweet"></i> Copy Message </a>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <script>
    $(document).ready(function() {
    
      $(document).on("click", ".btn-show-body", function () {
        var tag = "#div-c-" + $(this).data('post-id');
        var frame = "#frame-" + $(this).data('post-id');
        var url = "/posts/preview?id=" + $(this).data('post-id');
        $(frame).attr("src",url)
        $(tag).slideToggle(400);
        return false;
      });  
    });  
      
      
  </script>

  <style>
    .email-body{background-color: #fff; color:#333; line-height: 18px;}
  </style>


