<table class="table datatable-long">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for fan in @brand.fans.where("email is not null") do  %>
        <tr>
          <td width="32px">
            <%= image_tag fan.profile_image, :size => "32x32" %>
          </td>
          <td>
            <b><%= fan.name   %></b> <%= fan.email %><br/>
            <%= fan.short_bio %>
            <div class="item_command">
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>