<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for item in current_user.brand.emails do   %>
        <tr>
          <td><%= link_to item.to_email , item%></td>
          <td><%= link_to item.to_name, item %></td>
          <td><%= item.subject %></td>
          <td><%= "sent" %></td>
        </tr>
      <% end %>
    </tbody>

  </table>