<div class="row-fluid">

  <div class="thumbnail">
    <%= form_for @bulk_mail, :html => { :class => 'form-vertical' } do |f| %>

      <%= f.hidden_field :kind %>


      <div class="modal-header">
        <h2><%= image_tag "/assets/flat/campaign.png",:size => "48x48"   %> <%= @bulk_mail.name %></h2>
      </div>


      <div class="modal-header">

        <div class="row-fluid">
          <div class="span5">
            <h3><%= f.label :name, :class => 'control-label' %></h3>
            <div class="controls">
              <%= f.text_field :name, :class => 'text_field ' %>
            </div>
          </div>

          <div class="span3">
            <% if @bulk_mail.promotion? %>
              <div class="control-group">
                <h3><%= f.label "Target Page", :class => 'control-label' %></h3>
                <div class="controls">
                  <%= f.collection_select :page_id,@pages , :id , :name, :class => 'text_field span8' %>
                </div>
              </div>    
            <% end %>
          </div>

          <div class="span3">
            <% if @bulk_mail.promotion? %>
              <div class="control-group">
                <h3><%= f.label "Template", :class => 'control-label' %></h3>
                <div class="controls">
                  <%= f.collection_select :template_id,@templates , :id , :name, :class => 'text_field span8' %>
                </div>
              </div>    
            <% end %>
          </div>
        </div>
      </div>


      <div class="modal-header">
        <h3> Header</h3>
        <div class="control-group">
          <div class="controls">
            <%= f.text_area :header, :class => 'text_area' , :class => 'wysiwyg' %>
          </div>
        </div>
      </div>

      <div class="modal-header">
        <h3>Body</h3>
        <div class="controls">
          <%= f.text_area :body, :class => 'text_area' ,:style => "height:300px" , :class => 'wysiwyg'%>
        </div>
      </div>

      <div class="modal-footer">
        <%= f.submit "Save", :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), bulk_mails_path, :class => 'btn' %>
        <%= link_to t('.cancel', :default => t("Preview")), "/public/campaign?id=#{@bulk_mail.id}", :class => 'btn' , :target => "new"%>
      </div>

    <% end %>
  </div>
</div>



<style>
  .modal-footer{margin-bottom: -25px;margin-left: -4px;;margin-right: -4px;}
</style>

<div class="tabbable hidden">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#body" data-toggle="tab">Content</a></li>
    <li><a href="#header" data-toggle="tab">Header</a></li>
    <!--
    <li><a href="#footer" data-toggle="tab">Footer</a></li>
    -->
<%#*<li><a href="#recepients" data-toggle="tab">Recepients</a></li>%>
<%#*<li><a href="#templates" data-toggle="tab">Customize</a></li>%>
<%#*<li><a href="#stats" data-toggle="tab">Statistics</a></li>%>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active" id="body">


      <div class="pull-right">
        <%= link_to( "Add Content" , "" , :id => "btn-add-content" , :class => "btn btn-danger"  ) if @bulk_mail.newsletter? %>
      </div>



      <%  if @bulk_mail.newsletter? %>
        <h3>Articles </h3>
        <%= render :partial => 'newsletter_articles' %>
      <%else%>

      <% end %>
    </div>


    <div class="tab-pane" id="articles">
      <%= render :partial => 'newsletter_articles_to_add' %>
    </div>
    <div class="tab-pane" id="header">

    </div>



    <div class="tab-pane" id="recepients">
      <div class="pull-right">
        <div class="btn-group">
          <button  class="btn">Import Contacts</button>
          <a class="btn  dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href=""><i class="icon-file"></i> From Excel </a></li>
            <li><a href=""><i class="icon-user"></i> Microsoft Outlook</a></li>
            <li><a href=""><i class="icon-calendar"></i> Gmail</a></li>
          </ul>
        </div>
      </div>
      <h3>Recepients</h3><hr/>
<%#= @bulk_mail.fan_list %>
      <%= render :partial => 'recepients' %>
    </div>

    <div class="tab-pane" id="stats">
      <h3>Statistics</h3><hr/>
    </div>
  </div>



</div>


<script>
  $(document).ready(function() {
    
    $(document).on("click", "#btn-add-content", function () {
      $("#content").slideToggle(500);
      $("#btn-add-content").slideToggle(500);
      return false;
    })
    
    $(document).on("click", "#btn-hide-content", function () {
      $("#content").slideToggle(500);
      $("#btn-add-content").slideToggle(500);
      return false;
    })
    
    $(document).on("click", "#btn-body-style", function () {
      $("#div-body-style").toggle();
      return false;
    })
    
    $(document).on("click", "#btn-header-style", function () {
      $("#div-header-style").toggle();
      return false;
    })
    
    $(document).on("click", "#btn-footer-style", function () {
      $("#div-footer-style").toggle();
      return false;
    })
    
  });
</script>