<div class="row">
  <div class=" span8" id="import-csv-dialog" style="display:none;">
    <br/>
    <%= form_tag  :url=>{:controller=>"fans", :action=>"import"}, :html => { :multipart => true } do |f| -%>

    <%#= form_tag "/fans/import" , :multipart => true ,:class=> "form-inline" , :action => "post" do  %>
      &nbsp;&nbsp;Load CSV File: 
      <%= file_field_tag  "csv"  %> 
      <%= submit_tag "Load contacts" , :class => "btn btn-info"%>
    <% end %>
      <hr/>
  </div>
  
</div>