<table class="table  table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Template</th>
      <th width="40px">Sent</th>
      <th width="40px">Opened</th>
      <th width="40px">Bounced</th>
      <th width="60px">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bulk_mails.each do |email_listing| %>
      <tr>
        <td><%= link_to email_listing.name ,email_listing %></td>
        <td><%#= email_listing.template.name %></td>
        <td><span class="btn-info btn"> <%= @bulk_mail.total_views %> </span> </td>
        <td><span class="btn-success btn"> <%= rand(40)%> </span> </td>
        <td><span class="btn-danger btn"> <%= rand(20)%> </span> </td>
        <td>
          <%= link_to 'Edit', "/bulk_mails/#{email_listing.id}/edit", :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), bulk_mail_path(email_listing),
            :method => 'delete', :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
