<%= form_tag(:controller => "bulk_mails", :action => "add_articles", :method => "post", :class => "nifty_form") do%>
  <%= hidden_field_tag :bulk_mail_id , @bulk_mail.id %>
  <table class="table datatable">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for item in  @articles_to_add do  %>
          <tr>
            <td width="32px"><input type="checkbox" name="<%=item.id%>" /> </td>
            <td width="32px"><%= image_tag(item.icon , :size => "32x32") %> </td>
            <td><%= item.name %><br/><p><%= item.short_body %></p></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div><%= submit_tag 'Save' %></div>
  <% end -%>