<table class="table">
  <% for item in @articles do  %>
      <tr>
        <td width="32px"><%= image_tag(item.icon , :size => "32x32") %> </td>
        <td><%= item.name %><br/><p><%= item.short_body %></p></td>
        <td width="20px"><%= link_to raw("<i class='icon-arrow-up'></i>") , "/bulk_mails/move_article?id=#{@bulk_mail.id}&article=#{item.id}&action=up" %>&nbsp;</td>
        <td width="20px"><%= link_to raw("<i class='icon-arrow-down'></i>"), "/bulk_mails/move_article?id=#{@bulk_mail.id}&article=#{item.id}&action=down" %>&nbsp;</td>
        <td width="20px"><%= link_to raw("<i class='icon-remove'></i>"), "/bulk_mails/move_article?id=#{@bulk_mail.id}&article=#{item.id}&action=remove" %>&nbsp;</td>
      </tr>
    <% end %>
  </table>