<table class="table datatable">
  <thead>
    <tr>
      <th></th>
      <th>News Letters</th>
      <th width="80px">Sent</th>
      <th width="80px">Opened</th>
      <th width="80px">Page Views</th>
      <th width="80px">Inquiries</th>
    </tr>
  </thead>
  <tbody>
    <% for item in @newsletters do  %>
        <tr>
          <td width="64px"><%= image_tag "/assets/flat/newspaper-7-64.png" %>
          <td>
            <%= link_to   item.name  , item%> <br/>
             Views: <%=item.total_views %> Articles: <%= item.articles.count %>   Comments: <%= rand(2) %>  Inquiries: <%= rand(3) %><br/>
            <div class="item_command">
              <a href=""><i class="icon-copy"></i> duplicate</a>
              <%= link_to raw("<i class='icon-eye-open'></i> Preview") , "/bulk_mails/preview?id=#{item.id}" %>
              <%= link_to raw("<i class='icon-remove'></i> Delete"), bulk_mail_path(item),:method => :delete,  :data => { :confirm => "Are you sure?" } %>
            </div>
          </td>
          <td><%= rand(2000) %></td>
          <td><%= rand(100) %></td>
          <td><%= item.total_views %></td>
          <td><%= item.total_clicked %></td>
        </tr>
      <% end %>
    </tbody>
  </table>