<% 
def check_user?( uid)
  begin
    return 'checked="checked"' if  @bulk_mail and @bulk_mail.fan_list.to_s.include? uid
    #rescue
    return ""
  end
end
%>
<%= form_for @bulk_mail, :html => { :class => 'form-vertical' } do |f| %>
  <%= submit_tag "Add recepients" , :class => "btn btn-info" %>
  <%= link_to "Select all" , "" , :id => "add-all" , :class => "btn" %>

  <table class="datatable-long table-striped table">
    <thead>
      <tr>
        <th width="32px"></th>
        <th width="32px"></th>
        <th>id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Network</th>
        <th>Groups</th>
      </tr>
    </thead>
    <tbody>
      <% for item in current_user.brand.fans.where("email is not null") do %>
          <tr>
            <td><input type="checkbox" name="fan-<%=item.id%>" <%= check_user?(item.id.to_s)   %> /></td>
            <td><%= image_tag item.profile_image , :size => "24x24"  %></td>
            <td><%= item.id   %></td>
            <td><%= item.name   %></td>
            <td><%= item.email  %></td>
            <td><%= item.channel.name unless item.channel.nil?   %></td>
            <td><%= item.group_tags   %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>