<table class="table datatable">
  <thead>
    <tr>
      <th></th>
      <th>Campaign Name</th>
      <th width="80px">Sent</th>
      <th width="80px">Opened</th>
      <th width="80px">Page Views</th>
      <th width="80px">Inquiries</th>
    </tr>
  </thead>
  <tbody>
    <% for item in @promotions do  %>
        <tr>
          <td width="48px"><%= image_tag "/assets/flat/campaign.png" %>
          <td>
            <%= link_to   item.name  , item%> <br/>
                         
            <div class="item_command">
              <a href=""><i class="icon-copy"></i> duplicate</a>
              <%= link_to raw("<i class='icon-globe'></i> Landing Page") , "/public/campaign?id=#{item.id}&preview=true}" %>
              <%= link_to raw("<i class='icon-remove'></i> Delete"), bulk_mail_path(item),:method => :delete,  :data => { :confirm => "Are you sure?" } %>
            </div>
          </td>
          <td><%= rand(2000) %></td>
          <td><%= rand(100) %></td>
          <td><%= item.total_views %></td>
          <td><%= item.total_clicked %></td>
        </tr>
      <% end %>
    </tbody>
  </table>