<%= form_for @bulk_mail, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label :page_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :page_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :rtl, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :rtl, :class => 'check_box' %>
    </div>
  </div>



  <div class="control-group">
    <%= f.label :unique_token, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :unique_token, :class => 'text_field' %>
    </div>
  </div>

<% end %>