<%= form_for @bulk_mail, :html => { :class => 'form-vertical' } do |f| %>
  <h3>Style</h3><hr/>
  <table width="100%" cellpadding="10px">
    <tr style="vertical-align: top;">

    <tr>
      <td>
        Template: 
        <select name="bulk_mail[template_id]">
          <% for item in @newsletter_templates do  %>
              <option value="<%=item.id%>"><%= item.name %></option>
            <% end %>
          </select>
          <%= @bulk_mail.template_id %>
        </td>
      </tr>
      <tr>
        <td>
          <%= submit_tag "Save" %>
        </td>
    </table>
  
    <div class="hidden">    
      <table width="100%" cellpadding="10px">
        <tr>
          <td>
            Heading background image
            <div class="controls">
              <%= f.text_field :top_image_url %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Body background image
            <div class="controls">
              <%= f.text_field :body_image_url %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Footer background image
            <%= f.text_field :footer_image_url %>
          </td>
        </tr>
      </table>
    </div>
    </tr>


  <% end %>
