<% for item in 1..9 do  %>
    <div class="pull-left" style="margin:1em; text-align: center;border: 1px solid #ddd ;padding:0.1em; ">
      <h5><%= lorem(2) %></h5><hr/>
      <%= image_tag "/assets/email_templates/#{item.to_s}.jpeg" , :size => "150x250"%>
      <hr/>
      
      <%= link_to  "Use template" , "" ,:class => "btn btn-info" %>
      <br/>
      <br/>
    </div>
  <% end %>