<table class="table">
  <% for email in @unsubscribed do %>
  <tr>
    <td><%= email.to_name %> </td>
    <td><%= email.to_email %> </td>
    <td><%= email.subject %> </td>
    <td class="item_command"><%= link_to raw("<i class='icon-remove'></i> Remove"),"" %> </td>
  </tr>
  <%end %>
</table>