<div class="row">
  <div class="span12">
    <h2>Select Email provider</h2><hr/>
  </div>
  <div class="span3">
    <h5><%= safe_image_tag( "/assets/icons/gmail_logo.png", :size => "48x48")%>  Gmail</h5>
    <%= lorem(30) %>
    <hr/>
    <form>
      <div class="control-group">
        <label class="control-label" for="brand_gmail_email">Gmail email</label>
        <div class="controls">
          <input class="text_field" id="brand_gmail_email" name="brand[gmail_email]" size="30" type="text" value="assaf.goldstein@gmail.com">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="brand_gmail_pwd">Gmail pwd</label>
        <div class="controls">
          <input class="text_field" id="brand_gmail_pwd" name="brand[gmail_pwd]" size="30" type="password" value="clippeR!">
        </div>
      </div>
    </form>

   
  </div>
  <div class="span3">
    <h5><%= safe_image_tag( "/assets/icons/sendgrid_logo.png", :size => "48x48")%>  Send Grid</h5>
    <%= lorem(30) %>
    <hr/>

    <form>

      <div class="control-group">
        <label class="control-label" for="brand_mailchimp_token">SendGrid token</label>
        <div class="controls">
          <input class="text_field" id="brand_mailchimp_token" name="brand[mailchimp_token]" size="30" type="text" value="">
        </div>
      </div>

    </form>
  </div>
  <div class="span3">
    <h5><%= safe_image_tag( "/assets/icons/madmimi_logo.png", :size => "48x48")%>  Mad Mimi</h5>
    <%= lorem(30) %>
    <hr/>
    <form>

      <div class="control-group">
        <label class="control-label" for="brand_mailchimp_token">Mad Mimi Token</label>
        <div class="controls">
          <input class="text_field" id="brand_mailchimp_token" name="brand[mailchimp_token]" size="30" type="text" value="">
        </div>
      </div>

    </form>
  </div>
  <div class="span3">
    <h5><%= safe_image_tag( "/assets/icons/mailchimp_logo.png" ,:size => "48x48") %>  MailChimp</h5>
    <%= lorem(30) %>
    <hr/>
    <form>
      <div class="control-group">
        <label class="control-label" for="brand_mailchimp_token">Mailchimp token</label>
        <div class="controls">
          <input class="text_field" id="brand_mailchimp_token" name="brand[mailchimp_token]" size="30" type="text" value="">
        </div>
      </div>

    </form>
  </div>

  <div class="span12">
     <%= link_to "Create Account" , "", :class => "btn btn-info" %>
  </div>
</div>