
<%= form_tag "/bulk_mails/import" , :method => "post" do %>
  <div class="control-group">
    <%= "Email"  %>
    <div class="controls">
      <%= text_field_tag :email %>
    </div>
  </div>


  <div class="control-group">
    <%= "Password"  %>
    <div class="controls">
      <%= text_field_tag :password%>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag "Google Mail" , :class => 'btn btn-primary' %>
    <%= submit_tag "Yahoo Mail" , :class => 'btn btn-primary' %>
    <%= submit_tag "Microsoft Hotmail" , :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), "", :class => 'btn' %>

  </div>

<% end %>


<div class="row">
  <div class="span12">
    <ul>
      <% for item in @list do  %>
        <li><%= item.inspect  %></li>
      <% end  %>
      </ul>
    </div>
  </div>