

<% @brand  = current_user.brand %>

<subview ui-associations="withNavBar ">
<scrollpanel>
  <tableview>
     <tableheader>
        Email Campaigns summary
      </tableheader>
      <tablecell>
        <table width="100%">
          <tr style="vertical-align:top;font-size:13px;">
            <td width="25%" style="border-right:1px solid #333;">
              <b>Campaigns</b><br/>
              <span class="big-number"><%= @bulk_mails.count %></span>
            </td>
            <td width="25%"  style="border-right:1px solid #333;">
              <b>Sent</b><br/>
              <span class="big-number"><%= @brand.total_emails_sent %></span>
            </td>
            <td width="25%"  style="border-right:1px solid #333;">
              <b>Opened</b><br/>
              <span class="big-number"><%= @brand.total_emails_opened %></span>
            </td>
            <td width="25%">
              <b>Rejected</b><br/>
              <span class="big-number"><%= number_with_delimiter(rand(12)) %></span>
            </td>
          </tr>
        </table>
      </tablecell>
    
    <tableheader>
      Running Campaigns
    </tableheader>
    <% for item in @bulk_mails.reverse[0..4] do  %>
        <tablecell ui-usage="image">
          <%=  image_tag("/assets/flat/campaign.png", :size => "50x50")%>
          <celltitle><%= link_to item.name , "/bulk_mails/#{item.id}"%></celltitle>
          <celldetail><%= "Sent 130/309   Opened:20"   %> </celldetail>
        </tablecell>
      <% end %>
    </tableview>
    <tableview>
      <tableheader>
        Running Newsletters
      </tableheader>
      <% for item in @bulk_mails.reverse[0..3] do  %>
          <tablecell ui-usage="image">
            <%=  image_tag("/assets/flat/newspaper-7-64.png", :size => "50x50")%>
            <celltitle><%= link_to item.name , "/bulk_mails/#{item.id}"%></celltitle>
            <celldetail><%= "Sent 130/309   Opened:20"   %> </celldetail>
          </tablecell>
        <% end %>
      </tableview>
    </scrollpanel>
</subview>