<% gmail = @brand.get_channel("gmail") %>
<div class="row-fluid">

  <div class="span12">
    <div class="thumbnail" >
      <div class="modal-header  ">


        <div class="pull-right item_command" style="padding:1em;">
          <% if @show_campaigns %>
            <%= link_to raw("<i class='icon-gift'></i> Campaign") , "/bulk_mails/new?kind=promotion"    %>
          <% else %>
            <%= link_to raw("<i class='icon-calendar'></i> Newesletter") , "/bulk_mails/new?kind=newsletter"  %>
          <% end %>

          <%= link_to raw("<i class='icon-tint'></i> template") , ""   %>

          <%= link_to raw("<i class='icon-bar-chart'></i> Charts") , "/scores/?email=1"   %>
        </div>

        <% if @show_campaigns %>
          <h2> <%= image_tag "/assets/flat/email-8-64.png" , :xsize => "32x32"   %>  Email Campaigns </h2>
        <% else %>
          <h2> <%= image_tag "/assets/flat/component-newsletter.png" , :xsize => "32x32"   %>  Newsletters </h2>
        <% end %>

        <!--
        </div>

        <%= render :partial => 'import_csv_form' %>
  
        <div class="modal-header">
        -->

        <div class="tabbable ">
          <ul class="nav nav-tabs">
            <% if @show_campaigns %>
              <li class="active"><a href="#campaigns" data-toggle="tab"> Campaigns</a></li>
            <% end %>
            <% if @show_campaigns.nil? %>
              <li class="active"><a href="#newsletters" data-toggle="tab"> Newsletters</a></li>
            <% end %>
            <li><a href="#55" data-toggle="tab"> Unsubsribed and Bounced</a></li>
          </ul>
          <div class="tab-content">

            <div class="tab-pane " id="summary">
              <div class="row">
                <div class="span6">
                  <h3>Total messages </h3><hr/>

                  <table class="table table-striped">
                    <tr>
                      <td ><i class="icon-envelope"></i> <%= "Sent:" %> </td> <td ><%= @brand.emails.where(:status => "sent").count %></td>
                    </tr>
                    <tr>
                      <td ><i class="icon-user"></i> <%= "Subscribers:" %> </td> <td ><%= rand(1000)%></td>
                    </tr>
                    <tr>
                      <td ><i class="icon-eye-open"></i> <%= "Views:"%> </td> <td ><%= @brand.opened_trackers.count %></td>
                    </tr>
                    <tr>
                      <td ><i class="icon-trash"></i> <%= "Bounced:"%> </td> <td ><%#= @gmail.posts.where(:kind => "bounced").count%></td>
                    </tr>
                  </table>

                </div>


                <div class="span5">

                  <h3>Recent sent emails </h3><hr/>

                  <table class="table table-striped">

                    <% for item in @brand.emails.where(:status => 'sent').limit(5) do  %>
                        <tr>
                          <td ><%= time_ago_in_words item.updated_at %> </td> 
                          <td ><%= item.to_email %></td>
                          <td ><%= item.subject %></td>
                        </tr>
                      <% end %>
                    </table>
                    <hr/>
                    <h3>Recent opened emails </h3>

                    <table class="table table-striped">

                      <% for item in @brand.emails.where(:status => 'sent').limit(5) do  %>
                          <tr>
                            <td ><%= time_ago_in_words item.updated_at %> </td> 
                            <td ><%= item.to_email %></td>
                            <td ><%= item.subject %></td>
                          </tr>
                        <% end %>
                      </table>
                    </div>
                  </div>
                </div>

                <% if @show_campaigns %>
                  <div class="tab-pane active" id="campaigns">
                    <%= render :partial => 'running_campaigns' %>
                  </div>
                <% end %>
                <% if @show_campaigns.nil? %>
                  <div class="tab-pane  active" id="newsletters">
                    <%= render :partial => 'newsletters' %>
                  </div>
                <% end %>
                <div class="tab-pane" id="contacts">
                  <div class="pull-right item_command">
                    <a href=""><i class="icon-user"></i> New Contact</a>
                    <a href=""><i class="icon-signin"></i> Import Contacts </a>
                  </div>

                  <h3>My Contacts</h3><hr/>
                  <%= render :partial => 'contacts' %>
                </div>




                <div class="tab-pane" id="inbox">
                  <h3>My Inbox</h3><hr/>
                  <%= render :partial  => 'shared/inbox'%>
                </div>


                <div class="tab-pane" id="32">
                  <h3>Auto Responding Messages</h3><hr/>
                  <%= render :partial => 'auto_responders' %>
                </div>
                <div class="tab-pane" id="33">
                  <h3>Email Templates</h3><hr/>
                  <%= render :partial => 'templates_list' %>
                </div>
                <div class="tab-pane" id="44">
                  <div class="pull-right item_command">
                    <%= link_to raw("<i class='icon-remove'></i> Remove all"),"" %>
                  </div>
                  <h3>Bounced Emails</h3><hr/>
                  <%= render :partial => 'bounced' %>
                </div>
                <div class="tab-pane" id="55">

                  <div class="pull-right item_command">
                    <%= link_to raw("<i class='icon-remove'></i> Remove all"),"" %>
                  </div>
                  <h3>Unsubscribed users </h3><hr/>
                  <%= render :partial => 'unsubscribed' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script>
      $(document).ready(function() {
        
        $(document).on("click", "#import-csv-btn", function () {
          $("#import-csv-dialog").slideToggle(500);
          return false;
        });


      });  
    </script>


