<%= render :partial => 'shared/upper_row' %>
<%- model_class = @bulk_mail.class -%>

<div class="row-fluid">
<%= render :partial => 'form' %>
</div>
<style>
  .modal-footer{margin-bottom: -25px;margin-left: -4px;;margin-right: -4px;}
</style>