

<div class="row-fluid">
  <div class="thumbnail">
    <div class="pull-right item_command">
      <a href="/bulk_mails/preview?id=<%=@bulk_mail.id%>&version=text""><i class="icon-check"></i> Text Version</a>
      <a href="/bulk_mails/preview?id=<%=@bulk_mail.id%>"><i class="icon-check"></i> HTML Version</a>
      <a href="/bulk_mails/<%=@bulk_mail.id%>/edit"><i class="icon-edit"></i> Edit content</a>
      <a href="/bulk_mails/<%=@bulk_mail.id%>"><i class="icon-check"></i> Back</a>
    </div>

    <div class="modal-header">  
      <h3>Preview <%= @bulk_mail.name %></h3>
    </div>
    <div class="modal-header">  
      <% if @version == "text" %>
        <pre>
          <%=   @bulk_mail.preview_text %>
        </pre>
      <% else %>
        <div class="row-fluid">
          <div class="span3">
            <%= render :partial => "temp_table_for_style" %>
          </div>
          <div class="span7">
            <%=   raw @bulk_mail.preview %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
