
<%- model_class = @bulk_mail.class -%>


<div class="row-fluid">

  <div class="span12">

    <div class="thumbnail">
      <div class="modal-header">
        <div class="pull-right item_command">
          <%= link_to raw("<i class='icon-eye-open'></i> Preview") , "/public/campaign?id=#{@bulk_mail.id}&preview=true" %>
          <% if @bulk_mail.started?  %>
            <%= link_to "Stop Campaign!" , "/bulk_mails/stop?id=#{@bulk_mail.id}" %>

          <% else %>
            <%= link_to raw("<i class='icon-star'></i> Start Campaign!") , "/bulk_mails/start?id=#{@bulk_mail.id}" %>
            <%= link_to raw('<i class="icon-pencil"></i> edit'), edit_bulk_mail_path(@bulk_mail)  %>
            <%= link_to raw('<i class="icon-remove"></i> remove'), bulk_mail_path(@bulk_mail),
              :method => 'delete', :confirm => "Are you sure?" %>
          <% end %>


        </div>
        <% if @bulk_mail.newsletter? %>
          <h2><%= image_tag "/assets/flat/newspaper-7-64.png" , :size => "48x48"%><%= @bulk_mail.name  %></h2>
        <% else %>
          <h3><%= image_tag "/assets/flat/campaign.png" , :size => "48x48"%><%= @bulk_mail.name  %></h3>
        <% end %>
      </div>

      <div class="tabbable ">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#content" data-toggle="tab">Content</a></li>
          <% if @bulk_mail.started? %>
            <li><a href="#unsubscribe" data-toggle="tab">Unsubscribed</a></li>
            <li><a href="#sent" data-toggle="tab">Sent</a></li>
          <% else  %>
            <% if @bulk_mail.newsletter? %>
              <li><a href="#articles" data-toggle="tab">Articles to add</a></li>
            <% end %>
            <li><a href="#contacts" data-toggle="tab">Recepients</a></li>
          <% end %>
        </ul>
        <div class="tab-content">

          <div class="tab-pane active" id="content">

            <div xclass="modal-header">
              <div class="span4">
                <table class="table">
                  <tr>
                    <td colspan="2">
                      <h5>Campaign Statistics</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="icon-group"></i> Recepients:
                    </td>
                    <td>
                       <%=  number_with_delimiter  @bulk_mail.fan_list.split(",").size  %> 
                    </td>
                  </tr>
                  <tr>
                    <td>
                     <i class="icon-envelope"></i> Sent Emails: 
                    </td>
                    <td>
                      <%= number_with_delimiter(@bulk_mail.emails.where(:status => "sent").count) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                     <i class="icon-envelope"></i> Pending Emails:
                    </td>
                    <td>
                      <%= number_with_delimiter(@bulk_mail.emails.where(:status => "pending").count) %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="icon-eye-open"></i> Opened:
                    </td>
                    <td>
                       <%=  number_with_delimiter  @bulk_mail.fan_list.split(",").size  %> 
                    </td>
                  </tr>
                </table>
                  
              </div>

              <div class="span7">
                <% if @bulk_mail.newsletter? %>
                  <% if @bulk_mail.started? %>
                    <%= raw @bulk_mail.preview %>
                  <% else %>
                    <h5>Articles in this newsletter</h5>
                    <%= render :partial => 'newsletter_articles' %>
                  <% end %>
                <% else %>
                  <% unless @bulk_mail.preview.nil? %>
                    <%= raw @bulk_mail.preview %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>


          <div class="tab-pane " id="contacts">
            <div class="modal-header">
              <%= render :partial => 'recepients' %>
            </div>
          </div>


          <div class="tab-pane " id="sent">
            <h3>&nbsp;&nbsp; Sent Emails</h3>
            <table class="table datatable">

              <thead>
                <tr>
                  <th>Recepient</th>
                  <th>Status</th>
                  <th>When</th>
                </tr>
              </thead>

              <tbody>
                <% for  email in @bulk_mail.emails do  %>
                    <tr>
                      <td><%= link_to email.to_name, email %> </td>
                      <td><%= email.status %> </td>
                      <td><%= time_ago_in_words email.updated_at %> </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>


            <div class="tab-pane" id="articles">
              <%= render :partial => "newsletter_articles_to_add"  %>
            </div>
            <div class="tab-pane" id="pending">
              <h3>&nbsp;&nbsp; Pending Emails</h3>
              <table class="table">
                <% for  email in @bulk_mail.emails.where(:status => "pending") do  %>
                    <tr>
                      <td><%= link_to email.id, email %> </td>
                      <td><%= link_to email.to_name, email %> </td>
                      <td><%= email.subject %> </td>
                      <td><%= email.status %> </td>
                      <td><%= time_ago_in_words email.updated_at %> </td>
                    </tr>
                  <% end %>
                </table>

              </div>

              <div class="tab-pane" id="opened">
                <h3>&nbsp;&nbsp; Opened Emails</h3>
                <%= render :partial => "shared/trackers" , :locals => {:trackers => @bulk_mail.opened_trackers}%>
              </div>
              <div class="tab-pane" id="engaged">
                <h3>&nbsp;&nbsp; Engaged Emails</h3>
                <%= render :partial => "shared/trackers" , :locals => {:trackers => @bulk_mail.engaged_trackers}%>
              </div>
              <div class="tab-pane" id="unsubscribe">
                <h3>&nbsp;&nbsp; Unsubscribed Emails</h3>
                <table class="table">
                  <% for  email in @bulk_mail.emails.where(:status => "unsubscribe") do  %>
                      <tr>
                        <td><%= link_to email.to_name, email %> </td>
                        <td><%= email.subject %> </td>
                        <td><%= email.status %> </td>
                        <td><%= time_ago_in_words email.updated_at %> </td>
                      </tr>
                    <% end %>
                  </table>

                </div>
              </div>
            </div>





          </div>

        </div>

      </div>

