
<style>
  h1 img{
    vertical-align: top;
  }
</style>

<subview ui-associations="">
  <scrollpanel>

    <tableview>       
      <tableheader>
        <b> Bulk Mail :<%=  @bulk_mail.name%> </b>
      </tableheader>
      
      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/mobile/png/user32.png", :size => "32x32")%>
        <celltitle><%= link_to "Sent Emails(#{@bulk_mail.emails.count})" , "" %> </celltitle>
      </tablecell>
      
      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/mobile/png/user32.png", :size => "32x32")%>
        <celltitle><%= link_to "Opened Emails(#{@bulk_mail.emails.count})" , "" %> </celltitle>
      </tablecell>
      
      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/mobile/png/user32.png", :size => "32x32")%>
        <celltitle><%= link_to "Clicked Emails(#{@bulk_mail.emails.count})" , "" %> </celltitle>
      </tablecell>
      
      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/mobile/png/user32.png", :size => "32x32")%>
        <celltitle><%= link_to "Unsubscribed(#{@bulk_mail.emails.count})" , "" %> </celltitle>
      </tablecell>
      
      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/mobile/png/user32.png", :size => "32x32")%>
        <celltitle><%= link_to "Bounced (#{@bulk_mail.emails.count})" , "" %> </celltitle>
      </tablecell>
      
      
      
        <tablecell style="text-align: center">
        Emails by Status<hr/>
        <%= image_tag Gchart.pie( 
          :labels => ["Sent","Opened","Clicked", "Unsubscribe"],  
          :data => [ @brand.get_channel("facebook").chart_line_1(4)], 
          :size => "300x160", 
          :bar_colors => '67a1db') %> 
      </tablecell>

      
      <tableheader>
        <b> Body</b>
      </tableheader>
      
      <tablecell>
        <span style="font-size:11px;">
        <%= simple_format  @bulk_mail.body %>
        </span>
      </tablecell>
    </tableview>
  </scrollpanel>
</subview>



      <style>
        .summary{
          width:100%;
          padding:0.4em;
        }
        .summary h5{
          font-size: 22px;
          color:#990000;
        }

        .summary td{
          text-align: center;
          font-size: 12px;
          color:#004099;
        }
        .rate{
          font-size:14px;
          font-weight: bold;
        }
      </style>