<%= form_for @template, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Template</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :kind, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :kind, :class => 'text_field' %>
      </div>
    </div>



    <% if @template.kind == "css" or @template.kind == "email" or @template.kind == "newsletter"%>

      <div class="control-group">
        <%= f.label :html, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :html, :class => 'text_area' %>
        </div>
      </div>

    <% end %>


    <% if @template.kind == "css" or @template.kind == "email"  or @template.kind == "newsletter"%>
      <div class="control-group">
        <%= f.label :css, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :css, :class => 'text_area' %>
        </div>
      </div>
    <% end %>

    <% if @template.kind == "css" %>

      <div class="control-group">
        <%= f.label "BG Color", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :color_1, :class => 'text_field' %>
        </div>
      </div>
    
      <div class="control-group">
        <%= f.label "FG Color", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :color_2, :class => 'text_field' %>
        </div>
      </div>
    
      <div class="control-group">
        <%= f.label "Header Color", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :color_3, :class => 'text_field' %>
        </div>
      </div>
    <% end %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', templates_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
