<%

@page = Page.new( :website_id => Website.order("ID ASC").first.id)


%>


<%= form_for @page, :html => { :class => 'form-inline' } do |f| %>
  <%= f.hidden_field :website_id, :value => current_user.website.id%>
  <fieldset>
      
      <div class="controls">
        <%= f.label :name, :class => 'control-label' %>
        <%= f.hidden_field :website_id, :class => 'text_field' %>
        <%= f.text_field :name, :class => 'text_field' %>
        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div>
      
  </fieldset>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Views</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for page in Page.where("website_id = #{ Website.order("ID ASC").first.id}") do  %>
        <tr>
          <td><%= link_to page.name ,"/pages/preview?id=#{page.id}&preview=true"  %> </td>
          <td width="50px"><%= page.view_count  %> </td>
          <td width="120px">
            <%= link_to 'edit', edit_page_path(page),  :class => 'btn btn-mini' %>
            <%= link_to 'Destroy', page_path(page), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>