
<div class="row hidden">
  <h3> Front Pages </h3>
  <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
        <div class='modal-header'>Front Page 1</div>
        <img src="/assets/flat/site-template-1-slider.png" alt="">
        <p>Thumbnail caption...</p>
        <%= link_to "Use Template" , "" , :class => 'btn btn-info' %>
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
        <div class='modal-header'>Front Page 2</div>
         <img src="/assets/flat/site-template-1-video.png" alt="">
        <p>Thumbnail caption...</p>
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
         
        <div class='modal-header'>Front Page 3</div>
        <img src="/assets/flat/site-template-1-slider.png" alt="">
        <p>Thumbnail caption...</p>
      </div>
    </li>


    <li class="span3">
      <div class="thumbnail">
        <div class='modal-header'>Front Page 4</div>
        <img src="/assets/flat/site-template-2-text.png" alt="">
        <p>Thumbnail caption...</p>
      </div>
    </li>
  </ul>
  
  <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
        <div class='modal-header'>Front Page 1</div>
        <img src="/assets/flat/site-template-2-slider.png" alt="">
        <p>Thumbnail caption...</p>
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
        <div class='modal-header'>Front Page 2</div>
         <img src="/assets/flat/site-template-2-text.png"" alt="">
        <p>Thumbnail caption...</p>
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
         
        <div class='modal-header'>Front Page 3</div>
        <img src="/assets/flat/site-template-1-slider.png" alt="">
        <p>Thumbnail caption...</p>
      </div>
    </li>


    <li class="span3">
      <div class="thumbnail">
        <div class='modal-header'>Front Page 4</div>
        <img src="/assets/flat/site-template-1-video.png" alt="">
        <p>Thumbnail caption...</p>
      </div>
    </li>
  </ul>
</div>




<h1>Templates</h1>
<%= lorem(50) %>
<br/>
<br/>
<br/>
<div class="tabbable ">
  <ul class="nav nav-tabs">
    <li ><a href="#1" data-toggle="tab">Squeez Pages</a></li>
    <li ><a href="#2" data-toggle="tab">Web page layouts</a></li>
    <li ><a href="#css" data-toggle="tab">Website CSS</a></li>
    <li class="active"><a href="#facebook" data-toggle="tab">Facebook Pages </a></li>
    <li><a href="#email" data-toggle="tab">Email Templates</a></li>
    <li><a href="#newsletters" data-toggle="tab">Newsletter templates</a></li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane " id="1">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Kind</th>
            <th>Name</th>
            <th>Created at</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @templates.each do |template| %>
            <tr>
              <td><%= template.id %></td>
              <td><%= template.kind %></td>
              <td><%= link_to template.name, template_path(template) %></td>
              <td><%= template.created_at %></td>
              <td>
                <%= link_to 'preview', "/templates/preview?id=#{template.id}", :class => 'btn btn-mini btn-info' %>
                <%= link_to 'Edit', edit_template_path(template), :class => 'btn btn-mini' %>
                <%= link_to 'Destroy', template_path(template), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane " id="2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Kind</th>
            <th>Name</th>
            <th>Created at</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for page in @pages %>
            <tr>
              <td><%= page.id %></td>
              <td><%= page.name %></td>
              <td><%= link_to page.name, page %></td>
              <td><%= page.created_at %></td>
              <td>
                <%= link_to 'preview', "/templates/preview?id=#{page.id}", :class => 'btn btn-mini btn-info' %>
                <%= link_to 'Edit', page, :class => 'btn btn-mini' %>
                <%= link_to 'Destroy', page, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


    <div class="tab-pane " id="css">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Kind</th>
            <th>Name</th>
            <th>Created at</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @css.each do |template| %>
            <tr>
              <td><%= template.id %></td>
              <td><%= template.kind %></td>
              <td><%= link_to template.name, template_path(template) %></td>
              <td><%= template.created_at %></td>
              <td>
                <%= link_to 'preview', "/templates/preview?id=#{template.id}", :class => 'btn btn-mini btn-info' %>
                <%= link_to 'Edit', edit_template_path(template), :class => 'btn btn-mini' %>
                <%= link_to 'Destroy', template_path(template), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


    <div class="tab-pane" id="newsletters">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Created at</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @newsletters.each do |template| %>
            <tr>
              <td><%= template.id %></td>
              <td><%= link_to template.name, template_path(template) %></td>
              <td><%= template.created_at %></td>
              <td>
                <%= link_to 'Preview', "/templates/preview?id=#{template.id}", :class => 'btn btn-mini btn-info' %>
                <%= link_to 'duplicate', "/templates/duplicate?id=#{template.id}", :class => 'btn btn-mini btn-info' %>
                <%= link_to 'Edit', edit_template_path(template), :class => 'btn btn-mini' %>
                <%= link_to 'Destroy', template_path(template), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>



    </div>

    <div class="tab-pane" id="email">
      <%= render :partial => 'email_templates' %>
    </div>
  </div>
</div>



<%= link_to 'New', new_template_path, :class => 'btn btn-primary' %>

<%= link_to 'New CSS Template', new_template_path + "/?kind=css", :class => 'btn btn-primary' %>