

<div class="row">
  <div class="span12 thumbnail">
    <div class="modal-header">
      <div class="pull-right">
        <%= link_to 'Back', templates_path, :class => 'btn'  %>
         <%= link_to 'duplicate', "/templates/duplicate?id=#{@template.id}", :class => 'btn  btn-info' %>
        <%= link_to 'Edit', edit_template_path(@template), :class => 'btn' %>
        <%= link_to 'Delete', template_path(@template), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
      </div>
      <h1><%=@template.kind %>  template: <%= @template.name  %> </h1>
    </div>

    <div class="span7">
      <b>Html</b><hr/>
      <%= raw @template.preview %>
    </div>

    <div class="span4">
      <b>Css</b><hr/>
      <pre>
        <%= @template.css %>
      </pre>
    </div>
  </div>
</div>


