<%- model_class = Topic.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="64px"></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th width="50px">Posts</th>
      <th width="50px">Views</th>
      <th width="50px">Replies</th>
      <th>Last Update</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= image_tag topic.image_url, :size => "64x64" %></td>
        <td><%= link_to topic.name, topic %><br/><%= raw topic.description %></td>
        <td><%= rand(10) %></td>
        <td><%= rand(10) %></td>
        <td><%= rand(10) %></td>
        <td><%=l topic.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_topic_path(topic), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            topic_path(topic),
            :method => :delete,
            :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
            :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
  new_topic_path,
  :class => 'btn btn-primary' %>
