<h3>Brands</h3><hr/>
<table class="datatable table">
  <thead>
    <tr>
      <th width="50px">ID </th>
      <th>Name </th>
      <th>Onwer </th>
      <th> Last Login</th>
      <th> Last Scan</th>
      <th width="50px">Fans </th>
      <th width="50px">Posts </th>
      <th width="50px">Comments </th>
      <th width="50px">Emails </th>
      <th width="50px">Articles </th>
      <th > </th>
      
    </tr>
  </thead>
  <tbody>
    <% for brand in @brands do  %>
        <tr>
          <td> <%= brand.id %> </td>
          <td> <%= brand.name %> </td>
          <td> <%= brand.user.name %> </td>
          <td>
                <% unless brand.user.logged_in_at.nil? %>
                  <%= time_ago_in_words(brand.user.logged_in_at) %> ago  
                <% else %>
                  Not logged in
                <% end %>
          </td>
          <td>
                <% unless brand.get_channel("facebook").scanned_at.nil? %>
                  <%= time_ago_in_words(brand.get_channel("facebook").scanned_at) %> ago  
                <% else %>
                  Never
                <% end %>
          </td>
          <td> <%= number_with_delimiter brand.fans.count %> </td>
          <td> <%= number_with_delimiter brand.posts.count %> </td>
          <td> <%= number_with_delimiter brand.comments.count %> </td>
          <td> <%= number_with_delimiter brand.emails.count %> </td>
          <td> <%= number_with_delimiter brand.articles.count %> </td>
          <td> <%= link_to "Preview", "/public/brand/#{brand.id}" , :class => "btn" , :target => "_blank"  %>  </td>
        </tr>
      <% end %>
    </tbody>
  </table>