
<h3>Create New Feed</h3><hr/>
<div class="pull-right">
  <%=  link_to "Load All"  , "/admin/refresh_rss" , :class => "btn"%>
</div>
<% @feed = Feed.new %>
<%= form_for @feed, :html => { :class => 'form-inline' } do |f| %>
  <fieldset>
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'text_field' %>
    <%= f.label :url, :class => 'control-label' %>
    <%= f.text_field :url, :class => 'text_field' %>
    <%= f.label :icon, :class => 'control-label' %>
    <%= f.text_field :icon, :class => 'text_field' %>
    &nbsp;<%= f.submit nil, :class => 'btn btn-primary' %>

  </fieldset>
<% end %>


<h3>RSS Feeds</h3><hr/>
<table class="datatable table">
  <thead>
    <tr>
      <th> </th>
      <th>ID </th>
      <th>Name </th>
      <th>URL </th>
      <th>Articles </th>
    </tr>
  </thead>
  <tbody>
    <% for item in @feeds do  %>
        <tr>
          <td> <%= image_tag item.icon , :size => "32x32" %> </td>
          <td> <%= link_to item.id, item %> </td>
          <td> <%= item.name %> </td>
          <td> <%= item.url %> </td>
          <td> <%= item.feed_entries.count %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>