
<%

    require 'yaml'
    


%>


<h3>Jobs</h3><hr/>
<table class="datatable table">
  <thead>
    <tr>
      <th>ID </th>
      <th>Attempts </th>
      <th>Last Error </th>
      <th>Channel </th>
      <th>Run At</th>
      <th>Time Running</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for job in @jobs do   %>
    
    <%  o = YAML.load( job.handler )
      begin
        the_name = "#{o.id} - #{o.name }"
      rescue
        the_name = "#{o.class}"
      end
    
      %>
      
    <%#= raise o.inspect %>
    <tr>
      <td><%= job.id  %> </td>
      <td><%= job.attempts  %> </td>
      <td><%= job.last_error[0..200] unless job.nil? or job.last_error.nil? %> </td>
      <td><%= the_name   %> </td>
      <td><%= time_ago_in_words job.run_at  %> </td>
      <td><%= begin  time_ago_in_words(job.updated_at - job.created_at) rescue "" end  %> </td>
      <td><%= link_to "remove" , "/admin/delete_jobs?id=#{job.id}" , :class=> "btn btn-danger"  %> </td>
    </tr>
  <% end %>
    </tbody>
  </table>
