<h3>Running Ruby Processes </h3>
<pre>
<%= @processes %>
</pre>



<hr/>
<h3>Last Failures </h3>
<pre>
  <%= @log_failures%>
</pre>


<hr/>
<h3>Last STATUSES </h3>
<pre>
  <%= @log_statuses %>
</pre>


<hr/>
<h3>Opened Emails </h3>
<pre>
<%= @emails %>
</pre>
