<h3>Incomming Messages From website</h3><hr/>
<table class="datatable table">
  <thead>
    <tr>
      <th>ID </th>
      <th>Name </th>
    </tr>
  </thead>
  <tbody>
    <% for item in @messages.reverse do  %>
        <tr>
          <td> <%= item.id %> </td>
          <td> <%= item.email%> </td>
          <td> <%= item.name%> </td>
          <td> <%= item.message%> </td>
        </tr>
      <% end %>
    </tbody>
  </table>




  <%
  Google::UrlShortener::Base.api_key = "AIzaSyDQU97mjsTO_qfzAHNcfguvhcd2CNvv6Yw"
  url = Google::UrlShortener::Url.new(:short_url => "http://goo.gl/g8sAs")
%>

  <h3>Beta Plan Link</h3>
  <table class="table">
    <tr>
      <td width="30%">URL </td>
      <td            ><%= url.expand! %></td>
    </tr>
    <tr>
      <td width="30%">Long URL Clicks</td>
      <td            ><%= url.analytics.all.long_url_clicks %></td>
    </tr>
    <tr>
      <td width="30%">Short URL Clicks</td>
      <td            ><%= url.analytics.all.short_url_clicks %></td>
    </tr>
    <tr>
      <td width="30%">Where from</td>
      <td            > <%= url.analytics.all.referrers %></td>
    </tr>
    <tr>
      <td width="30%">Browsers</td>
      <td            ><%= url.analytics.all.browsers %></td>
    </tr>
  </table>

  <div class="row">
    <div class="span6">
      <h3>Users By Websites</h3><hr/>
      <%
      # Pie Chart
      require 'google_chart'
      GoogleChart::PieChart.new('600x400', "",false) do |pc|

        for key in url.analytics.all.browsers.keys do 
          pc.data key.to_s + "(#{url.analytics.all.browsers["#{key.to_s}"]})" , url.analytics.all.browsers["#{key.to_s}"]
        end
        pc.show_labels = true
        @pc1 = pc
      end
    %>
      <%= image_tag(@pc1.to_url) %>
    </div>
    
    
    <div class="span6">
      <h3>Users By Websites</h3><hr/>
      <%
      # Pie Chart
      require 'google_chart'
      GoogleChart::PieChart.new('600x400', "",false) do |pc|
        for key in url.analytics.all.referrers.keys do 
          pc.data key.to_s + "(#{url.analytics.all.referrers["#{key.to_s}"]})" , url.analytics.all.referrers["#{key.to_s}"]
        end
        pc.show_labels = true
        @pc2 = pc
      end
    %>
    <%= image_tag(@pc2.to_url) %>


    </div>
  </div>