<h3>Public web pages</h3><hr/>
<table class="datatable table">
  <thead>
    <tr>
      <th>ID </th>
      <th>Kind </th>
      <th>Name </th>
    </tr>
  </thead>
  <tbody>
    <% for item in @pages do  %>
        <tr>
          <td> <%= item.id %> </td>
          <td> <%= item.kind %> </td>
          <td> <%= item.name %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>