<div class="accordion" id="accordion2">


  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNews">
        <%=  image_tag "/assets/flat/dashboard-4-64.png", :size => "24x24" %>  Dashboard
      </a>
    </div>
    <div id="collapseNews" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div class=" sidebar-nav">
          <ul class="nav nav-list">
            <li ><a href="#" data-div="card-inbox" > <%= image_tag "/assets/flat/inbox-2-64.png",:size => "24x24" %>  Inbox (<%=  rand(10)%>)</a></li>
            <li><a href="#" data-div="card-inquiries"><%= image_tag "/assets/flat/edit-5-64.png",:size => "24x24" %>  User inquiries (<%=  rand(10)%>)</a></li>
            <li class="divider"></li>
            <li><a href="#" data-div="card-posts"><%= image_tag "/assets/flat/sharethis-64.png",:size => "24x24" %> My Posts</a></li>
            <li><a href="#" data-div="card-comments"><%= image_tag "/assets/flat/user-comments-64.png",:size => "24x24" %> User comments (<%=  rand(10)%>)</a></li>
            <li><a href="#" data-div="card-competitor-activities"><%= image_tag "/assets/flat/user-8-64.png",:size => "24x24" %>Competitor activities</a></li>
         
          </ul>
        </div>
      </div>
    </div>
  </div>






  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsePages">
        <%=  image_tag "/assets/flat/globe-5-64.png", :size => "24x24" %>  My Website
      </a>
    </div>
    <div id="collapsePages" class="accordion-body collapse">
      <div class="accordion-inner">

        <div class=" sidebar-nav">
          <ul class="nav nav-list">
            <li><a href="#" data-div="card-website"><%= image_tag "/assets/flat/globe-5-64.png",:size => "24x24" %>  My Website</a></li>
            <li><a href="#" data-div="card-campaigns"><%= image_tag "/assets/flat/campaign.png",:size => "24x24" %>  Landing pages</a></li>
            <li class="divider"></li>
            <li><a href="#" data-div="card-inquiries"><%= image_tag "/assets/flat/edit-5-64.png",:size => "24x24" %>  User inquiries (<%=  rand(10)%>)</a></li>
            <li><a href="#" data-div="card-website-keywords"><%= image_tag "/assets/flat/email-11-64.png",:size => "24x24" %>  Site Keywords</a></li>
            <li><a href="#" data-div="card-website-stats"><%= image_tag "/assets/flat/bar-chart-4-64.png",:size => "24x24" %>  Website Statistics</a></li>
            <li class="divider"></li>
            <li><a href="#" data-div="card-autoresponders"><%= image_tag "/assets/flat/speech-bubble-11-64.png",:size => "24x24" %>  Auto Responders</a></li>
            <li><a href="#" data-div="card-website-images"><%= image_tag "/assets/flat/image-file-2-64.png",:size => "24x24" %>  Website images</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsEmailMarketing">
        <%=  image_tag "/assets/flat/email-8-64.png", :size => "24x24" %>  Email Marketing
      </a>
    </div>
    <div id="collapsEmailMarketing" class="accordion-body collapse">
      <div class="accordion-inner">

        <div class=" sidebar-nav">
          <ul class="nav nav-list">
            <li><a href="#" data-div="card-campaigns"><%= image_tag "/assets/flat/inbox-2-64.png",:size => "24x24" %>  Email Campaigns</a></li>
            <li><a href="#" data-div="card-newsletters"><%= image_tag "/assets/flat/newspaper-7-64.png",:size => "24x24" %>  My Newsletter</a></li>
            <li class="divider"></li>
            <li><a href="#"data-div="card-contacts" ><%= image_tag "/assets/flat/book-3-64.png",:size => "24x24" %>  My Contacts</a></li>
            <li><a href="#" data-div="card-autoresponders"><%= image_tag "/assets/flat/speech-bubble-11-64.png",:size => "24x24" %>  Auto Responders</a></li>
            <li class="divider"></li>
            <li><a href="#" data-div="card-unsubscribed"><%= image_tag "/assets/flat/inbox-8-64.png",:size => "24x24" %>  Unsubscribed</a></li>
            <li><a href="#" data-div="card-bounced"><%= image_tag "/assets/flat/inbox-8-64.png",:size => "24x24" %>  Bouced Mail</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  
   <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSocialNetwork">
        <%=  image_tag "/assets/flat/twitter-64.png", :size => "24x24" %>  Social Networks
      </a>
    </div>
    <div id="collapseSocialNetwork" class="accordion-body collapse">
      <div class="accordion-inner">

        <div class=" sidebar-nav">
          <ul class="nav nav-list">
            <li><a href="#" data-div="card-fan-pages" ><%= image_tag "/assets/flat/facebook-3-64.png",:size => "24x24" %>  Facebook fan pages</a></li>
            <li><a href="#" data-div="card-twitter" ><%= image_tag "/assets/flat/twitter-3-64.png",:size => "24x24" %>  Twitter accounts</a></li>
            <li><a href="#" data-div="card-linkedin" ><%= image_tag "/assets/flat/linkedin-3-64.png",:size => "24x24" %>  Linkedin profile</a></li>
            <li><a href="#" data-div="card-blogs"><%= image_tag "/assets/flat/wordpress-3-64.png",:size => "24x24" %>   Wordpress</a></li>
            <li><a href="#" data-div="card-blogs"><%= image_tag "/assets/flat/blogger-3-64.png",:size => "24x24" %>   Blogger</a></li>
            <li><a href="#" data-div="card-blogs"><%= image_tag "/assets/flat/youtube-3-64.png",:size => "24x24" %>   Youtube</a></li>
          </ul>
        </div>


      </div>
    </div>
  </div>
  


  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsePeople">
        <%=  image_tag "/assets/flat/user-13-64.png", :size => "24x24" %>  People
      </a>
    </div>
    <div id="collapsePeople" class="accordion-body collapse">
      <div class="accordion-inner">

        <div class=" sidebar-nav">
          <ul class="nav nav-list">
            <li><a href="#" data-div="card-followers"><%= image_tag "/assets/flat/inbox-2-64.png",:size => "24x24" %>  Followers</a></li>
            <li><a href="#" data-div="card-engaged"><%= image_tag "/assets/flat/user-comments-64.png",:size => "24x24" %>  Engaged</a></li>
            <li><a href="#" data-div="card-competitors"><%= image_tag "/assets/flat/user-8-64.png",:size => "24x24" %>  Competitors</a></li>
            <li class="divider"></li>
            <li ><a href="#"  data-div="card-prospects" ><%= image_tag "/assets/flat/user-13-64.png",:size => "24x24" %>   Find People</a></li>
          </ul>
        </div>


      </div>
    </div>
  </div>


  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseContent">
        <%=  image_tag "/assets/flat/image-file-2-64.png", :size => "24x24" %> Content
      </a>
    </div>
    <div id="collapseContent" class="accordion-body collapse">
      <div class="accordion-inner">

        <div class=" sidebar-nav">
          <ul class="nav nav-list">
            <li><a href="#" data-div="card-rss"><%= image_tag "/assets/flat/rss-64 (1).png",:size => "24x24" %>  RSS Feeds</a></li>
            <li><a href="#" data-div="card-bookmarks"><%= image_tag "/assets/flat/bookmark-5-64.png",:size => "24x24" %>  My Bookmarks</a></li>
            <li><a href="#"  data-div="card-jobs"><%= image_tag "/assets/flat/inbox-2-64.png",:size => "24x24" %> Jobs</a></li>
            <li><a href="#" data-div="card-group-discussions"><%= image_tag "/assets/flat/inbox-2-64.png",:size => "24x24" %>  Group Posts</a></li>
            <li class="divider"></li>
            <li><a href="#" data-div="card-articles"><%= image_tag "/assets/flat/document-file-2-64.png",:size => "24x24" %>  My Articles</a></li>
            <li><a href="#"><%= image_tag "/assets/flat/video-play-3-64.png",:size => "24x24" %>  My Videos</a></li>
            <li><a href="#"><%= image_tag "/assets/flat/sound-wave-64.png",:size => "24x24" %> My Audio</a></li>
            <li><a href="#"><%= image_tag "/assets/flat/image-file-2-64.png",:size => "24x24" %> My pictures</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>





  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseAccount">
        <%=  image_tag "/assets/flat/gear-3-64.png", :size => "24x24" %> My Account
      </a>
    </div>
    <div id="collapseAccount" class="accordion-body collapse">
      <div class="accordion-inner">

        <div class=" sidebar-nav">
          <ul class="nav nav-list">
            <li><a href="#">Brand Info</a></li>
            <li><a href="#">Searches</a></li>
            <li class="divider"></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">Tumblr</a></li>
          </ul>
        </div>


      </div>
    </div>
  </div>


</div>