<h3>Templates</h3><hr/>
<table class="datatable table">
  <thead>
    <tr>
      <th width="50px">ID </th>
      <th>Name </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for item in @templates do  %>
        <tr>
          <td> <%= item.id %> </td>
          <td> <%= item.name %> </td>
          <td> <%= link_to  "Edit", "/templates/#{item.id}/edit" , :class => 'btn' %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>