<div class="card" id="card-blogs">

  <div class="thumbnail">
    <div class="row-fluid">

      <div class="modal-header">
        <div class="pull-right item_command">
          <a href="" ><i class="icon-plus"></i> New Blog</a>
        </div>
        <h2>  <%= image_tag("/assets/flat/wordpress-3-64.png") %>   Blogs </h2>
      </div>

      <table class="table">
        <tbody>
          <% for item in @channels do  %>
              <% if item.blog? %>
                <tr>
                  <td width="50px"> <%= image_tag(item.icon)%> </td>
                  <td> <%= item.name %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>
