<div class="card" id="card-website">

  <div class="thumbnail">
    <div class="row-fluid">
      <div class="modal-header">
        <div class="pull-right item_command">
          <a href=""><i class="icon-tint"></i> Style</a>
          <a href=""><i class="icon-globe"></i> Preview</a>
          <a href=""><i class="icon-plus-sign"></i> Add Page</a>
        </div>


        <h2><%= image_tag("/assets/flat/globe-5-64.png",:size => "48x48")%> Website</h2>
      </div>

      <div class="modal-header">
        <h3>Website Pages</h3>
        <table class="table">
          <tr>
            <th>Name</th>
            <th width="100px">Views</th>
          </tr>
          <% for page in @bb.pages do  %>
              <tr>
                <td> <%= page.name  %> </td>
                <td> <%= page.view_count  %> </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>


    </div>





  </div>