<div class="card" id="card-fan-pages">
  <div class="thumbnail">
    <div class="modal-header">
      
      <div class="pull-right item_command">
        <a href="" ><i class="icon-plus"></i> New Fan page</a>
      </div>
    <h2>  <%= image_tag("/assets/flat/facebook-3-64.png")%> Fan Pages </h2>
    </div>
    <table class="xtable">
      <% for page in @fan_pages do %>
          <tr style="vertical-align: top;">
            <td width="100px" style="padding:0.5em;">
              <%= image_tag(page["page"]["cover"]["source"]) %> 
            </td>
            <td>

              <table class="table">
                <tr>
                  <td colspan="5">
                    <b><%= page["name"] %></b>
                    <p><%= page["page"]["about"] %></p>
                  </td>
                </tr>

                <tr>
                  <td class="side-border-td">
                    <i class="icon-comments"></i> Posts:
                    <%= number_with_delimiter page["page"]["likes"].to_i %>
                  </td>
                  <td class="side-border-td">
                    <i class="icon-comments"></i> Comments:
                    <%= number_with_delimiter page["page"]["likes"].to_i %>
                  </td>
                  <td class="side-border-td">
                    <i class="icon-thumbs-up"></i> Likes:
                    <%= number_with_delimiter page["page"]["likes"].to_i %>
                  </td>
                  <td class="side-border-td">
                    <i class="icon-retweet"></i> Talking About: 
                    <%= number_with_delimiter page["page"]["talking_about_count"] %>
                  </td>
                  <td>
                    <i class="icon-user"></i> Engaged users:
                    <%= number_with_delimiter( rand(10)) %>
                  </td>
                </tr>
                <tr>
                  <td colspan="5">
                    
                  </td>
                </tr>
              </table>
              
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
