<div class="card" id="card-inquiries">

  <div class="thumbnail">
    <div class="row-fluid">

      <div class="modal-header">
        <h2>  <%= image_tag("/assets/flat/edit-5-64.png") %>   User Inquiries</h2>
      </div>

      <table class="table">
        <% for item in @inquiries %>
          <tr style="vertical-align:top">
            <td width="32px"><%= image_tag "/assets/flat/edit-5-64.png"   %></td>
            <td>
              <div class="pull-right">
                <%= link_to time_ago_in_words(item.created_at), item , :class => "" %>
              </div>
              <b> <%= item.name %></b><br/>
              Email: <%= item.email %><br/>

              <% if item.article_id.present? %>
                <%= "Article: #{item.article.name}" %> 
              <% end %>
              <p>
                <i><%=  item.message %></i>
              </p>
              <div class="item_command">
                <a href=""><i class="icon-envelope"></i> Reply</a>
                <a href="/fans/search?email=<%=item.email%>"><i class="icon-search"></i> search</a>
                <a href=""><i class="icon-remove-sign"></i> Remove</a>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>

</div>