<div class="card" id="card-posts">

  <div class="thumbnail">
    <div class="row-fluid">
      
      <div class="modal-header">
      <div class="pull-right item_command">
        <a href="" ><i class="icon-plus"></i> New Post</a>
      </div>


      <h2>  <%= image_tag("/assets/flat/component-share.png") %>   Posts </h2>
    </div>
      <table class="table">
        <tbody>
        <% for item in @posts do  %>
        
            <tr>
              <td width="50px"> 
                <% if item[:picture_url] %>
                  <%= image_tag(item["picture_url"])%>
                <% else %>
                  <%= image_tag(item["from_picture"])%>
                <% end %>
              </td>
              <td>

                <div class="pull-right">
                  <%= time_ago_in_words item["posted_at"] %>
                </div>
                <b><%= item["from_name"] %></b><br/>
                <%= item["body"][0..400] %><br/>

                <div class="item_command">
                  Comments: <%= item["comments_count"]  %>  |  
                  <a href=""><i class="icon-comment"></i> Reply </a> &nbsp;
                  <a href=""><i class="icon-remove"></i> Remove </a> &nbsp;
                </div>
              </td>
            </tr>
          <% end %>
            </tbody>
        </table>
      </div>

    </div>

  </div>
