<div class="card" id="card-website-keywords">

  <div class="thumbnail">
    <div class="row-fluid">
      <div class="modal-header">
        <div class="pull-right item_command">
          
        </div>


        <h2><%= image_tag("/assets/flat/globe-5-64.png",:size => "48x48")%> Website Keywords</h2>
      </div>

      <div class="modal-header">
        <div class="span6">
          <h3>Website Keywords</h3>
          <table class="table">
            <tr>
              <th>Keyword</th>
              <th>Google</th>
              <th>Bing</th>
            </tr>
            <% for item in "Social Marketgin,brand marketing,twitter,facebook".split(",") %>
              <tr style="vertical-align:top">
                <td>
                  <%= item %>
                </td>
                <td>
                  <%= "--" %>
                </td>
                <td>
                  <%= "--" %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>


        <div class="span6">
          <h3>Competitors Keywords</h3>
          <table class="table">
            <tr>
              <th>Keyword</th>
              <th>Found</th>
              <th width="30px"></th>
            </tr>
            <% 10.times do  %>
              <tr style="vertical-align:top">
                <td>
                  <%= lorem(2) %>
                </td>
                <td>
                  <%= rand(10) %>
                </td>
                <td>
                  <%= link_to "Add" %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>


      </div>

    </div>
  </div>
</div>