<div class="card" id="card-rss">

  <div class="thumbnail">
    <div class="row-fluid">
      
      <div class="modal-header">
      <div class="pull-right item_command">
        <a href="" ><i class="icon-cog"></i> Setup</a>
        <a href="" ><i class="icon-plus"></i> Add Feed</a>
        <a href="" ><i class="icon-star"></i> Recommended Feeds</a>
      </div>


      <h2>  <%= image_tag("/assets/flat/rss-3-64.png",:size => "48x48") %>   RSS FEEDS</h2>
      </div>
      <div class="modal-header">
      <table class="table xdatatable span12">
        <thead>
          <tr >
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% for item in @rss_unread do  %>
            <tr>
              <td width="100px">
                <%= image_tag(item["picture"] ,:size => "100x100") %>
              </td>
              <td> 
                <b> <%= item["title"] %></b><br/>
                FROM: <%= item["feed_name"] %> |  <%= time_ago_in_words item["published_at"]  %>
                <%= simple_format item["summary"] %>
                <div class="item_command">
                  <a href="" ><i class="icon-share"></i> Share</a>
                  <a href="" ><i class="icon-bookmark"></i> Bookmark</a>
                  <a href="" ><i class="icon-globe"></i> Open Original</a>
                  <a href="" ><i class="icon-copy"></i> Create Article</a>
                </div>
              </td>
            </tr>
          <% end %>
            </tbody>
        </table>
        </div>
      </div>

    </div>

  </div>