<div class="card" id="card-inbox">

  <div class="thumbnail">
    <div class="row-fluid">
      
      <div class="modal-header">
      
      <div class="pull-right item_command">
        <a href="" ><i class="icon-plus"></i> New Message</a>
      </div>
      <h2>  <%= image_tag("/assets/flat/inbox-2-64.png") %>   Inbox </h2>
    </div>
      <table class="table">
        <tbody>
          <%for item in @messages do %>
            <tr>
              <td><%= image_tag(item["from_picture"], :size => "50x50")  %> </td>
              <td>
                <div class="pull-right"><%=  time_ago_in_words item["posted_at"] %></div>
                <b><%= item["from_name"] %></b> <br/>
                <p>
                  <%= item["message"] %>
                <p/>
                <div class="item_command">
                  <a href="" ><i class="icon-retweet"></i> Reply</a>
                  <a href="" ><i class="icon-user"></i> User info</a>
                  <a href="" ><i class="icon-remove"></i> Delete</a>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>

</div>
