<div class="card" id="card-campaigns">

  <div class="thumbnail">
    <div class="row-fluid">
      <div class="modal-header">
        <div class="pull-right item_command">
          <a href="" ><i class="icon-plus"></i> New Campaign</a>
          <a href="" ><i class="icon-bar-chart"></i> Campaign Statistics</a>
        </div>

        <h2> <%= image_tag("/assets/flat/email-8-64.png", :size => "48x48") %> My Campaigns</h2>
      </div>

      <div class="modal-body">
        <h3>Email Campaigns</h3>
        <table class="table">
          <tr>
            <th>Name</th>
            <th width="100px">Sent</th>
            <th width="100px">Opened</th>
            <th width="100px">clicked</th>
          </tr>
          <% for page in current_user.brand.site.pages.where("KIND IS NULL") do  %>
              <tr>
                <td> <%= page.name  %> </td>
                <td> <%= page.view_count  %> </td>
                <td> <%= rand(100)  %> </td>
                <td> <%= rand(100)  %> </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

    </div>

  </div>