<div class="card" id="card-dashboard">
  <div class="thumbnail">
    <div class="row-fluid">
      
      <div class="modal-header">
        <div class="pull-right item_command">
          <a href="" ><i class="icon-search"></i> Search Query</a>
          <a href="" ><i class="icon-user"></i> Competitors</a>
        </div>

        <h2>  <%= image_tag("/assets/flat/dashboard-4-64.png") %> Dashboard </h2>
      </div>

      <table class="table">
      </table>
    </div>
  </div>
</div>



<div class="card" id="card-events">
  <div class="thumbnail">
    <div class="row-fluid">
      
      <div class="modal-header">
        <div class="pull-right item_command">
          <a href="" ><i class="icon-plus"></i> New Event</a>
        </div>

        <h2>  <%= image_tag("/assets/flat/clipboard-5-64.png") %> Events </h2>
      </div>

      <table class="table">
      </table>
    </div>
  </div>
</div>


<div class="card" id="card-competitor-activities">
  <div class="thumbnail">
    <div class="row-fluid">
      
      <div class="modal-header">
        <div class="pull-right item_command">
          <a href="" ><i class="icon-plus"></i> New Competitor</a>
        </div>

        <h2>  <%= image_tag("/assets/flat/user-8-64.png") %> Competitor Activities </h2>
      </div>

      <table class="table">
      </table>
    </div>
  </div>
</div>


<div class="card" id="card-newsletters">
  <div class="thumbnail">
    <div class="row-fluid">
      
      <div class="modal-header">
        <div class="pull-right item_command">
          <a href="" ><i class="icon-search"></i> Search Query</a>
          <a href="" ><i class="icon-user"></i> Competitors</a>
        </div>

        <h2>  <%= image_tag("/assets/flat/newspaper-7-64.png") %> Newsletters </h2>
      </div>

      <table class="table">
      </table>
    </div>
  </div>
</div>



<div class="card" id="card-website-stats">
  <div class="thumbnail">
    <div class="row-fluid">
      
      <div class="modal-header">
        <div class="pull-right item_command">
          <a href="" ><i class="icon-search"></i> Search Query</a>
          <a href="" ><i class="icon-user"></i> Competitors</a>
        </div>

        <h2>  <%= image_tag("/assets/flat/bar-chart-4-64.png") %> Website Statistics</h2>
      </div>

      <table class="table">
      </table>
    </div>
  </div>
</div>

<div class="card" id="card-autoresponders">
  <div class="thumbnail">
    <div class="row-fluid">
      
      <div class="modal-header">
        <div class="pull-right item_command">
          <a href="" ><i class="icon-plug"></i> New Auto Responder</a>
        </div>

        <h2>  <%= image_tag("/assets/flat/user-comments-64.png") %> Auto Responders</h2>
      </div>

      <table class="table">
         <% @autoresponders.each do |autoresponder| %>
            <tr>
              <td><%= autoresponder.name %></td>
              <td><%= autoresponder.target_link %></td>
              <td><%= autoresponder.sent %></td>
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_autoresponder_path(autoresponder), :class => 'btn btn-mini' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  autoresponder_path(autoresponder),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>

<div class="card" id="card-website-images">
  <div class="thumbnail">
    <div class="row-fluid">
      
      <div class="modal-header">
        <div class="pull-right item_command">
          <a href="" ><i class="icon-plus"></i> Upload Image</a>
        </div>

        <h2>  <%= image_tag("/assets/flat/image-file-2-64.png") %> Site images</h2>
      </div>

      <table class="table">
      </table>
    </div>
  </div>
</div>



<div class="card" id="card-bookmarks">
  <div class="thumbnail">
    <div class="row-fluid">
      
      <div class="modal-header">
        <div class="pull-right item_command">
        </div>

        <h2>  <%= image_tag("/assets/flat/bookmark-5-64.png") %> Bookmarks</h2>
      </div>

      <table class="table">
      </table>
    </div>
  </div>
</div>



<div class="card" id="card-contacts">
  <div class="thumbnail">
    <div class="row-fluid">
      
      <div class="modal-header">
        <div class="pull-right item_command">
          <a href="" ><i class="icon-plus"></i> Add Contact </a>
          <a href="" ><i class="icon-plus"></i> Import Contacts </a>
        </div>

        <h2>  <%= image_tag("/assets/flat/email-11-64.png") %> Contacts</h2>
      </div>
      <table class="table">
        <% for item in current_user.brand.fans.where("email is not NULL") do  %>
        <tr>
          <td> <%= item.name%> </td>
          <td> <%= item.email%> </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class="card" id="card-unsubscribed">
  <div class="thumbnail">
    <div class="row-fluid">
      
      <div class="modal-header">
        <div class="pull-right item_command">
          <a href="" ><i class="icon-remove"></i> Remove Unsubscribed</a>
        </div>

        <h2>  <%= image_tag("/assets/flat/email-11-64.png") %> Unsubscribed Users</h2>
      </div>
      <table class="table">
      </table>
    </div>
  </div>
</div>

<div class="card" id="card-bounced">
  <div class="thumbnail">
    <div class="row-fluid">
      
      <div class="modal-header">
        <div class="pull-right item_command">
          <a href="" ><i class="icon-remove"></i> Remove Emails</a>
        </div>

        <h2>  <%= image_tag("/assets/flat/email-11-64.png") %> Bounced Emails</h2>
      </div>
      <table class="table">
      </table>
    </div>
  </div>
</div>




<div class="card" id="card-linkedin">

  <div class="thumbnail">
    <div class="row-fluid">

      <div class="modal-header">
        <div class="pull-right item_command">
          <a href="" ><i class="icon-plus"></i> Add Account</a>
        </div>
        <h2>  <%= image_tag("/assets/flat/linkedin-3-64.png") %>   Linkedin Account </h2>
      </div>
      
      <table class="table">
        <tbody>
          <tr>
            <td width="50px"> </td>
            <td> </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>


<div class="card" id="card-twitter">

  <div class="thumbnail">
    <div class="row-fluid">

      <div class="modal-header">
        <div class="pull-right item_command">
          <a href="" ><i class="icon-plus"></i> Add account</a>
        </div>
        <h2>  <%= image_tag("/assets/flat/twitter-3-64.png") %>   Twitter Accounts </h2>
      </div>
      
      <table class="table">
        <tbody>
          <tr>
            <td width="50px"> </td>
            <td> </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
