<h3>Users</h3><hr/>
<table class="datatable table">
  <thead>
    <tr>
      <th>ID </th>
      <th>Name </th>
      <th>Email </th>
      <th>Phone </th>
      <th>Last Login</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% for user in @users do  %>
        <tr>
          <td> <%= user.id %> </td>
          <td> <%= user.name %> </td>
          <td> <%= user.email %> </td>
          <td> <%= user.phone %> </td>
          <td>
              <% unless user.logged_in_at.nil? %>
                <%= time_ago_in_words(user.logged_in_at) %> ago  
                <% else %>
                  Not logged in
                <% end %>
           </td>
           <td>
              <%= link_to "Login as #{user.name} ", "/login?id=#{user.id}"  , :class => "btn" %>
            <td>
        </tr>
      <% end %>
    </tbody>
  </table>