
<h3>Websites</h3><hr/>
<table class="datatable table">
  <thead>
    <tr>
      <th>ID </th>
      <th>Onwer</th>
      <th>Brand</th>
      <th>Name </th>
      <th>Pages </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% for site in @websites do   %>
        <tr>
          <td><%= site.id  %> </td>
          <td>
                <%= site.brand.user.name  unless site.brand.nil?  %>
            </td>
          <td><%= site.brand.name unless site.brand.nil?  %> </td>
          <td><%= site.url  %> </td>
          <td><%= site.pages.count %> </td>
          <td><%= link_to "Preview", "/public/brand/#{site.brand.id}" , :class => "btn" , :target => "_blank"  unless site.brand.nil?%>  </td>
        </tr>
      <% end %>
    </tbody>
  </table>
