<h1> Background Jobs</h1>


<br/>
<ul class="nav nav-tabs">
  <li class="active"><a href="#1" data-toggle="tab">Errors</a></li>
  <li><a href="#movies" data-toggle="tab">Pending</a></li>
  <li ><a href="#twitter" data-toggle="tab">Processing</a></li>
</ul>
<div class="tab-content">

  <div class="tab-pane active " id="1">
    <div class="pull-right">
      <%= link_to "REMOVE ALL JOBS", "/admin/delete_all_jobs"  , :class => "btn btn-danger"%>
    </div>
    <h3>Failed Jobs</h3><hr/>
    <table class="table table-striped">
      <%= render :partial => "jobs" %>
    </table>


  </div>
  <div class="tab-pane" id="movies">
    <h3>Pending Jobs</h3><hr/>
    <table class="table table-striped">
      <%= render :partial => "jobs" %>
    </table>
  </div>
  <div class="tab-pane" id="emails">
    <h3>Jobs in Progress</h3><hr/>
    <table class="table table-striped">
      <%= render :partial => "jobs" %>
    </table>
  </div>
</div>


