<html>
  <body>

    <div class="top" ></div>
    <div class="middle" ></div>
    <div class="bottom" ></div>
  </body>


  <style>
    .top{
      height:200px;
      width:100%;
      background-color: #990000;
    }

    .middle{
      height:400px;
      width:100%;
      background-color: #ddd;
    }


    .bottom{
      height:200px;
      width:100%;
      background-color: #000;
    }
  </style>

</html>