<div class="tabbable  span12">
  <ul class="nav nav-tabs">
    <li  class="active"><a href="#brands" data-toggle="tab">Brands</a></li>
    <li><a href="#jobs" data-toggle="tab">Jobs</a></li>
    <li><a href="#logfiles" data-toggle="tab">Log Files</a></li>
    <li><a href="#feeds" data-toggle="tab">Database Status</a></li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active " id="brands">
       <%= render :partial => 'brands' %>
    </div>
    
    
    <div class="tab-pane" id="logfiles">
      <%= render :partial => 'log' %>
    </div>

    <div class="tab-pane" id="feeds">
      <%= render :partial => 'db_status' %>
    </div>

  </div>
</div>