<div class="row">
  <div class="span3">

    <div class="thumbnail" >
      <div class="modal-header">
        <h4>Feed info</h4>
      </div>

      <div class="modal-body">
        <table width="100%">
          <tr style="vertical-align: top">
            <td width="32"><%= image_tag "/assets/icons/facebook_64.png" %> </td>
            <td><%= lorem(10)%> </td>
          </tr>
        </table>
      </div>

      <hr/><h4>&nbsp;&nbsp;&nbsp;&nbsp;Author Info</h4>

      <div class="modal-body">
        <table width="100%">
          <tr style="vertical-align: top">
            <td width="32"><%= image_tag "/assets/icons/facebook_64.png" %> </td>
            <td><%= lorem(10)%> </td>
          </tr>
        </table>
      </div>
    </div>
    <br/>

    <div class="thumbnail" >
      <div class="modal-header">
        <h4>Other Feeds</h4>
      </div>

      <div class="modal-body">
        <table class="table table-striped">
          <tr style="vertical-align: top">
            <td width="32"><%= image_tag "/assets/icons/facebook_64.png" %> </td>
            <td><%= lorem(10)%> </td>
          </tr>
          <tr style="vertical-align: top">
            <td width="32"><%= image_tag "/assets/icons/facebook_64.png" %> </td>
            <td><%= lorem(10)%> </td>
          </tr>
          <tr style="vertical-align: top">
            <td width="32"><%= image_tag "/assets/icons/facebook_64.png" %> </td>
            <td><%= lorem(10)%> </td>
          </tr>
          <tr style="vertical-align: top">
            <td width="32"><%= image_tag "/assets/icons/linkedin_64.png" %> </td>
            <td><%= lorem(10)%> </td>
          </tr>
          <tr style="vertical-align: top">
            <td width="32"><%= image_tag "/assets/icons/rss.png" %> </td>
            <td><%= lorem(10)%> </td>
          </tr>
          <tr style="vertical-align: top">
            <td width="32"><%= image_tag "/assets/icons/facebook_64.png" %> </td>
            <td><%= lorem(10)%> </td>
          </tr>
          <tr style="vertical-align: top">
            <td width="32"><%= image_tag "/assets/icons/linkedin_64.png" %> </td>
            <td><%= lorem(10)%> </td>
          </tr>
          <tr style="vertical-align: top">
            <td width="32"><%= image_tag "/assets/icons/rss.png" %> </td>
            <td><%= lorem(10)%> </td>
          </tr>
          <tr style="vertical-align: top">
            <td width="32"><%= image_tag "/assets/icons/facebook_64.png" %> </td>
            <td><%= lorem(10)%> </td>
          </tr>
          <tr style="vertical-align: top">
            <td width="32"><%= image_tag "/assets/icons/linkedin_64.png" %> </td>
            <td><%= lorem(10)%> </td>
          </tr>
          <tr style="vertical-align: top">
            <td width="32"><%= image_tag "/assets/icons/rss.png" %> </td>
            <td><%= lorem(10)%> </td>
          </tr>
        </table>

      </div>
      <div class="modal-footer">
        <%= link_to "Manage Feeds" , "/feeds" %>
      </div>
    </div>



  </div>

  <div class="span9">
    <% article = Article.last %>
    <h3><%= article.name %></h3>    
    <hr/>

    <p>
    <div class="pull-left">
      <%= image_tag( article.icon ) %>
    </div>
    <%= lorem(130) %>
    </p>

    <hr/>
    Source : <%= article.cite  %>
    <hr/>
    <div class="row">
      <%= link_to "Next" , "" , :class => "btn" %>
      <%= link_to "Prev" , "" , :class => "btn" %>
      <%= link_to "Repost" , "" , :class => "btn btn-info" %>
      <%= link_to "Send to Twitter" , "" , :class => "btn btn-info" %>
      <%= link_to "Send to fan page" , "" , :class => "btn btn-info" %>
    </div>

  </div>
</div>