<subview id="subview_01" ui-associations="withNavBar">
  <scrollpanel>
    <tableview>
      <tablecell href="#item_01_view" ui-implements="disclosure">
        <celltitle>Item</celltitle>
      </tablecell>
    </tableview>
  </scrollpanel>
</subview>
</view>
<view id="item_01_view" ui-navigation-status="upcoming" ui-background-style="slanted-right">
  <navbar>
    <uibutton ui-implements="back">
      <label>Back</label>
    </uibutton>
    <h1>Title</h1>
  </navbar>
  <subview id="subview_01" ui-associations="withNavBar">
    <scrollpanel>
      <tableview ui-tablecell-order="stacked">
        <tablecell href="#item_01_detail_view" ui-implements="disclosure">
          <cellcounter>1</cellcounter>
          <celltitle>Item</celltitle>
          <cellsubtitle>Item Subtitle</cellsubtitle>
        </tablecell>
      </tableview>
    </scrollpanel>
  </subview>
</view>

<view id="item_01_detail_view" ui-navigation-status="upcoming" ui-background-style="squared">
  <navbar>
    <uibutton ui-implements="back">
      <label>Back</label>
    </uibutton>
    <h1>Title</h1>
  </navbar>
  <subview id="subview_01" ui-associations="withNavBar">
    <scrollpanel>
      <tableview ui-tablecell-order="stacked">
        <tablecell class="ui-no-hover">
          <celltitle>Item</celltitle>
          <cellsubtitle>Item Subtitle</cellsubtitle>
          <celldetail>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </celldetail>
        </tablecell>
      </tableview>
    </scrollpanel>
  </subview>
</view>