
<%= render :partial => "test_website_pages" %>
<%= render :partial => "test_website_keywords" %>
<%= render :partial => "test_campaigns" %>
<%= render :partial => "test_rss" %>
<%= render :partial => "test_prospects" %>
<%= render :partial => "test_competitors" %>
<%= render :partial => "test_fanpages" %>
<%= render :partial => "test_posts" %>
<%= render :partial => "test_comments" %>
<%= render :partial => "test_inbox" %>
<%= render :partial => "test_groups" %>
<%= render :partial => "test_jobs" %>
<%#= render :partial => "test_inquiries" %>
<%= render :partial => "test_dashboard" %>
<%= render :partial => "test_followers" %>
<%= render :partial => "test_articles" %>
<%= render :partial => "test_engaged" %>
<%= render :partial => "test_blogs" %>





<% content_for :sidebar do  %>
  <%= render :partial => 'sidebar' %>
<% end %>




<% content_for :head do  %>
  <script>
          
    $(document).ready(function(){
            
            
            
      $(".card").hide();
      $("#card-prospects").show();
            
      $(".nav-list a").click(function(e){
        new_card = "#" +  $(this).data("div");
        $(".card").hide();  
        $(new_card).show();
        return false;
      });
            
      $("#toggle-menu").click(function(e){
        $("#content-area").addClass("span12").removeClass("span9");
        $("#side-menu").hide();
      });
            
            
            
    });
          
  </script>
<% end %>