
  <div class="grid">
    <div class="row space-top space-bot">
      <h3 class="text-center">FLUID GRID LAYOUT - WIDTH 1200PX</h3>
    </div>
    <div class="row space-bot">
      <div class="c12">
        <ul class="toolbar">
          <li class="active"><a href="#">Home</a> <span class="divider"></span></li>
          <li><a href="#">About Us</a> <span class="divider"></span></li>
          <li><a href="#">Projects</a> <span class="divider"></span></li>
        </ul>
      </div>
    </div>

    <div class="row space-bot">

      <div class="c12">
        <div class="p-image">
          <img src="http://www.southpacifichotel.com.hk/images/photo-tour-pics/lu_lu_restaurant.jpg"/>
        </div>
      </div>
    </div>


    <div class="row space-bot">
      <div class="c4">
        <div class="p-feature">
          <img src="/assets/flat/magnifier-64.png" width="64px" height="64px" />
          <h5>suscipit lobortis nisl</h5>
          <p class=" text-justify">
            n ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augu
          </p>
        </div>
      </div>
      <div class="c4">
        <div class="p-feature">
          <img src="/assets/flat/megaphone-7-64.png" width="64px" height="64px" />
          <h5>suscipit lobortis nisl</h5>
          <p class=" text-justify">
            n ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augu
          </p>
        </div>
      </div>

      <div class="c4">
        <div class="p-feature">
          <img src="/assets/flat/megaphone-7-64.png" width="64px" height="64px" />
          <h5>suscipit lobortis nisl</h5>
          <p class=" text-justify">
            n ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augu
          </p>
        </div>
      </div>
    </div>

    
    <div class="row  ">
      <div class="c1"></div>
      <div class="c6">
        <h5>suscipit lobortis nisl</h5>
        <form name="" id="" action="">
          <label>Input</label>
          <input type="text" name="" id="" placeholder="Sample Input">

          <label>Datepicker</label>
          <input type="text" name="" id="datepicker" placeholder="mm/dd/yyyy" class="hasDatepicker">


          <label>Textarea</label>
          <textarea name="" id=""></textarea>
        </form>
      </div>
      
      <div class="c5">
        <div class="p-feature">
          <img src="/assets/flat/magnifier-64.png" width="64px" height="64px" />
          <h5>suscipit lobortis nisl</h5>
          <p class=" text-justify">
            n ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augu. lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
          </p>
        </div>
        
      </div>
    </div>


    <!-- Grid Splitation -->
    <div class="row  ">
      <h4 class="text-center">GRID SPLITATION</h4>
    </div>
    
    
    <div class="row  ">
      <div class="c6">
        <p class=" text-justify">
          One lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augu. lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
        </p>
      </div>
            <div class="c6">
        <p class=" text-justify">
          Two lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augu. lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
        </p>
      </div>

    </div>
    
     <!-- Grid Splitation -->
    <div class="row space-bot ">
      <hr/>
      <h4 class="text-center">Articles</h4>
    </div>
    
    <div class="row space-bot">
      <div class="c3">
        <div class="p-article text-center">
          <h5>Title of Article</h5>
          <img src="http://www.southpacifichotel.com.hk/images/photo-tour-pics/lu_lu_restaurant.jpg"/>
           <p class="text-left">
            commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
            </p>
        </div>
      </div>
      
      <div class="c3">
        <div class="p-article text-center">
          <h5>Title of Article</h5>
          <img src="http://www.southpacifichotel.com.hk/images/photo-tour-pics/lu_lu_restaurant.jpg"/>
          <p class="text-left">
            commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
            </p>
        </div>
      </div>
      <div class="c3">
        <div class="p-article text-center">
          <h5>Title of Article</h5>
          <img src="http://www.southpacifichotel.com.hk/images/photo-tour-pics/lu_lu_restaurant.jpg"/>
           <p class="text-left">
            commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
            </p>
        </div>
      </div>
      <div class="c3">
        <div class="p-article text-center">
          <h5>Title of Article</h5>
          <img src="http://www.southpacifichotel.com.hk/images/photo-tour-pics/lu_lu_restaurant.jpg"/>
          <p class="text-left">
            commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
            </p>
        </div>
      </div>
      
      
    </div>
  
    <div class="row space-bot">
      <h4 class="text-center space-bot">NESTED GRID</h4>
      <div class="c5"><p class="">
          commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
          commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
          commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
          commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
          commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
        </p>
      </div>
      <div class="c7">
        <div class="row">
          <div class="c6 space-bot"><p class="">Nested column commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p></div>
          <div class="c6 space-bot"><p class="">Experius else commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p></div>
        </div>
        <div class="row">
          <div class="c4"><p >commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.nested column</p></div>
          <div class="c4"><p >Soakumodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.nested column</p></div>
          <div class="c4"><p >Nested columncommodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p></div>
        </div>
      </div>
    </div>

    <hr/>

   
    <div class="row bottom-color">
      <h4 class="text-center space-bot">LISTS</h4>
      <div class="c1-5">
        <ul class="circle">
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
          <li>List Item 4</li>
        </ul>
      </div>
      <div class="c1-5">
        <ul class="square">
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
          <li>List Item 4</li>
        </ul>
      </div>
      <div class="c1-5">
        <ul class="disc">
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
          <li>List Item 4</li>
        </ul>
      </div>
      <div class="c1-5">
        <ol>
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
          <li>List Item 4</li>
        </ol>
      </div>
      <div class="c1-5">
        <dl>
          <dt>List Heading</dt>
          <dd>List Item 1</dd>
          <dd>List Item 2</dd>
          <dd>List Item 3</dd>
        </dl>
      </div>
    </div>
  
  </div><!-- grid -->

