<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "website_templates" %>
<div class="row">
  <div class="span3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for page in @pages do  %>
            <tr>
              <td><%= page.name  %> </td>
              <td width="120px">
                <div class="btn-group">
                  <a class="btn " href="/admin/website_templates?page=<%=page.id%>&template=<%=params[:template]%>">Preview </a>
                  <a class="btn  dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/pages/<%=page.id%>/edit" id="btn_post_status"><i class="icon-font"></i> Rename </a></li>
                    <li><%= link_to 'Delete', page_path(page), :method => :delete, :confirm => 'Are you sure?' %></li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="thumbnail">
        <div class="modal-header"><h3>Styles</h3></div>
        <div class="modal-body">
          <ul>
            <% for item in @templates do  %>
                <li><%= link_to  item.name , "/admin/website_templates?page=#{params[:page]}&template=#{item.id}" %></li>
              <% end %>
            </ul>
          </div>
        </div>

      </div>

      <div class="span9">
        <% if params[:page] %>
          <iframe id="the-page" class="span9" src="/admin/page_preview?id=<%=params[:page]%>&template=<%=params[:template]%>"></iframe>
        <% else %>
          <iframe id="the-page" class="span9" src="/admin/page_preview?id=<%=page.id%>"></iframe>
        <% end  %>
      </div>
    </div>

    <style>
      #the-page {
        -moz-transform: scale(0.45, 0.45); 
        -moz-transform-origin: top left;
        height:800px;
      }
    </style>