<div class="row-fluid thumbnail">
  <div class="modal-header">
    <div class="pull-right item_command">
      <i class="icon-globe"></i> <%= link_to "Website " ,"/scores?web=1" %>
      <i class="icon-envelope"></i> <%= link_to "Email Marketing","/scores?email=1" %>
      <i class="icon-twitter"></i> <%= link_to "Social Networks" ,"/scores?social=1" %>
      <i class="icon-file"></i> <%= link_to "Blogs" ,"/scores?blog=1" %>
      <i class="icon-group"></i> <%= link_to "Competitors" ,"/scores?competitors=1" %>
    </div>
    <h4>Brand Blog and articles</h4>
  </div>
  <div class="span8">
    <h3>Articles on External network </h3><hr/>
    <div id="chart-articles" style="height: 250px;"></div>
  </div>



  <div class="span3">
    <h3>Viewer Origin</h3><hr/>
    <div id="chart-article-origin" style="height: 250px;"></div>
  </div>


  






</div>



  

<script>
  

  
  Morris.Donut({
    element: 'chart-article-origin',
    data: [
      {value: 70, label: 'Google'},
      {value: 15, label: 'Twitter'},
      {value: 10, label: 'Facebook'},
      {value: 5, label: 'Linkedin'}
    ],
    backgroundColor: '#ccc',
    labelColor: '#050',
    colors: [
      '#0BA462',
      '#39B580',
      '#67C69D',
      '#95D7BB'
    ],
    formatter: function (x) { return x + "%"}
  });


  
  
  var cweek_data2 = [
    {"period": "2012-4-30", "sent": 11, "clicked": 2 , "unsubsribed":1},
    {"period": "2012-6-30", "sent": 13, "clicked": 2 , "unsubsribed":1},
    {"period": "2012-7-30", "sent": 16, "clicked": 2 , "unsubsribed":1},
    {"period": "2013-1-31", "sent": 30, "clicked": 2 , "unsubsribed":4},
    {"period": "2013-2-1", "sent": 38, "clicked": 2, "unsubsribed":4},
    {"period": "2013-2-2", "sent": 38, "clicked": 2, "unsubsribed":4},
    {"period": "2013-2-3", "sent": 38, "clicked": 2, "unsubsribed":4},
    {"period": "2013-2-4", "sent": 38, "clicked": 2, "unsubsribed":4},
    {"period": "2013-2-15", "sent": 42, "clicked": 3, "unsubsribed":4},
    {"period": "2013-2-16", "sent": 48, "clicked": 5, "unsubsribed":24}
  ];

  Morris.Line({
    element: 'chart-articles',
    data: cweek_data2,
    xkey: 'period',
    stacked: true,
    ykeys: ['sent', 'clicked','unsubscribed'],
    labels: ['Email Sent', 'User Engaged', "Unsubscribed Users"],
    events: [
      '2012-1-31',
      '2013-4-1'
    ],
    labelColor: '#060',
    colors: [
      '#0BA462',
      '#39B580',
      '#67C69D',
      '#95D7BB'
    ]
  });
</script>

