<div class="row-fluid thumbnail">
  <div class="modal-header">
    <div class="pull-right item_command">
      <i class="icon-globe"></i> <%= link_to "Website " ,"/scores?web=1" %>
      <i class="icon-envelope"></i> <%= link_to "Email Marketing","/scores?email=1" %>
      <i class="icon-twitter"></i> <%= link_to "Social Networks" ,"/scores?social=1" %>
      <i class="icon-file"></i> <%= link_to "Blogs" ,"/scores?blog=1" %>
      <i class="icon-group"></i> <%= link_to "Competitors" ,"/scores?competitors=1" %>
    </div>
    <h4>My Competitor Scores</h4>
  </div>
  <div class="span8">
    <h3>Competitors on Social Networks</h3><hr/>
    <div id="chart-competitor-1" style="height: 250px;"></div>
  </div>



  <div class="span3">
    <h3>Competitor By Channel</h3><hr/>
    <div id="chart-competitor-2" style="height: 250px;"></div>
  </div>







</div>



<script>
  
  new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'chart-competitor-1',
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    data: [
      { year: '2008', value: 20 },
      { year: '2009', value: 30 },
      { year: '2010', value: 54 },
      { year: '2011', value: 59},
      { year: '2012', value: 80 }
    ],
    // The name of the data record attribute that contains x-values.
    xkey: 'year',
    // A list of names of data record attributes that contain y-values.
    ykeys: ['value'],
    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Value']
  });
  
  
  Morris.Donut({
    element: 'chart-competitor-2',
    data: [
      {value: 70, label: 'Opened'},
      {value: 15, label: 'Cliked'},
      {value: 10, label: 'Unsubscribed'},
      {value: 5, label: 'Bounced'}
    ],
    backgroundColor: '#ccc',
    labelColor: '#050',
    colors: [
      '#0BA462',
      '#39B580',
      '#67C69D',
      '#95D7BB'
    ],
    formatter: function (x) { return x + "%"}
  });

  
</script>
