<div class="row-fluid thumbnail">
  <div class="modal-header">
    <div class="pull-right item_command">
      <i class="icon-bar-chart"></i> <%= link_to "Website " ,"/websites/stats?id=#{current_user.brand.site.id}" %>
      <i class="icon-envelope"></i> <%= link_to "Email Marketing","/bulk_mails" %>
      <i class="icon-bar-chart"></i> <%= link_to "Social Networks" ,"/scores?social=1" %>
    </div>
    <h4><%= image_tag("/assets/flat/email-8-64.png", :size => "48x48")%>  Brand Email Statistics</h4>
  </div>


  <div class="span8">
    <h3>Email Opened for current running campaigns</h3><hr/>
    <div id="chart-campaigns" style="height: 250px;"></div>
  </div>


  <div class="span3">
    <h3>Brand Emails per status</h3><hr/>
    <div id="chart-2" style="height: 250px;"></div>
  </div>


  <div class="span5">
    <h3>Campaign User engagment </h3><hr/>
    <table class="table">
      <thead>
        <tr>
          <th>Campaign</th>
          <th>Inquiries</th>
        </tr>
      </thead>
      <tbody>
        <% 5.times do  %>
          <tr>
            <td><%= lorem(4) %> </td>
            <td> <%=  rand(100) %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <div class="span3">
    <h3>Inquiries by location</h3><hr/>
    <div id="chart-2-1" style="height: 250px;"></div>
  </div>


  <div class="span3">
    <h3>Inquiries by Device</h3><hr/>
    <div id="chart-2-2" style="height: 250px;"></div>
  </div>



</div>
<br/>

<div class="row thumbnail">
  <div class="modal-header">
    <h4><%= image_tag("/assets/flat/newspaper-11-64.png", :size => "48x48")%>  Newsletter Statistics</h4>
  </div>

  
  
  <div class="span11">
    <h3>Newsletter User engagment </h3><hr/>
  <div id="chart-newsletter" style="height: 250px;"></div>
  </div>

  <div class="span5">
    <h3>Newsletter User engagment </h3><hr/>
    <table class="table">
      <thead>
        <tr>
          <th>Newsletter</th>
          <th>Inquiries</th>
        </tr>
      </thead>
      <tbody>
        <% 5.times do  %>
          <tr>
            <td><%= lorem(4) %> </td>
            <td> <%=  rand(100) %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <div class="span3">
    <h3>Inquiries by location</h3><hr/>
    <div id="chart-2-3" style="height: 250px;"></div>
  </div>


  <div class="span3">
    <h3>Inquiries by Device</h3><hr/>
    <div id="chart-2-4" style="height: 250px;"></div>
  </div>



</div>

<br/>

<div class="row thumbnail">
  <div class="modal-header">
    <h4><%= image_tag("/assets/flat/book-3-64.png", :size => "48x48")%>  My Contacts </h4>
  </div>
  <div class="span3">
    <br/><hr/><h3>Contacts per origin</h3><hr/>
    <div id="chart-2-5" style="height: 250px;"></div>
  </div>

  <div class="span8">
    <br/><hr/><h3>Contact Book</h3><hr/>
    <div id="chart-contacts" style="height: 250px;"></div>
  </div>



</div>



<script>
  
  new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'chart-contacts',
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    data: [
      { year: '2008', value: 20 },
      { year: '2009', value: 30 },
      { year: '2010', value: 54 },
      { year: '2011', value: 59},
      { year: '2012', value: 80 }
    ],
    // The name of the data record attribute that contains x-values.
    xkey: 'year',
    // A list of names of data record attributes that contain y-values.
    ykeys: ['value'],
    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Value']
  });
  
  
  new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'chart-newsletter',
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    data: [
      { year: '2008', views: 20, engaged: 2 },
      { year: '2009', views: 30, engaged: 2 },
      { year: '2010', views: 54, engaged: 4 },
      { year: '2011', views: 59, engaged: 6},
      { year: '2012', views: 80, engaged: 22 }
    ],
    // The name of the data record attribute that contains x-values.
    xkey: 'year',
    // A list of names of data record attributes that contain y-values.
    ykeys: ['views','engaged'],
    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Page Views', "Form engagments"]
  });
  
  Morris.Donut({
    element: 'chart-2',
    data: [
      {value: 70, label: 'Opened'},
      {value: 15, label: 'Cliked'},
      {value: 10, label: 'Unsubscribed'},
      {value: 5, label: 'Bounced'}
    ],
    backgroundColor: '#ccc',
    labelColor: '#e04006',
    colors: [
      '#e04006',
      '#e08936',
      '#56aaff',
      '#95D7BB'
    ],
    formatter: function (x) { return x + "%"}
  });
  Morris.Donut({
    element: 'chart-2-1',
    data: [
      {value: 70, label: 'Israel'},
      {value: 15, label: 'Germany'},
      {value: 10, label: 'USA'},
      {value: 5, label: 'Russia'}
    ],
    backgroundColor: '#ccc',
    labelColor: '#e04006',
    colors: [
      '#e04006',
      '#e08936',
      '#56aaff',
      '#95D7BB'
    ],
    formatter: function (x) { return x + "%"}
  });
  Morris.Donut({
    element: 'chart-2-2',
    data: [
      {value: 70, label: 'Chrome'},
      {value: 15, label: 'IPAD'},
      {value: 10, label: 'Android'},
      {value: 5, label: 'IE'}
    ],
    backgroundColor: '#ccc',
    labelColor: '#e04006',
    colors: [
      '#e04006',
      '#e08936',
      '#56aaff',
      '#95D7BB'
    ],
    formatter: function (x) { return x + "%"}
  });


  Morris.Donut({
    element: 'chart-2-3',
    data: [
      {value: 170, label: 'Israel'},
      {value: 125, label: 'Germany'},
      {value: 130, label: 'USA'},
      {value: 54, label: 'Russia'}
    ],
    backgroundColor: '#ccc',
    labelColor: '#e04006',
    colors: [
      '#e04006',
      '#e08936',
      '#56aaff',
      '#95D7BB'
    ],
    formatter: function (x) { return x + "%"}
  });
  Morris.Donut({
    element: 'chart-2-4',
    data: [
      {value: 10, label: 'Chrome'},
      {value: 15, label: 'IPAD'},
      {value: 30, label: 'Android'},
      {value: 5, label: 'IE'}
    ],
    backgroundColor: '#ccc',
    labelColor: '#e04006',
    colors: [
      '#e04006',
      '#e08936',
      '#56aaff',
      '#95D7BB'
    ],
    formatter: function (x) { return x + "%"}
  });


  Morris.Donut({
    element: 'chart-2-5',
    data: [
      {value: 10, label: 'Import'},
      {value: 15, label: 'Newsletters'},
      {value: 30, label: 'Twitter'},
      {value: 5, label: 'Campaigns'}
    ],
    backgroundColor: '#ccc',
    labelColor: '#e04006',
    colors: [
      '#e04006',
      '#e08936',
      '#56aaff',
      '#95D7BB'
    ],
    formatter: function (x) { return x + "%"}
  });


  var cweek_data = [
    {"period": "2012-4-30", "Welcome to the social machine": 11, "Holliday Special!": 2 , "40% off promotion":1},
    {"period": "2012-6-30", "Welcome to the social machine": 13, "Holliday Special!": 2 , "40% off promotion":1},
    {"period": "2012-7-30", "Welcome to the social machine": 16, "Holliday Special!": 2 , "40% off promotion":1},
    {"period": "2013-1-31", "Welcome to the social machine": 30, "Holliday Special!": 2 , "40% off promotion":4},
    {"period": "2013-2-1", "Welcome to the social machine": 38, "Holliday Special!": 2, "40% off promotion":4},
    {"period": "2013-2-2", "Welcome to the social machine": 38, "Holliday Special!": 2, "40% off promotion":4},
    {"period": "2013-2-3", "Welcome to the social machine": 38, "Holliday Special!": 2, "40% off promotion":4},
    {"period": "2013-2-4", "Welcome to the social machine": 38, "Holliday Special!": 2, "40% off promotion":4},
    {"period": "2013-2-15", "Welcome to the social machine": 42, "Holliday Special!": 3, "40% off promotion":4},
    {"period": "2013-2-16", "Welcome to the social machine": 48, "Holliday Special!": 5, "40% off promotion":24}
  ];

  Morris.Line({
    element: 'chart-campaigns',
    data: cweek_data,
    xkey: 'period',
    stacked: true,
    ykeys: ['Welcome to the social machine', 'Holliday Special!','40% off promotion'],
    labels: ['Welcome to the social machine', 'Holliday Special!','40% off promotion'],
    events: [
      '2012-1-31',
      '2013-4-1'
    ],
    labelColor: '#e04006',
    colors: [
      '#e04006',
      '#e08936',
      '#56aaff',
      '#95D7BB'
    ]
  });
  
  
  var cweek_data2 = [
    {"period": "2012-4-30", "sent": 11, "clicked": 2 , "unsubsribed":1},
    {"period": "2012-6-30", "sent": 13, "clicked": 2 , "unsubsribed":1},
    {"period": "2012-7-30", "sent": 16, "clicked": 2 , "unsubsribed":1},
    {"period": "2013-1-31", "sent": 30, "clicked": 2 , "unsubsribed":4},
    {"period": "2013-2-1", "sent": 38, "clicked": 2, "unsubsribed":4},
    {"period": "2013-2-2", "sent": 38, "clicked": 2, "unsubsribed":4},
    {"period": "2013-2-3", "sent": 38, "clicked": 2, "unsubsribed":4},
    {"period": "2013-2-4", "sent": 38, "clicked": 2, "unsubsribed":4},
    {"period": "2013-2-15", "sent": 42, "clicked": 3, "unsubsribed":4},
    {"period": "2013-2-16", "sent": 48, "clicked": 5, "unsubsribed":24}
  ];

  Morris.Line({
    element: 'chart-newsletters',
    data: cweek_data2,
    xkey: 'period',
    stacked: true,
    ykeys: ['sent', 'clicked','unsubscribed'],
    labels: ['Email Sent', 'User Engaged', "Unsubscribed Users"],
    events: [
      '2012-1-31',
      '2013-4-1'
    ],
    labelColor: '#e04006',
    colors: [
      '#e04006',
      '#e08936',
      '#56aaff',
      '#95D7BB'
    ]
  });
</script>
