<div class="row-fluid thumbnail">
  <div class="modal-header">
    <div class="pull-right item_command">
      <i class="icon-bar-chart"></i> <%= link_to "Website " ,"/websites/stats?id=#{current_user.brand.site.id}" %>
      <i class="icon-bar-chart"></i> <%= link_to "Email Marketing","/scores?email=1" %>
    </div>
    <h4><%= image_tag("/assets/flat/facebook-3-64.png")   %> Facebook Score</h4>
  </div>

  <div class="span5">
    <h3>Monthy Fans growth</h3>
    <div id="chart-1" style="height: 250px;"></div>
  </div>

  <div class="span5">
    <h3>Engaged Users</h3>
    <div id="chart-2" style="height: 250px;"></div>
  </div>

  <div class="span5">
    <h3>Posts and Comments</h3>
    <div id="chart-3" style="height: 250px;"></div>
  </div>

  <div class="span5">
    <br/>
    <h3>Groups Engagment</h3>
    <div id="chart-4" style="height: 250px;"></div>
  </div>

  <div class="span11">

    <table class="table datatable">
      <thead>
        <tr>
          <th> DATE</th>
          <th> Channel</th>
          <th> fans</th>
          <th> Commenters</th>
          <th> Posts</th>
          <th> Comments</th>
          <th> Likes</th>
          <th> Views</th>
        </tr>    
      </thead>
      <tbody>
        <% for item in @brand.get_channel("facebook").scores.order("created_at DESC").limit(10) do   %>
            <tr>
              <td> <%= item.score_date  %> </td>
              <td> <%= item.channel.name || "WEB"  %> </td>
              <td> <%= item.fans  %> </td>
              <td> <%= item.commenters  %> </td>
              <td> <%= item.posts  %> </td>
              <td> <%= item.comments  %> </td>
              <td> <%= item.likes  %> </td>
              <td> <%= item.views  %> </td>
            </tr>    
          <% end %>
        </tbody>
      </table>
    </div>

  </div>



  <script>
  
  
    Morris.Bar({
      element: 'chart-1',
      data: gon.bar_chart_facebook_fans_data,
      xkey: gon.bar_chart_facebook_fans_xkey ,
      stacked: true,
      ykeys:  gon.bar_chart_facebook_fans_ykeys ,
      labels: gon.bar_chart_facebook_fans_ykeys ,
      events: gon.bar_chart_facebook_fans_events,
      labelColor: '#e04006',
      colors: ['#e04006', '#e08936', '#56aaff', '#95D7BB' ]
    });
  
  
    Morris.Bar({
      element: 'chart-2',
      data: gon.bar_chart_facebook_engaged_data,
      xkey: gon.bar_chart_facebook_engaged_xkey ,
      stacked: true,
      ykeys:  gon.bar_chart_facebook_engaged_ykeys ,
      labels: gon.bar_chart_facebook_engaged_ykeys ,
      events: gon.bar_chart_facebook_engaged_events,
      labelColor: '#e04006',
      colors: ['#e04006', '#e08936', '#56aaff', '#95D7BB' ]
    });
  
    Morris.bar({
      element: 'chart-3',
      data: gon.bar_chart_facebook_posts_and_comments_data,
      xkey: gon.bar_chart_facebook_posts_and_comments_xkey ,
      stacked: true,
      ykeys:  gon.bar_chart_facebook_posts_and_comments_ykeys ,
      labels: gon.bar_chart_facebook_posts_and_comments_ykeys ,
      events: gon.bar_chart_facebook_posts_and_comments_events,
      labelColor: '#e04006',
      colors: ['#e04006', '#e08936', '#56aaff', '#95D7BB' ]
    });
  
  
  
    Morris.Donut({
      element: 'chart-4',
      data: gon.pie_chart_engaged_users,
      backgroundColor: '#ccc',
      labelColor: '#e04006',
      colors: [
        '#e04006',
        '#e08936',
        '#56aaff',
        '#95D7BB'
      ],
      formatter: function (x) { return x }
    });


  
  
  </script>
