<%= form_for(@score) do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand_id %><br />
    <%= f.number_field :brand_id %>
  </div>
  <div class="field">
    <%= f.label :channel_id %><br />
    <%= f.number_field :channel_id %>
  </div>
  <div class="field">
    <%= f.label :competitor_id %><br />
    <%= f.number_field :competitor_id %>
  </div>
  <div class="field">
    <%= f.label :kind %><br />
    <%= f.text_field :kind %>
  </div>
  <div class="field">
    <%= f.label :socre_date %><br />
    <%= f.date_select :socre_date %>
  </div>
  <div class="field">
    <%= f.label :profile_score %><br />
    <%= f.text_field :profile_score %>
  </div>
  <div class="field">
    <%= f.label :profile_notes %><br />
    <%= f.text_area :profile_notes %>
  </div>
  <div class="field">
    <%= f.label :content_score %><br />
    <%= f.number_field :content_score %>
  </div>
  <div class="field">
    <%= f.label :content_posts_count %><br />
    <%= f.number_field :content_posts_count %>
  </div>
  <div class="field">
    <%= f.label :exposure_score %><br />
    <%= f.text_field :exposure_score %>
  </div>
  <div class="field">
    <%= f.label :exposure_users_count %><br />
    <%= f.number_field :exposure_users_count %>
  </div>
  <div class="field">
    <%= f.label :engadge_score %><br />
    <%= f.number_field :engadge_score %>
  </div>
  <div class="field">
    <%= f.label :engadge_users_count %><br />
    <%= f.number_field :engadge_users_count %>
  </div>
  <div class="field">
    <%= f.label :engadge_posts_count %><br />
    <%= f.number_field :engadge_posts_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
