<div class="row-fluid thumbnail">
  <div class="modal-header">
    <div class="pull-right item_command">
      <i class="icon-bar-chart"></i> <%= link_to "Website " ,"/websites/stats?id=#{current_user.brand.site.id}" %>
      <i class="icon-bar-chart"></i> <%= link_to "Email Marketing","/scores?email=1" %>
    </div>
    <h3><%=image_tag("/assets/flat/bar-chart-4-64.png", :size => "48x48")%> Social Network Score</h3>
  </div>
  <div class="span2">
    <h3>Fans by Network</h3><hr/>
    <div id="chart-fans-by-channel" style="height: 250px;"></div>
  </div>

  <div class="span7">
    <h3>Monthy Fans growth</h3><hr/>
    <div id="chart-1" style="height: 250px;"></div>
  </div>

  <div class="span2">
    <h3>Engaged Users</h3><hr/>
    <div id="chart-3" style="height: 250px;"></div>
  </div>

  <div class="span11">
    <hr/><br/>
    <h3>Engaged Users</h3><hr/>
    <div id="chart-5" style="height: 250px;"></div>
  </div>


  <div class="span11">
    <hr/><br/>
    <h3>Posts and Comments</h3><hr/>
    <div id="chart-5f" style="height: 250px;"></div>
  </div>

  

  <% if @brand.get_channel("facebook").in_use? %>
  <div class="span11">
    <hr/><br/>
    <h3><%= image_tag("/assets/flat/facebook-3-64.png", :size =>"48x48")   %> Facebook Posts and comments</h3><hr/>
    <div id="chart-facebook-post-vs-comment" style="height: 250px;"></div>
  </div>
  <div class="span11">
    <h3><%= image_tag("/assets/flat/facebook-3-64.png", :size =>"48x48")   %> Facebook fan pages</h3><hr/>
    <div id="chart-facebook-fanpages" style="height: 250px;"></div>
  </div>
  <% end %>

  
  
  <% if @brand.get_channel("twitter").in_use? %>
  <div class="span11">
    <hr/><br/>
    <h3><%= image_tag("/assets/flat/twitter-3-64.png", :size =>"48x48")   %> Twitter Posts and comments</h3><hr/>
    <div id="chart-twitter-post-vs-comment" style="height: 250px;"></div>
  </div>
  <div class="span11">
    <h3><%= image_tag("/assets/flat/twitter-3-64.png", :size =>"48x48")   %> Twitter Followers</h3><hr/>
    <div id="chart-twitter-followers" style="height: 250px;"></div>
  </div>
  <% end %>

  
  
  <% if @brand.get_channel("linkedin").in_use? %>
  <div class="span11">
    <hr/><br/>
    <h3><%= image_tag("/assets/flat/linkedin-3-64.png", :size =>"48x48")   %> Linkedin Marketing</h3><hr/>
    <div id="xchart-6" style="height: 250px;"></div>
  </div>
  
  <div class="span11">
    <hr/><br/>
    <h3>Groups Engagment</h3><hr/>
    <div id="xchart-6" style="height: 250px;"></div>
  </div>
  
  <% end %>

  

</div>



<script>
  
  
  Morris.Area({
    element: 'chart-1',
    data: gon.bar_chart_fans_data,
    xkey: gon.bar_chart_fans_xkey ,
    stacked: true,
    ykeys:  gon.bar_chart_fans_ykeys ,
    labels: gon.bar_chart_fans_ykeys ,
    events: gon.bar_chart_fans_events,
    labelColor: '#e04006',
    colors: ['#e04006', '#e08936', '#56aaff', '#95D7BB' ]
  });
  
  Morris.Donut({
    element: 'chart-fans-by-channel',
    data: gon.chart_fans_by_channel_data,
    backgroundColor: '#ccc',
    labelColor: '#e04006',
    colors: [
      '#e04006',
      '#e08936',
      '#56aaff',
      '#95D7BB'
    ],
    formatter: function (x) { return x }
  });
  
  
  Morris.Donut({
    element: 'chart-3',
    data: gon.pie_chart_engaged_users,
    backgroundColor: '#ccc',
    labelColor: '#e04006',
    colors: [
      '#e04006',
      '#e08936',
      '#56aaff',
      '#95D7BB'
    ],
    formatter: function (x) { return x }
  });


  

  Morris.Area({
    element: 'chart-5',
    data: gon.bar_chart_engaged_users_data,
    xkey: gon.bar_chart_engaged_users_xkey ,
    stacked: true,
    ykeys:  gon.bar_chart_engaged_users_ykeys ,
    labels: gon.bar_chart_engaged_users_ykeys ,
    events: gon.bar_chart_engaged_users_events,
    labelColor: '#e04006',
    colors: ['#e04006', '#e08936', '#e08936', '#e08936' ]
  });
  
  
  
  Morris.Bar({
    element: 'chart-facebook-post-vs-comment',
    data: gon.bar_chart_engaged_users_data,
    xkey: gon.bar_chart_engaged_users_xkey ,
    stacked: true,
    ykeys:  gon.bar_chart_engaged_users_ykeys ,
    labels: gon.bar_chart_engaged_users_ykeys ,
    events: gon.bar_chart_engaged_users_events,
    labelColor: '#e04006',
    colors: ['#e04006', '#e08936', '#e08936', '#e08936' ]
  });
  
  
   Morris.Bar({
    element: 'chart-facebook-fanpages',
    data: gon.bar_chart_engaged_users_data,
    xkey: gon.bar_chart_engaged_users_xkey ,
    stacked: true,
    ykeys:  gon.bar_chart_engaged_users_ykeys ,
    labels: gon.bar_chart_engaged_users_ykeys ,
    events: gon.bar_chart_engaged_users_events,
    labelColor: '#e04006',
    colors: ['#e04006', '#e08936', '#56aaff', '#95D7BB' ]
  });
  
  
  Morris.Bar({
    element: 'chart-twitter-followers',
    data: gon.bar_chart_engaged_users_data,
    xkey: gon.bar_chart_engaged_users_xkey ,
    stacked: true,
    ykeys:  gon.bar_chart_engaged_users_ykeys ,
    labels: gon.bar_chart_engaged_users_ykeys ,
    events: gon.bar_chart_engaged_users_events,
    labelColor: '#e04006',
    colors: ['#e04006', '#e08936', '#56aaff', '#95D7BB' ]
  });
  
  
  Morris.Bar({
    element: 'chart-twitter-post-vs-comment',
    data: gon.bar_chart_engaged_users_data,
    xkey: gon.bar_chart_engaged_users_xkey ,
    stacked: true,
    ykeys:  gon.bar_chart_engaged_users_ykeys ,
    labels: gon.bar_chart_engaged_users_ykeys ,
    events: gon.bar_chart_engaged_users_events,
    labelColor: '#e04006',
    colors: ['#e04006', '#e08936', '#56aaff', '#95D7BB' ]
  });
  
  
  
</script>
