
<table class="table datatable">
  <thead>
    <tr>
      <th> DATE</th>
      <th> Channel</th>
      <th> fans</th>
      <th> Commenters</th>
      <th> Posts</th>
      <th> Comments</th>
      <th> Likes</th>
      <th> Views</th>
    </tr>    
  </thead>
  <tbody>
    <% for item in @scores do  %>
    <tr>
      <td> <%= item.score_date  %> </td>
      <td> <%= item.channel.name || "WEB"  %> </td>
      <td> <%= item.fans  %> </td>
      <td> <%= item.commenters  %> </td>
      <td> <%= item.posts  %> </td>
      <td> <%= item.comments  %> </td>
      <td> <%= item.likes  %> </td>
      <td> <%= item.views  %> </td>
    </tr>    
    <% end %>
  </tbody>
</table>