<div class="row thumbnail">
  <div class="modal-header">
    <div class="pull-right item_command">
      <i class="icon-globe"></i> <%= link_to "Website " ,"/scores?web=1" %>
      <i class="icon-envelope"></i> <%= link_to "Email Marketing","/scores?email=1" %>
      <i class="icon-twitter"></i> <%= link_to "Social Networks" ,"/scores?social=1" %>
      <i class="icon-file"></i> <%= link_to "Blogs" ,"/scores?blog=1" %>
      <i class="icon-group"></i> <%= link_to "Competitors" ,"/scores?competitors=1" %>
    </div>
    <h4>Brand Website  Score</h4>
  </div>
  <div class="span7">
    <h3>Website Visitor and Form submission</h3><hr/>
    <div id="chart-visitors" style="height: 250px;"></div>
  </div>

  <div class="span4">
    <h3>Where do visitors come from?</h3><hr/>
    <div id="chart-reference" style="height: 250px;"></div>
  </div>


  <div class="span11">
    <h3>Google and Bing Keywords location</h3><hr/>
    <div id="chart-keywords" style="height: 250px;"></div>
  </div>

<div class="span11">
    <h3>Langing Pages Viewers</h3><hr/>
    <div id="chart-landing" style="height: 250px;"></div>
  </div>




</div>



<script>
  
  
  new Morris.Line({
    // ID of the element in which to draw the chart.
    element: 'chart-visitors',
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    data: gon.web_chart_1_data ,
    // The name of the data record attribute that contains x-values.
    xkey: 'year',
    // A list of names of data record attributes that contain y-values.
    ykeys: ['value'],
    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Value']
  });
  
  
  Morris.Donut({
    element: 'chart-reference',
    data: [
      {value: 70, label: 'Facebook'},
      {value: 15, label: 'Twitter'},
      {value: 10, label: 'Email Campaign'},
      {value: 5, label: 'Google'}
    ],
    backgroundColor: '#ccc',
    labelColor: '#060',
    colors: [
      '#0BA462',
      '#39B580',
      '#67C69D',
      '#95D7BB'
    ],
    formatter: function (x) { return x + "%"}
  });


  var cweek_data = gon.web_chart_2_data;

  Morris.Line({
    element: 'chart-keywords',
    data: cweek_data,
    xkey: 'period',
    stacked: true,
    ykeys: ['google', 'bing'],
    labels: ['Google', 'Bing'],
    events: [
      '2012-1-1',
      '2013-1-1'
    ],
    labelColor: '#060',
    colors: [
      '#0BA462',
      '#39B580',
      '#67C69D',
      '#95D7BB'
    ]
  });
  
  
  
  var cweek_data = [
    {"period": "2012-1-1", "Google": 11, "Bing": 2 , "comments":1},
    {"period": "2012-6-30", "Google": 13, "Bing": 2 , "comments":1},
    {"period": "2012-7-30", "Google": 16, "Bing": 2 , "comments":1},
    {"period": "2013-1-31", "Google": 30, "Bing": 2 , "comments":4},
    {"period": "2013-2-1", "Google": 38, "Bing": 2, "comments":4},
    {"period": "2013-2-2", "Google": 38, "Bing": 2, "comments":4},
    {"period": "2013-2-3", "Google": 38, "Bing": 2, "comments":4},
    {"period": "2013-2-4", "Google": 38, "Bing": 2, "comments":4},
    {"period": "2013-2-15", "Google": 42, "Bing": 3, "comments":4},
    {"period": "2013-2-16", "Google": 48, "Bing": 5, "comments":24}
  ];

  Morris.Bar({
    element: 'chart-landing',
    data: cweek_data,
    xkey: 'period',
    stacked: true,
    ykeys: ['Google', 'Bing','comments'],
    labels: ['Google', 'Bing', "User Comments"],
    events: [
      '2012-1-1',
      '2013-1-1'
    ],
    labelColor: '#060',
    colors: [
      '#0BA462',
      '#39B580',
      '#67C69D',
      '#95D7BB'
    ]
  });
</script>
