<% @channel = current_user.brand.get_channel("facebook") %>

<% content_for :head do  %>
  <link rel="stylesheet" href="//cdn.oesmith.co.uk/morris-0.4.1.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
<% end %>

<style>
  h1 img{
    vertical-align: top;
  }
</style>

<subview ui-associations="withNavBar ">
  <scrollpanel>


    </stack>

    <tableview>       
      <tableheader>
        Site Visitors
      </tableheader>
      <tablecell style="text-align: center">
        <div id="chart-visitors" style="height: 250px;"></div>
      </tablecell>
      <tableheader>
        Site Visitors
      </tableheader>
      <tablecell style="text-align: center">
        <h5>Where do visitors come from?</h5>
        <div id="chart-reference" style="height: 250px;"></div>
      </tablecell>
      <tablecell style="text-align: center">
        <h5>Google and Bing Keywords location</h5>
        <div id="chart-keywords" style="height: 250px;"></div>
      </tablecell>

    </tableview>


    </scrollpanel>


  </subview>



  <style>
    .summary{
      width:100%;
      padding:0.4em;
    }
    .summary h5{
      font-size: 22px;
      color:#990000;
    }

    .summary td{
      text-align: center;
      font-size: 12px;
      color:#004099;
    }
    .rate{
      font-size:14px;
      font-weight: bold;
    }
  </style>



  <script>
  
  
    new Morris.Line({
      // ID of the element in which to draw the chart.
      element: 'chart-visitors',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: gon.web_chart_1_data ,
      // The name of the data record attribute that contains x-values.
      xkey: 'year',
      // A list of names of data record attributes that contain y-values.
      ykeys: ['value'],
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['Value']
    });
  
  
    Morris.Donut({
      element: 'chart-reference',
      data: [
        {value: 70, label: 'Facebook'},
        {value: 15, label: 'Twitter'},
        {value: 10, label: 'Email Campaign'},
        {value: 5, label: 'Google'}
      ],
      backgroundColor: '#ccc',
      labelColor: '#060',
      colors: [
        '#0BA462',
        '#39B580',
        '#67C69D',
        '#95D7BB'
      ],
      formatter: function (x) { return x + "%"}
    });


    var cweek_data = gon.web_chart_2_data;

    Morris.Line({
      element: 'chart-keywords',
      data: cweek_data,
      xkey: 'period',
      stacked: true,
      ykeys: ['google', 'bing'],
      labels: ['Google', 'Bing'],
      events: [
        '2012-1-1',
        '2013-1-1'
      ],
      labelColor: '#060',
      colors: [
        '#0BA462',
        '#39B580',
        '#67C69D',
        '#95D7BB'
      ]
    });
  
  
  
    var cweek_data = [
      {"period": "2012-1-1", "Google": 11, "Bing": 2 , "comments":1},
      {"period": "2012-6-30", "Google": 13, "Bing": 2 , "comments":1},
      {"period": "2012-7-30", "Google": 16, "Bing": 2 , "comments":1},
      {"period": "2013-1-31", "Google": 30, "Bing": 2 , "comments":4},
      {"period": "2013-2-1", "Google": 38, "Bing": 2, "comments":4},
      {"period": "2013-2-2", "Google": 38, "Bing": 2, "comments":4},
      {"period": "2013-2-3", "Google": 38, "Bing": 2, "comments":4},
      {"period": "2013-2-4", "Google": 38, "Bing": 2, "comments":4},
      {"period": "2013-2-15", "Google": 42, "Bing": 3, "comments":4},
      {"period": "2013-2-16", "Google": 48, "Bing": 5, "comments":24}
    ];

    Morris.Bar({
      element: 'chart-landing',
      data: cweek_data,
      xkey: 'period',
      stacked: true,
      ykeys: ['Google', 'Bing','comments'],
      labels: ['Google', 'Bing', "User Comments"],
      events: [
        '2012-1-1',
        '2013-1-1'
      ],
      labelColor: '#060',
      colors: [
        '#0BA462',
        '#39B580',
        '#67C69D',
        '#95D7BB'
      ]
    });
  </script>
