<% content_for :head do  %>
  <link rel="stylesheet" href="//cdn.oesmith.co.uk/morris-0.4.1.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
<% end %>

  <%= render :partial => 'shared/upper_row' %>

<%= render :partial => "email_charts" if params[:email].present? %>
<%= render :partial => "social_charts" if params[:social].present? %>
<%= render :partial => "blog_charts" if params[:blog].present? %>
<%= render :partial => "facebook_charts" if params[:facebook].present? %>
<%= render :partial => "twitter_charts" if params[:twitter].present? %>
<%= render :partial => "linkedin_charts" if params[:linkedin].present? %>
  
  
<%= render :partial => "table"  if params[:text].present? %>

