<p id="notice"><%= notice %></p>

<p>
  <b>Brand:</b>
  <%= @score.brand_id %>
</p>

<p>
  <b>Channel:</b>
  <%= @score.channel_id %>
</p>

<p>
  <b>Competitor:</b>
  <%= @score.competitor_id %>
</p>

<p>
  <b>Kind:</b>
  <%= @score.kind %>
</p>

<p>
  <b>Socre date:</b>
  <%= @score.socre_date %>
</p>

<p>
  <b>Profile score:</b>
  <%= @score.profile_score %>
</p>

<p>
  <b>Profile notes:</b>
  <%= @score.profile_notes %>
</p>

<p>
  <b>Content score:</b>
  <%= @score.content_score %>
</p>

<p>
  <b>Content posts count:</b>
  <%= @score.content_posts_count %>
</p>

<p>
  <b>Exposure score:</b>
  <%= @score.exposure_score %>
</p>

<p>
  <b>Exposure users count:</b>
  <%= @score.exposure_users_count %>
</p>

<p>
  <b>Engadge score:</b>
  <%= @score.engadge_score %>
</p>

<p>
  <b>Engadge users count:</b>
  <%= @score.engadge_users_count %>
</p>

<p>
  <b>Engadge posts count:</b>
  <%= @score.engadge_posts_count %>
</p>


<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
