<h4>Put JSON HERE</h4>
<%=  form_tag :action => "process_website", :multipart => true do  %>
  <%= text_area_tag  "json" , :id => "yaml"%>
  <%= submit_tag "Save" , :id => "submit_yaml" , :name => "submit_yaml"%>
<% end %>

