<h4>Put YML HERE</h4>
<%=  form_tag :action => "process_scan", :multipart => true do  %>
  <%= text_area_tag  "yaml" , :id => "yaml"%>
  <%= submit_tag "Save" , :id => "submit_yaml" , :name => "submit_yaml"%>
<% end %>