
<div class="row-fluid">
  <div class="thumbnail span12">
    <%= form_for @autoresponder, :html => { :class => 'form-horizontal' } do |f| %>

      <div class="modal-body">
        <h2> <%= image_tag "/assets/flat/edit-5-64.png", :size => "48x48"  %> Auto responder message </h2>
        <%= f.hidden_field :brand_id, :class => 'number_field' , :value => current_user.brand.id %>
        <div class="control-group">
          <%= f.label :name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, :class => 'text_field ' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :short_message, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :short_message, :class => 'text_field span9' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :long_message, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :long_message, :class => 'text_area' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :target_link, :class => 'control-label' %>
          <div class="controls">
            <select name="autoresponder[target_link]">
              <% for item in @brand.short_links do  %>
                  <option value="<%=item[:url]%>"><%=item[:name]%></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>


        <div class="modal-footer">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            autoresponders_path, :class => 'btn' %>
        </div>



      <% end %>

    </div>
  </div>