<%= render :partial => 'shared/upper_row' %>
<%- model_class = Autoresponder -%>

<div class="row-fluid">
  <div class="thumbnail span12">
    <div class="modal-header">
      <div class="pull-right item_command">
        <%= link_to raw("<i class='icon-user'></i></i> New Autoresponder"),new_autoresponder_path %>
      </div>
      <h3><%= image_tag "/assets/flat/edit-5-64.png" , :size => "48x48"%>  <%= "Auto respond messages" %></h3>
    </div>
    <div class="modal-header">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th><%= model_class.human_attribute_name(:target_link) %></th>
            <th><%= model_class.human_attribute_name(:sent) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @autoresponders.each do |autoresponder| %>
            <tr>
              <td><%= autoresponder.name %></td>
              <td><%= autoresponder.target_link %></td>
              <td><%= autoresponder.sent %></td>
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_autoresponder_path(autoresponder), :class => 'btn btn-mini' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  autoresponder_path(autoresponder),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>