<%= render :partial => 'shared/upper_row' %>
<%- model_class = Autoresponder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:brand_id) %>:</strong></dt>
  <dd><%= @autoresponder.brand_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:short_message) %>:</strong></dt>
  <dd><%= @autoresponder.short_message %></dd>
  <dt><strong><%= model_class.human_attribute_name(:long_message) %>:</strong></dt>
  <dd><%= @autoresponder.long_message %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sent) %>:</strong></dt>
  <dd><%= @autoresponder.sent %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
    autoresponders_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_autoresponder_path(@autoresponder), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    autoresponder_path(@autoresponder),
    :method => 'delete',
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' %>
</div>
</div>
