<%= form_for @group, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Group</legend>

    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :owner, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :owner, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :channel, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :channel, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :owner_image_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :owner_image_url, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :image_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :image_url, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :members_count, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :members_count, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :posts_count, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :posts_count, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :url, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :last_update, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_update, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', groups_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
