<div class="row-fluid">
  <div class="thumbnail">
    <div class="modal-header">
      <div class="pull-right item_command">
        <%= link_to raw("<i class='icon-bar-chart'></i> Group Statistics"), "" %>
      </div>
      <h2><%= image_tag "/assets/flat/user-14-64.png",:size => "48x48"%> Group Posts </h2>
    </div>

    <div class="modal-header">
      <div class="tabbable ">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#posts" data-toggle="tab">New Posts </a></li>
          <li><a href="#groups" data-toggle="tab">My Groups</a></li>
          <li class=""><a href="#recommended" data-toggle="tab">Recommended Groups</a></li>
        </ul>


        <div class="tab-content ">

          <div class="tab-pane active" id="posts">
            <table class=" table table-striped datatable" id="we">
              <thead>
                <tr>
                  <th width="100px">Title</th>
                  <th>Posts</th>
                </tr>
              </thead>
              <tbody>
                <% @posts.each do |post| %>
                  <tr>
                    <td><%=image_tag post.img , :size => "100x100"%> </td>
                    <td>

                      <b> <%= post.title %> |   <%= post.from_name %> </b><br/>
                      <%= post.plain_text %>
                      <div class="item_command">
                        <a href=""><i class="icon-share"></i> Share</a>
                        <a href="<%= post.target_link %>" target="_blank"><i class="icon-reply"></i> Reply</a>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>


          <div class="tab-pane " id="groups">
             <table class=" table table-striped datatable" id="we">
              <thead>
                <tr>
                  <th width="100px">Title</th>
                  <th>Posts</th>
                </tr>
              </thead>
              <tbody>
                <% @groups.each do |post| %>
                  <tr>
                    <td><%=image_tag post.image_url , :size => "100x100"%> </td>
                    <td>

                      <b> <%= post.name %>  </b><br/>
                      <%= post.bio %>
                      <div class="item_command">
                        <a href=""><i class="icon-remove"></i> Leave</a>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane " id="recommended">
             <table class=" table table-striped datatable" id="we">
              <thead>
                <tr>
                  <th width="100px">Title</th>
                  <th>Posts</th>
                </tr>
              </thead>
              <tbody>
                <% @recommended.each do |post| %>
                  <tr>
                    <td><%=image_tag post.image_url , :size => "100x100"%> </td>
                    <td>

                      <b> <%= post.name %>  </b><br/>
                      <%= post.bio %>
                       <div class="item_command">
                        <a href=""><i class="icon-plus"></i> Join Group</a>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>


