<h1>Group</h1>

<p>
  <b>Title</b><br>
  <%= @group.title %>
</p>

<p>
  <b>Description</b><br>
  <%= @group.description %>
</p>

<p>
  <b>Owner</b><br>
  <%= @group.owner %>
</p>

<p>
  <b>Channel</b><br>
  <%= @group.channel %>
</p>

<p>
  <b>Owner image url</b><br>
  <%= @group.owner_image_url %>
</p>

<p>
  <b>Image url</b><br>
  <%= @group.image_url %>
</p>

<p>
  <b>Members count</b><br>
  <%= @group.members_count %>
</p>

<p>
  <b>Posts count</b><br>
  <%= @group.posts_count %>
</p>

<p>
  <b>Url</b><br>
  <%= @group.url %>
</p>

<p>
  <b>Last update</b><br>
  <%= @group.last_update %>
</p>

<div class="form-actions">
  <%= link_to 'Back', groups_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_group_path(@group), :class => 'btn' %>
  <%= link_to 'Delete', group_path(@group), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
