<h1>Listing calls</h1>

<table>
  <tr>
    <th width="130px">When</th>
    <th>What</th>
    <th width="50px"></th>
  </tr>

<% @calls.each do |call| %>
  <tr>
    <td><%= link_to time_ago_in_words(call.created_at),call %></td>
    <td> 
        REQUEST:<%= link_to  call.request , call%> <br/>
        PARAMS:<%= link_to  call.params , call%> <br/>
    </td>
    <td><%= link_to 'Destroy', call, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Call', new_call_path %>
