<p id="notice"><%= notice %></p>

<p>
  <b>Request:</b>
  <%= @call.request %>
</p>

<p>
  <b>Session:</b>
  <%= @call.session %>
</p>


<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
