<h3>Channels for Brand <%= brand.name %> </h3><hr/>
<table class="table table-striped">
  <% for channel in brand.channels do  %>
  <tr>
    <td><%= image_tag channel.icon, :size =>"32x32" %></td>
    <td><%= channel.id %></td>
    <td><%= channel.name %></td>
    <td><%= channel.token[0..30] unless channel.token.nil? %></td>
    <td><%= channel.posts.count %></td>
    <td><%= channel.fans.count %></td>
  </tr>
  <% end %>
</table>
  