<h3>Pages</h3><hr/>

<table class="table table-striped">
  <% unless brand.websites.empty? %>
    <% for page in brand.websites.first.pages do  %>
        <tr>
          <td><%= page.id %></td>
          <td><%= page.website.url %></td>
          <td><%= page.website.template.name unless page.website.template.nil? %></td>
          <td><%= page.template.name unless page.template.nil? %></td>
          <td><%= page.name %></td>
          <td><%= page.view_count %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
