<h1>Users</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Brands</th>
      <th>Fans</th>
      <th>Posts</th>
      <th>Comments</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><% for brand in user.brands %><%= brand.name %><%end%></td>
        <td><% for brand in user.brands %><%= brand.fans.count %><%end%></td>
        <td><% for brand in user.brands %><%= brand.posts.count %><%end%></td>
        <td><% for brand in user.brands %><%= brand.comments.count %><%end%></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', user_path(user), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_user_path, :class => 'btn btn-primary' %>