<h1>User</h1>

<p>
  <b>Name</b><br>
  <%= @user.name %>
</p>

<p>
  <b>Email</b><br>
  <%= @user.email %>
</p>

<p>
  <b>Description</b><br>
  <%= @user.description %>
</p>

<p>
  <b>Ui</b><br>
  <%= @user.ui %>
</p>

<div class="form-actions">
  <%= link_to 'Back', users_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn' %>
  <%= link_to 'Delete', user_path(@user), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>

  <div class="pull-right">
    <%= link_to 'Create Brand', "/brands/new?user_id=#{@user.id}", :class => 'btn ' if @user.brands.nil? %>
    <%= link_to 'Reset Brand', "/users/reset_user?id=#{@user.id}", :class => 'btn '  unless @user.brands.nil?%>
    <%= link_to 'DELETE Brand', "/users/delete_user?id=#{@user.id}", :class => 'btn '  unless @user.brands.nil?%>
  </div>
</div>



<br/>
<ul class="nav nav-tabs">
  <li ><a href="#1" data-toggle="tab">Brands</a></li>
  <li><a href="#movies" data-toggle="tab">Websites</a></li>
  <li class="active"><a href="#twitter" data-toggle="tab">Licenses</a></li>
  <li><a href="#emails" data-toggle="tab">Emails</a></li>
  <li><a href="#news" data-toggle="tab">Login Log</a></li>
</ul>
<div class="tab-content">

  <div class="tab-pane " id="1">
    <% for brand in @user.brands do  %>
      <%= render :partial => 'channels' , :locals => {:brand => brand} %>
    <% end %>
  </div>
  <div class="tab-pane" id="movies">
     <% for brand in @user.brands do  %>
      <%= render :partial => 'pages' , :locals => {:brand => brand} %>
    <% end %>
  </div>
  <div class="tab-pane" id="emails">
    <h3>Emails sent by <%= @user.name %></h3><hr/>
  </div>
  <div class="tab-pane" id="fans">
  </div>
  <div class="tab-pane" id="news">
  </div>
  <div class="tab-pane active" id="twitter">
  </div>
  <div class="tab-pane" id="google">
  </div>
  <div class="tab-pane" id="facebook_users">
  </div>
  <div class="tab-pane" id="facebook_groups">
  </div>
</div>
