<%#*<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Launch demo modal</a>%>

<% article = Article.first  %>
<div id="articleDialog" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" >&times;</a>
    <h3><%= article.name unless article.nil?%> </h3>
  </div>

  <div class="modal-body">
    <div class="pull-left">
    <%= image_tag article.image_url , :width => "250px"  unless article.nil?%>
  </div>
    
     <h4><%= article.name unless article.nil? %></h4>
     <h5><%= article.author unless article.nil? %> | <%= article.created_at.strftime("%m/%d") unless article.nil?%> </h5>
      <%= strip_html(article.body) unless article.nil? %><br/>
      <hr/>
      <%= lorem(30) %>
  </div>
        

  <div class="modal-footer">
    <a href="#" class="btn btn-primary">Save changes</a>
    <a href="#" class="btn" data-dismiss="modal" >Close</a>
  </div>
</div>







