<h2><%= Brand.first.name%> </h2>
<table class="table">
  <tr>
    <td width="100px">
      <%= image_tag("/assets/profile-image.png" , :size => "100x100") %>
    </td>
    <td>
      Total Rating:
      <br/>
      <b>82.3%</b><br/>
      Content Generating:
      <br/>
      <b>Good</b><br/>
      User Responsivness:
      <br/>
      <b>2.3%</b><br/>
    </td>
  </tr>

</table>