


<div class="modal hide" id="fanModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="fan-title">FAN/PROSPECT/COMPETITOR info</h3>
  </div>

  <div class="modal-body">

    <div class="pull-left" style="padding:0.4em;">
      <%= image_tag("/assets/profile-image.png" , :size => "100x100" , :id => "fan-picture") %>
    </div>

    <div>
      <table width="70%" style="vertical-align: top">
        <tr>
          <td colspan="2">
            <h5><span id="fan-name"></span></h5>
            <span id="fan-bio"></span>
          </td>
        </tr>
        <tr >
          <td colspan="2"><br/></td>          
        </tr>

        <tr>
          <td width="130px"><i class="icon-globe"></i> Website:</td><td><a id="site_url" href="" target="_blank"><span id="fan-page-2"></span></a></td>
        </tr>

        <tr>
          <td width="130px"><i class="icon-user"></i> Friends:</td><td><span id="fan-fans-count"></span></td>
        </tr>
        <tr>
          <td width="130px"><i class="icon-comment"></i> Posts:</td><td><span id="fan-posts-count"></span></td>
        </tr>
        <tr  class="facebook_info hidden">
          <td width="130px"><i class="icon-thumbs-up"></i> Likes:</td><td><span id="fan-likes"></span></td>
        </tr>
        <tr  class="facebook_info hidden" >
          <td width="130px"><i class="icon-link  hidden"></i> Talk About:</td><td><span id="fan-talk-about"></span></td>
        </tr>



      </table>
    </div>
  </div>

  <div class="modal-header hide " id="autoresponders" style="text-align:left;">

    <table class="table">
      <% for item in @brand.autoresponders do  %>
          <tr>
            <td> <input type="checkbox" ></td>
            <td>  <%= item.name  %> </td>
          </tr>
        <% end %>
        <td> <input type="checkbox" ></td>
        <td>  <%= text_area_tag "post" ,"text"  %> </td>
        </tr>
      </table>
    </div>

    <div class="modal-footer">


      <div class="pull-left item_command">
  <%#*<a id="fan-page-1" href="#" target ="_blank" ><i class="icon-globe"></i> Home page</a>%>
        <a id="fan-contact" href="#" class=""><i class="icon-envelope"></i> Contact</a>
        <a id="fan-invite" href="#" class="" target="_blank"><i class="icon-glass"></i> Connect</a>
        <a id="fan-competitor" href="" class=""><i class="icon-star"></i> Competitor!</a>
        <a id="fan-ignore" href="" class=""><i class="icon-remove"></i> Ignore</a>
      </div>

      <a href="#" class="btn" data-dismiss="modal">Close</a>

    </div>
  </div>



  <div class="modal hide" id="postModal">
    <% @ppost = Post.new %>
    <%= form_for  @ppost do |f|  %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Post info</h3>
      </div>

      <div class="modal-body">

        <table width="100%">
          <tr style="vertical-align:top;">
            <td width="100px">
              <%= image_tag(Fan.last.profile_image , :size => "100x100" , :id => "rp-img") %> 
              <input id="post-id-keeper" type="hidden"/> 
            </td>
            <td>
              <%= f.text_area(:body, "style" => "width:100%height:300px;", :id => "rp-body", :value => "") %>
              <br/>
              link:   <%= f.text_field :target_link , :id => "rp-url" , :class => "span4"%>
            </td>
          </tr>
        </table>

        <%= f.hidden_field :image_url , :id => "rp-image-url" %>
        <%= f.hidden_field :brand_id , :value => current_user.brand.id %>
        <%= f.hidden_field :kind , :value => "repost" %>
        <%= hidden_field_tag "redirect" ,request.original_url %>
      </div>

      <div class="modal-header hide " id="facebook-pages" style="text-align:left;">

        <table class="table" width="100%">
          <tr style="vertical-align: top">
            <td>
              <h5><i class="icon-facebook"></i> Facebook fan pages</h5>
              <% pages = @brand.get_channel("facebook").fan_pages ; i=0%>
              <% pages = @brand.get_channel("facebook").fan_pages ; i=0%>
              <% for pg in pages do %>
                  <%=  check_box("deploy", "fan-page-#{pg['id']}", {}, "yes", "no")%>&nbsp;<%= pg['name'] %><br/>
                <% end %>
                <br/>
                <h5> <i class="icon-linkedin"></i>  Linkedin Stream </h5>
                <%=  check_box("deploy", "linkedin", {}, "yes", "no")%>&nbsp;<%= "Post on my linkedin stream" %><br/>
              </td>
              <td>
                <h5><i class="icon-twitter"></i> Twitter</h5>
                <%=  check_box("deploy", "twitter-account-main", {}, "yes", "no")%>&nbsp;<%= @brand.get_channel("twitter").profile_name %><br/><br/>

      <%#= text_field_tag "when" ,"", :class => "datePicker"  %>

                <h5> <i class="icon-file"></i>  Blog </h5>
                <%=  check_box("deploy", "reblog", {}, "yes", "no")%>&nbsp;<%= "add to my blog" %><br/>
              </td>
            </tr>
          </table>


        </div>

        <div>
          <div class="modal-footer">
            <div class="pull-left">
              <a id="btn-deploy-to-facebook" href="#" class="btn">channels</a>
              <!--
              <a id="btn-deploy-to-twitter"  href="#" class="btn btn-primary btn-retweet">Delayed Twits</a>
              <a id="btn-deploy-to-twitter-now"  href="#" class="btn btn-primary btn-retweet">Twitter</a>
              <a id="btn-deploy-to-blog"  href="#" class="btn btn-success btn-reblog"><i class="icon-retweet"></i> Reblog</a>
              -->
            </div>
            <%= f.submit "Post!",  :class => "btn btn-primary" %>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
          </div>
        <% end %>
      </div>
    </div>




    <script>
      $(document).ready(function() {
      
        $(document).on("click", "#fan-contact", function () {
          $("#autoresponders").slideToggle(400);
          return false;
        }); 
      
      
        //
        // Fan/Prospect Dialog 
        //
        $(document).on("click", ".cmd-fan", function () {
          window.scrollTo(0, 0);
          var post_id =  $(this).data('fan-id');
      
          $.getJSON('/fans/'+ post_id +'.json/'  , function(data) {
                
            $.each(data, function(key, val) {
              //console.log(key);
              if (key.valueOf() == "id"  ){
                $("#fan-open").attr("href", "/fans/"+ val);
                $("#fan-competitor").attr("href", "/fans/competitor?id="+ val+ "&redirect=<%=request.original_url%>");
                $("#fan-ignore").attr("href", "/fans/ignore?id="+ val+ "&redirect=<%=request.original_url%>");
                $("#fan-invite").attr("href", "/fans/invite?id="+ val+ "&redirect=<%=request.original_url%>");
              }
              if (key.valueOf() == "bio"  ){
                $("#fan-bio").text(val);
              }
              if (key.valueOf() == "picture"  ){
                $("#fan-picture").attr("src",val);
              }
              if (key.valueOf() == "name"){
                $("#fan-name").text(val);
                $("#fan-title").html(val);
              }
              if (key.valueOf() == "fans_count"){
                $("#fan-fans-count").text(val);
              }
              if (key.valueOf() == "posts_count"){
                $("#fan-posts-count").text(val);
                $(".facebook_info").show;
              }
              if (key.valueOf() == "last_post"){
                $("#fan-last-post").text(val);
              }
              if (key.valueOf() == "kind"){
                $("#fan-kind").html(val);
                if (val == "fan"){
                  $("#fan-contact").show();
                  $("#fan-invite").hide();
                }
            
                if (val == "prospect"){
                  $("#fan-invite").show();
                  $("#fan-invite").html("<i class='icon-user></i> Connect");
                  $("#fan-contact").hide();
                }
            
                if (val == "engaged"){
                  $("#fan-invite").show();
                  $("#fan-invite").html("<i class='icon-user></i> Connect");
                  $("#fan-contact").hide();
                }
                if (val == "group"){
                  $("#fan-invite").html("<i class='icon-group'></i> Join Group");
                  $("#fan-contact").hide();
                }
            
                if (val == "subscribed-group"){
              
                }
            
            
              }
              if (key.valueOf() == "network"){
                $("#fan-network").text(val);
              }
              if (key.valueOf() == "likes"){
                $("#fan-likes").text(val);
                $(".facebook_info").show;
              }
              if (key.valueOf() == "talking_about"){
                $("#fan-talk-about").text(val);
                $(".facebook_info").show;
              }
              if (key.valueOf() == "home_page"){
                if (val == null){
                  $("#fan-page-1").hide();
                }else{
                  $("#fan-page-1").attr('href', val);
                  $("#fan-invite").attr('href', val);
                  $("#fan-page-2").text(val);
                  $("#site_url").attr("href",val);
                }
              
              }
            });   
          });      
        });      
  
      } );
    </script>




    <script>
      $(document).ready(function() {
    
        $(document).on("click", "#btn-deploy-to-facebook", function () {
          $("#facebook-pages").slideToggle(400);
          return false;
        });  
    
        $(document).on("click", ".fan-page-btn", function () {
          var page = $(this).data("page-id");
          var post = $("#post-id-keeper").val();
          var content = $("#rp-body").val();
          
          $.getJSON('/posts/deploy_to_facebook?post?id=' + post +'&content=' + content  , function(data) {
            alert(data);
          });  
        });  


        //
        // Repost Nes articles (From admin/test )window.scrollTo(0, 0);
        var post_body =  $(this).data('post-body');
        var post_img =  $(this).data('post-img');
        $("#rp-img").attr("src",post_img);
        $("#rp-image-url").val(post_img);
        $("#rp-body").text(post_body);
        //
        $(document).on("click", ".cmd-repost-news", function () {
          var post_body =  $(this).data('post-body');
          var post_img =  $(this).data('post-img');
          var post_url =  $(this).data('post-url');
        
          $("#rp-img").attr("src",post_img);
          $("#rp-image-url").val(post_img);
          $("#rp-url").val(post_url);
          $("#rp-body").text(post_body);
          window.scrollTo(0, 0);
        });  



        $(document).on("click", ".cmd-repost-movie", function () {
          var post_body =  $(this).data('post-body');
          var post_img =  $(this).data('post-img');
          var post_url =  $(this).data('post-url');
          var movie_url =  $(this).data('movie-url');
        
          $("#rp-img").attr("src",post_img);
          $("#rp-image-url").val(post_img);
          $("#rp-url").val(movie_url);
          $("#rp-body").text(post_body);
          window.scrollTo(0, 0);
        });  

        //
        // Repost Dialog 
        //
        $(document).on("click", ".cmd-repost", function () {
          window.scrollTo(0, 0);

          var post_id =  $(this).data('post-id');
      
          $.getJSON('/posts/'+ post_id +'.json/'  , function(data) {
            var items = [];
        
            $.each(data, function(key, val) {
              console.log(key);
              if (key.valueOf() == "picture"  ){
                $("#rp-img").attr("src",val);
                $("#rp-image-url").val(val);
              }
              if (key.valueOf() == "id"  ){
                $("#post-id-keeper").val( val);
                //$("#btn-deploy-to-facebook").attr("href", "/posts/deploy_to_facebook?id="+ val+ "&redirect=<%=request.original_url%>");
                $("#btn-deploy-to-twitter").attr("href", "/posts/add_to_delayed?id="+ val+ "&redirect=<%=request.original_url%>");
                $("#btn-deploy-to-twitter-now").attr("href", "/posts/add_to_delayed?id="+ val+ "&now=true&redirect=<%=request.original_url%>");
                $("#btn-deploy-to-blog").attr("href", "/articles/new?from_kind=post&from_id="+ val);
                
                
              }
              if (key.valueOf() == "body"){
                //alert(val);
                $("#rp-body").text(val);
              }
            });   
          });      
        });
      
      
      } );
    </script>









    <div class="modal hide" id="mailModal">
      <% @ppost = Email.new %>
      <%= form_for  @ppost do |f|  %>

        <%= f.hidden_field :kind , :value => "manual-email" %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>New Email</h3>
        </div>

        <div class="modal-body">

          <table width="100%">
            <tr style="vertical-align:top;">
              <td>
                To:
              </td>
              <td>
                <%= f.text_field(:to_email, "style" => "width:90%", :id => "email-to", :value => "") %>
              </td>
            </tr>
            <tr style="vertical-align:top;">
              <td>
                Subject:
              </td>
              <td>
                <%= f.text_field(:subject, "style" => "width:90%", :id => "rp-subject", :value => "") %>
              </td>
            </tr>
            <tr style="vertical-align:top;">
              <td colspan="2">
                <%= f.text_area(:text_body, "style" => "width:100%height:600px;", :id => "email-body" , :class => "xwysiwyg") %>
              </td>
            </tr>
            <tr style="vertical-align:top;display:none;">
              <td>
                Template:
              </td>
              <td>
                <select name="email[template_id]">
                  <% for item in @brand.email_templates do  %>
                      <option value="<%=item.id%>"><%= item.name %></option>
                    <% end %>
                  </select>
                </td>
              </tr>

            </table>

          </div>
          <div>
            <div class="modal-footer">
              <div class="pull-left">
                <%= link_to "Template" , ""  %>
              </div>
              <%= f.submit "Send",  :class => "btn btn-primary" %>
              <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            </div>
          <% end %>
        </div>
      </div>


      <style>
       #mailModal .modal-footer{margin-bottom: -25px;mxargin-left: -1px;;maxrgin-right: -1px;}
      </style>


      <script>
        $(document).ready(function() {
          $(document).on("click", ".cmd-new-email", function () {
            var msg = $(this).data("body");
            var email = $(this).data("email");
            $("#email-body").text(msg);
            $("#email-to").val(email);
            mailModal.show();
            return false;
          });  
        });  
      </script>