
<%
 sent = 0
 @brand.bulk_mails.each{|b|sent = sent + b.emails.count}

%>

<table  class=" thumbnail">
  <tr> 
    <td colspan="3" style="text-align: center">
      <b><%= lorem(3) %> </b><br/><br/>
      <%= image_tag Gchart.bar( :data => [ Channel.first.chart_line_1(30)], 
                #:title => 'Competitors Posts and Exposure', 
                :size => "500x40",
                :bg => {:color => 'fff'}, 
                :bar_colors => '67a1db') %> 
      <hr/>
    </td>
  </tr>
  <tr style="vertical-align:top">
    <td width="33%" style="text-align: left; border-right: 1px solid #ddd;padding-left:0.8em; ">
      <b> <span class="title"><%= "Email Sent" %> <span></b><br/>
            <span class="value"> <%=  sent %></span>
      
    </td>
    <td width="33%" style="text-align: left; border-right: 1px solid #ddd;padding-left: 1em;">
      <b> <span class="title"><%= "Users Clicked" %> <span></b><br/>
            <span class="value"><%= @brand.engaged_trackers.count %></span>
      
    </td>
    <td width="33%" style="text-align: left; padding-left: 1em;">
      <b> <span class="title"><%= "Email Opened" %> <span></b><br/>
            <span class="value"><%= @brand.opened_trackers.count %></span>
      <br/><br/>
    </td>
  </tr>
</table>


<style>
  .value{ color:#333; font-size: 28px; line-height: 30px;}
  .title{ color:#aaa;}
</style>



