
<% @channel = @brand.channels.first if @channel.nil? %>
<table class="table " swidth="100%">
  <tr>
    <td>
      <span class="mark_small"> Content  </span>
    </td>
    <td>
      <span class="mark_small">Exposure  </span>
    </td>
    <td>
      <span class="mark_small">Engagment</span>
    </td>
  </tr>
  <tr style="vertical-align: top;">
    <td>
      <div class="mark-div">
        <span class="mark_big"><%= @channel.content_mark %>% 
          <%= image_tag("/assets/icons/up.png" , :size => "18x18") %> 
        </span>
        <br/>
      </div>
    </td>
    <td>
      <div class="mark-div">
        <span class="mark_big"><%= "4%" %> 
          <%= image_tag("/assets/icons/up.png" , :size => "18x18") %> 
        </span>

      </div>
    </td>
    <td>
      <div class="mark-div">
        <span class="mark_big"><%= @channel.engagement_mark%>% 
          <%= image_tag("/assets/icons/up.png" , :size => "18x18") %> 
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <span class="mark_details">
        <%=  number_with_delimiter rand(100000) %>  posts
      </span>
    </td>
    <td>
      <span class="mark_details">
        <%= number_with_delimiter   number_with_delimiter(@channel.exposure_mark) %> users 
      </span>
    </td>
    <td>
      <span class="mark_details">
        <%= number_with_delimiter rand(@channel.engagement_mark) %> users
      </span>
    </td>
  </tr>
</table>

<style>

  .mark-div{
    margin:1em;
    border-right:1px solid #f3f3f3;
  }

  .mark_big{
    font-size:15px;
    font-weight: bold;
<%#*line-height: 35px;%>
    color: #0C717A;
  }

  .mark_div img{
    vertical-align: top;
  }


  .mark_small{
    font-size:16px;
    line-height: 18px;
    color: #666;
  }
  .mark_details{
    text-align: center;
    font-size:12px;
    line-height: 13px;
    color: #666;
  }

</style>