<div style="height:200px;">
  <% for item in fans do   %>
  <div class="fan-image">
    <%= link_to image_tag(item.image_url, :size => "50x50") , item %>
  </div>
  <% end  %>
</div>



<style>
  .fan-image{
    float:left;
    padding:0.4em;
  }
</style>