
<%
sent = 0
@brand.bulk_mails.each{|b|sent = sent + b.emails.count}
@gmail = @brand.get_channel("gmail")
@total_social_messages = 20
%>


<div class=" thumbnail">

  <% if @channel.nil? and @website.nil? %>
    <table  class="table-d ">
      <tr> 
        <td width="33%" style="text-align: left; border-right: 1px solid #ddd;padding-left:0.8em; ">
          <b> <span class="title"><%= "My Website" %> </span></b><br/>
          <span class="value"> <%=  number_with_delimiter @brand.site.total_views %></span> page views

        </td>
        <td width="33%" style="text-align: left; border-right: 1px solid #ddd;padding-left: 1em;">
          <b> <span class="title"><%= "Email Campaigns" %> </span></b><br/>
          <span class="value"><%= number_with_delimiter  @brand.opened_trackers.count %></span> emails

        </td>
        <td width="33%" style="text-align: left; padding-left: 1em;">
          <b> <span class="title"><br/><%= "Social Engagment" %> </span></b><br/>
          <span class="value"><%=  number_with_delimiter  @brand.engaged_users %></span> users
          <br/><br/>
        </td>
      </tr>
    </table>

    <hr/>
    <table class="table-d">
      <tr style="vertical-align:top">
        <td width="50%" style="text-align: left; border-right: 1px solid #ddd;padding-left:0.8em; ">
          <b> <span class="title"><%= "New Messages" %> </span></b><br/>
          <ul class="messages">
            <li class="messages-li"><i class="icon-envelope"></i>  <%="#{@gmail.posts.count} email messages " %> </li>
            <li class="messages-li"><i class="icon-user"></i>  <%=  "#{@brand.inquieries.count} website inquiries  " %> </li>
            <li class="messages-li"><i class="icon-comment"></i>  <%=  "#{@total_social_messages} social networks "%> </li>
          </ul>
        </td>
        <td colspan="2" width="50%" style="text-align: left; padding-left:0.8em; ">
          <b> <span class="title"><%= "Newsletter" %> </span></b><br/>
          <span class="value"><%=  number_with_delimiter  @brand.engaged_users %></span> Views
          <ul class="messages">
            <li class="messages-li"><i class="icon-user"></i>  <%=  "#{@brand.inquieries.count} website inquiries  " %> </li>
            <li class="messages-li"><i class="icon-comment"></i>  <%=  "#{@total_social_messages} social networks "%> </li>
          </ul>
        </td>

      </tr>
    </table>
  <% end %>


  <% if @channel.present? %>

    <table  class="table-d ">
      <tr style="vertical-align:top;"> 
        <td width="33%" style="text-align: left; border-right: 1px solid #ddd;padding-left:0.8em; ">
          <b> <span class="title"><%= "Commenting Ratio" %> </span></b><br/>
          <span class="value"> <%=  number_with_precision(@comment_ratio, :precision => 2) %>%<br/></span> comments per posts

        </td>
        <td width="33%" style="text-align: left; border-right: 1px solid #ddd;padding-left: 1em;">
          <b> <span class="title"><%= "Engaged Users" %> </span></b><br/>
          <span class="value"><%= number_with_delimiter  @channel.fans.where(:kind => 'engaged').count %></span> Users

        </td>
        <td width="33%" style="text-align: left; padding-left: 1em;">
          <b> <span class="title"><%= "Site Views" %> </span></b><br/>
          <span class="value"><%=  number_with_delimiter  rand(1000) %></span> views
          <br/><br/>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr/>
        </td>
      </tr>
      <tr style="vertical-align:top;"> 
        <td width="33%" style="text-align: left; border-right: 1px solid #ddd;padding-left:0.8em; ">
          <b> <span class="title"><%= "Fans" %> </span></b><br/>
          <span class="value"> <%= @channel.fans.where(:kind => "fan").count %></span> fans

        </td>
        <td width="33%" style="text-align: left; border-right: 1px solid #ddd;padding-left: 1em;">
          <b> <span class="title"><%= "Posts" %> </span></b><br/>
          <span class="value"><%= number_with_delimiter  @my_posts.count %></span> posts

        </td>
        <td width="33%" style="text-align: left; padding-left: 1em;">
          <b> <span class="title"><%= "Comments" %> </span></b><br/>
          <span class="value"><%=  number_with_delimiter  @comments.count %></span> comments
          <br/><br/>
        </td>
      </tr>
    </table>
  <% end %>






  <% if @website.present? %>


    <table  class="table-d ">
      <tr style="vertical-align:top;"> 
        <td width="33%" style="text-align: left; border-right: 1px solid #ddd;padding-left:0.8em; ">
          <b> <span class="title"><%= "Website Visits" %> </span></b><br/>
          <span class="value"> <%=  number_with_delimiter @brand.site.total_views %></span> views

        </td>
        <td width="33%" style="text-align: left; border-right: 1px solid #ddd;padding-left: 1em;">
          <b> <span class="title"><%= "Engaged Users" %> </span></b><br/>
          <span class="value"><%= number_with_delimiter  @brand.inquieries.count %></span> Inquiries

        </td>
        <td width="33%" style="text-align: left; padding-left: 1em;">
          <b> <span class="title"><%= "Engagment Ratio" %> </span></b><br/>
          <span class="value"><%=  number_with_delimiter  rand(10) %>%</span> 
            <br/><br/>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr/>
        </td>
      </tr>
    </table>
    <table  class="table-d ">
      <tr style="vertical-align:top;"> 
        <td width="50%" style="text-align: left; border-right: 1px solid #ddd;padding-left:0.8em; ">
          <b> <span class="title"><%= "Campaign Visits" %> </span></b><br/>
          <span class="value"> <%= rand(10) %></span> visits | 
          <%= number_with_delimiter  rand(20) %> Inquiries

        </td>
        <td width="50%" style="text-align: left; padding-left: 1em;">
          <b> <span class="title"><%= "Newsletter Visits" %> </span></b><br/>
          <span class="value"><%= number_with_delimiter  rand(20) %></span> visits | 
          <%= number_with_delimiter  rand(20) %> Inquiries

        </td>
      </tr>
    </table>
  <% end %>



</div>

<style>
  .value{ color:#333; font-size: 28px; line-height: 30px;}
  .title{ color:#aaa;}
  .messages-li{list-style-type: none;}
  ul.messages{ margin:0px;}
  .table-d{ width:100%; text-align: left; font-size:13px; line-height:18px;vertical-align: top; }


</style>



