<table class="table table-striped well">
  <thead>
    <tr>
      <th>  </th>
      <th> When </th>
      <th> Message </th>
    </tr>
  </thead>
  <tbody>
    <% 5.times do  %>
      <tr>
        <td><%= image_tag("/assets/assaf.goldstein.jpg" , :size => "90x90") %></td>
        <td><%= Time.now.strftime("%m/%d") %></td>
        <td>
          <div class="pull-right">
            <%= link_to "expand" %> |  
            <%= link_to "comment" %> 
          </div>
          <b>From : <%= lorem(2)  %></b><br/>
<%= lorem(20) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>