
<table  class=" thumbnail">
  <tr> 
    <td colspan="3" style="text-align: center">
      <b><%= "Brand Engagment" %> </b><br/><br/>
      <%= image_tag Gchart.bar( :data => [ @channel.chart_line_1(30)], 
                #:title => 'Competitors Posts and Exposure', 
                :size => "500x40",
                :bg => {:color => 'fff'}, 
                :bar_colors => '67a1db') %> 
      <hr/>

    </td>
  </tr>
  <tr style="vertical-align:top">
    <td width="33%" style="text-align: left; border-right: 1px solid #ddd;padding-left:0.8em; ">
      <b> <span class="title"><%= "Engage" %> <span></b><br/>
            <span class="value"> <%= @channel.fans.where(:kind => "engadge").count %></span>
      
    </td>
    <td width="33%" style="text-align: left; border-right: 1px solid #ddd;padding-left: 1em;">
      <b> <span class="title"><%= "Comments" %> <span></b><br/>
            <span class="value"><%= @channel.comments.count %></span>
      
    </td>
    <td width="33%" style="text-align: left; padding-left: 1em;">
      <b> <span class="title"><%=  "Content" %> <span></b><br/>
            <span class="value"><%= @channel.posts.count %></span>
      <br/><br/>
    </td>
  </tr>
</table>


<style>
  .value{ color:#333; font-size: 28px; line-height: 30px;}
  .title{ color:#aaa;}
</style>



