<%= form_for Post.new, :html => { :class => 'form-vertical well' } do |f| %>
  <fieldset >

    <div class="control-group">
      <div class="controls">
        <%= f.text_area :body, :rows => 3, :class => 'text_area' , "style" => "" %>
      </div>
    </div>

    <table width="100%"><tr><td>          

          <%
          begin
            token = @brand.facebook_token
            unless token.nil?
              @graph = Koala::Facebook::GraphAPI.new(token) 
              pages = @graph.get_connections("me", "accounts")
            else
              pages =[]
            end
          rescue
            pages =[]
          end

        %>

          <div class="control-group">
            <label class="control-label" for="deployment_Deploy to:">Deploy to:</label>
            <select>
              <% for pg in pages do %>
                  <option><%= pg["name"] %></option>
                <% end %>
              </select>




            </div>

          </td><td>
            <div class="control-group">
              <%= f.label "Attach article", :class => 'control-label' %>
              <div class="controls">
                <%= f.collection_select :target_link,   @brand.articles , :name , :name , :class => "span3"%>
              </div>
            </div>

          </td><td>
            <div class="control-group">
              <%= f.label "Twitter ", :class => 'control-label' %>
              <select class="span2">
                <option>Yes</option>
                <option>No</option>
              </select>

            </div>

          </td><td>
            <div class="control-group">
              <%= f.label "Send Later", :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :created_at , :class => "span2"%>
              </div>
            </div>
          </td><td>
            <%= f.submit "Post", :class => 'btn btn-primary' %>
          </td></tr></table>



    </fieldset>
  <% end %>
