<div class="navbar <%=  @page.toolbar_class  %>">
  <div class="navbar-inner">
    <div class="container">

      <ul class="nav" >
        <li id="logo"><a>Web page Editor</a></li>
      </ul>      


      <div class="nav">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            Goto Page 
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% for page in @page.website.pages.where(:kind => nil).order(:order_in_toolbar) do %>
                <li><a href="/pages/preview?id=<%=page.id%>" ><%= page.name %></a></li>
              <% end %>

            </ul>
          </li>
        </div>


        <div class="nav">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              Create from Template
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Home Page</a>
                <ul class="dropdown-menu">
                  <li><%= link_to("Template I", "") %></li>
                  <li><%= link_to("Template II", "") %></li>
                  <li><%= link_to("Template III", "") %></li>
                </ul>
              </li>
              
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Products and Services</a>
                <ul class="dropdown-menu">
                  <li><%= link_to("Products I", "") %></li>
                  <li><%= link_to("Products II", "") %></li>
                  <li><%= link_to("Products III", "") %></li>
                </ul>
              </li>
              
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Other Pages</a>
                <ul class="dropdown-menu">
                  <li><%= link_to("About Us ", "") %></li>
                  <li><%= link_to("Contact Us with map", "") %></li>
                </ul>
              </li>

          </li>
        </div>



        <div class="nav">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              Select Style
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% for page in @css_templates do %>
                  <li  xclass="dropdown-submenu" ><a href="/pages/set_css_template?id=<%=@page.id%>&template=<%=page.id%>" ><%= page.name %></a></li>
                <% end %>
              </ul>
            </li>
          </div>

          <div class="nav">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                Insert Rows
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Simple</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to("One Column", "/pages/add_line?id=#{@page.id}&layout=1") %></li>
                    <li><%= link_to("Two Cols", "/pages/add_line?id=#{@page.id}&layout=2eq") %></li>
                    <li><%= link_to("Three Cols", "/pages/add_line?id=#{@page.id}&layout=3eq") %></li>
                    <li><%= link_to("Four Cols", "/pages/add_line?id=#{@page.id}&layout=4eq") %></li>
                    <li><%= link_to("Left Sidebar", "/pages/add_line?id=#{@page.id}&layout=31l") %></li>
                    <li><%= link_to("Right Sidebar", "/pages/add_line?id=#{@page.id}&layout=31r") %></li>
                    <li><%= link_to("4-3-4", "/pages/add_line?id=#{@page.id}&layout=434") %></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#"> Heading Rows </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to("Fixed Toolbar", "/pages/add_line?id=#{@page.id}&layout=fixed_toolbar") %></li>
                    <li><%= link_to("Logo and nav bar", "/pages/add_line?id=#{@page.id}&layout=2logo_and_toolbar") %></li>
                    <li><%= link_to("Logo and Company info", "/pages/add_line?id=#{@page.id}&layout=2logo_and_info") %></li>
                    <li><%= link_to("Hero Unit", "/pages/add_line?id=#{@page.id}&layout=1") %></li>
                    <li><%= link_to("Slider", "/pages/add_line?id=#{@page.id}&layout=1") %></li>
                    <li><%= link_to("Picture", "/pages/add_line?id=#{@page.id}&layout=1") %></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Gallery Rows</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to("gallery  - 3 cols", "/pages/add_line?id=#{@page.id}&layout=1") %></li>
                    <li><%= link_to("products - 3 cols", "/pages/add_line?id=#{@page.id}&layout=1") %></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Products and text rows</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to("features - 3 cols", "/pages/add_line?id=#{@page.id}&layout=1") %></li>
                    <li><%= link_to("features - 4 cols", "/pages/add_line?id=#{@page.id}&layout=1") %></li>
                    <li><%= link_to("Projects and Text - 2 cols", "/pages/add_line?id=#{@page.id}&layout=1") %></li>
                    <li><%= link_to("Projects and image - 2 cols", "/pages/add_line?id=#{@page.id}&layout=1") %></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Footer Components</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to("4 Columns Footer Contact,", "/pages/add_line?id=#{@page.id}&layout=4eq") %></li>
                    <li><%= link_to("3 Columns Footer Contact, map , social", "/pages/add_line?id=#{@page.id}&layout=4eq") %></li>
                    <li><%= link_to("3 Columns Footer Who we are? Contact, form", "/pages/add_line?id=#{@page.id}&layout=4eq") %></li>
                    <li><%= link_to("3 Columns Footer Contact, map , form", "/pages/add_line?id=#{@page.id}&layout=4eq") %></li>
                  </ul>
                </li>



            </li>
          </div>
          <%
          def share_button(channel, url)
            img = "/assets/icons/facebook_64.png" if channel.include? "facebook"
            img = "/assets/icons/google_64.png" if channel.include? "google"
            img = "/assets/icons/twitter_64.png" if channel.include? "twitter"
            img = "/assets/icons/youtube_64.png" if channel.include? "youtube"
            return link_to(image_tag(img, :size => "32x32"), url, :target => "_blank")
          end

        %>

      <!--
          <div class="nav pull-right hidden ">

            <ul class="nav  ">
              <li><%#= link_to "Style", "#styleModal", :id => "cmdStyle", "data-toggle" => "modal"  %> </li>
              <li><%#= link_to "css", "/pages/#{@page.id}/edit" , :target => "_blank" %> </li>
              <li><%#= link_to "back", "/websites/#{current_user.brand.site.id}"   %> </li>
            </ul>
          </div>
          -->

          <div class="pull-right share-links-div hidden">
            <%= raw share_button("facebook", "https://www.facebook.com/" + current_user.brand.facebook_page)   unless current_user.brand.facebook_page.nil? %>
            <%= raw share_button("youtube", "http://www.youtube.com/user/" + current_user.brand.youtube_url)  unless current_user.brand.youtube_url.nil? %>
            <%= raw share_button("twitter", "https://twitter.com/#!/" + current_user.brand.twitter_user_id)  unless current_user.brand.twitter_user_id.nil? %>
          </div>

        </div>



      </div>




    </div>

    <%= render :partial => 'style_dialog' %>
    <style>
      .share-links-div{
        margin-top: 5px;
        vertical-align: baseline;
      }
      .xxx{
        vertical-align: text-bottom;
      }
    </style>



