<%#*<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Launch demo modal</a>%>
<% product = Product.first %>

<% unless product.nil? %>
  <%= content_tag "div", id: "products", data: {product: Product.find(1)} do %>
    <div id="productDialog" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3><%= product.name %></h3>
      </div>

      <div class="modal-body">
        <div class="pull-left">
          <%= image_tag product.image_url , :width => "250px" %>
        </div>

        <h4><%= product.name %></h4>
        <%= product.description %><br/>

        Price: <%= number_to_currency(product.price) %>

        <hr/>
        <%= lorem(30) %>
      </div>

      <div class="modal-footer">



        <a href="#" class="btn btn-primary">Buy</a>
        <a href="#" class="btn btn">Rate</a>
        <a href="#" class="btn" data-dismiss="modal" >Close</a>
      </div>
    </div>
  <% end %>
<% end %>





