<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">


      <div class="nav pull-left share-links-div">
        <%= link_to image_tag("/assets/icons/facebook_64.png" , :size => "48x48") , "https://www.facebook.com/" + @brand.facebook_page, :target => "_blank" if @brand.facebook_token %>
        <%= link_to image_tag("/assets/icons/twitter_64.png" , :size => "48x48"), "https://twitter.com/#!/"+@brand.twitter_user_id , :target => "_blank" if @brand.twitter_user_id %>
        <%= link_to image_tag("/assets/icons/youtube_64.png" , :size => "48x48") ,"http://www.youtube.com/user/#{@brand.youtube_url}" , :target => "_blank" if @brand.youtube_url%>
      </div>


       <ul class="nav pull-right">
         <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li class="dropdown">
            <a class="brand"  class="dropdown-toggle" data-toggle="dropdown" >
              <%= image_tag "/assets/icons/logo.png", :size => "20x20" %>
              <%= @brand.name  %>
            </a>
          </li>
        </ul>   

      
      <div class="nav pull-right">
        <% for page in @page.website.pages.where(:kind => nil ).order("order_in_toolbar DESC")[0..6] do %>
            <li><a href="/public/brand/<%= @brand.id %>?page=<%=page.id%>" ><%= page.name %></a></li>
          <% end %>
        </div>

      </div>
    </div>
  </div>

  