<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <ul class="nav">
        <li class="dropdown">
          <a class="brand"  class="dropdown-toggle" data-toggle="dropdown" >
            <%= image_tag "/assets/icons/logo.png", :size => "20x20" %>
            <%= @brand.name  %>
          </a>
        </li>
      </ul>      

      <div class="nav">
        <% for page in @page.website.pages.where(:kind => nil ).order("order_in_toolbar ASC")[0..6] do %>
            <li><a href="/public/brand/<%= @brand.id %>?page=<%=page.id%>" ><%= page.name %></a></li>
          <% end %>
        </div>

        <div class="pull-right share-links-div">
          <%= link_to image_tag("/assets/icons/facebook_64.png" , :size => "48x48") , "http://www.facebook.com/" + @brand.facebook_page, :target => "_blank" if @brand.facebook_token %>
          <%= link_to image_tag("/assets/icons/twitter_64.png" , :size => "48x48"), "http://twitter.com/#!/"+@brand.twitter_user_id , :target => "_blank" if @brand.twitter_user_id %>
          <%#= link_to image_tag("/assets/icons/google_64.png" , :size => "48x48")   , :target => "_blank" if @brand.google_page%>
          <%= link_to image_tag("/assets/icons/youtube_64.png" , :size => "48x48") ,"http://www.youtube.com/user/#{@brand.youtube_url}" , :target => "_blank" if @brand.youtube_url%>
        </div>

        </ul>

      </div>

    </div>
  </div>

  <style>
    .share-links-div{
      margin-top: 5px;
      vertical-align: baseline;
    }
    .xxx{
      vertical-align: text-bottom;
    }
  </style>