
<div class="modal hide" id="replyModal">
  <% @ppost = Email.new %>
  <%= form_for  @ppost do |f|  %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Reply</h3>
    </div>

    <div class="modal-body">

      <table width="100%">
        <tr style="vertical-align:top;">
          <td>
            <%= f.text_field(:to_name, :id => "rp-name", :value => "assas") %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.text_field(:to_email, :id => "rp-email", :value => "assas") %>
          </td>
        </tr>
        <tr>
          <td>
            <select name ="email[template_id]">
              <% for item in Template.where(:kind => "email") do  %>
                  <option value="<%= item.id %>" > <%= item.name %></option>
                <% end %>
              </select>
            </td>
          </tr>
          <Tr>
            <td>
              <%= f.text_area(:body, "style" => "width:100%height:300px;", :id => "rp-body", :value => "assas") %>
            </td>
          </tr>
        </table>

        <%= f.hidden_field :brand_id , :value => current_user.brand.id %>
        <%= f.hidden_field :kind , :value => "repost" %>
        <%= hidden_field_tag "redirect" ,request.original_url %>
      </div>


      <div>
        <div class="modal-footer">
          <%= f.submit "Send",  :class => "btn btn-primary" %>
          <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
      <% end %>
    </div>
  </div>

  <script>
    $(document).ready(function() {

      //
      // Repost Nes articles (From admin/test )
      //
      $(document).on("click", ".cmd-reply", function () {
        window.scrollTo(0, 0);
        var rp_email =  $(this).data('email');
        var rp_name =  $(this).data('name');
        var rp_body =  $(this).data('body');
        $("#rp-body").text(rp_body);
        $("#rp-name").val(rp_name);
        $("#rp-email").val(rp_email);
      });  


      //
      // Repost Dialog 
      //
      $(document).on("click", ".cmd-reply", function () {
        window.scrollTo(0, 0);

        var post_id =  $(this).data('post-id');
      
        $.getJSON('/posts/'+ post_id +'.json/'  , function(data) {
          var items = [];
        
          $.each(data, function(key, val) {
            console.log(key);
            if (key.valueOf() == "picture"  ){
              $("#rp-img").attr("src",val);
            }
            if (key.valueOf() == "id"  ){
              $("#post-id-keeper").val( val);
              //$("#btn-deploy-to-facebook").attr("href", "/posts/deploy_to_facebook?id="+ val+ "&redirect=<%=request.original_url%>");
              $("#btn-deploy-to-twitter").attr("href", "/posts/add_to_delayed?id="+ val+ "&redirect=<%=request.original_url%>");
              $("#btn-deploy-to-twitter-now").attr("href", "/posts/add_to_delayed?id="+ val+ "&now=true&redirect=<%=request.original_url%>");
              $("#btn-deploy-to-blog").attr("href", "/articles/new?from_kind=post&from_id="+ val);
            }
            if (key.valueOf() == "body"){
              //alert(val);
              $("#rp-body").text(val);
            }
          });   
        });      
      });
      
      
    } );
  </script>