<% @fb = @brand.get_channel("facebook") unless @fb.present?  %>
<% @tw = @brand.get_channel("twitter") unless @tw.present?  %>
<% @li = @brand.get_channel("linkedin") unless @li.present?  %>

<% if @fb.in_use? %>
  <% for page in @brand.fan_pages do  %>
      <%= link_to raw("<i class='icon-facebook'></i> #{page.name}"),"/posts/post_to?id=#{post.id}&channel=facebook&page=#{page.uid}&redirect=#{request.original_url}" ,  :data => { :confirm => "Continue Posting to #{page.name}?" }  %>
    <%  end %>
  <% end %>

  <% if @tw.in_use? %>
      <%= link_to raw('<i class="icon-twitter"></i> Twitter'),"/posts/post_to?id=#{post.id}&channel=twitter&redirect=#{request.original_url}" ,  :data => { :confirm => "Continue Posting to Twitter?" }  %>
  <%  end %>
    
  <% if @li.in_use? %>
    <%= link_to raw('<i class="icon-linkedin"></i> Linkedin'),"/posts/post_to?id=#{post.id}&channel=linkedin&redirect=#{request.original_url}" ,  :data => { :confirm => "Continue Posting to Linkedin?" }  %>
  <%  end %>