<table class="table small-text">
  <tr>
    <td>
      <%=  link_to image_tag( "/assets/flat/dashboard-4-64.png" , :size => "32x32" , :class => 'channel-icon-link'),  "/brands" , { :title => "Marketing Dashboard"}%>  
      <br/>
      Dashboard
    </td>
  </tr>
  <tr>
    <td>
      <%=  link_to image_tag( "/assets/flat/globe-5-64.png" , :size => "32x32" , :class => 'channel-icon-link'),  "/websites/#{@brand.site.id}" , { :title => "Website "}%>  
      <br/>
      Website
    </td>
  </tr>
  <tr>
    <td>
      <%=  link_to image_tag( "/assets/flat/email-8-64.png" , :size => "32x32" , :class => 'channel-icon-link'),  "/bulk_mails?campaign=true" , { :title => "Website "}%>  
      <br/>
      Campaigns
    </td>
  </tr>
  <tr>
    <td>
      <%=  link_to image_tag( "/assets/flat/component-newsletter.png" , :size => "32x32" , :class => 'channel-icon-link'),  "/bulk_mails?newsletter=true" , { :title => "Newsletters "}%>  
      <br/>
      Newsletters
    </td>
  </tr>
  
  
  <tr>
    <td>
      <%=  link_to image_tag( "/assets/flat/christmas-20-64.png" , :size => "32x32" , :class => 'channel-icon-link'),  "/products" , { :title => "Newsletters "}%>  
      <br/>
      Products
    </td>
  </tr>
  <tr>
    <td>
      <%=  link_to image_tag( "/assets/flat/calendar-2.png" , :size => "32x32" , :class => 'channel-icon-link'),  "/events" , { :title => "Newsletters "}%>  
      <br/>
      Events
    </td>
  </tr>
  
  <tr>
    <td>
      <%=  link_to image_tag( "/assets/flat/component-article.png" , :size => "32x32" , :class => 'channel-icon-link'),  "/articles" , { :title => "Newsletters "}%>  
      <br/>
      Articles
    </td>
  </tr>
  
  
  <tr>
    <td>
      <%=  link_to image_tag( "/assets/flat/inbox-2-64.png" , :size => "32x32" , :class => 'channel-icon-link'),  "/messages" , { :title => "Incomming messages"}%>  
      <br/>
      Inbox
    </td>
  </tr>
  <tr>
    <td>
      <%=  link_to image_tag( "/assets/flat/user-13-64.png" , :size => "32x32" , :class => 'channel-icon-link'),  "/fans" , { :title => "Fans"}%>  
      <br/>
      Fans
    </td>
  </tr>
  <tr>
    <td>
      <%=  link_to image_tag( "/assets/flat/user-8-64.png" , :size => "32x32" , :class => 'channel-icon-link'),  "/competitors" , { :title => "Competitors"}%>  
      <br/>
      Competitors
    </td>
  </tr>
  <tr>
    <td>
      <%=  link_to image_tag( "/assets/flat/sharethis-64.png" , :size => "32x32" , :class => 'channel-icon-link'),  "/posts"  , { :title => "My Sahres"}%>  
      <br/>
      Shares
    </td>
  </tr>
  <tr>
    <td>
      <%=  link_to image_tag( "/assets/flat/rss-3-64.png" , :size => "32x32" , :class => 'channel-icon-link'),  "/channels/#{@brand.get_channel("rss").id}" , { :title => "RSS News"}%>  
      <br/>
      News
    </td>
  </tr>
  
 
</table>






<style>
  .small-text {
    <%#*width:140px;%>
    <%#*margin-right:20px;%>
  }
  .small-text td{
    text-align:center;
    font-size:13px;
  }
  
</style>