<div class="">
  <% unless link.nil? %>
    <span ><%= link_to(image_tag( "/assets/icons/#{image}.png") , link.to_s) %></span><br/>
  <%else%>
    <span ><%= image_tag "/assets/icons/#{image}.png" %></span><br/>
  <%end%>
  <p style="padding-left: 10px;">
    <a> <i class="icon-user"></i> <%= ": " + rand(300).to_s%></a>
    <br/>
    <a> <i class="icon-eye-open"></i> <%= ": " + rand(300).to_s%></a>
    <br/>
    <a> <i class="icon-comment"></i> <%= ": " + rand(300).to_s%></a>
  </p>
</div>