


<!-- LinkedIn -->
<div class="">
  <span style="float:left"><%= image_tag "/assets/icons/#{image}.png" %><br/></span>
  
  <p style="padding-left: 10px;">
  <a> <i class="icon-user"></i> <%= ": " + rand(300).to_s%></a>
  <br/>
  <a> <i class="icon-eye-open"></i> <%= ": " + rand(300).to_s%></a>
  <br/>
  <a> <i class="icon-comment"></i> <%= ": " + rand(300).to_s%></a>
  </p>
</div>



<!-- Google + -->
<div class="">
  <span style="float:left"><%= image_tag "/assets/icons/#{image}.png" %><br/></span>
  
  <p style="padding-left: 10px;">
  <a> <i class="icon-user"></i> <%= ": " + rand(300).to_s%></a>
  <br/>
  <a> <i class="icon-eye-open"></i> <%= ": " + rand(300).to_s%></a>
  <br/>
  <a> <i class="icon-comment"></i> <%= ": " + rand(300).to_s%></a>
  </p>
</div>