<% @brand = current_user.brand %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      </a>
      <% if current_user %>
        <a class="brand" href="/brands/<%=current_user.brand.id%>">
          <%= image_tag "/assets/icons/logo.png", :size => "32x32" %>
          <%= "SocialMachine" %>
        </a>
      <% end %>

      <div class="nav-collapse">
        <ul class="nav" style = "margin-top:5px;height:20px;" >

          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              Goto 
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/brands" ><%= image_tag "/assets/flat/dashboard-4-64.png", :size => "24x24"   %> Dashboard </a></li>
              <li><a href="/websites/<%= current_user.brand.site.id %>" ><%= image_tag "/assets/flat/globe-5-64.png", :size => "24x24" %> Website </a></li>
              <li class="divider"></li>
              <li><a href="/bulk_mails?campaign=true" ><%= image_tag "/assets/flat/campaign.png", :size => "24x24" %>  Email Campaigns </a></li>
              <li><a href="/bulk_mails?newsletter=true" ><%= image_tag "/assets/flat/newspaper-7-64.png", :size => "24x24" %>  Newsletters </a></li>
              <li class="divider"></li>
              <li><a href="/brands/<%=@brand.id%>/edit?brandinfo" >  <%= image_tag "/assets/flat/info-64.png",:size => "24x24" %> Brand Info </a></li>
              <li><a href="/brands/connections" ><%= image_tag "/assets/flat/network-5-64.png", :size => "24x24" %> Networks Connector </a></li>
              <li><a href="/brands/searches" > <%= image_tag "/assets/flat/magnifier-64.png",:size => "24x24" %> Automatic Searches </a></li>
              <%

              #@brand = current_user.brand 
              #@fb = @brand.get_channel("facebook")
              #@tw = @brand.get_channel("twitter")
              #@li = @brand.get_channel("linkedin")
              #@yt = @brand.get_channel("youtube")
              #@fs = @brand.get_channel("foursquare")
              #@wp = @brand.get_channel("wordpress")
              #@bl = @brand.get_channel("blogger")

            %>

            </ul>
          </li>


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Create 
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/articles/new?kind=article" ><%= image_tag "/assets/flat/document-file-2-64.png",:size => "24x24"   %> New Article </a></li>
              <!--
              <li><a href="/events/new" ><i class="icon-calendar"></i> New Event </a></li>
              -->
              <li><a href="/competitors/new" ><%= image_tag "/assets/flat/user-8-64.png",:size => "24x24"   %> New Competitor </a></li>
              <li class="divider"></li>
              <li><a href="/autoresponders/new" ><%= image_tag "/assets/flat/edit-5-64.png",:size => "24x24"   %> Auto Responder </a></li>
              <li><a href="/bulk_mails/new?kind=newsletter" ><%= image_tag "/assets/flat/newspaper-7-64.png",:size => "24x24"   %> Newsletters </a></li>
              <li><a href="/bulk_mails/new?kind=promotion" ><%= image_tag "/assets/flat/campaign.png",:size => "24x24"   %> Promotion </a></li>
              <li class="divider"></li>
              <li class="dropdown-submenu">
                <a><%= image_tag "/assets/flat/edit-5-64.png",:size => "24x24"   %> Autoresponders</a>
                <ul class="dropdown-menu">
                  <% for item in @brand.autoresponders do  %>
                      <li><a  data-toggle="modal"  class="cmd-new-email" href="#mailModal"  data-body="<%=item.long_message%>"  ><%= image_tag "/assets/flat/edit-5-64.png",:size => "24x24"   %> <%= item.name %></a></li>
                    <% end %>
                </li>
              </ul>              
          </ul>              
          </li>



          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Manage
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/competitors" ><%= image_tag "/assets/flat/user-8-64.png" , :size => "24x24"%> Competitors </a></li>
              <li><a href="/fans" ><%= image_tag "/assets/flat/user-13-64.png" , :size => "24x24"%> Fans </a></li>
              <li class="divider"></li>
              <li><a href="/products" ><%= image_tag "/assets/flat/christmas-20-64.png" , :size => "24x24"%> Products </a></li>
              <li><a href="/events" ><%= image_tag "/assets/flat/calendar-2.png" , :size => "24x24"%> Events </a></li>
              <li class="divider"></li>
              <li><a href="/posts" ><%= image_tag "/assets/flat/sharethis-64.png" , :size => "24x24"%>  Posts </a></li>
              <li><a href="/comments" ><%= image_tag "/assets/flat/speech-bubble-15-64.png" , :size => "24x24"%> Comments </a></li>
              <li><a href="/messages" ><%= image_tag "/assets/flat/inbox-8-64.png" , :size => "24x24"%> Messages </a></li>
              <li class="divider"></li>
              <li><a href="/autoresponders" ><%= image_tag "/assets/flat/edit-5-64.png" , :size => "24x24"%> Auto Responders </a></li>
              <li><a href="/articles" ><%= image_tag "/assets/flat/document-file-2-64.png" , :size => "24x24"%> Articles </a></li>
              <li><a href="/bookmarks" ><%= image_tag "/assets/flat/bookmark-5-64.png" , :size => "24x24"%> Bookmarks </a></li>
            </ul>
          </li>


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Help
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li> <a href="/admin/index" ><i class="icon-user"></i> Admin Dashboard </a></li>
              <% end %>
              <li><a href="/tickets" ><i class="icon-tags"></i>  Support Tickets</a></li>
              <li><a href="/tickets" ><i class="icon-time"></i> News </a></li>
              <li><a href="/tutorials" ><i class="icon-facetime-video"></i> Tutorials </a></li>
              <li class="divider"></li>
              <li><a href="/admin/website_templates" ><i class="icon-picture"></i> Website Templates </a></li>
              <li><a href="/admin/email_templates" ><i class="icon-picture"></i> Email Templates </a></li>
            </ul>


          <li>
          </li>


          </ul>



          <div class="pull-right">
            <table style="">
              <tr>
                <td>
                  <%= form_tag("/brands/search", :method=>'get' , :class=> "form-search  pull-right" , "style" => "margin-top:10px;height:20px;") do %>
                    <%= text_field_tag "search", "search", :class => 'text_field' ,:value => params[:search] %>
                  </td><td>
                    <button type="submit" class="btn"> <%= image_tag "/assets/flat/user-13-64.png",:size => "24x24" %> Search</button>
                  </td></tr></table>
            <% end %>

          </div>


        </div>
      </div>
    </div>
  </div>

