<table class="table">
  <tr>
    <th>IP</th>
    <th>Visits</th>
    <th>Location</th>
    <th>When</th>
  </tr>
  <% for item in trackers do %>
  <tr>
    <td><%= item.ip  %> </td>
    <td><%= item.visits  %> </td>
    <td><%= item.country  %> </td>
    <td><%= time_ago_in_words item.created_at  %> </td>
  </tr>
  <% end %>
</table>