<%
require "twitter"
def load_twits(search_key)
  res = []
  res = Twitter.search(search_key,:rpp => 100)
end

%>

<h3><%= header %></h3><hr/><br/>
<table class="table datatable table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for item in load_twits(search_key) do %>
        <tr>
          <td width="50px"><%= image_tag(item.profile_image_url,:size =>  "48x48")%> </td>
          <td >
            <div class="pull-right">
              <%= link_to "Repost","/articles/new?from_kind=post&from_id=#{item.id}", :class =>"btn repost-button" %>
              <%= link_to "Reply","", :class =>"btn repost-button" %>
            </div>
            <%= item.text%> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>