<% @brand = current_user.brand %>

<div class="row" id="top-row">
  <div class="span8 ">
    <div class="thumbnail">

      <div class="modal-header" style="border:none;">
        <%=  link_to image_tag( "/assets/flat/dashboard-4-64.png" , :size => "48x48" , :class => 'channel-icon-link'),  "/brands" , { :title => "Marketing Dashboard"}%>  
        <%=  link_to image_tag( "/assets/flat/globe-5-64.png" , :size => "48x48" , :class => 'channel-icon-link'),  "/websites/#{@brand.site.id}" , { :title => "Website "}%>  
        <%=  link_to image_tag( "/assets/flat/email-8-64.png" , :size => "48x48" , :class => 'channel-icon-link'),  "/bulk_mails" , { :title => "Email Marketing"}%>  
        <%=  link_to image_tag( "/assets/flat/inbox-2-64.png" , :size => "48x48" , :class => 'channel-icon-link'),  "/messages" , { :title => "Incomming messages"}%>  
        <%=  link_to image_tag( "/assets/flat/user-13-64.png" , :size => "48x48" , :class => 'channel-icon-link'),  "/fans" , { :title => "Fans and Prospects"}%>  
        <%=  link_to image_tag( "/assets/flat/user-8-64.png" , :size => "48x48" , :class => 'channel-icon-link'),  "/competitors"  , { :title => "Competitors"}%>  
        <%=  link_to image_tag( "/assets/flat/sharethis-64.png" , :size => "48x48" , :class => 'channel-icon-link'),  "/posts"  , { :title => "My Sahres"}%>  
        <%=  link_to image_tag( "/assets/flat/rss-3-64.png" , :size => "48x48" , :class => 'channel-icon-link'),  "/channels/#{@brand.get_channel("rss").id}" , { :title => "RSS News"}%>  
        <%=  link_to image_tag( "/assets/flat/text-file-3-64.png" , :size => "48x48" , :class => 'channel-icon-link'),  "/articles" , { :title => "My Articles"}%>  
        <%=  link_to image_tag( "/assets/flat/bookmark-5-64.png" , :size => "48x48" , :class => 'channel-icon-link'),  "/bookmarks" , { :title => "My Bookmarks"}%>  
        <%=  link_to image_tag( "/assets/flat/bar-chart-4-64.png" , :size => "48x48" , :class => 'channel-icon-link'),  "/scores?social=1" , { :title => "Marketing Charts"}%>  

<%#=  link_to image_tag( @fb.icon , :size => "48x48" , :class => 'channel-icon-link'), @brand.get_channel("facebook") , { :title => "Facebook Marketing"}%>
<%#=  link_to image_tag( @tw.icon , :size => "48x48" , :class => 'channel-icon-link'), @brand.get_channel("twitter") , { :title => "Twitter Marketing"}%>
<%#=  link_to image_tag( @li.icon , :size => "48x48" , :class => 'channel-icon-link'), @brand.get_channel("linkedin") , { :title => "Linkedin Marketing"}%>
<%#=  link_to image_tag( @yt.icon , :size => "48x48" , :class => 'channel-icon-link'), @brand.get_channel("youtube") , { :title => "Youtube Marketing"}%>
<%#=  link_to image_tag( @wp.icon , :size => "48x48" , :class => 'channel-icon-link'), @brand.get_channel("wordpress") , { :title => "Wordpress Marketing"}%>
<%#=  link_to image_tag( @bl.icon , :size => "48x48" , :class => 'channel-icon-link'), @brand.get_channel("blogger") , { :title => "Blogger Marketing"}%>
      </div>

    </div>
  </div>
  
  <div class="span4">
    <div class="thumbnail">
      <div class="modal-header">
        <div class="pull-left">
          <%= image_tag @brand.image_url , :size => "48x48" %>
        </div>
          <div style="padding-left:1em;">
            <h3><%= @brand.name %></h3>
            <i> <%= @brand.description %></i>  
          </div>
      </div>
    </div>
  </div>

</div>
<br/>
<style>
  .channel-icon-link{ margin:0.2em;}
</style>