<%= form_for @tutorial, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :category, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :abstract, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :abstract, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :movie_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :movie_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cover_image_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cover_image_url, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tutorials_path, :class => 'btn' %>
  </div>
<% end %>
