<table class="table">
  <thead>
    <tr>
      <th>Sent To</th>
      <th>Template</th>
      <th>Sent At</th>
      <th>Recepients</th>
      <th>Opened</th>
      <th>Engadged</th>
      <th>Unsubscribed</th>
    </tr>
  </thead>
  <tbody>
    <% 3.times do  %>
    <tr>
      <td> <%= Fan.first.name %> </td>
      <td> <%= lorem(4) %> </td>
      <td width="100px"> <%= Time.now.strftime("%m/%d/%y") %></td>
      <td width="80px">  <span class="badge badge-info"> <%= "No"  %> </span> </td>
      <td width="80px">  <span class="badge badge-success"> <%= "No" %> </span> </td>
      <td width="80px">  <span class="badge badge-success"> <%= "No" %> </span> </td>
      <td width="80px">  <span class="badge badge-important"> <%= "No" %> </span> </td>
    </tr>
    <% end %>
  </tbody>
</table>