<%= form_for @email_listing, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Email Listing</legend>

    <div class="control-group">
      <%= f.label :brand_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :brand_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :draft, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :draft, :class => 'check_box' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :template_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :template_id, @templates , "id" ,"name" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :header, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :header, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :body, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :body, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :image, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :image, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :movie, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :movie, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :footer, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :footer, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :daily, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :daily, :class => 'check_box' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :weekly, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :weekly, :class => 'check_box' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :monthly, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :monthly, :class => 'check_box' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', email_listings_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
