<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Template</th>
      <th width="40px">Sent</th>
      <th width="40px">Opened</th>
      <th width="40px">Bounced</th>
      <th width="60px">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @email_listings.each do |email_listing| %>
      <tr>
        <td><%= email_listing.name %></td>
        <td><%= email_listing.template.name %></td>
        <td><span class="btn-info btn"> <%= rand(300)%> </span> </td>
        <td><span class="btn-success btn"> <%= rand(40)%> </span> </td>
        <td><span class="btn-danger btn"> <%= rand(20)%> </span> </td>
        <td>
          <%= link_to 'Edit', edit_email_listing_path(email_listing), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
