<div class="row">

  <div class="span4">
    <div class="pull-right">
      <%= link_to "New Mail" ,"", :class => "btn" %>
    </div>
    <h3>All Fans</h3><hr/>
    <% for fan in Fan.all[0..30]  do %>
      <%= image_tag fan.image_url, :size => "32x32" , :class => "listing-img" %>
    <% end %>
  </div>

  <div class="span4">
    <div class="pull-right">
      <%= link_to "New Mail" ,"", :class => "btn" %>
    </div>
    <h3>Beta Plan Users</h3><hr/>
    <% for fan in Fan.all[39..71]  do %>
      <%= image_tag fan.image_url, :size => "32x32" , :class => "listing-img" %>
    <% end %>
  </div>

  <div class="span4">
    <div class="pull-right">
      <%= link_to "New Mail" ,"", :class => "btn" %>
    </div>
    <h3>News Letter Subscribers</h3><hr/>
    <% for fan in Fan.all[31..40]  do %>
      <%= image_tag fan.image_url, :size => "32x32" , :class => "listing-img" %>
    <% end %>
  </div>

</div>




<style>

  .listing-img{
    float:left;
    padding:0.6em;
  }
</style>