<table class="table">
  <thead>
    <tr>
      <th>Campaign Name</th>
      <th>Sent At</th>
      <th>Recepients</th>
      <th>Opened</th>
      <th>Engadged</th>
      <th>Unsubscribed</th>
    </tr>
  </thead>
  <tbody>
    <% 10.times do  %>
    <tr>
      <td> <%= lorem(4) %> </td>
      <td width="100px"> <%= Time.now.strftime("%m/%d/%y") %></td>
      <td width="80px">  <span class="badge badge-info"> <%= rand(30) %> </span> </td>
      <td width="80px">  <span class="badge badge-success"> <%= rand(30) %> </span> </td>
      <td width="80px">  <span class="badge badge-success"> <%= rand(30) %> </span> </td>
      <td width="80px">  <span class="badge badge-important"> <%= rand(30) %> </span> </td>
    </tr>
    <% end %>
  </tbody>
</table>