<h1>Email Listings</h1>
<%= lorem(50) %>
<br/>
<br/>
<br/>
<div class="tabbable ">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#1" data-toggle="tab">Running Campaigns</a></li>
    <li><a href="#comments" data-toggle="tab">Drafts</a></li>
    <li><a href="#fans" data-toggle="tab">News Letters</a></li>
    <li><a href="#32" data-toggle="tab">Auto Responders</a></li>
    <li><a href="#33" data-toggle="tab">Templates</a></li>
    <li><a href="#34" data-toggle="tab">Listings</a></li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active" id="1">
     <%= render :partial => 'running_campaigns' %>
    </div>


    <div class="tab-pane" id="comments">
       <%= render :partial => 'list' %>
    </div>
    <div class="tab-pane" id="fans">
      <h3>Draft Messages</h3><hr/>
      <%= render :partial => 'list' %>
    </div>
    <div class="tab-pane" id="32">
      <h3>Auto Responding Messages</h3><hr/>
      <%= render :partial => 'auto_responders' %>
    </div>
    <div class="tab-pane" id="33">
      <h3>Email Templates</h3><hr/>
      <%= render :partial => 'list' %>
    </div>
    <div class="tab-pane" id="34">
      <h3>My Email Lists</h3><hr/>
      <%= render :partial => 'listings' %>
    </div>
  </div>
</div>




<%= link_to 'New', new_email_listing_path, :class => 'btn btn-primary' %>

<%= render :partial => 'sidebar'  %>