<h1>Email Listing</h1>

<p>
  <b>Brand</b><br>
  <%= @email_listing.brand_id %>
</p>

<p>
  <b>Name</b><br>
  <%= @email_listing.name %>
</p>

<p>
  <b>Draft</b><br>
  <%= @email_listing.draft %>
</p>

<p>
  <b>Template</b><br>
  <%= @email_listing.template_id %>
</p>

<p>
  <b>Header</b><br>
  <%= @email_listing.header %>
</p>

<p>
  <b>Body</b><br>
  <%= @email_listing.body %>
</p>

<p>
  <b>Sent at</b><br>
  <%= @email_listing.sent_at %>
</p>

<p>
  <b>Image</b><br>
  <%= @email_listing.image %>
</p>

<p>
  <b>Movie</b><br>
  <%= @email_listing.movie %>
</p>

<p>
  <b>Footer</b><br>
  <%= @email_listing.footer %>
</p>

<p>
  <b>Daily</b><br>
  <%= @email_listing.daily %>
</p>

<p>
  <b>Weekly</b><br>
  <%= @email_listing.weekly %>
</p>

<p>
  <b>Monthly</b><br>
  <%= @email_listing.monthly %>
</p>

<div class="form-actions">
  <%= link_to 'Back', email_listings_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_email_listing_path(@email_listing), :class => 'btn' %>
  <%= link_to 'Delete', email_listing_path(@email_listing), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
