<div class="row-fluid">
  <div class="thumbnail">

    <div class="modal-header">
      <%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>

        <div class="pull-right item_command">
          <%= link_to raw("<i class='icon-globe'></i> Langing Page"), ""  %>
          <%= link_to raw("<i class='icon-bar-chart'></i> Charts"), ""  %>
        </div>

        <h2><%= image_tag "/assets/flat/calendar-2.png"  , :size => "48x48"%> <%= @event.title %> </h2>
      </div>
      <div class="modal-header">
        <fieldset>

          <div class="control-group">
            <%= f.label :title, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :title, :class => 'text_field' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :description, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :description, :class => 'text_area' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :starts_on, :class => 'control-label' %>
            <div class="controls">
              <%= f.date_select :starts_on, :class => 'date_select' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :location, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :location, :class => 'text_field' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :price, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :price, :class => 'text_field' %>

              &nbsp;
              <select name="event[currency]">
                <option value="US">US</option>
                <option value="CAD">CAD</option>
                <option value="EURO">EURO</option>
                <option value="ILS">ש"ח</option>
              </select>
            </div>

          </div>

          <div class="control-group">
            <%= f.label :image, :class => 'control-label' %>
            <div class="controls">
              <%= f.file_field :image, :class => 'filet_field' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :remote_image_url, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :remote_image_url, :class => 'text_field' %>
            </div>
          </div>
      </div>
    
    
    <div class="modal-footer">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', events_path, :class => 'btn' %>
    </div>
    </div>

  </fieldset>
<% end %>



</div>


</div>



<style>
  textarea{
    height: 150px;
  }
  select{
    width:100px;
  }

  .modal-footer{margin-bottom: -5px;margin-left: -4px;margin-right: -4px;}
</style>

