<table class="table datatable">
  <thead>
    <tr>
      <th width="100px"></th>
      <th>Upcomming Events</th>
      <th width="40px">Sent</th>
      <th width="40px">Accepted</th>
      <th width="40px">Rejected</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <% if event.fan %>
            <%= image_tag(event.fan.image_url.to_s, :size => "100x100") %>
          <% else %>
            <%= image_tag(event.image_url.to_s, :size => "100x100") %>
          <% end %>
        </td>
        <td>
          <%= link_to event.title, event_path(event) %> <br/>
          <%= event.description[0..200] if event.description %>
          <%= event.created_at.strftime("%m/%d/%y %H:%M") %> <br/>
          Location : <%= event.location %> 
        </td>


        <td> <span class="badge badge-info">12 <%= event.sent_count %></span></td>
        <td><span class="badge badge-success">3<%= event.comming_count %></span></td>
        <td><span class="badge badge-error">4<%= event.not_comming_count %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>


<style>

  .badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: white;
    background-color: #999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }

  .badge-error {
background-color: #B94A48;
}

.badge-success {
background-color: #468847;
}

.badge-info {
background-color: #3A87AD;
}

</style>