<% content_for :sidebar do  %>



    
  <h3> Social Event </h3>
  <table class="table">
    <tr>
      <td><%= render :partial => 'shared/social_gadget' , :locals => {:image => "facebook_64", :link => ""}%></td>
      <td><%= render :partial => 'shared/social_gadget' , :locals => {:image => "eventbrite_64", :link => ""}%></td>
      <td><%= render :partial => 'shared/social_gadget' , :locals => {:image => "eventful_64", :link => ""}%></td>
      <td><%= render :partial => 'shared/social_gadget' , :locals => {:image => "yelp_64", :link => ""}%></td>
    </tr>
  </table>



<% end  %>