<div class="row-fluid">
  <div class="thumbnail">
    <div class="modal-header">
      <div class="pull-right item_command">
        <%= link_to raw("<i class='icon-calendar'></i> Events"), "/events"%>
      </div>
      <h2><%= image_tag "/assets/flat/bar-chart-4-64.png" , :size => "48x48"%> Events charts </h2>
    </div>
    
    <div class="modal-header">
      <%= image_tag("http://chart.apis.google.com/chart?chxt=y,x&cht=lc&chs=800x300&chco=0000ff,00ff00,ff0000&chdl=Trend+1|Trend+2|Trend+3&chd=s:yoeKey9,KUeoy9,9yoeUK&chxr=0,0,6|1,0,6&chtt=Line+Chart&chg=16.6666666666667,16.6666666666667,1.0,0.0&chxs=0,ff00ff,16,0|1,00ffff,16,0")%>
    </div>

    <div class="modal-header">
      <%= image_tag("http://chart.apis.google.com/chart?cht=bvg&chs=800x200&chco=0000ff,ff0000,00ff00&chdl=Trend+1|Trend+2|Trend+3&chd=s:yoeKey,KUeoy9,9yooy9&chtt=Bar+Chart")%>
    </div>
    
  </div>
</div>