
<div class="row-fluid">
  <div class="thumbnail">
    <div class="modal-header">
      
      <div class="pull-right item_command">
        <%= link_to raw("<i class='icon-calendar'></i> New Event"), new_event_path %>
        <%= link_to raw("<i class='icon-bar-chart'></i> Charts"), "/events/charts"  %>
      </div>
      
      <h2><%= image_tag "/assets/flat/calendar-2.png"  , :size => "48x48"%> Events </h2>
    </div>

    <div class="modal-header">
      <div class="row-fluid">
        <div class="span18">
          <%= render :partial => 'list' %>
        </div>
      </div>
    </div>
  </div>



</div>


