


<ul data-role="listview" class="ui-listview">
  <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ">events</li>
  <% for event in @events do  %>
      <a href="/events/<%=event.id%>">
        <li data-theme="c" class="  ui-li">
          <table class="item" width="100%">
            <tr>
              <td width="32px"><%= image_tag event.image_url, :size => "32x32"%></td>
              <td >
                <span class="channel-icon"></span><b><%= event.name %></b><br/>
                <b> friends: <%= rand(10) %> </b>
              </td>
            </tr>
          </table>
          <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
      </a>
    <% end %>
  </li>


  </ul>


  </div><!-- /content -->
