<div class="row-fluid">
  <div class="thumbnail">
    <div class="modal-header">

      <div class="pull-right item_command">
        <%= link_to raw("<i class='icon-globe'></i> Landing Page"), "/public/event/#{@event.id}" , :target => "_blank" %>
        <%= link_to raw("<i class='icon-bar-chart'></i> Charts"), "" %>
      </div>

      <h2><%= image_tag "/assets/flat/calendar-2.png"  , :size => "48x48"%> <%= @event.title %> </h2>
    </div>

    <table class="table">
      <tr>
        <td width="100px;">
          <%= image_tag(@event.image_url , :width => "100px") unless @event.image_url.nil? %>
        </td>
        <td>
          <p>
            <b>Title</b><br>
            <%= @event.title %>
          </p>

          <p>
            <b>Description</b><br>
            <%= @event.description %>
          </p>


          <p>
            <b>Starts on</b><br>
            <%= @event.starts_on %>
          </p>

          <p>
            <b>Location</b><br>
            <%= @event.location %>
          </p>

          <p>
            <b>Price</b><br>
            <%= @event.price %> &nbsp; <%= @event.currency %>
          </p>


        </td>
      </tr>
    </table>
    <div class="modal-header">
      <br/>
      <h3> Invitations for this event </h3><hr/>
      <br/>
      <div class="tabbable ">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#sent" data-toggle="tab">Sent</a></li>
          <li><a href="#accepted" data-toggle="tab">Accepted</a></li>
          <li><a href="#rejected" data-toggle="tab">Rejected</a></li>
        </ul>
        <div class="tab-content">

          <div class="tab-pane active" id="sent">
<%#= render :partial => 'list' %>
          </div>

          <div class="tab-pane" id="accepted">
<%#= render :partial => 'list' %>
          </div>
          <div class="tab-pane" id="rejected">
<%#= render :partial => 'list' %>
          </div>
        </div>
      </div>



      <div class="modal-footer">
        <%= link_to 'Back', events_path, :class => 'btn'  %>
        <%= link_to 'Edit', edit_event_path(@event), :class => 'btn' %>
        <%= link_to 'Delete', event_path(@event), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
        <%= link_to 'Publish',"/events/publish/#{@event.id}" , :class => 'btn btn-success' %>


        <% if @event.published %>
          &nbsp;
          <div class="pull-right">
            <div class="btn-group">
              <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Promote <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="" >Facebook</a></li>
                <li><a href="" >Twitter</a></li>
                <li><a href="" >Eventid</a></li>
                <li><a href="" >Foursquare</a></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<style>
  .modal-footer{margin-bottom: -15px;margin-left: -18px;;margin-right: -18px;}
</style>