  <ul data-role="listview" class="ui-listview">

    
  <ul data-role="listview" class="ui-listview">
    <li>
    <h3><%= @event.title %></h3>
    </li>
    <div data-role="navbar">
      <ul>
        <li><a href="/brands/<%=@event.brand_id %>">Info</a></li>
        <li><a href="#">Groups</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </div>
  </ul>
</ul>


<%= image_tag  @event.image_url %>
<hr/>
