<div class="pull-right" >
	<%= link_to "Save current color" , "/pages/save_colors?id=#{@page.id}", :class => "btn" %>
</div>

<% for color in Color.all do  %>
  <%= raw(color_patch(color)) %>
<% end %>

