<div id="editor-panel" class=" editor hide" dir="ltr">
    <div class="tabbable ">

      <ul class="nav nav-tabs ">
        <li class="active"><a href="#templates" data-toggle="tab">Templates</a></li>
        <%#*<li><a href="#pages" data-toggle="tab">Pages</a></li>%>
        <li><a href="#colors" data-toggle="tab">Colors Patches</a></li>
        <li><a href="#fonts" data-toggle="tab">Colors</a></li>
        <li><a href="#headers" data-toggle="tab">Headers</a></li>
        <li><a href="#hero" data-toggle="tab">Highlight</a></li>
        <li><a href="#toolbar" data-toggle="tab">Toolbar</a></li>
        <li><a href="#bkimage" data-toggle="tab">Background Image</a></li>
        <%#*<li><a href="#toolbar" data-toggle="tab">alternate </a></li>%>
        <li><a href="#add-row" data-toggle="tab">Add Row</a></li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane active" id="templates">
          <%= form_for @website, :html => { :class => 'form-inline well ' } do |f| %>
            <fieldset>
              <%= f.label :template_id, :class => 'control-label' %>
              <%=f.collection_select :template_id, @templates, :id, :name, :prompt => true   %>

              <%= f.label "Enable RTL", :class => 'control-label' %>
              <%= f.check_box :rtl, :class => 'text_field' %>
              
              <%= f.submit "Replace", :class => 'btn btn-primary' %>
              &nbsp;
            </fieldset>
          <% end %>
        </div>


         <div class="tab-pane " id="colors">
           <%= render :partial => 'color_schemes' %> &nbsp;
        </div>
        
        
        <div class="tab-pane " id="rss_news">
          <form class="well form-inline">
            <label >Background </label>
            <%= raw color_picker( "h2", "#444444" ) %>
            <label > Text Color </label>
            <%= raw color_picker( "h3", "#444444" ) %>
            <button type="submit" class="btn">Update</button>
            <label class="checkbox">
              <input type="checkbox"> Reset 
            </label>
          </form>
        </div>

        <div class="tab-pane " id="toolbar">
           <%= form_for @website, :html => { :class => 'form-inline well ' } do |f| %>
          
              <%= f.label :toolbar_font_name, :class => 'control-label' %>
              <%= raw font_selector( :toolbar_font_name, @website.toolbar_font_name) %>
              &nbsp;&nbsp;
          
            <label >Background </label>
            <%= raw color_picker( "toolbar_background_color", "#{@website.toolbar_background_color} "  ) %>
            
            &nbsp;&nbsp;
            <label > Text Color </label>
            <%= raw color_picker( "toolbar_text_color", "#{@website.toolbar_text_color} " ) %>
            
             <label >Font Size</label>
              <div class="input-append">
                <%= f.text_field :toolbar_text_size , :class => "span1"%><span class="add-on">px</span>
              </div>
              &nbsp;&nbsp;
            <button type="submit" class="btn">Update</button>
            <label class="checkbox">
              <input type="checkbox"> Reset 
            </label>
          <%end %>
        </div>


        <div class="tab-pane " id="fonts">

          <%= form_for @website, :html => { :class => 'form-inline well ' } do |f| %>
            <fieldset>
              <%= f.label :text_font_name, :class => 'control-label' %>
              <%= raw font_selector( :text_font_name, @website.text_font_name) %>
              &nbsp;&nbsp;
              <label >Font Size</label>
              <div class="input-append">
                <%= f.text_field :text_size , :class => "span1"%><span class="add-on">px</span>
              </div>
              &nbsp;&nbsp;
              <label >Font Color </label>
              <%= raw color_picker( "text_color", "#{@website.text_color} " ) %>

              &nbsp;&nbsp;
              <label >Background Color</label>
              <%= raw color_picker( "background_color", "#{@website.background_color}" ) %>

              &nbsp;&nbsp;


              <%= f.submit "Replace", :class => 'btn btn-primary' %>
              &nbsp;
            </fieldset>
          <% end %>
        </div>


          <div class="tab-pane " id="bkimage">

          <%= form_for @page, :html => { :class => 'form-inline well ' } do |f| %>
            <fieldset>
              <%= f.hidden_field :id  %>
              <%= f.label :background_image_url, :class => 'control-label' %>
              <%= f.text_field :background_image_url , :class => "span5" %>
              &nbsp;&nbsp;
              
              <%= f.submit "Replace", :class => 'btn btn-primary' %>
              &nbsp;
            </fieldset>
          <% end %>
        </div>

        
        
        
        <div class="tab-pane " id="headers">

          <%= form_for @website, :html => { :class => 'form-inline well ' } do |f| %>
            <fieldset>
              <%= f.label :text_font_name, :class => 'control-label' %>

              <%= raw font_selector( :header_font_name, @website.header_font_name) %>

              &nbsp;&nbsp;

              <label >Heading Color</label>
              <%= raw color_picker( "heading_color", "#{@website.heading_color}" ) %>

              &nbsp;&nbsp;
              <label >H1 Size</label>
              <div class="input-append">
                <%= f.text_field :text_size , :class => "span1"%><span class="add-on">px</span>
                <%#*<input class="span2" id="appendedInput"  type="text">%>
              </div>
              
              &nbsp;&nbsp;
              <label >H2 Size</label>
              <div class="input-append">
                <%= f.text_field :text_size , :class => "span1"%><span class="add-on">px</span>
                <%#*<input class="span2" id="appendedInput"  type="text">%>
              </div>
              
              &nbsp;&nbsp;
              <label >H3 Size</label>
              <div class="input-append">
                <%= f.text_field :text_size , :class => "span1"%><span class="add-on">px</span>
                <%#*<input class="span2" id="appendedInput"  type="text">%>
              </div>
              
              <%= f.submit "Replace", :class => 'btn btn-primary' %>
              &nbsp;
            </fieldset>
          <% end %>
        </div>

        

        <div class="tab-pane " id="hero">

          <%= form_for @website, :html => { :class => 'form-inline well ' } do |f| %>
            <fieldset>
              <label >Font Color </label>
              <%= raw color_picker( "hero_text_color", "#{@website.hero_text_color} " ) %>

              &nbsp;&nbsp;
              <label >Background Color</label>
              <%= raw color_picker( "hero_background_color", "#{@website.hero_background_color}" ) %>

              &nbsp;&nbsp;
              <label >Highlight Color</label>
              <%= raw color_picker( "hero_header_color", "#{@website.hero_header_color}" ) %>


              <%= f.submit "Replace", :class => 'btn btn-primary' %>
              &nbsp;
            </fieldset>
          <% end %>
        </div>


        
        <div class="tab-pane " id="pages">
          <%= image_tag("/assetsscreenshots/news_page.png" , :size => "80x120" , :style => "padding:0.4em;")  %>
          <%= image_tag("/assetsscreenshots/news_page.png" , :size => "80x120" , :style => "padding:0.4em;")  %>
          <%= image_tag("/assetsscreenshots/news_page.png" , :size => "80x120" , :style => "padding:0.4em;")  %>
          <%= image_tag("/assetsscreenshots/news_page.png" , :size => "80x120" , :style => "padding:0.4em;")  %>
        </div>

        

        <div class="tab-pane " id="add-row">
          <a class="btn"  href="/pages/add_line?id=<%=@page.id%>&layout=1" ><i class="icon-file"></i>1 column</a>
          <a class="btn"  href="/pages/add_line?id=<%=@page.id%>&layout=2eq" ><i class="icon-file"></i>2 Equal Columns</a>
          <a class="btn"  href="/pages/add_line?id=<%=@page.id%>&layout=3eq" ><i class="icon-file"></i>3 Equal Columns</a>
          <a class="btn"  href="/pages/add_line?id=<%=@page.id%>&layout=4eq" ><i class="icon-file"></i>4 Equal Columns</a>
          <a class="btn"  href="/pages/add_line?id=<%=@page.id%>&layout=31l" ><i class="icon-file"></i>Left Sidebar </a>
          <a class="btn"  href="/pages/add_line?id=<%=@page.id%>&layout=31r" ><i class="icon-file"></i>Right Sidebar</a>
        </div>

      </div>

    </div>
  </div>




<style type="text/css">
  .editor{
    color:#333;
    background-color: #ddd;
  }

  .colorpicker {
    z-index:40000;
  }
</style>

<script>
  $(function(){
    window.prettyPrint && prettyPrint()
    $('#text_color').colorpicker();
    $('#background_color').colorpicker();
    $('#hero_text_color').colorpicker();
    $('#hero_background_color').colorpicker();
    $('#hero_header_color').colorpicker();
    $('#heading_color').colorpicker();
    $('#toolbar_background_color').colorpicker();
    $('#toolbar_text_color').colorpicker();
  });
</script>


<script>
  $("#btn-editor").click(function() {
    $("#editor-panel").slideToggle(400);
  });
</script>
