<div class="row hide" id="div-slide">
  <div class="span7">
    <table class="table">
      <tr>
        <td>Slide 1 </td>
        <td><input name="p-slide-1" id ='p-slide-1' style="width:100%" /> </td>
        <td> 
          <input type="dropbox-chooser" name="selected-file"  data-link-type="direct" id="db-chooser-1"/>
          <script type="text/javascript">
            document.getElementById("db-chooser-1").addEventListener("DbxChooserSuccess",
            function(e) {
              $("#p-slide-1").val(e.files[0].link);
            }, false);
          </script>
        </td>
      </tr>
      <tr>
        <td>Slide 2 </td>
        <td><input name="p-slide-2" id ='p-slide-2' style="width:100%" /> </td>
        <td> 
          <input type="dropbox-chooser" name="selected-file"  data-link-type="direct" id="db-chooser-2"/>
          <script type="text/javascript">
            document.getElementById("db-chooser-2").addEventListener("DbxChooserSuccess",
            function(e) {
              $("#p-slide-2").val(e.files[0].link);
            }, false);
          </script>
        </td>
      </tr>
      <tr>
        <td>Slide 3 </td>
        <td><input name="p-slide-3" id ='p-slide-3' style="width:100%" /> </td>
        <td> 
          <input type="dropbox-chooser" name="selected-file"  data-link-type="direct" id="db-chooser-3"/>
          <script type="text/javascript">
            document.getElementById("db-chooser-3").addEventListener("DbxChooserSuccess",
            function(e) {
              $("#p-slide-3").val(e.files[0].link);
            }, false);
          </script>
        </td>
      </tr>
      <tr>
        <td>Slide 4 </td>
        <td><input name="p-slide-4" id ='p-slide-4' style="width:100%" /> </td>
        <td> 
          <input type="dropbox-chooser" name="selected-file"  data-link-type="direct" id="db-chooser-4"/>
          <script type="text/javascript">
            document.getElementById("db-chooser-4").addEventListener("DbxChooserSuccess",
            function(e) {
              $("#p-slide-4").val(e.files[0].link);
            }, false);
          </script>
        </td>
      </tr>
      <tr>
        <td>Slide 5 </td>
        <td><input name="p-slide-5" id ='p-slide-5' style="width:100%" /> </td>
        <td> 
          <input type="dropbox-chooser" name="selected-file"  data-link-type="direct" id="db-chooser-5"/>
          <script type="text/javascript">
            document.getElementById("db-chooser-5").addEventListener("DbxChooserSuccess",
            function(e) {
              $("#p-slide-5").val(e.files[0].link);
            }, false);
          </script>
        </td>
      </tr>
      <tr>
        <td>Height </td>
        <td colspan="2"><input name="p-slide-height" id ='p-slide-height' style="width:100px" /> px</td>
      </tr>
    </table>



  </div>
</div>
