<div class="row hide" id="div-article">
  <div class="span6">
    <h5>Select Article</h5>
    <select name="selected_article">
      <% for item in @page.website.brand.articles do  %>
          <option value="<%=item.id%>"><%=  item.name %> </option>
        <% end  %>
      </select>
    </div>
  </div>