<%

  def component(name, image)
    html = "<tr>"
    html << "<td>"
    html << image_tag("/assets/icons/#{image}.png")
    html << "</td>"
    html << "<td>"
    html << "<h4>#{name}</h4>ß#{lorem(10)}"
    html << "</td>"
    html << "</tr>"
  end
%>

<h3>Components List</h3>
<table class="table">
  <%= raw component("Text" , "pages") %>
  <%= raw component("News Ticker" , "news") %>
  <%= raw component("Twitter" , "twitter_64") %>
  <%= raw component("Text" , "television") %>
  <%= raw component("Text" , "television") %>
</table>
