<div class="row span7" id="div-text">
  <table class="table ">
    <tr>
      <td>
        Title:    
      </td>
      <td>
        <input name="p-title" id ='p-title' style="width:100%" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <textarea name="p-body" style="height:200px;" id="p-body" ></textarea>
      </td>
    </tr>
  </table>
</div>