<%= form_for @page, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :website_id, :value => current_user.website.id%>
  <div class="pull-right">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= f.submit "CSS Template", :class => 'btn' %>
      <%= link_to 'Cancel', "/pages/preview?id=#{@page.id}", :class => 'btn' %>
  </div>
  <fieldset>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :header, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :header, :class => 'text_area' , :style => "height:100px;width:100%" %>
      </div>
    </div>



    <div class="control-group">
      <%= f.label :css, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :css, :class => 'text_area',:style => "height:600px;width:100%" %>
      </div>
    </div>


  </fieldset>
<% end %>

<Style>

  .text_area{ width:100%; height:700px;}
</style>