<div class="row hide" id="div-contact">
  <div class="span7">
    <table class="table">
      
      <tr>
        <td colspan="2">
          <input type="checkbox"></input> Email<br/>
          <input type="checkbox"></input> Phone<br/>
          <input type="checkbox"></input> Fax<br/>
          <input type="checkbox"></input> Address<br/>
        </td>
      </tr>
      <tr>
        <td>
          Style:
        </td>
        <td>
          <select name="contact-style" id="contact-style">
            <option> Default   </option>
            <option> Rounded   </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          Align:
        </td>
        <td>
          <select name="contact-align" id="contact-align">
            <option> Left   </option>
            <option> Center   </option>
            <option> Right   </option>
          </select>
        </td>
      </tr>
    </table>
  </div>
</div>