<div class="row hide" id="page-links">
  <div class="span9">
    <table class="table">
      <tr>
        <td>
          <ul>
            <% for page in current_user.brand.site.pages do  %>
                <li> <input type="checkbox"></input> <%= page.name %></li>
              <% end %>
            </ul>
          </td>
        </tr>
        <tr>
        <td>
          Align:
        </td>
        <td>
          <select name="page_links_align" id="page-links-align">
            <option> Left   </option>
            <option> Center   </option>
            <option> Right   </option>
          </select>
        </td>
      </tr>
      </table>
    </div>
  </div>
