<div class="row hide" id="div-feature">

  <div class="span7">
    <table class="table">
      <tr>
        <td width="130px">
          Title
        </td>
        <td colspan="2">
          <input name="p-feature-title" id ='p-feature-title' style="width:100%" />
        </td>
      </tr>
      <tr>
      <tr>
        <td width="130px">
          Body
        </td>
        <td colspan="2">
          <textarea name="p-feature-body" style="height:100px;" id="p-feature-body" ></textarea>
        </td>
      </tr>
      <tr>
        <td width="130px">
          Icon
        </td>
        <td>
           <input name="p-feature-icon" id ='p-feature-icon' style="width:100%" />
          </td>
          <td width="80px">
           <input type="dropbox-chooser" name="selected-file"  data-link-type="direct" id="db-chooser"/>
          <script type="text/javascript">
            document.getElementById("db-chooser").addEventListener("DbxChooserSuccess",
            function(e) {
              $("#p-feature-icon").val(e.files[0].link);
            }, false);
          </script>
        </td>
        </tr>
        <tr>
          <td>
            Icon location
          </td>
          <td colspan="2">
            <select name="p-newsletter-image-location" id="p-image-style">
              <option> None   </option>
              <option> Top   </option>
              <option> Botton   </option>
              <option> left   </option>
              <option> Right   </option>
            </select>
          </td>
        </tr>
      </table>
      <br/>

    </div>

  </div>