<div class="row span7 hide" id="div-hero">
  <table class="table ">
    <tr>
      <td colspan="2">
        <textarea name="p-hero-body" style="height:200px;" id="p-hero-body" ></textarea>
      </td>
    </tr>
    <tr>
      <td>
        Background Color:    
      </td>
      <td>
        <input name="p-hero-bg-color" id ='p-hero-bg-color' style="width:100%" />
      </td>
    </tr>
  </table>
</div>