<div class="row hide" id="div-form">
  <div class="span7">
    <table class="table">
      <tr>
        <td>
          Title:
        </td>
        <td>
          <input name="p-form-title" id ='p-form-title' style="width:100%" />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <textarea name="p-form-body" style="height:100px;width:100%;" id="p-form-body" ></textarea>
        </td>
      </tr>
      
      <tr>
        <td>
          Style:
        </td>
        <td>
          <select name="p-form-style" id="p-form-style">
            <option> Name and Email   </option>
            <option> Message   </option>
            <option> Event   </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          Align:
        </td>
        <td>
          <select name="p-form-align" id="p-form-align">
            <option> Left   </option>
            <option> Center   </option>
            <option> Right   </option>
          </select>
        </td>
      </tr>
    </table>
  </div>
</div>