<div class="row hide" id="div-newsletter">

  <div class="span7">
    <table class="table">
      <tr>
        <td width="130px">
          Title
        </td>
        <td>
          <input name="p-newsletter-title" id ='p-newsletter-title' style="width:100%" />
          </td>
        </tr>
        <tr>
      <tr>
        <td width="130px">
          Select Newsletter:
        </td>
        <td>
          <select name="selected_newsletter">
            <% for item in @page.website.brand.newsletters do  %>
                <option value="<%=item.id%>"><%=  item.name %> </option>
              <% end  %>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            Image location
          </td>
          <td>
            <select name="p-newsletter-image-location" id="p-image-style">
              <option> None   </option>
              <option> Top   </option>
              <option> Botton   </option>
              <option> left   </option>
              <option> Right   </option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            Image height
          </td>
          <td>
            <input name="p-newsletter-image-height" id ='p-image-height' class="span1" />
          </td>
        </tr>
        
        <tr>
        <td width="130px">
          Body
        </td>
        <td>
          <textarea name="p-newsletter-body" style="height:100px;" id="p-newsletter-body" ></textarea>
          </td>
        </tr>
      
      </table>
      <br/>

    </div>

  </div>