<div class="row hide" id="div-social-links">
  <div class="span7">
    <table class="table">
      
      <tr>
        <td colspan="2">
          <input type="checkbox"></input> Facebook<br/>
          <input type="checkbox"></input> Twitter<br/>
          <input type="checkbox"></input> Linkedin<br/>
          <input type="checkbox"></input> Youtube<br/>
        </td>
      </tr>
      <tr>
        <td>
          Style:
        </td>
        <td>
          <select name="social_links_style" id="social-links-style">
            <option> Default   </option>
            <option> Rounded   </option>
            <option> Callout   </option>
            <option> Folded   </option>
            <option> Bottle   </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          Align:
        </td>
        <td>
          <select name="social_links_align" id="social-links-align">
            <option value="pull-left"> Left   </option>
            <option value="pull-right"> Right   </option>
          </select>
        </td>
      </tr>
    </table>
  </div>
</div>