<div class="row hide" id="div-picture">
  <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs" data-app-key="reocy1rb1n2wj19"></script>

  <div class="span9">
    <table class="table">
      <tr>
        <td width="130px">
          Pase Image Url:
        </td>
        <td>
          <input name="p-image-url" id ='p-remote-image-url' style="width:80%" />
         
        </td>
        <td width="80px">
           <input type="dropbox-chooser" name="selected-file"  data-link-type="direct" id="db-chooser"/>
          <script type="text/javascript">
            document.getElementById("db-chooser").addEventListener("DbxChooserSuccess",
            function(e) {
              $("#p-remote-image-url").val(e.files[0].link);
            }, false);
          </script>
        </td>
      </tr>
      <tr>
        <td>
          Image width
        </td>
        <td colspan="2">
          <input name="p-image-width" id ='p-image-width' class="span1" />
        </td>
      </tr>
      <tr>
        <td>
          Image height
        </td>
        <td colspan="2">
          <input name="p-image-height" id ='p-image-height' class="span1" />
        </td>
      </tr>
      <tr>
        <td>
          Border:
        </td>
        <td colspan="2">
          <select name="p-image-style" id="p-image-style">
            <option> None   </option>
            <option> Polaroid   </option>
            <option> Raised   </option>
            <option> Sunken   </option>
          </select>
        </td>
      </tr>
    </table>
    <br/>

  </div>
</div>
