<h3> Icon Collection</h3><hr/>

<%

#
# get the list of icons
#

def convert_file_to_http(file)
  q = file.index("public") + 6
  name = "http://192.168.2.100:3000"+   file[q..file.size]
end


def get_images(folder)
  basedir = "#{Rails.root}/public" + folder
  files = Dir.glob(basedir)
  list = []

  for file in files do 
    list << convert_file_to_http(file)
  end
  list
end

@icons =  get_images("/templates/icons/coquet/*.*")

%>


<% for file in @icons do  %>
    <span cass="icon">
      <%= image_tag(file , :class => 'image-to-select' , :size => "32x32") %>
    </span>
  <% end %>


  <% content_for :head do  %>
    <script>
      // Run the script on DOM ready:
      $(function(){
        $(".image-to-select").bind("click", function(e){
          $( "#page_partial_remote_image_url" ).attr("value", $(this).attr("src")); // copy the picture on the page too.
          $( "#page_partial_image_url" ).attr("value", $(this).attr("src")); // copy the picture on the page too.
          $( "#page_partial_image_preview" ).attr("src", $(this).attr("src")); // copy the picture on the page too.
          return false;
        });
      });
    </script>
  <% end  %>