<div class="row span7 hide" id="div-map">
  <table class="table ">
    <tr>
      <td>
        Address   
      </td>
      <td>
        <input name="p-map-address" id ='p-map-address' style="width:100%" />
      </td>
    </tr>
  </table>
</div>