<div class="row hide" id="div-movie">
  <div class="span6">
    Paste Youtube URL:<br/>
    <input name="p-movie-url" id ='p-movie-url' class="span4" />
    <br/>Movie Height <br/>
    <input name="p-movie-height" id ='p-movie-height' class="span1" />

  </div>
</div>