<%

def replace_with_button_tag(id,name,image, description)
  full_url = "/assets/flat/#{image}.png"

  html = "<tr>"
  html << "<td width='64px'>#{link_to(image_tag(full_url), "", :id => id)}</td>"
  html << "<td>  <b>#{name}</b><br/>#{description}</td>"
  html << "</tr>"


  #html = "<div class='replace-with-button xreload-parent'>"
  #html << "<a id='#{id}'>"
  #html << "<span class='icon-wrapper'>#{image_tag(full_url)} </span><br/>#{name}"
  #html << "</a></div>"
end

def replace_with_link_tag(id,name,image)
  html = "<a id='#{id}'>"
  html << "<i class='icon-arrow-up'></i>&nbsp;" if id.include? "up"
  html << "<i class='icon-arrow-down'></i>&nbsp;" if id.include? "down"
  html << "<i class='icon-pushpin'></i>&nbsp;" if id.include? "top"
  html << "<i class='icon-remove'></i>&nbsp;" if id.include? "remove"
  html << "#{name}"
  html << "</a>"
end

def add_row_tag(name,link)
  html = "<div class='replace-with-button'>"
  html << "<a  href='#{link}'>"
  html << "#{name}<br/><img src='/assets/icons/ruler_pencil.png' width=48 height=48 />"
  html << "</a></div>"
end
%>




<style>
  .replace-with-button{
    float:left;
    margin:1em;
    width:250px;
    background-color: #eee;
    text-align: center;
  }
  .icon-wrapper{
    font-size: 20px;
    color:#990000;
  }

  #myModal02{
    position:absolute;
    left:330px;
    top:100px;

  }
</style>

<div style="direction:ltr;">
  <%= form_tag "/page_partials/quick_update" , :method => 'post' do %>

    <div class="modal hide span7"  id="myModal02">


      <div class="modal-header">
        <div class="pull-right">
          <a id="btn-properties"href="#" class="btnx">Properties</a>
          &nbsp;
          <a id="btn-replace-with"href="#" class="btnx">Components</a>
          &nbsp;
          <a id="btn-replace-row"href="#" class="btnx">Rows</a>
          &nbsp;
          <a id="btn-replace-style"href="#" class="btnx">Style</a>
        </div>
        <h3 id="dialog-title"> &nbsp;&nbsp; Edit </h3>
      </div>


      <div class="modal-header" id="properties">

        <div class="modal-body ">
          <input name="p-id" id ='p-id'  class="hide" style="width:100%" />
          <%= render :partial => 'form_text' %>
          <%= render :partial => 'form_feature' %>
          <%= render :partial => 'form_form' %>
          <%= render :partial => 'form_page_links' %>
          <%= render :partial => 'form_picture' %>
          <%= render :partial => 'form_article' %>
          <%= render :partial => 'form_movie' %>
          <%= render :partial => 'form_slider' %>
          <%= render :partial => 'form_social_links' %>
          <%= render :partial => 'form_contact' %>
          <%= render :partial => 'form_newsletter' %>
          <%= render :partial => 'form_hero' %>
          <%= render :partial => 'form_map' %>

        </div>

      </div>

      <div class="hide modal-body" id="replace-row">
        <div class="span7">
          <table class="table">
            <tr>
              <td width="64px"><%=image_tag "/assets/flat/row-1.png"%></td>
              <td>
                <b><%=  link_to "Single Box","/pages/add_line?id=#{@page.id}&layout=1" %></b><br/>
                <%= lorem(12) %>
              </td>
            </tr>
            <tr>
              <td width="64px"><%=image_tag "/assets/flat/row-2.png"%></td>
              <td>
                <b><%= link_to  "Two Boxes","/pages/add_line?id=#{@page.id}&layout=2eq" %></b><br/>
                <%= lorem(12) %>
              </td>
            </tr>
            <tr>
              <td width="64px"><%=image_tag "/assets/flat/row-4.png"%></td>
              <td>
                <b><%= link_to  "Three Boxes","/pages/add_line?id=#{@page.id}&layout=3eq" %></b><br/>
                <%= lorem(12) %>
              </td>
            </tr>
            <tr>
              <td width="64px"><%=image_tag "/assets/flat/row-4.png"%></td>
              <td>
                <b><%= link_to  "Four Boxes","/pages/add_line?id=#{@page.id}&layout=4eq" %></b><br/>
                <%= lorem(12) %>
              </td>
            </tr>

            <tr>
              <td width="64px"><%=image_tag "/assets/flat/row-left-sidebar.png"%></td>
              <td>
                <b><%= link_to  "Left Sidebar","/pages/add_line?id=#{@page.id}&layout=31l" %></b><br/>
                <%= lorem(12) %>
              </td>
            </tr>
            <tr>
              <td width="64px"><%=image_tag "/assets/flat/row-right-sidebar.png"%></td>
              <td>
                <b><%= link_to  "Right sidebar","/pages/add_line?id=#{@page.id}&layout=31r" %></b><br/>
                <%= lorem(12) %>
              </td>
            </tr>
          </table>
        </div>
      </div>


      <div class="hide modal-body" id="replace-style">
        <div class="span7">
          <h3>Website Style</h3>

          <ul>
            <% for page in @css_templates do %>
                <li   ><a href="/pages/set_css_template?id=<%=@page.id%>&template=<%=page.id%>" ><%= page.name %></a></li>
              <% end %>
            </ul>

          </div>
        </div>





        <div class="hide modal-body" id="replace-with">

          <div class="span7">
            <table class="sdatatable table">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <%= raw replace_with_button_tag("replace-with-text","Text","component-text","Simple text") %>
                <%= raw replace_with_button_tag("replace-with-feature","Feature","component-feature","Title , text and icon") %>
                <%= raw replace_with_button_tag("replace-with-picture","Picture","component-picture","Insert pictures") %>
                <%= raw replace_with_button_tag("replace-with-movie","Movie","component-video","Embed Movies from youtube") %>
                <%= raw replace_with_button_tag("replace-with-slider","Slider","component-slider","slider of pictures with heading") %>

                <%= raw replace_with_button_tag("replace-with-page-links","Pages Toolbar","component-toolbar","Page list toolbar") %>
                <%= raw replace_with_button_tag("replace-with-hero","Hero","component-hero","Highlighed Box with text and pictures") %>

                <%= raw replace_with_button_tag("replace-with-form","Form","component-form", "user form to fill info") %>
                <%= raw replace_with_button_tag("replace-with-article","Article","component-article","shows an article from my articles") %>
                <%#= raw replace_with_button_tag("replace-with-product","Product","component-product",) %>
                <%= raw replace_with_button_tag("replace-with-social-links","Social links","component-social-links","links to social networks") %>
                <%= raw replace_with_button_tag("replace-with-share","Share links","component-share", "Share buttons on social networks") %>
                <%= raw replace_with_button_tag("replace-with-logo","logo & slogen","component-logo","Company logo and slogan") %>
                <%= raw replace_with_button_tag("replace-with-map","Map","component-map","Google Map with my company info") %>
                <%= raw replace_with_button_tag("replace-with-contact","Contact","component-contact","Contact us info ") %>
    <%#= raw replace_with_button_tag("replace-with-gallery","Gallery","icon-th-large") %>
                <%= raw replace_with_button_tag("replace-with-newsletter","Newsletter","component-newsletter","Newsletter articles") %>
              </tbody>
            </table>


          </div>


        </div>





        <div class="modal-footer">
          <div class="pull-right">
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            <%= submit_tag "Save" , :class => "btn btn-primary reload-parent" %>
          </div>


          <div class="item_command pull-left">
            <%= raw replace_with_link_tag("row-up","Move Up","green_arrow_up") %>
            <%= raw replace_with_link_tag("row-top","Move To top","green_arrow_up") %>
            <%= raw replace_with_link_tag("row-down","Move Down","green_arrow_down") %>
            <%= raw replace_with_link_tag("row-remove","Remove Row","warning") %>
          </div>


        </div>

      </div>
    <% end  %>
  </div>

  <script>
    
    function xinspect(o,i){
      if(typeof i=='undefined')i='';
      if(i.length>50)return '[MAX ITERATIONS]';
      var r=[];
      for(var p in o){
        var t=typeof o[p];
        r.push(i+'"'+p+'" ('+t+') => '+(t=='object' ? 'object:'+xinspect(o[p],i+'  ') : o[p]+''));
      }
      return r.join(i+'\n');
    }
    
    $(document).ready(function() {
    
    
      $('iframe').mousedown(function (e){
        alert("click on fash");
        return false;
      });
    
    
      $(document).on("click", ".movie-frame", function () {
        alert("Click on iframe!");
        return false;
      });
    
    
    
    
      $(document).on("click", "#btn-replace-with", function () {
        $("#properties").hide();
        $("#replace-style").hide();
        $("#replace-page").hide();
        $("#replace-row").hide();
        $("#replace-with").hide();
        $("#replace-with").show();
        $("#dialog-title").html("Replace with Component");
        return false;
      });
    
      $(document).on("click", "#btn-replace-row", function () {
        $("#properties").hide();
        $("#replace-style").hide();
        $("#replace-page").hide();
        $("#replace-row").hide();
        $("#replace-with").hide();
        $("#replace-row").show();
        $("#dialog-title").html("Add Rows");
        return false;
      });
    
      $(document).on("click", "#btn-replace-page", function () {
        $("#properties").hide();
        $("#replace-page").hide();
        $("#replace-row").hide();
        $("#replace-with").hide();
        $("#replace-page").show();
        $("#dialog-title").html("Replace Page ");
        return false;
      });
    
      $(document).on("click", "#btn-replace-style", function () {
        $("#properties").hide();
        $("#replace-page").hide();
        $("#replace-row").hide();
        $("#replace-with").hide();
        $("#replace-style").show();
        $("#dialog-title").html("Select Website Style");
        return false;
      });
    
      $(document).on("click", "#btn-properties", function () {
        $("#properties").show()
        $("#replace-style").hide()
        $("#replace-row").hide()
        $("#replace-with").hide()
        $("#dialog-title").html("Properties");
        return false;
      });
    
    
      
      $(document).on("click", ".preview", function () {
        $.getJSON('/page_partials/'+ $(this).data('pid') +'.json/'  , function(data) {
          //alert(xinspect(data));
          var items = [];
          $.each(data, function(key, val) {
            if (key.valueOf() == "id"  ){
              $("#make-heading").attr("href","/page_partials/row_settings?id="+ val +"&kind=heading");
              $("#make-footer").attr("href","/page_partials/row_settings?id="+ val +"&kind=footer");
              $("#span-id").html(val);
              $("#p-id").val(val);
              $("#replace-with-social-links").attr("href","/page_partials/replace_with?id="+ val +"&kind=social-links");
              $("#replace-with-text").attr("href","/page_partials/replace_with?id="+ val +"&kind=text");
              $("#replace-with-feature").attr("href","/page_partials/replace_with?id="+ val +"&kind=feature");
              $("#replace-with-hero").attr("href","/page_partials/replace_with?id="+ val +"&kind=hero");
              $("#replace-with-picture").attr("href","/page_partials/replace_with?id="+ val +"&kind=image");
              $("#replace-with-movie").attr("href","/page_partials/replace_with?id="+ val +"&kind=movie");
              $("#replace-with-slider").attr("href","/page_partials/replace_with?id="+ val +"&kind=slider");
              $("#replace-with-form").attr("href","/page_partials/replace_with?id="+ val +"&kind=form");
              $("#replace-with-article").attr("href","/page_partials/replace_with?id="+ val +"&kind=article");
              $("#replace-with-map").attr("href","/page_partials/replace_with?id="+ val +"&kind=map");
              $("#replace-with-share").attr("href","/page_partials/replace_with?id="+ val +"&kind=share");
              $("#replace-with-product").attr("href","/page_partials/replace_with?id="+ val +"&kind=products");
              $("#replace-with-newsletter").attr("href","/page_partials/replace_with?id="+ val +"&kind=newsletter");
             
              $("#replace-with-contact").attr("href","/page_partials/replace_with?id="+ val +"&kind=contact");
              $("#replace-with-logo").attr("href","/page_partials/replace_with?id="+ val +"&kind=logo");
            
              $("#replace-with-page-links").attr("href","/page_partials/replace_with?id="+ val +"&kind=page_links");
              $("#row-up").attr("href","/pages/move_row_up?pp="+ val +"&id=<%=@page.id%>");
              $("#row-top").attr("href","/pages/move_row_top?pp="+ val +"&id=<%=@page.id%>");
              $("#row-down").attr("href","/pages/move_row_down?pp="+ val +"&id=<%=@page.id%>");
              $("#row-remove").attr("href","/pages/remove_row?pp="+ val +"&id=<%=@page.id%>");
            
            
            }
            if (key.valueOf() == "title"  ){
              $("#p-title").val(val);
              $("#p-form-title").val(val);
              $("#p-movie-url").val(val);
              $("#p-feature-title").val(val);
              $("#p-newsletter-title").val(val);
              $("#p-map-address").val(val);
            }
            if (key.valueOf() == "body"){
              $("#p-body").val(val);
              $("#p-form-body").val(val);
              $("#p-hero-body").val(val);
              $("#p-feature-body").val(val);
              $("#p-newsletter-body").val(val);
              $("#p-body").redactor({
                focus: true
              });
              $("#p-hero-body").redactor();
            }
            
            
           
            if (key.valueOf() == "img_width"){
              $("#p-image-width").val(val);
              $("#p-movie-width").val(val);
            }  
            if (key.valueOf() == "img_height"){
              $("#p-image-height").val(val);
              $("#p-movie-height").val(val);
              $("#p-slide-height").val(val);
            }  
            
            if (key.valueOf() == "style"){
              $("#p-hero-bg-color").val(val);
            }  
            
            if (key.valueOf() == "slide_1"){
              $("#p-slide-1").val(val);
            }
            if (key.valueOf() == "slide_2"){
              $("#p-slide-2").val(val);
            }
            if (key.valueOf() == "slide_3"){
              $("#p-slide-3").val(val);
            }
            if (key.valueOf() == "slide_4"){
              $("#p-slide-4").val(val);
            }
            if (key.valueOf() == "slide_5"){
              $("#p-slide-5").val(val);
            }
          
            if (key.valueOf() == "remote_image_url"){
              $("#p-remote-image-url").val(val);
              $("#p-image-url").attr("src",val);
              $("#p-feature-icon").val(val);
            }
            
            if (key.valueOf() == "kind"){
              
              $("#div-slide").hide();
              $("#div-map").hide();
              $("#div-text").hide();
              $("#div-feature").hide();
              $("#div-hero").hide();
              $("#page-links").hide();
              $("#div-picture").hide();
              $("#div-movie").hide();
              $("#div-article").hide();
              $("#div-newsletter").hide();
              $("#div-contact").hide();
              $("#div-social-links").hide();
              
              
              $("#p-kind").val(val);
              
              if(val === "text"){
                $("#div-text").show();
              }
              
              if(val === "slider"){
                $("#div-slide").show();
              }
              
              if(val === "map"){
                $("#div-map").show();
              }
                           
              if(val === "feature"){
                $("#div-feature").show();
              }
              
              if(val === "hero"){
                $("#div-hero").show();
              }
              
              
              if(val === "form"){
                $("#div-form").show();
              }
              
              if(val === "page_links"){
                $("#page-links").show();
              }
              
              if(val === "image"){
                $("#div-picture").show();
              }
              if(val === "movie"){
                $("#div-movie").show();
              }
              if(val === "article"){
                $("#div-article").show();
              }
              if(val === "contact"){
                $("#div-contact").show();
              }
              if(val === "social-links"){
                $("#div-social-links").show();
              }
              if(val === "newsletter"){
                $("#div-newsletter").show();
              }
            }
          });
        
        });      

    
        $('#myModal02').on('hidden', function () {
          return true;
        })
    
    
        $('#myModal02').modal('show');
        return false;
      });
    
    
    
    } );
  
    

  </script>

  <style>
    #myModal02{
      color:#444;
      width:780px;
    }
  </style>