<div class="modal hide" id="page_layout_selector">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="fan-title">Select page layout</h3>
  </div>

  <div class="modal-body">



    <div id="layoutCarosel" class="carousel slide" ata-interval="40000000">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">

          <div class="pull-left" style="padding:0.4em;">
            <%= image_tag("/assets/layouts-shadow/layoutideas-1-1.jpg" , :width => "300px" ) %>
          </div>
          <div>
            <b><%= lorem(3) %></b><br/>
            <%= lorem(30) %>
            <br/>
            <br/>
            <b><%= "Good For:" %></b><br/>
            <%= lorem(30) %>
          </div>


        </div>
        <div class="item">
          <div class="pull-left" style="padding:0.4em;">
            <%= image_tag("/assets/layouts-shadow/layoutideas-2-1.jpg" , :width => "300px" ) %>
          </div>
          <div>
            <b><%= lorem(3) %></b><br/>
            <%= lorem(30) %>
            <br/>
            <br/>
            <b><%= "Good For:" %></b><br/>
            <%= lorem(30) %>
          </div>
        </div>
        <div class="item">
          <div class="pull-left" style="padding:0.4em;">
            <%= image_tag("/assets/layouts-shadow/layoutideas-3-1.jpg" , :width => "300px" ) %>
          </div>
          <div>
            <b><%= lorem(3) %></b><br/>
            <%= lorem(30) %>
            <br/>
            <br/>
            <b><%= "Good For:" %></b><br/>
            <%= lorem(30) %>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>






  </div>

  <div class="modal-footer">


    <div class="pull-left item_command">
      <a id="fan-page-1" href="#" target ="_blank" ><i class="icon-home"></i> Home page</a>
      <a id="fan-open" href="#" class=""><i class="icon-edit"></i> More</a>
      <a id="fan-invite" href="#" class=""><i class="icon-glass"></i> Invite</a>
      <a id="fan-competitor" href="" class=""><i class="icon-star"></i> Competitor!</a>
      <a id="fan-ignore" href="" class=""><i class="icon-remove"></i> Ignore</a>
    </div>

    <a href="#" class="btn" data-dismiss="modal">Close</a>

  </div>
</div>




<script>
    
  function xinspect(o,i){
    if(typeof i=='undefined')i='';
    if(i.length>50)return '[MAX ITERATIONS]';
    var r=[];
    for(var p in o){
      var t=typeof o[p];
      r.push(i+'"'+p+'" ('+t+') => '+(t=='object' ? 'object:'+xinspect(o[p],i+'  ') : o[p]+''));
    }
    return r.join(i+'\n');
  }
    
  $(document).ready(function() {
    //$("#page_layout_selector").show();
    $("#layoutCarosel")
  });
  
    

</script>

<style>
  #page_layout_selector{ width:800px;}
</style>