
<div class="modal hide"  id="styleModal" style="width:700px">
  <%= form_for @website, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="modal-header">
      <h5> Style </h5>
    </div>

    <div class="modal-header">

      <div id="editor-panel" class=" editor" dir="ltr">

        <div class="tabbable tabs-right">
          <ul class="nav nav-tabs">
            <!--
            <li ><a href="#templates" data-toggle="tab">Templates</a></li>
            <li><a href="#color-patches" data-toggle="tab"> Color Patches </a></li>
            -->
            <li class="active"><a href="#text" data-toggle="tab"> Body </a></li>
            <li ><a href="#hightlight" data-toggle="tab"> Highlight </a></li>
            <li><a href="#toolbar" data-toggle="tab"> Page Links </a></li>
            <li><a href="#frames" data-toggle="tab"> Picture and Movies Fames </a></li>
            <li><a href="#icons" data-toggle="tab"> Icons and Social links </a></li>

            <!--
  <%#*<li><a href="#footer" data-toggle="tab"> Footer </a></li>%>
            <li><a href="#rows" data-toggle="tab"> Rows </a></li>
            <li><a href="#rows" data-toggle="tab"> Advanced </a></li>
            -->
          </ul>
          <div class="tab-content">

            <div class="tab-pane" id="templates">

              <fieldset>
                <%= f.label :template_id, :class => 'control-label' %>
                <%=f.collection_select :template_id, @templates, :id, :name, :prompt => true   %>

                <%= f.label "Enable RTL", :class => 'control-label' %>
                <%= f.check_box :rtl, :class => 'text_field' %>


                &nbsp;
              </fieldset>

            </div>

            <div class="tab-pane " id="color-patches">
              <%= render :partial => 'color_schemes' %> &nbsp;
            </div>


            <div class="tab-pane " id="hightlight">
              <table width="100%">
                <tr>
                  <td colspan="2">
                    <h5>Highlight</h5>
                  </td>
                </tr>
                <tr>
                  <td >
                    Background Color:
                  </td>
                  <td width="70%">
                    <%= raw color_picker( "hero_background_color", "#{@website.hero_background_color} "  ) %>
                  </td>
                </tr>
                <tr>
                  <td width="130px">
                    Text Color:
                  </td>
                  <td>
                    <%= raw color_picker( "hero_text_color", "#{@website.hero_text_color} " ) %>
                  </td>
                </tr>
                <tr>
                  <td width="130px">
                    Header Text Color:
                  </td>
                  <td>
                    <%= raw color_picker( "hero_header_color", "#{@website.hero_header_color} " ) %>
                  </td>
                </tr>

              </table>
            </div>

            <div class="tab-pane " id="toolbar">
              <table width="100%">
                <tr>
                  <td colspan="2">
                    <h5>Toolbar</h5>
                  </td>
                </tr>
                <tr>
                  <td >
                    Background Color:
                  </td>
                  <td width="70%">
                    <%= raw color_picker( "toolbar_background_color", "#{@website.toolbar_background_color} "  ) %>
                  </td>
                </tr>
                <tr>
                  <td width="130px">
                    Text Color:
                  </td>
                  <td>
                    <%= raw color_picker( "toolbar_text_color", "#{@website.toolbar_text_color} " ) %>
                  </td>
                </tr>
                <tr>
                  <td width="130px">
                    Font Name:
                  </td>
                  <td>
                    <%= raw font_selector( :toolbar_font_name, @website.toolbar_font_name) %>

                  </td>
                </tr>
                <tr>
                  <td >
                    Font size
                  </td>
                  <td >
                    <%= f.text_field :toolbar_text_size , :class => "span1"%><span class="add-on">px</span>
                  </td>
                </tr>
              </table>
            </div>

            <div class="tab-pane " id="icons">
              <table width="100%">
                <tr>
                  <td colspan="2">
                    <h5>Icons </h5>
                  </td>
                </tr>
                <tr>
                  <td >
                    Background Color:
                  </td>
                  <td width="70%">
                    <%= raw color_picker( "toolbar_background_color", "#{@website.toolbar_background_color} "  ) %>
                  </td>
                </tr>
                <tr>
                  <td width="130px">
                    Text Color:
                  </td>
                  <td>
                    <%= raw color_picker( "toolbar_text_color", "#{@website.toolbar_text_color} " ) %>
                  </td>
                </tr>
                <tr>
                  <td width="130px">
                    Font Name:
                  </td>
                  <td>
                    <%= raw font_selector( :toolbar_font_name, @website.toolbar_font_name) %>

                  </td>
                </tr>
                <tr>
                  <td >
                    Font size
                  </td>
                  <td >
                    <%= f.text_field :toolbar_text_size , :class => "span1"%><span class="add-on">px</span>
                  </td>
                </tr>
              </table>
            </div>
            

            <div class="tab-pane " id="frames">
              <table width="100%">
                <tr>
                  <td colspan="2">
                    <h5>Pictures Sliders and movies frame</h5>
                  </td>
                </tr>
                <tr>
                  <td width="130px">
                    Frame:
                  </td>
                  <td>
                    <select>
                      <option>None</option>
                      <option>Shadow</option>
                      <option>Thick</option>
                      <option>Polaroid</option>
                      <option>Border</option>
                      <option>Double Border</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td >
                    size
                  </td>
                  <td >
                    <%= f.text_field :toolbar_text_size , :class => "span1"%><span class="add-on">px</span>
                  </td>
                </tr>
              </table>
            </div>

            <div class="tab-pane " id="rows">
              <a class="btn"  href="/pages/add_line?id=<%=@page.id%>&layout=1" ><i class="icon-file"></i>1 column</a>
              <a class="btn"  href="/pages/add_line?id=<%=@page.id%>&layout=2eq" ><i class="icon-file"></i>2 Equal Columns</a>
              <a class="btn"  href="/pages/add_line?id=<%=@page.id%>&layout=3eq" ><i class="icon-file"></i>3 Equal Columns</a>
              <a class="btn"  href="/pages/add_line?id=<%=@page.id%>&layout=4eq" ><i class="icon-file"></i>4 Equal Columns</a>
              <a class="btn"  href="/pages/add_line?id=<%=@page.id%>&layout=31l" ><i class="icon-file"></i>Left Sidebar </a>
              <a class="btn"  href="/pages/add_line?id=<%=@page.id%>&layout=31r" ><i class="icon-file"></i>Right Sidebar</a>
            </div>

            <div class="tab-pane  active" id="text">
              <table width="100%">
                <tr>
                  <td colspan="2">
                    <h5>Background</h5>
                  </td>
                </tr>
                <tr>
                  <td >
                    Background Color:
                  </td>
                  <td width="70%">
                    <%= raw color_picker( "background_color", "#{@website.background_color}" ) %>
                  </td>
                </tr>
                <tr>
                  <td >
                    Background image:
                  </td>
                  <td width="70%">
                    <%= f.text_field :background_image , :class => "span3"  , :value => @page.background_image_url%>
                    <%= f.hidden_field :temp_page_id , :value => @page.id  %>
                  </td>
                </tr>

                <tr>
                  <td >

                  </td>
                  <td width="70%">
                    <select name="image_style">
                      <option value ="Select">Select</option>
                      <option value ="strech">Strech</option>
                      <option value ="repeat">repeat</option>
                      <option value ="repeat-x">repeat x</option>
                      <option value ="repeat-y">repeat y</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <br/>
                    <h5>Text</h5>
                  </td>
                </tr>
                <tr>
                  <td width="130px">
                    Text Color:
                  </td>
                  <td>
                    <%= raw color_picker( "text_color", "#{@website.text_color}" ) %>
                  </td>
                </tr>
                <tr>
                  <td >
                    Text Font
                  </td>
                  <td >
                    <%= raw font_selector( :text_font_name, @website.text_font_name) %>
                  </td>
                </tr>
                <tr>
                  <td >
                    Text Font
                  </td>
                  <td >
                    <%= f.text_field :text_size , :class => "span1"%><span class="add-on">px</span>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">
                    <br/>
                    <h5>Headers</h5>
                  </td>
                </tr>

                <tr>
                  <td width="130px">
                    Text Color:
                  </td>
                  <td>
                    <%= raw color_picker( "heading_color", "#{@website.heading_color}" ) %>
                  </td>
                </tr>
                <tr>
                  <td >
                    Font:
                  </td>
                  <td >
                    <%= raw font_selector( :header_font_name, @website.header_font_name) %>
                  </td>
                </tr>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal-footer">
      <%= f.submit "Update", :class => 'btn btn-primary' %>
    <% end %>
  </div>

</div>





<style type="text/css">

  #styleModal{
    color:#333;
  }


  #styleModal table tr td{
    line-height: 30px;
  }
  .xeditor{
    color:#333;
    background-color: #ddd;
  }

  .colorpicker {
    z-index:40000;
  }
</style>

<script>
  $(function(){
    window.prettyPrint && prettyPrint()
    $('#text_color').colorpicker();
    $('#background_color').colorpicker();
    $('#hero_text_color').colorpicker();
    $('#hero_background_color').colorpicker();
    $('#hero_header_color').colorpicker();
    $('#heading_color').colorpicker();
    $('#toolbar_background_color').colorpicker();
    $('#toolbar_text_color').colorpicker();
  });
</script>


<script>
  $("#btn-editor").click(function() {
    $("#editor-panel").slideToggle(400);
  });
</script>
