<h3>Site Templates </h3><hr/>
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item">
      <img src="http://twitter.github.com/bootstrap/assets/img/examples/bootstrap-example-hero.jpg" alt="">
      <div class="carousel-caption">
        <h4>First Thumbnail label</h4>
        <%= link_to "Use Me" %>
      </div>
    </div>
    <div class="item">
      <img src="http://twitter.github.com/bootstrap/assets/img/examples/bootstrap-example-fluid.jpg" alt="">
      <div class="carousel-caption">
        <h4>Second Thumbnail label</h4>
        <%= link_to "Use Me" %>
      </div>
    </div>
    <div class="item active">
      <img src="http://twitter.github.com/bootstrap/assets/img/examples/bootstrap-example-starter.jpg" alt="">
      <div class="carousel-caption">
        <h4>Third Thumbnail label</h4>
        <%= link_to "Use Me" %>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>