<%#*<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Launch demo modal</a>%>


<div id="myModal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" >&times;</a>
    <h3>Website Editor</h3>
  </div>
  <div class="modal-body">
    <div class="tabbable ">
      <ul class="nav nav-tabs">
        <li  class="active"><a href="#content" data-toggle="tab">Content</a></li>
        <li><a href="#style" data-toggle="tab">Style and Colors</a></li>
        <li><a href="#replace" data-toggle="tab">Replace With</a></li>
        <li><a href="#pictures" data-toggle="tab">Pictures</a></li>
        <li><a href="#rows" data-toggle="tab">Rows</a></li>
      </ul>
      <div class="tab-content">

        <div class="tab-pane active" id="content">
          <% @page_partial = PagePartial.last %>
          <%= form_for @page_partial, :html => { :class => 'form-vertical' } do |f| %>
            <fieldset>
              <div class="control-group">
                <%= f.label :title, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :title, :class => 'text_field' %>
                </div>
              </div>

              <div class="control-group">
                <%= f.label :body, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_area :body,  :rows => 6, "style" => "width:90%",:class => 'text_area' %>
                </div>
              </div>

              <table width="100%"><tr><td>
                    <div class="control-group">
                      <%= f.label :image, :class => 'control-label' %>
                      <div class="controls">
                        <%= f.file_field :image, "style" => "width:100px" ,:class => 'text_field' %>
                      </div>
                    </div>
                  </td><td>
                    <div class="control-group">
                      <%= f.label :remote_image_url, :class => 'control-label' %>
                      <div class="controls">
                        <%= f.text_field :remote_image_url,"style" => "width:100px" , :class => 'text_field' %>
                      </div>
                    </div>
                  </td><td>
                    <div class="control-group">
                      <%= f.label :img_width, :class => 'control-label' %>
                      <div class="controls">
                        <%= f.text_field :img_width, "style" => "width:60px" ,:class => 'text_field' %>
                      </div>
                    </div>
                  </td><td>
                    <div class="control-group">
                      <%= f.label :img_height, :class => 'control-label' %>
                      <div class="controls">
                        <%= f.text_field :img_height, "style" => "width:60px" ,:class => 'text_field' %>
                      </div>
                    </div>
                  </td></tr>
              </table>
              <%= f.submit nil, :class => 'btn btn-primary' %>
            </fieldset>
          <% end %>
        </div>

        <div class="tab-pane " id="pictures">
          <%#= render :partial => 'form_pictures' %>
        </div>

        <div class="tab-pane" id="replace">
          <%= render :partial => 'form_components' %>
        </div>

      </div>
    </div>



    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>
    <div id="imgSearchControl" class="search-control">Loading...</div>
    <!--Remove all floating-->

    <div class="clear"></div>

    <!--Image will be shown here-->
    <div id='imageContainer'></div>

  </div>


  <div class="modal-footer">
    <a href="#" class="btn btn-primary">Save changes</a>
    <a href="#" class="btn" data-dismiss="modal" >Close</a>
  </div>
</div>







