<div class="row">
  <div class="span12">
    <%= form_for @page, :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.hidden_field :website_id, :value => current_user.website.id%>
      <fieldset>
        
        <div class="control-group">
          <%= f.label :name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, :class => 'text_field' %>
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :css, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :css, :class => 'text_area' , "style" => "width:98%;height:70%" %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to 'Cancel', pages_path, :class => 'btn' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
