<%=  raw @page.to_html %>


<% content_for :head do  %>
  <%= raw @fonts %>
  <style>
  <%= raw @website_css  %>
  <%= raw @page.website.computed_css %>
  <%= raw @page.css unless @page.css.nil? %>
  <%= raw @socialmachine_css unless @socialmachine_css.nil? %>


  <% unless @page.background_image_url.nil? or @page.background_image_url.empty?  %>
      body{
        background-image:url( '<%=@page.background_image_url%>');
        <% if @page.background_image_style.present? and @page.background_image_style.include? "strech" %>
          background-repeat:no-repeat;
          background-size: 100%;
        <% end %>
        <% if @page.background_image_style.present? and  @page.background_image_style.include? "repeat" %>
          background-repeat:repeat;
        <% end %>
      }

  <% end %>
  
  </style>


  <%= render  :partial => 'rtl_support' if @page.website.rtl? %>
  <!-- ADD KEYWORDS AND META DATA -->
  <!-- ADD Gooogle Analytics -->




<%= render :partial => 'inline_edit' %>



  <script>
    $(function() {
      
      $(".carousel").carousel();

      $(".preview-inline-menu", this).hide();
      $(".preview").hover(
      function () {
        $(".preview-inline-menu", this).show();
      }, 
      function () {
        $(".preview-inline-menu", this).hide();
      }
    );
    });
  </script>

<% end  %>
  
  
  
 