
  <div class="page_wrapper_div">
    <div class="page_wrapper">
      <%=  raw @page.to_html %>
    </div>
  </div>


<%= render :partial => 'inline_edit' %>





<% content_for :head do  %>
  <%= raw @page.website.template.html %>
  <style>
  <%= raw @page.website.template.the_css  %>
  <%#= raw @page.website.computed_css %>
  <%#= raw @page.css unless @page.css.nil? %>
  <%= raw @socialmachine_css unless @socialmachine_css.nil? %>

  <% unless @page.background_image_url.nil? or @page.background_image_url.empty?  %>
      body{
        background-image:url( '<%=@page.background_image_url%>');
        <% if @page.background_image_style.present? and @page.background_image_style.include? "strech" %>
          background-repeat:no-repeat;
          background-size: 100%;
        <% end %>
        <% if @page.background_image_style.present? and  @page.background_image_style.include? "repeat" %>
          background-repeat:repeat;
        <% end %>
      }

  <% end %>
  
  </style>


  <%= render  :partial => 'rtl_support' if @page.website.rtl? %>
  <!-- ADD KEYWORDS AND META DATA -->
  <!-- ADD Gooogle Analytics -->







  <script>
    $(function() {
      
      
      $('.movie-frame').bind('click', function(event) { alert("Hi!"); return false});
      
      
      $(".carousel").carousel();

      $(".preview-inline-menu", this).hide();
      $(".preview").hover(
      function () {
        $(".preview-inline-menu", this).show();
      }, 
      function () {
        $(".preview-inline-menu", this).hide();
      }
    );
    });
  </script>

<% end  %>
  
  