<h1>Page</h1>

<p>
  <b>Website</b><br>
  <%= @page.website_id %>
</p>

<p>
  <b>Template</b><br>
  <%= @page.template_id %>
</p>

<p>
  <b>Name</b><br>
  <%= @page.name %>
</p>

<p>
  <b>Order in toolbar</b><br>
  <%= @page.order_in_toolbar %>
</p>

<p>
  <b>Show in toolbar</b><br>
  <%= @page.show_in_toolbar %>
</p>

<p>
  <b>Kind</b><br>
  <%= @page.kind %>
</p>

<p>
  <b>Css</b><br>
  <%= @page.css %>
</p>

<p>
  <b>Header</b><br>
  <%= @page.header %>
</p>

<div class="form-actions">
  <%= link_to 'Back', pages_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_page_path(@page), :class => 'btn' %>
  <%= link_to 'Delete', page_path(@page), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
