<% unless comments.nil? %>
<table class="table datatable">
  <thead>
    <tr>
      <th width="65px"></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for item in @comments do  %>
        <tr>
          <td><%= image_tag item.image_url, :size => "60x60"   %> </td>
          <td>
            <div class="pull-right">
              <%= link_to "Reply" %>
            </div>
            <%= image_tag item.post.icon, :size => "16x16" unless item.post.nil? %>
            <b><%= item.name %> </b><br/>
               <%= item.message %> 
          </td>
          <td><%= item.created_at.strftime("%m/%d") %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>