<table class="table table-striped">
  <% for item in @fan.events do  %>
  <tr>
    <td>
      <b><%= item.title %></b><br/>
      <%= item.starts_on %><br/>
      <%= item.location %><br/>
      Invited: <%= item.sent_count %><br/>
      Attending: <%= item.comming_count %><br/>
      declined: <%= item.not_comming_count %><br/>
      <%#= item.inspect %>
    </td>
  </tr>
  <% end %>
</table>