<table class="table datatable">
  <thead>
    <tr>
      <th width="32px"></th>
      <th width="32px">Channel</th>
      <th>Name</th>
      <th width="50px">likes</th>
      <th width="50px">Talking about</th>
    </tr>
  </thead>
  <tbody>
    <% list.each do |fan| %>
      <tr>
        <td><%= image_tag(fan.profile_image,:size => "32x32") %></td>
        <td><%= image_tag(fan.icon ,:size => "32x32") %></td>
        <td><%= link_to fan.name, fan_path(fan) %><br/><%= fan.bio%> (<%= fan.kind%>) </td>
        <td><%= number_with_delimiter fan.likes  %></td>
        <td><%= number_with_delimiter fan.talking_about  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
