

<div class="row-fluid thumbnail">
  <div class="span12">
    <%= form_for @fan, :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.hidden_field :brand_id, :class => 'number_field' %>
      <fieldset>
        <legend><%= controller.action_name.capitalize %> Fan</legend>

        <div class="pull-right hide">
          <%= image_tag @fan.profile_image %>
        </div>

        <div class="control-group">
          <%= f.label :name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :website, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :home_page, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group hide">
          <%= f.label :screen_name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :screen_name, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :email, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :email, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :group_tags, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :group_tags, :class => 'text_field' %>
          </div>
        </div>
      </fieldset>
      <div class="modal-footer adjust">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to 'Cancel', fans_path, :class => 'btn' %>
      </div>

    <% end %>
  </div>
</div>

<style>
  .adjust{ margin-left: -4px;margin-bottom:-23px; margin-right: -4px;}
  </style>