

<table class="table table-striped">
  <% for item in @fan.groups do  %>
      <tr>
        <td>
          <div class="pull-right">
            <%= link_to "Repost","/articles/new?from_kind=post&from_id=#{item.id}", :class =>"btn repost-button" %>
            <%= link_to "Join", item.url, :target => "_blank",  :class =>"btn repost-button" %>
          </div>
          
          <b><%= item.title %></b><br/>
            <%= item.description[0..200] unless item.description.nil? %>
        </td>
        <td width="40px">
          <%= item.members_count %>
        </td>
      </tr>
    <% end %>
  </table>