<table class="table datatable">
  <thead>
    <tr>
      <th width="32px"></th>
      <th>Name</th>
      <th width="100px">kind</th>
      <th width="50px">Friends </th>
      <th width="50px">posts</th>
    </tr>
  </thead>
  <tbody>
    <% list.each do |fan| %>
      <tr>
        <td><%= link_to image_tag(fan.profile_image,:size => "32x32"), fan %></td>
        <td>
          <%= image_tag fan.channel.icon, :size => "16x16"  unless fan.channel.nil? %> <%= link_to fan.name, fan_path(fan) %>
          <% if fan.bio %>
            <br/><%= fan.bio[0..200]%> (<%= fan.kind%>)
          <% end %>
          <br/>
          <div class="item_command">
            <a href=""><i class="icon-envelope"></i> send message</a>
            <% if  fan.channel and  fan.channel.facebook? %>
              <%  surl = "https://www.facebook.com/dialog/send?app_id=123050457758183&to=#{fan.uid}&name=Welcome20To%20The%20social%20machine&link=http://www.socialmachine.biz&redirect_uri=http://23.21.17.104"%>


              <a href="http://www.facebook.com/dialog/friends/?id=<%=fan.uid%>&app_id=123050457758183&redirect_uri="<%=  request.original_url %>" target="_blank"><i class="icon-glass"></i> invite</a>
              <a href="<%= surl %>" target="_blank"><i class="icon-comment"></i> send message</a>
            <% end %>
              <a href="/fans/competitor?id=<%=fan.id%>&redirect=<%=request.original_url%>"><i class="icon-star"></i> Competitor!</a>
            <a href="/fans/ignore?id=<%=fan.id%>&redirect=<%=request.original_url%>"><i class="icon-remove-sign"></i> ignore</a>
            <a href="/fans/search?id=<%=fan.id%>"><i class="icon-search"></i> search</a>
          </div>
        </td>
        <td><%= fan.kind%></td>
        <td><%= number_with_delimiter fan.exposure%></td>
        <td><%= number_with_delimiter fan.posts_count  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
