
<script > 
  $(document).ready(function() {
    $('#mydiv_twitter').socialist({ 
      networks: [ 
        {name:'twitter',id:'<%=@fan.screen_name%>'}
      ], 
      maxResults:25 ,
      theme:'clean'
    }); 
    
    $('#mydiv_facebook').socialist({ 
      networks: [ 
        {name:'facebook',id:'<%=@fan.uid%>'}
      ], 
      maxResults:25 ,
      theme:'clean'
    }); 
  }); 
</script>



<div class="row" style="background-color: #ddd;margin-left: 20px;">
  <div id="mydiv_facebook"></div> 
  <div id="mydiv_twitter"></div> 
</div>