<table class="table datatable">
  <thead>
    <tr>
      <th width="65px"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% unless @fan.posts.nil? %>
      <% for item in @fan.posts %>

        <tr>
          <td >
            <%= image_tag(@fan.profile_image, :size => "64x64")  %> 
          </td>
          <td >
            <div class="pull-right">
              <div class="btn-group">
                <a class="btn btn" href="#">Actions </a>
                <a class="btn btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li> <a href="/articles/new?from_kind=post&from_id=#{item.id}"><i class="icon-file"></i> Repost</a> </li>
                  <% if item.channel.youtube? %>
                    <li> <a href="/articles/new?from_kind=movie&from_id=#{item.id}"><i class="icon-file"></i> Repost</a> </li>
                  <% end %>
                  <li> <a href="<%= item.target_link%> "><i class="icon-file"></i> Reply</a> </li>
                  <% if item.channel.facebook? %>

                  <% end %>

                </ul>
              </div>
            </div>
                  <%= time_ago_in_words item.posted_at || Time.now %>  | <%= item.title %>
            <br/>
            <p>
              <%= strip_html(item.body) unless item.body.nil?%>
            </p>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>



<style>

  .text{
    color:#999;
  }
  .badge-error {
    background-color: #B94A48;
  }

  .badge-success {
    background-color: #468847;
  }

  .badge-info {
    background-color: #3A87AD;
  }
</style>