
<% content_for :sidebar do %>
  <h2><%=  @fan.name %> </h2>

  <%= @u.bio if @u %>

  <table class="table">
    <tr>
      <td width="100px">
        <%= link_to   image_tag(@fan.profile_image , :size => "100x100") , @fan %>
      </td>
      <td>
        Friends:
        <br/>
        <b><%= @fan.friends %></b><br/>
        Content Generating:
        <br/>
        <b><%= @fan.posts.count %></b><br/>
        User Responsivness:
        <br/>
        <b><%= @fan.comments.count %></b><br/>
      </td>
    </tr>
  </table>
<% end %>