<h4> import </h4><hr/>

<%= form_tag :action => "import"  do %>
  <%= text_area_tag :data , :width => "100%" , :rows => "20"%>
  <%= submit_tag "Save" %>
<% end %>


<table class="table">
  <% for item in @brand.fans.where(:kind => "imported-email") do  %>
      <tr>
        <td width="30px"> <input type="checkbox"/> </td>
        <td><%=  link_to item.name , item %>  </td>
        <td><%=  link_to item.email , item%>  </td>
      </tr>
    <% end %>
  </table>