<%= render :partial => 'shared/upper_row' %>


<div class="thumbnail">
  <div class="modal-header">
    
    <div class="pull-right item_command">
        <%= link_to raw("<i class='icon-plus'></i> New Fan"), new_fan_path%>
        <%= link_to raw("<i class='icon-bar-chart'></i> Charts"), "/fans/charts" %>
      </div>
      
    
    <h2> <%= image_tag "/assets/flat/user-13-64.png" , :size => "48x48"   %> Fans</h2>
  </div>
  <br/>
  <div class="tabbable ">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#fans" data-toggle="tab"> Fans</a></li>
      <!--
      <li><a href="#facebook" data-toggle="tab"> Facebook</a></li>
      <li><a href="#twitter" data-toggle="tab"> Twitter</a></li>
      <li><a href="#linkedin" data-toggle="tab"> Linkedin</a></li>
      -->
      <li><a href="#emails" data-toggle="tab"> Email Contacts</a></li>
      <li><a href="#stats" data-toggle="tab"> Engaged</a></li>
    </ul>
    <div class="tab-content">
      
      <div class="tab-pane active" id="fans">
        <%= render :partial => 'list' , :locals => {:list =>  @fans} %>
      </div>

      <div class="tab-pane" id="linkedin">
        <%#= render :partial => 'list' , :locals => {:list =>  @brand.get_channel("linkedin").fans.where(:kind => "fan")} %>
      </div>
      
      <div class="tab-pane" id="emails">
        <%= render :partial => 'list' , :locals => {:list =>  @brand.fans.where("email is not null")} %>
      </div>
      
      <div class="tab-pane" id="facebook">
        <%#= render :partial => 'list' , :locals => {:list =>  @brand.get_channel("facebook").fans.where(:kind => "fan")} %>
      </div>

      <div class="tab-pane" id="twitter">
        <%#= render :partial => 'list' , :locals => {:list =>  @brand.get_channel("twitter").fans } %>
      </div>

      <div class="tab-pane" id="prospects">
        <%#= render :partial => 'list' , :locals => {:list =>  @prospects} %>
      </div>

      <div class="tab-pane" id="competitors">
        <%#= render :partial => 'fb_list' , :locals => {:list =>  @brand.get_channel("facebook").fans.where(:kind => "competitor")} %>
      </div>

      <div class="tab-pane" id="stats">
        <h3>&nbsp;&nbsp;Engedge Fans</h3><hr/>
        <%= render :partial => 'list' , :locals => {:list =>  @brand.fans.where(:kind => 'engaged') } %>
      </div>
      
    </div>
  </div>

</div>
