<% @brand = current_user.brand %>



<subview ui-associations="withNavBar ">

  <scrollpanel>

    <tableview>
      <tableheader>
        <%= params[:kind] %>
      </tableheader>
      
      <% for fan in @fans do  %>
          <tablecell ui-usage="image">
            <%= image_tag(fan.image_url, :size => "50x50") %>
            <celltitle>
              <div style="float:right">
                 <i>
                    <%= link_to number_with_delimiter(fan.exposure) + " friends",fan %> 
                  on <%=link_to fan.channel.name , fan unless fan.channel.nil?%>
                 </i>
              </div>
            <%= link_to fan.name , fan   %>
            </celltitle>
            <div style="font-size: 12px; font-weight: none;">
              <%= fan.short_bio %><br/>
            </div>
          </tablecell>
        <% end %>
      </tableview>
    </scrollpanel>
  </subview >






  <% content_for :footer do  %>

    <uibutton ui-icon-align="top">
      <a href ="/fans?kind=fan">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_users.png)"></icon>
        <label>Fans</label></a>
    </uibutton>

    <uibutton ui-icon-align="top">
      <a href ="/fans?kind=prospect">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_users.png)"></icon>
        <label> Prospects</label></a>
    </uibutton>

    <uibutton ui-icon-align="top">
      <a href ="/fans?kind=competitor">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_users.png)"></icon>
        <label>Competitors</label></a>
    </uibutton>
    <uibutton ui-icon-align="top">
      <a href ="/fans?kind=engadge">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_favorities.png)"></icon>
        <label>Engadged</label></a>
    </uibutton>

    <uibutton ui-icon-align="top">
      <a href ="/brands">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_home.png)"></icon>
        <label>Home</label></a>
    </uibutton>


  <%end%>


