<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%#= params[:name] %>
<div class="row thumbnail">
  <div class="span12">
    <h2>Searching <%= params[:name] %></h2>
  </div>
  <div class="span4">
    <h5><%= params[:name] %> on Facebook </h5>
    <table class="table">
      <%  unless  @res[:facebook].nil? %>
        <% for item in @res[:facebook] do %>
            <tr>
              <td width="48px"><%= image_tag item["pic_small"] , :size => "48x48" %> </td>
              <td ><%= item["name"]%><br/> <%= link_to "home page", item["profile_url"] %>  <br/>Friends: <%= number_with_delimiter item["friend_count"] %> </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>

    <div class="span4">
      <h5><%= params[:name] %> on Twitter </h5>
      <table class="table">
        <%  unless  @res[:twitter].nil? %>
          <% for item in @res[:twitter] do %>
              <tr>
                <td>
                  <div class="pull-left"  style="padding-right:1em;">
                    <%= image_tag item.profile_image_url , :size => "48x48" %>
                  </div>
                  <%= item.name %> <br/>
                  Followers: <%= number_with_delimiter(item.followers_count) %> |
                  Posts: <%= number_with_delimiter(item.statuses_count) %> 
                  <% if item.location.present? %>
                    <br/>
                    Location : <%= item.location %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>

      <div class="span3">
        <h5><%= params[:name] %> on Linkedin </h5>
        <table class="table">
          <%  unless  @res[:linkedin].nil?  %>
            <% for item in @res[:linkedin] do %>
                <% unless item["person"].nil? %>
                  <tr>
                    <td>
                      <div class="pull-left" style="padding-right:1em;">
                        <%= image_tag(item["person"][0]["picture-url"][0] , :size => "48x48") %>
                      </div>
                      <%= item["person"][0]["first-name"][0] %> <%= item["person"][0]["last-name"][0] %> <br/>
                      <%= item["person"][0]["headline"][0] %><br/>
                      <%= item["person"][0]["industry"][0] %><br/>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </table>
        
        <h5> Pictures of <%=params[:name]%> </h5><hr/>
        <div id="content">Loading...</div>
        
        </div>

      </div>




      <script>
        $(function() {
      <%#*alert( "Hellot!");%>
      })
      </script>



      <% content_for :head do  %>
        <script src="http://www.google.com/jsapi?hl=en" type="text/javascript"></script>
        <script type="text/javascript">
          $(function() {
      
      
            var res_google ="";
            var res_facebook = "";
            var res_linkedin = "";
            var res_twitter = "";
      
      
            var search = new $.GoogleSearch().search('<%=params[:name]%> -facebook -Twitter -linkedin', {}, function(data) {
              jvalue = JSON.stringify(data[0]);
        
        
              //alert(jvalue);
              console.log(" GOOGLE ");
              console.log(jvalue);
              console.log("-----------");
              res_google = JSON.stringify(data[0]);
        
              console.log(data);
              search.cleanUp();
        
              $("#google ul").append('<li><a href="/user/messages"><span class="tab">'+ res_google +'</span></a></li>');
            })
      
      
            var search = new $.GoogleSearch().search('<%=params[:name]%> facebook ', {}, function(data) {
              jvalue = JSON.stringify(data[0]);
              //alert(jvalue);
              console.log(" FACEBOOK ");
              console.log(jvalue);
              console.log("-----------");
              res_facebook = JSON.stringify(data[0]);
              //$(".result").appendChild("<li> <b></b><br/>    <li>");
              console.log(data);
              search.cleanUp();
            })
      
            var search = new $.GoogleSearch().search('<%=params[:name]%> linkedin ', {}, function(data) {
              jvalue = JSON.stringify(data[0]);
              //alert(jvalue);
              res_linkedin = JSON.stringify(data[0]);
              console.log(" Linkedin ");
              console.log(jvalue);
        
              console.log("-----------");
        
              //$(".result").appendChild("<li> <b></b><br/>    <li>");
              console.log(data);
              search.cleanUp();
            })
      
      
      
            var search = new $.GoogleSearch().search('<%=params[:name]%> Twitter ', {}, function(data) {
              jvalue = JSON.stringify(data[0]);
              //alert(jvalue);
              res_twitter = JSON.stringify(data[0]);
              console.log(" Twitter ");
              console.log(jvalue);
              console.log("-----------");

        <%#*//$(".result").appendChild("<li> <b></b><br/>    <li>");%>
        <%#*console.log(data);%>
        search.cleanUp();
        })
      
      
      
      
      
        $(".result").html("GOOGLE<br/>" + res_google + "<hr/>FACEBOOK<BR/>" + res_facebook + "<hr/>TWITTER<br/>" + res_twitter);
        })
        </script>




        <script src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">

          google.load('search', '1');

          var imageSearch;

          function addPaginationLinks() {
      
            // To paginate search results, use the cursor function.
            var cursor = imageSearch.cursor;
            var curPage = cursor.currentPageIndex; // check what page the app is on
            var pagesDiv = document.createElement('div');
            for (var i = 0; i < cursor.pages.length; i++) {
              var page = cursor.pages[i];
              if (curPage == i) { 

                // If we are on the current page, then don't make a link.
                var label = document.createTextNode(' ' + page.label + ' ');
                pagesDiv.appendChild(label);
              } else {

                // Create links to other pages using gotoPage() on the searcher.
                var link = document.createElement('a');
                link.href="http://image-search/v1/javascript:imageSearch.gotoPage("+i+');';
                link.innerHTML = page.label;
                link.style.marginRight = '2px';
                pagesDiv.appendChild(link);
              }
            }

            var contentDiv = document.getElementById('content');
            contentDiv.appendChild(pagesDiv);
          }

          function searchComplete() {

            // Check that we got results
            if (imageSearch.results && imageSearch.results.length > 0) {

              // Grab our content div, clear it.
              var contentDiv = document.getElementById('content');
              contentDiv.innerHTML = '';

              // Loop through our results, printing them to the page.
              var results = imageSearch.results;
              for (var i = 0; i < results.length; i++) {
                // For each result write it's title and image to the screen
                var result = results[i];
                var imgContainer = document.createElement('div');
                var title = document.createElement('div');
            
                // We use titleNoFormatting so that no HTML tags are left in the 
                // title
                title.innerHTML = result.titleNoFormatting;
                var newImg = document.createElement('img' );
                newImg.className = "search-img";
                // There is also a result.url property which has the escaped version
                newImg.src= result.tbUrl;
                //imgContainer.appendChild(title);
                imgContainer.appendChild(newImg);

                // Put our title + image in the content
                contentDiv.appendChild(imgContainer);
              }

              // Now add links to additional pages of search results.
              //addPaginationLinks(imageSearch);
            }
          }

          function OnLoad() {
      
            // Create an Image Search instance.
            imageSearch = new google.search.ImageSearch();

            // Set searchComplete as the callback function when a search is 
            // complete.  The imageSearch object will have results in it.
            imageSearch.setSearchCompleteCallback(this, searchComplete, null);

            // Find me a beautiful car.
            imageSearch.execute("<%= params[:name] %>");
        
            // Include the required Google branding
            google.search.Search.getBranding('<%=params[:name]%>');
          }
          google.setOnLoadCallback(OnLoad);
        </script>

      <% end %>


      <style>
        .search-img{
          float:left;
          height:50px;
          width:50px;
          margin-left: 20px;
        }
      </style>