<%= render "shared/upper_row" %>

<div class="row-fluid">
  <div class="thumbnail span12" >
    <div class="modal-header ">
      <div class="pull-right">

        <div class=" item_command">
          <%= link_to raw('<i class="icon-pencil"> </i> Edit'), edit_fan_path(@fan) %>


          <% if @fan.kind.include? "fan"  and @fan.invited_at.nil? %>
            <a id="btn-invite" id="fan-invite" href="/fans/invite?id=<%=@fan.id%>&redirect=<%=request.original_url%>" ><i class="icon-glass"></i> Invite</a>
          <% end %>

          <%= link_to raw('<i class="icon-remove"> </i> Delete'), fan_path(@fan), :method => 'delete', :confirm => 'Are you sure?' %>
          <a href="/fans/competitor?id=<%=@fan.id%>&redirect=<%=request.original_url%>"><i class="icon-star"></i> Competitor!</a>
        </div>

      </div>

      <div class="modal-header">
        <table class="xtable">
          <tr>
            <td width="48x48">
              <%= image_tag @fan.profile_image , :size => "48x48"  , :id => "fan_image_preview"%>
            </td>
            <td style="valign:top">
              <b>  <%= @fan.name %> </b><br/>
              <%= @fan.kind %> on <%= @fan.channel.name %>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-header">

        <div class="tabbable ">
          <ul class="nav nav-tabs">
            <li class="active" ><a href="#profile" data-toggle="tab">Profile</a></li>
            <li ><a href="#google-search" data-toggle="tab">Social Search</a></li>
            <li ><a href="#messages" data-toggle="tab">Messages</a></li>
          </ul>

          <div class="tab-content">

            <div class="tab-pane active " id="profile">


              <div class="row-fluid">
                <div style="background-color: #fff;">
                  <div class="span6">
                    <table class="table">
                      <tr>
                        <td colspan="2">

                          <b>Bio:</b><br/>
                          <%= @fan.short_bio %><br/>
                          <br/><b>Location:</b><br/>
                          <%= @fan.location %>
                          <hr/><b>Website:</b><br/>
<%#= @fan.home_page unless @fan.home_page.nil?%>
                          <%= @fan.website[0..30] unless @fan.website.nil?%>
                          <hr/><b>Email:</b><br/>
                          <%= @fan.email%>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <div class="span5">

                    <table class="table table-striped">
                      <tr>
                        <td ><i class="icon-user"></i> <%= "Friends:" %> </td> <td ><%= number_with_delimiter @fan.exposure %></td>
                      </tr>
                      <% if @fan.channel.twitter? %>
                        <tr>
                          <td ><i class="icon-group"></i> <%= "Following:" %> </td> <td ><%= number_with_delimiter @fan.following %></td>
                        </tr>
                      <% end %>
                      <tr>
                        <td ><i class="icon-comment"></i> <%= "Posts:"%> </td> <td ><%= number_with_delimiter @fan.posts_count%></td>
                      </tr>
                      <tr>
                        <td ><i class="icon-thumbs-up"></i> <%= "Likes:"%> </td> <td ><%=  number_with_delimiter  @fan.likes %></td>
                      </tr>
                      <tr>
                        <% if @fan.channel.facebook? %>
                          <td ><i class="icon-retweet"></i> <%= "User engagment"%> </td> <td ><%= number_with_delimiter @fan.talking_about %></td>
                        <% end %>
                      </tr>
                    </table>



                    <h5><%= @fan.name%> on social networks</h5>
                    <div class="social-bar">
                      <% if @fan.facebook_uid %>
                        <a href="" ><span class="on"><i class="icon-facebook"></i> </span></a>
                      <% else %>
                        <a href="" ><span class="off"><i class="icon-facebook"></i> </span></a>
                      <% end %>

                      <% if @fan.twitter_uid %>
                        <a href="" ><span class="on"><i class="icon-twitter"></i> </span></a>
                      <% else %>
                        <a href="" ><span class="off"><i class="icon-twitter"></i> </span></a>
                      <% end %>

                      <% if @fan.linkedin_uid %>
                        <a href="" ><span class="on"><i class="icon-linkedin"></i> </span></a>
                      <% else %>
                        <a href="" ><span class="off"><i class="icon-linkedin"></i> </span></a>
                      <% end %>

                      <% if @fan.google_plus_uid %>
                        <a href="" ><span class="on"><i class="icon-google-plus"></i> </span></a>
                      <% else %>
                        <a href="" ><span class="off"><i class="icon-google-plus"></i> </span></a>
                      <% end %>
                    </div>
                    <style>
                      .social-bar{
                        font-size: 32px;
                      }

                      .social-bar .on{
                        width:90px;
                        text-align: center;
                        margin:0.2em;
                        padding:0.2em;
                        background-color:#990000;
                        color:#fff;
                      }

                      .social-bar .off{
                        width:90px;
                        text-align: center;
                        margin:0.2em;
                        padding:0.2em;
                        background-color:#ddd;
                        color:#fff;
                      }
                    </style>

                  </div>


                </div>
              </div>

            </div>


            <div class="tab-pane " id="messages" style="height:400px;">
              <div class="pull-right">
                <% if @fan.email %>
                  <div class="btn-group">
                    <button type="submit" class="btn">Reply to email</button>
                    <a class="btn  dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu left">
                      <li><a href=""><i class="icon-pencil"></i> write a messags</a></li>
                      <li class="divider"></li>
                      <% for item in BulkMail.where(:kind => "autoresponder") do  %>
                          <li><a  data-toggle="modal"  class="cmd-new-email" href="#mailModal"  data-body="<%=item.body%>" data-email="<%= @fan.email %>"  ><i class="icon-envelope"></i> <%= item.name %></a></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                </div>
                <h3>Messages from <%= @fan.name %></h3><hr/>
              </div>




              <div class="tab-pane" id="tw_posts">
                <h3>Post made by <%= @fan.name %></h3><hr/>
                <%= render :partial => "twits" %>
              </div>


              <div class="tab-pane " id="google-search">
                <div class="pull-right item_command">
                  <a href=""></i class="icon-add"></i> Add to <%= @fan.name %></a>
                </div>
                <h3><%= @fan.name  %> on other social networks </h3>
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%  unless  @name_search_results[:facebook].nil?  %>
                      <% for item in @name_search_results[:facebook] do %>
                          <tr class="">
                            <td width="20px"><%= check_box_tag :post %> </td>
                            <td width="48px"><%= image_tag item["pic_small"] , :size => "48x48" %> </td>
                            <td >
                              <div class="pull-right">Facebook</div>
                              <%= item["name"]%><br/> <%= link_to "home page", item["profile_url"] %>  
                              <br/>Friends: <%= number_with_delimiter item["friend_count"] %> 
                            </td>
                          </tr>
                        <% end %>
                      <% end %>


                      <%  unless  @name_search_results[:twitter].nil?  %>
                        <% for item in @name_search_results[:twitter] do %>
                            <tr>
                              <td width="20px"><%= check_box_tag :post %> </td>
                              <td>
                                <%= image_tag item.profile_image_url , :size => "48x48" %>
                              </td>
                              <td>
                                <div class="pull-right">Twitter</div>
                                <%= item.name %> <br/>
                                <%= item.description %>
                                Followers: <%= number_with_delimiter(item.followers_count) %> |
                                Posts: <%= number_with_delimiter(item.statuses_count) %> |
                                Location: <%= item.location %> |
                              </td>
                            </tr>
                          <% end %>
                        <% end %>


                        <%  unless  @name_search_results[:linkedin].nil?  %>
                          <% for item in @name_search_results[:linkedin] do %>
                              <% unless item["person"].nil? %>
                                <%

                                begin
                                  img = item["person"][0]["picture-url"][0]
                                rescue
                                  img = ""
                                end
                              %>
                                <tr>
                                  <td width="20px"><%= check_box_tag :post %> </td>
                                  <td>
                                    <%= image_tag(img , :size => "48x48") %>
                                  </td>
                                  <td>
                                    <div class="pull-right">Linkedin</div>
                                    <%= item["person"][0]["first-name"][0] %> <%= item["person"][0]["last-name"][0] %> <br/>
                                    Headline:  <%= item["person"][0]["headline"][0] %><br/>
                                    Industry:  <%= item["person"][0]["industry"][0] %><br/>
                                  </td>
                                </tr>
                              <% end %>
                            <% end %>
                          <% end %>

                        </tbody>
                      </table>
                    </div>

                    <div class="tab-pane" id="posts">
                      <h3>Post made by <%= @fan.name %></h3><hr/>
                      <%= render :partial  => "posts_new" %>
                    </div>

                    <div class="tab-pane" id="comments">
                      <h3>Comments from <%= @fan.name %></h3><hr/>
                      <%= render :partial  => "comments" , :locals => {:comments => @comments } %>
                    </div>

                    <div class="tab-pane" id="groups">
                      <h3>Groups of <%= @fan.name %></h3><hr/>

                      <table class="table ">
                        <thead>
                          <tr>
                            <th width="50px"></th>
                            <th ></th>
                          </tr>
                        </thead>
                        <tbody class="feed2">
                        </tbody>
                      </table>

                    </div>

                    <div class="tab-pane" id="events">
                      <h3>Events confirmation by <%= @fan.name %></h3><hr/>

                      <table class="table ">
                        <thead>
                          <tr>
                            <th width="50px"></th>
                            <th ></th>
                          </tr>
                        </thead>
                        <tbody class="feed4">
                        </tbody>
                      </table>
                    </div>

                    <div class="tab-pane" id="promotions">
                      <h3>Promotions for  <%= @fan.name %></h3><hr/>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>




        <%#= render :partial => 'google_image_search_js' %>


          <script>
            $(document).ready(function() {
        
              $(document).on("click", "#btn-invite", function () {
                FB.ui({
                  method: 'send',
                  name: 'test 123<%#=  @fan.channel.auto_respond_message %>',
                  link: 'http://23.21.17.104/public/index_heb',
                  redirect_uri:'http://23.21.17.104/public/index_heb'
                });
                return false;
              });


            });  
          </script>



          <br/>



