
<% content_for :action do  %>
  <a href ="" id="action_btn">
    <uibutton ui-implements="icon" ui-bar-align="left">
      <icon style="-webkit-mask-image: url(/assets/mobile/icons/icon_comment_add.png)"></icon>
    </uibutton>
  </a>
<% end %>

<style>
  h1 img{
    vertical-align: top;
  }
</style>

<subview ui-associations="withNavBar ">
  <scrollpanel>

    <tableview ui-kind="grouped icon"  style="display:none;" id="actions_bar">
      <tableheader>
        Recommended Actions
      </tableheader>
      <tablecell >
        <celltitle><%= link_to "Go to Website"%></celltitle>
      </tablecell>
      <tablecell>
        <celltitle><%= link_to "Send message"%> </celltitle>
      </tablecell>
      <tablecell>
        <celltitle><%= link_to "Mark as Competitor"%> </celltitle>
      </tablecell>
    </tableview>

    
    <tableview>       
      <tablecell >
        <div class="profile-box">
          <table width="100%">
            <tr style="vertical-align:top;">
              <td width="70px"><%= image_tag @fan.profile_image , :size => "50x50" %></td>
              <td>
                <h3><%=  @fan.name%></h3>
                <p><%= @fan.short_bio%> </p>
                <p> Website: <%= link_to @fan.profile_url_or_home,@fan.profile_url_or_home , :target => "_blank" %></p>
              </td>
            </tr>
          </table>
        </div>
      </tablecell>
      <tablecell>
        <table width="100%">
            <tr style="vertical-align:top;font-size:13px;">
              <td width="25%" style="border-right:1px solid #333;">
                <b>Friends</b><br/>
                <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
              </td>
              <td width="25%"  style="border-right:1px solid #333;">
                <b>Comments</b><br/>
                <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
              </td>
              <td width="25%"  style="border-right:1px solid #333;">
                <b>Posts</b><br/>
                <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
              </td>
              <td width="25%">
                <b>Likes</b><br/>
                <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
              </td>
            </tr>
          </table>
      </tablecell>

      <tablecell ui-usage="icon" ui-implements="disclosure">
        <img src="/assets/mobile/png/home32.png">
        <celltitle><%= link_to "Home page"%></celltitle>
      </tablecell>

      <tablecell ui-usage="icon" ui-implements="disclosure">
        <img src="/assets/mobile/png/mail32.png">
        <celltitle><%= link_to "20 Messages"%></celltitle>
      </tablecell>

      <tablecell ui-usage="icon" ui-implements="disclosure">
        <img src="/assets/mobile/png/notepencil32.png">
        <celltitle><%= link_to "340 Posts"%></celltitle>
      </tablecell>




    </tableview>
  </scrollpanel>
</subview>




   

     


      <style>
        .summary{
          width:100%;
          padding:0.4em;
        }
        .summary h5{
          font-size: 22px;
          color:#990000;
        }

        .summary td{
          text-align: center;
          font-size: 12px;
          color:#004099;
        }
        .rate{
          font-size:14px;
          font-weight: bold;
        }
      </style>