


<% @brand  = current_user.brand %>

<subview ui-associations="withNavBar withTabBar">
  <scrollpanel>

    <tableview >
      
      <tablecell ui-usage="image">
        <%= image_tag @fan.profile_image %>
        <celltitle><%= link_to @fan.name , @fan   %>
          <p style="font-size: 12px;font-weight: none;">
            Friends : <%= rand(100) %> | Posts: <%= rand(1000) %>
            </p>
        </celltitle>
      </tablecell>

      <tablecell>
        <h5> <%= @fan.channel.name  unless @fan.channel.nil? %> | <%= @fan.created_at.strftime("%m/%d") %></h5>
        <%= @fan.bio %>
      </tablecell>

      <tablecell>
        <stack ui-box="horizontal">
          <uibutton ui-kind="rounded-rectangle">
            <label>Home</label>
          </uibutton>
          <uibutton ui-kind="rounded-rectangle">
            <label>Competitor</label>
          </uibutton>
        </stack> 
      </tablecell>
    </tableview>

  </scrollpanel>

</subview>

<% content_for :footer do  %>


  <uibutton ui-icon-align="top">
    <a href ="/brands/<%=@brand.id%>">
      <icon style="-webkit-mask-image: url(/assets/mobile/icons/search.svg)"></icon>
      <label>Google</label></a>
  </uibutton>

  <uibutton ui-icon-align="top"><a>
      <icon style="-webkit-mask-image: url(/assets/mobile/icons/compose.svg)"></icon>
      <label>Messages</label>
  </uibutton></a>



  <uibutton ui-icon-align="top">
    <a href="/">
      <icon style="-webkit-mask-image: url(/assets/mobile/icons/search.svg)"></icon>
      <label>posts</label>
    </a>
  </uibutton>

  <uibutton ui-icon-align="top">
    <a href ="/fans">
      <icon style="-webkit-mask-image: url(/assets/mobile/icons/group.svg)"></icon>
      <label>Fans</label></a>
  </uibutton>

<% end %>


