<%= form_for @color, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Page Background", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :color_1, :class => 'text_field' ,:style  => "background-color:#{@color.color_1}"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Text color" , :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :color_2, :class => 'text_field'  ,:style  => "background-color:#{@color.color_2}"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Header Color", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :color_3, :class => 'text_field' ,:style  => "background-color:#{@color.color_3}" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Well BG Color", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :color_4, :class => 'text_field' ,:style  => "background-color:#{@color.color_4}"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Well Text Color", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :color_5, :class => 'text_field' ,:style  => "background-color:#{@color.color_5}" %>
    </div>
  </div>
   <div class="control-group">
    <%= f.label "Well Headers Color", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :color_6, :class => 'text_field' ,:style  => "background-color:#{@color.color_6}" %>
    </div>
  </div>
   <div class="control-group">
    <%= f.label "Toolbar BG color", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :color_7, :class => 'text_field' ,:style  => "background-color:#{@color.color_7}" %>
    </div>
  </div>
   <div class="control-group">
    <%= f.label "Toolbar Text color", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :color_8, :class => 'text_field' ,:style  => "background-color:#{@color.color_8}" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                colors_path, :class => 'btn' %>
  </div>
<% end %>
