<%- model_class = Color.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th> BG Color</th>
      <th> Text Color</th>
      <th> Heading Color</th>
      <th> Well BG</th>
      <th> Well FG</th>
      <th> Well Header</th>
      <th> Toolbar BG</th>
      <th> Toolbar Text</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @colors.each do |color| %>
      <tr>
        <td><%= link_to color.id, color_path(color) %></td>
        <td><%= color.name %></td>
        <td style="background-color:<%=color.color_1%>;"><%= color.color_1 %></td>
        <td style="background-color:<%=color.color_2%>;"><%= color.color_2 %></td>
        <td style="background-color:<%=color.color_3%>;"><%= color.color_3 %></td>
        <td style="background-color:<%=color.color_4%>;"><%= color.color_4 %></td>
        <td style="background-color:<%=color.color_5%>;"><%= color.color_5 %></td>
        <td style="background-color:<%=color.color_6%>;"><%= color.color_6 %></td>
        <td style="background-color:<%=color.color_7%>;"><%= color.color_7 %></td>  
        <td style="background-color:<%=color.color_8%>;"><%= color.color_8 %></td>
        <td style="background-color:<%=color.color_9%>;"><%= color.color_9 %></td>

        <td><%=l color.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_color_path(color), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            color_path(color),
            :method => :delete,
            :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
            :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
  new_color_path,
  :class => 'btn btn-primary' %>
