<%- model_class = @color.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @color.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color_1) %>:</strong></dt>
  <dd><%= @color.color_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color_2) %>:</strong></dt>
  <dd><%= @color.color_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color_3) %>:</strong></dt>
  <dd><%= @color.color_3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color_4) %>:</strong></dt>
  <dd><%= @color.color_4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color_5) %>:</strong></dt>
  <dd><%= @color.color_5 %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              colors_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_color_path(@color), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              color_path(@color),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
