<h3><%= @competitor.name %> Major Blogs </h3>
<table class="table">
  <% for item in @competitor.alerts do  %>
      <tr>
        <td>
          <%= item.inspect %>
        </td>
      </tr>
    <% end %>
 </table>