
<table class="table">
  <thead> 
    <tr>
      <th>  </th>
      <th> Name </th>
      <th> <%= image_tag "/assets/icons/facebook_64.png", :size => "16x16" %> Facebook </th>
      <th> <%= image_tag "/assets/icons/twitter_64.png", :size => "16x16" %> Twitter </th>
      <th> <%= image_tag "/assets/icons/youtube_64.png", :size => "16x16" %> Youtube </th>
      <th> <%= image_tag "/assets/icons/email.png", :size => "16x16" %> Emails </th>

    </tr> 
  </thead>
  <tbody>
    <% for c in @competitors do %>
        <tr>
          <td> <%= link_to  image_tag(c.profile_image, :size => "50x50") , c%> </td>
          <td>
            <%=  link_to c.name , c %> <br/><%= link_to c.website, c %> <br/>
            <div class="item_command">
              <%= link_to raw('<i class="icon-remove"></i> Delete'), competitor_path(c), :method => 'delete', :confirm => 'Are you sure?' %>
            </div>
          </td>
          <td> 
            <i class="icon-thumbs-up"></i> Likes: <%= number_with_delimiter c.facebook_likes_count%><br/>
            <i class="icon-comment"></i> Comments <%= number_with_delimiter  c.facebook_comments_count%><br/>
            <i class="icon-share"></i> Shares <%= number_with_delimiter  c.facebook_shares_count%><br/>
          </td>
          <td> 
            <i class="icon-thumbs-up"></i> Followers: <%= number_with_delimiter c.twitter_followers%><br/>
            <i class="icon-group"></i> Following: <%= number_with_delimiter c.twitter_following_count%><br/>
            <i class="icon-comment"></i> Posts: <%= number_with_delimiter  c.twitter_posts%><br/>
          </td>
          <td> 

            <%= raw youtube_mark(c.youtube_rss)%> 
          </td>
          <td> 
            <i class="icon-envelope"></i><%= " Emails :#{rand(10)} "%> <br/> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>




