<%= render :partial => 'shared/upper_row' %>

<div class="row-fluid">
  <div class="span12 thumbnail">
    <%= form_for @competitor, :html => { :class => 'form-vertical' } do |f| %>
      <%= f.hidden_field :brand_id, :class => 'text_field' %>
      <h3>Competitor Name and Website</h3><hr/>
      <div class="control-group">
        <%= f.label :name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :home_page, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :home_page, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :image_url, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :image_url, :class => 'text_field' %>
        </div>
      </div>

      <br/>
      <div class="span6">
        <h3>Competitor Social Network profile</h3><hr/>
        <div class="control-group">
          <%= image_tag("/assets/icons/facebook_64.png" , :class => "lbl-img")%>
          <%= f.label :facebook_page, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :facebook_page, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= image_tag("/assets/icons/twitter_64.png", :class => "lbl-img")%>
          <%= f.label :twtitter_name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :twtitter_name, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= image_tag("/assets/icons/google_64.png", :class => "lbl-img")%>
          <%= f.label :google_page, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :google_page, :class => 'text_field' %>
          </div>
        </div>
      </div>

      <div class="span5">
        <h3>Competitor Content Sites</h3><hr/>
        <%= image_tag("/assets/icons/wordpress_64.png", :class => "lbl-img")%>
        <%= f.label :wordpress_rss, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :wordpress_rss, :class => 'text_field' %>
        </div>


        <div class="control-group">
          <%= image_tag("/assets/icons/blogger_64.png", :class => "lbl-img")%>
          <%= f.label :blogger_rss, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :blogger_rss, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= image_tag("/assets/icons/youtube_64.png", :class => "lbl-img")%> 
          <%= f.label :youtube_rss, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :youtube_rss, :class => 'text_field' %>
          </div>
        </div>

      </div>
      <div class="span12">
        <div class="modal-footer adjust">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to 'Cancel', competitors_path, :class => 'btn' %>
          <%= link_to 'Delete', competitor_path(@competitor), :method => 'delete', :confirm => 'Are you sure?', 
            :class => 'btn btn-danger' %>

        </div>
      <% end %>

    </div>
  </div>
</div>


<style>
  .adjust{margin-bottom:-4px;margin-left:-30px;margin-right: 25px;}
  .lbl-img{width:32px;height:32px;float:left;margin-right: 1em;}
</style>