<table class="table datatable">
  <thead>
    <tr>
      <th width="65px"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for item in posts %>
      <tr>
        <td >
          <% if item.image_url %>
            <%= image_tag(item.image_url, :size => "64x64")  %> 
          <% else %>
            <%= image_tag(item.icon, :size => "64x64")  %> 
          <% end %>

        </td>
        <td >
          <div class="pull-right">
            <%= link_to "Comments: #{item.comments.count}" %>
          </div>

          <%= item.kind %>
          <b>
            <%= item.title[0..40] unless item.title.nil? %>
            <%= item.posted_by %> | <%= item.from %>
          </b>
          <br/>
          <p>
            <%= strip_html(item.body) unless item.body.nil?%>
          </p>

          <div class="item_command">
            <a href="/articles/new?from_kind=post&from_id=<%=item[:id]%>"><i class="icon-copy"></i> create article</a>
            <%= render :partial => "shared/share_post_bar" , :locals => {:post => item} %>
          </div>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>