


<script > 
  $(document).ready(function() {
    $('#div-facebook').socialist({ 
      networks: [ 
        {name:'facebook',id:'<%=@competitor.facebook_page%>'}
      ], 
      maxResults:25 ,
      theme:'clean'
    }); 
    $('#div-twitter').socialist({ 
      networks: [ 
        {name:'twitter',id:'<%=@competitor.twtitter_name%>'}
        //{name:'youtube',id:'<%=@competitor.youtube_rss%>'}, 
        //{name:'linkedin',id:'<%= @competitor.linkedin_company_page%>'}
      ], 
      maxResults:25 ,
      theme:'clean'
    }); 
    $('#div-youtube').socialist({ 
      networks: [ 
        {name:'youtube',id:'<%=@competitor.youtube_rss%>'}, 
      ], 
      maxResults:25 ,
      theme:'clean'
    }); 
  }); 
</script>



<div class="row" style="background-color: #ddd;margin-left: 20px;">
  <h4>Facebook Posts</h4>
  <div id="div-facebook"></div> 
</div>
<div class="row" style="background-color: #ddd;margin-left: 20px;">
  <h4>Twitter Posts</h4>
  <div id="div-twitter"></div> 
</div>
<div class="row" style="background-color: #ddd;margin-left: 20px;">
  <h4>Youtube Posts</h4>
  <div id="div-youtube"></div> 
</div>
