<table class="table table-striped datatable">
  <thead>
    <tr>
      <th width="50px"></th>
      <th></th>
      <th width="50px">Friends</th>
      <th width="50px">Likes</th>
    </tr>
  </thead>
  <tbody>
    <% for item in @brand.fans.where(:kind => "competitor").order("talking_about DESC") do  %>
    <tr>
      <td>
        <%= image_tag item.profile_image , :size => "50x50" %>
      </td>
      <td>
        <b><%= link_to item.name , item%></b>(<%= item.channel.name unless item.channel.nil? %>)<br/><%= link_to item.short_bio , item %><br/>
        
        
        <div class="item_command">
            <a href=""><i class="icon-envelope"></i> send message</a>
            <a href="/fans/ignore?id=<%=item.id%>&redirect=<%=request.original_url%>"><i class="icon-remove-sign"></i> ignore</a>
            <a href="/fans/search?id=<%=item.id%>"><i class="icon-search"></i> search</a>
            <a href="/fans/competitor?id=<%=item.id%>&redirect=<%=request.original_url%>"><i class="icon-user"></i> competitor!</a>
          </div>
      </td>
      <td>
        <%= number_with_delimiter item.exposure %>
      </td>
      <td>
        <%= number_with_delimiter item.likes %>
      </td>
    </tr>
    <%end%>
  </tbody>
  
</table>