  <h2><%=  link_to @competitor.name  , edit_competitor_path(@competitor.id)%> </h2>
  <table class="table">
    <tr>
      <td width="100px">
        <%= image_tag("/assets/profile-image.png" , :size => "100x100") %>
      </td>
      <td>
        Posts:
        <br/>
        <b><%= @competitor.posts.count %></b><br/>
        Comments:
        <br/>
        <b><%= @competitor.comments.count %></b><br/>
        Active Users:
        <br/>
        <b><%#= @competitor.fans.count %></b><br/>
      </td>
    </tr>

  </table>



  <h4>Competitor on Social networks</h4>
  <table class="table well">
    <tr>
      <td><%= render :partial => 'shared/social_gadget' , :locals => {:image => "facebook_64", :link => ""}%></td>
      <td><%= render :partial => 'shared/social_gadget' , :locals => {:image => "twitter_64", :link => ""}%></td>
      <td><%= render :partial => 'shared/social_gadget' , :locals => {:image => "google_64", :link => ""}%></td>
      <td><%= render :partial => 'shared/social_gadget' , :locals => {:image => "foursquare_64", :link => ""}%></td>
    </tr>
  </table>

  <h4>Competitor Article Submission</h4>
  <table class="table well">
    <tr>
      <td><%= render :partial => 'shared/social_gadget' , :locals => {:image => "youtube_64", :link => ""}%></td>
      <td><%= render :partial => 'shared/social_gadget' , :locals => {:image => "wordpress_64", :link => ""}%></td>
      <td><%= render :partial => 'shared/social_gadget' , :locals => {:image => "blogger_64", :link => ""}%></td>
      <td><%= render :partial => 'shared/social_gadget' , :locals => {:image => "reddit_64", :link => ""}%></td>
    </tr>
  </table>
