<div class="row">
  <div class="span12">
    <h3>Site analysis for <%= @competitor.home_page %></h3><hr/>
    <table width="100%" class="table table-striped ">
      <tr style="vertical-align: top;">
        <td width="140px">
          <b>Website URL</b>
        </td>
        <td>
          <%= @competitor.home_page %>
          <br/>
        </td>
      </tr>
      <tr style="vertical-align: top;">
        <td width="140px">
          <b>Meta Description</b>
        </td>
        <td>
          <%= @meta %>
          <br/>
        </td>
      </tr>
      <tr>
        <td width="140px">
          <b>Keywords</b>
        </td>
        <td>
          <br/>
          <%= @keywords %>

        </td>
      </tr>
      <tr>
        <td width="140px">
          <b>Generator</b>
        </td>
        <td>
          <%= @generator %>
        </td>
      </tr>
      <tr>
        <td width="140px">
          <b>Last Change</b>
        </td>
        <td>
          <%= "3 days" %>
        </td>
      </tr>
      <tr>
        <td width="140px">
          <b>Back Links</b>
        </td>
        <td>
          <%= rand(1000) %>
        </td>
      </tr>
      <tr>
        <td width="140px">
          <b>Images</b>
        </td>
        <td>
          <% if @images %>
            <% for item in @images[0..9] do  %>
                <%= image_tag item , :height => "64"  , :style => "padding:0.4em;"%>
              <% end  %>
            <% end  %>
          </td>
        </tr>
        <tr>
          <td width="140px">
            <b>Social Links</b>
          </td>
          <td>
            <% for item in @links  do %>
                <span class="pull-left">
                  <%= image_tag "/assets/icons/facebook_64.png" if item.include? "facebook"  %>
                  <%= image_tag "/assets/icons/twitter_64.png" if item.include? "twitter"  %>
                  <%= image_tag "/assets/icons/youtube_64.png" if item.include? "youtube"  %>
                  <%= image_tag "/assets/icons/linkedin_64.png" if item.include? "linkedin"  %>
                </span>
                <%= link_to item , item , :target => "_blank" %><br/>

                <%= facebook_mark(item.gsub("http://www.facebook.com/",""))  if item.include? "facebook" %>

                <% if item.include? "youtube" %>
                  <% if item.include? "/user/" %>
                    <%= youtube_mark(item.gsub("http://www.youtube.com/user/",""))   %>
                  <% else  %>
                    <%= youtube_mark(item.gsub("http://www.youtube.com/",""))   %>
                  <% end %>
                <% end %>
                <%= twitter_mark(item.gsub("http://www.youtube.com/user/",""))  if item.include? "twitter" %>
                <br/><br/>
                <hr/>
              <%end %>
            </td>
          </tr>
        </table>
        <hr/>
      </div>
    </div>

