<%= render "shared/upper_row" %>


<div class="thumbnail">

  <div class="modal-header">
    <div class="pull-right item_command">
      <%= link_to raw('<i class="icon-user"></i> New Competitor'), new_competitor_path  %>
    </div>
    <h2> <%= image_tag("/assets/flat/user-8-64.png", :size => "48x48")%>  Competitors</h2>
  </div>

  <div class="tabbable ">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#compare" data-toggle="tab">Compare</a></li>
      <li ><a href="#news" data-toggle="tab">News</a></li>
    </ul>
    <div class="tab-content">


      <div class="tab-pane active" id="compare">
        <%= render :partial => 'compare' %>
      </div>

      <div class="tab-pane" id="news">
        <h3>Latest competitor moves</h3>

        <table class="table datatable" >
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for item in @brand.posts.where("competitor_id is not null").order("posted_at DESC") %>
              <tr style="vertical-align:top">
                <td width="32px">
                  <a data-toggle="modal" href="#fanModal"  class="cmd-fan" data-fan-id="<%=item.id%>"  ><%=image_tag(item.competitor.image_url, :size => "32x32")%></a>
                </td>
                <td>
                  <div class="pull-right">
                    <%= time_ago_in_words  item.posted_at unless item.posted_at.nil? %>
                  </div>
                  <b><%= item.competitor.name %></b><br/>
                  <%=  item.plain_text %>
                  <div class="item_command">
                    <%= render :partial => "shared/share_post_bar" , :locals => {:post => item} %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
<style>
  .inline-img{
    float:left;
  }
</style>