<% @brand = current_user.brand %>



<subview ui-associations="withNavBar ">
  <tableview>
    <tableheader>
      My Competitors
    </tableheader>
  </tableview>
  <scrollpanel>
    <tableview>
      <% for item in @brand.competitors do  %>
          <tablecell ui-usage="image">
            <%=  image_tag(item.image_url, :size => "50x50")%>
            <celltitle><%= link_to item.name , item%></celltitle>
            <celldetail><%= link_to   "Fans #{rand(1000)} | Posts: #{rand(100)} ", item%><br/><%=  link_to "Exposure: #{rand(99)}% " , item %>  </celldetail>
          </tablecell>
        <% end %>
      </tableview>
    </scrollpanel>
  </subview >

