

<subview ui-associations="withNavBar ">
  <scrollpanel>
    <tableview>       
      <tableheader>
        Competitor: <%=  @competitor.name%> 
      </tableheader>

      <tablecell >
        <div class="profile-box">
          <table width="100%">
            <tr style="vertical-align:top;">
              <td width="50px"><%= image_tag @competitor.profile_image , :size => "50x50" %></td>
              <td>
                <h3><%=  @competitor.name%></h3>
                <p>
                Location: <%= @competitor.location %><br/>
                Website: <%= link_to @competitor.website,@competitor.website %>
                </p>
              </td>
            </tr>
          </table>
        </div>
      </tablecell>
      <tablecell  class="profile-box">
        <p>
          <%= @competitor.short_description %>
        </p>
      </tablecell>
      <tablecell>
        <table width="100%">
          <tr style="vertical-align:top;font-size:13px;">
            <td width="25%" style="border-right:1px solid #333;">
              <b>Friends</b><br/>
              <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
            </td>
            <td width="25%"  style="border-right:1px solid #333;">
              <b>Comments</b><br/>
              <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
            </td>
            <td width="25%"  style="border-right:1px solid #333;">
              <b>Posts</b><br/>
              <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
            </td>
            <td width="25%">
              <b>Likes</b><br/>
              <span class="big-number"><%= number_with_delimiter(rand(10000)) %></span>
            </td>
          </tr>
        </table>
      </tablecell>
      <tableheader>
        <%=  @competitor.name%> Website analysis
      </tableheader>
      <tablecell>
        <h5>keywords</h5>
        <%= @keywords %>
      </tablecell>
      <tableheader>
        <%=  @competitor.name%> Latest Posts
      </tableheader>
      <% for post in @competitor.posts do  %>
          <% unless post.empty? %>
            <tablecell ui-usage="image">
              <%=  image_tag(post.img, :size => "50x50")%>
              <celltitle><b><%= link_to simple_format(post.title) , post%></b></celltitle>
              <celldetail><%= link_to strip_html(post.body)[0..140], post unless post.body.nil? %> </celldetail>
            </tablecell>
          <% end %>
        <% end %>
      </tableview>
    </scrollpanel>
  </subview>




  <style>
    .summary{
      width:100%;
      padding:0.4em;
    }
    .summary h5{
      font-size: 22px;
      color:#990000;
    }

    .summary td{
      text-align: center;
      font-size: 12px;
      color:#004099;
    }
    .rate{
      font-size:14px;
      font-weight: bold;
    }
  </style>