<% content_for :head do  %>
  <link rel="stylesheet" href="//cdn.oesmith.co.uk/morris-0.4.1.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
<% end %>


<div class="row-fluid">
  <div class="span12">
    <div class="thumbnail" >
      <div class="modal-header ">
        <div class="pull-right">
          <%= link_to raw("<i class='icon-edit'></i> Update") , "/competitors/#{@competitor.id}/edit" %>
          &nbsp;
          <%= link_to raw("<i class='icon-remove'></i> Delete") , "/competitors/#{@competitor.id}/edit" %>
        </div>
        <h3> Competitor  <%= @competitor.name%> in depth </h3>
      </div>

      <div class="modal-header">

        <div class="tabbable ">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
            <li><a href="#google-search" data-toggle="tab">Social Search</a></li>
            <li><a href="#blog-posts" data-toggle="tab"><%= @competitor.name %> Posts</a></li>
            <li><a href="#emails" data-toggle="tab"><%= @competitor.name %> email marketing</a></li>
          </ul>

          <div class="tab-content">

            <div class="tab-pane active" id="profile">

              <table width="70%" class="table ">
                <tr style="vertical-align: top;">
                  <td width="100px">
                    <%= image_tag @competitor.profile_image , :size => "100x100"  %> 
                  </td>
                  <td >

                    <b>Website URL</b><br/>
                    <%= @competitor.website %>
                    <br/>
                    <b>Meta Description</b><br/>
                    <%= @meta %><br/>
                    <b>keywords:</b><br/>
                    <%= @keywords %>
                  </td>
                </tr>
              </table>
              <br/>

              <table class="table">
                <tr>
                  <td>
                    <h3>Facebook </h3><hr/>
                    <i class="icon-thumbs-up"></i> Likes: <%= number_with_delimiter @competitor.facebook_likes_count%><br/>
                    <i class="icon-comment"></i> Comments <%= number_with_delimiter  @competitor.facebook_comments_count%><br/>
                    <i class="icon-share"></i> Shares <%= number_with_delimiter  @competitor.facebook_shares_count%><br/>
                  </td>
                  <td>
                    <h3>Twitter </h3><hr/>
                    <i class="icon-thumbs-up"></i> Followers: <%= number_with_delimiter @competitor.twitter_followers%><br/>
                    <i class="icon-group"></i> Following: <%= number_with_delimiter @competitor.twitter_following_count%><br/>
                    <i class="icon-comment"></i> Posts: <%= number_with_delimiter  @competitor.twitter_posts%><br/>
                  </td>
                  <td>
                    <h3>Youtube </h3><hr/>
                    <%= raw youtube_mark(@competitor.youtube_rss)%> 
                  </td>
                </tr>
              </table>

              <div>
                <div class="span3">
                  <h3>Fans by channel</h3><hr/>
                  <div id="chart-1" style="height: 250px;"></div>
                </div>

                <div class="span3">
                  <h3>Posts by channel</h3><hr/>
                  <div id="chart-2" style="height: 250px;"></div>
                </div>

                <div class="span5">
                  <h3>Fans by Network</h3><hr/>
                  <div id="chart-3" style="height: 250px;"></div>
                </div>
              </div>

            </div>


            <div class="tab-pane" id="emails">
              <h3>Emails revieced from <%=@competitor.name %></h3><hr/>
              No email recieved.
            </div>



            <div class="tab-pane " id="google-search">
              <div class="pull-right item_command">
                <a href=""></i class="icon-add"></i> Add to <%= @competitor.name %></a>
              </div>
              <h3><%= @competitor.name  %> on other social networks </h3>
              <table class="table datatable">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <%  unless  @name_search_results[:facebook].nil?  %>
                    <% for item in @name_search_results[:facebook] do %>
                        <tr class="">
                          <td width="20px"><%= check_box_tag :post %> </td>
                          <td width="48px"><%= image_tag item["pic_small"] , :size => "48x48" %> </td>
                          <td >
                            <div class="pull-right">Facebook</div>
                            <%= item["name"]%><br/> <%= link_to "home page", item["profile_url"] %>  
                            <br/>Friends: <%= number_with_delimiter item["friend_count"] %> 
                          </td>
                        </tr>
                      <% end %>
                    <% end %>


                    <%  unless  @name_search_results[:twitter].nil?  %>
                      <% for item in @name_search_results[:twitter] do %>
                          <tr>
                            <td width="20px"><%= check_box_tag :post %> </td>
                            <td>
                              <%= image_tag item.profile_image_url , :size => "48x48" %>
                            </td>
                            <td>
                              <div class="pull-right">Twitter</div>
                              <%= item.name %> <br/>
                              <%= item.description %>
                              Followers: <%= number_with_delimiter(item.followers_count) %> |
                              Posts: <%= number_with_delimiter(item.statuses_count) %> |
                              Location: <%= item.location %> |
                            </td>
                          </tr>
                        <% end %>
                      <% end %>


                      <%  unless  @name_search_results[:linkedin].nil?  %>
                        <% for item in @name_search_results[:linkedin] do %>
                            <% unless item["person"].nil? %>
                              <tr>
                                <td width="20px"><%= check_box_tag :post %> </td>
                                <td>
                                  <%= image_tag(item["person"][0]["picture-url"][0] , :size => "48x48") %>
                                </td>
                                <td>
                                  <div class="pull-right">Linkedin</div>
                                  <%= item["person"][0]["first-name"][0] %> <%= item["person"][0]["last-name"][0] %> <br/>
                                  Headline:  <%= item["person"][0]["headline"][0] %><br/>
                                  Industry:  <%= item["person"][0]["industry"][0] %><br/>
                                </td>
                              </tr>
                            <% end %>
                          <% end %>
                        <% end %>

                      </tbody>
                    </table>
                  </div>


                  <div class="tab-pane" id="google_posts">
                    <h3><%= @competitor.name %> on Google+  </h3><hr/>
                    <table class="table">
                      <tr>
                        <td width="120px"><%= image_tag(@competitor.google_plus_profile_image) %></td>
                        <td>
                          Likes: <%=@competitor.google_plus_fans_count%><br/>
                          Checkins: <%=@competitor.google_plus_follow_count%><br/>
                        </td>
                      </tr>
                    </table>
                    <hr/>
                    <%= render :partial => 'posts' , :locals => {:posts => @competitor.posts.where(:network => 'google')} %>
                  </div>




                  <div class="tab-pane" id="blog-posts">
                    <%= render :partial => "posts", :locals => {:posts => @competitor.posts.order("posted_at DESC")} %>
                  </div>


                  <div class="tab-pane" id="emails">
                    <h3> Emails sent from <%= @competitor.name %> marketing </h3><hr/>
      <%#= render :partial => "posts", :locals => {:posts => @competitor.posts.order("posted_at DESC")} %>
                  </div>


                </div>
              </div>

            </div>

          </div>
        </div>
      </div>








      <script>
  
  
  
        Morris.Donut({
          element: 'chart-1',
          data: [
            {value: 70, label: 'Facebook'},
            {value: 15, label: 'Twitter'},
            {value: 10, label: 'Email Campaign'},
            {value: 5, label: 'Google'}
          ],
          backgroundColor: '#ccc',
          labelColor: '#060',
          colors: [
            '#0BA462',
            '#39B580',
            '#67C69D',
            '#95D7BB'
          ],
          formatter: function (x) { return x + "%"}
        });

        Morris.Donut({
          element: 'chart-2',
          data: [
            {value: 70, label: 'Facebook'},
            {value: 15, label: 'Twitter'},
            {value: 10, label: 'Email Campaign'},
            {value: 5, label: 'Google'}
          ],
          backgroundColor: '#ccc',
          labelColor: '#060',
          colors: [
            '#0BA462',
            '#39B580',
            '#67C69D',
            '#95D7BB'
          ],
          formatter: function (x) { return x + "%"}
        });
  
  
        var cweek_data = [
          {"period": "2012-1-1", "Google": 11, "Bing": 2 , "comments":1},
          {"period": "2012-6-30", "Google": 13, "Bing": 2 , "comments":1},
          {"period": "2012-7-30", "Google": 16, "Bing": 2 , "comments":1},
          {"period": "2013-1-31", "Google": 30, "Bing": 2 , "comments":4},
          {"period": "2013-2-1", "Google": 38, "Bing": 2, "comments":4},
          {"period": "2013-2-2", "Google": 38, "Bing": 2, "comments":4},
          {"period": "2013-2-3", "Google": 38, "Bing": 2, "comments":4},
          {"period": "2013-2-4", "Google": 38, "Bing": 2, "comments":4},
          {"period": "2013-2-15", "Google": 42, "Bing": 3, "comments":4},
          {"period": "2013-2-16", "Google": 48, "Bing": 5, "comments":24}
        ];

        Morris.Bar({
          element: 'chart-3',
          data: cweek_data,
          xkey: 'period',
          stacked: true,
          ykeys: ['Google', 'Bing','comments'],
          labels: ['Google', 'Bing', "User Comments"],
          events: [
            '2012-1-1',
            '2013-1-1'
          ],
          labelColor: '#060',
          colors: [
            '#0BA462',
            '#39B580',
            '#67C69D',
            '#95D7BB'
          ]
        });
      </script>

