<div class="pull-right">
  <div class="btn-group">
    <a class="btn " href="#">Actions </a>
    <a class="btn  dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="/competitors/<%=@competitor.id%>/edit"><i class="icon-user"></i> Update Profile</a></li>
      <li><a href="/competitors/<%=@competitor.id%>/scan"><i class="icon-retweet"></i> Refresh</a></li>
    </ul>
  </div>
</div>

<h1>Competitor: <%=@competitor.name%> </h1><hr/>

<p>
<table>
  <tr style="vertical-align: top;">
    <td width="120px;">
      <%= image_tag  @competitor.image_url , :size => "100x100"%>
    </td>
    <td>
      <b>Name</b><br>
      <%= @competitor.name %><br/>
<%#= image_tag Gchart.bar( :data => [ Channel.find(1).chart_line_1(30) ], 
:title => '', 
:size => "500x50",
:bg => {:color => 'ffffff', :type => 'gradient'}, 
:bar_colors => '38349b'), :size => "500x50" %>
    </td>
  </tr>
</table>

</p>
<hr/>

<%= render :partial => 'webpage' %>

<div class="row">
  <hr/>
  <div class="span6">        
    <h3><%= image_tag("/assets/icons/social_networks.png" , :size => "32x32")  %> Competitor on Social networks</h3><hr/>
    <p>
    <table width="100%">
      <tr style="vertical-align: top;">
        <td width="64px"><%= image_tag "/assets/icons/facebook_64.png" %></td>
        <td>

          <%= image_tag Gchart.bar( :data => [ Channel.find(1).chart_line_1(30) ], 
            :title => '', 
            :size => "500x50",
            :bg => {:color => 'ffffff', :type => 'gradient'}, 
            :bar_colors => '38349b'), :size => "500x30" %>
          <b><%=  facebook_mark(@competitor.facebook_page)%> (<%= @competitor.facebook_page %>) <br/></b>
        </td>
      </tr>
    </table>

    </p>

    <p>
    <table width="100%">
      <tr style="vertical-align: top;">
        <td width="64px"><%= image_tag "/assets/icons/twitter_64.png" %></td>
        <td>


          <%= image_tag Gchart.bar( :data => [ Channel.find(1).chart_line_1(30) ], 
            :title => '', 
            :size => "500x50",
            :bg => {:color => 'ffffff', :type => 'gradient'}, 
            :bar_colors => '38349b'), :size => "500x30" %>
          <b><%=  twitter_mark(@competitor.twtitter_name)%> (<%= @competitor.twtitter_name %>) <br/></b>

        </td>
      </tr>
    </table>

    </p>

    <p>
    <table width="100%">
      <tr style="vertical-align: top;">
        <td width="64px"><%= image_tag "/assets/icons/linkedin_64.png" %></td>
        <td>


          <%= image_tag Gchart.bar( :data => [ Channel.find(1).chart_line_1(30) ], 
            :title => '', 
            :size => "500x50",
            :bg => {:color => 'ffffff', :type => 'gradient'}, 
            :bar_colors => '38349b'), :size => "500x30" %>
          <b><%=  twitter_mark(@competitor.google_page)%> (<%= @competitor.google_page %>) <br/></b>

        </td>
      </tr>
    </table>

    </p>



  </div>


  <div class="span6">
    <h3> <%= image_tag("/assets/icons/blog.png" , :size => "32x32")  %> Competitor on Content sites</h3><hr/>


    <p>
    <table width="100%">
      <tr style="vertical-align: top;">
        <td width="64px"><%= image_tag "/assets/icons/youtube_64.png" %></td>
        <td>


          <%= image_tag Gchart.bar( :data => [ Channel.find(1).chart_line_1(30) ], 
            :title => '', 
            :size => "500x50",
            :bg => {:color => 'ffffff', :type => 'gradient'}, 
            :bar_colors => '38349b'), :size => "500x30" %>
          <b><%=  twitter_mark(@competitor.youtube_rss)%> (<%= @competitor.youtube_rss %>) <br/></b>

        </td>
      </tr>
    </table>

    </p>


    <p>
    <table width="100%">
      <tr style="vertical-align: top;">
        <td width="64px"><%= image_tag "/assets/icons/wordpress_64.png" %></td>
        <td>
          <%= @competitor.wordpress_rss %>
<%#= image_tag Gchart.bar( :data => [ Channel.find(1).chart_line_1(30) ], 
:title => '', 
:size => "500x50",
:bg => {:color => 'ffffff', :type => 'gradient'}, 
:bar_colors => '38349b'), :size => "500x50" %>
        </td>
      </tr>
    </table>


    </p>

    <p>
    <table width="100%">
      <tr style="vertical-align: top;">
        <td width="64px"><%= image_tag "/assets/icons/blogger_64.png" %></td>
        <td>
          <%= @competitor.blogger_rss %>
<%#= image_tag Gchart.bar( :data => [ Channel.find(1).chart_line_1(30) ], 
:title => '', 
:size => "500x50",
:bg => {:color => 'ffffff', :type => 'gradient'}, 
:bar_colors => '38349b'), :size => "500x50" %>
        </td>
      </tr>
    </table>


    </p>



  </div>
</div>

<hr/><br/>
<h4>Competitor posts on social networks</h4><hr/>

<div class="tabbable ">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#google-search" data-toggle="tab">Google Search</a></li>
    <% unless @competitor.facebook_page.empty?  then %>
      <li><a href="#facebook-posts" data-toggle="tab">Facebook</a></li>
    <% end %>
    <% unless @competitor.twtitter_name.empty?  then %>
      <li><a href="#twitter-posts" data-toggle="tab">Twitter</a></li>
    <% end %>
    <% unless @competitor.youtube_rss.empty?  then %>
      <li><a href="#youtube-posts" data-toggle="tab">Youtube</a></li>
    <% end %>
    <% unless @competitor.blogger_rss.empty?  then %>
      <li><a href="#blog-posts" data-toggle="tab">Blog Posts</a></li>
    <% end %>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active" id="1">

    </div>




    <div class="tab-pane active" id="google-search">
      <h3> Searching <%= @competitor.name %> on Google  </h3><hr/>

      <table class="table datatable">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for item in @google_results do %>
              <tr>
                <td width="64px">
                  <%=  image_tag( channel_icon_for_url(item[:url]) )%>
                </td>
                <td>
                  <b><%= item[:title] %></b><br/>
                  <i><%= item[:description] %><br/>
                    <%=  link_to item[:url] , "http://#{item[:url]}" , :target => "_blank"%> 
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>




      <div class="tab-pane" id="facebook-posts">
        <h3><%= @competitor.name %> on Facebook  </h3><hr/>


        <%= render :partial => 'posts' , :locals => {:posts => @competitor.posts.where(:kind => 'competitor-fanpage-post')} %>

      </div>

      <div class="tab-pane" id="twitter-posts">


        <script type="text/javascript">
          $(document).ready(function () {
            $('#tickerMyTwits').rssfeed("http://twitter.com/statuses/user_timeline/<%= @competitor.twtitter_name%>.rss",{
              snippet: false
            }, function(e) {
            });
          });
        </script>

        <div id="tickerMyTwits"></div>




  <%#= render :partial => 'posts' , :locals => {:posts => @competitor.posts.where(:kind => 'twitter')} %>


      </div>

      <div class="tab-pane" id="google_posts">
        <h3><%= @competitor.name %> on Google+  </h3><hr/>
        <table class="table">
          <tr>
            <td width="120px"><%= image_tag(@competitor.google_plus_profile_image) %></td>
            <td>
              Likes: <%=@competitor.google_plus_fans_count%><br/>
              Checkins: <%=@competitor.google_plus_follow_count%><br/>
            </td>
          </tr>
        </table>
        <hr/>
        <%= render :partial => 'posts' , :locals => {:posts => @competitor.posts.where(:network => 'google')} %>
      </div>


      <div class="tab-pane" id="youtube-posts">
        <h3><%= @competitor.name %> on Youtube  </h3>

        <table class="table">
          <tr>
            <td width="120px"><%= image_tag(@competitor.youtube_profile_image) %></td>
            <td>
              Subscribers: <%=@competitor.youtube_subscribers_count%><br/>
              Total Views: <%=@competitor.youtube_views_count%><br/>
            </td>
          </tr>
        </table>

        <%= render :partial => 'posts' , :locals => {:posts => @competitor.posts.where(:kind => 'youtube')} %>
      </div>



      <div class="tab-pane" id="blog-posts">
        <h3><%= @competitor.name %> on Youtube  </h3>
        <table class="table">
          <tr>
            <td width="120px"><%= image_tag(@competitor.youtube_profile_image) %></td>
            <td>
              Subscribers: <%=@competitor.youtube_subscribers_count%><br/>
              Total Views: <%=@competitor.youtube_views_count%><br/>
            </td>
          </tr>
        </table>
  <%#= render :partial => 'posts' , :locals => {:posts => @competitor.posts.where(:network => 'wordpress')} %>
  <%#= render :partial => 'posts' , :locals => {:posts => @competitor.posts.where(:network => 'blogger')} %>
      </div>



    </div>
  </div>


  <style>
    .profile-image{ float:left; padding:1em;}
  </style>

