
<% @brand  = current_user.brand %>

<navbar class="ui-custom-tint">
  <h1 ui-bar-alignment="center">SocialMachine</h1>
</navbar>

<subview ui-associations="withNavBar withTabBar">
  <scrollpanel>

    <tableview >
      <tablecell >
        <celltitle><%= @competitor.name %></celltitle>
      </tablecell>
      <tablecell >
        <celltitle>Website: <%=  link_to @competitor.home_page %></celltitle>
      </tablecell>

      <tablecell >
        <div style="padding:1em;"><%= image_tag @competitor.image_url , :width => "100%" ,:zclass => 'feed_image' %><hr/></div>
      </tablecell>
      <tablecell >
        <div style="padding:1em;">
          <h5>Site Description</h5>
          <%= @meta %>
          <h5>keywords</h5>
          <%= @keywords %>
          <h5>Competitor performance </h5>
          <%= image_tag Gchart.bar( :data => [ Channel.find(1).chart_line_1(30) ], 
            :title => '', 
            :size => "300x50",
            :bg => {:color => 'ffffff', :type => 'gradient'}, 
            :bar_colors => '38349b'), :size => "300x50" %>
        </div>
      </tablecell>
    </tableview>

    <tableview>   
      <tablecell >
        <div style="padding:1em;">
          Competitor Posts
        </div>
      </tablecell>
      <% for item in @competitor.posts.reverse[0..30] do  %>
          <tablecell ui-usage="image">
            <%=  image_tag(item.image_url, :size => "50x50")%>

            <celltitle><%= link_to item.competitor.name , item %></celltitle>

            <celldetail><%= strip_html(item.body)[0..120] unless item.body.nil? %> <br/> <%= time_ago_in_words(item.created_at) %>  </celldetail>
          </tablecell>    
        <% end %>
      </tableview>

    </scrollpanel>
  </subview>


  <% content_for :footer do  %>

    <uibutton ui-icon-align="top">
      <a href ="/brands">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/search.svg)"></icon>
        <label>Google</label></a>
    </uibutton>

    <uibutton ui-icon-align="top"><a>
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/chat.svg)"></icon>
        <label>Posts</label>
    </uibutton></a>

      <uibutton ui-icon-align="top"><a>
        <%#*<icon style="-webkit-mask-image: url(/assets/mobile/icons/eye.svg)"></icon>%>
        <icon style="-webkit-mask-image: url(/assets/red/megaphone.png)"></icon>
        <label>exposure</label>
    </uibutton></a>

    <uibutton ui-icon-align="top">
      <a href="/competitors">
        <icon style="-webkit-mask-image: url(/assets/mobile/icons/group.svg)"></icon>
        <label>Competitors</label>
      </a>
    </uibutton>


  <% end %>
