/* 
    Document   : clear-white
    Created on : Dec 11, 2012, 7:45:34 PM
    Author     : assafgoldstein
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


/*
 * FONTS TO INCLUDE
        <link href='http://fonts.googleapis.com/css?family=Dosis:300,400' rel='stylesheet' type='text/css'>
*/


root { 
    display: block;
}

.hero-unit{
    background-color:#35aaef;
    color:#333;
}

.hero-unit p{
    color:#333;
}

.hero-unit h1,.hero-unit h2, .hero-unit h3, .hero-unit h4, .hero-unit h5{
    color:#333;
}


.page_wrapper img{ }

/*
 * Carosel
*/
.carousel-inner img{ height:400px;}



/*
 *  Logo and Slogen
*/
.logo{
    font-family: 'Dosis', cursive;
    font-size:32px;
    color:#08C;
    line-height:22px;
}

.logo .slogen{
    font-size:15px;
    color:#333;
}

/*
 * contact-us
*/
.kind-contact{
}
.kind-contact .contact-us{
}

.kind-contact .contact-us li{
    list-style: none;
    margin-left:-20px;
}


/*
 * nav list
*/
.page_wrapper .nav{
    float:right;
}


.page_wrapper .nav li .active{
    background-color:#770000;
    color:#ddd;
}

.page_wrapper .nav li a{
}

.page_wrapper  .nav > li{
    font-size: 20px;
    line-height: 25px;
   
}

/*
 * text
*/
.kind-text{
}

kind-text h5{
}

kind-text p{
}


/*
 *  Social-links 
*/
.social-links{
    row-height:22px;
    font-size:20px;
    padding:1em;
}

.social-links a {
    color:#990000;

}


/*
 * slider
*/
.kind-slider{
}

.kind-slider .item img{
}

.kind-slider .item .title{
}

.kind-slider .item .message{
}



/*
 *  Text 
*/
kind-text h5{
}

kind-text p{
    font-family: 'Dosis', cursive;
}


/* 
 * FORM
*/
.kind-form{
    border:none;
}

.kind-form p{
}

.kind-form h5{
}


/*
 * article
*/
.kind-article{
}

.article{
}
.article .article-title{
    font-family: 'Dosis', cursive;
}



/*
 * fonts
*/

.page_wrapper {  font-family: "Dosis", 'New Rocker', sans-serif;  font-size:14px; }
.page_wrapper p{ font-family:"Dosis"}
.page_wrapper h5{ font-family:"Dosis",Georgia,Serif; }

/*
 * Colors
*/
.page_wrapper { color:#333; background-color:#fff;}
.page_wrapper h5{ color:#35aaef; background-color: #fff; }  
.page_wrapper p{  color:#333; background-color: #fff;}


.page_links  { text-align:center;}