
/*
 * FONTS TO INCLUDE
 *   <link href='http://fonts.googleapis.com/css?family=Dosis:300,400' rel='stylesheet' type='text/css'>
*/


root { 
    display: block;
}


/* 
 * Hero Unit 
 */
.hero-unit{
    background-color:#35aaef;
    color:#fff;
}

.hero-unit p{
    color:#333;
}

.hero-unit img{
    border:none;
}

.hero-unit h1,.hero-unit h2, .hero-unit h3, .hero-unit h4, .hero-unit h5{
    color:#333;
}



/*
 * IMAGE BORDERS AND STYLE
 */
.page_wrapper img{ 
    
 /*   border:1px solid #990000; padding:0.2em; */
 padding:8px;
border:solid;
border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
border-width: 1px 2px 2px 1px;
background-color:white;

}



/*
 * Carosel
*/
.carousel-inner img{ height:400px;}



/*
 *  Logo and Slogen
*/
.logo{
    font-family: 'Dosis', cursive;
    font-size:22px;
    color:#990000;
    line-height:22px;
}

.logo .slogen{
    font-size:15px;
    color:#333;
}

/*
 * contact-us
*/
.kind-contact{
}
.kind-contact .contact-us{
}

.kind-contact .contact-us li{
    list-style: none;
    margin-left:-20px;
}


/*
 * nav list
*/
.page_wrapper .nav{
    float:right;
}


.page_wrapper .nav li .active{
    background-color:#770000;
    color:#ddd;
}

.page_wrapper .nav li a{
}

.page_wrapper  .nav > li{
    font-size: 20px;
    line-height: 25px;
    border-top: 2px solid #990000;
}

/*
 * text
*/
.kind-text{
}

kind-text h5{
}

kind-text p{
}


/*
 *  Social-links 
*/
.social-links{
    row-height:22px;
    font-size:20px;
    padding:1em;
}

.social-links a {
    color:#990000;

}


/*
 * slider
*/
.kind-slider{
}

.kind-slider .item img{
}

.kind-slider .item .title{
}

.kind-slider .item .message{
}



/*
 *  Text 
*/
kind-text h5{
}

kind-text p{
    font-family: 'Dosis', cursive;
}


/* 
 * FORM
*/
.kind-form{
    border:none;
}

.kind-form p{
}

.kind-form h5{
}


/*
 * article
*/
.kind-article{
}

.article{
}
.article .article-title{
    font-family: 'Dosis', cursive;
}



/*
 * fonts
*/

.page_wrapper {  font-family: "Dosis", 'New Rocker', sans-serif;  }
.page_wrapper p{ font-name:"Dosis"}
.page_wrapper h5{ font-family:"Dosis",Georgia,Serif; }

/*
 * Colors
*/
.page_wrapper { color:#333; background-color:#0;}
.page_wrapper h5{ color:#35aaef; background-color: #0; }  
.page_wrapper p{  color:#333; background-color: #0;}


.page_links  { text-align:center;}
