<%= form_for @mention, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :brand_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :brand_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :competitor_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :competitor_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :channel_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :channel_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :posted_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :posted_at, :class => 'datetime_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                mentions_path, :class => 'btn' %>
  </div>
<% end %>
