<%- model_class = Mention.new.class -%>
<br/>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1><hr/>
<table class="table datatable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:brand_id) %></th>
      <th><%= model_class.human_attribute_name(:competitor_id) %></th>
      <th><%= model_class.human_attribute_name(:channel_name) %></th>
      <th> </th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @mentions.each do |mention| %>
      <tr>
        <td><%= link_to mention.id, mention_path(mention) %></td>
        <td><%#= mention.brand.name || "" %></td>
        <td><%#= mention.competitor.name || "" %></td>
        <td><%#= mention.competitor.name || "" %></td>
        <td>
        <%= mention.channel_name %> | <%= mention.author %> <br/>
        <%= mention.body %><br/>
        <%= mention.posted_at %> | <%= mention.url %>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_mention_path(mention), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      mention_path(mention),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_mention_path,
            :class => 'btn btn-primary' %>
