<% @brand = current_user.brand %>

<navbar class="ui-custom-tint">
  <h1 ui-bar-alignment="center">SocialMachine : My Mentions</h1>
</navbar>


<!-- t.integer  "brand_id"
    t.integer  "competitor_id"
    t.string   "channel_name"
    t.text     "body"
    t.string   "author"
    t.string   "url"
    t.string   "user_image_url"
    t.string   "image_url"
    t.datetime "posted_at"
-->
<subview ui-associations="withNavBar withTabBar">
  <scrollpanel>
    <tableview>
      <% for item in @brand.mentions do  %>
          <tablecell ui-usage="image">
            <%= item.channel_name %>
            <celltitle><%= link_to item.body , item%></celltitle>
          </tablecell>
        <% end %>
      </tableview>
    </scrollpanel>
  </subview >


  <% content_for :footer do  %>
    <tabbar ui-selected-tab="1">

      <uibutton implements="tab">                
        <icon style="-webkit-mask-box-image: url(/assets/mobile/icons/group.svg);"></icon>
        <a href="/fans">
          <label>Refresh</label>         
        </a>
      </uibutton>

      <uibutton implements="tab">                
        <icon style="-webkit-mask-box-image: url(/assets/red/map_pin.png);"></icon>
        <label>Add</label>  
      </uibutton>
      <uibutton implements="tab">                
        <icon style="-webkit-mask-box-image: url(/assets/red/rss.png);"></icon>
        <label>Info</label>   
      </uibutton>
      <uibutton implements="tab">                
        <icon style="-webkit-mask-box-image: url(/assets/red/users.png);"></icon>
        <label>Downloads</label>                
      </uibutton>
      <uibutton implements="tab">                
        <icon style="-webkit-mask-box-image: url(/assets/red/user.png);"></icon>
        <label>Favorite</label>                
      </uibutton>
    </tabbar>



  <% end %>
