<%- model_class = @mention.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:brand_id) %>:</strong><br>
  <%= @mention.brand_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:competitor_id) %>:</strong><br>
  <%= @mention.competitor_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:channel_name) %>:</strong><br>
  <%= @mention.channel_name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:body) %>:</strong><br>
  <%= @mention.body %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:author) %>:</strong><br>
  <%= @mention.author %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:url) %>:</strong><br>
  <%= @mention.url %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:posted_at) %>:</strong><br>
  <%= @mention.posted_at %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              mentions_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_mention_path(@mention), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              mention_path(@mention),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
