
<% @brand  = current_user.brand %>

<navbar class="ui-custom-tint">
  <h1 ui-bar-alignment="center">SocialMachine: Mention</h1>
</navbar>


<subview ui-associations="withNavBar withTabBar">
  <scrollpanel>
  
<tableview >
    <tablecell >
      <celltitle><%= @mention.channel_name %></celltitle>
´    </tablecell>

    <tablecell >
      <div style="padding:1em;"><%= image_tag @mention.image_url , :width => "100%" ,:zclass => 'feed_image' %><hr/></div>
      <div style="padding:1em;"><%= strip_html(@mention.body) %></div>
    </tablecell>
</tableview>

</scrollpanel>
</subview>


<% content_for :footer do  %>

  <uibutton ui-icon-align="top">
    <a href ="/brands">
      <icon style="-webkit-mask-image: url(/assets/mobile/icons/home.svg)"></icon>
      <label>Home</label></a>
  </uibutton>

  <uibutton ui-icon-align="top"><a>
      <icon style="-webkit-mask-image: url(/assets/mobile/icons/search.svg)"></icon>
      <label>Find More</label>
  </uibutton></a>

  <uibutton ui-icon-align="top">
    <a href="">
      <icon style="-webkit-mask-image: url(/assets/mobile/icons/badge.svg)"></icon>
      <label>Promote</label>
    </a>
  </uibutton>


<% end %>
