<%= form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :brand_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :brand_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :network, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :network, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :uid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :uid, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :kind, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :kind, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fan_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :fan_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :posted_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :posted_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :posted_by, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :posted_by, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :source_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :source_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :from, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :from, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :to, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :to, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comments_count, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :comments_count, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rank, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :rank, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :target_link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :target_link, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :competitor_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :competitor_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div>
<% end %>
