<div class="thumbnail">


  <div class="modal-header">
    <h2><%= image_tag("/assets/flat/sharethis-64.png", :size => "48x48") %> Post shared on social networks</h2>
  </div>
  <br/>



  <div class="tabbable ">
    <br/>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#posts" data-toggle="tab">Shared Posts </a></li>
      <li><a href="#comments" data-toggle="tab">Users Commments</a></li>
    </ul>
    
    <div class="tab-content ">

      <div class="tab-pane active" id="posts">

        <table class="table datatable">
          <thead>
            <tr>
              <th width="35px"></th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <tr style="vertical-align: top">
                <td ><%= image_tag(post.img , :size => "32x32") %></td>

                <td style="vertical-align: top;">

                  <div class="pull-right">
                    <%= time_ago_in_words(post.posted_at) unless post.posted_at.nil? %>
                  </div>

                  <% if post.kind.include? "group" %>
                    <h5>Group <%=  post.title %>  </h5>
                  <% end %>

                  <%= post.short_body %>


                  <div class="item_command">
                    <%= link_to raw("<i class='icon-share'></i> Share")  %>
                    <%= link_to raw("<i class='icon-remove'></i> Remove"), post_path(post, :kind => params[:kind]) , :confirm => 'Are you sure?', :method => :delete %>
                  </div>
                </td>

              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane" id="comments">
        
        <table class="table datatable">
          <thead>
            <tr>
              <th></th>
              <th>Users comments on social networks</th>
            </tr>
          </thead>
          <tbody>
            <% for item in @comments%>
              <tr style="vertical-align:top">
                <td width="50px">
                  <%= safe_image_tag(item.channel.icon) %>
                </td>
                <td>
                  <div class="pull-right">
                    <%= link_to time_ago_in_words(item.posted_at), item , :class => "xbadge " %>
                  </div>
                  <%= item.name %><br/> <%= item.message %>
                  <br/>
                  <div class="item_command">
                    <a href="#postModal"  data-toggle="modal" class="cmd-repost-news"  data-post-body="<%=item.message%>" ><i class="icon-share"></i> share</a>
                    <a href="<%=item.target_link%>" target="_blank"><i class="icon-edit"></i> reply</a>
                    <a href="/fans/search?name=<%=item.name %>"><i class="icon-search"></i> search</a>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>


    </div>
  </div>




</div>


