<%= render "shared/upper_row" %>
<%- model_class = @post.class -%>



<div class="row ">
  <div class="span12 thumbnail">


    <div class="pull-left" style="margin:0.5em;">
      <%= image_tag(@post.img, :size => "100x100") %>
    </div>


    <% unless @post.title.nil? or @post.title.empty? then %>
      <h1><%= @post.title%> </h1><hr/>
    <% else %>
      <h1> Posts : <%= @post.kind  %> </h1><hr/>
    <% end  %>

    <%= @post.plain_text %><br/>

    <% unless @post.posted_at.nil? %>
      <br/> Posted at <%= time_ago_in_words(@post.posted_at)  %> | <%= @post.from %>
    <% end  %>

    <% unless @post.links.nil? %>
    <% end %>


    <p>
      <strong><%= model_class.human_attribute_name(:target_link) %>:</strong><br>
      <%= @post.target_link %>
    </p>
  </div>
</div>


<div class="form-actions">
  <div class="pull-right">

    <% 
    begin
      @next =  current_user.brand.posts.where("kind = ? and id > ?", @post.kind,@post.id).first.id 
    rescue
      @next = nil
    end
    begin
      @prev =  current_user.brand.posts.where("kind = ? and id < ?", @post.kind, @post.id).last.id 
    rescue
      @prev = nil
    end
  %>

    <%= link_to "Previous", "/posts/#{@prev}" , :class => "btn"  unless @prev.nil?%>
    <%= link_to "Next"  , "/posts/#{@next}", :class => "btn"  unless @next.nil? %>
  </div>
  <div class="pull-right">
    &nbsp;
  </div>
  <div class="pull-right">

    <div class="btn-group">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Facebook<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <%
        pages = @post.brand.get_channel("facebook").fan_pages
      %>
        <% for pg in pages do %>
            <li><a href="/posts/deploy_to_facebook?id=<%=@post.id%>&page=<%= pg["id"] %>&redirect=<%=request.original_url%>" ><i class="icon-comment"></i> <%= pg["name"] %> </a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= link_to "Delayed Tweets"  , "/posts/add_to_delayed?id=#{@post.id}&redirect=#{request.original_url}", :class => "btn btn-success"  %>
    <%= link_to "Twit Now"  , "/posts/add_to_delayed?id=#{@post.id}&now=true&redirect=#{request.original_url}", :class => "btn btn-success"  %>
    <%= link_to "Re-Blog"  , "", :class => "btn btn-info"  %>

    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),    post_path(@post),    :method => 'delete',  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger' %>
  </div>
