<%= form_for @forum_post, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :topic_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :topic_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :brand_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :brand_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, :class => 'wysiwyg' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :movie_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :movie_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :parent_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :parent_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fan_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :fan_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :singniture, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :singniture, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rating, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :rating, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      forum_posts_path, :class => 'btn' %>
  </div>
<% end %>
