<%- model_class = ForumPost.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:topic_id) %></th>
      <th><%= model_class.human_attribute_name(:brand_id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:body) %></th>
      <th><%= model_class.human_attribute_name(:image_url) %></th>
      <th><%= model_class.human_attribute_name(:movie_url) %></th>
      <th><%= model_class.human_attribute_name(:parent_id) %></th>
      <th><%= model_class.human_attribute_name(:fan_id) %></th>
      <th><%= model_class.human_attribute_name(:singniture) %></th>
      <th><%= model_class.human_attribute_name(:rating) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @forum_posts.each do |forum_post| %>
      <tr>
        <td><%= link_to forum_post.id, forum_post_path(forum_post) %></td>
        <td><%= forum_post.topic_id %></td>
        <td><%= forum_post.brand_id %></td>
        <td><%= forum_post.title %></td>
        <td><%= forum_post.body %></td>
        <td><%= forum_post.image_url %></td>
        <td><%= forum_post.movie_url %></td>
        <td><%= forum_post.parent_id %></td>
        <td><%= forum_post.fan_id %></td>
        <td><%= forum_post.singniture %></td>
        <td><%= forum_post.rating %></td>
        <td><%=l forum_post.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_forum_post_path(forum_post), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      forum_post_path(forum_post),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_forum_post_path,
            :class => 'btn btn-primary' %>
