<%- model_class = @forum_post.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:topic_id) %>:</strong></dt>
  <dd><%= @forum_post.topic_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:brand_id) %>:</strong></dt>
  <dd><%= @forum_post.brand_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @forum_post.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:body) %>:</strong></dt>
  <dd><%= @forum_post.body %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_url) %>:</strong></dt>
  <dd><%= @forum_post.image_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:movie_url) %>:</strong></dt>
  <dd><%= @forum_post.movie_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parent_id) %>:</strong></dt>
  <dd><%= @forum_post.parent_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fan_id) %>:</strong></dt>
  <dd><%= @forum_post.fan_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:singniture) %>:</strong></dt>
  <dd><%= @forum_post.singniture %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rating) %>:</strong></dt>
  <dd><%= @forum_post.rating %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              forum_posts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_forum_post_path(@forum_post), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              forum_post_path(@forum_post),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
