<%= form_for @tracker, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :brand_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :brand_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :channel_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :channel_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :article_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :article_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :page_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :page_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :email_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bulk_mail_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :bulk_mail_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :visits, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :visits, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :country, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :latitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :latitude, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :longitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :longitude, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :os, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :os, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :browser, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :browser, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :device, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :device, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :logged_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :logged_at, :class => 'datetime_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                trackers_path, :class => 'btn' %>
  </div>
<% end %>
