<%- model_class = Tracker.new.class -%>
<div class="page-header">
  <div class="pull-right">
    <%= Tracker.all.count %>
  </div>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table  datatable table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= "Name"  %></th>
      <th><%= model_class.human_attribute_name(:ip) %></th>
      <th><%= model_class.human_attribute_name(:visits) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:latitude) %></th>
      <th><%= model_class.human_attribute_name(:longitude) %></th>
      <th><%= model_class.human_attribute_name(:browser) %></th>
      <th><%= model_class.human_attribute_name(:referrer) %></th>
      <th><%= model_class.human_attribute_name(:logged_at) %></th>
      <th width="120px"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @trackers.each do |tracker| %>
      <tr>
        <td><%= link_to tracker.id, tracker_path(tracker) %></td>
        <td>
          <%= "Article: #{tracker.article_id}"  unless tracker.article_id.nil?%>
          <%= "Email: #{tracker.email_id}"  unless tracker.email_id.nil?%>
          <%= "Channel: #{tracker.channel_id}"   unless tracker.channel_id.nil?%>
          <%= "Page: #{tracker.page_id}"   unless tracker.page_id.nil?%>
        </td>
        <td><%= tracker.ip %></td>
        <td><%= tracker.visits %></td>
        <td><%= tracker.address %></td>
        <td><%= tracker.latitude %></td>
        <td><%= tracker.longitude %></td>
        <td><%= tracker.browser %></td>
        <td><%= tracker.referrer %></td>
        <td><%= time_ago_in_words(tracker.logged_at) unless tracker.logged_at.nil? %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_tracker_path(tracker), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            tracker_path(tracker),
            :method => :delete,
            :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
            :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
  new_tracker_path,
  :class => 'btn btn-primary' %>
