<%- model_class = @tracker.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:brand_id) %>:</strong></dt>
  <dd><%= @tracker.brand_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:channel_id) %>:</strong></dt>
  <dd><%= @tracker.channel_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:article_id) %>:</strong></dt>
  <dd><%= @tracker.article_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:page_id) %>:</strong></dt>
  <dd><%= @tracker.page_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email_id) %>:</strong></dt>
  <dd><%= @tracker.email_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bulk_mail_id) %>:</strong></dt>
  <dd><%= @tracker.bulk_mail_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ip) %>:</strong></dt>
  <dd><%= @tracker.ip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:visits) %>:</strong></dt>
  <dd><%= @tracker.visits %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @tracker.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @tracker.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @tracker.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:latitude) %>:</strong></dt>
  <dd><%= @tracker.latitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:longitude) %>:</strong></dt>
  <dd><%= @tracker.longitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:os) %>:</strong></dt>
  <dd><%= @tracker.os %></dd>
  <dt><strong><%= model_class.human_attribute_name(:browser) %>:</strong></dt>
  <dd><%= @tracker.browser %></dd>
  <dt><strong><%= model_class.human_attribute_name(:device) %>:</strong></dt>
  <dd><%= @tracker.device %></dd>
  <dt><strong><%= model_class.human_attribute_name(:logged_at) %>:</strong></dt>
  <dd><%= @tracker.logged_at %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              trackers_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tracker_path(@tracker), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tracker_path(@tracker),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
