/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/



.rssFeed {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    width: 100%;
    margin-bottom: 2em;
}

.rssFeed li{
    list-style-type: none;
}
.rssFeed a {
    color: #444;
    text-decoration: none;
}
.rssFeed a:hover {
    color: #000;
    text-decoration: underline;
}

.rssHeader { padding: 0.2em 0; }

.rssBody {  }
.rssRow h4, .rssRow p, .rssRow div {
    margin: 0;
    padding: 0.5em;
}

#ticker1 .odd { background-color: #e8e8fc; }
#ticker1 .even { background-color: #d4d4e8; }

#ticker2 .odd { background-color: #e8fce8; }
#ticker2 .even { background-color: #d4e8d4; }

.rssRow img{
    float:left;
    padding:1em;
}

.dataTables_wrapper{
    overflow:hidden;
}

.social_login{
    text-align: center;
    align: center;

}

.link_to_login{
    padding:0;
    width:50px;
    height:70px;
    float:left;
    text-align: center;
    align:center;
}

social_link{

}

.item_command{
    margin-top:0.5em;
    font-size:13px;
    margin-left: 0.4em;
    line-height: 16px;
    color: #aaa;
}

.item_command a{
    color:#aaa;
    padding-right: 1em;
}
.item_command a:hover{
    color:#e04006;
    padding-right: 1em;
}

#postModal{ width:700px;}


