
.navbar-inner {
  background-color: #990000; /* fallback color, place your own */
}


div.dataTables_length label {
	width: 460px;
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
	width: 460px;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

/* 
    Document   : hebrew
    Created on : Apr 19, 2012, 12:54:58 PM
    Author     : assafgoldstein
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*
root { 
    display: block;
}

body{
    direction:rtl;
}

.table th, .table td {
    text-align: right;
}

.pull-right{
    float: left;
}

.tweet_list .tweet_avatar img {
    float:right;
}

*/