  <div class=" row-fluid span11">
    <table class="table datatable">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for item in @competitors_posts.limit(10)  do %>
            <tr>
              <td width="50px"><%= image_tag item.img , :size => "50x50" %> </td>
              <td >
                <div class="pull-right">
                  <%= time_ago_in_words item.posted_at unless item.posted_at.nil?%>
                </div>
                <b><%= item.competitor.name unless item.competitor.nil? %></b><br/>
                <%= item.short_body  %> 
                <div class="item_command">
                  <a href="/articles/new?from_kind=post&from_id=<%=item[:id]%>"><i class="icon-copy"></i> create article</a>
                  <%= render :partial => "shared/share_post_bar" , :locals => {:post => Post.find(item[:id])} %>
                  <a href="<%#=item.target_link%>" target="_blank"><i class="icon-link"></i> expand </a>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>