
<div class="row">

  <div class="span4">
    <h3>Email Setup</h3><hr/>

    <div class="control-group">
      <%= f.label :gmail_email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :gmail_email, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :gmail_pwd, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :gmail_pwd, :class => 'text_field' , :value => @brand.gmail_pwd%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :mailchimp_token, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :mailchimp_token, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email_signiture, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :email_signiture, :class => 'text_area' %>
      </div>
    </div>


  </div>

  <div class="span8">
    <div class="xthumbnail">
      <h3>Select Email template for you business</h3><hr/>
      <% for item in 2..9 do  %>
          <div class="pull-left" style="margin:1em; text-align: center;border: 1px solid #ddd ;padding:0.1em; ">
            <h5><%= lorem(2) %></h5><hr/>
            <%= image_tag "/assets/email_templates/#{item.to_s}.jpeg" , :size => "100x150"%>
          </div>
        <% end %>
      </div>

    </div>

  </div>



