<div class="modal-body">
  <h3>Daily Reports</h3>
  <input type="checkbox" > Send me Daily mail with my marketing progress </input><br/>
  <input type="checkbox" > Send me Daily mail with competitors moves </input><br/>
  <input type="checkbox" > Send me Daily mail with recommended content </input><br/>

  <hr/><h3>Social Networks</h3>
  <input type="checkbox" > Send me Alert when a new message is recieved on my website </input><br/>
  <input type="checkbox" > Send me Alert when a new message is recieved on my Fan page </input><br/>
  <input type="checkbox" > Send me Alert when a new message is recieved on my Twitter Account </input><br/>

  <hr/><h3>Mentions</h3>
  <input type="checkbox" > Send me Alert when my brand is mentioned somewhere </input><br/>
</div>