
<h3>Social Networks</h3>
<table class="table">
  <tr>
    <td width="65px">
      <%= link_to image_tag("/assets/icons/facebook_64.png", :size => "32x32")  + " Login" , "/auth/facebook" , :class => "btn"  %>
    </td><td>
      <div class="control-group">
        <%= f.label :facebook_token, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :facebook_token, :class => 'text_field' %>
        </div>
      </div>
    </td><td>
      <div class="control-group">
        <%= f.label :facebook_page, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :facebook_page, :class => 'text_field' %>
        </div>
      </div>
    </td>
  </tr>
  <tr>

    <td>
      <%= link_to image_tag("/assets/icons/twitter_64.png", :size => "32x32") + " Login"  , "/auth/twitter" , :class => "btn"  %>
    </td><td>
      <div class="control-group">
        <%= f.label :twitter_user_id, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :twitter_user_id, :class => 'text_field' %>
        </div>
      </div>
      </td><td>
        <div class="control-group">
        <%= f.label :twitter_token, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :twitter_token, :class => 'text_field' %> <%#= @brand.twitter_secret %>
        </div>
      </div>
    </td>
    </td>
  </tr>
  
  <Tr>
  <td>
    <%= link_to image_tag("/assets/icons/linkedin_64.png", :size => "32x32")   + " Login"  , "/auth/linkedin" , :class => "btn"  %>
    </td><td>
      <div class="control-group">
        <%= f.label :linkedin_token, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :linkedin_token, :class => 'text_field' %>
        </div>
      </div>
          </td><td>
      <div class="control-group">
        <%= f.label :linkedin_secret, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :linkedin_secret, :class => 'text_field' %>
        </div>
      </div>
          </td><td>
      <div class="control-group">
        <%= f.label :linkedin_pin, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :linkedin_pin, :class => 'text_field' %>
        </div>
      </div>
    </td>
  </tr>
  
   <Tr>
  <td>
    <%= link_to image_tag("/assets/icons/google_64.png", :size => "32x32")  + " Login"  , "/auth/google_oauth2" , :class => "btn"  %>
    </td><td>
      <div class="control-group">
        <%= f.label :google_token, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :google_token, :class => 'text_field' %>
        </div>
      </div>
          </td><td>
      <div class="control-group">
        <%= f.label :google_secret, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :google_secret, :class => 'text_field' %>
        </div>
      </div>
    </td>
          </td><td>
      <div class="control-group">
        <%= f.label :google_page, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :google_page, :class => 'text_field' %>
        </div>
      </div>
    </td>
  </tr>
  
  
  <Tr>
  <td>
    <%= link_to image_tag("/assets/icons/foursquare_64.png", :size => "32x32")  + " Login"  , "/auth/foursquare" , :class => "btn"  %>
    </td><td>
      <div class="control-group">
        <%= f.label :forsquare_venue, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :forsquare_venue, :class => 'text_field' %>
        </div>
      </div>
          </td><td>
      <div class="control-group">
        <%= f.label :foursquare_token, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :foursquare_token, :class => 'text_field' %>
        </div>
      </div>
    </td>
  </tr>
</table>