

<table class="table">
  <tr>
    <td>
      <%= image_tag "/assets/icons/wordpress_64.png" %>
    </td><td>
      <div class="control-group">
        <%= f.label :wordpress_url, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :wordpress_url, :class => 'text_field' %>
        </div>
      </div>
    </td>
    <td>
      <div class="control-group">
        <%= f.label :wordpress_email, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :wordpress_email, :class => 'text_field' %>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <%= image_tag "/assets/icons/blogger_64.png" %>
    </td><td>
      <div class="control-group">
        <%= f.label :blogger_url, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :blogger_url, :class => 'text_field' %>
        </div>
      </div>
    </td><td>
      <div class="control-group">
        <%= f.label :blogger_email, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :blogger_email, :class => 'text_field' %>
        </div>
      </div>
  </tr>
  <td>
    <%= image_tag "/assets/icons/youtube_64.png" %>
  </td><td>

    <div class="control-group">
      <%= f.label :youtube_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :youtube_url, :class => 'text_field' %>
      </div>
    </div>
  </td><td>
    <div class="control-group">
      <%= f.label :youtube_email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :youtube_email, :class => 'text_field' %>
      </div>
    </div>
  </td>
</tr>
<tr>
  <td width="65px">
    <%= image_tag "/assets/icons/reddit_64.png" %>
  </td>
  <td>
    <div class="control-group">
      <%= f.label :reddit_user, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :reddit_user, :class => 'text_field' %>
      </div>
    </div>
  </td>
  <td>
    <div class="control-group">
      <%= f.label :reddit_pwd, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :reddit_pwd, :class => 'text_field' , :value => @brand.reddit_pwd %>
      </div>
    </div>
  </td>
</tr>
</table>

