<h3>Realtime Twitter Searches</h3><hr/>

<div class="control-group">
  <%= f.label :twitter_search, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :twitter_search, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :twitter_ignore, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :twitter_ignore, :class => 'text_field' %>
  </div>
</div>

<h3>RSS Feed Searches</h3><hr/>

<div class="control-group">
  <%= f.label :rss_search, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :rss_search, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :rss_ignore, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :rss_ignore, :class => 'text_field' %>
  </div>
</div>