
<%= form_for @brand, :html => { :class => 'form-vertical' } do |f| %>
  <fieldset>
    

    <div class="row-fluid thumbnail">

      <div class="modal-header">
        <div class="pull-right item_command">
          <a href="/brands/<%=@brand.id%>/edit"><i class="icon-info-sign"></i> Brand info</a>
          <a href="/brands/connections"><i class="icon-signal"></i> Connections</a>
          <a href="/brands/searches"><i class="icon-search"></i> Searches </a>
        </div>
        
        <h3>Your business name and slogan</h3>
      </div>

      <div class="modal-body">

        <div class="pull-right">
          <div class="control-group">
            <%= f.label "Brand logo", :class => 'control-label' %>
            <div class="controls">
              <%= f.file_field :image, :class => 'text_field' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :remote_image_url, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :remote_image_url, :class => 'text_field' %>
            </div>
          </div>

          <%= image_tag @brand.image_url.to_s , :size => "100x100" unless @brand.image_url.nil? %>
        </div>

        <div class="control-group">
          <%= f.label :name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label "slogan", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :description, :class => 'text_field span8' %>
          </div>
        </div>


        <div class="control-group">
          <%= f.label "Enter Keywords describing your business", :class => 'control-label '  %>
          <div class="controls">
            <%= f.text_field :keywords, :class => 'text_field span8' %>
          </div>
        </div>
      </div>
      
      <div class="modal-header">
        <h3>Your business address And phones</h3>
      </div>

      <div class="modal-body">
        <table width="100%">
          <tr>
            <td width="30%">
              <div class="control-group">
                <%= f.label :phone, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :phone, :class => 'text_field' %>
                </div>
              </div>


              <div class="control-group">
                <%= f.label :fax, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :fax, :class => 'text_field' %>
                </div>
              </div>

            </td>
            <td>
              <div class="control-group">
                <%= f.label :address, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_area :address, :class => 'text_area' %>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      
      
       <div class="modal-header">
        <h3>Links to Social Networks and blogs</h3>
      </div>

      <div class="modal-body">
        <p> The social machine will add these links to your emails and website</p>
        <table width="100%">
          <tr>
            <td>
              <div class="control-group">
                <%= f.label :facebook_page, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :facebook_page, :class => 'text_field' %>
                </div>
              </div>
            </td>
            <td>
              <div class="control-group">
                <%= f.label :twitter_user_id, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :twitter_user_id, :class => 'text_field' %>
                </div>
              </div>
            </td>
            <td>
              <div class="control-group">
                <%= f.label :youtube_url, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :youtube_url, :class => 'text_field' %>
                </div>
              </div>
            </td>
            <td>
              <div class="control-group">
                <%= f.label :linkedin_url, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :linkedin_url, :class => 'text_field' %>
                </div>
              </div>
            </td>
          </tr>
        </table>
        
        
      </div>
      
      
      <div class="modal-header">
        <h3>Incomming Email</h3>
      </div>

      <div class="modal-body">
        <table width="100%">
          <tr>
            <td width="100%">
              <div class="control-group">
                <%= f.label :gmail_email, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :gmail_email, :class => 'text_field' %>
                </div>
              </div>
              <div class="control-group">
                <%= f.label :gmail_pwd, :class => 'control-label' %>
                <div class="controls">
                  <%= f.password_field :gmail_pwd, :class => 'secret' %>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      
      <div class="modal-footer">
        <div class="pull-right item_command">
       <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to 'Cancel', brands_path, :class => 'btn' %>
      &nbsp;
      &nbsp;
    </div>
      </div>
    </div>
    <br/>

   
    </fieldset>
  <% end %>

<style>
  .modal-footer{margin-bottom: -5px;margin-left: -4px;;margin-right: -4px;}
</style>