<h3>Link submission Sites</h3>

<table class="table">
  
  <tr>
    <td>
      <%= image_tag "/assets/icons/digg_64.png" %>
    </td><td>
      <div class="control-group">
        <%= f.label :digg_rss, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :digg_rss, :class => 'text_field' %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <%= image_tag "/assets/icons/stumble_64.png" %>
    </td><td>
      <div class="control-group">
        <%= f.label :stumble_rss, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :stumble_rss, :class => 'text_field' %>
        </div>
      </div>
    </td></tr>
  <tr>
    <td>
      <%= image_tag "/assets/icons/delicious_64.png" %>
    </td><td>
      <div class="control-group">
        <%= f.label :delicious_rss, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :delicious_rss, :class => 'text_field' %>
        </div>
      </div>
    </td>
  </tr>
</table>