
<h3>Shared Drives</h3>
<table class="table">
  <tr>
    <td width="65px">
      <%= image_tag "/assets/icons/dropbox_64.png" %>
    </td><td>
      <div class="control-group">
        <%= f.label "Dropbox Token", :class => 'control-label' %>
        <div class="controls">
          <%#= f.text_field :facebook_token, :class => 'text_field' %>
        </div>
      </div>
    </td><td>
      <div class="control-group">
        <%= f.label "Dropbox images path", :class => 'control-label' %>
        <div class="controls">
          <%#= f.text_field :facebook_page, :class => 'text_field' %>
        </div>
      </div>
    </td><td>
      <br/>
      <%= link_to "Login with Dropbox" , "/auth/facebook" , :class => "btn"  %>
    </td>
  </tr>
  <tr>

    <td>
      <%= image_tag "/assets/icons/google_drive_64.png" %>
    </td><td>
      <div class="control-group">
        <%= f.label "Google Drive Token", :class => 'control-label' %>
        <div class="controls">
          <%#= f.text_field :twitter_user_id, :class => 'text_field' %>
        </div>
      </div>
      </td><td>
      <%= link_to "Login with Google Drive" , "/auth/twitter" , :class => "btn"  %>
    </td>
    </td>
  </tr>
  <Tr>
  <td>
      <%= image_tag "/assets/icons/skydrive_64.png" %>
    </td><td>
      <div class="control-group">
        <%= f.label "Microsoft SkyDrive Token", :class => 'control-label' %>
        <div class="controls">
          <%#= f.text_field :google_page, :class => 'text_field' %>
        </div>
      </div>
      </td><td>
    </td>
  </tr>
  <Tr>
  <td>
      <%= image_tag "/assets/icons/amazon_s3_64.png" %>
    </td><td>
      <div class="control-group">
        <%= f.label "Amazon S3 Token", :class => 'control-label' %>
        <div class="controls">
          <%#= f.text_field :forsquare_venue, :class => 'text_field' %>
        </div>
      </div>
          </td><td>
      </td><td>
      <%= link_to "Login with Amazon S3" , "/auth/foursquare" , :class => "btn"  %>
    </td>
  </tr>
</table>