<div class="row">
  <div class="span6">
    <table class="table">
      <tr>
        <td colspan="2">
          <h3>Website Inquiries</h3>
        </td>
      </tr>
      <% for item in @brand.inquieries.order("created_at DESC").limit(3)  %>
        <tr>
          <td>
            <div class="pull-right">
              <%= time_ago_in_words item.created_at %>
            </div>
            <b><%= link_to  item.name , item %> | <%= link_to item.email, item %></b>  <br/><%= link_to item.message , item%>   
            <br/>
            <div class="item_command">
              <a href=""><i class="icon-envelope"></i> reply</a>
              <a href="/fans/search?email=<%=item.name%>"><i class="icon-search"></i> search</a>
              <a href=""><i class="icon-remove-sign"></i> ignore</a>
            </div>
          </td>
        </tr>
      <% end %>
    </table>

    <table class="table">
      <tr>
        <td colspan="2">
          <h3>Emails</h3>
        </td>
      </tr>
      <% for email in @gm.posts.limit(4) do   %>
          <tr>
            <td>
              <div class="pull-right">
                <%= time_ago_in_words  email.posted_at %>
              </div>
              <%= hebrew_decode email.title %> <br/><%= email.from_name%>
              <br/>
              <%= email.short_body %>
              <div class="item_command">
                <a href=""><i class="icon-envelope"></i> reply</a>
                <a href="/fans/search?email=<%=email.from_name %>"><i class="icon-search"></i> search</a>
                <a href=""><i class="icon-remove-sign"></i> ignore</a>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="span5">
      <table class="table">
        <tr>
          <td colspan="2">
            <h3>New Social network  messages</h3>
          </td>
        </tr>
        <% for item in @fb.posts.where(:kind => "inbox").order("posted_at DESC ").limit(10) %>
          <tr>
            <td width="50px"><%= safe_image_tag(item.image_url, :size => "50x50") %></td>
            <td> <%= item.body %>
              <br/>
              <div class="item_command">
                <a href="https://www.facebook.com/messages/<%=item.from_uid%>" target="_blank"><i class="icon-envelope"></i> reply</a>
                <a href="/fans/search?name=<%=item.from_name%>"><i class="icon-search"></i> search</a>
                <a href=""><i class="icon-remove-sign"></i> ignore</a>
              </div>
            </td>
          </tr>
        <% end %>
      </table>


    </div>

  </div>