<div class="row ">
  <div class="span11">
  <span class="item_command"> <i class="icon-search"></i> Searching for: <%= link_to @brand.content_search, "/brands/searches" %> </span>
  </div>
  <div class="xspan11" style="padding-left:1em;">
    <table  class="table datatable">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for item in @content %>
          <tr>
            <td width="65px"><%= image_tag item[:image_url] , :size => "64x64"%></td>
            <td>
              <% if item[:title].present? %>
                <a href="" class="toggle-content" data-post-id="<%=item[:id]%>"> <%=item[:title] %></a> <br/>
              <% end %>

              <span  id="rss-short-<%=item[:id]%>" >
                <%=  strip_html(item[:body])[0..200] unless item[:body].nil? %>
              </span>  

              <div id="rss-long-<%=item[:id]%>" style="display:none;">
                  <span ><%= simple_format item[:body] unless item[:body].nil? %></span>
                <br/>
              </div>

              <div class="item_command">
                <a href="/articles/new?from_kind=post&from_id=<%=item[:id]%>"><i class="icon-copy"></i> create article</a>
                <%= render :partial => "shared/share_post_bar" , :locals => {:post => Post.find(item[:id])} %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>








<script>
  $(document).ready(function() {
    
    $(document).on("click", ".toggle-content", function () {
      var tag_long = "#rss-long-" + $(this).data('post-id');
      var tag_short = "#rss-short-" + $(this).data('post-id');
      $(tag_long).slideToggle(400);
      $(tag_short).slideToggle(400);
      return false;
    });  
  });  
      
      
</script>