<div class="row ">
  <div class="span11">
  <span class="item_command"> <i class="icon-search"></i> Searching for: <%= link_to @brand.jobs_search, "/brands/searches" %> </span>
  </div>
  
  
  <div xclass="span11" style="padding-left:1em;">
    <table  class="table datatable">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for item in @jobs %>
          <tr>
            <td width="48px">
              <%= image_tag item.channel.icon , :size => "48x48" if item.channel.present? %>
            </td>
            <td>
              <div class="pull-right">
                <%= item.from_name %>
              </div>
              <% if item.title.present? %>
                <a href="" class="toggle-content" data-post-id="<%=item.id%>"> <%=item.title %> RANK:<%= item.rank %></a> <br/>
              <% end %>
              <%= item.from_name %>

              <span  id="rss-job-short-<%=item[:id]%>" >
                <%=  strip_html(item.body)[0..200] unless item.body.nil? %>
              </span>  

              <div id="rss-job-long-<%=item[:id]%>" style="display:none;">
                <span ><%= simple_format item.body unless item.body.nil? %></span>
                <br/>
              </div>

              <div class="item_command">
                <a href="/articles/new?from_kind=post&from_id=<%=item.id%>"><i class="icon-copy"></i> create article</a>
                <%= render :partial => "shared/share_post_bar" , :locals => {:post => item} %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>










<script>
  $(document).ready(function() {
    
    $(document).on("click", ".jobs-toggle-content", function () {
      var tag_long = "#rss-job-long-" + $(this).data('post-id');
      var tag_short = "#rss-job-short-" + $(this).data('post-id');
      $(tag_long).slideToggle(400);
      $(tag_short).slideToggle(400);
      return false;
    });  
  });  
      
      
</script>