<div class="row span11">

  <div class="pull-right">
    <span class="item_command"> <i class="icon-search"></i> Searching for: <%= link_to @brand.prospect_search, "/brands/searches" %> </span>
  </div>

  <h3 style="margin-left: 30px;">Recommended Prospects</h3>
  <table class="table span11">
    <tr>
      <td width="33%">
        <h3>Facebook Prospects</h3>
        <% for item in @fb.fans.where(:kind => "prospect").order("friends_count DESC").limit(10) do  %>
            <div class="pull-left">
              <div  style="margin:0.4em;">
                <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%=item.id%>"  ><%=  image_tag(item.profile_image , :size => "48x48", :style => "max-height:none;height: 48px;")%></a>
              </div>
            </div>
          <% end %>

        </td>
        <td width="33%">
          <h3>Twitter Prospects</h3>
          <% for item in @tw.fans.where(:kind => "prospect").order("friends_count DESC").limit(10) do  %>
              <div class="pull-left">
                <div  style="margin:0.4em;">
                  <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%=item.id%>"  ><%=  image_tag(item.profile_image , :size => "48x48", :style => "max-height:none;height: 48px;")%></a>
                </div>
              </div>
            <% end %>
          </td>
          <td width="33%">
            <h3>Linkedin Prospects</h3>
            <% for item in @li.fans.where(:kind => "prospect").order("friends_count DESC").limit(10) do  %>
                <div class="pull-left">
                  <div  style="margin:0.4em;">
                    <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%=item.id%>"  ><%=  image_tag(item.profile_image , :size => "48x48", :style => "max-height:none;height: 48px;")%></a>
                  </div>
                </div>
              <% end %>
            </td>
          </tr>
        </table>
      </div>

      <div class="row span11">
        <br/>
        <div class="pull-right">
             <span class="item_command"> <i class="icon-search"></i> Searching for: <%= link_to @brand.competitor_search, "/brands/searches" %> </span>
        </div>

        <h3 style="margin-left: 30px;">Recommended Competitors</h3>
        <table class="table span11">
          <tr>
            <td width="33%">
              <h3>Facebook Competitors</h3>
              <% for item in @fb.fans.where(:kind => "competitor").limit(10) do  %>
                  <div class="pull-left">
                    <div  style="margin:0.4em;">
                      <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%=item.id%>"  ><%=  image_tag(item.profile_image , :size => "48x48", :style => "max-height:none;height: 48px;")%></a>
                    </div>
                  </div>
                <% end %>

              </td>
              <td width="33%">
                <h3>Twitter Competitors</h3>
                <% for item in @tw.fans.where(:kind => "competitor").limit(10) do  %>
                    <div class="pull-left">
                      <div  style="margin:0.4em;">
                        <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%=item.id%>"  ><%=  image_tag(item.profile_image , :size => "48x48", :style => "max-height:none;height: 48px;")%></a>
                      </div>
                    </div>
                  <% end %>
                </td>
                <td width="33%">
                  <h3>Linkedin Competitors</h3>
                  <% for item in @li.fans.where(:kind => "competitor").limit(10) do  %>
                      <div class="pull-left">
                        <div  style="margin:0.4em;">
                          <a data-toggle="modal" href="#fanModal"  class="cmd-fan profile_button" data-fan-id="<%=item.id%>"  ><%=  image_tag(item.profile_image , :size => "48x48", :style => "max-height:none;height: 48px;")%></a>
                        </div>
                      </div>
                    <% end %>
                  </td>
                </tr>
              </table>
            </div>