<div class="modal hide" id="repostToFanPageDialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= image_tag("/assets/icons/facebook_64.png") %>Post on  Fan Page</h3>
  </div>

  <div class="modal-body">
    <textarea id="fp-body" style="width:99%"> </textarea>

    <table width="100%">
      <tr>
        <td colspan="2">
          <b>Send To :</b>
          <input type="checkbox" > Main Fan Page</input>&nbsp;&nbsp;
          <input type="checkbox" > Second Page</input>&nbsp;&nbsp;
          <input type="checkbox" > Third</input>&nbsp;&nbsp;
          <br/>
          <hr/>
        </td>
      </tr>
      <tr>
        <td width="50%">
          <p>
            <b>Options</b><br/>
            <input type="checkbox" > <i class="icon-home"></i> Include Link to blog?</input><br/>
            <input type="checkbox" > <i class="icon-time"></i>  Add to Queue?</input><br/>
            <input type="checkbox" > <i class="icon-globe"></i> Add Singniture</input><br/>
          </p>
          <textarea cols="20"  rows="2"> The Build Machine | 09-23891232 | assaf.goldstein@gmail.com </textarea><br/>
        </td>
        <td style="vertical-align:top;">

          <b> Attachments (Video/Audio/Pictures) </b><br/>
          <%= image_tag "/assets/pic.png" , :size => "100x100"%>
          <br/>
          <p>URL : "http://go,gle/absx2341Mkr"</p>
        </td>
      </tr>
    </table>



  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Post Now </a>
    <a href="#" class="btn btn-primary">Post Later</a>
  </div>
</div>




<script>
  $(document).ready(function() {
    
    $(document).on("click", ".post-to-facebook-fanpage", function () {
      var post_id =  $(this).data('post-id');
      
        $.getJSON('/posts/'+ $(this).data('pid') +'.json/'  , function(data) {
          alert(data);
          var items = [];
        
          $.each(data, function(key, val) {
            console.log(key);
            if (key.valueOf() == "title"  ){
              // update the dialog fields
            }
            if (key.valueOf() == "body"){
              // update the dialog fields
              alert(val);
              $("#fp-body").text(val);
            }
            if (key.valueOf() == "kind"){
              // update the dialog fields
              $("#p-kind").val(val);
            }
          });
        
        });      
    
    
     
    
    
      $('#repostToFanPageDialog').on('hidden', function () {
        window.location.reload();
        return true;
      })
    
      $('#repostToFanPageDialog').modal('show');
      return false;
    });
    
    
    
  } );
</script>