<% @article = Article.new(:brand_id => @brand.id, :kind => "article")  %>

<div id="repost" class="modal hide fade">
  <%= form_for @article, :html => { :class => 'form-vertical' } do |f| %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal" >&times;</a>
    <h3>Post to Blog</h3>
  </div>
  <div class="modal-body">
    
      <fieldset>

        <%= f.hidden_field :kind, :class => 'text_field' %>
        <%= f.hidden_field :remote_image_url  , :id => 'the_remote_image_url'%>
        
        <div class="pull-right">
          <%= image_tag "" ,:id => 'preview-picture' %>
        </div>
        <div class="control-group">
          <%= f.label :name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, :class => 'input-xlarge ' %>
          </div>
        </div>

        <% if @article.article? %>
          <div class="control-group">
            <%= f.label :body, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :body, :class => 'xwysiwyg' %>
            </div>
          </div>

        <% end %>


        <% if @article.podcast? %>
          <div class="control-group">
            <%= f.label "Description", :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :body, :class => 'wysiwyg' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :audio, :class => 'control-label' %>
            <div class="controls">
              <%= f.file_field :audio, :class => 'file_field' %>
            </div>
          </div>
        <% end %>

        <% if @article.clip? %>
          <div class="control-group">
            <%= f.label "Description", :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :body, :class => 'xwysiwyg' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :video, :class => 'control-label' %>
            <div class="controls">
              <%= f.file_field :video, :class => 'file_field' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :image, :class => 'control-label' %>
            <div class="controls">
              <%= f.file_field :image, :class => 'file_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :image, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :remote_image_url, :class => 'file_field' %>
            </div>
          </div>

        <% end %>


        <div class="control-group">
          <%= f.label :category, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :category, :class => 'text_field' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :tags, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :tags, :class => 'text_field' %>
          </div>
        </div>
      </fieldset>
    
  </div>


  <div class="modal-footer">
    <%= submit_tag "Post!", :class =>"btn btn-primary"  %>
    <a href="#" class="btn" data-dismiss="modal" >Close</a>
  </div>
  <% end %>
</div>



<% content_for :head do  %>
  <script>
    $(document).ready(function() {
      $(".repost-button").click(function() {
        alert($(this).data("body"));
        $("#article_name").val($(this).data("title"));
        $("#article_body").text($(this).data("body"));
        $("#preview-picture").attr("src",$(this).data("image"));
        $("#the_remote_image_url").val($(this).data("image"));
      }); 
     
      $('#repost').on('shown', function () {
  <%#*alert("YO YO!");%>
    })
  });
  </script>
<% end %>