<div class="row">
  <div class="span8">
    <table class="table datatable">
      <thead>
        <tr>
          <th></th>
          <th>Post sent over social networks</th>
        </tr>
      </thead>
      <tbody>
        <% for post in @brand.posts.where("short_url is not null") do  %>
            <tr>
              <td width="50px"><%= safe_image_tag post.img , :size => "50x50"%></td>
              <td>
                <%= strip_html(post.body) %>
                <br/>
                <div class="pull-right">
                  
                  <i class="icon-hand-down"></i> <%= rand(10) %> clicks
                  <%= post.channel.name  unless post.channel.nil? %> 
                </div>

                <div class="item_command">
                  <a href=""><i class="icon-link"></i> <%= post.short_url %> </a>
                  <a href=""><i class="icon-remove-sign"></i> delete</a>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="span3">
      <table class="table">
        <tr>
          <td>
            <h3>Clicks by Network</h3>
          </td>
        </tr>
        <tr>
          <td>
            <div style="text-align:center;">
                <% names, values = ["Facebook"," Twitter","LinkedIn"],[rand(100),rand(100),rand(100)]%>
              <%= safe_image_tag Gchart.pie( :labels => names,  :data => values, :size => "300x160",  :bar_colors => 'e08936') %> 
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Posts by type</h3>
          </td>
        </tr>
        <tr>
          <td>
            <div style="text-align:center;">
              <% names, values = ["Original Posts","Shares", "Articles"],[rand(100),rand(100),rand(100)]%>
              <%= safe_image_tag Gchart.pie( :labels => names,  :data => values, :size => "300x160",  :bar_colors => 'e08936') %> 
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>