<table class="table">
  <tr>
    <td width="25%">
      <div class="thumbnail">
        <div class="modal-header">
          <b>  <%= image_tag "/assets/flat/globe-5-64.png" , :size => "24x24" %> <%=  link_to "Website", "/websites/#{@brand.site.id}"%> </b>
        </div>
        <div class="modal-body">
          Page Views: <%= link_to number_with_delimiter(@brand.site.total_views) , "/websites/#{@brand.site.id}" %> <br/>
          Inquiries: <%= link_to number_with_delimiter(@brand.inquieries.count) , "/inquieries" %> <br/>
        </div>
      </div>
    </td>

    <td width="25%">
      <div class="thumbnail">
        <div class="modal-header">
          <b>  <%= image_tag "/assets/flat/campaign.png" , :size => "24x24" %> <%= link_to "Campaign Pages","/bulk_mails?campaign=true"%> </b>
        </div>
        <div class="modal-body">
          Sent: <%= link_to number_with_delimiter(@brand.opened_trackers.count) , "/bulk_mails" %><br/>
          Opened: <%= link_to number_with_delimiter(@brand.opened_trackers.count) , "/bulk_mails" %><br/>
          Clicked: <%= link_to number_with_delimiter(@brand.opened_trackers.count) , "/bulk_mails" %><br/>
        </div>
      </div>
    </td>

    <td width="25%">
      <div class="thumbnail">
        <div class="modal-header">
          <b>  <%= image_tag "/assets/flat/newspaper-7-64.png" , :size => "24x24" %> <%= link_to "Newsletters","/bulk_mails"%>  </b>
        </div>
        <div class="modal-body">
          Sent: <%= link_to number_with_delimiter(@brand.opened_trackers.count) , "/bulk_mails" %><br/>
          Opened: <%= link_to number_with_delimiter(@brand.opened_trackers.count) , "/bulk_mails" %><br/>
          Clicked: <%= link_to number_with_delimiter(@brand.opened_trackers.count) , "/bulk_mails" %><br/>
        </div>
      </div>
    </td>

    <td width="25%">
      <div class="thumbnail">
        <div class="modal-header">
          <b>  <%= image_tag "/assets/flat/christmas-20-64.png" , :size => "24x24" %> <%= link_to "Products","/products"%>  </b>
        </div>
        <div class="modal-body">
          Products: <%= link_to number_with_delimiter(@brand.products.count) , "/products" %><br/>
          Views: <%= link_to number_with_delimiter(@brand.trackers.where("product_id > 0").count) , "/products" %><br/>
          Inquiries: <%= link_to number_with_delimiter(@brand.inquieries.where("product_id > 0").count) , "/products" %>
        </div>
      </div>
    </td>

  </tr>
<tr>
  <td colspan="4" style="text-align: center">
    <b>Social Networks</b>
  </td>
</tr>

  <tr>
    <td width="25%">
      <div class="thumbnail">
        <div class="modal-header">
          <b>  <%= image_tag @fb.icon  , :size => "24x24"%> <%=  link_to "Facebook" , @fb %></b>
        </div>
        <div class="modal-body">
          Fans: <%= number_with_delimiter(@fb.fans.where(:kind => "fan").count) %> <br/>
          Posts: <%= number_with_delimiter(@fb.comments.count) %> <br/>
          Comments: <%= number_with_delimiter(@fb.comments.count) %> <br/>
        </div>
      </div>
    </td>
    <td width="25%">
      <div class="thumbnail">
        <div class="modal-header">
          <b><%= image_tag @tw.icon  , :size => "24x24"%> <%=  link_to "Twitter" , @tw %></b>
        </div>
        <div class="modal-body">
          Fans: <%= number_with_delimiter(@tw.fans.where(:kind => "fan").count) %> <br/>
          Posts: <%= number_with_delimiter(@tw.comments.count) %> <br/>
          Comments: <%= number_with_delimiter(@tw.comments.count) %> <br/>
        </div>
      </div>
    </td>
    <td width="25%">
      <div class="thumbnail">
        <div class="modal-header">
          <b><%= image_tag @li.icon  , :size => "24x24"%> <%=  link_to "Linkedin" , @li %></b>
        </div>
        <div class="modal-body">
          Fans: <%= number_with_delimiter(@li.fans.where(:kind => "fan").count) %> <br/>
          Posts: <%= number_with_delimiter(@li.comments.count) %> <br/>
          Comments: <%= number_with_delimiter(@li.comments.count) %> <br/>      </div>
      </div>
    </td>
    <td width="25%">
      <div class="thumbnail">
        <div class="modal-header">
          <b> <%= image_tag @fs.icon  , :size => "24x24"%> <%=  link_to "Foursquare" , @fs %></b>
        </div>
        <div class="modal-body">
          Fans: <%= number_with_delimiter(@fs.fans.where(:kind => "fan").count) %> <br/>
          Posts: <%= number_with_delimiter(@fs.comments.count) %> <br/>
          Comments: <%= number_with_delimiter(@fs.comments.count) %> <br/>
        </div>
      </div>
    </td>
  </tr>

  <tr>
  <td colspan="4" style="text-align: center">
    <b>Blogs</b>
  </td>
</tr>

  <tr>
    <td width="25%">
      <div class="thumbnail">
        <div class="modal-header">
          <b><%= image_tag @yt.icon  , :size => "24x24"%> <%=  link_to "Youtube" , @yt %></b>
        </div>
        <div class="modal-body">
          Fans: <%= number_with_delimiter(@yt.fans.where(:kind => "fan").count) %> <br/>
          Posts: <%= number_with_delimiter(@yt.comments.count) %> <br/>
          Comments: <%= number_with_delimiter(@yt.comments.count) %> <br/>
        </div>
      </div>
    </td>
    <td width="25%">
      <div class="thumbnail">
        <div class="modal-header">
          <b><%= image_tag @wp.icon  , :size => "24x24"%> <%=  link_to "Wordpress" , @wp %></b>
        </div>
        <div class="modal-body">
          Posts: <%= number_with_delimiter(@wp.comments.count) %> <br/>
          Comments: <%= number_with_delimiter(@wp.comments.count) %> <br/>
        </div>
      </div>
    </td>
    <td width="25%">
      <div class="thumbnail">
        <div class="modal-header">
          <b><%= image_tag @bl.icon  , :size => "24x24"%> <%=  link_to "Blogger" , @bl %></b>
        </div>
        <div class="modal-body">
          Posts: <%= number_with_delimiter(@bl.comments.count) %> <br/>
          Comments: <%= number_with_delimiter(@bl.comments.count) %> <br/>
        </div>
      </div>
    </td>
    <td width="25%">
      <div class="thumbnail">
        <div class="modal-header">
          <b><%= image_tag "/assets/flat/tumblr-3-64.png"  , :size => "24x24"%> Tumblr</b>
        </div>
        <div class="modal-body">
          Posts: <%= number_with_delimiter(@fb.comments.count) %> <br/>
          Comments: <%= number_with_delimiter(@fb.comments.count) %> <br/>
        </div>
      </div>
    </td>
  </tr>
</table>