<%
def link_to_dialog_login(img,channel)
  html = "<a data-toggle='xmodal' href='#connectDialog'  class='cmd-fan openLoginDialog btnSocialLogin' data-img=#{img} data-channel='#{channel}'  >"
  #html << "<img src=#{img} width='32px' height='32px'/>"
  html << "Connect"
  html << "</a>"
end

def network_thumnail(name,img)

  title = name
  desc = lorem(12)
  login_link = ""
  logout_link = ""
  create_account_url = ""
  connected_style = ""

  if name.include? "Facebook"
    desc = "Connect to Facebook, manage your fan page and groups."
    login_link = link_to("login" ,"/auth/facebook" , :class => "btn ")
    create_account_url = "http://www.facebook.com"
    login_link =  link_to "Logout", "/brands/disconnect?channel=#{@fb.id}" , :class => " " if @fb.in_use?
    connected_style = "alert alert-success" if @fb.in_use?
  end
  if name.include? "Twitter"
    desc = "Connect to Twitter, manage your followers."
    login_link = link_to("login" ,"/auth/twitter" , :class => "btn ")
    create_account_url = "http://www.twitter.com"
    login_link =  link_to "Logout", "/brands/disconnect?channel=#{@tw.id}" , :class => "" if @tw.in_use?
    connected_style = "alert alert-success" if @tw.in_use?
  end
  if name.include? "Foursquare"
    desc = "Connect to Foursquare, manage your Venue, offer deals and more."
    login_link = link_to("login" ,"/auth/foursquare" , :class => "btn ")
    create_account_url = "http://www.foursquare.com"
    login_link =  link_to "Logout", "/brands/disconnect?channel=#{@fs.id}" , :class => "" if @fs.in_use?
    connected_style = "alert alert-success" if @fs.in_use?
  end


  if name.include? "Wordpress"
    desc = "Manage your blog at wordpress.com"
    login_link = link_to_dialog_login(img,"wordpress")
    create_account_url = ""
    login_link =  link_to "Logout", "/brands/disconnect?channel=#{@wp.id}" , :class => "" if @wp.in_use?
    connected_style = "alert alert-success" if @wp.in_use?
  end

  if name.include? "Blogger"
    desc = "Manage your blog at Blogger.com"
    login_link = link_to_dialog_login(img,"blogger")
    create_account_url = ""
    login_link =  link_to "Logout", "/brands/disconnect?channel=#{@bl.id}" , :class => "" if @bl.in_use?
    connected_style = "alert alert-success" if @bl.in_use?
  end

  if name.include? "Tumblr"
    desc = "Manage your blog at Tumblr.com"
    login_link = link_to_dialog_login(img,"tumblr")
    create_account_url = ""
  end

  if name.include? "Google Search"
    desc = "Runs Daily SEO Searches for you brand"
    login_link = link_to_dialog_login(img,"Google")
    create_account_url = ""
    login_link =  link_to_dialog_login(img,"google_search")
    #connected_style = "alert alert-success" if @yt.in_use?
  end

  if name.include? "Google Reader"
    desc = "Manage your RSS Feeds"
    login_link = link_to_dialog_login(img,"Google")
    create_account_url = ""
    login_link =  link_to_dialog_login(img,"reader")
    #connected_style = "alert alert-success" if @yt.in_use?
  end


  if name.include? "Youtube"
    desc = "Manage your videos and user comments on youtube.com"
    login_link = link_to_dialog_login(img,"youtube")
    create_account_url = ""
    login_link =  link_to "Logout", "/brands/disconnect?channel=#{@yt.id}" , :class => "" if @yt.in_use?
    connected_style = "alert alert-success" if @yt.in_use?
  end


  if name.include? "Gmail"
    desc = "Send and recieve emails from goolgle mail"
    login_link = link_to_dialog_login(img,"gmail")
    create_account_url = "http://www.foursquare.com"
  end

  if name.include? "Mad Mimi"
    desc = "Send and recieve emails from Mad Mimi mail services"
    login_link = link_to_dialog_login(img,"madmimi")
    create_account_url = ""
  end

  if name.include? "Mail Chimp"
    desc = "Send and recieve emails from Mail Chimp mail services"
    login_link = link_to_dialog_login(img,"mailchimp")
    create_account_url = ""
  end
  if name.include? "Send Grid"
    desc = "Send and recieve emails from SendGrid mail services"
    login_link = link_to_dialog_login(img,"sendgrid")
    create_account_url = ""
  end


  if name.include? "Linkedin"
    desc = "Manage your Linkedin Connection, view group post and share your ideas"
    login_link = link_to("login" ,"/auth/linkedin" , :class => "btn ")
    create_account_url = "http://www.foursquare.com"
    login_link =  link_to "Logout", "/brands/disconnect?channel=#{@li.id}" , :class => "" if @li.in_use?
    connected_style = "alert alert-success" if @li.in_use?
  end

if name.include? "dropbox"
    desc = "Manage your dropbox pictures for website and articles"
    login_link = link_to("login" ,"/auth/dropbox" , :class => "btn ")
    create_account_url = "http://www.dropbox.com"
    login_link =  link_to "Logout", "/brands/disconnect?channel=#{@li.id}" , :class => "" if @li.in_use?
    connected_style = "alert alert-success" if @li.in_use?
  end







  html = "
  <div class='thumbnail span3 pull-left' style='margin-bottom:1em;'>
  <div class='modal-header #{connected_style}'>
  #{image_tag(img, :size => "32x32")}
  #{title}
  </div>
  <div class='modal-body'>
  #{desc}
  </div>
  <div class='modal-footer' style'text-align:left;'>
  #{login_link}
  </div>
  </div>"

  html


end

%>





<div class="row-fluid span12 thumbnail">

  <div class="modal-header">
    <div class="pull-right item_command">
      <a href="/brands/<%=@brand.id%>/edit"><i class="icon-info-sign"></i> Brand info</a>
      <a href="/brands/connections"><i class="icon-signal"></i> Connections</a>
      <a href="/brands/searches"><i class="icon-search"></i> Searches </a>
    </div>

    <h2><%= image_tag "/assets/flat/network-5-64.png", :size => "48x48"   %> Connections</h2>
  </div>



  <br/>

  <div class="span11">
    <%=  raw network_thumnail("Facebook","/assets/icons/facebook_64.png") %>
    <%=  raw  network_thumnail("Twitter","/assets/icons/twitter_64.png" )%>
    <%=  raw  network_thumnail("Linkedin","/assets/icons/linkedin_64.png")%>
    <%=  raw  network_thumnail("Foursquare","/assets/icons/foursquare_64.png") %>
  </div>
  
    <div class="span11">
      <%=  raw  network_thumnail("Wordpress","/assets/icons/wordpress_64.png") %>
      <%=  raw  network_thumnail("Blogger","/assets/icons/blogger_64.png") %>
      <%=  raw  network_thumnail("Tumblr","/assets/icons/tumblr_64.png") %>
      <%=  raw  network_thumnail("Gmail","/assets/icons/gmail_64.png") %>
    </div>

    <div class="span11">
      <%=  raw  network_thumnail("dropbox","/assets/icons/reddit_64.png") %>
      <%=  raw  network_thumnail("Google Search","/assets/icons/google_64.png") %>
      <%=  raw  network_thumnail("Google Reader","/assets/icons/rss.png") %>
      <%=  raw  network_thumnail("reddit","/assets/icons/reddit_64.png") %>
    </div>

<%#=  raw  network_thumnail("Mad Mimi","/assets/icons/madmimi_logo.png") %>
<%#=  raw  network_thumnail("Mail Chimp","/assets/icons/mailchimp_logo.png") %>
<%#=  raw  network_thumnail("Send Grid","/assets/icons/sendgrid_logo.png") %>
  </div>
</div>




<div class="modal hide" id="connectDialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="fan-title"> <img src="" id="loginDialogIcon" width="32px" height="32px" /> Connect to <span id="channelName"></span> </h3>
  </div>

  <div class="modal-body">
    <table class="table">
      <tr class="hide" id="tr-url">
        <td> URL:</td>
        <td> <%= text_field_tag "login" , "url" %></td>
      </tr>
      <tr class="hide" id="tr-user">
        <td> User:</td>
        <td> <%= text_field_tag "login" , "user" %></td>
      </tr>
      <tr class="hide" id="tr-email">
        <td> Email:</td>
        <td> <%= text_field_tag "login" , "email" %></td>
      </tr>
      <tr class="hide" id="tr-password">
        <td> Password:</td>
        <td> <%= text_field_tag "login" , "pwd" %></td>
      </tr>
      <tr class="hide" id="tr-token">
        <td> Token:</td>
        <td> <%= text_field_tag "login" , "token" %></td>
      </tr>


      <tr>
        <td> </td>
        <td> <%= submit_tag "Connect" %> <%= link_to "Cancel", "", :class => "btn"%> </td>
      </tr>
    </table>
  </div>
</div>

</div>





<script>
  $(document).ready(function() {
    $(document).on("click", ".openLoginDialog", function () {
      $("#connectDialog").slideToggle(400);
      channel = $(this).data("channel");
      $("#channelName").text(channel);
      
      if (channel== "blogger"){
        $("#loginDialogIcon").attr("src","/assets/icons/blogger_64.png");
        $("#tr-url").show();
        $("#tr-email").show();
      }
        
      if (channel== "wordpress"){
        $("#loginDialogIcon").attr("src","/assets/icons/wordpress_64.png");
        $("#tr-url").show();
        $("#tr-email").show();
      }
      if (channel== "tumblr"){
        $("#loginDialogIcon").attr("src","/assets/icons/tumblr_64.png")
        $("#tr-url").show();
        $("#tr-email").show();
      }
      if (channel== "youtube"){
        $("#loginDialogIcon").attr("src","/assets/icons/youtube_64.png")
        $("#tr-url").show();
        $("#tr-email").show();
        
      }
      if (channel== "gmail"){
        $("#loginDialogIcon").attr("src","/assets/icons/gmail_64.png")
        $("#tr-email").show();
        $("#tr-password").show();
      }
      if (channel== "reddit"){
        $("#loginDialogIcon").attr("src","/assets/icons/reddit_64.png")
        $("#tr-user").show();
        $("#tr-password").show();
      }
      if (channel== "google_search"){
        $("#loginDialogIcon").attr("src","/assets/icons/google_64.png")
        $("#tr-email").show();
        $("#tr-token").show();
      }
      if (channel== "reader"){
        $("#loginDialogIcon").attr("src","/assets/icons/rss.png")
        $("#tr-email").show();
        $("#tr-password").show();
      }
      if (channel== "sendgrid"){
        $("#loginDialogIcon").attr("src","/assets/icons/sendgrid_logo.png")
        $("#tr-user").show();
        $("#tr-password").show();
        $("#tr-token").show();
      }
      return false;
    }); 
      
  });
</script>
