<% content_for :head do  %>
  <script type="text/javascript">
    $(function() {
      var seg = {
        id : "segmented_001",
        numberOfSegments : 4,
        titlesOfSegments : ["Comments", "Posts", "Website", "Competitors"],
        selectedSegment : 2,
        cssClass : ["ui-custom-tint", "ui-custom-tint", "ui-custom-tint", "ui-custom-tint"],
        imagePath : "icons/",
        container : "#stackpanel_01"
      };
      var seggie = function(item) {
        console.log("The child position is: " + item.attr("ui-child-position"));
      }
      $("segmentedcontrol").UISegmentedControl("#stackpanel_01", seggie);
        
      $("#stackpanel_01").UIIdentifyChildNodes();
      var opts = {
        numberOfTabs : 5,
        imagePath : "/assets/mobile/icons/",
        iconsOfTabs : ["icon_information.png","icon_mail.png", "icon_post.png", "icon_magnify_glass.png", "icon_users.png"],
        tabLabels : ["Info","Emails", "Social", "Google", "website"],
        selectedTab : 0
      };
      $("#main").UICreateTabBar(opts);
    });
		
     
  </script>
<% end %>


<style>
  h1 img{
    vertical-align: top;
  }
</style>

<subview ui-associations="withNavBar withTabBar">
  <scrollpanel>

    <stack id="stackpanel_01" ui-implements="segmented-toggle-stack">

    </stack>

    <tableview>       
      <tableheader>
        <b>Exposure </b>
      </tableheader>
      <tablecell >
        <celltitle>
          <%= image_tag @brand.image_url , :width => "100%" %>
        </celltitle>
        <celltitle>
          <%= @brand.site.url %>
        </celltitle>
        <celldescription>
          <h5>Site Description</h5>
          <p><%= @meta %></p>
          <hr/>
          <h5>keywords</h5>
          <%= @keywords %>
          <hr/>
          <h5>Competitor performance </h5>
          <%= image_tag Gchart.bar( :data => [ Channel.find(1).chart_line_1(30) ], 
            :title => '', 
            :size => "300x50",
            :bg => {:color => 'ffffff', :type => 'gradient'}, 
            :bar_colors => '38349b'), :size => "300x50" %>
          <hr/>
</celldescription>
        <celltitle>
          Friends: 
          <%#= @brand.friends_count %>
        </celltitle>
      </tablecell>
    </tableview>
  </scrollpanel>
</subview>

<subview ui-associations="withNavBar withTabBar">
  <scrollpanel>
    <tableview>
      <tableheader>
        <b>Messages from <%= @brand.name %></b>
      </tableheader>
      <% for post in @brand.posts[1..10] do  %>
          <tablecell ui-usage="image">
            <%=  image_tag(post.img, :size => "50x50")%>
            <celltitle><%= link_to @brand.name , post%></celltitle>
            <celldetail><%= strip_html(post.body)[0..140] unless post.body.nil? %> </celldetail>
          </tablecell>
        <% end %>
      </tableview>
    </scrollpanel>
  </subview>


  <subview ui-associations="withNavBar withTabBar">
    <scrollpanel>
      <tableview>
        <tableheader>
          <b>Posts by  <%= @brand.name %></b>
        </tableheader>
        <% for post in @brand.posts[1..10] do  %>
            <tablecell ui-usage="image">
              <%=  image_tag(post.img, :size => "50x50")%>
              <celltitle><%= link_to @brand.name , post%></celltitle>
              <celldetail><%= post.plain_text[0..140] unless post.body.nil? %> </celldetail>
            </tablecell>
          <% end %>

        </tableview>					
      </scrollpanel>
    </subview>

    <subview ui-associations="withNavBar withTabBar">
      <scrollpanel>
        <tableview>
          <tableheader>
            <b>Google search for <%= @brand.name %></b>
          </tableheader>
          <% for item in @google_results do %>
              <tablecell ui-usage="image">
                <tablecell ui-usage="image">
                  <%#= image_tag  channel_icon_for_url(item[:url]) ,:size => "16x16" %>
                  <celltitle>
                    <b><%= item[:title] %></b><br/>    
                  </celltitle>
                  <celldetail>
                    <i><%= item[:description] %><br/><%=  link_to item[:url] , "http://#{item[:url]}" , :target => "_blank"%> 
                  </celldetail>
                </tablecell>
              </tablecell>
            <% end %>
          </tableview>
        </scrollpanel>
      </subview>

      <subview ui-associations="withNavBar withTabBar">
        <scrollpanel>
          <tableview>				
            bbb
          </tableview>
        </scrollpanel>
      </subview>


      <style>
        .summary{
          width:100%;
          padding:0.4em;
        }
        .summary h5{
          font-size: 22px;
          color:#990000;
        }

        .summary td{
          text-align: center;
          font-size: 12px;
          color:#004099;
        }
        .rate{
          font-size:14px;
          font-weight: bold;
        }
      </style>