<%= render "shared/upper_row" %>
<% @channel = @brand.get_channel("facebook") %>
<% @fb = @brand.get_channel("facebook") %>
<% @tw = @brand.get_channel("twitter") %>
<% @yt = @brand.get_channel("youtube") %>
<% @li = @brand.get_channel("linkedin") %>

<div class="row">

  <div class="span12">
    <div class="thumbnail" >

      <div class="pull-right item_command" style="padding:1em;">
        <%= link_to raw("<i class='icon-home'></i> Home") , "/brands/#{@brand.id}"   %>
        <%= link_to raw("<i class='icon-cog'></i> Setup") , "/brands/#{@brand.id}/edit"   %>
        <%= link_to raw("<i class='icon-envelope'></i> Email Marketing") , "/bulk_mails"%>
        <%= link_to raw("<i class='icon-globe'></i> website") , "/websites/#{@brand.site.id}"   %>
      </div>


      <div class="modal-header">
        <div class="modal-header ">
          <h2> Brand Exposure over social networks</h2>
        </div>
        <div class="tabbable">
          <br/>
          <ul class="nav nav-tabs">
            <li class="active"> <a href="#summary" data-toggle="tab">Exposure Summary</a>  </li>
            <li > <a href="#user-engagment" data-toggle="tab">User engagment</a>  </li>
            <li> <a href="#mention-news" data-toggle="tab">Brand Mentioning</a> </li>
            <li> <a href="#mention-news" data-toggle="tab">Email Marketing </a> </li>
          </ul>
          <div class="tab-content">

            <div class="tab-pane active" id="summary">
              <table class="xtable">
                <tr style="vertical-align: top;">
                  <td width="25%">
                    <h3>Brand Exposure</h3><hr/>
                    <ul class="messages">
                      <li class="messages-li"><i class="icon-user"></i>  <%= "#{number_with_delimiter @brand.fans.count} fans " %> </li>
                      <li class="messages-li"><i class="icon-bullhorn"></i>  <%=  "#{number_with_delimiter @brand.potential_exposure} potential exposure " %> </li>
                      <li class="messages-li"><i class="icon-comment"></i>  <%= "#{ number_with_delimiter @brand.estimated_exposure} estimated exposure" %> </li>
                      <li class="messages-li"><i class="icon-eye-open"></i>  <%= "#{ number_with_delimiter @brand.tracked_views} tracked views" %> </li>
                    </ul>



                    <h3>Exposure by channel</h3><hr/>
                    <%= image_tag Gchart.pie( :labels => ["Facebook","Twitter","Youtube", "Email"],  :data => [ @brand.get_channel("facebook").chart_line_1(4)], :size => "300x160",  :bar_colors => '67a1db') %> 
                    <hr/>
                    <h3>Website Viewes by Device</h3>
                    <%= image_tag Gchart.pie( :labels => ["Desktop","Smartphone", "Tablet"],  :data => [ @brand.get_channel("facebook").chart_line_1(3)], :size => "300x160",  :bar_colors => '67a1db') %> 
                  </td>

                  <td width="50%">
                    <h3>Backlinks</h3><hr/>
                    <table class="table datatable">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for item in @site_url_results do %>
                            <tr>
                              <td width="32px">
                                <%   img = "/assets/icons/google_search_64.png"  %>
                                <%   img = "/assets/icons/twitter_64.png" if item[:url].include? "twitter" %>
                                <%   img = "/assets/icons/youtube_64.png" if item[:url].include? "youtube" %>
                                <%   img = "/assets/icons/facebook_64.png" if item[:url].include? "facebook" %>
                                <%   img = "/assets/icons/blogger_64.png" if item[:url].include? "blogger" %>

                                <%= image_tag img  , :size => "32x32"%>
                              </td>
                              <td>
                                <b><%= item[:title] %></b><br/>
                                <i><%= item[:description][0..200]  %><br/>
                                  <%=  link_to item[:url] , "http://#{item[:url]}" , :target => "_blank"%> 
                              </td>
                            <% end %>
                          </tr>
                        </tbody>
                      </table>

                    </td>
                    <td width="33%">
                      <h3>Engaged Users</h3><hr/>
                      <table class="xtable ">
                        <tr>
                          <td>
                            <b> <i class="icon-facebook icon-large"></i> Facebook  </b>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <% for item in @fb.fans.where(:kind => "prospect").order("friends_count DESC")[0..9] do %>
                                <div class="pull-left">
                                  <div  style="margin:0.4em;">
                                    <a data-toggle="modal" href="#fanModal"  class="cmd-fan" data-fan-id="<%=item.id%>"  ><%=image_tag(item.profile_image , :size => "32x32", :style => "max-height:none;height: 32px;")%></a>
                                  </div>
                                </div>
                              <% end %>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <br/><b> <i class="icon-twitter icon-large"></i> Twitter  </b>
                            </td>
                          </tr>
                          <tr>
                            <td>

                              <% for item in @tw.fans.where(:kind => "prospect").order("friends_count DESC")[0..9] do %>
                                  <div class="pull-left">
                                    <div  style="margin:0.4em;">
                                      <a data-toggle="modal" href="#fanModal"  class="cmd-fan" data-fan-id="<%=item.id%>"  ><%=image_tag(item.profile_image , :size => "32x32", :style => "max-height:none;height: 32px;")%></a>
                                    </div>
                                  </div>
                                <% end %>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <br/>
                                <b> <i class="icon-linkedin icon-large"></i> Linkedin  </b>
                              </td>
                            </tr>
                            <tr>
                              <td>

                                <% for item in @li.fans.where(:kind => "prospect").order("friends_count DESC")[0..9] do %>
                                    <div class="pull-left">
                                      <div  style="margin:0.4em;">
                                        <a data-toggle="modal" href="#fanModal"  class="cmd-fan" data-fan-id="<%=item.id%>"  ><%=image_tag(item.profile_image , :size => "32x32", :style => "max-height:none;height: 32px;")%></a>
                                      </div>
                                    </div>
                                  <% end %>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
            </div>





                    <div class="tab-pane " id="user-engagment">
   <table class="xtable">
                <tr style="vertical-align: top;">
                  <td width="25%">
                    <h3>Brand Exposure</h3><hr/>
                    <ul class="messages">
                      <li class="messages-li"><i class="icon-user"></i>  <%= "#{number_with_delimiter @brand.fans.count} fans " %> </li>
                      <li class="messages-li"><i class="icon-bullhorn"></i>  <%=  "#{number_with_delimiter @brand.potential_exposure} potential exposure " %> </li>
                      <li class="messages-li"><i class="icon-comment"></i>  <%= "#{ number_with_delimiter @brand.estimated_exposure} estimated exposure" %> </li>
                      <li class="messages-li"><i class="icon-eye-open"></i>  <%= "#{ number_with_delimiter @brand.tracked_views} tracked views" %> </li>
                    </ul>



                    <h3>Exposure by channel</h3><hr/>
                    <%= image_tag Gchart.pie( :labels => ["Facebook","Twitter","Youtube", "Email"],  :data => [ @brand.get_channel("facebook").chart_line_1(4)], :size => "300x160",  :bar_colors => '67a1db') %> 
                    <hr/>
                    <h3>Website Viewes by Device</h3>
                    <%= image_tag Gchart.pie( :labels => ["Desktop","Smartphone", "Tablet"],  :data => [ @brand.get_channel("facebook").chart_line_1(3)], :size => "300x160",  :bar_colors => '67a1db') %> 
                  </td>

                  <td width="50%">
                    <h3>Backlinks</h3><hr/>
                    <table class="table datatable">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for item in @site_url_results do %>
                            <tr>
                              <td width="32px">
                                <%   img = "/assets/icons/google_search_64.png"  %>
                                <%   img = "/assets/icons/twitter_64.png" if item[:url].include? "twitter" %>
                                <%   img = "/assets/icons/youtube_64.png" if item[:url].include? "youtube" %>
                                <%   img = "/assets/icons/facebook_64.png" if item[:url].include? "facebook" %>
                                <%   img = "/assets/icons/blogger_64.png" if item[:url].include? "blogger" %>

                                <%= image_tag img  , :size => "32x32"%>
                              </td>
                              <td>
                                <b><%= item[:title] %></b><br/>
                                <i><%= item[:description][0..200]  %><br/>
                                  <%=  link_to item[:url] , "http://#{item[:url]}" , :target => "_blank"%> 
                              </td>
                            <% end %>
                          </tr>
                        </tbody>
                      </table>

                    </td>
                    <td width="33%">
                      <h3>Engaged Users</h3><hr/>
                      <table class="xtable ">
                        <tr>
                          <td>
                            <b> <i class="icon-facebook icon-large"></i> Facebook  </b>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <% for item in @fb.fans.where(:kind => "engaged").order("friends_count DESC")[0..9] do %>
                                <div class="pull-left">
                                  <div  style="margin:0.4em;">
                                    <a data-toggle="modal" href="#fanModal"  class="cmd-fan" data-fan-id="<%=item.id%>"  ><%=image_tag(item.profile_image , :size => "32x32", :style => "max-height:none;height: 32px;")%></a>
                                  </div>
                                </div>
                              <% end %>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <br/><b> <i class="icon-twitter icon-large"></i> Twitter  </b>
                            </td>
                          </tr>
                          <tr>
                            <td>

                              <% for item in @tw.fans.where(:kind => "engaged").order("friends_count DESC")[0..9] do %>
                                  <div class="pull-left">
                                    <div  style="margin:0.4em;">
                                      <a data-toggle="modal" href="#fanModal"  class="cmd-fan" data-fan-id="<%=item.id%>"  ><%=image_tag(item.profile_image , :size => "32x32", :style => "max-height:none;height: 32px;")%></a>
                                    </div>
                                  </div>
                                <% end %>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <br/>
                                <b> <i class="icon-linkedin icon-large"></i> Linkedin  </b>
                              </td>
                            </tr>
                            <tr>
                              <td>

                                <% for item in @li.fans.where(:kind => "engaged").order("friends_count DESC")[0..9] do %>
                                    <div class="pull-left">
                                      <div  style="margin:0.4em;">
                                        <a data-toggle="modal" href="#fanModal"  class="cmd-fan" data-fan-id="<%=item.id%>"  ><%=image_tag(item.profile_image , :size => "32x32", :style => "max-height:none;height: 32px;")%></a>
                                      </div>
                                    </div>
                                  <% end %>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      
                      </div>


                    </div>
                  </div>

                </div>

              </div>
            </div>

          </div>


          <style>
            .value{ color:#333; font-size: 28px; line-height: 30px;}
            .title{ color:#aaa;}
            .messages-li{list-style-type: none; xfont-size:16px;}
            ul.messages{ margin:0px;}
            .table-d{ width:100%; text-align: left; font-size:13px; line-height:18px;vertical-align: top; }

          </style>