<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "reading" %>
<div class="row">
  <div class="span12">
    <div class="thumbnail">
      <table class="table ">
        <% for feed in @feeds do %>
            <% begin %>
              <tr>
                <td><%= feed.title %> </td>
                <td><%= feed.unread_items.count %> </td>
              </tr>
            <% rescue %>
              <%  next %>
            <% end %>
          <%end%>
        </table>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="span12">
      <% for item  in @entries do %>
          <div class="thumbnail">
            <b><%= simple_format item.title.to_s %></b> <br/>
            <% if extract_image( item.summary.to_s) %>
              <div class="pull-left">
                <%= image_tag(extract_image( item.summary.to_s)) %>
              </div>
            <% end  %>

            <%= simple_format(item.summary.to_s) %>
            <br/>
          </div>        
        <%end%>

      </div>

    </div>