<% @articles = current_user.brand.get_channel("rss").posts %>



<subview ui-associations="withNavBar withTabBar">
  <scrollpanel>
    <stack ui-implements="paging">
      <panel>
        <stack>
          <% for item in @articles do  %>
              <panel zstyle="width:100%">
                <img src="<%=item.img%>" width="300px;"/>
                <h4><%= simple_format item.title %></h4>
                <p><%=  item.plain_text%> </p>
              </panel>
            <% end %>
          </stack>
        </panel>
      </stack>
    </scrollpanel>
  </subview>


  <style>
    stack[ui-implements="paging"] > panel > stack > panel {
      width: 320px;
      height: 880px;
      text-align: center;
      font-size: 12px;
    }

    stack[ui-implements='paging'] > panel panel > p {
      width: 300px;
      text-align: left;
      margin: 0;
      height:600px;
    }

    stack[ui-implements="indicators"] {
      width: 320px;
    }

  </style>