<%= render :partial => "shared/upper_row" %>
<div class="row-fluid">
  <div class="thumbnail">

    <div class="modal-header">
      <h2>  <%= image_tag("/assets/flat/user-13-64.png") %>   Find People </h2>
    

    <table class="table datatable">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%for item in @prospects do %>
          <tr>
            <td  width="70px"><%= image_tag(item[:picture], :size => "70x70")  %> </td>
            <td>
              <div class="pull-right item_command">
                <%= item[:network] %>
              </div>
              <b><%= item[:name] %></b> <br/>

              <div class=" item_command">
                <% if item[:location] %>
                  <i class="icon-map-marker"></i> Location: <%= item["location"] %> &nbsp;
                <% end %>

                <% if item[:network] == "facebook"  %>
                  <i class="icon-facebook-sign"></i> Facebook &nbsp;
                <% end %>

                <% if item[:network] == "twitter"  %>
                  <i class="icon-twitter-sign"></i> Twitter &nbsp;
                <% end %>

                <% if item[:network] == "linkedin"  %>
                  <i class="icon-linkedin-sign"></i> Linked In &nbsp;
                <% end %>


                <% if item[:posts].to_i > 1 %>
                  <i class="icon-comment-alt"></i> Posts <%=  number_with_delimiter item[:posts] %> &nbsp;
                <% end %>

                <% if item[:likes].to_i > 1 %>
                  <i class="icon-thumbs-up"></i> Posts <%= number_with_delimiter  item[:likes] %> &nbsp;
                <% end %>

                <% if item[:followers].to_i > 1 %>
                  <i class="icon-user"></i> Followers <%= number_with_delimiter  item[:followers] %> &nbsp;
                <% end %>
              </div>



              <p>
                <%= item[:short_description] %>
              <p/>

              <div class="item_command">
                <a href="" ><i class="icon-hand-right"></i> Follow</a>
                <a href="" ><i class="icon-star"></i> Competitor!</a>
                <a href="" ><i class="icon-envelope"></i> send message</a>
                <a href="" ><i class="icon-search"></i> Search</a>
              </div>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>