<div class="row-fluid thumbnail">

  <%= form_for @brand, :html => { :class => 'form-vertical' } do |f| %>
    <fieldset>
      
      <div class="modal-header">
        <div class="pull-right item_command">
          <a href="/brands/<%=@brand.id%>/edit"><i class="icon-info-sign"></i> Brand info</a>
          <a href="/brands/connections"><i class="icon-signal"></i> Connections</a>
          <a href="/brands/searches"><i class="icon-search"></i> Searches </a>
        </div>
        
        <h2> <%= image_tag "/assets/flat/magnifier-64.png",:size => "48x48" %> Automatic Searches</h2>
      </div>


      <div class="modal-header">


        <div class="control-group">
          <%= f.label "Content Search", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :content_search, :class => 'text_field span11' %>
          </div>
        </div>


        <table class="xtable">
          <tr>
            <td >
              <div class="control-group">
                <%= f.label "Prospect Search", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :prospect_search, :class => 'text_field  span8 ' %>
                </div>
              </div>
              </div>
            </td>
            <td>

              <div class="control-group">

                <%= f.label "Prospect Search location", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :prospects_locations, :class => 'text_field ' %>
                </div>
              </div>
            </td>
          </tr>
        </table>



        <table class="xtable">
          <tr>
            <td >
              <div class="control-group">
                <%= f.label "Competitors Search", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :competitor_search, :class => 'text_field span8' %>
                </div>
              </div>
              </div>
            </td>
            <td>

              <div class="control-group">

                <%= f.label "Competitors Search location", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :competitors_locations, :class => 'text_field ' %>
                </div>
              </div>
            </td>
          </tr>
        </table>


        <div class="control-group">
          <%= f.label "Group Search", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :group_search, :class => 'text_field span11' %>
          </div>
        </div>

        <table class="xtable">
          <tr>
            <td >
              <div class="control-group">
                <%= f.label "Job Search", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :jobs_search, :class => 'text_field span8' %>
                </div>
              </div>
              </div>
            </td>
            <td>

              <div class="control-group">

                <%= f.label "Job Search Locations", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :job_locations, :class => 'text_field' %>
                </div>
              </div>
            </td>
          </tr>
        </table>

      </div>
    </fieldset>
    <div class="modal-footer">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', brands_path, :class => 'btn' %>
    </div>

  <% end %>
</div>

<style>
  .modal-footer{margin-bottom: -25px;margin-left: -4px;;margin-right: -4px;}
</style>