

<% 
@brand  = current_user.brand 
%>



<subview ui-associations="">
  <scrollpanel>
    <tableview>

      <tablecell >
        <div class="profile-box">
          <table width="100%">
            <tr style="vertical-align:top;">
              <td width="70px"><%= image_tag @brand.image_url , :size => "50x50" %></td>
              <td>
                <h3><%=  @brand.name%></h3>
                <p style="margin-top:0px;">
                  <%= @brand.description %>
                </p>
              </td>
            </tr>
          </table>
        </div>
      </tablecell>


      <tableheader>
        My Website 
      </tableheader>

      <tablecell ui-usage="image">
        <table width="100%">
          <tr>
            <td width="80%"> 
              <span class="big-number">
                <h3> Page Views today:</h3>
                <p>
                  <%= link_to number_with_delimiter(@brand.site.total_views),"/websites/#{@brand.site.id}" %><span class="tiny">views</span>
                </p>
              </span>
            </td>
            <td >
              <span class="small-number">
                <h3> Forms</h3>
                <p>
                  <%= link_to @brand.inquieries.count , "/inquieries"%>
                </p>
              </span>
            </td>
          </tr>
        </table>
      </tablecell>

      <tableheader>
        Email Campaigns
      </tableheader>

      <tablecell>
        <table width="100%">
          <tr style="vertical-align:top;font-size:13px;">
            <td width="25%" style="border-right:1px solid #333;">
              <b>Campaigns</b><br/>
              <span class="big-number"><%= number_with_delimiter(4) %></span>
            </td>
            <td width="25%"  style="border-right:1px solid #333;">
              <b>Newsletters</b><br/>
              <span class="big-number"><%= number_with_delimiter(@brand.total_emails_sent) %></span>
            </td>
            <td width="25%"  style="border-right:1px solid #333;">
              <b>Opened</b><br/>
              <span class="big-number"><%= number_with_delimiter(@brand.total_emails_opened) %></span>
            </td>
            <td width="25%">
              <b>Rejected</b><br/>
              <span class="big-number"><%= number_with_delimiter(rand(40)) %></span>
            </td>
          </tr>
        </table>
      </tablecell>

      <tableheader>
        Social Dashboard
      </tableheader>

      <tablecell ui-usage="image">
        <table width="100%">
          <tr>
            <td width="33%"> 
              <a href="/channels/<%=@fb.id%>">
                <div class="channel_icon"> <%= image_tag(@fb.icon) %></div>
                <span class="channel">
                  <h3> Facebook </h3>
                  <p>
                    <%= number_with_delimiter(@fb.total_fans) %><span class="tiny"> fans</span>
                  </p>
                </span>
              </a>
            </td>
            <td width="33%"> 
              <a href="/channels/<%=@tw.id%>">
                <span class="channel">
                  <div class="channel_icon"> <%= image_tag(@tw.icon) %></div>

                  <h3> Twitter </h3>
                  <p>
                    <%= number_with_delimiter(@tw.total_fans) %><span class="tiny"> fans</span>
                  </p>
                </span>
              </a>
            </td>
            <td width="33%"> 
              <a href="/channels/<%=@li.id%>">
                <span class="channel">
                  <div class="channel_icon"> <%= image_tag(@li.icon ) %></div>
                  <h3> Linkedin </h3>
                  <p>
                    <%= number_with_delimiter(@li.total_fans) %><span class="tiny"> fans</span>
                  </p>
                </span>
              </a>
            </td>
          </tr>
          <tr>
            <td width="33%"> 
              <a href="/channels/<%=@gp.id%>">
                <span class="channel">
                  <div class="channel_icon"> <%= image_tag(@gp.icon ) %></div>
                  <h3> Google + </h3>
                  <p>
                    <%= number_with_delimiter(rand (011)) %><span class="tiny"> fans</span>
                  </p>
                </span>
              </a>
            </td>
            <td width="33%"> 
              <a href="/channels/<%=@yt.id%>">
                <span class="channel">
                  <div class="channel_icon"> <%= image_tag(@yt.icon) %></div>
                  <h3> Youtube </h3>
                  <p>
                    <%= number_with_delimiter(@yt.total_fans) %><span class="tiny"> fans</span>
                  </p>
                </span>
              </a>
            </td>
            <td width="33%"> 
              <a href="/channels/<%=@fs.id%>">
                <span class="channel">
                  <div class="channel_icon"> <%= image_tag(@fs.icon ) %></div>
                  <h3>Foursquare </h3>
                  <p>
                    <%= number_with_delimiter(@fs.total_fans) %><span class="tiny"> fans</span>
                  </p>
                </span>
              </a>
            </td>
          </tr>
        </table>
      </tablecell>

      <tableheader>
        Blogs
      </tableheader>

      <tablecell ui-usage="image">
        <table width="100%">
          <tr>
            <td width="33%"> 
              <a href="/channels/<%=@fb.id%>">
                <div class="channel_icon"> <%= image_tag("/assets/flat/blogger-3-64.png") %></div>
                <span class="channel">
                  <h3> Blogger </h3>
                  <p>
                    <%= number_with_delimiter(rand(10)) %><span class="tiny"> views</span>
                  </p>
                </span>
              </a>
            </td>
            <td width="33%"> 
              <a href="/channels/<%=@tw.id%>">
                <span class="channel">
                  <div class="channel_icon"> <%= image_tag("/assets/flat/wordpress-3-64.png" ) %></div>

                  <h3> Wordpress </h3>
                  <p>
                    <%= number_with_delimiter(rand(20)) %><span class="tiny"> views</span>
                  </p>
                </span>
              </a>
            </td>
            <td width="33%"> 
              <a href="/channels/<%=@li.id%>">
                <span class="channel">
                  <div class="channel_icon"> <%= image_tag("/assets/flat/tumblr-3-64.png" ) %></div>
                  <h3> Tumblr </h3>
                  <p>
                    <%= number_with_delimiter(rand(20)) %><span class="tiny"> views</span>
                  </p>
                </span>
              </a>
            </td>
          </tr>

        </table>
      </tablecell>

      <tableheader>
        User engagment
      </tableheader>


      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/flat/inbox-2-64.png", :size => "32x32")%>
        <celltitle><%= link_to "Incomming Messages", @gm %> </celltitle>
      </tablecell>


      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/flat/user-13-64.png", :size => "32x32")%>
        <celltitle><%= link_to "Fans(#{number_with_delimiter @brand.fans.count})" , "/fans?kind=fan" %> </celltitle>
      </tablecell>

      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/flat/clipboard-64.png", :size => "32x32")%>
        <celltitle><%= link_to "Users Form submissions(#{number_with_delimiter @brand.inquieries.count})", "/inquieries" %> </celltitle>
      </tablecell>

      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/flat/speech-bubble-15-64.png", :size => "32x32")%>
        <celltitle><%= link_to "Comments on social networks(#{number_with_delimiter @brand.comments.count})", "/comments" %> </celltitle>
      </tablecell>

       <tableheader>
        Recommendations
      </tableheader>
      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/flat/magnifier-64.png", :size => "32x32")%>
        <celltitle><%= link_to "Prospects(#{number_with_delimiter @brand.fans(:kind => "prospect").count})" , "/fans?kind=prospect" %> </celltitle>
      </tablecell>
      
      <tablecell ui-usage="icon" ui-implements="disclosure">
         <%= image_tag( "/assets/flat/magnifier-64.png", :size => "32x32")%>
        <celltitle><%= link_to "Copetitors(#{number_with_delimiter @brand.fans(:kind => "competitor").count})" , "/fans?kind=competitor" %> </celltitle>
      </tablecell>

      <tablecell ui-usage="icon" ui-implements="disclosure">
       <%= image_tag( "/assets/flat/magnifier-64.png", :size => "32x32")%>
        <celltitle><%= link_to "RSS News (#{number_with_delimiter @brand.get_channel("rss").posts.where(:kind => "recommended").count})" , "/channels/#{@brand.get_channel("rss").id}" %> </celltitle>
      </tablecell>

      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/flat/magnifier-64.png", :size => "32x32")%>
        <celltitle><%= link_to "Jobs and Opportunities(#{number_with_delimiter @brand.posts.where(:kind => "job").count})" , "/posts?kind=job" %> </celltitle>
      </tablecell>


      <tableheader>
        Content management
      </tableheader>



      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/flat/user-13-64.png", :size => "32x32")%>
        <celltitle><%= link_to "Group Posts" , "/posts?kind=group&channel=1" %> </celltitle>
      </tablecell>


      
      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/flat/document-file-2-64.png", :size => "32x32")%>
        <celltitle><%= link_to "Articles", "/articles" %> </celltitle>
      </tablecell>


      <tableheader>
        Manage resources
      </tableheader>


      <tablecell ui-usage="icon" ui-implements="disclosure">
          <%= image_tag( "/assets/flat/globe-5-64.png", :size => "32x32")%>
        <celltitle><%= link_to "My Website", "/websites/#{@brand.site.id}" %> </celltitle>
      </tablecell>

      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/flat/email-8-64.png", :size => "32x32")%>
        <celltitle><%= link_to "Email campaigns", "/bulk_mails" %> </celltitle>
      </tablecell>



      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/flat/user-8-64.png", :size => "32x32")%>
        <celltitle><%= link_to "Competitors" , "/competitors" %> </celltitle>
      </tablecell>

      <tableheader>
        My Account
      </tableheader>

      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/flat/gear-3-64.png", :size => "32x32")%>
        <celltitle><%= link_to "Settings", "/websites/#{@brand.site.id}" %> </celltitle>
      </tablecell>

      <tablecell ui-usage="icon" ui-implements="disclosure">
        <%= image_tag( "/assets/flat/bar-chart-4-64.png", :size => "32x32")%>
        <celltitle><%= link_to "Charts", "/scores" %> </celltitle>
      </tablecell>

    </tableview>
  </scrollpanel>

</subview>




