
<% content_for :head do  %>
  <link rel="stylesheet" href="//cdn.oesmith.co.uk/morris-0.4.1.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
<% end %>


<%= render "shared/upper_row" %>

<div class="row-fluid">

  <div class="tabbable thumbnail span12">


    <div class="pull-right item_command" style="padding:1em;">
      <%= link_to raw("<i class='icon-cog'></i> Setup") , "/brands/#{@brand.id}/edit"   %>
      <%= link_to raw("<i class='icon-globe'></i> website") , "/websites/#{@brand.site.id}" %>
      <%= link_to raw("<i class='icon-rss'></i> News") , "/channels/#{@brand.get_channel('rss').id}" %>
    </div>


    <h2> <%= image_tag "/assets/flat/dashboard-4-64.png"   %>  My Dashboard</h2>
    <ul class="nav nav-tabs">
      <li class="active" ><a href="#99" data-toggle="tab">  Summary </a></li>
      <li ><a href="#inquiries" data-toggle="tab">  User Inquiries</a></li>
      <li ><a href="#messagesx" data-toggle="tab">  Messages </a></li>
      <li ><a href="#5" data-toggle="tab">  User Engagment</a></li>
      <li ><a href="#competitors" data-toggle="tab">  Competitors</a></li>
    </ul>
    <div class="tab-content" style="padding:0.5em;">

      <div class="tab-pane active " id="99">

        <%= render :partial => "summary_table" %>

      </div>

      <div class="tab-pane  " id="1">

        <% list = [] %>

        <% unless @brand.keywords.nil?  %>
          <% for word in @brand.keywords.split(",") do %>
            <% end  %>
          <% end  %>


          <h3>New Articles</h3><hr/>
          <table class="xdatatable table">

            <% for item in list[0..10] do  %>
                <tr style="vertical-align:top">
                  <td style="line-height:16px">
                    <% img = extract_image_url(item.summary) %>
                    <a data-toggle="modal"  class="cmd-repost-news" href="#postModal"  data-post-body="<%=  strip_html(item.summary)%>" data-post-img="<%=img%>" data-post-url="<%= item.url %>" >


                      <div class="pull-left" style="margin:0.5em;">
                        <%= safe_image_tag(img, :size =>'64x64')  %>
                      </div>
                      <b><%= item.title %></b>(<%=  time_ago_in_words(item.published) %>)<br/>
                      <span id="" class="cmd-repost-news"> <%= strip_html(item.summary) %></span> <br/>
                      <br/>
                      <br/>
                    </a>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>



          <div class="tab-pane" id="inquiries">
            <h3>Visitors Inquiries on my website </h3>
            <table class="table datatable">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% for item in @brand.inquieries.reverse %>
                  <tr style="vertical-align:top">
                    <% 
                      inq_image =  "/assets/flat/edit-5-64.png"
                      inq_image =  "/assets/flat/component-article.png" if item.article_id.present?
                      inq_image =  "/assets/flat/christmas-20-64.png" if item.product_id.present?
                  
                    %>
                    
                    <td width="32px"><%= image_tag  inq_image  %></td>
                    <td>
                      <div class="pull-right">
                        <%= link_to time_ago_in_words(item.created_at), item , :class => "" %>
                      </div>
                      From: <%= link_to  item.name, item %> - <%= link_to   item.email , item %><br/>

                      <% if item.request_url.present? %>
                        URL: <%= link_to item.request_url %> 
                      <% end %>

                      <% if item.article.present? %>
                        <%= "Article: #{item.article.name}" if item.article_id.present? %> 
                      <% end  %>

                      <% if item.product_id.present? %>
                        <br/><%= "Product #{item.product.name}" if item.product_id.present? %> 
                      <% end  %>


                      <p>
                        <i><%= link_to  item.message , item  unless item.message.nil? %></i>
                      </p>

                      <div class="item_command">
                        <a href=""><i class="icon-envelope"></i> reply</a>
                        <a href=""><i class="icon-remove"></i> delete</a>
                        <a href="/fans/search?email=<%=item.email%>"><i class="icon-search"></i> search</a>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>


          <div class="tab-pane" id="messagesx">
            <table class="table datatable">
              <thead>
                <tr>
                  <th width="64px"></th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
                <% for post in @messages do  %>
                    <tr>
                      <td style="width:64px">
                        <% if post.channel.present? %>
                          <%= image_tag( post.channel.icon ,:size => "64x64") %>
                        <% else %>
                          <%= image_tag( "/assets/flat/globe-5-64.png" ,:size => "64x64") %>
                        <% end %>
                      </td>
                      <td>
                        <div class="pull-right">
                          <%= time_ago_in_words post.posted_at %>
                        </div>
                        <%= post.from_name %>
                        <br/>
                        <%= post.short_body %>
                        <div class="item_command">
                          <a href=""><i class="icon-user"></i> User </a>
                          <a href=""><i class="icon-retweet"></i> Reply </a>
                          <%= link_to(raw("<i class='icon-remove'></i>delete"), post_path(post, :kind => params[:kind]) , :confirm => 'Are you sure?', :method => :delete , :class => '')%>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

            </div>




            <div class="tab-pane " id="competitors">
              <h3>Competitor posts</h3>
              <%= render :partial => "competitors_posts" %>

            </div>

            <div class="tab-pane" id="recommended_jobs">
              <%= render :partial => 'recomended_jobs' %>
            </div>


            <div class="tab-pane" id="recommended_content">
              <%= render :partial => "recomended_rss_articles" %>
            </div>



            <div class="tab-pane" id="5">
              <div class="span8">
                <h3>Users comments on social networks</h3><hr/>
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for item in @comments%>
                      <tr style="vertical-align:top">
                        <td width="50px">
                          <%= safe_image_tag(item.channel.icon) %>
                        </td>
                        <td>
                          <div class="pull-right">
                            <%= link_to time_ago_in_words(item.posted_at), item , :class => "xbadge " %>
                          </div>
                          <%= item.name %><br/> <%= item.message %>
                          <br/>
                          <div class="item_command">
                            <a href="#postModal"  data-toggle="modal" class="cmd-repost-news"  data-post-body="<%=item.message%>" ><i class="icon-share"></i> share</a>
                            <a href="<%=item.target_link%>" target="_blank"><i class="icon-edit"></i> reply</a>
                            <a href="/fans/search?name=<%=item.name %>"><i class="icon-search"></i> search</a>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <div class="span3">
                <h3>Engaged users</h3><hr/>
                <table class="xtable ">
                  <tr>
                    <td>
                      <b> <i class="icon-facebook icon-large"></i> Facebook  </b>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <% for item in @fb.fans.where(:kind => "engaged").order("friends_count DESC")[0..9] do %>
                          <div class="pull-left">
                            <div  style="margin:0.4em;">
                              <a data-toggle="modal" href="#fanModal"  class="cmd-fan" data-fan-id="<%=item.id%>"  ><%=image_tag(item.profile_image , :size => "32x32", :style => "max-height:none;height: 32px;")%></a>
                            </div>
                          </div>
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <br/><b> <i class="icon-twitter icon-large"></i> Twitter  </b>
                      </td>
                    </tr>
                    <tr>
                      <td>

                        <% for item in @tw.fans.where(:kind => "engaged").order("friends_count DESC")[0..9] do %>
                            <div class="pull-left">
                              <div  style="margin:0.4em;">
                                <a data-toggle="modal" href="#fanModal"  class="cmd-fan" data-fan-id="<%=item.id%>"  ><%=image_tag(item.profile_image , :size => "32x32", :style => "max-height:none;height: 32px;")%></a>
                              </div>
                            </div>
                          <% end %>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <br/>
                          <b> <i class="icon-linkedin icon-large"></i> Linkedin  </b>
                        </td>
                      </tr>
                      <tr>
                        <td>

                          <% for item in @li.fans.where(:kind => "engaged").order("friends_count DESC")[0..9] do %>
                              <div class="pull-left">
                                <div  style="margin:0.4em;">
                                  <a data-toggle="modal" href="#fanModal"  class="cmd-fan" data-fan-id="<%=item.id%>"  ><%=image_tag(item.profile_image , :size => "32x32", :style => "max-height:none;height: 32px;")%></a>
                                </div>
                              </div>
                            <% end %>
                          </td>
                        </tr>
                      </table>
                    </div>


                  </div>

                </div>
              </div>
            </div>

