
<script > 
  $(document).ready(function() {
    $('#mydiv').socialist({ 
      networks: [ 
        {name:'facebook',id:'thesocialmachine'}, 
        {name:'tumblr',id:'in1blog'}, 
        {name:'twitter',id:'AssafGoldstein'}, 
        {name:'pinterest',id:'potterybarn/Fall-Weddings-by-Pottery-Barn'}, 
        {name:'youtube',id:'potterybarn'}, 
        {name:'googleplus',id:'105588557807820541973/posts'}, 
        {name:'rss',id:' http://feeds.feedburner.com/good/lbvp'} 
      ], 
      maxResults:4 , template:"clean"
    }); 
  }); 
</script>



<div class="row">
  <div id="mydiv"></div> 
</div>