

<div class="row">

  <div class="thumbnail span12">
    <div class="modal-header">
      <h3>Select Website Template</h3>
      <table class="table datatable">
        <thead>
          <tr>
            <th width="20px"></th>
            <th></th>
            <th width="80px"></th>
          </tr>
        </thead>
        <tbody>
          <% for item in @websites do  %>
              <tr>
                <td><%= check_box_tag "select"  %> </td>
                <td><%= item.name %> </td>
                <td><%= link_to raw("<i class='icon-eye-open'></i> preview")%> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="modal-header">
        <h3>Select Newsletter Template</h3>
        <table class="table datatable">
          <thead>
            <tr>
              <th width="20px"></th>
              <th></th>
              <th width="80px"></th>
            </tr>
          </thead>
          <tbody>
            <% for item in @emails do  %>
                <tr>
                  <td><%= check_box_tag "select"  %> </td>
                  <td><%= item.name %> </td>
                  <td><%= link_to raw("<i class='icon-eye-open'></i> preview")%> </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="modal-header">
          <h3>Select Email Template</h3>
          <table class="table datatable">
            <thead>
              <tr>
                <th width="20px"></th>
                <th></th>
                <th width="80px"></th>
              </tr>
            </thead>
            <tbody>
              <% for item in @emails do  %>
                  <tr>
                    <td><%= check_box_tag "select"  %> </td>
                    <td><%= item.name %> </td>
                    <td><%= link_to raw("<i class='icon-eye-open'></i> preview")%> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </div>