<div class="pull-right">

  <%= form_for @brand, :html => { :class => 'form-vertical' } , :class => " form-inline well pull-right" do |f| %>
    <%= f.text_field :twitter_search %>  <%= f.submit "Search" %>
  <% end %>
</div>

<h2> Search Results </h2>
<br/>
<%= render :partial => 'twitter_posts' , :locals => {:posts => @tw_channel.posts.where(:kind => "search_result")} %>