<%= form_for @email, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :brand_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :brand_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fan_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :fan_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bulk_mail_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :bulk_mail_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :template_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :template_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :uid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :uid, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :kind, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :kind, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :unique_token, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :unique_token, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :from_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :from_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :from_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :from_email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :to_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :to_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :to_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :to_email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :text_body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :text_body, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :html_body, :class => 'control-label' %>
    <div class="controls">
      <%#= f.text_area :html_with_tracking_icon, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sent_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :sent_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :opened_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :opened_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :clicked_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :clicked_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :unregistered_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :unregistered_at, :class => 'datetime_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                emails_path, :class => 'btn' %>
  </div>
<% end %>
