<%- model_class = Email.new.class -%>
<div class="page-header">
  <div class="pull-right">
    <%= link_to "clear" , "/emails/delete_all"  , :class => "btn"%>
  </div>
  
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:kind) %></th>
      <th><%= model_class.human_attribute_name(:bulk_mail) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:to_name) %></th>
      <th><%= model_class.human_attribute_name(:to_email) %></th>
      
      <th width="200px"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= link_to email.id, email_path(email) %></td>
        <td><%= email.bulk_mail.name  if email.bulk_mail%></td>
        <td><%= email.kind %></td>
        <td><%= email.status %></td>
        <td><%= email.to_name %></td>
        <td><%= email.to_email %></td>
        <td>
          <%= link_to "Send", "/emails/send_email?id=#{email.id}", :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_email_path(email), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      email_path(email),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_email_path,
            :class => 'btn btn-primary' %>
