<%- model_class = @email.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
      :default => "New #{model_class.model_name.human}") %></h1>
</div>



<%= form_for @email, :html => { :class => 'form-horizontal' } do |f| %>
  

  
  <div class="control-group">
    <%= f.label :to_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :to_email, :class => 'text_field span8' %>
    </div>
  </div>

<div class="control-group">
    <%= f.label :subject, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject, :class => 'text_field span8' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :text_body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :text_body, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      emails_path, :class => 'btn' %>
  </div>
<% end %>

