<%- model_class = @email.class -%>
<div class="page-header">
  <div class="pull-right"">
  <%= link_to "Send", "/emails/send_email?id=#{@email.id}", :class => 'btn btn-danger' %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
    emails_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_email_path(@email), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    email_path(@email),
    :method => 'delete',
    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
    :class => 'btn btn-danger' %>
</div>

  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<table class="table">
  <tr>
    <td>Status</td>
    <td><%= @email.status %></td>
  </tr>
  <tr>
    <td>Name</td>
    <td><%= @email.to_name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @email.to_email %></td>
  </tr>
  
</table>


<div class="row">
  <div class="span5">
    <%= simple_format  @email.text_body %>
  </div>
  <div class="span6">
    <%= raw @email.preview %>
  </div>
</div>






<hr/>
<div class="row">
  <h2>Who opened this mail</h2>
  <%= render :partial => 'shared/trackers' , :locals => {:trackers => @email.trackers} %>
</div>