<%= form_for @deployment, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Deployment</legend>

    <div class="control-group">
      <%= f.label :brand_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :brand_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :article_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :article_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :emails, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :emails, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :body, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :body, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :url, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :comment, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :comment, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :sent, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :sent, :class => 'check_box' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :category, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :category, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', deployments_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
