<h1>Deployments</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Brand</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @deployments.each do |deployment| %>
      <tr>
        <td><%= deployment.id %></td>
        <td><%= link_to deployment.brand_id, deployment_path(deployment) %></td>
        <td><%= deployment.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_deployment_path(deployment), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', deployment_path(deployment), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_deployment_path, :class => 'btn btn-primary' %>
