<h1>Deployment</h1>

<p>
  <b>Brand</b><br>
  <%= @deployment.brand_id %>
</p>

<p>
  <b>Article</b><br>
  <%= @deployment.article_id %>
</p>

<p>
  <b>Emails</b><br>
  <%= @deployment.emails %>
</p>

<p>
  <b>Title</b><br>
  <%= @deployment.title %>
</p>

<p>
  <b>Body</b><br>
  <%= @deployment.body %>
</p>

<p>
  <b>Url</b><br>
  <%= @deployment.url %>
</p>

<p>
  <b>Comment</b><br>
  <%= @deployment.comment %>
</p>

<p>
  <b>Sent</b><br>
  <%= @deployment.sent %>
</p>

<p>
  <b>Category</b><br>
  <%= @deployment.category %>
</p>

<div class="form-actions">
  <%= link_to 'Back', deployments_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_deployment_path(@deployment), :class => 'btn' %>
  <%= link_to 'Delete', deployment_path(@deployment), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
