
<table class="table">
  <tr>
    <td width="50%">
      <b><%= "Content Sites  "%>  </b>
    </td>
   <td width="42px">
      <%= image_tag("/assets/social/blogger.png") %>  
    </td>
    <td width="42px">
      <%= image_tag("/assets/social/tumblr.png") %>  
    </td>
    <td width="42px">
      <%= image_tag("/assets/social/youtube.png") %>  
    </td>
    <td width="42px">
      <%= image_tag("/assets/social/wordpress.jpg") %>  
    </td>
  </tr>
  
  <% 3.times do  %>
  <tr>
    <td ><%= " Some cretaria "%>  </td>
    <td><%= rand(30) %>  </td>
    <td><%= rand(30) %>  </td>
    <td><%= rand(30) %>  </td>
    <td><%= rand(30) %>  </td>
  </tr>
  <% end %>
</table>

