<div class="row-fluid">

  <div class="thumbnail">

    <%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
      <fieldset>

        <div class="modal-header">
          <h2> <%= image_tag "/assets/flat/christmas-20-64.png", :size => "48x48" %><%= controller.action_name.capitalize %> Product</h2>
        </div>

        <div class="modal-header">
          <div class="control-group">
            <%= f.label :name, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :name, :class => 'text_field' %>
            </div>
          </div>


          <div class="control-group">
            <%= f.label :abstract, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :abstract, :class => 'text_area' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :description, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :description, :class => 'text_area' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :notes, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :notes, :class => 'text_area' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :price, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :price, :class => 'text_field' %>
              &nbsp;
              <select name="product[currency]">
                <option value="US">US</option>
                <option value="CAD">CAD</option>
                <option value="EURO">EURO</option>
                <option value="ILS">ש"ח</option>
              </select>
            </div>
          </div>
          
          
          <div class="control-group">
            <%= f.label :paypal, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :paypal, :class => 'text_area' %>
            </div>
          </div>
          
          <div class="control-group">
            <span class="control-label"> <h3>Images </h3></span> 
            <br/>
            <hr/>
          </div>
          
           
          <div class="control-group">
            <%= f.label :remote_image_url, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :remote_image_url,   :class => 'text_field' %>
            </div>
          </div>
          
          
          <div class="control-group">
            <%= f.label :image, :class => 'control-label' %>
            <div class="controls">
              <%= f.file_field :image,   :class => 'text_field' %>
            </div>
          </div>
          
          
          <div class="control-group">
            <%= f.label :image_1, :class => 'control-label' %>
            <div class="controls">
              <%= f.file_field :image_1,   :class => 'text_field' %>
            </div>
          </div>
          
          <div class="control-group">
            <%= f.label :image_2, :class => 'control-label' %>
            <div class="controls">
              <%= f.file_field :image_2,   :class => 'text_field' %>
            </div>
          </div>
          
          <div class="control-group">
            <%= f.label :image_3, :class => 'control-label' %>
            <div class="controls">
              <%= f.file_field :image_3,   :class => 'text_field' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :image_4, :class => 'control-label' %>
            <div class="controls">
              <%= f.file_field :image_4,   :class => 'text_field' %>
            </div>
          </div>
          
          <div class="control-group">
            <%= f.label :image_5, :class => 'control-label' %>
            <div class="controls">
              <%= f.file_field :image_5,   :class => 'text_field' %>
            </div>
          </div>
         
        </div>

        <div class="modal-footer">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to 'Cancel', products_path, :class => 'btn' %>
        </div>
      </fieldset>
    <% end %>

  </div>
</div>


<style>
  .modal-footer{margin-bottom: -24px;margin-left: -4px;;margin-right: -4px;}
</style>