<table class="table">
  <tr>
    <td width="50%">
      <b><%= "Link Submissions"%>  </b>
    </td>
   <td width="42px">
      <%= image_tag("/assets/social/digg.png") %>  
    </td>
    <td width="42px">
      <%= image_tag("/assets/social/stumbleupon.png") %>  
    </td>
    <td width="42px">
      <%= image_tag("/assets/social/reddit.png") %>  
    </td>
  </tr>
  
  <% 3.times do  %>
  <tr>
    <td ><%= " Some cretaria "%>  </td>
    <td><%= rand(30) %>  </td>
    <td><%= rand(30) %>  </td>
    <td><%= rand(30) %>  </td>
  </tr>
  <% end %>
</table>