
<h3> Website </h3>
<table class="table">
  <tr>
    <td > New Visitors     </td>
    <td > <%= rand(10)%>     </td>
  </tr>
  <tr>
    <td > Returning Vistors     </td>
    <td > <%= rand(10)%>     </td>
  </tr>
  <tr>
    <td > New Comments     </td>
    <td > <%= rand(10)%>     </td>
  </tr>
</table>

<hr/>

<h3> Other Networks </h3>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#social" data-toggle="tab">Social</a></li>
    <li><a href="#content" data-toggle="tab">Content</a></li>
    <li><a href="#links" data-toggle="tab">Submission</a></li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active" id="social">
      <%= render :partial => 'social_table' %>
    </div>


    <div class="tab-pane" id="content">
      <%= render :partial => 'content_sites' %>
    </div>
    <div class="tab-pane" id="links">
      <%= render :partial => 'link_submissions' %>
    </div>
  </div>
</div>
