<table class="table">
  <tr>
    <td width="50%">
      <b>Social</b>
    </td>
    <td width="42px">
      <%= image_tag("/assets/social/facebook.png") %>  
    </td>
    <td width="42px">
      <%= image_tag("/assets/social/twitter.png") %>  
    </td>
    <td width="42px">
      <%= image_tag("/assets/social/linkedin.png") %>  
    </td>
    <td width="42px">
      <%= image_tag("/assets/social/google_plus.png") %>  
    </td>
  </tr>

  <% 3.times do  %>
    <tr>
      <td ><%= " Some cretaria "%>  </td>
      <td><%= rand(30) %>  </td>
      <td><%= rand(30) %>  </td>
      <td><%= rand(30) %>  </td>
      <td><%= rand(30) %>  </td>
    </tr>
  <% end %>
</table>
