<table class="table ">
  <thead>
    <tr>
      <th width="65px"></th>
      <th>Name</th>
      <th width="50px">Price</th>
      <th width="50px"> Views</th>
      <th width="50px">Inquiries</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to image_tag(product.image_url, :size => "64x64"), product %></td>
        <td>
          <%= link_to product.name, product_path(product) %><br/><%= product.description %>
          <div class="item_command">
            <%= link_to raw(' <i class="icon-pencil"></i> Edit'), edit_product_path(product) %>
            <%= link_to raw(' <i class="icon-remove"></i> Delete'), product_path(product), :method => 'delete', :confirm => 'Are you sure?'%>
          </div>
            
        </td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= product.trackers.count %></td>
        <td><%= product.inquieries.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>