
<div class="row-fluid">
  <div class="thumbnail">
    
    <div class="modal-header">
      
      <div class="pull-right item_command">
        <%= link_to raw("<i class='icon-plus'></i> New Product"), new_product_path%>
        <%= link_to raw("<i class='icon-bar-chart'></i> Charts"), "/products/charts" %>
      </div>
      

      <h2><%= image_tag "/assets/flat/christmas-20-64.png"  , :size => "48x48"%> Products </h2>
    </div>

    <div class="modal-header">

       <%= render :partial => 'table' %>
      
    </div>

  </div>
</div>



