<div class="row-fluid">
  <div class="thumbnail">

    <div class="modal-header">

      <div class="pull-right item_command">
        <%= link_to raw("<i class='icon-globe'></i> Langind Page"), "/public/product/#{@product.id}?preview=true" , :target => "_blank" %>
        <%= link_to raw("<i class='icon-bar-chart'></i> Charts"), "/products/charts" %>
      </div>

      <h2><%= image_tag "/assets/flat/christmas-20-64.png"  , :size => "48x48"%> <%= @product.name %> </h2>
    </div>

    <div class="modal-header">
      <table class="table">
        <tr>
          <td>
            <%= image_tag @product.image_url %>
          </td>
          <td>
            <p>
              <b>Name</b><br>
              <%= @product.name %>
            </p>

            <p>
              <b>Abstract</b><br>
              <%= @product.abstract %>
            </p>

            <p>
              <b>Description</b><br>
              <%= @product.description %>
            </p>


            <p>
              <b>Price</b><br>
              <%= @product.price %> &nbsp; <%= @product.currency %>
            </p>
          </td>
        </tr>
      </table>

    </div>
    <div class="modal-header">

      <div class="tabbable ">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#1" data-toggle="tab">Pictures</a></li>
          <li><a href="#2" data-toggle="tab">User Views</a></li>
          <li><a href="#3" data-toggle="tab">User Inquiries</a></li>
        </ul>
        <div class="tab-content">

          <div class="tab-pane active" id="1">
            <%= image_tag @product.image_1_url unless @product.image_1_url.nil? %>
            <%= image_tag @product.image_2_url unless @product.image_2_url.nil? %>
            <%= image_tag @product.image_3_url unless @product.image_3_url.nil? %>
            <%= image_tag @product.image_4_url unless @product.image_4_url.nil? %>
            <%= image_tag @product.image_5_url unless @product.image_5_url.nil? %>
          </div>


          <div class="tab-pane" id="2">
            <table class="table datatable">
              <thead>
                
              </thead>
              <tbody>
                <% for item in @product.trackers do  %>
                <tr>
                  <td><%= time_ago_in_words(item.created_at) %></td>
                  <td><%= item.ip %></td>
                  <td><%= item.address %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
                   
          </div>
          
           <div class="tab-pane" id="3">
             <table class="table datatable">
              <thead>
                
              </thead>
              <tbody>
                <% for item in @product.inquieries do  %>
                <tr>
                  <td><%= time_ago_in_words(item.created_at) %></td>
                  <td><%= item.email %></td>
                  <td><%= item.name %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <%= link_to 'Back', products_path, :class => 'btn'  %>
      <%= link_to 'Edit', edit_product_path(@product), :class => 'btn' %>
      <%= link_to 'Delete', product_path(@product), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
    </div>

  </div>
</div>


<style>
  .modal-footer{margin-bottom: -4px;margin-left: -4px;;margin-right: -4px;}
</style>