




<table class=" table table-striped ">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% for item in FeedEntry.all.reverse do  %>
        <tr>
          <td width="32px">
            <%= image_tag item.icon , :size => "32x32" %>
          </td>
          <td>
            <b><%= item.title%></b><br/>
            <i><%= strip_html(item.body)[0..100] %></i>
            <div class="pull-right">
              <div class="btn-group">
                  <a class="btn btn-mini" href="#">Actions </a>
                  <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li> <a href="/articles/new?from_kind=post&amp;from_id=#{item.id}"><i class="icon-file"></i> Repost</a> </li>
                    <li> <a href=" "><i class="icon-comment"></i> Reply</a> </li>
                    <li> <a href=" "><i class="icon-reply"></i> Follow Author</a> </li>
                    <li> <a href=" "><i class="icon-user"></i> Mark as Competitor</a> </li>
                  </ul>
                </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br/>
  <br/>