<div class="row">
  <div class="span12">

    <div class="pull-right">
      <%= link_to "Add to Competitors" , "" , :class => "btn btn-info" %>
    </div>
    <h1>Site analysis for <%= @url %></h1><hr/>



    <table width="100%" class="alert ">
      <tr style="vertical-align: top;">
        <td width="140px">
          <b>Meta Description</b>
        </td>
        <td>
          <%= @meta %>
          <br/>
        </td>
      </tr>
      <tr>
        <td width="140px">
          <b>Keywords</b>
        </td>
        <td>
          <br/>
          <%= @keywords %>

        </td>
      </tr>
    </table>

  </div>
</div>

<div class="row span12">

  <div class="span7">
    <h2>Website Images </h2><hr/>
    <% for item in @images do  %>
        <%= image_tag item , :size => "100x100"  , :style => "padding:0.4em;"%>
    <% end  %>
   </div>


    <div class="span4">
      <h2>Links To Social Networks </h2><hr/>
      <ul>
        <% for item in @links  do %>
            <li>
              <span class="pull-left">
                <%= image_tag "/assets/icons/facebook_64.png" if item.include? "facebook"  %>
                <%= image_tag "/assets/icons/twitter_64.png" if item.include? "twitter"  %>
                <%= image_tag "/assets/icons/youtube_64.png" if item.include? "youtube"  %>
              </span>
              <%= link_to item , item , :target => "_blank" %><br/>

              <%= facebook_mark(item.gsub("http://www.facebook.com/",""))  if item.include? "facebook" %>

              <% if item.include? "youtube" %>
                <% if item.include? "/user/" %>
                  <%= youtube_mark(item.gsub("http://www.youtube.com/user/",""))   %>
                <% else  %>
                  <%= youtube_mark(item.gsub("http://www.youtube.com/",""))   %>
                <% end %>
              <% end %>
              <%= twitter_mark(item.gsub("http://www.youtube.com/user/",""))  if item.include? "twitter" %>
              <br/><br/>
              <hr/>
            </li>
          <%end %>
        </ul>
      </div>
  
    </div>

    <div class="row">
      <div class="span12">
        
        <hr/><h2> Google Search for the url </h2><hr/>
        <table class="table datatable">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for item in @google_results do %>
                <tr>
                  <td width="64px">
                    <%   img = "/assets/icons/google_search_64.png"  %>
                    <%= image_tag img %>
                  </td>
                  <td>
                    <b><%= item[:title] %></b><br/>
                    <i><%= item[:description] %><br/>
                      <%=  link_to item[:url] , "http://#{item[:url]}" , :target => "_blank"%> 
                  </td>
                <% end %>
              </tr>
            </tbody>
          </table>
          <hr/>
        </div>
      </div>
