<%
require "google_reader_api"
user = GoogleReaderApi::User.new({ :email =>  "assaf.goldstein@gmail.com", :password => "clippeR!" })
%>

<h1>Research#rss</h1><hr/>

<script type="text/javascript">
  $(document).ready(function () {
    
    
    $(".feed-source").click(function() {
      $('#test').rssfeed($(this).data("url"), {
        limit: 15
      });
      return false;
    });
    
  });
</script>



<div id="test"></div>


<% content_for :sidebar  do %>
  <h3> Rss Feeds </h3>


  <table class="table table-striped">
    <% for item in user.subscriptions do %>
        <% if item.unread_count > 100 %>
          <tr>
            <td><%= link_to item.title, "", "data-url" => item.url , :class => 'feed-source'%> </td>
            <td><%= item.unread_count%> </td>
          </tr>
        <%  end %>
      <%  end %>
    </table>
  <% end  %>


  <% content_for :head do  %>
    <%= javascript_include_tag "jquery.zrssfeed.min" %>
  <% end  %>