<h1>Results for <%= params[:post] %> </h1><hr/>

<div class="row">
  <div class="span4">
    <%= form_tag("/research/people", :method=>'get', :multipart => true) do %>

      <div class="control-group">
        <%= label_tag "Person Name"%>
        <div class="controls">
          <%= text_field_tag "post", "search", :class => 'text_field' %>
        </div>
      </div>
    <% end %>
  </div>
</div>




<%

def twitter_profile(link)
  profile = {}
  #raise link.inspect
  name = link.gsub!("twitter.com/#!/","")
  #raise name.inspect
  begin
    u = Twitter.user(name)
    profile[:name] = u.name
    profile[:uid] = u.id
    profile[:image] = u.profile_image_url
    profile[:description] = u.description
    profile[:followers] = u.followers_count
    profile[:website] = u.url
    #profile[:other] = u.inspect
    return profile
  rescue
    return {}
  end
end


%>




<div class="row" >

  <div class="span3">
    <h3>Google Plus Users</h3><hr/>
    <table class="table">
      <% for item in @google_search do  %>
          <tr>
            <td width="50px"><%= image_tag(item[:img])   %></td>
            <td>
              <%= item[:name] %> <br/><%= item[:description] %> <br/><%= item[:about] %>
              <div class="btn-group ">
                <a class="btn btn btn-mini" href="#">Actions </a>
                <a class="btn btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li> <a href="<%=item[:url]%>" target="_blank"><i class="icon-file"></i> Open Page</a> </li>
                  <li> <a href=""><i class="icon-file"></i> Competitor</a> </li>
                </ul>
              </div>
            </td>
          </tr>
        <% end  %>

      </table>
    </div>



    <div class="span3">
      <h3>Facebook Users</h3><hr/>
      <table class="table">
        <% for item in @fb_users do  %>
            <tr>
              <td width="50px"><%= image_tag("https://graph.facebook.com/#{item['id']}/picture")   %></td>
              <td>
                <%= item["name"] %> <br/><%= item["category"] %><br/>
                <div class="btn-group ">
                  <a class="btn btn btn-mini" href="#">Actions </a>
                  <a class="btn btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li> <a href="http://www.faceboo.com/<%=item["id"]%>" target="_blank"><i class="icon-file"></i> Open Page</a> </li>
                    <li> <a href=""><i class="icon-file"></i> Competitor</a> </li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end  %>

        </table>
      </div>
      
        <div class="span3">
          <h3>Facebook Pages</h3><hr/>
          <table class="table">
            <% for item in @fb_pages do  %>
                <tr>
                  <td width="50px"><%= image_tag("https://graph.facebook.com/#{item['id']}/picture")   %></td>
                  <td>
                    <%= item["name"] %> <br/><%= item["category"] %>
                    <div class="btn-group ">
                      <a class="btn btn btn-mini" href="#">Actions </a>
                      <a class="btn btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li> <a href="http://www.faceboo.com/<%=item["id"]%>" target="_blank"><i class="icon-file"></i> Open Page</a> </li>
                        <li> <a href=""><i class="icon-file"></i> Competitor</a> </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              <% end  %>
            </table>
          </div>
        </div>



        <%  content_for :sidebar do %>
          <h2>Search Engine </h2><hr/>
          <table class="table table-striped">
            <% for item  in @res_google do  %>
                <tr>
                  <td><%= item %></td>
                </tr>
              <% end %>
            </table>
          <% end %>