
<div class="row">
  <div class="span8 well">
    <%= form_tag("/research/twitter", :method=>'get', :multipart => true) do %>
      <table width="100%"><tr><td>
            <div class="control-group">
              <%= label_tag "Search for "%>
              <div class="controls">
                <%= text_field_tag "post", "search", :class => 'text_field' %>
              </div>
            </div>
          </td><td>

            <div class="control-group">
              <%= label_tag "Ignore words"%>
              <div class="controls">
                <%= text_field_tag "post", "search", :class => 'text_field' %>
              </div>
            </div>

          </td></tr></table>
    <% end %>
  </div>

</div>


<div class="row">
  <div class="span3">
    <h3>Twitter Search </h3><hr/>
    <%= render :partial => 'news' %>
  </div>
  <div class="span3">
    <h3>Facebook Search </h3><hr/>
    <%= render :partial => 'news' %>
  </div>
  <div class="span3">
    <h3>Google+ </h3><hr/>
    <%= render :partial => 'news' %>
  </div>

</div>



<% content_for :sidebar do  %>
  <h3>JS DEMO </h3><hr/>
  <div class="facebookfeed">
    <h2>Loading...</h2>
  </div>

<% end  %>


<% content_for :head do  %>




  <script type="text/javascript">
	
    function fbFetch(){
      //Set Url of JSON data from the facebook graph api. make sure callback is set with a '?' to overcome the cross domain problems with JSON
      var url = "https://graph.facebook.com/prettyklicks/posts?limit=5&access_token=123975213079|nqKWO89vVW4QH_bNmKH-Wiy3W0w&callback=?";
		
      //Use jQuery getJSON method to fetch the data from the url and then create our unordered list with the relevant data.
      $.getJSON(url,function(json){
        var html = "<ul>";
        //loop through and within data array's retrieve the message variable.
        $.each(json.data,function(i,fb){
          html += "<li>" + $('<div>').html(fb.message).text() + "</li>";
        });
        html += "</ul>";


        //A little animation once fetched
        $('.facebookfeed').animate({opacity:0}, 500, function(){
          $('.facebookfeed').html(html);
        });
        $('.facebookfeed').animate({opacity:1}, 500);
      });
    };



    $(function($){
      fbFetch();
    });

  </script>


  <style>
    .img_n { padding:1em;}
  </style>
<% end %>