<%
Recaptcha.configure do |config|
  config.public_key  = '6LfDos4SAAAAAPQ0oVcdbP5rHFx8uISdO8yEqX21'
  config.private_key = '6LfDos4SAAAAAKEB0FVpY-P5Dn8RnzyENPEGJuOB'
  config.proxy = 'http://myrpoxy.com.au:8080'
end
%>



<table class="table table-striped">
  <% for item in @article.comments do  %>
      <tr>
        <td><%= item.email %></td>
        <td><%= item.message %> </td>
      </tr>
    <% end %>
  </table>

  <h3>Add Comment </h3><hr/>
  <% @comment = Comment.new(:article_id => @article.id) %>
  <%= form_for @comment, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.hidden_field :article_id  %>
    <fieldset>


      <div class="control-group">
        <%= f.label :message, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :message, :class => 'text_area' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :email, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :email, :class => 'email_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label " ", :class => 'control-label' %>
        <div class="controls">
          <%=  recaptcha_tags%>
        </div>
      </div>


      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to 'Cancel', comments_path, :class => 'btn' %>
      </div>
    </fieldset>
  <% end %>




