
<section id="pricing">
  <div class="row-fluid show">
    <div class="span3 pricing_box">
      <h2>Personal<span class="price">1$/m</span></h2>
      <ul class="unstyled">
        <li><strong>1</strong> Facebook Page</li>
        <li><strong>1</strong> Twitter Account</li>
        <li><strong>Personal Website</strong></li>
        <li><strong>1 Newsletter</strong></li>
        <li><strong>2 Running Promotions</strong></li>
        <li><strong>2 Competitors watch</strong></li>
          <li><strong>50 Emails per day</strong></li>
        <li><strong>Daily Mention Status Report</strong> </li>
        <li><strong>5 Social Posts per day</strong> </li>
      </ul>
      <center>
         <a href="/public/beta" class="btn btn-large"><strong>Sign up</strong></a>
      </center>
      <p>1$</p>
    </div>

    <div class="span3 pricing_box">
      <h2>Base<span class="price">US$59/m </span></h2>
      <ul class="unstyled">
        <li><strong>Full Website</strong></li>
        <li><strong>Customized Facebook pages</strong></li>
        <li><strong>3 Newsletter</strong></li>
        <li><strong>5 Running Promotions</strong></li>
        <li><strong>3 Facebook Pages</strong></li>
        <li><strong>3 twitter accounts</strong></li>
        <li><strong>Daily and Weekly News Letters</strong></li>
        <li><strong>300 Emails per day</strong></li>
        <li><strong>Unlimited social posts per day</strong></li>
        <li><strong>15 Competitors watch</strong></li>
      </ul>
      <center>
         <a href="/public/beta" class="btn btn-large"><strong>Sign up</strong></a>
      </center>
      <p>30day free trail</p>
    </div>
    <div class="span3 pricing_box" id="pricing_select">
      <h2>Professional <span class="price">$99/m</span></h2>
      <ul class="unstyled">
        <li><strong>Full Website</strong></li>
        <li><strong>PayPal & Google Checkout </strong></li>
        <li><strong>50</strong> Facebook Pages</li>
        <li><strong>50</strong> Promotion Pages</li>
        <li><strong>Sell Products and Tickets</strong></li>
        <li><strong>1000 Emails</strong> per day</li>
        <li><strong>50 Competitors watch</strong></li>
        <li><strong>Unlimited social posts per day</strong></li>
      </ul>
      <center>
         <a href="/public/beta" class="btn btn-large"><strong>Sign up</strong></a>
      </center>
      <p>30day free trail</p>
    </div>
    <div class="span3 pricing_box">
      <h2>Enterprise <span class="price">Call</span></h2>
      <ul class="unstyled">
        <li><strong>Unlimited Accounts</strong> </li>
        <li><strong>Dedicated Servers on Amamazon EC2</strong></li>
        <li><strong>Customization</strong></li>
        <li><strong>1 Year support</strong> staff logins</li>
      </ul>
      <center>
        <a href="mailto:assaf.goldstein@gmail.com" class="btn btn-large"><strong>Email Me</strong></a>
      </center>
      <p>30day free trail</p>
    </div>
  </div>
</section>
<br/>
<br/>
<br/>

<style>

  /* pricing */
  #pricing h2 {text-align:center; font-size:14pt; font-weight:500;}
  #pricing span.price {color:#e04006; display:block; font-size:12pt;}
  #pricing p {padding-top:10px; text-align:center;}
  #pricing ul {text-align:center;}
  .pricing_box { -webkit-box-shadow: 5px 8px 0px 0px black;-moz-box-shadow: 0 8px 0px 0px #d3d3d3;box-shadow: 5px 8px 6px -6px #d3d3d3; -webkit-border-radius: 6px; -moz-border-radius: 6px;border-radius: 6px; background:#e1e1e1; padding:10px 0px;} 
  #pricing_select {background:#e04006;color:#FFF;} #pricing_select small {color:#FFFFFF; font-weight:600;} #pricing_select span.price {color:#FFFFFF;}
  #pricing_action  {text-align:center; padding-top:30px;}


</style>

