
<section id="pricing">
  <div class="row-fluid show">
    <div class="span3 pricing_box">
      <h2>חבילה אישית<span class="price">10 ש"ח לחודש</span></h2>
      <ul class="unstyled">
        <li><strong>אתר אינטרנט</strong></li>
        <li><strong>ניהול רשתות חברתיות</strong> </li>        
        <li><strong>2 מתחרים נעקבים יומית</strong></li>
          <li><strong>50  הודאות דוא"ל יוצאות</strong></li>
        <li><strong>דו"ח יומי על הפעילות שלך </strong> </li>

      </ul>
      <center>
         <a href="/public/beta" class="btn btn-large"><strong>הרשם כאן</strong></a>
      </center>
      <p>חודש נסיון חינם</p>
    </div>

    <div class="span3 pricing_box">
      <h2>חבילה בסיסית<span class="price">99 ש"ח לחודש </span></h2>
      <ul class="unstyled">
        <li><strong>אתר אינטרנט</strong></li>
        <li><strong>300  הודאות דוא"ל יוצאות</strong></li>
        <li><strong>ניהול רשתות חברתיות</strong></li>
        <li><strong>50 מתחרים נעקבים יומית</strong></li>
      </ul>
      <center>
         <a href="/public/beta" class="btn btn-large"><strong>הרשם כאן</strong></a>
      </center>
      <p>חודש נסיון חינם</p>
    </div>
    <div class="span3 pricing_box" id="pricing_select">
      <h2>חבילה מקצוענית <span class="price">399 ש"ח לחודש</span></h2>
      <ul class="unstyled">
        <li><strong>אתר אינטרנט</strong></li>
        <li><strong>PayPal & Google Checkout </strong></li>
        <li><strong>1000 </strong> הודאות דוא"ל יוצאות</li>
        <li><strong>500 מתחרים נעקבים יומית</strong></li>
      </ul>
      <center>
         <a href="/public/beta" class="btn btn-large"><strong>הרשם כאן</strong></a>
      </center>
      <p>חודש נסיון חינם</p>
    </div>
    <div class="span3 pricing_box">
      <h2>חברות גדולות וחברות פרסום <span class="price">צרו קשר</span></h2>
      <ul class="unstyled">
        <li><strong>Unlimited Accounts</strong> </li>
        <li><strong>Dedicated Servers on Amamazon EC2</strong></li>
        <li><strong>Customization</strong></li>
        <li><strong>1 Year support</strong> staff logins</li>
      </ul>
      <center>
        <a href="mailto:assaf.goldstein@gmail.com" class="btn btn-large"><strong>Email Me</strong></a>
      </center>
      <p>חודש נסיון חינם</p>
    </div>
  </div>
</section>
<br/>
<br/>
<br/>

<style>

  /* pricing */
  #pricing h2 {text-align:center; font-size:14pt; font-weight:500;}
  #pricing span.price {color:#e04006; display:block; font-size:12pt;}
  #pricing p {padding-top:10px; text-align:center;}
  #pricing ul {text-align:center;}
  .pricing_box { -webkit-box-shadow: 5px 8px 0px 0px black;-moz-box-shadow: 0 8px 0px 0px #d3d3d3;box-shadow: 5px 8px 6px -6px #d3d3d3; -webkit-border-radius: 6px; -moz-border-radius: 6px;border-radius: 6px; background:#e1e1e1; padding:10px 0px;} 
  #pricing_select {background:#e04006;color:#FFF;} #pricing_select small {color:#FFFFFF; font-weight:600;} #pricing_select span.price {color:#FFFFFF;}
  #pricing_action  {text-align:center; padding-top:30px;}


</style>

