<div class="well">
<%= form_for @product, :html => { :class => 'form-vertical' }  do |f| %>
  <fieldset>

    <div class="control-group">
      <%= f.label "Search product or service", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit "Search", :class => 'btn btn-primary' %>
      </div>
    </div>

  </fieldset>
<% end %>
</div>