<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> </a>
      <% if current_user %>
        <a class="brand" href="/brands/<%= current_user.brand.id %>">The Social Machine</a>
      <% else %>
        <a class="brand" href="/">
          <%= "Social Machine" %>
        </a>
      <% end %>
      <div class="nav-collapse">
        <ul class="nav">
          <li >
            <a href="/public/index" >
              Home
            </a>
          </li>

          <li >
            <a href="/public/tour" >
              Tour
            </a>
          </li>

          
          <!--
          <li >
            <a href="/public/store" class="dropdown-toggle" data-toggle="dropdown">
              Store
            </a>
          </li>
        
          -->
          <li >
            <a href="/public/beta" >
              Beta Plan
            </a>
          </li>
          
          <li >
            <a href="/public/index_heb" >
              עברית             
            </a>
          </li>
        </ul>
      </div>


      <form class="navbar-form pull-right" style="margin-top: 9px;">
        <% if current_user %>
          Logged in as <%= current_user.name %>.
          <%= link_to "Log out", logout_path%>
        <% else %>
          <%#= link_to "Sign up", sign_up_path , :class => 'btn btn-sucsses'%> &nbsp;
          <%#= link_to "log in", login_path , :class => 'btn btn-sucsses' %>
        <% end %>

      </form>

    </div>
  </div>
</div>

<style>

  .xxx{
    vertical-align: text-bottom;
  }
</style>