<h2>Top Writers</h2><hr/>
<table>
  <% 6.times do   %>
  <tr>
    <td width="60px"><%= image_tag("/assets/assaf.goldstein.jpg", :size => "50x50")%></td>
    <td ><%= link_to lorem(3) %><br/><%= lorem(10)%> </td>
  </tr>
  <% end %>
</table>
