
<% content_for :head do  %>
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"></meta>
<% end %>


<div id="fb-root"></div>
<% item = @article %>

<div class="row">
  <div class="span12">
    <div class="thumbnail">

      <div class="modal-header">

        <table width="100%">
          <tr style="vertical-align: top;">
            <td width="80px"> <%= image_tag(@article.brand.image_url, :size => "60x60") %> </td>
            <td>
              <h3 style="line-height:22px;"><%= simple_format @article.name  %></h3>
              Posted by: <%= link_to  @article.brand.user.name , "/public/brand/#{@article.brand.id}" %>
              <% unless  @article.cite.nil? or @article.cite.empty? %>
                <i> <%= time_ago_in_words @article.created_at %>  ago.</i><br/>
              <% end%>

              <% if @article.cite  and  not @article.movie_repost? %>
                <i> Original posted on: <%= @article.cite %> </i><br/>  
              <%  end %>

            </td>
            <td>
            </td>
            <td>
              <h3>Share this article</h3>
              <%=  image_tag "/assets/flat/globe-5-64.png" , :size => "48x48"%>
              <%=  image_tag "/assets/flat/facebook-3-64.png" , :size => "48x48"%>
              <%=  image_tag "/assets/flat/twitter-3-64.png" , :size => "48x48"%>
              <%=  image_tag "/assets/flat/google-plus-3-64.png" , :size => "48x48"%>
              <%=  image_tag "/assets/flat/reddit.png" , :size => "48x48"%>
            </td>
          </tr>
        </table>

      </div>


      <div class="modal-body" style="min-height:300px;">
        <% if item.article? %>
          <p> 
            <span class="article-image"><%= image_tag(@article.image_url, :id => 'img-tag') unless @article.image_url.nil? %></span>
            <%= raw @article.body %>
          </p>
        <% end %>

        <% if @article.movie_repost? %>
          <p  >
            <%= raw @article.body %>
          </p>
        <% end %>


        <% if item.clip? %>
          <div style="text-align:center;">
            <% if item.remote_movie_url %>
              <iframe width="100%" height="500px" src="http://www.youtube.com/embed/<%= item.short_video_url   %>" frameborder="0" allowfullscreen></iframe>
            <% else %>
              <video id="example_video_1" class="video-js vjs-default-skin"  
                     controls preload="auto" width="100%" 
                     data-setup='{"example_option":true}'>  
                <source src="<%= item.video_url %>" type='video/mp4' />
              </video>
            <% end %>
          </div>
        <% end %>

      </div>
      <div class="modal-header"></div>
      <div class="modal-header">
        <table class="xtable">
          <tr>
            <td width="70%">
              <div class="modal-header"><h3>Comments</h3></div>
              <div class="modal-body">
                <div class="fb-comments" data-href="<%= @article.short_url%>" data-num-posts="1" xdata-width="100%"></div>
              </div>
            </td>
            <td style="vertical-align:top">
              <h3>Register to our newsletters</h3><hr/>
              <form accept-charset="UTF-8" action="/public/form_post" class="  form-verticle" id="new_inquiery" method="post"><input class="hidden_field" id="brand_id" name="inquiery[brand_id]" type="hidden" value="1"><fieldset> 
                  </p>
                  <div class="control-group">
                    <div class="controls">
                      <input class="text_field" id="inquiery_name" name="inquiery[name]" size="30" type="text" value="Full Name">   
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <input class="text_field" id="inquiery_email" name="inquiery[email]" size="30" type="text" value="Email">    
                      <input class="hidden_field" id="inquiery_request_url" name="inquiery[request_url]" size="30" type="hidden" value="<%=request.original_url%>">    
                      <input class="hidden_field" id="inquiery_article_id" name="inquiery[article_id]" size="30" type="hidden" value="<%=@article.id%>">    
                    </div> 
                  </div>      
                  <input class="btn btn-primary" name="commit" type="submit" value="Send"> 
                </fieldset>
              </form>
            </td>
          </tr>
        </table>

        <h3>  Other articles from <%= @article.brand.name %> </h3>
        <table class="table">
          <% for item in @article.brand.articles.order("created_at DESC").limit(3) do  %>
              <tr>
                <td width="32px"> <%= image_tag item.icon , :size => "32x32" %> </td>
                <td>
                  <%= link_to  raw(item.name) , "/public/article?id=#{item.id}" %> <br/> <%= item.medium_body  %>  <%= time_ago_in_words item.created_at %>
                </td>
              <% end %>
            </tr>
          </table>
        </div>
        <br/>
        <br/>
      </div>
    </div>
    <br/>
    <br/>


  </div>

<hr/>
<div style="text-align: center">
<%=  link_to "The Social Machine", "/" %> | Say Hello to your new marketing department | click <%= link_to "Here" , "/public/beta" %> to open your account
</div>
<hr/>



  <style>
    .article-image{
      float:left;
      padding:1em;
    }



    .navbar-fixed-top{display:none;}

    .brand-info-ul li{ list-style: none;font-size:15px; }
    .xtable{ width:100%; line-height: 18px; vertical-align: top;}
    .xtable tr{ width:100%; line-height: 18px; vertical-align: top;}
  </style>

  <!-- FACEBOOK SCRIPT -->
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=320750867990208";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
