<br/>
<div class="hero-unit">
  <div class="pull-left">
    <%= image_tag "http://www.websearchrank.com/images/badge_beta.png" %>
  </div>
  <div class="pull-right">
    <%= image_tag "/assets/icons/social-machine-logo-big.png"  , :size => "150x150"%>
  </div>
  <h1>The Social Machine</h1>
  <p>
We are looking for small business owners and high profile individuals who have accounts with facebook, twitter, youtube, etc. but little or no knowledge in successfully marketing over them. 

  </p>
</div>



<div class="row">

  <div class="span6">
    <h3>What are we looking for?</h3><hr/>
    <p>
      We are looking for small business owners and high profile individuals who have accounts with facebook, twitter, youtube, etc. but little or no knowledge in successfully marketing over them. 
    </p>
    
    <br/><br/>
    <h3>What Does it give me as a user</h3><hr/>
    <ul>
      <li>Access to development plan</li>
      <li>Control feature delivery</li>
      <li>Discount when we go live</li>
    </ul>
    
    
            
    <br/><br/>
    <h3>I like this thing.. can I invest?</h3><hr/>
    Sure.. drop me an email to <pre>assaf.goldstein@gmail.com</pre>
  </div>


  <div class="span6">
    <h3>Beta registration form</h3><hr/>
    <% @inquiery = Inquiery.new( :brand_id => 1) %>
    <%= form_for @inquiery, :html => { :class => 'form-horizontal' } do |f| %>
      <fieldset>
        <%= f.hidden_field :token, :class => 'text_field' , :value => params[:token] %>
        <%= f.hidden_field :source, :class => 'text_field' , :value => params[:source] %>
        <%= f.hidden_field :request_url, :class => 'text_field' , :value => request.original_url %>
        
        <%= f.hidden_field :brand_id, :class => 'number_field' %>
        <div class="control-group">
          <%= f.label :name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :email, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :email, :class => 'text_field' %>
          </div>
        </div>

        

        <div class="control-group">
          <div class="controls">
            <%= f.submit "Send", :class => 'btn btn-primary' %>
          </div>
        </div>
      </fieldset>
    <% end %>


  </div>

</div>