    <ul data-role="listview" class="ui-listview">

  <ul data-role="listview" class="ui-listview">
    <div data-role="navbar">
      <ul>
        <li><a href="/public/index">News</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Social</a></li>
        <li><a href="/public/blog">Competitors</a></li>
      </ul>
    </div>
  </ul>
</ul>
<ul data-role="listview" class="ui-listview">
   
  <div data-role="content">	 
  
    <div class="ui-grid-b">
      <div class="ui-block-a">
        <div class="feature">
          <%= link_to  image_tag "/assets/icons/blog.png" %><br/>
          <b> <%= "Competitor Posts" %></b><br/>
        </div>

      </div>
      <div class="ui-block-b">
        <div class="feature">
          <%= link_to  image_tag "/assets/icons/chart.png" %><br/>
          <b><%= 'Charts'%></b><br/>
        </div>    
      </div>
      <div class="ui-block-c">
        <div class="feature">
          <%= link_to image_tag "/assets/icons/search_business_user.png" %><br/>
          <b> <%= "Find Competitors" %></b><br/>
        </div>    
      </div>
    </div><!-- /grid-b -->

</ul>


<ul data-role="listview" class="ui-listview">
  <li data-role="list-divider" role="heading" class="ui-li ui-li-divider "><%= link_to "Squarespace"%> </li>
  <li data-theme="c" class="  ui-li">
    <table>
      <tr>
        <td width="40px"><%= image_tag "/assets/assaf.goldstein.jpg", :size => "32x32"%></td>
        <td><span class="channel-icon"><%= image_tag "/assets/icons/twitter_64.png", :size => "20x20"%></span><b><%= lorem(4)%></b><br/><small style="font-weight: lighter;"><%= lorem(20) %></small></td>
      </tr>
    </table>
    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
  </li>
  <li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
    <table>
      <tr>
        <td width="60px"><%= image_tag "/assets/assaf.goldstein.jpg", :size => "50x50"%></td>
        <td><span class="channel-icon"><%= image_tag "/assets/icons/facebook_64.png", :size => "20x20"%></span><b><%= lorem(4)%></b><br/><small style="font-weight: lighter;"><%= lorem(20) %></small></td>
      </tr>
    </table>
    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
  </li>
  <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-b ui-btn-up-undefined"><%= link_to "Raven Tools"  %> </li>
<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
    <table>
      <tr>
        <td width="60px"><%= image_tag "/assets/assaf.goldstein.jpg", :size => "50x50"%></td>
        <td><span class="channel-icon"><%= image_tag "/assets/icons/google_64.png", :size => "20x20"%></span><b><%= lorem(4)%></b><br/><small style="font-weight: lighter;"><%= lorem(20) %></small></td>
      </tr>
    </table>
    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
  </li>
  <li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
    <table>
      <tr>
        <td width="60px"><%= image_tag "/assets/assaf.goldstein.jpg", :size => "50x50"%></td>
        <td><b><%= lorem(4)%></b><br/><small style="font-weight: lighter;"><%= lorem(20) %></small></td>
      </tr>
    </table>
    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
  </li>
  
</ul>


</div><!-- /content -->

<style>
  .feature{
    text-align: center;
    padding:1em;
    font-size:11px;
  }
  .channel-icon img{
    vertical-align: bottom;
  }
</style>