<% content_for :head do  %>
  <%= raw @page.website.template.html %>
  <style>
    body{
      padding-top:10px;
    } 
  <%= raw @page.website.template.the_css %>
  

  <%= raw @page.css unless @page.css.nil? %>
  <%#= raw @page.website.computed_css %>

  <% unless @page.background_image_url.nil? or @page.background_image_url.empty?  %>

      body{
        background-image:url( '<%=@page.background_image_url%>');
    <% if @page.background_image_style.present? and @page.background_image_style.include? "strech" %>
          background-repeat:no-repeat;
          background-size: 100%;
    <% end %>
    <% if @page.background_image_style.present? and  @page.background_image_style.include? "repeat" %>
          background-repeat:repeat;
    <% end %>
      }

  <% end %>

  </style>

  <%= render  :partial => 'shared/rtl_support' if @page.website.rtl? %>

  <!-- ADD KEYWORDS AND META DATA -->
  <!-- ADD Gooogle Analytics -->


  <script>
    $(function() {
      $(".carousel").carousel();
      
      $(".article-link").click(function() {
        alert(" loading article : " + $(this).data("id")) ;
      });
    
      $(".product-link").click(function() {
        alert(" loading product : " + $(this).data("id")) ;
      });
    
      
    });
  </script>

<% end  %>

<div class="page_wrapper">
  <%=  raw @page.to_html %>
</div>


