<% content_for :head do  %>
  <style>
    body{
      padding-top:10px;
    } 

    <%#= raw @website.template.the_css %>

  </style>

<% end  %>
<div class="page_wrapper">
  <div class="row">
    <div class="span8">

      <h2><%=  @campaign.name  %></h2><hr/>

      
      <%= raw @campaign.preview %>
    </div>

    <div class="span4">
      <h4>About the Provider</h4><hr/>
      <div class="pull-left" style="padding:0.4em;">
        <%= link_to image_tag(@brand.image_url , :size => "48x48"), "/public/brand/#{@brand.id}" %>
      </div>
      <b><%= link_to  @brand.name, "/public/brand/#{@brand.id}" %></b>
      <p><%= link_to @brand.description, "/public/brand/#{@brand.id}"%> </p>

      
      <br/>
      <h3><%= @brand.name %> on social networks</h3><hr/>
      <% if @brand.facebook_page.present? %>
        <a href='<%= @brand.facebook_page%>'><img src='/templates/social-icons/default/facebook.png'  width='32px' height='32px' target='_blank'> </a>
      <% end %>

      <% if @brand.twitter_user_id.present? %>
        <a href='<%= @brand.twitter_user_id%>'><img src='/templates/social-icons/default/twitter.png'  width='32px' height='32px' target='_blank'> </a>
      <% end %>

      <% if @brand.youtube_url.present? %>
        <a href='<%= @brand.youtube_url%>'><img src='/templates/social-icons/default/youtube.png'  width='32px' height='32px' target='_blank'> </a>
      <% end %>
        
         <% if @brand.linkedin_url.present? %>
        <a href='<%= @brand.linkedin_url%>'><img src='/templates/social-icons/default/linkedin.png'  width='32px' height='32px' target='_blank'> </a>
      <% end %>

      
    </div>
  </div>

</div>

<style>
  .article-image{
    float:left;
    padding:1em;
  }
</style>


