<% content_for :head do  %>

  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="marketing automation,social machine, social marketing, facebook marketing, twitter marketing, youtube marketing, brand promotion" />
  <meta name="description" content=" The first wall to wall solution allowing you to promote your business online, including online presence, email marketing, manage you Facebook fan page, Twitter, Youtube and other social networks while also concentrating everything you need to know about what the competition is doing. Working from a single outlet, you can save time, increase efficiency, and stay focused on what you do best!
        The Social Machine, Say Hello to your new marketing department. " />
  <meta name="generator" content="Rails 3.1" />

<% end  %>

<br/>
<%= render :partial => "shared/rtl_support" %>
<style>

  .hero-unit li{ padding-top: 3px;
                 font-size: 18px; list-style-type: none; line-height: 22px;
  }

  .hero-unit li img{
    vertical-align: top;
  }
</style>

<div class="row">
  <div class="span12">
    <div class="hero-unit">

      <div class="pull-right">
        <%= image_tag "/assets/icons/social-machine-logo-big.png" , :size => "250x250"%>
        <br/>
        <span style="position: relative; top:-40px;">
          <%= image_tag "/assets/icons/blog.png" , :size => "40x40" %>
          <%= image_tag "/assets/icons/facebook_64.png" , :size => "40x40" %>
          <%= image_tag "/assets/icons/twitter_64.png" , :size => "40x40" %>
          <%= image_tag "/assets/icons/youtube_64.png" , :size => "40x40" %>
          <%= image_tag "/assets/icons/blogger_64.png" , :size => "40x40" %>
          <%= image_tag "/assets/icons/wordpress_64.png" , :size => "40x40" %>
        </span>
      </div>
      <span style="font-size:36px;font-weight: bold">
<%#= image_tag "/assets/icons/logo.png", :size => "64x64" %>
        המכונה החברתית הולכת לבחירות
      </span>

      <p>
        <br/>
        פתרון לשיווק קמפיינים פוליטיים

      </p>
      <br/>
      <p>
        <b>  המכונה החברתית - תגידו שלום למחלקת השיווק החדשה שלכם! </b><br/>
      </p>
      <p><a href="/public/beta" class="btn btn-primary btn-large">הרשם לבטא</a></p>

    </div>




    <h1>מה יש במכונה החברתית?</h1><hr/>

    <!-- Example row of columns -->
    <div class="row">

      <div class="span6 ">
        <h3>ממשק פשוט וחכם לניהול כל ערוצי השיווק שלך</h3><hr/>
        <%= image_tag "/assets/screenshots/home-page.png" , :width => "600px"  , :class => "dropshadowclass"%>
        <br/>
        <br/>
        <br/>
        <h3> תמיכה בטלפונים חכמים וטבלטים</h3><hr/>
        <%= image_tag "/assets/screenshots/tablet-and-smartphones.png" , :width => "600px"  , :xclass => "dropshadowclass"%>
        <br/>
        <hr/>
        <h3> צפו בסרטון הוידאו שלנו </h3>

        <iframe width="100%" height="315" src="http://www.youtube.com/embed/r0SnB075YUU" frameborder="0" allowfullscreen></iframe>
      </div>



      <div class="span6">

        <p>
          <span class="feature-image"><%= image_tag "/assets/icons/website.png" %></span> 
        <h4> ניהול מסרים והפצתם לערוצי שיווק </h4>
        המכונה החברתית מאפשרת לך לנהל את הפצת המסרים של הקמפיין שלך ממקום אחד ולעקוב אחר התגובות בזמן אמת ובכל ערוצי המדיה - רשתות חברתיות, בלוגים אתרי חדשות ואפילו דיוור בדוא"ל. 
        מנהל הקמפיין ישמח לדעת כי הוא יכול לאשר את כל התפוצה לפני שהיא יוצאת ( גם דרך הטלפון שלו..) ולתזמן את זמן הההפצה של כל הודעה בכל ערוץ, ולהכין רשימת תגובות מוכנות לצוות שלו.
        </p>

        <br/>


        <p>
          <span class="feature-image"><%= image_tag "/assets/icons/yellow_mail_send.png" %></span>      
        <h4>ניטור בזמן אמת של תגובות והערות</h4>
        המכונה החברתית מאפשרת לך לראות את האימפקט של הקמפיין:  היכן איזכרו אותך ובאיזה הקשר.  מי מסתכל על דף הפייסבוק שלך, מי ענה על הדוא"ל ששלחת לו. הכל בזמן אמת וגם בטלפון.
        המכונה החברתית תמצא לך את המגיבים המשפיעים בכל רשת כדי שתוכל ליצור איתם קשר.
        </p>
        <br/>


        <p>
          <span class="feature-image"><%= image_tag "/assets/icons/social_networks.png" %></span>      
        <h4>ניהול המותג שלך ברשתות חברתיות</h4>
        נהל את הפרופיל שלך בכל הרשתותו החברתיות ממקום אחד. פייסבוק, טוויטר, יו-טיוב הם חלק מהרשתות החברתיות בהן המכונה תומכת.
        יצר  עידכונים, קבל המלצות לחברים חדשים ולפוסטים מעניינים כך שתמיד תוכל למצוא על מה לכתוב ברשתות החברתיות
        </p>
        <br/>




        <p>
          <span class="feature-image"><%= image_tag "/assets/icons/chart.png" %></span>      
        <h4>כלי ניהול לצוות הקמפיין</h4>
        המכונה החברתית מאפשרת לצוות הקמפיין שלך לנהל את התקשורת והפעילות בצורה יעילה יותר ומכל מקום. ומאפשרת לך שליטה טובה יותר על התכנים אותם אתה מייצר. בנוסף תוכל לראות כיצד הצוות שלך מטפל בקהל המגיבים. בכל ערוץ.
        </p>
        <br/>
        <br/>


        <p>
          <span class="feature-image"><%= image_tag "/assets/icons/male_female_users_comments.png" %></span>      
        <h4>ניהול לקוחות ולקוחות פוטנציאלים</h4>
        ניהול לקוחות ולקוחות פוטנציאלים מכל הרשתותו במקום אחד מאפשר לך לחסוך זמן יקר בניהול ושימור הלקוחות. המכונה החברתית תמליץ לך על לקוחות פוטנציאלים בכל הרשתות
        ותציג לך מידע רב עליהם ללא צורך לשוטט באינטרנט
        </p>
        <br/>
        <br/>


        <span class="feature-image"><%= image_tag "/assets/icons/search_business_user.png" %></span>      
        <h4>חיפוש וניהול מתחרים</h4>
        <p>

          המכונה החברתית תמליץ לך על מתחרים בכל רשת וערוץ באינטרנט. ומאפשרת לך לעקוב אחר כל צעד של מתחרה בכל רשת חברתית.
          כולל שינויים באתר ובבלוגים, עדכונים ברשתות חברתיות ואפילו מעקב אחר אימיילים שהמתחרה שולח. 
          למד כיצד לעקוף את המתחרים שלך ולהיות צעד אחד לפניהם במשחק.
        </p>


        <br/>


        <span class="feature-image"><%= image_tag "/assets/icons/mobile_phone.png" %></span>      
        <h4>מהטלפון או מהטבלט</h4>
        <p>
          המכונה החברתית מאפשרת לך לנהל את השיווק שלך גם כשאתה לא במשרד. התחבר דרך טאבלט או טלפון אייפון או אנדרויד מכל מקום 
          וקדם את עסק שלך 
        </p>



        <br/>
        <hr/><h1>צרו איתי קשר</h1><hr/>

        <div style="margin-right: 100px;">
          <ul>
            <li> אסף גולדשטיין </li>
            <li> דוא"ל : assaf.goldstein@gmail.com </li>
            <li> 077-2018175 | 050-5928448</li>

          </ul>
        </div>



        <hr/>

        <h3> הרשמו לתוכנית הבטא שלנו  </h3><hr/>
        <% @inquiery = Inquiery.new( :brand_id => 1) %>
        <%= form_for @inquiery, :html => { :class => 'form-vertical' } do |f| %>
          <fieldset>
            <%= f.hidden_field :token, :class => 'text_field' , :value => params[:token] %>
            <%= f.hidden_field :source, :class => 'text_field' , :value => params[:source] %>
            <%= f.hidden_field :brand_id, :class => 'number_field' %>
            <div class="control-group">
              <%= f.label "שם ומשפחה"  , :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :name, :class => 'text_field' %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label "דואר אלקטרוני", :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :email, :class => 'text_field' %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label "הודעה", :class => 'control-label' %>
              <div class="controls">
                <%= f.text_area :message, :class => 'text_area' %>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <%= f.submit "Send", :class => 'btn btn-primary' %>
              </div>
            </div>
          </fieldset>
        <% end %>


      </div>



    </div>






    <!-- FACEBOOK SCRIPT -->
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=320750867990208";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

  </div>
</div>