<% content_for :head do  %>
  <style>
    body{
      padding-top:10px;
    } 

    <%= raw @website.template.the_css %>

  </style>

<% end  %>
<div class="page_wrapper">
  <div class="row">
    <div class="span9">

      <h2><%=  @event.title  %></h2>

      <span class="pull-left" style="padding:1em;vertical-align: middle;">
        <%= image_tag("#{@event.image_url}", :size => "400x300") %> 
      </span>
      <%= @event.description %>
      <hr/>
    </div>

    <div class="span3">
      <h4>About the Provider</h4><hr/>
      <div class="pull-left" style="padding:0.4em;">
        <%= image_tag @event.brand.image_url , :size => "48x48" %>
      </div>
      <b><%= @event.brand.name %></b>
      <p><%= @event.brand.description%> </p>

      <br/>
      <h3><%= @event.brand.name %> on social networks</h3><hr/>
      <% if @event.brand.facebook_page.present? %>
        <a href='<%= @event.brand.facebook_page%>'><img src='/templates/social-icons/default/facebook.png'  width='32px' height='32px' target='_blank'> </a>
      <% end %>

      <% if @event.brand.twitter_user_id.present? %>
        <a href='<%= @event.brand.twitter_user_id%>'><img src='/templates/social-icons/default/twitter.png'  width='32px' height='32px' target='_blank'> </a>
      <% end %>

      <% if @event.brand.youtube_url.present? %>
        <a href='<%= @event.brand.youtube_url%>'><img src='/templates/social-icons/default/youtube.png'  width='32px' height='32px' target='_blank'> </a>
      <% end %>
        
         <% if @event.brand.linkedin_url.present? %>
        <a href='<%= @event.brand.linkedin_url%>'><img src='/templates/social-icons/default/linkedin.png'  width='32px' height='32px' target='_blank'> </a>
      <% end %>

      
    </div>
  </div>

</div>

<style>
  .article-image{
    float:left;
    padding:1em;
  }
</style>


