<br/>
<div class="hero-unit">
  <div class="pull-right">
    <%= image_tag "http://www.screenlight.tv/images/features.png" %>
  </div>
  <h1>The Social Machine</h1>
  <p>
    Inroducing Full Content Management and Marketing solution for small businesses, freelancers, corporates and anyone who would like to 
    promote his brand over the internet. <br/><br/>

    The Social Machine. Say Hello to your new marketing department. <br/>
    .</p>
  <p><a href="/public/prices" class="btn btn-primary btn-large">Try it for free &raquo;</a></p>
</div>

<h1>What's inside the Social Machine?</h1><hr/>

<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    <h4>Create Professional Looking Website in minutes</h4>
    <p>
      <span class="feature-image"><%= image_tag "/assets/icons/insert_to_shopping_cart.png" %></span>      
      Create Beatifull Websites, blog and event facebook pages in minutes and get your brand online Today!. 
      Paid Users can even sell products and tickets via Paypal or GoogleCheckout.
    </p>

  </div>
  <div class="span6">
    <h4>Post Article, Music and Video to your Blog</h4>
    <span class="feature-image"><%= image_tag "/assets/icons/blog.png" %></span>      
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  </div>
</div>

<br/>
<div class="row">
  <div class="span6">
    <h4>Online track your brand and competitors</h4>
    <p>
      <span class="feature-image"><%= image_tag "/assets/icons/search_business_user.png" %></span>      
      Create Beatifull Websites, blog and event facebook pages in minutes and get your brand online Today!. 
      Paid Users can even sell products and tickets via Paypal or GoogleCheckout.
    </p>

  </div>
  <div class="span6">
    <h4>Killer Marketing Tools</h4>
    <span class="feature-image"><%= image_tag "/assets/icons/megaphone.png" %></span>      
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  </div>
  
</div>