<% content_for :head do  %>

  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="marketing automation,social machine, social marketing, facebook marketing, twitter marketing, youtube marketing, brand promotion" />
  <meta name="description" content=" The first wall to wall solution allowing you to promote your business online, including online presence, email marketing, manage you Facebook fan page, Twitter, Youtube and other social networks while also concentrating everything you need to know about what the competition is doing. Working from a single outlet, you can save time, increase efficiency, and stay focused on what you do best!
        The Social Machine, Say Hello to your new marketing department. " />
  <meta name="generator" content="Rails 3.1" />

<% end  %>

<br/>

<style>

  .hero-unit li{ padding-top: 3px;
                 font-size: 18px; list-style-type: none; line-height: 22px;
  }

  .hero-unit li img{
    vertical-align: top;
  }
</style>


<div class="hero-unit">

  <div class="pull-right">
    <%= image_tag "/assets/icons/social-machine-logo-big.png" %>
    <br/>
  </div>
  <span style="font-size:36px;font-weight: bold">
    The Social Machine
  </span>

  <p style="line-height:24px;font-weight: none;">
    <br/>
    The first wall to wall solution allowing you to promote your 
    business online, including online presence, email marketing, manage 
    Facebook fan pages, Twitter accounts, Youtube channels and other social networks while also 
    concentrating everything you need to know about what the competition is 
    doing. Working from a single outlet, you can save time, increase efficiency, 
    and stay focused on what you do best! 
  </p>
  <br/>

  <p><a href="/public/beta" class="btn btn-primary btn-large">Sign Up for our beta! &raquo;</a></p>
  <p>
    <span style="color:#e089360"><br/>    The Social Machine, Say Hello to your new marketing department. </span><br/>
  </p>
</div>



<div class="row">
  <div class="span4">
    <b>Create Professional Looking Website in minutes</b>
    <p>
      <span class="feature-image"><%= image_tag "/assets/flat/home-64.png"  %></span>      
      Create eye-catching webpages, blogs, and even Facebook pages in minutes and 
      get your brand online today! 
    </p>

  </div>
  <div class="span4">
    <b>Email Marketing and Autoresponders</b>
    <p>
      <span class="feature-image"><%= image_tag "/assets/flat/email-8-64.png" %></span>      
      Complete email marketing solution for newslettes, thank you letter, promotions and more. combined with monitoring tools to see who opened your emails
    </p>
  </div>
  <div class="span4">
    <b>Manage all Social Networks from one place</b>
    <p>
      <span class="feature-image"><%= image_tag "/assets/flat/twitter-64.png" %></span>      
      Use a single gateway to brand yourself on all major social networks. Post statuses 
      and promote your content on all the major  social networks. 
    </p>
  </div>
</div>

<br/>


<div class="row">
  <div class="span4">
    <b>Online track your brand performance</b>
    <p>
      <span class="feature-image"><%= image_tag "/assets/flat/dashboard-4-64.png" %></span>      
      See the impact of your marketing efforts over the web. See the visitors, fans, and 
      followers of your different channels.  
    </p>

  </div>
  <div class="span4">
    <b>Manage Fans and Prospects</b>
    <p>
      <span class="feature-image"><%= image_tag "/assets/flat/user-13-64.png" %></span>      
      Manage all your friends, fans, and followers in single place. Contact them easily 
      and learn about them without leaving your Social Machine dashboard.  
    </p>
    <br/>
  </div>
  <div class="span4">

    <b>Find and track competitors</b>
    <p>
      <span class="feature-image"><%= image_tag "/assets/flat/user-8-64.png" %></span>      
      Find and track competing marketing moves. The Social Machine can help find 
      your competitors on Facebook, Youtube, Twitter or Blogs so you may track 
      their online activities. 
    </p>
  </div>
</div>



<br/><hr/><br/>
<div class="row">
  <div class="span9">
    <h2> Create beautiful web site in minutes</h2>
    Create eye-catching web pages, blogs, and even Facebook pages in minutes and get your brand online today! Use our professional looking templates and update the content with few clicks.


    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/newspaper-11-64.png" %>
      </div>
      <h5>Responsive Design</h5>
      Thanks to our Modern HTML5 responsive design, your website and landing pages will look good even on smaller devices like tablets and smartphones. Giving you broad exposure to millions of mobile users.
    </div>
    <br/>

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/email-8-64.png" %>
      </div>
      <h5>Email baked in</h5>
     Use our built in forms to collect emails from your website, landing  pages and newsletter to increase your customer base and send promotions and keep in touch with your customers. 
    </div>
    <br/>

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/twitter-64.png" %>
      </div>
      <h5>Connection to your social networks</h5>
     Add links to Facebook fan pages, Twitter account , YouTube channel or linkedin in profile. all with one click.  
    </div>

    <br/>
    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/campaign.png" %>
      </div>
      <h5>Landing pages for email campaigns and newsletters</h5>
     Every Campaign and Newsletter is supported by a landing page, where you can collect lead information like email addresses using forms and autoresponders. Visitors from social networks such as Facebook or Twitter can comment on your newsletter articles.
    </div>
    <br/>

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/facebook-3-64.png" %>
      </div>
      <h5>Better Fan pages with embedded forms</h5>
      <p> Create custom fan pages to attract new customers from Facebook. use Graphics and Forms to collect emails from new fans.</p>
    </div>
    <br/>  


    <br/>
    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/bar-chart-4-64.png" %>
      </div>
      <h5>Built in SEO and Keywords management</h5>
      The social machine tracks all the webpages, articles, promotions etc and will show you who and where from visitors reach to your website. Compare your website keywords to your competitors and track your site location on Google and Bing 
    </div>

  </div>
  <div class="span3">
    <%= image_tag "/assets/flat/website-big.png" , :width => "100%"  ,:class => "feature-image"%>
  </div>

</div>
<br/><hr/><br/>
<div class="row">
  <div class="span3">
    <%= image_tag "/assets/flat/email-8-512.png"   ,:class => "feature-image"%>
  </div>
  <div class="span9">
    <h2> Generate email marketing campaigns</h2>
   Complete email marketing solution for newsletter, thank you letters, promotions and more. Combined with monitoring tools to see who opened your emails and clicked on your promotion pages will give you a clear picture of your email marketing effort and success.

    <br/>
    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/campaign.png" %>
      </div>
      <h5>Create Email Campaigns</h5>
      <p> Create Campaigns to promote products or services. The social machine will take care of editing, sending and tracking, giving you a clear picture of who opened the emails and who clicked on  your campaign landing pages. </p>
    </div>
    <br/>

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/newspaper-7-64.png" %>
      </div>
      <h5>Create Newsletters</h5>
      <p> Create Newsletter to keep in touch with your customer base. Your Newsletters lives on the web, and are interactive. meaning that the readers can post back, a key feature to increase user engagement
      </p>
    </div>
    <br/>

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/clipboard-3-64.png" %>
      </div>
      <h5>Turn Junk Mail to Gold</h5>
      <p> Use Other Marketing message as your own. create auto messages from professinal marketers.. </p>
    </div>
    <br/>

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/speech-bubble-11-64.png" %>
      </div>
      <h5>Create predefined email responds for better customer support</h5>
      <p> Create email responders  like thank you letters,  instructions and so forth to quickly reply to new friends and fans and customers.   
 </p>
    </div>

    <br/>
    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/bar-chart-4-64.png" %>
      </div>
      <h5>Track and manage campaign success</h5>
      <p> Let the social machine take care of finding out who opened your emails, and monitor your email campaigns and newsletters.  </p>
    </div>


  </div>
</div>




<br/><hr/><br/>
<div class="row">
  <div class="span9">
    <h2> Manage your social media marketing </h2>
    <p>
      Managing Facebook fans, Twitter Followers, Linkedin Connections in Social machine is easy. Get all the information you need about your fans. see what do they do and like and respond to them quickly from the social machine
    </p>

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/user-13-64.png" %>
      </div>
      <h5>Managing Fans all over the social networks</h5>
      <p> keep in track of your friends and followers on social networks like facebook, Twitter, Linkedin and others. send them business content or promotion messages from a single place. a big time saver! </p>
    </div>
    <br/>  



    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/user-comments-64.png" %>
      </div>
      <h5>Manage Posts and Comments </h5>
      <p> 
      Post to social networks, fan pages, groups. The social machine will add all the backlinks to your website and will track the traffic. 
      </p>
    </div>
    <br/>

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/magnifier-64.png" %>
      </div>
      <h5>Find Prospects and Competitors</h5>
      <p>
        Create searches for prospects, competitors and even content. The Social machine will scan the internet (Facebook,Twitter, Google+, RSS feeds) to get you the Users and Content that fits your business needs.
      </p>
    </div>
    <br/>

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/sharethis-64.png" %>
      </div>
      <h5>Share with one click</h5>
      <p> Share content from anywhere to anywhere. Posts from social networks, Blog articles, or News items  all can be shared , posted to your own site, fan pages, twitter account or even added to you articles. all with one click! </p>
    </div>
    <br/>

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/inbox-2-64.png" %>
      </div>
      <h5>Unified inbox</h5>
      <p> Never miss a message! Emails, Facebook messages, Twitter direct messages and form submissions from your site and pages. all on one place.   </p>
    </div>
    <br/>

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/user-14-64.png" %>
      </div>
      <h5>Gain credibility with social groups</h5>
      <p>Participating in groups is a great way to gain good credentials. Let the social machine find your groups in Facebook and Linkedin and track your group participants.</p>
    </div>
    <br/>  


  </div>
  <div class="span3">
    <%= image_tag "/assets/flat/social-all.png" , :width => "100%"  ,:class => "feature-image"%>
  </div>
</div>


<br/><hr/><br/>
<div class="row">
  <div class="span3">
    <%= image_tag "/assets/flat/newspaper-11-512.png" , :width => "100%"  ,:class => "feature-image"%>
  </div>
  <div class="span9">
    <h2> Manage Articles, Pictures, Audio and Videos </h2>

    Create articles, with images and video clips. Deploy them to your Blogger or Wordpress blog and manage user comments all from your social machine account. Promote your articles on link submission sites like digg or reddit to increase your audience.

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/wordpress-3-64.png" %>
      </div>
      <h5>Deploy Articles to Wordress, Blogger ,Tumblr</h5>
      <p> Deploy your articles to major blog sites and track readers engagement </p>
    </div>
    <br/>  

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/facebook-like-64.png" %>
      </div>
      <h5>Promote Articles Facebook, Twitter, Google+</h5>
      <p> Post on social networks with link back to your article on your website newspaper. <%=lorem 20%> </p>
    </div>
    <br/>  

    <div class="pull-left">
      <%= image_tag "/assets/flat/link-64.png" %>
    </div>
    <h5>Link submission on Digg and Reddit   </h5>
    <p> Submit links on popular link submission sites like Reddit, Digg and StumbleUpon. and expose your message to millions of readers. </p>

    <br/>  


    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/speech-bubble-15-64.png" %>
      </div>
      <h5><%= "Manage Readers comments"  %></h5>
      <p> Get readers comments from all blogs and respond quickly with autoresponders.</p>
    </div>
    <br/>


    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/bar-chart-4-64.png" %>
      </div>
      <h5><%= "Track Views and Comments"  %></h5>
      <p> Track your readers engagement and see where your articles get the most attention.</p>
    </div>
    <br/>


  </div>

</div>




<br/><hr/><br/>
<div class="row">


  <div class="span9">
    <h2> Learn more about your competitors </h2>

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/magnifier-64.png" %>
      </div>
      <h5><%= "Find new Competitors"  %></h5>
      <p> Every day the social machines will recommend you of new competitors you should be aware of. you can configure competitors search in each channel. </p>

    </div>
    <br/>

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/speech-bubble-15-64.png" %>
      </div>
      <h5><%= "Track Competitor Posts and comments"  %></h5>
      <p> Once marked as a competitor, the social machine will track every move the user you selected is doing. That includes: website changes, posts on Facebook and twitter and even spying on the competitor email marketing.</p>
    </div>
    <br/>

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/bar-chart-4-64.png" %>
      </div>
      <h5><%= "Watch competitors exposure"  %></h5>
      <p> The social machine will generate a daily summary on each competitor and email you a summarize of your competitor moves and exposure. </p>
    </div>
    <br/>

    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/campaign.png" %>
      </div>
      <h5><%= "Track Competitor Email Campaigns"  %></h5>
      Register to your competitor email campaign and see their wording to push their message. use it to leapfrog your competitors on email marketing campaigns
    </div>
    <br/>


  </div>
  <div class="span3">
    <%= image_tag "/assets/flat/user-8-512.png" , :width => "100%"  ,:class => "feature-image"%>
  </div>
</div>






<br/><hr/><br/>
<div class="row">
  <div class="span3">
    <%= image_tag "/assets/flat/dashboard-4-512.png" , :width => "100%"  ,:class => "feature-image"%>
  </div>
  
  <div class="span9">
    <h2> Unified Dashboard and performance charts</h2>
    Connect the socialmachine to your favorite rss feeds and get the news about things that are important to your business.




    <br/>
    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/sharethis-64.png" %>
      </div>
      <h5>Share Posts Articles movies and pictures </h5>
      Share posts from any channel to your fan pages, blogs or even create article from it. all with couple of clicks.
    </div>



    <br/>
    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/bar-chart-4-64.png" %>
      </div>
      <h5>Monitor your activity on all channels</h5>
      <p> Daily charts of your marketing performance in Social networks , Email and website visits giving you a clear pictures of your marketing performance.   </p>
    </div>




    <br/>
    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/magnifier-64.png" %>
      </div>
      <h5>Find Content, Prospects and Competitors</h5>
      <p> Search for content and people on all social networks save time and keep your focus in marketing rather than surfing social networks  </p>
    </div>



    <br/>
    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/inbox-2-64.png" %>
      </div>
      <h5>Unified inbox</h5>
        <p> Get all incomming messages from emails and social networks into a single place. never miss a message. Combine it with Auto responders to achieve better customer support  </p>
    </div>

    <br/>
    <div>
      <div class="pull-left">
        <%= image_tag "/assets/flat/smartphone-64.png" %>
      </div>
      <h5>Run on Smart Phones, tablet and Desktop</h5>
      <p> Run and manage your marketing campaigns even when you are on the raod. The Social machine works on Desktop, laptops, netbooks,tablets and smartphones. Nothing to install, just login to your social machine account. </p>
    </div>



  </div>

</div>






<div class="row hide">
  <hr/><h2>Who is it for?</h2><hr/>
  <div class="span3">
    <h4>Small Bussinesess</h4><hr/>
    <%= image_tag "https://encrypted-tbn3.google.com/images?q=tbn:ANd9GcSfQEchD0MqD2ar6wjpT1UVk5sM6IrFMCBSQCi2-OCEtdfDj6Gr" , :size => '250x200' %>
    <%= render :partial => 'for_businesses'%>
  </div>
  <div class="span3">
    <h4>Celebrities</h4><hr/>
    <%= image_tag "http://www.hybridlava.com/wp-content/uploads/Celebrity-Websites-cover.jpg" , :size => '250x200' %>
    <%= render :partial => 'for_celebs' %>
  </div>
  <div class="span3">
    <h4>Bands and Performing Artits</h4><hr/>
    <%= image_tag "https://encrypted-tbn0.google.com/images?q=tbn:ANd9GcQL2vrXdZa5xdGOCPDhP6ueRMmbWk1nONd0T8ApKGrtmjTUYQ7i" , :size => '250x200' %>
    <%= render :partial => 'for_bands'%>
  </div>

  <div class="span3">
    <h4>Personal</h4><hr/>
    <%= image_tag "http://us.123rf.com/400wm/400/400/silvertiger/silvertiger1101/silvertiger110100001/9081999-black-stylish-website-template-for-personal-portfolio--perfect-for-photographers-and-designers.jpg" , :size => '250x200' %>
    <%= render :partial => 'for_personal'%>
  </div>
</div>

<br/>
<br/>
<h1> Pricing </h1><hr/>
<%= render :partial => 'pricing_table' %>

<hr>




<!-- FACEBOOK SCRIPT -->
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=320750867990208";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


<style>
  img.feature-image{
    padding-top: 1.5em;
  }
</style>





<style>
  h5{ color:#e08936; font-size:17px; line-height: 20px; font-weight: normal; padding-bottom: 0px;margin-bottom:0px;}

</style>