<% content_for :head do  %>

  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="marketing automation,social machine, social marketing, facebook marketing, twitter marketing, youtube marketing, brand promotion" />
  <meta name="description" content=" The first wall to wall solution allowing you to promote your business online, including online presence, email marketing, manage you Facebook fan page, Twitter, Youtube and other social networks while also concentrating everything you need to know about what the competition is doing. Working from a single outlet, you can save time, increase efficiency, and stay focused on what you do best!
        The Social Machine, Say Hello to your new marketing department. " />
  <meta name="generator" content="Rails 3.1" />

<% end  %>

<br/>
<%= render :partial => "shared/rtl_support" %>
<style>
  h4{ font-size:15px;}
  .hero-unit p{font-size:12px line-height:14px;}
  .hero-unit li{ padding-top: 3px;
                 font-size: 18px; list-style-type: none; line-height: 22px;
  }

  .hero-unit li img{
    vertical-align: top;
  }
  .span4 p{font-size:13px;line-height:14px;}
  .span9 p{font-size:13px;line-height:14px;}
  .span9 h5{margin-bottom:2px;}
</style>

<div class="row">
  <div class="span12">
    <div class="hero-unit">

      <div class="pull-right">
        <%= image_tag "/assets/icons/social-machine-logo-big.png" , :size => "250x250"%>
        <br/>
        <span style="display:none;position: relative; top:-40px;">
          <%= image_tag "/assets/icons/blog.png" , :size => "40x40" %>
          <%= image_tag "/assets/icons/facebook_64.png" , :size => "40x40" %>
          <%= image_tag "/assets/icons/twitter_64.png" , :size => "40x40" %>
          <%= image_tag "/assets/icons/youtube_64.png" , :size => "40x40" %>
          <%= image_tag "/assets/icons/blogger_64.png" , :size => "40x40" %>
          <%= image_tag "/assets/icons/wordpress_64.png" , :size => "40x40" %>
        </span>
      </div>
      <span style="font-size:30px;font-weight: bold">
<%#= image_tag "/assets/icons/logo.png", :size => "64x64" %>
        המכונה החברתית
      </span>

      <p style="font-size:14px;line-height: 16px;">
        <br/>
        מערכת שיווק לחברות קטנות, עצמאים  אומנים, להקות, וסלבס הכוללת
        אתר אינטרנט, שיווק בדואר אלקטרוני, ניהול רשותות חברתיות. ניהול ומעקב אחר מתחרים, איתור לקוחות פוטנציאלים ועוד מגוון כלים המאפשרים לך לנהל את
        המותג שלך באינטרנט וברשתות חברתיות ממקום אחד, בקלות ובפשטות.


      </p>
      <br/>
      <p>
        <b>  המכונה החברתית - תגידו שלום למחלקת השיווק החדשה שלכם! </b><br/>
      </p>
      <p><a href="/public/beta" class="btn btn-primary btn-large">הרשם לבטא</a></p>

    </div>


    <div class="row ">
      <div class="span4">
        <h4>ניהול המותג שלך ברשתות חברתיות</h4>
        <p>
          <span class="feature-image"><%= image_tag "/assets/flat/twitter-64.png" %></span>     

          נהל את הפרופיל שלך בכל הרשתותו החברתיות ממקום אחד. פייסבוק, טוויטר, יו-טיוב הם חלק מהרשתות החברתיות בהן המכונה תומכת.
          יצר  עידכונים, קבל המלצות לחברים חדשים ולפוסטים מעניינים כך שתמיד תוכל למצוא על מה לכתוב ברשתות החברתיות
        </p>
      </div>

      <div class="span4">
        <h4>שיווק דרך דואר אלקטרוני</h4>
        <p>
          <span class="feature-image"><%= image_tag "/assets/flat/email-8-64.png" %></span>      


          שלח מכתבי תפוצה ללקוחות שלך דרך המכונה החברתית. בחר באחת מתבניות העיצוב שלנו והתאם את המראה לעסק שלך. 
          המכונה החברתית תדאג לבדוק מי פתח את המייל ומי לחץ על הלינק לאתר שלך.
        </p>
      </div>



      <div class="span4">
        <h4>אתר מקצועי לעסק שלך</h4>
        <p>
          <span class="feature-image"><%= image_tag "/assets/flat/home-64.png" %></span> 

          יצר לעצמך אתר מקצועי בדקות בעזרת כלי העריכה שלנו. הוסף טפסים , סרטים ותמונות. המכונה החברתית תדאג לכל השאר 
          כולל המלצות ל SEO וקישור האתר שלך לרשתות חברתיות ולמענה אוטומטי ללקוחות דרך דוא"ל

        </p>
      </div>


    </div>



    <div class="row">
      <div class="span4">

        <h4>ניטור הצלחת השיווק שלך בכל הרשתות</h4>
        <p>
          <span class="feature-image"><%= image_tag "/assets/flat/bar-chart-4-64.png" %></span>      

          המכונה החברתית מבצעת בדיקה יומית של המצב שלך בכל רשת ורשת. הנתונים נשמרים לאורך זמן. המכונה תציג לך את ההתקדמות שלך בתהליך השיווק של העסק שלך 
          ותמליץ לך כיצד להעלות את כמות התנועה באתר שלך וברשתות חברתיות
        </p>

      </div>

      <div class="span4">
        <h4>ניהול לקוחות ולקוחות פוטנציאלים</h4>
        <p>
          <span class="feature-image"><%= image_tag "/assets/flat/user-13-64.png" %></span>      

          ניהול לקוחות ולקוחות פוטנציאלים מכל הרשתותו במקום אחד מאפשר לך לחסוך זמן יקר בניהול ושימור הלקוחות. המכונה החברתית תמליץ לך על לקוחות פוטנציאלים בכל הרשתות
          ותציג לך מידע רב עליהם ללא צורך לשוטט באינטרנט
        </p>

      </div>

      <div class="span4">
        <h4>חיפוש וניהול מתחרים</h4>
        <p>
          <span class="feature-image"><%= image_tag "/assets/flat/user-8-64.png" %></span>    
          המכונה החברתית תמליץ לך על מתחרים בכל רשת וערוץ באינטרנט. ומאפשרת לך לעקוב אחר כל צעד של מתחרה בכל רשת חברתית.
          כולל שינויים באתר ובבלוגים, עדכונים ברשתות חברתיות ואפילו מעקב אחר אימיילים שהמתחרה שולח. 
          למד כיצד לעקוף את המתחרים שלך ולהיות צעד אחד לפניהם.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <hr/>
      </div>
    </div>




    <br/><hr/><br/>
    <div class="row">
      <div class="span9">
        <h2> אתר מקצועי במספר דקות</h2>
        אתר אינטרנט הוא הבסיס לכל קפמיין שיווקי באינטרנט ולמען האמת אין היום עסק שמכבד את עצמו שאין לו נוכחות באינטרנט. המכונה החברתית תייצר לכם אתר אינטרנט עיסקי הכולל את כל הרכיבים הנדרשים לייצר לידים.
        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/newspaper-11-64.png" %>
          </div>
          <h5>מותאם למכשירים ניידים וטבלטים</h5>
          <p>
          הודות לטכנולוגית HTML5 האתר שלכם יראה טוב גם בטלפונים חכמים וטבלטים. דבר המגדיל את החשיפה שלכם למליוני משתמשים ניידים. ויאפשר להם להגיע לאתר שלכם גם כשהם לא מול מחשב.
          </p>
        </div>
        <br/>

        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/email-8-64.png" %>
          </div>
          <h5>חיבור למענה דוא"ל אוטומטי</h5>
          הוסף טפסטים למילוי בדפי הנחיתה שלך ובאתר כדי לאסוף כתובות מייל. יצר הודעות טוטמטיות הנשלחות לכתובת הדוא"ל של המשתמש ושמור איתו על קשר בעזרת קמפיינים וניוזלטר.
        </div>
        <br/>

        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/twitter-64.png" %>
          </div>
          <h5>חיבור לרשתות חברתיות</h5>
חיבור אוטומטי לכל ערוצי השיווק שלכם באינטרנט- דפי מעריצים בפייסבוק, חשבון הטוויטר שלכם או ערוץ היו-טיוב שלכם. המכונה החברתית יודעת לקשר לינקים לאתר שלכם ולעקוב אחר התנועה מרשתות חברתיות.
        </div>

        <br/>
        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/campaign.png" %>
          </div>
          <h5>דפי נחיתה לקמפינים בדוא"ל</h5>
          המכונה החברתית מייצרת דפי נחיתה לכל קמפיין וניוזלטר הדפים מתאימים לאתר  שלך דבר המקל על המשתמשים להמשיך ברכישה. בדף זה תוכל לאסוף מיילים של מבקרים שהפנת מרשתות חברתיות. כך שכל קמפיין מייל שלכם מלווה בקמפיין ברשתות חברתיות.
        </div>
        <br/>

        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/facebook-3-64.png" %>
          </div>
          <h5>דפי מעריצים בפייסבוק</h5>
          <p>בנה דפי מעריצים אינטראקטיבים עם טפסים לקבלת דוא"ל. והגדל את החשיפה ללקוחת החיים בפייסבוק 
ומעדיפים שלא  לגלוש לאתר שלך.</p>
        </div>
        <br/>  


        <br/>
        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/bar-chart-4-64.png" %>
          </div>
          <h5>מיקום במנועי חיפוש</h5>
          המכונה החברתית תציג לכם את מיקום האתר שלכם במנועי חיפוש פופולריים כמן גוגל ובניג. תמליץ לכם על מילות מפתח ותציג לכם מילות המפתח של המתחרים שלכם. כך תוכלו להעלות את מיקומכם במנועי חיפוש.
        </div>

      </div>
      <div class="span3">
        <%= image_tag "/assets/flat/website-big.png" , :width => "100%"  ,:class => "feature-image"%>
      </div>

    </div>
    <br/><hr/><br/>
    <div class="row">
      <div class="span3">
        <%= image_tag "/assets/flat/email-8-512.png"   ,:class => "feature-image"%>
      </div>
      <div class="span9">
        <h2> שיווק בדואר אלקטרוני</h2>
דואר אלקטרוני הוא עדיין הדרך הבטוחה להגיע ללקוחות. לכל אחד יש חשבון דוא"ל אותו הוא בודק כל יום. המכונה החברתית מאפשרת לכם לאסוף כתובות דוא"ל ולשלוח להם את ה מסר העסקי שלכם בצורת קמפיינים, ניוזלטרים ומכתבי תשובה אוטומטים.  



        <br/>
        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/campaign.png" %>
          </div>
          <h5>קמפיינים בדוא"ל</h5>
          <p> יצר קמפיינים למוצרים או שרותים אותם אתם רוצים לשווק, המכונה החברתית תדאג לערוך, לשלוח ולבדוק מי פתח את האימיילים שלכם.כל קמפיין מלוווה בדף נחיתה משם תוכלו לשווק את המוצר או השרות שלכם ישירות ללקוח. </p>
        </div>
        <br/>

        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/newspaper-7-64.png" %>
          </div>
          <h5>עיתון שבועי</h5>
          <p> שליחת ניוזלטר ללקוחות היא הדרך הטובה ביותר לשמור על קשר עם הלקוחות  לעדכן אותם על מה חדש אצלכם. המכונה החברתית מייצרת דפי נחיתה לכל מאמר או ניוזלטר כך שהקוראים יכולים להגיב וכך תגדילו את האינטראקציה עם הלקוחות שלכם. </p>
        </div>
        <br/>

        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/clipboard-3-64.png" %>
          </div>
          <h5>הפוך דואר זבל לתוכן</h5>
          <p> העתק את התוכן של קמפיינים של מתחרים והשתמשו בו כדי לשפר את השיווק שלכם בדוא"ל. מעקב אחר המסרים של המתחרים שלכם יתנו לכם רעיונות לקמפיינים נוספים</p>
        </div>
        <br/>

        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/speech-bubble-11-64.png" %>
          </div>
          <h5>מענה מהיר עם הודעות מוכנות מראש</h5>
          <p> הכינו תגובות מוכנות כגון מכתבי תודה או הוראות שימוש וחסכו זמן יקר  במענה לפניות ובאיכות התמיכה בלקוחות שלכם.  המכונה החברתית תודיע לכם האם ההודעה ששלחתם ללקוח נקראה. </p>
        </div>

        <br/>
        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/bar-chart-4-64.png" %>
          </div>
          <h5>מעקב אחר שליחת הודעות ופתיחתן</h5>
          <p> המכונה החברתית עוקבת אחר ההודעות שנשלחו, בודקת מי מהן נפתחו ומי הגיע לדף הנחיתה. כך תוכלו לבדוק איזה טקסט עובד יותר וכיצד לפנות ללקוחות </p>
        </div>


      </div>
    </div>




    <br/><hr/><br/>
    <div class="row">
      <div class="span9">
        <h2> שיווק ברשתות חברתיות </h2>
        <p> הרשתות החברתיות כבשו את העולם. כולנו בפייסבוק כל הזמן, רואים סרטים ביו-טיוב ומציצים בטוויטר. ובטוח ששאלתם את עצמכם אין משווקים ברשתות החברתיות? המכונה החברתית היא פלטפורמת שיווק ברשתות שמאחדת את הפעילות העיסקית שלכם במקום אחד. חוסכת זמן יקר בשיטוט ברשתות חברתיות ושומרת על פוקוס בבנית הקמפיינים החברתיים.</p>

        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/user-13-64.png" %>
          </div>
          <h5>ניהול העוקבים ומעריצים</h5>
          <p> נהלו את הלקוחות שלכם מכל הרשתות במקום אחד. צרו איתם קשר בקליק אחד וחסכו זמן יקר בשיטוט ברשתות חברתיות </p>
        </div>
        <br/>  



        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/user-comments-64.png" %>
          </div>
          <h5>שליחת פוסטים והודעות וניהול תגובות  </h5>
          <p> 

נהלו את התכנים העסקיים שלכם ברשתות חברתיות (פייסבוק, טוויטר, לינקד-אין, יו-טיוב ועוד..) עקבו אחר המגיבים וצרו איתם קשר בעזרת הודעות מוכנות. כל זאת מבלי לקפוץ בין אתרים ורשתות חברתיות. </p>
        </div>
        <br/>

        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/magnifier-64.png" %>
          </div>
          <h5>לקוחות ומתחרים פוטנציאליים</h5>
          <p>

הגדירו חיפושים ללקוחות ומתחרים פוטנציאלים והמכונה החברתית תמליץ על המשתמשים הפעילים ביותר למעקב. הגדירו חיפושים דומים לתכנים המעניינים אתכם ואת הלקוחות שלכם. כך תוכלו לשמור את ערוצי השיווק שלכם עדכניים ומעניינים. </p>
        </div>
        <br/>

        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/sharethis-64.png" %>
          </div>
          <h5>שתף בקליק אחד</h5>
          <p> העתיקו תוכן מרשת אחת לאחרת בקליק אחד. כך תוכלו לפרסם מאמרים ברשתות חברתיות , חדשות מגוגל וספקי RSS כל אחד מדפי המעריצים בפייסבוק. </p>
        </div>
        <br/>

        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/inbox-2-64.png" %>
          </div>
          <h5>תיבת הודעות מכל הרשתות</h5>
          <p> קבלו את כל ההודעות מכל הרשתות במקום אחד!. חסכון בזמן יקר! הוסיפו על זה מענה תשובות אוטומטי 
וקבלתם שרות מהיר ללקוח.  </p>
        </div>
        <br/>

        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/user-14-64.png" %>
          </div>
          <h5>השתתפות בקבוצות דיון</h5>
          <p> קבוצות דיון היא הדרך הטובה ביותר לייצר שם באינטרנט. שאר משתמשי הקבוצה מכירים אותך ורגילים לקבל תגובות ממך. כך שכשתפנה אליהם בהצעה עסקית הם יהיו פתוחים יותר להצעות. המכונה החברתית תציע לך קבוצות דיון להתשתתף בהם ותעקוב אחר הפעילות שלך בכל קבוצה. </p>
        </div>
        <br/>  


      </div>
      <div class="span3">
        <%= image_tag "/assets/flat/social-all.png" , :width => "100%"  ,:class => "feature-image"%>
      </div>
    </div>


    <br/><hr/><br/>
    <div class="row">
      <div class="span3">
        <%= image_tag "/assets/flat/newspaper-11-512.png" , :width => "100%"  ,:class => "feature-image"%>
      </div>
      <div class="span9">
        <h2> מסמכים, תמונות, אודיו ווידאו </h2>

       בלוגים הם הדרך החדשה של אנשים להתבטא באינטרנט. אתרי בלוגים גדולים כמו יוטיוב ווורדפרס משרתים מליוני משתמשים הצופים בהם כל יום.   עסקים רבים משתמשים בבלוגים ככלי שיווק אין סיבה שאתם תשארו מחוץ למשחק.  

המכונה החברתית מאפשרת ליצר, לערוך להפיץ ולקדם כתבות, וסרטונים בבלוגים חיצונים כמו  Wordpress, Blogger, Tumblr, You Tube. לקדם את הבלוגים שלך ברשתות חברתיות ובדוא"ל. ובאתרי שיתוף כמו reddit, Digg  ו  stumbleUpon

        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/wordpress-3-64.png" %>
          </div>
          <h5>שליחת מאמרים לבלוגים כמו וורדפרס ובלוגר</h5>
          <p> העתיקו את המאמרים שיצרתם לבלוגים מוכרים והגדילו את קהל הקוראים של התוכן העסקי שלכם. המכונה החברתית תדאג לאיסוף תגובות והודעות מבלוגים כגון וורדפרס, בלוגר וטמבלר.</p>
        </div>
        <br/>  

        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/facebook-like-64.png" %>
          </div>
          <h5>קידום המאמרים בפייסבוק, טוויטר, לינקד אין ועוד</h5>
          <p>שלחו הודעות לכל הרשתות החברתיות לקידום המאמרים שפרסמתם. המכונה החברתית תייצר את הקישורים הנדרשים להפניית הקוראים ותעקוב אחר התנועה ברשת. </p>
        </div>
        <br/>  

        <div class="pull-left">
          <%= image_tag "/assets/flat/link-64.png" %>
        </div>
        <h5>שיתוף המאמרים באתרי שיתוף לינקים   </h5>
        <p> אתרי שיתוף לינקים כמו reddit, Digg, StumbleUpon ועוד הם דרך נהדרת לחשוף קהילות חדשות למאמרים שלך. המכונה החברתית מאפשרת לך לשתף לינקים בכל אחד מהאתרים הללו ותעקוב אחר הקוראים שלכם שם.</p>

        <br/>  


        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/speech-bubble-15-64.png" %>
          </div>
          <h5><%= "ניהול תגובות הקוראים"  %></h5>
          <p> המכונה החברתית תאסוף עבורכם את כל ההודעות הערות ותגובות של קוראים שלכם בבלוגים   כך שאתם לא צריכים לבדוק מה חדש בכל בלוג. ולראות באיזה בלוג יש יותר קוראים ומגיבים.</p>
        </div>
        <br/>


        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/bar-chart-4-64.png" %>
          </div>
          <h5><%= "איסוף סטטיסיטיקה"  %></h5>
          <p> המכונה החברתית עוקבת אחר המבקרים והמגיבים בכל בלוג ותציג עבורכם מידע חיוני להבנת התפוצה והתגובות בכל הבלוגים. בעזרת המכונה החברתית תקבלו תמונה ברורה של השיווק שלכם בבלוגים כמו יו-טיוב, וורדפרס, בלוגר וטמבלר</p>
        </div>
        <br/>


      </div>

    </div>




    <br/><hr/><br/>
    <div class="row">


      <div class="span9">
        <h2> למד על המתחרים שלך </h2>

        לכל עסק יש מתחרים. זאת עובדה שאי אפשר להתעלם ממנה. החוכמה היא לא רק למצוא מול מי אני מתחרה אלא כיצד ניתן ללמוד מפעילות השיווק של המתחרים שלי. וזאת  בכדי להיות צעד אחד לפניהם. המכונה החברתית מאפשרת לכל משתמש לחפש ולנהל את המתחרים שלו, ולעקוב אחר פעילות השיווק שלהם.
        
        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/magnifier-64.png" %>
          </div>
          <h5><%= "מציאת מתחרים"  %></h5>
          <p> המכונה החברתית תחפש לכם את מתחרים שלכם באינטרנט, בפייסבוק, בטוויטר, בלינקד-אין, ביו-טיוב ועוד.. ותציג לכם את רשימת המתחרים כולל מידע על הפעילות שלהם ברשת. </p>

        </div>
        <br/>

        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/speech-bubble-15-64.png" %>
          </div>
          <h5><%= "מעקב אחרי פוסטים ותגובות המתחרים"  %></h5>
          <p>המכונה החברתית תעקוב אחר פעילות המתחרה שלכם ברשתות חברתיות כולל תגובות ותציג לכם מידע עדכני על פעילות המתחרה ברשת. </p>
        </div>
        <br/>

        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/bar-chart-4-64.png" %>
          </div>
          <h5><%= "ניתוח החשיפה של המתחרים ברשת"  %></h5>
          <p> בנוסף לאיסף הנתונים היומי , המכונה החברתית תציג לכם את הניתוח והשוואה למתחרים אחרים ואליכם. בנוסף תוכלו לקבל אל תיבת הדוא"ל שלכם סיכום יומי של פעילות המתחרים שלכם.
 </p>
        </div>
        <br/>

        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/campaign.png" %>
          </div>
          <h5>מעקב אחר תפוצת דוא"ל של המתחרים</h5>
         הרשמו לרשימת התפוצה של המתחרים ולמדו כיצד הם משווקים את עצמם. אם נתקלתם ברעיון חדש, תוכלו להעתיק את התוכן לקמפיין משלכם ולהתאים אותו לצרכים שלכם.
        </div>
        <br/>


      </div>
      <div class="span3">
        <%= image_tag "/assets/flat/user-8-512.png" , :width => "100%"  ,:class => "feature-image"%>
      </div>
    </div>






    <br/><hr/><br/>
    <div class="row">
      <div class="span3">
        <%= image_tag "/assets/flat/dashboard-4-512.png" , :width => "100%"  ,:class => "feature-image"%>
      </div>
      <div class="span9">
        <h2> הכל ממקום אחד</h2>
       היתרון הגדול ביותר של המכונה החברתית הוא חיבור כל ערוצי השיווק באינרנט למקום אחד. דבר המאפשר ניהול קל יותר של השיווק וקבלת תמונה כוללת של ההענות בכל ערוצי השיווק, ומתן תגובה מהירה ללקוחות בכל הרשתות.



        <br/>
        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/sharethis-64.png" %>
          </div>
          <h5>שיתוף תוכן מכל מקום לכל מקום </h5>
          <p> העתיקו תוכן מרשת אחת לאחרת בקליק אחד. כך תוכלו לפרסם מאמרים ברשתות חברתיות , חדשות מגוגל וספקי RSS כל אחד מדפי המעריצים בפייסבוק. או לחשבון הטוויטר שלכם. המכונה החברתית תדאג לכל הקישורים ותעקוב אחר התנועה של כל פוסט.   </p>
        </div>



        <br/>
        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/bar-chart-4-64.png" %>
          </div>
          <h5>מעקב אחר הפעילות בכל הערוצים</h5>
          <p> המכונה החברתית תעקוב אחר הפעילות שלכם בכל ערוצי השיווק,תשווה בין ההיענות בכל ערוץ ותמליץ על שיפור בכל רשת בלוג או קמפיין  </p>
        </div>




        <br/>
        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/magnifier-64.png" %>
          </div>
          <h5>חיפוש תוכן, לקוחות ומתחרים</h5>
          <p>המכונה החברתית תחפש עבורכם לקוחות , מתחרים ותכנים מכל הרשתות ותציג אותם בצורה מרוכזת. בקליל אחד תוכל להוסיף מתחרה,ליצור קשר עם לקוחות חדשים ולהפיץ תכנים לכל ערוצי השיווק שלכם  </p>
        </div>



        <br/>
        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/inbox-2-64.png" %>
          </div>
          <h5>כל ההודעות במקום אחד</h5>
          <p> קבלו את כל ההודעות מכל הרשתות במקום אחד!. חסכון בזמן יקר! הוסיפו על זה מענה תשובות אוטומטי 
וקבלתם שרות מהיר ללקוח.   </p>
        </div>

        <br/>
        <div>
          <div class="pull-left">
            <%= image_tag "/assets/flat/smartphone-64.png" %>
          </div>
          <h5>נהל את השיווק גם כשאתה לא במשרד</h5>
          <p> 

המכונה החברתית מתאימה את עצמה גם כשאתה באיפון או באנדרויד. נהל את כל מערך השיווק שלך מהטלפון או הטבלט! אין צורף להתקין שום אפליקציה. פשוט גלוש לחשבון שלך מהנייד.
   </p>
        </div>



      </div>

    </div>




    <br/>
    <hr/>
    <h3> מחירים </h3><hr/>
    <%= render :partial => 'pricing_heb' %>

    <hr>




    <!-- FACEBOOK SCRIPT -->
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=320750867990208";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

  </div>
</div>