<br/>

<div class="hero-unit">


  <h1>
        <%= image_tag "/assets/icons/social-machine-logo-big.png" , :size => "32x32" %>
    The Social Machine
  </h1>

  <p>
    The first wall to wall solution allowing you to promote your 
    business online, including online presence, email marketing, manage you 
    Facebook fan page, Twitter, Youtube and other social networks while also 
    concentrating everything you need to know about what the competition is 
    doing. Working from a single outlet, you can save time, increase efficiency, 
    and stay focused on what you do best! </p>


</div>




<h3>What's inside the Social Machine?</h3><hr/>
<h4>Create Professional Looking Website in minutes</h4>
    <p>
      <span class="feature-image"><%= image_tag "/assets/icons/website.png" %></span>      
      Create eye-catching webpages, blogs, and even Facebook pages in minutes and 
      get your brand online today! Business users may also safely sell products and tickets via 
      PayPal or GoogleCheckout.  
    </p>
    <br/>
    <br/>

    <h4>Manage all Social Networks from one place</h4>
    <p>
      <span class="feature-image"><%= image_tag "/assets/icons/social_networks.png" %></span>      
      Use a single gateway to brand yourself on all major social networks. Post statuses 
      and promote your content on Facebook, Twitter, Google+ and other social networks 
      simplifying your social management, saving time, and considerably increasing efficacy.  
    </p>
    <br/>

    <h4>Post Article, Music and Video to your Blog</h4>
    <p>
      <span class="feature-image"><%= image_tag "/assets/icons/blog.png" %></span>      
    <p>
      Use the Social Machine to create articles and upload to your blogs pictures, 
      podcasts, and movie clips you created. Let the Social Machine send your content to Youtube, 
      Facebook, Wordpress and other sites

    </p>
    <br/>
    <br/>
    <br/>


    <h4>Online track your brand performance</h4>
    <p>
      <span class="feature-image"><%= image_tag "/assets/icons/chart.png" %></span>      
      See the impact of your marketing efforts over the web. See the visitors, fans, and 
      followers of your different channels. Follow up on comments, messages, and discussions 
      your content triggered and see how Google reflects your online presence.  
    </p>
    <br/>

    <h4>Manage Fans and Prospects</h4>
    <p>
      <span class="feature-image"><%= image_tag "/assets/icons/search_male_user.png" %></span>      
      Manage all your friends, fans, and followers in single place. Contact them easily 
      and learn about them without leaving your Social Machine dashboard.  
    </p>
    <br/>
    <br/>
    <br/>


    <h4>Find and Track Competitors</h4>
    <span class="feature-image"><%= image_tag "/assets/icons/search_business_user.png" %></span>      
    <p>

      Find and track competing marketing moves. The Social Machine can help find 
      your competitors on Facebook, Youtube, Twitter or Blogs so you may track 
      their online activities. Use this information to learn what, when, and where your competitors 
      are doing, see how much traffic they're generating, and what you might do better to increase 
      your own online presence to get ahead in the game.
    </p>

    <br/>
    <h4>Email Marketing and Autoresponders</h4>
    <span class="feature-image"><%= image_tag "/assets/icons/yellow_mail_send.png" %></span>      
    <p>Email Listing, Social Event Planning, Landing pages.. we have them all. Social Machine is loaded with smart tools to help you engage new fans and bring customers to your website.
    </p>
    <br/>
    <br/>

    <h4>Publish and Promote Events</h4>
    <span class="feature-image"><%= image_tag "/assets/icons/event.png" %></span>      
    <p>
      Social event planning, landing pages – we have them all. Social Machine is 
      loaded with smart tools to help you engage new fans and bring customers to your website. In 
      addition to the social networks, you can even manage and promote your events over eventpublishing sites such as evite.com
    </p>
    <br/>

    <h4>Compatible with Mobile Phones and Tablet</h4>
    <span class="feature-image"><%= image_tag "/assets/icons/mobile_phone.png" %></span>      
    <p>
      Ave time and do your marketing on the fly, whenever you have a few spare 
      moments. IPhone, Android, and tablets are all supported by Social Machine, and there's no 
      need to install any designated software to use it over these platforms. Just login to your 
      account and make use of your marketing department from wherever you are
    </p>


<style>
  .feature-image{
    vertical-align: top;
    float:left;
    padding:1em;
  }
  
  h4{
    color:#990000;
  }
  body{
    font-family: verdana;
    font-size: 12px;
    
  }
</style>
