<div class="row thumbnail">
  <div class="modal-header">
    <div class="pull-right hide">
      <%= link_to image_tag("/assets/flat/rss-3-64.png", :size => "48x48") , ""%> &nbsp;
      <%= link_to image_tag("/assets/flat/globe-5-64.png", :size => "48x48") , ""%> &nbsp;
      <%= link_to image_tag("/assets/flat/email-8-64.png", :size => "48x48") , ""%> &nbsp;
      <%= link_to image_tag("/assets/flat/google-plus-3-64.png", :size => "48x48") , ""%> &nbsp;
      <%= link_to image_tag("/assets/flat/twitter-3-64.png", :size => "48x48") , ""%> &nbsp;
    </div>

    <h3><%= @brand.name %> Newsletter</h3><hr/>
  </div>
  
  <div class="span7">
    <%= raw @newsletter.articles_to_html %>
  </div>
  <div class="span4">
      <h3><%= @brand.name %> on social networks</h3><hr/>
      <% if @brand.facebook_page.present? %>
        <a href='<%= @brand.facebook_page%>'><img src='/templates/social-icons/default/facebook.png'  width='32px' height='32px' target='_blank'> </a>
      <% end %>

      <% if @brand.twitter_user_id.present? %>
        <a href='<%= @brand.twitter_user_id%>'><img src='/templates/social-icons/default/twitter.png'  width='32px' height='32px' target='_blank'> </a>
      <% end %>

      <% if @brand.youtube_url.present? %>
        <a href='<%= @brand.youtube_url%>'><img src='/templates/social-icons/default/youtube.png'  width='32px' height='32px' target='_blank'> </a>
      <% end %>
        
         <% if @brand.linkedin_url.present? %>
        <a href='<%= @brand.linkedin_url%>'><img src='/templates/social-icons/default/linkedin.png'  width='32px' height='32px' target='_blank'> </a>
      <% end %>

    
    
    <h3>Older Issues</h3><hr/>
    <ul>
      <%for item in @newsletters do   %>
        <li><%= link_to item.name , "/public/newsletter?id=#{@brand.id}&issue=#{item.id}"  %></li>
      <% end %>
    </ul>
  </div>
</div>


<hr/>
<div style="text-align: center">
<%=  link_to "The Social Machine", "/" %> | Say Hello to your new marketing department | click <%= link_to "Here" , "/public/beta" %> to open your account
</div>
<hr/>

<% content_for :head do  %>
  <%= raw @fonts %>
  <style>
  <%= raw @css  %>
  </style>
<% end %>



<style>
  .navbar-fixed-top{display:none;}
</style>