<% content_for :head do  %>
  <%= raw @website.template.html %>
  <style>
    .article-image{
      float:left;
      padding:1em;
    }   

    body{
      padding-top:10px;
    } 

    <%= raw @website.template.the_css %>

  </style>

<% end  %>

<div class="page_wrapper">
  <div class="row ">
    <div class="span9">
      <span class="pull-left" style="padding:1em;vertical-align: middle;">
        <%= image_tag("#{@product.image_url}", :size => "400x300") %> 
      </span>
      <h2><%=  @product.name  %></h3>

        <h3>Description</h3><hr/>
        <%= @product.description%>

        <h3>Price</h3><hr/>
        Prodcut Price: 
        <%= number_to_currency @product.price%>
        <br/>
        <br/>

        <%= raw  @product.paypal %>

    </div>
    <div class="span3">
      <h3><%= @product.brand.name %></h3><hr/>
      <div class="pull-left" style="padding:0.4em;">
        <%= link_to image_tag(@product.brand.image_url , :size => "48x48") , "/public/brand/#{@product.brand.id}" %>
      </div>
      <b><%= link_to  @product.brand.name, "/public/brand/#{@product.brand.id}" %></b>
      <p><%= link_to @product.brand.description,  "/public/brand/#{@product.brand.id}"%> </p>
      <br/>

      <h3><%=@product.brand.name %> on social networks</h3><hr/>
      <% if @product.brand.facebook_page.present? %>
        <a href='<%=@product.brand.facebook_page%>'><img src='/templates/social-icons/default/facebook.png'  width='32px' height='32px' target='_blank'> </a>
      <% end %>

      <% if @product.brand.twitter_user_id.present? %>
        <a href='<%=@product.brand.twitter_user_id%>'><img src='/templates/social-icons/default/twitter.png'  width='32px' height='32px' target='_blank'> </a>
      <% end %>

      <% if @product.brand.youtube_url.present? %>
        <a href='<%=@product.brand.youtube_url%>'><img src='/templates/social-icons/default/youtube.png'  width='32px' height='32px' target='_blank'> </a>
      <% end %>
        
         <% if @product.brand.linkedin_url.present? %>
        <a href='<%=@product.brand.linkedin_url%>'><img src='/templates/social-icons/default/linkedin.png'  width='32px' height='32px' target='_blank'> </a>
      <% end %>


      <br/>
      <br/>
      <h3>Contact <%= @product.brand.name %></h3><hr/>
      <% @inquiery = Inquiery.new( :brand_id => 1) %>
      <%= form_for @inquiery, :html => { :class => 'form-vertical' } do |f| %>
        <fieldset>
          <%= f.hidden_field :token, :class => 'text_field' , :value => params[:token] %>
          <%= f.hidden_field :source, :class => 'text_field' , :value => params[:source] %>
          <%= f.hidden_field :product_id, :class => 'text_field' , :value => @product.id %>
          <%= f.hidden_field :request_url, :class => 'text_field' , :value => request.original_url %>

          <%= f.hidden_field :brand_id, :class => 'number_field' %>
          <div class="control-group">
            <%= f.label :name, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :name, :class => 'text_field' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :email, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :email, :class => 'text_field' %>
            </div>
          </div>



          <div class="control-group">
            <div class="controls">
              <%= f.submit "Send", :class => 'btn btn-primary' %>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="span12">

      <h2>Pictures </h2> <hr/>
      <%= image_tag @product.image_1_url unless @product.image_1_url.nil? %>
      <%= image_tag @product.image_2_url unless @product.image_2_url.nil? %>
      <%= image_tag @product.image_3_url unless @product.image_3_url.nil? %>
      <%= image_tag @product.image_4_url unless @product.image_4_url.nil? %>
      <%= image_tag @product.image_5_url unless @product.image_5_url.nil? %>
    </div>
  </div>



</div>

