<div class="row">
  <% vid ="" %>
  <div class="span9">
    <table width="100%">
      <% Product.all.in_groups_of(3, false) do |row_posts| %>
        <tr>
          <% for item in row_posts %>
            <td style="vertical-align: top; width:240px; padding:0.4em;">
              <div class="thumbnail">
                <div class="modal-header">
                  <h5><%= item.name %> </h5>
                </div>
                <div class="caption">
                  <% vid = "img_#{rand(10000)}" %>
                  <%= image_tag(item.image_url, :id => vid , :width => "100%") %>

                  <p><%= strip_html(item.description)[0..200]%> </p>
                  <p><%= number_to_currency(item.price)%> </p>
                </div>
                <div class="modal-footer">
                  <p><a href="/public/product/<%=item.id%>" class="btn btn-primary">Read more</a> <a href="#" class="btn">Like!</a></p>
                </div>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>


  <div class="span3">
    <h3>Find Product and Services</h3><hr/>
    <% @product = Product.first %>
    <%= render :partial => 'search_product' %>
    <br/>
    <h3>Store Owners</h3><hr/>
    <% for item in Fan.all[0..10] do  %>
    <div class="store-owner pull-left" style="padding:0.2em;">
      <%= image_tag item.image_url , :size => "50x50"%>
    </div>
    <% end  %>
  </div>

</div>

<script>
  
  $(document).ready(function() {
    var img = document.getElementById("<%= vid %>"); 
    var width = img.clientWidth;
    var height = img.clientHeight;
    message = "h:" + height + "  w:" + width;

  });
  
</script>


<style>
  .modal-footer {
    padding: 14px 5px 5px;
    margin-bottom: 0;
    text-align: center;
  }

  .badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  .badge a{
    color: #ffffff;
  }
  .blog-item{
    width:230px;
    padding:1em;
    float:left;
    margin:1em;
  }
  .article-image img{
    padding:1em;
    width:200px;
    height:100px;
  }

  .item-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
  }

</style>