<div class="row">
  <div class="hero-unit">

    <div class="pull-right">
      <%= image_tag "/assets/screenshots/icons.png" %>
    </div>
    <h1>Product Tour</h1>
    <p>See Why we are the only solution that <b>integrates all your marketing needs </b> for imporving <br/> your exposure over social networks, blogs and Email.</p>
    <br/>
    <p> 
      a complete set of tools saving you time and money and push your brand exposure on the internet greater and faster
      <br/>
      <br/>
    </p>
    <p><a href="/public/beta" class="btn btn-primary btn-large">Join Our Beta! &raquo;</a></p>
  </div>
</div>

<div class="row">
  <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
        <h3>Dashboard</h3>
        <img src="/assets/screenshots/home.png" alt="">
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
        <h3> Prospects and competitors</h3>
        <img src="/assets/screenshots/people.png" alt="">
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
        <h3>Unified inbox</h3>
        <img src="/assets/screenshots/inbox.png" alt="">
      </div>
    </li>


    <li class="span3">
      <div class="thumbnail">
        <h3>Website Management</h3>
        <img src="/assets/screenshots/website-pages.png" alt="">
      </div>
    </li>
  </ul>
</div>
<div class="row">
  <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
        <h3>Website Stats</h3>
        <img src="/assets/screenshots/website-stats.png" alt="">
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
        <h3>Email Promotions</h3>
        <img src="/assets/screenshots/promotions.png" alt="">
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
        <h3>Newsletters</h3>
        <img src="/assets/screenshots/newsletters.png" alt="">
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
        <h3>Edit Newsletter</h3>
        <img src="/assets/screenshots/newsletter-edit.png" alt="">
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
        <h3>Facebook</h3>
        <img src="/assets/screenshots/facebook-main.png" alt="">
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
        <h3>Group Engagment</h3>
        <img src="/assets/screenshots/facebook-groups.png" alt="">
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
        <h3>user Engagment</h3>
        <img src="/assets/screenshots/facebook-engagment.png" alt="">
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
        <h3>Edit Newsletter</h3>
        <img src="/assets/screenshots/twitter-home.png" alt="">
      </div>
    </li>
  </ul>
</div>



<div class="row">
  <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
        <h3>Linkedin</h3>
        <img src="/assets/screenshots/linkedin-home.png" alt="">
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
        <h3>Jobs</h3>
        <img src="/assets/screenshots/linkedin-jobs.png" alt="">
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
        <h3>user Engagment</h3>
        <img src="/assets/screenshots/facebook-engagment.png" alt="">
      </div>
    </li>

    <li class="span3">
      <div class="thumbnail">
        <h3>Edit Newsletter</h3>
        <img src="/assets/screenshots/twitter-home.png" alt="">
      </div>
    </li>
  </ul>
</div>

<h2>Pricing</h2>
<%= render :partial => 'pricing_table' %>



<style>
  h5{ color:#990000; font-size:17px; line-height: 20px; font-weight: normal;}
  .span3 p{font-size:15px;line-height: 17px;padding-bottom:30px;}
</style>