<div class="row">
  <div class="pull-left">
    <%= image_tag "/assets/icons/social-machine-logo-big.png" , :size => "64x64" %>
  </div>
  
  <h1>You are now unsubscribed from the mailing list.</h1><br/><br/><hr/>
</div>

<div class="row">
  <div class="thumbnail">
    <div class="modal-body">
      <p>
        You are on this pages becuase you wanted to unsubcscribe from our mailing list.
      </p>

      <div class="pull-right">
        <%= link_to "Tell me more about Social machine" , "http://www.socialmachine.biz" , :class => "btn btn-info" %>
      </div>
      
      <form>
        <input type="checkbox"> Unsubscribe from Promotions </input><br/>
        <input type="checkbox"> Unsubscribe from News Letter </input><br/>
        <input type="checkbox"> Unsubscribe Everything from <%= lorem(2) %> </input>
      </form>
    </div>
  </div>
</div>

