<!DOCTYPE html>
<html>
  <head>
    <title>SocialMachine</title>
    <%= stylesheet_link_tag  "application", :media => "all" %>
<%#= stylesheet_link_tag  "font-awesome", :media => "all" %>
    <%= javascript_include_tag "jquery.dataTables" %> 
    <%= javascript_include_tag "application" %>



    <%= csrf_meta_tags %>
    <%= yield :head  %>

    <script>
          
      $(document).ready(function(){
        $("#toggle-menu-on").click(function(e){
          $("#content-area").addClass("span11").removeClass("span9");
          $("#side-menu").hide();
          $("#toggle-menu-off").show();
          $("#toggle-menu-on").hide();
        });
        
        $("#toggle-menu-off").click(function(e){
          $("#content-area").addClass("span9").removeClass("span11");
          $("#side-menu").show();
          $("#toggle-menu-on").show();
          $("#toggle-menu-off").hide();
        });
      });
    </script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>


    <style>
      .side-border-td{border-right: 1px solid silver;}
      .accordion{background-color: #fff;}
      .modal-header h2 img{
        width:38px;
        height:38px;
        vertical-align: top;
      }
    </style>



    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <ul class="nav">
          <a class="brand " href="#" >&nbsp;&nbsp;</a>
          <a class="brand " href="#" id="toggle-menu-on"><i class="icon-home"></i></a>
          <a class="brand hide" href="#" id="toggle-menu-off"><i class="icon-adjust"></i></a>
        </ul>

        <ul class="nav">
          <li><a href="#">Home</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Create 
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/articles/new?kind=article"><i class="icon-book"></i> New Article </a></li>
              <li><a href="/events/new" ><i class="icon-calendar"></i> New Event </a></li>
              <li><a href="/products/new"><i class="icon-shopping-cart"></i> New Product </a></li>
              <li><a href="/competitors/new"><i class="icon-user"></i> New Competitor </a></li>
              <li class="divider"></li>
              <li><a href="/autoresponders/new"><i class="icon-retweet"></i> Auto Responder </a></li>
              <li><a href="/bulk_mails/new?kind=newsletter"><i class="icon-envelope"></i> News letter </a></li>
              <li><a href="/bulk_mails/new?kind=promotion"><i class="icon-envelope"></i> Promotion </a></li>
              <li class="divider"></li>
              <li class="dropdown-submenu">
                <a><i class="icon-comment"></i> Autoresponders</a>
                <ul class="dropdown-menu">
                  <li><a data-toggle="modal" class="cmd-new-email" href="#mailModal" data-body="Hello Musicians!

                         I would like to tell you about our new offer specialy made for Musicians.

                         "> New Musicians</a></li>
                  <li><a data-toggle="modal" class="cmd-new-email" href="#mailModal" data-body=""> New Small Businesses</a></li>

                </ul>              
              </li>
            </ul>              
          </li>



        </ul>
        <div class="pull-right" style="margin-top:5px;margin-bottom: 5px;margin-right:20px;">
          <form class="navbar-form " action = "find_people" method="get">
            <input type="text" name ="find_query" class="input-medium search-query">
            <button type="submit" class="btn"><i class="icon-group"></i></button>
          </form>
        </div>

        <ul class="nav pull-right">
          <li><a href="#"><i class="icon-envelope"></i> 3</a></li>
          <li><a href="#"><i class="icon-eye-open"></i> <%= @page_views %> </a></li>
        </ul>
      </div>



    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div id="side-menu" class="span3">
          <%= yield :sidebar %>
        </div><!--/span-->



        <div id="content-area" class="span9">
          <% flash.each do |name, msg| %>
            <%= content_tag :div,  msg, :id => "flash_#{name}", :class => "alert alert-success" %>
          <% end %>

          <%= yield %>


        </div><!--/.fluid-container-->
        <div class="span12">
          <footer>
            <hr/>
            <p>&copy; Company 2013</p>
          </footer>
        </div>

        </body>
        </html>
