<!DOCTYPE html>
<html>
  <head>
    <title>SocialMachine</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" >
<%#= include_gon %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
     <![endif]-->

    <%= include_gon %>

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.0.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>


    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag  "application", :media => "all" %>


    <%= csrf_meta_tags %>
    <%= yield :head  %>
<%#= render :partial => 'shared/rtl_support' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <% @brand = current_user.brand  unless current_user.nil?%>

    <%= render :partial => "shared/top_bar" if @brand %>


    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span1">
          <%= render :partial => "shared/sidebar"  %>
        </div>
        
        <div class="span11 main-body">

          <% flash.each do |name, msg| %>
            <%= content_tag :div,  msg, :id => "flash_#{name}", :class => "alert alert-success" %>
          <% end %>

          <%= yield %>

          <%= render :partial => 'shared/dialogs' if @brand  %>
        </div>
      </div>

      <div class="row-fluid footer">
        <div class="span12">
          <br/>
          <hr/>
          <p style="color:#aaa;font-size: 10px;text-align:center" >The Build Machine (C) 2011 | www.thebuildmachine.com  </p>
        </div>
      </div>
  </body>
</html>
