<!DOCTYPE html>
<html>
  <head>
    <title>SocialMachine</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->


    
    <link rel="stylesheet" type="text/css" href="/assets/ivory.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/site.css"/>
    <!-- For Date picker only --> 
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" xwidth="100%" height="300px"></script>
    <script>
      $(document).ready(function() {
        $("#datepicker").datepicker();
      });
    </script>



    <meta name="robots" content="index, follow" />
    <meta name="generator" content="Rails 3.1" />


    <%= csrf_meta_tags %>
    <%= yield :head  %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= yield %>
  </div>
</body>
</html>
