<!DOCTYPE html>
<html>
  <head>
    <title>SocialMachine</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->



    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="<%= current_user.website.keywords %>" />
    <meta name="description" content="<%= current_user.website.meta_description %>" />
    <meta name="generator" content="Rails 3.1" />

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>


    <%= csrf_meta_tags %>
    <%= yield :head  %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= render :partial => "shared/preview_top_bar" %>
    <%= yield %>
  </div>
</body>
</html>
