<!DOCTYPE html>
<html lang="en" manifest="cache.manifest">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">



    <link rel="stylesheet" href="/assets/mobile/chui.css">
    <script src="/assets/mobile/zepto.js"></script>
    <script src="/assets/mobile/chui.js"></script>
    <script src="/assets/mobile/iscroll.js"></script>

    <%= csrf_meta_tags %>
    <%= yield :head  %>


    <link rel="apple-touch-startup-image" href="startup.png">
    <link rel="apple-touch-icon" href="app-icon.png"/>
    <link rel="shortcut icon" href="favicon.ico">
    <title>SocialMachine</title>

    <style type="text/css">
      /* Local Styles Here */

      tablecell > celltitle {
        font-size: 15px;
        margin-top: 2px;
      }

      tablecell[ui-usage="image"] > img + celltitle {
        position: relative;
        font-size:14px;
        top: 2px;
        width: 70%;
      }

      #main {
        background-color: #fef;
      }
      #main navbar {
        background-color: #990000;
        background-image: none;
        color:#fff;
      }
      
      subview.selected {
        z-index: 100000;
        -webkit-transform: translate3d(0,0,0);
      }
      subview.unselected {
        -webkit-transform: translate3d(100%,0,0);
      }


      tabbar {
        background-image:none;
        background-color: #990000;
        color:#fff;
        height:60px;
      }


    </style>
    <script type="text/javascript">
      /* Local JavaScript Here */
     
     
      $(function() {
        var seg = {
          id : "segmented_001",
          numberOfSegments : 4,
          titlesOfSegments : ["Comments", "Posts", "Website", "Competitors"],
          selectedSegment : 2,
          cssClass : ["ui-custom-tint", "ui-custom-tint", "ui-custom-tint", "ui-custom-tint"],
          imagePath : "icons/",
          container : "#stackpanel_01"
        };
        $("scrollpanel > stack:first-of-type").UICreateSegmentedControl(seg);
        var seggie = function(item) {
          console.log("The child position is: " + item.attr("ui-child-position"));
        }
        $("segmentedcontrol").UISegmentedControl("#stackpanel_01", seggie);
        $("#stackpanel_01").UIIdentifyChildNodes();
        var opts = {
          numberOfTabs : 5,
          imagePath : "/assets/mobile/icons/",
          iconsOfTabs : ["home", "chat", "compose", "group", "more"],
          tabLabels : ["News", "Comments", "Posts", "Fans", "more"],
          selectedTab : 0
        };
        $("#main").UICreateTabBar(opts);
			
      });
		
     
    </script>
  </head>
  <body>
  <app>
    <view id="main" ui-background-style="striped" ui-navigation-status="current">

      <% unless flash.empty? %>
        <div class="info">
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
        </div>
      <% end %>


      <%= yield %>
    </view>
  </app>
</body>
</html>

