<!DOCTYPE html>
<html>
  <head>
    <title><%=@website.brand.name%></title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->


    <%= stylesheet_link_tag    "website", :media => "all" %>
    <%#= javascript_include_tag "application" %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script><!--jquery-->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js"></script>
    <%#= javascript_include_tag "jquery.dataTables" %>      


    <%= csrf_meta_tags %>


    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="<%= @website.keywords %>" />
    <meta name="description" content="<%= @website.meta_description %>" />
    <meta name="generator" content="Rails 3.1" />

    <%= yield :head  %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <% if @page and @page.website.rtl %>
      <%#= render :partial => "shared/public_top_bar_rtl" %>
    <% else %>
      <%#= render :partial => "shared/public_top_bar" %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
