<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>SocialMachine</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" >
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script><!--jquery-->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.2/bootstrap.min.js"></script>
    <%= javascript_include_tag "jquery.dataTables" %>      
    <%= yield :head  %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31560530-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    
    
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Telex' rel='stylesheet' type='text/css'>
    <style>

      .dropshadowclass {
        border: solid 1px #ddd;
        -moz-box-shadow: 5px 5px 0px #999;
        -webkit-box-shadow: 5px 5px 0px #999;
        box-shadow: 5px 5px 0px #ddd;
      }
      
      
      body{
        background-color: #fbfbfb;
        font-family: 'Helvetica Neue', "Verdana",sans-serif;
      }
      
      footer{
        background-color: #000;
        color:#fff;
        text-align: center;
        }
      
      
      footer h5{margin-left:10px;text-align: left;}  
      footer li{
        margin-left:-20px;
        list-style: none;
        text-align: left;
      }
    </style>
  </head>




  <body>
    <%= render :partial => "public/top_bar" %>



    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div,  msg, :id => "flash_#{name}", :class => "alert alert-success" %>
      <% end %>

      <%= yield %>
    </div>
  </div>


</body>
</html>
