<!DOCTYPE html>
<html>
  <head>
    <title>SocialMachine</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" >
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script><!--jquery-->

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= yield :head  %>

    
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="<%= @website.keywords %>" />
    <meta name="description" content="<%= @website.meta_description %>" />
    <meta name="generator" content="Social Machine Website" />

    
  </head>




  <body>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div,  msg, :id => "flash_#{name}", :class => "alert alert-success" %>
      <% end %>

      <%= yield %>
    </div>


  </body>


</html>
