<!DOCTYPE html>
<html>
  <head>
    <title>SocialMachine</title>
    <%= include_gon %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag  "application", :media => "all" %>

    
    <%= javascript_include_tag "jquery.dataTables" %> 
    <%= javascript_include_tag "application" %>


    <%= csrf_meta_tags %>
    <%= yield :head  %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= render :partial => "shared/top_bar" %>


    <div class="container">
      <div class="row">
        <div class="span8">

          <% flash.each do |name, msg| %>
            <%= content_tag :div,  msg, :id => "flash_#{name}", :class => "alert alert-success" %>
          <% end %>


          <%= yield %>
        </div>
        <div class="span4"><%= yield :sidebar  %></div>
      </div>
    </div>
  </body>
</html>
